Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @pleek91, @PrefectHQ/docs

Touchup versioned docs
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Add to intro moooore
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Remove for remote execution
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Update announce bar
  docs/overrides/main.html
Owners: @PrefectHQ/docs

Add available worker types
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Add "that"
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Remove events quotes
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Add release notes for 2.10.0 (#9119)
  RELEASE-NOTES.md
  docs/overrides/main.html
Owners: @PrefectHQ/open-source, @PrefectHQ/docs

Add release notes for 2.10.0 (#9119)
  RELEASE-NOTES.md
  docs/overrides/main.html
Owners: @PrefectHQ/open-source, @PrefectHQ/docs

Add release notes for 2.10.0 (#9119)
  RELEASE-NOTES.md
  docs/overrides/main.html
Owners: @PrefectHQ/open-source, @PrefectHQ/docs

Include yamls within subdirs
  MANIFEST.in
Owners: @PrefectHQ/open-source

Include yaml files within subdirs (#9131)
  MANIFEST.in
Owners: @PrefectHQ/open-source

Include yaml files within subdirs (#9131)
  MANIFEST.in
Owners: @PrefectHQ/open-source

Include yaml files within subdirs (#9131)
  MANIFEST.in
Owners: @PrefectHQ/open-source

Fix CLI path for recipes
  src/prefect/cli/project.py
Owners: @PrefectHQ/open-source

Fix CLI path for recipes (#9132)
  src/prefect/cli/project.py
Owners: @PrefectHQ/open-source

Fix CLI path for recipes (#9132)
  src/prefect/cli/project.py
Owners: @PrefectHQ/open-source

Fix CLI path for recipes (#9132)
  src/prefect/cli/project.py
Owners: @PrefectHQ/open-source

Add 2.10.1 Release Notes
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Add 2.10.1 Release Notes (#9133)
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Add 2.10.1 Release Notes (#9133)
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Add 2.10.1 Release Notes (#9133)
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Fix typo in release notes
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Fix typo in release notes (#9134)
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Fix typo in release notes (#9134)
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Fix typo in release notes (#9134)
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Adding httpx.ConnectTimeout to the list of retry exceptions in base client (#9125)
  src/prefect/client/base.py
  tests/client/test_base_client.py
Owners: @PrefectHQ/open-source

Adding httpx.ConnectTimeout to the list of retry exceptions in base client (#9125)
  src/prefect/client/base.py
  tests/client/test_base_client.py
Owners: @PrefectHQ/open-source

Adding httpx.ConnectTimeout to the list of retry exceptions in base client (#9125)
  src/prefect/client/base.py
  tests/client/test_base_client.py
Owners: @PrefectHQ/open-source

Rename `__root_path__` to `__development_base_path__`
  scripts/run-integration-flows.py
  src/prefect/__init__.py
  src/prefect/cli/dev.py
  src/prefect/cli/project.py
  tests/cli/test_project.py
  tests/projects/test_base.py
  tests/test_filesystems.py
  tests/utilities/test_importtools.py
Owners: @PrefectHQ/open-source

Add backwards compatibility import to integration flows
  scripts/run-integration-flows.py
Owners: @PrefectHQ/open-source

Refactor `related_resources_from_run_context to make it easier to add new kinds
  src/prefect/events/related.py
  tests/events/test_events_related_from_context.py
Owners: @PrefectHQ/open-source

Reverts change to load_flow_from_flow_run
  src/prefect/deployments.py
Owners: @PrefectHQ/open-source

Create `temporary_context` utility
  src/prefect/_internal/concurrency/services.py
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

Add 2.8, 2.9, 2.10 to integration tests
  .github/workflows/integration-tests.yaml
Owners: @PrefectHQ/open-source

Move context handling into events worker
  src/prefect/_internal/concurrency/services.py
  src/prefect/events/worker.py
  src/prefect/utilities/context.py
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

Fix for deployment flow code download (#9138)
  src/prefect/deployments.py
Owners: @PrefectHQ/open-source

Fix for deployment flow code download (#9138)
  src/prefect/deployments.py
Owners: @PrefectHQ/open-source

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# ui
/ui                            @pleek91

# documentation
/docs                                @PrefectHQ/docs
mkdocs.yml                           @PrefectHQ/docs
mkdocs.insiders.yml                  @PrefectHQ/docs

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source 

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source
