Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @pleek91, @PrefectHQ/docs

Handle nonexistent work pools in deploy command
  src/prefect/cli/root.py
Owners: @PrefectHQ/open-source

remove subscriptable access
  src/prefect/__init__.py
  src/prefect/variables.py
  tests/test_variables.py
Owners: @PrefectHQ/open-source

Add `access_token` to `git_clone_project` step for private repository support (#9083)
  src/prefect/projects/recipes/docker-git/prefect.yaml
  src/prefect/projects/recipes/git/prefect.yaml
  src/prefect/projects/steps/pull.py
Owners: @PrefectHQ/open-source

Add `access_token` to `git_clone_project` step for private repository support (#9083)
  src/prefect/projects/recipes/docker-git/prefect.yaml
  src/prefect/projects/recipes/git/prefect.yaml
  src/prefect/projects/steps/pull.py
Owners: @PrefectHQ/open-source

Add `access_token` to `git_clone_project` step for private repository support (#9083)
  src/prefect/projects/recipes/docker-git/prefect.yaml
  src/prefect/projects/recipes/git/prefect.yaml
  src/prefect/projects/steps/pull.py
Owners: @PrefectHQ/open-source

Feature: Variables UI (#9110)
  ui/src/components/ContextSidebar.vue
  ui/src/pages/Variables.vue
  ui/src/router/index.ts
Owners: @pleek91

local and remote filesystems return path on write (#8965)
  src/prefect/filesystems.py
  tests/test_filesystems.py
Owners: @PrefectHQ/open-source

local and remote filesystems return path on write (#8965)
  src/prefect/filesystems.py
  tests/test_filesystems.py
Owners: @PrefectHQ/open-source

local and remote filesystems return path on write (#8965)
  src/prefect/filesystems.py
  tests/test_filesystems.py
Owners: @PrefectHQ/open-source

`Variables` module (#9104)
  src/prefect/__init__.py
  src/prefect/variables.py
  tests/test_variables.py
Owners: @PrefectHQ/open-source

Resolves issue with initializing a docker recipe within a git repo
  src/prefect/projects/base.py
Owners: @PrefectHQ/open-source

Fail on prefect-agent typed work pools (#9105)
  src/prefect/cli/root.py
Owners: @PrefectHQ/open-source

Fail on prefect-agent typed work pools (#9105)
  src/prefect/cli/root.py
Owners: @PrefectHQ/open-source

Fail on prefect-agent typed work pools (#9105)
  src/prefect/cli/root.py
Owners: @PrefectHQ/open-source

`Variables` (#9088)
  src/prefect/__init__.py
  src/prefect/cli/__init__.py
  src/prefect/cli/variable.py
  src/prefect/client/orchestration.py
  src/prefect/server/api/__init__.py
  src/prefect/server/api/server.py
  src/prefect/server/api/variables.py
  src/prefect/server/database/interface.py
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_04_05_130406_43c94d4c7aa3_add_pull_steps_column_to_deployment.py
  src/prefect/server/database/migrations/versions/postgresql/2023_04_05_134520_310dda75f561_add_variables.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_05_120713_340f457b315f_add_column_to_deployments_for_pull_steps.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_05_134301_3d46e23593d6_add_variables.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/__init__.py
  src/prefect/server/models/variables.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/sorting.py
  src/prefect/variables.py
  tests/cli/test_variable.py
  tests/client/test_orion_client.py
  tests/server/api/test_variables.py
  tests/server/models/test_variables.py
  tests/test_variables.py
  ui/src/components/ContextSidebar.vue
  ui/src/pages/Variables.vue
  ui/src/router/index.ts
Owners: @PrefectHQ/open-source, @zangell44, @pleek91

`Variables` (#9088)
  src/prefect/__init__.py
  src/prefect/cli/__init__.py
  src/prefect/cli/variable.py
  src/prefect/client/orchestration.py
  src/prefect/server/api/__init__.py
  src/prefect/server/api/server.py
  src/prefect/server/api/variables.py
  src/prefect/server/database/interface.py
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_04_05_130406_43c94d4c7aa3_add_pull_steps_column_to_deployment.py
  src/prefect/server/database/migrations/versions/postgresql/2023_04_05_134520_310dda75f561_add_variables.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_05_120713_340f457b315f_add_column_to_deployments_for_pull_steps.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_05_134301_3d46e23593d6_add_variables.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/__init__.py
  src/prefect/server/models/variables.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/sorting.py
  src/prefect/variables.py
  tests/cli/test_variable.py
  tests/client/test_orion_client.py
  tests/server/api/test_variables.py
  tests/server/models/test_variables.py
  tests/test_variables.py
  ui/src/components/ContextSidebar.vue
  ui/src/pages/Variables.vue
  ui/src/router/index.ts
Owners: @PrefectHQ/open-source, @zangell44, @pleek91

`Variables` (#9088)
  src/prefect/__init__.py
  src/prefect/cli/__init__.py
  src/prefect/cli/variable.py
  src/prefect/client/orchestration.py
  src/prefect/server/api/__init__.py
  src/prefect/server/api/server.py
  src/prefect/server/api/variables.py
  src/prefect/server/database/interface.py
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_04_05_130406_43c94d4c7aa3_add_pull_steps_column_to_deployment.py
  src/prefect/server/database/migrations/versions/postgresql/2023_04_05_134520_310dda75f561_add_variables.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_05_120713_340f457b315f_add_column_to_deployments_for_pull_steps.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_05_134301_3d46e23593d6_add_variables.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/__init__.py
  src/prefect/server/models/variables.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/sorting.py
  src/prefect/variables.py
  tests/cli/test_variable.py
  tests/client/test_orion_client.py
  tests/server/api/test_variables.py
  tests/server/models/test_variables.py
  tests/test_variables.py
  ui/src/components/ContextSidebar.vue
  ui/src/pages/Variables.vue
  ui/src/router/index.ts
Owners: @PrefectHQ/open-source, @zangell44, @pleek91

Add modifier to be consistent
  src/prefect/projects/recipes/docker/prefect.yaml
Owners: @PrefectHQ/open-source

Resolves issue with initializing a docker recipe within a git repo (#9112)
  src/prefect/projects/base.py
  src/prefect/projects/recipes/docker/prefect.yaml
Owners: @PrefectHQ/open-source

Resolves issue with initializing a docker recipe within a git repo (#9112)
  src/prefect/projects/base.py
  src/prefect/projects/recipes/docker/prefect.yaml
Owners: @PrefectHQ/open-source

Resolves issue with initializing a docker recipe within a git repo (#9112)
  src/prefect/projects/base.py
  src/prefect/projects/recipes/docker/prefect.yaml
Owners: @PrefectHQ/open-source

Apply suggestions from code review
  docs/concepts/work-pools.md
Owners: @PrefectHQ/docs

Clarify the name of work pool in example
  docs/concepts/work-pools.md
Owners: @PrefectHQ/docs

smol fix
  docs/guides/index.md
Owners: @PrefectHQ/docs

smol doc fix (#9113)
  docs/guides/index.md
Owners: @PrefectHQ/docs

smol doc fix (#9113)
  docs/guides/index.md
Owners: @PrefectHQ/docs

smol doc fix (#9113)
  docs/guides/index.md
Owners: @PrefectHQ/docs

Adds bitbucket to supported Prefect flow code storage types (#9080)
  docs/concepts/storage.md
Owners: @PrefectHQ/docs

Adds bitbucket to supported Prefect flow code storage types (#9080)
  docs/concepts/storage.md
Owners: @PrefectHQ/docs

Adds bitbucket to supported Prefect flow code storage types (#9080)
  docs/concepts/storage.md
Owners: @PrefectHQ/docs

Add workers to work pool concept docs (#9058)
  docs/concepts/work-pools.md
  docs/img/ui/process-work-pool-config.png
  mkdocs.yml
  src/prefect/cli/worker.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Add workers to work pool concept docs (#9058)
  docs/concepts/work-pools.md
  docs/img/ui/process-work-pool-config.png
  mkdocs.yml
  src/prefect/cli/worker.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Add workers to work pool concept docs (#9058)
  docs/concepts/work-pools.md
  docs/img/ui/process-work-pool-config.png
  mkdocs.yml
  src/prefect/cli/worker.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Fix dead link
  docs/concepts/runtime-context.md
Owners: @PrefectHQ/docs

Fix dead link to runtime API docs (#9116)
  docs/concepts/runtime-context.md
Owners: @PrefectHQ/docs

Fix dead link to runtime API docs (#9116)
  docs/concepts/runtime-context.md
Owners: @PrefectHQ/docs

Fix dead link to runtime API docs (#9116)
  docs/concepts/runtime-context.md
Owners: @PrefectHQ/docs

Updates prefect-docker version for new release
  docs/concepts/projects.md
Owners: @PrefectHQ/docs

Updates `prefect-docker` version referenced in docs for new release (#9117)
  docs/concepts/projects.md
Owners: @PrefectHQ/docs

Updates `prefect-docker` version referenced in docs for new release (#9117)
  docs/concepts/projects.md
Owners: @PrefectHQ/docs

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# ui
/ui                            @pleek91

# documentation
/docs                                @PrefectHQ/docs
mkdocs.yml                           @PrefectHQ/docs
mkdocs.insiders.yml                  @PrefectHQ/docs

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source 

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source
