Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @pleek91, @PrefectHQ/docs

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# ui
/ui                            @pleek91

# documentation
/docs                                @PrefectHQ/docs
mkdocs.yml                           @PrefectHQ/docs
mkdocs.insiders.yml                  @PrefectHQ/docs

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source 

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source

Remove join between Artifact and ArtifactCollection table (#9064)
  src/prefect/cli/artifact.py
  src/prefect/client/orchestration.py
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/sorting.py
  tests/client/test_orion_client.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

Remove join between Artifact and ArtifactCollection table (#9064)
  src/prefect/cli/artifact.py
  src/prefect/client/orchestration.py
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/sorting.py
  tests/client/test_orion_client.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

Merge with main and resolve migration history
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_03_27_132406_43c94d4c7aa3_add_pull_steps_column_to_deployment.py
  src/prefect/server/database/migrations/versions/sqlite/2023_03_14_180713_340f457b315f_add_column_to_deployments_for_pull_steps.py
Owners: @PrefectHQ/open-source

Update Dockerfile
  Dockerfile
Owners: @PrefectHQ/open-source

Adds warning that routes may not be idempotent
  src/prefect/settings.py
Owners: @PrefectHQ/open-source

Add bitbucket to supported Prefect flow code storage types
  docs/concepts/storage.md
Owners: @PrefectHQ/docs

Add `Variables` api routes (#9068)
  src/prefect/server/api/__init__.py
  src/prefect/server/api/server.py
  src/prefect/server/api/variables.py
  src/prefect/server/models/__init__.py
  src/prefect/server/models/variables.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/sorting.py
  tests/server/api/test_variables.py
  tests/server/models/test_variables.py
Owners: @PrefectHQ/open-source, @zangell44

Enables use of block document placeholders in steps
  src/prefect/cli/project.py
  src/prefect/cli/root.py
  src/prefect/deployments.py
  src/prefect/projects/steps/core.py
  src/prefect/utilities/templating.py
  tests/projects/test_steps.py
  tests/utilities/test_templating.py
Owners: @PrefectHQ/open-source

Adds gcs and docker-gcs recipes
  src/prefect/projects/recipes/docker-gcs/prefect.yaml
  src/prefect/projects/recipes/gcs/prefect.yaml
Owners: @PrefectHQ/open-source

Move more event test assertions by moving to proper place (#9074)
  tests/events/test_events_instrument.py
Owners: @PrefectHQ/open-source

Move more event test assertions by moving to proper place (#9074)
  tests/events/test_events_instrument.py
Owners: @PrefectHQ/open-source

Move more event test assertions by moving to proper place (#9074)
  tests/events/test_events_instrument.py
Owners: @PrefectHQ/open-source

remove circular and non-existent redirect destinations
  netlify.toml
Owners: @PrefectHQ/open-source

Fix race condition where futures did not wait for submission to complete (#9070)
  src/prefect/futures.py
Owners: @PrefectHQ/open-source

Fix race condition where futures did not wait for submission to complete (#9070)
  src/prefect/futures.py
Owners: @PrefectHQ/open-source

Fix race condition where futures did not wait for submission to complete (#9070)
  src/prefect/futures.py
Owners: @PrefectHQ/open-source

Adds missing await
  tests/projects/test_steps.py
Owners: @PrefectHQ/open-source

Apply suggestions from code review
  docs/concepts/work-pools.md
Owners: @PrefectHQ/docs

Add tests; fix expiration logic
  src/prefect/engine.py
  src/prefect/testing/fixtures.py
  tests/test_engine.py
Owners: @PrefectHQ/open-source

Fixup bad replacement
  src/prefect/task_runners.py
Owners: @PrefectHQ/open-source

add variable cli methods
  src/prefect/cli/__init__.py
  src/prefect/cli/variable.py
  src/prefect/client/orchestration.py
  tests/cli/test_variable.py
  tests/client/test_orion_client.py
Owners: @PrefectHQ/open-source

Prefect client retry extra error codes (#9056)
  src/prefect/client/base.py
  src/prefect/settings.py
  tests/client/test_base_client.py
  tests/test_settings.py
Owners: @PrefectHQ/open-source

Prefect client retry extra error codes (#9056)
  src/prefect/client/base.py
  src/prefect/settings.py
  tests/client/test_base_client.py
  tests/test_settings.py
Owners: @PrefectHQ/open-source

Prefect client retry extra error codes (#9056)
  src/prefect/client/base.py
  src/prefect/settings.py
  tests/client/test_base_client.py
  tests/test_settings.py
Owners: @PrefectHQ/open-source

Update log worker to run on the global event loop (#9048)
  src/prefect/_internal/concurrency/services.py
  src/prefect/engine.py
  src/prefect/logging/handlers.py
  tests/test_logging.py
Owners: @PrefectHQ/open-source

Update log worker to run on the global event loop (#9048)
  src/prefect/_internal/concurrency/services.py
  src/prefect/engine.py
  src/prefect/logging/handlers.py
  tests/test_logging.py
Owners: @PrefectHQ/open-source

Update log worker to run on the global event loop (#9048)
  src/prefect/_internal/concurrency/services.py
  src/prefect/engine.py
  src/prefect/logging/handlers.py
  tests/test_logging.py
Owners: @PrefectHQ/open-source

Adds more detail about how the base job template works
  docs/concepts/work-pools.md
Owners: @PrefectHQ/docs

Enables use of block document placeholders in steps (#9081)
  src/prefect/cli/project.py
  src/prefect/cli/root.py
  src/prefect/deployments.py
  src/prefect/projects/steps/core.py
  src/prefect/utilities/templating.py
  tests/projects/test_steps.py
  tests/utilities/test_templating.py
Owners: @PrefectHQ/open-source

Adds` gcs` and `docker-gcs` recipes (#9082)
  src/prefect/projects/recipes/docker-gcs/prefect.yaml
  src/prefect/projects/recipes/gcs/prefect.yaml
Owners: @PrefectHQ/open-source

Update docs/tutorials/projects.md
  docs/tutorials/projects.md
Owners: @PrefectHQ/docs

Update docs/tutorials/projects.md
  docs/tutorials/projects.md
Owners: @PrefectHQ/docs

fix type
  tests/server/api/test_variables.py
Owners: @PrefectHQ/open-source

Update docs/tutorials/projects.md
  docs/tutorials/projects.md
Owners: @PrefectHQ/docs

Apply suggestions from code review
  docs/tutorials/projects.md
Owners: @PrefectHQ/docs

fix migration order
  src/prefect/server/database/migrations/versions/postgresql/2023_04_05_134520_310dda75f561_add_variables.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_05_134301_3d46e23593d6_add_variables.py
Owners: @PrefectHQ/open-source

Update agent cancellation check query to every 20s instead of 10s
  src/prefect/cli/agent.py
Owners: @PrefectHQ/open-source

Update default agent query interval from 10s to 15s
  src/prefect/settings.py
Owners: @PrefectHQ/open-source

add missing test
  tests/client/test_orion_client.py
Owners: @PrefectHQ/open-source

add variables table (#9057)
  src/prefect/server/api/__init__.py
  src/prefect/server/api/server.py
  src/prefect/server/api/variables.py
  src/prefect/server/database/interface.py
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_04_05_134520_310dda75f561_add_variables.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_05_134301_3d46e23593d6_add_variables.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/__init__.py
  src/prefect/server/models/variables.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/sorting.py
  tests/server/api/test_variables.py
  tests/server/models/test_variables.py
Owners: @PrefectHQ/open-source, @zangell44
