Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

Fix SQLite down revision
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_14_113138_56be24fdb383_removing_default_storage_block_document.py
Owners: @anticorrelator

Fix PostgresSQL index migration
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_21_133134_e085c9cbf8ce_remove_flow_runners.py
Owners: @anticorrelator

Fix PostgresSQL index migration
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_21_133134_e085c9cbf8ce_remove_flow_runners.py
Owners: @anticorrelator

Minimum compatible version is increasing after storage block removal
  src/prefect/flow_runners/__init__.py
Owners: @madkinsz

Minimum compatible version is increasing after storage block removal
  src/prefect/flow_runners/__init__.py
Owners: @madkinsz

Minimum compatible version is increasing after storage block removal
  src/prefect/flow_runners/__init__.py
Owners: @madkinsz

Fix JSONPatch schema type
  src/prefect/utilities/pydantic.py
Owners: @madkinsz

Fix JSONPatch schema type
  src/prefect/utilities/pydantic.py
Owners: @madkinsz

Fix JSONPatch schema type
  src/prefect/utilities/pydantic.py
Owners: @madkinsz

Add block type names to infrastructure blocks
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
Owners: @madkinsz

Add block type names to infrastructure blocks
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
Owners: @madkinsz

Add block type names to infrastructure blocks
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
Owners: @madkinsz

Fix syntax error
  src/prefect/utilities/pydantic.py
Owners: @madkinsz

Fix syntax error
  src/prefect/utilities/pydantic.py
Owners: @madkinsz

Fix syntax error
  src/prefect/utilities/pydantic.py
Owners: @madkinsz

Add detail to capability
  src/prefect/infrastructure/base.py
Owners: @madkinsz

Add detail to capability
  src/prefect/infrastructure/base.py
Owners: @madkinsz

Add detail to capability
  src/prefect/infrastructure/base.py
Owners: @madkinsz

Fix input arg
  tests/packaging/test_docker_packager.py
Owners: @madkinsz

Fix input arg
  tests/packaging/test_docker_packager.py
Owners: @madkinsz

Bump to beta 11
  src/prefect/infrastructure/submission.py
Owners: @madkinsz

Bump to beta 11
  src/prefect/infrastructure/submission.py
Owners: @madkinsz

Links to v1 docs
  docs/index.md
  docs/overrides/main.html
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Links to v1 docs
  docs/index.md
  docs/overrides/main.html
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Move migration guide
  docs/migration_guide.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Move migration guide
  docs/migration_guide.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Update orion-design
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Update orion-design
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Update orion-design
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Installation and migration notes
  docs/getting-started/installation.md
  docs/migration-guide.md
Owners: @tpdorsey

Installation and migration notes
  docs/getting-started/installation.md
  docs/migration-guide.md
Owners: @tpdorsey

Modify checker to enforce a minimum version
  src/prefect/orion/api/dependencies.py
  src/prefect/orion/api/server.py
Owners: @zangell44, @madkinsz

Modify checker to enforce a minimum version
  src/prefect/orion/api/dependencies.py
  src/prefect/orion/api/server.py
Owners: @zangell44, @madkinsz

remove final state determination in docs
  docs/concepts/flows.md
Owners: @tpdorsey

remove final state determination in docs
  docs/concepts/flows.md
Owners: @tpdorsey

remove final state determination in docs
  docs/concepts/flows.md
Owners: @tpdorsey

Add `.submit` to snippet in parallel execution section
  docs/tutorials/execution.md
Owners: @tpdorsey

Make `parse_fact` return the fact rather than `None`
  docs/tutorials/first-steps.md
Owners: @tpdorsey

Change `RayTaskRunner` imports to use `from prefect_ray`
  docs/tutorials/dask-ray-task-runners.md
Owners: @tpdorsey

Add `.submit` to snippet in parallel execution section
  docs/tutorials/execution.md
Owners: @tpdorsey

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator
