Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Update execution.md
  docs/tutorials/execution.md
Owners: @tpdorsey

We can get both 404 and 409 from Docker
  tests/fixtures/docker.py
Owners: @madkinsz

We can get both 404 and 409 from Docker
  tests/fixtures/docker.py
Owners: @madkinsz

Update docs/tutorials/execution.md
  docs/tutorials/execution.md
Owners: @tpdorsey

Update docs/tutorials/execution.md
  docs/tutorials/execution.md
Owners: @tpdorsey

Update docs/tutorials/execution.md
  docs/tutorials/execution.md
Owners: @tpdorsey

Update docs/tutorials/execution.md
  docs/tutorials/execution.md
Owners: @tpdorsey

Remove async example
  docs/tutorials/first-steps.md
Owners: @tpdorsey

Remove async example
  docs/tutorials/first-steps.md
Owners: @tpdorsey

Oops, we were still using NotFound
  tests/fixtures/docker.py
Owners: @madkinsz

Oops, we were still using NotFound
  tests/fixtures/docker.py
Owners: @madkinsz

Update docs on blocks
  docs/concepts/blocks.md
Owners: @tpdorsey

Update docs on blocks
  docs/concepts/blocks.md
Owners: @tpdorsey

Add a scheduler for recently updated deployments (PrefectHQ/orion#2533)
  src/prefect/orion/api/server.py
  src/prefect/orion/services/loop_service.py
  src/prefect/orion/services/scheduler.py
  src/prefect/settings.py
  tests/orion/services/test_scheduler.py
Owners: @zangell44, @madkinsz

Add a scheduler for recently updated deployments (PrefectHQ/orion#2533)
  src/prefect/orion/api/server.py
  src/prefect/orion/services/loop_service.py
  src/prefect/orion/services/scheduler.py
  src/prefect/settings.py
  tests/orion/services/test_scheduler.py
Owners: @zangell44, @madkinsz

Move delete of auto-scheduled runs to `models/` (PrefectHQ/orion#2536)
  src/prefect/orion/api/deployments.py
  src/prefect/orion/models/deployments.py
Owners: @zangell44, @madkinsz

Move delete of auto-scheduled runs to `models/` (PrefectHQ/orion#2536)
  src/prefect/orion/api/deployments.py
  src/prefect/orion/models/deployments.py
Owners: @zangell44, @madkinsz

Update docs/index.md
  docs/index.md
Owners: @tpdorsey

Update docs/index.md
  docs/index.md
Owners: @tpdorsey

Brief rewrite of storage concept
  docs/concepts/storage.md
Owners: @tpdorsey

Brief rewrite of storage concept
  docs/concepts/storage.md
Owners: @tpdorsey

Update docs/concepts/storage.md
  docs/concepts/storage.md
Owners: @tpdorsey

Update docs/concepts/storage.md
  docs/concepts/storage.md
Owners: @tpdorsey

Update docs/concepts/storage.md
  docs/concepts/storage.md
Owners: @tpdorsey

Update docs/concepts/storage.md
  docs/concepts/storage.md
Owners: @tpdorsey

Update docs/concepts/storage.md
  docs/concepts/storage.md
Owners: @tpdorsey

Update docs/concepts/storage.md
  docs/concepts/storage.md
Owners: @tpdorsey

Update docs/concepts/storage.md
  docs/concepts/storage.md
Owners: @tpdorsey

Update docs/concepts/storage.md
  docs/concepts/storage.md
Owners: @tpdorsey

Revisions based on feedback
  docs/faq.md
  docs/getting-started/installation.md
Owners: @tpdorsey

Revisions based on feedback
  docs/faq.md
  docs/getting-started/installation.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/getting-started/installation.md
  docs/index.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/getting-started/installation.md
  docs/index.md
Owners: @tpdorsey

Update docs/getting-started/installation.md
  docs/getting-started/installation.md
Owners: @tpdorsey

Update docs/getting-started/installation.md
  docs/getting-started/installation.md
Owners: @tpdorsey

Keep deprecated deployments from being scheduled
  src/prefect/cli/deployment.py
  src/prefect/orion/services/scheduler.py
Owners: @madkinsz, @zangell44

Keep deprecated deployments from being scheduled
  src/prefect/cli/deployment.py
  src/prefect/orion/services/scheduler.py
Owners: @madkinsz, @zangell44

Add link to discourse on new deployments
  src/prefect/cli/deployment.py
Owners: @madkinsz

Add link to discourse on new deployments
  src/prefect/cli/deployment.py
Owners: @madkinsz

Add recent changes
  RELEASE-NOTES.md
Owners: @madkinsz
