Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

WIP | Task tests all passing
  src/prefect/engine.py
  tests/test_flows.py
Owners: @madkinsz

Get bulk of flow tests passing
  src/prefect/context.py
  src/prefect/engine.py
  tests/test_flows.py
Owners: @madkinsz

Get bulk of flow tests passing
  src/prefect/context.py
  src/prefect/engine.py
  tests/test_flows.py
Owners: @madkinsz

Get bulk of flow tests passing
  src/prefect/context.py
  src/prefect/engine.py
  tests/test_flows.py
Owners: @madkinsz

Revisions to task and flow config
  docs/tutorials/first-steps.md
  docs/tutorials/flow-task-config.md
Owners: @tpdorsey

Revisions to task and flow config
  docs/tutorials/first-steps.md
  docs/tutorials/flow-task-config.md
Owners: @tpdorsey

Revisions to task and flow config
  docs/tutorials/first-steps.md
  docs/tutorials/flow-task-config.md
Owners: @tpdorsey

Fix tests
  tests/flow_runners/test_kubernetes.py
Owners: @madkinsz

Fix tests
  tests/flow_runners/test_kubernetes.py
Owners: @madkinsz

Fix tests
  tests/flow_runners/test_kubernetes.py
Owners: @madkinsz

Cleanup implementation; move result linking to states
  src/prefect/context.py
  src/prefect/engine.py
  src/prefect/orion/schemas/states.py
Owners: @madkinsz, @zangell44

Cleanup implementation; move result linking to states
  src/prefect/context.py
  src/prefect/engine.py
  src/prefect/orion/schemas/states.py
Owners: @madkinsz, @zangell44

Cleanup implementation; move result linking to states
  src/prefect/context.py
  src/prefect/engine.py
  src/prefect/orion/schemas/states.py
Owners: @madkinsz, @zangell44

Add task input coverage for futures and states
  tests/test_tasks.py
Owners: @madkinsz

Add task input coverage for futures and states
  tests/test_tasks.py
Owners: @madkinsz

Add task input coverage for futures and states
  tests/test_tasks.py
Owners: @madkinsz

Fixing mistake in adding a new parameter to the task (#5975)
  src/prefect/tasks/databricks/databricks_submitjob.py
Owners: @madkinsz

Fix pickle errors when using mismatched versions of Prefect and S3Result (#5978)
  src/prefect/engine/results/s3_result.py
Owners: @madkinsz

Cut changelog for 1.2.4
  CHANGELOG.md
  changes/issue5971.yaml
Owners: @madkinsz

Update latest docs link
  docs/.vuepress/config.js
Owners: @tpdorsey

Add contributor
  CHANGELOG.md
Owners: @madkinsz

Add test, but not sure if it's valid
  tests/flow_runners/test_kubernetes.py
Owners: @madkinsz

Add test, but not sure if it's valid
  tests/flow_runners/test_kubernetes.py
Owners: @madkinsz

Add test, but not sure if it's valid
  tests/flow_runners/test_kubernetes.py
Owners: @madkinsz

Replace outdated test because it now raise
  tests/flow_runners/test_kubernetes.py
Owners: @madkinsz

Replace outdated test because it now raise
  tests/flow_runners/test_kubernetes.py
Owners: @madkinsz

Replace outdated test because it now raise
  tests/flow_runners/test_kubernetes.py
Owners: @madkinsz

Add recursion detection to visit_collection
  src/prefect/engine.py
  src/prefect/utilities/collections.py
  tests/test_flows.py
  tests/utilities/test_collections.py
Owners: @madkinsz

Add recursion detection to visit_collection
  src/prefect/engine.py
  src/prefect/utilities/collections.py
  tests/test_flows.py
  tests/utilities/test_collections.py
Owners: @madkinsz

Add recursion detection to visit_collection
  src/prefect/engine.py
  src/prefect/utilities/collections.py
  tests/test_flows.py
  tests/utilities/test_collections.py
Owners: @madkinsz

Restore dropped test for visit collections node visits
  tests/utilities/test_collections.py
Owners: @madkinsz

Restore dropped test for visit collections node visits
  tests/utilities/test_collections.py
Owners: @madkinsz

Restore dropped test for visit collections node visits
  tests/utilities/test_collections.py
Owners: @madkinsz

Fix recursion handling in visit_collection
  src/prefect/utilities/collections.py
  tests/utilities/test_collections.py
Owners: @madkinsz

Fix recursion handling in visit_collection
  src/prefect/utilities/collections.py
  tests/utilities/test_collections.py
Owners: @madkinsz

Fix recursion handling in visit_collection
  src/prefect/utilities/collections.py
  tests/utilities/test_collections.py
Owners: @madkinsz

Do not modify users objects for dependency tracking; fix failing flow test
  src/prefect/engine.py
  src/prefect/orion/schemas/states.py
  tests/test_flows.py
Owners: @madkinsz, @zangell44

Do not modify users objects for dependency tracking; fix failing flow test
  src/prefect/engine.py
  src/prefect/orion/schemas/states.py
  tests/test_flows.py
Owners: @madkinsz, @zangell44

Do not modify users objects for dependency tracking; fix failing flow test
  src/prefect/engine.py
  src/prefect/orion/schemas/states.py
  tests/test_flows.py
Owners: @madkinsz, @zangell44

Forbid extra fields on `Deployment`s
  src/prefect/deployments.py
  tests/deployments/test_deployment.py
Owners: @madkinsz

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator
