Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @pleek91, @PrefectHQ/docs

Remove obsolete tutorial redirect (#9189)
  netlify.toml
Owners: @PrefectHQ/open-source

Remove obsolete tutorial redirect (#9189)
  netlify.toml
Owners: @PrefectHQ/open-source

Allow for missing keys in user deployment file
  src/prefect/cli/root.py
  tests/cli/test_project.py
Owners: @PrefectHQ/open-source

fix merge conflict remnant
  mkdocs.yml
Owners: @PrefectHQ/docs

fix css
  docs/cloud/index.md
  docs/stylesheets/extra.css
  mkdocs.yml
Owners: @PrefectHQ/docs

refresh FlowRunTimeline when navigating
  ui/src/pages/FlowRun.vue
Owners: @pleek91

minor fixes
  docs/cloud/index.md
  mkdocs.yml
  netlify.toml
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

fix netlify redirect
  netlify.toml
Owners: @PrefectHQ/open-source

updatre concepts landing page
  docs/concepts/index.md
Owners: @PrefectHQ/docs

update netlifly to remove duplicate tos
  netlify.toml
Owners: @PrefectHQ/open-source

update cloud index
  docs/concepts/index.md
  mkdocs.yml
  netlify.toml
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

formatting improvement
  docs/cloud/connecting.md
  docs/cloud/events.md
  docs/cloud/rate-limits.md
  docs/cloud/users/index.md
  docs/recipes/recipes.md
Owners: @PrefectHQ/docs

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# ui
/ui                            @pleek91

# documentation
/docs                                @PrefectHQ/docs
mkdocs.yml                           @PrefectHQ/docs
mkdocs.insiders.yml                  @PrefectHQ/docs

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source 

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source
