Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @cicdw, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# deployments
/src/prefect/*.py                    @cicdw

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey
mkdocs.yml                           @tpdorsey
mkdocs.insiders.yml                  @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @madkinsz

Add fugue
  RELEASE-NOTES.md
Owners: @madkinsz

Add fugue
  RELEASE-NOTES.md
Owners: @madkinsz

Add fugue
  RELEASE-NOTES.md
Owners: @madkinsz

Fixed tests
  changes/6412.yml
  tests/tasks/databricks/test_submit_multirun.py
  tests/tasks/databricks/test_submit_run.py
Owners: @madkinsz

Fixed style
  tests/tasks/databricks/test_submit_multirun.py
  tests/tasks/databricks/test_submit_run.py
Owners: @madkinsz

Remove explicit type validation
  src/prefect/orion/models/flow_run_notification_policies.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/models/flows.py
  src/prefect/orion/models/work_queues.py
Owners: @zangell44, @madkinsz

Remove tests
  tests/orion/models/test_flow_runs.py
  tests/orion/models/test_flows.py
  tests/orion/models/test_work_queues.py
Owners: @madkinsz

Start work on Client/UI linking
  src/prefect/cli/block.py
  src/prefect/cli/orion_utils.py
Owners: @madkinsz

Remove explicit type validation (#6448)
  src/prefect/orion/models/flow_run_notification_policies.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/models/flows.py
  src/prefect/orion/models/work_queues.py
  tests/orion/models/test_flow_runs.py
  tests/orion/models/test_flows.py
  tests/orion/models/test_work_queues.py
Owners: @zangell44, @madkinsz

Remove explicit type validation (#6448)
  src/prefect/orion/models/flow_run_notification_policies.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/models/flows.py
  src/prefect/orion/models/work_queues.py
  tests/orion/models/test_flow_runs.py
  tests/orion/models/test_flows.py
  tests/orion/models/test_work_queues.py
Owners: @zangell44, @madkinsz

Remove explicit type validation (#6448)
  src/prefect/orion/models/flow_run_notification_policies.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/models/flows.py
  src/prefect/orion/models/work_queues.py
  tests/orion/models/test_flow_runs.py
  tests/orion/models/test_flows.py
  tests/orion/models/test_work_queues.py
Owners: @zangell44, @madkinsz

Improve robustness of subprocess text streaming (#6445)
  src/prefect/utilities/processutils.py
Owners: @madkinsz

Improve robustness of subprocess text streaming (#6445)
  src/prefect/utilities/processutils.py
Owners: @madkinsz

Improve robustness of subprocess text streaming (#6445)
  src/prefect/utilities/processutils.py
Owners: @madkinsz

Add a couple just-merged pull requests to release notes
  RELEASE-NOTES.md
Owners: @madkinsz

Fix link to tag
  RELEASE-NOTES.md
Owners: @madkinsz

Fix tag in header
  RELEASE-NOTES.md
Owners: @madkinsz

Fixup verb
  RELEASE-NOTES.md
Owners: @madkinsz

Add a couple just-merged pull requests to release notes (#6449)
  RELEASE-NOTES.md
Owners: @madkinsz

Add a couple just-merged pull requests to release notes (#6449)
  RELEASE-NOTES.md
Owners: @madkinsz

Add a couple just-merged pull requests to release notes (#6449)
  RELEASE-NOTES.md
Owners: @madkinsz

Add Python deployment examples
  docs/concepts/deployments.md
Owners: @tpdorsey

Add Python deployment examples
  docs/concepts/deployments.md
Owners: @tpdorsey

Add Python deployment examples
  docs/concepts/deployments.md
Owners: @tpdorsey

Add Python deployment examples (#6451)
  docs/concepts/deployments.md
Owners: @tpdorsey

Add Python deployment examples (#6451)
  docs/concepts/deployments.md
Owners: @tpdorsey

Add Python deployment examples (#6451)
  docs/concepts/deployments.md
Owners: @tpdorsey

Docs: Fix grammar and add prefect agent start with work queue name
  docs/concepts/work-queues.md
  docs/tutorials/first-steps.md
Owners: @tpdorsey
