Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Add `.submit` to snippets in dask / ray task runners tutorial
  docs/tutorials/dask-ray-task-runners.md
Owners: @tpdorsey

Fix examples in testing tutorial
  docs/tutorials/testing.md
Owners: @tpdorsey

Incorporate PR feedback
  docs/tutorials/execution.md
  docs/tutorials/testing.md
Owners: @tpdorsey

Change `RayTaskRunner` imports to use `from prefect_ray`
  docs/tutorials/dask-ray-task-runners.md
Owners: @tpdorsey

Add `.submit` to snippet in parallel execution section
  docs/tutorials/execution.md
Owners: @tpdorsey

Make `parse_fact` return the fact rather than `None`
  docs/tutorials/first-steps.md
Owners: @tpdorsey

Incorporate PR feedback
  docs/tutorials/execution.md
  docs/tutorials/testing.md
Owners: @tpdorsey

Incorporate PR feedback
  docs/tutorials/execution.md
  docs/tutorials/testing.md
Owners: @tpdorsey

Fix examples in testing tutorial
  docs/tutorials/testing.md
Owners: @tpdorsey

Change `DaskTaskRunner` imports to use `from prefect_dask`
  docs/tutorials/dask-ray-task-runners.md
  docs/tutorials/execution.md
  docs/tutorials/task-dependencies.md
  src/prefect/flows.py
Owners: @tpdorsey, @madkinsz

Add `.submit` to snippets in dask / ray task runners tutorial
  docs/tutorials/dask-ray-task-runners.md
Owners: @tpdorsey

Make `parse_fact` return the fact rather than `None`
  docs/tutorials/first-steps.md
Owners: @tpdorsey

Change `DaskTaskRunner` imports to use `from prefect_dask`
  docs/tutorials/dask-ray-task-runners.md
  docs/tutorials/execution.md
  docs/tutorials/task-dependencies.md
  src/prefect/flows.py
Owners: @tpdorsey, @madkinsz

Add `.submit` to snippets in dask / ray task runners tutorial
  docs/tutorials/dask-ray-task-runners.md
Owners: @tpdorsey

Fix examples in testing tutorial
  docs/tutorials/testing.md
Owners: @tpdorsey

Change `DaskTaskRunner` imports to use `from prefect_dask`
  docs/tutorials/dask-ray-task-runners.md
  docs/tutorials/execution.md
  docs/tutorials/task-dependencies.md
  src/prefect/flows.py
Owners: @tpdorsey, @madkinsz

Change `RayTaskRunner` imports to use `from prefect_ray`
  docs/tutorials/dask-ray-task-runners.md
Owners: @tpdorsey

Update server.py
  src/prefect/orion/api/server.py
Owners: @zangell44, @madkinsz

Update server.py
  src/prefect/orion/api/server.py
Owners: @zangell44, @madkinsz

Remove task dependency tut from nav
  mkdocs.yml
Owners: @madkinsz

Remove task dependency tut from nav
  mkdocs.yml
Owners: @madkinsz

Remove task dependency tut from nav
  mkdocs.yml
Owners: @madkinsz

Add workaround for blocks bug
  tests/fixtures/database.py
Owners: @madkinsz

Add workaround for blocks bug
  tests/fixtures/database.py
Owners: @madkinsz

Update test_client.py
  tests/test_client.py
Owners: @madkinsz

Update test_client.py
  tests/test_client.py
Owners: @madkinsz

Blocks metadata cleanup (#2377)
  src/prefect/blocks/kubernetes.py
  src/prefect/blocks/notifications.py
  src/prefect/blocks/system.py
  src/prefect/filesystems.py
  src/prefect/orion/api/block_types.py
  src/prefect/orion/api/server.py
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_19_160058_bb4dc90d3e29_renames_existing_block_types.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_19_153432_628a873f0d1a_renames_existing_block_types.py
  tests/orion/api/test_block_types.py
Owners: @madkinsz, @zangell44, @anticorrelator

Blocks metadata cleanup (PrefectHQ/orion#2377)
  src/prefect/blocks/kubernetes.py
  src/prefect/blocks/notifications.py
  src/prefect/blocks/system.py
  src/prefect/filesystems.py
  src/prefect/orion/api/block_types.py
  src/prefect/orion/api/server.py
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_19_160058_bb4dc90d3e29_renames_existing_block_types.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_19_153432_628a873f0d1a_renames_existing_block_types.py
  tests/orion/api/test_block_types.py
Owners: @madkinsz, @zangell44, @anticorrelator

Blocks metadata cleanup (PrefectHQ/orion#2377)
  src/prefect/blocks/kubernetes.py
  src/prefect/blocks/notifications.py
  src/prefect/blocks/system.py
  src/prefect/filesystems.py
  src/prefect/orion/api/block_types.py
  src/prefect/orion/api/server.py
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_19_160058_bb4dc90d3e29_renames_existing_block_types.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_19_153432_628a873f0d1a_renames_existing_block_types.py
  tests/orion/api/test_block_types.py
Owners: @madkinsz, @zangell44, @anticorrelator

Add logs to improve user visibility into task runner usage
  src/prefect/engine.py
  src/prefect/task_runners.py
Owners: @madkinsz

Add logs to improve user visibility into task runner usage
  src/prefect/engine.py
  src/prefect/task_runners.py
Owners: @madkinsz

Add immediately
  src/prefect/engine.py
Owners: @madkinsz

Add immediately
  src/prefect/engine.py
Owners: @madkinsz

Fix submission ...
  src/prefect/engine.py
Owners: @madkinsz

Fix submission ...
  src/prefect/engine.py
Owners: @madkinsz

update for venv and docker tutorials deployment
  docs/tutorials/docker-flow-runner.md
  docs/tutorials/virtual-environments.md
Owners: @tpdorsey

update for venv and docker tutorials deployment
  docs/tutorials/docker-flow-runner.md
  docs/tutorials/virtual-environments.md
Owners: @tpdorsey

update for venv and docker tutorials deployment
  docs/tutorials/docker-flow-runner.md
  docs/tutorials/virtual-environments.md
Owners: @tpdorsey

Add workaround to `block_schema` as well
  tests/fixtures/database.py
Owners: @madkinsz

Add workaround to `block_schema` as well
  tests/fixtures/database.py
Owners: @madkinsz
