Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Update prefecthq packages
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Update prefecthq packages
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Use the api for filtering types by schema capabilities
  orion-ui/src/pages/BlocksCatalog.vue
Owners: @pleek91

Use the api for filtering types by schema capabilities
  orion-ui/src/pages/BlocksCatalog.vue
Owners: @pleek91

Use the api for filtering types by schema capabilities
  orion-ui/src/pages/BlocksCatalog.vue
Owners: @pleek91

Merge conflict fix that didn't get merged
  orion-ui/src/App.vue
Owners: @pleek91

Merge conflict fix that didn't get merged
  orion-ui/src/App.vue
Owners: @pleek91

Merge conflict fix that didn't get merged
  orion-ui/src/App.vue
Owners: @pleek91

Revisions based on feedback
  docs/concepts/flows.md
Owners: @tpdorsey

Revisions based on feedback
  docs/concepts/flows.md
Owners: @tpdorsey

Revisions based on feedback
  docs/concepts/flows.md
Owners: @tpdorsey

Remove unused dependencies
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Remove unused dependencies
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Remove unused dependencies
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Revisions based on feedback
  docs/concepts/deployments.md
Owners: @tpdorsey

Revisions based on feedback
  docs/concepts/deployments.md
Owners: @tpdorsey

Revisions based on feedback
  docs/concepts/deployments.md
Owners: @tpdorsey

Add importorskip to prevent tests from running without databricks extra
  tests/tasks/databricks/conftest.py
Owners: @madkinsz

Try fixing
  tests/tasks/databricks/conftest.py
  tests/tasks/databricks/test_submit_multirun.py
Owners: @madkinsz

Move pydantic import inside
  tests/tasks/databricks/test_submit_multirun.py
Owners: @madkinsz

move inside
  tests/tasks/databricks/test_submit_multirun.py
Owners: @madkinsz

Test removing tests to see if it works
  tests/tasks/databricks/test_submit_multirun.py
Owners: @madkinsz

Remove init
  tests/tasks/databricks/__init__.py
  tests/tasks/databricks/test_submit_multirun.py
Owners: @madkinsz

Write better
  src/prefect/filesystems.py
Owners: @madkinsz

Store block documents instead of blocks
  src/prefect/packaging/file.py
Owners: @madkinsz

Update documentation
  docs/api-ref/prefect/file-systems.md
  docs/concepts/deployments.md
  docs/concepts/file-systems.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Add filesystem support to packaging
  src/prefect/packaging/file.py
Owners: @madkinsz

Rename storage module to filesystems
  src/prefect/filesystems.py
  tests/test_filesystems.py
Owners: @madkinsz

Add filesystem support to packaging
  src/prefect/packaging/file.py
Owners: @madkinsz

Add remote and local file systems
  src/prefect/storage.py
  tests/test_storage.py
Owners: @madkinsz

Update documentation
  docs/api-ref/prefect/file-systems.md
  docs/concepts/deployments.md
  docs/concepts/file-systems.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Store block documents instead of blocks
  src/prefect/packaging/file.py
Owners: @madkinsz

Update documentation
  docs/api-ref/prefect/file-systems.md
  docs/concepts/deployments.md
  docs/concepts/file-systems.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Rename storage module to filesystems
  src/prefect/filesystems.py
  tests/test_filesystems.py
Owners: @madkinsz

Add remote and local file systems
  src/prefect/storage.py
  tests/test_storage.py
Owners: @madkinsz

Write better
  src/prefect/filesystems.py
Owners: @madkinsz

Rename storage module to filesystems
  src/prefect/filesystems.py
  tests/test_filesystems.py
Owners: @madkinsz

Add filesystem support to packaging
  src/prefect/packaging/file.py
Owners: @madkinsz

Add remote and local file systems
  src/prefect/storage.py
  tests/test_storage.py
Owners: @madkinsz

Write better
  src/prefect/filesystems.py
Owners: @madkinsz
