Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @pleek91, @PrefectHQ/docs

Updates `prefect-docker` version referenced in docs for new release (#9117)
  docs/concepts/projects.md
Owners: @PrefectHQ/docs

WIP: Adds variable templating
  src/prefect/server/models/deployments.py
  src/prefect/server/models/work_queues.py
  src/prefect/utilities/templating.py
  tests/test_deployments.py
  tests/utilities/test_templating.py
Owners: @PrefectHQ/open-source, @zangell44

Adds ability to template variables
  src/prefect/projects/steps/core.py
  src/prefect/utilities/templating.py
  tests/projects/test_steps.py
  tests/utilities/test_templating.py
Owners: @PrefectHQ/open-source

update example, minor copy updates
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

Enable events client experimental flag by default (#9107)
  src/prefect/settings.py
  tests/_internal/compatibility/test_experimental.py
  tests/events/test_events_worker.py
  tests/server/test_app.py
Owners: @PrefectHQ/open-source

Enable events client experimental flag by default (#9107)
  src/prefect/settings.py
  tests/_internal/compatibility/test_experimental.py
  tests/events/test_events_worker.py
  tests/server/test_app.py
Owners: @PrefectHQ/open-source

Enable events client experimental flag by default (#9107)
  src/prefect/settings.py
  tests/_internal/compatibility/test_experimental.py
  tests/events/test_events_worker.py
  tests/server/test_app.py
Owners: @PrefectHQ/open-source

Removes changes that snuck in
  src/prefect/server/models/deployments.py
Owners: @PrefectHQ/open-source, @zangell44

Removes changes that snuck in
  src/prefect/server/models/work_queues.py
Owners: @PrefectHQ/open-source, @zangell44

Removes changes that snuck in
  tests/test_deployments.py
Owners: @PrefectHQ/open-source

Add release notes for 2.10.0
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Add versioned docs section
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Add flow run timeline change
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Add flow names UI change
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Minor clarifications
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

Add UI screen shoot
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

Clarify method
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

Fix metadata
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

Update mkdocs yml
  mkdocs.yml
Owners: @PrefectHQ/docs

Add In Project steps example
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

Minor tweaks
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

Add variable templating for project steps (#9118)
  src/prefect/projects/steps/core.py
  src/prefect/utilities/templating.py
  tests/projects/test_steps.py
  tests/utilities/test_templating.py
Owners: @PrefectHQ/open-source

Add variable templating for project steps (#9118)
  src/prefect/projects/steps/core.py
  src/prefect/utilities/templating.py
  tests/projects/test_steps.py
  tests/utilities/test_templating.py
Owners: @PrefectHQ/open-source

Add variable templating for project steps (#9118)
  src/prefect/projects/steps/core.py
  src/prefect/utilities/templating.py
  tests/projects/test_steps.py
  tests/utilities/test_templating.py
Owners: @PrefectHQ/open-source

Add secrets warning
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

Add screen shot
  docs/img/concepts/variables-ui.png
Owners: @PrefectHQ/docs

Fix image
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

Update docs/concepts/variables.md
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

Update docs/concepts/variables.md
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

Update docs/concepts/variables.md
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

Update docs/concepts/variables.md
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

Typo
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

Add lines before bullets
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

add test
  tests/server/database/test_migrations.py
Owners: @PrefectHQ/open-source

fix python block
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

Added release notes for versioned docs
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

fix postgres tests
  tests/server/database/test_migrations.py
Owners: @PrefectHQ/open-source

add name to read work pool call
  src/prefect/cli/root.py
Owners: @PrefectHQ/open-source

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# ui
/ui                            @pleek91

# documentation
/docs                                @PrefectHQ/docs
mkdocs.yml                           @PrefectHQ/docs
mkdocs.insiders.yml                  @PrefectHQ/docs

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source 

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source
