Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

make work-queue example general
  docs/tutorials/virtual-environments.md
Owners: @tpdorsey

make work-queue example general
  docs/tutorials/virtual-environments.md
Owners: @tpdorsey

make work-queue example general
  docs/tutorials/virtual-environments.md
Owners: @tpdorsey

minor clarification in virtual envs tut
  docs/tutorials/virtual-environments.md
Owners: @tpdorsey

minor clarification in virtual envs tut
  docs/tutorials/virtual-environments.md
Owners: @tpdorsey

minor clarification in virtual envs tut
  docs/tutorials/virtual-environments.md
Owners: @tpdorsey

Add Terry's suggested edits.
  docs/index.md
Owners: @tpdorsey

Add Terry's suggested edits.
  docs/index.md
Owners: @tpdorsey

Add Terry's suggested edits.
  docs/index.md
Owners: @tpdorsey

migration docs
  docs/migration_guide.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

migration docs
  docs/migration_guide.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

migration docs
  docs/migration_guide.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

better blog post
  docs/migration_guide.md
Owners: @tpdorsey

better blog post
  docs/migration_guide.md
Owners: @tpdorsey

better blog post
  docs/migration_guide.md
Owners: @tpdorsey

update example code
  docs/index.md
Owners: @tpdorsey

update example code
  docs/index.md
Owners: @tpdorsey

update example code
  docs/index.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/migration_guide.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/migration_guide.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/migration_guide.md
Owners: @tpdorsey

adjust images to 1280px wide
  docs/img/intro-ui-dashboard.png
  docs/img/intro-ui-logs.png
Owners: @tpdorsey

adjust images to 1280px wide
  docs/img/intro-ui-dashboard.png
  docs/img/intro-ui-logs.png
Owners: @tpdorsey

adjust images to 1280px wide
  docs/img/intro-ui-dashboard.png
  docs/img/intro-ui-logs.png
Owners: @tpdorsey

update highlighting in asyncio example
  docs/index.md
Owners: @tpdorsey

update highlighting in asyncio example
  docs/index.md
Owners: @tpdorsey

update highlighting in asyncio example
  docs/index.md
Owners: @tpdorsey

minor improvement from Andrew
  docs/index.md
Owners: @tpdorsey

minor improvement from Andrew
  docs/index.md
Owners: @tpdorsey

minor improvement from Andrew
  docs/index.md
Owners: @tpdorsey

remove collection
  docs/index.md
Owners: @tpdorsey

remove collection
  docs/index.md
Owners: @tpdorsey

remove collection
  docs/index.md
Owners: @tpdorsey

fix allows powershell as shell input
  src/prefect/tasks/shell.py
Owners: @madkinsz

add changes/pr6035.yaml
  changes/pr6035.yaml
Owners: @madkinsz

add test
  tests/tasks/test_shell.py
Owners: @madkinsz

reformat with black
  src/prefect/tasks/shell.py
  tests/tasks/test_shell.py
Owners: @madkinsz

Update docs/migration_guide.md
  docs/migration_guide.md
Owners: @tpdorsey

Update docs/migration_guide.md
  docs/migration_guide.md
Owners: @tpdorsey

Update docs/migration_guide.md
  docs/migration_guide.md
Owners: @tpdorsey
