Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @pleek91, @PrefectHQ/docs

Fixed styling of deployments mermaid diagram
  docs/concepts/deployments.md
Owners: @PrefectHQ/docs

Add internal `QueueService` abstract class
  src/prefect/_internal/concurrency/services.py
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

small CSS adjustment
  docs/concepts/deployments.md
Owners: @PrefectHQ/docs

update var
  netlify.toml
Owners: @PrefectHQ/open-source

Update `send` to be an instance method and allow args to configure instances
  src/prefect/_internal/concurrency/services.py
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

Rename `drain_one` to `drain`
  src/prefect/_internal/concurrency/services.py
Owners: @PrefectHQ/open-source

Update `drain` implementation to wait
  src/prefect/_internal/concurrency/services.py
Owners: @PrefectHQ/open-source

Avoid deadlocks when errors are encountered
  src/prefect/_internal/concurrency/services.py
Owners: @PrefectHQ/open-source

Remove extra result call
  src/prefect/_internal/concurrency/services.py
Owners: @PrefectHQ/open-source

Add test for lifespan and log exceptions
  src/prefect/_internal/concurrency/services.py
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

chore: update github action secret reference (#9013)
  .github/workflows/helm-chart-release.yaml
  netlify.toml
Owners: @PrefectHQ/open-source

chore: update github action secret reference (#9013)
  .github/workflows/helm-chart-release.yaml
  netlify.toml
Owners: @PrefectHQ/open-source

chore: update github action secret reference (#9013)
  .github/workflows/helm-chart-release.yaml
  netlify.toml
Owners: @PrefectHQ/open-source

Fix bug where iterable defaults were treated as mapped parameters
  src/prefect/engine.py
  src/prefect/tasks.py
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

initial commit
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

initial commit
  docs/concepts/artifacts.md
Owners: @PrefectHQ/docs

initial commit
  docs/concepts/database.md
Owners: @PrefectHQ/docs

Adds requires step keyword and auto installation
  src/prefect/projects/steps/core.py
Owners: @PrefectHQ/open-source

initial commit
  src/prefect/server/database/migrations/versions/postgresql/2023_03_31_172310_6a1eb3d442e4_add_cols_to_artifact_collection.py
  src/prefect/server/database/migrations/versions/sqlite/2023_03_31_172555_3e1eb8281d5e_add_cols_to_artifact_collection.py
  src/prefect/server/database/orm_models.py
Owners: @PrefectHQ/open-source

refactor cloud nav
  mkdocs.yml
  netlify.toml
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

rename ui to cloud
  docs/cloud/audit-log.md
  docs/cloud/automations.md
  docs/cloud/blocks.md
  docs/cloud/cloud-api-keys.md
  docs/cloud/cloud-local-environment.md
  docs/cloud/cloud-quickstart.md
  docs/cloud/cloud.md
  docs/cloud/deployments.md
  docs/cloud/events.md
  docs/cloud/flow-runs.md
  docs/cloud/flows.md
  docs/cloud/index.md
  docs/cloud/notifications.md
  docs/cloud/organizations.md
  docs/cloud/rate-limits.md
  docs/cloud/roles.md
  docs/cloud/service-accounts.md
  docs/cloud/sso.md
  docs/cloud/task-concurrency.md
  docs/cloud/troubleshooting.md
  docs/cloud/work-pools.md
  docs/cloud/workspaces.md
Owners: @PrefectHQ/docs

update audit log and prep some redirects
  docs/cloud/users/api-keys.md
  docs/cloud/users/audit-log.md
  docs/cloud/users/roles.md
  docs/cloud/users/service-accounts.md
  docs/cloud/users/sso.md
  netlify.toml
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

update img link
  docs/cloud/users/audit-log.md
Owners: @PrefectHQ/docs

Fixed styling of deployments mermaid diagram (#9017)
  docs/concepts/deployments.md
Owners: @PrefectHQ/docs

Fixed styling of deployments mermaid diagram (#9017)
  docs/concepts/deployments.md
Owners: @PrefectHQ/docs

Fixed styling of deployments mermaid diagram (#9017)
  docs/concepts/deployments.md
Owners: @PrefectHQ/docs

redoing the cloud index page
  docs/cloud/cloud.md
  docs/cloud/index.md
  docs/cloud/users/api-keys.md
Owners: @PrefectHQ/docs

clean up cloud index page and create stub for users
  docs/cloud/cloud-local-environment.md
  docs/cloud/index.md
  docs/cloud/notifications.md
  docs/cloud/users/index.md
Owners: @PrefectHQ/docs

move notifications to concepts
  docs/concepts/notifications.md
  mkdocs.yml
Owners: @PrefectHQ/docs

absorb flow and flow-runs pages
  docs/cloud/flow-runs.md
  docs/cloud/flows.md
  docs/cloud/users/index.md
  docs/cloud/users/roles.md
  docs/concepts/flows.md
  mkdocs.yml
Owners: @PrefectHQ/docs

remove deployments ui page
  docs/cloud/deployments.md
Owners: @PrefectHQ/docs

Docs - Fix spelling on database page (#9024)
  docs/concepts/database.md
Owners: @PrefectHQ/docs

Docs - Fix spelling on database page (#9024)
  docs/concepts/database.md
Owners: @PrefectHQ/docs

Docs - Fix spelling on database page (#9024)
  docs/concepts/database.md
Owners: @PrefectHQ/docs

Docs - Remove unnecessary imports from examples in artifacts page (#9023)
  docs/concepts/artifacts.md
Owners: @PrefectHQ/docs

Docs - Remove unnecessary imports from examples in artifacts page (#9023)
  docs/concepts/artifacts.md
Owners: @PrefectHQ/docs

Docs - Remove unnecessary imports from examples in artifacts page (#9023)
  docs/concepts/artifacts.md
Owners: @PrefectHQ/docs

remove unnecesary ui pages
  docs/cloud/blocks.md
  docs/cloud/task-concurrency.md
  docs/cloud/work-pools.md
Owners: @PrefectHQ/docs

add work pool ui image to concepts/work-poos.md
  docs/concepts/work-pools.md
Owners: @PrefectHQ/docs

fold troubleshooting page into cloud-local-environment
  docs/cloud/cloud-local-environment.md
  docs/cloud/troubleshooting.md
Owners: @PrefectHQ/docs

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# ui
/ui                            @pleek91

# documentation
/docs                                @PrefectHQ/docs
mkdocs.yml                           @PrefectHQ/docs
mkdocs.insiders.yml                  @PrefectHQ/docs

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source 

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source
