Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Working version of storing a manifest
  src/prefect/cli/flow.py
Owners: @madkinsz

Add adjective
  src/prefect/cli/flow.py
Owners: @madkinsz

Add adjective
  src/prefect/cli/flow.py
Owners: @madkinsz

jfc my black versions are off
  src/prefect/client.py
Owners: @madkinsz

jfc my black versions are off
  src/prefect/client.py
Owners: @madkinsz

update
  src/prefect/tasks/fugue/__init__.py
  src/prefect/tasks/fugue/resource_manager.py
  src/prefect/tasks/fugue/tasks.py
  tests/tasks/fugue/test_fugue.py
Owners: @madkinsz

update
  src/prefect/tasks/fugue/tasks.py
Owners: @madkinsz

update docs
  docs/outline.toml
Owners: @tpdorsey

update
  src/prefect/tasks/fugue/tasks.py
Owners: @madkinsz

Skip a troublesome test for now (PrefectHQ/orion#2457)
  tests/infrastructure/test_submission.py
Owners: @madkinsz

Skip a troublesome test for now (PrefectHQ/orion#2457)
  tests/infrastructure/test_submission.py
Owners: @madkinsz

Resolve feedback and static analysis checks
  src/prefect/cli/flow.py
  src/prefect/manifests.py
Owners: @madkinsz

Resolve feedback and static analysis checks
  src/prefect/cli/flow.py
  src/prefect/manifests.py
Owners: @madkinsz

Retry a flaky logs test (PrefectHQ/orion#2458)
  tests/test_logging.py
Owners: @madkinsz

Retry a flaky logs test (PrefectHQ/orion#2458)
  tests/test_logging.py
Owners: @madkinsz

Resolve some tests and path issues
  src/prefect/filesystems.py
  tests/cli/test_deployment_preview.py
  tests/test_metachecks.py
  tests/utilities/test_importtools.py
Owners: @madkinsz

Resolve some tests and path issues
  src/prefect/filesystems.py
  tests/cli/test_deployment_preview.py
  tests/test_metachecks.py
  tests/utilities/test_importtools.py
Owners: @madkinsz

Add some half working copy directory methods
  src/prefect/filesystems.py
Owners: @madkinsz

Add some half working copy directory methods
  src/prefect/filesystems.py
Owners: @madkinsz

v1 docs redirects
  netlify.toml
Owners: @madkinsz

v1 docs redirects
  netlify.toml
Owners: @madkinsz

use od 404
  orion-ui/src/pages/404.vue
Owners: @pleek91

use od 404
  orion-ui/src/pages/404.vue
Owners: @pleek91

Working version of copy_directory
  src/prefect/filesystems.py
Owners: @madkinsz

Working version of copy_directory
  src/prefect/filesystems.py
Owners: @madkinsz

Temporarily disable windows workflow for time
  .github/workflows/python-tests.yaml
Owners: @madkinsz

Temporarily disable windows workflow for time
  .github/workflows/python-tests.yaml
Owners: @madkinsz

Docs: Minor rework to tutorials testing against b12 (PrefectHQ/orion#2455)
  docs/concepts/flows.md
  docs/tutorials/execution.md
  docs/tutorials/first-steps.md
  docs/tutorials/flow-task-config.md
  docs/tutorials/orion.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Docs: Minor rework to tutorials testing against b12 (PrefectHQ/orion#2455)
  docs/concepts/flows.md
  docs/tutorials/execution.md
  docs/tutorials/first-steps.md
  docs/tutorials/flow-task-config.md
  docs/tutorials/orion.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Move manifest creation to deployment prepare
  src/prefect/cli/deployment.py
  src/prefect/cli/flow.py
  src/prefect/client.py
Owners: @madkinsz

Move manifest creation to deployment prepare
  src/prefect/cli/deployment.py
  src/prefect/cli/flow.py
  src/prefect/client.py
Owners: @madkinsz

Formatting
  src/prefect/cli/deployment.py
  src/prefect/cli/flow.py
  src/prefect/client.py
Owners: @madkinsz

Formatting
  src/prefect/cli/deployment.py
  src/prefect/cli/flow.py
  src/prefect/client.py
Owners: @madkinsz

Working deployment YAML creation
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
  src/prefect/filesystems.py
  src/prefect/infrastructure/base.py
  src/prefect/manifests.py
Owners: @madkinsz

Working deployment YAML creation
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
  src/prefect/filesystems.py
  src/prefect/infrastructure/base.py
  src/prefect/manifests.py
Owners: @madkinsz

Working YAML generation with lots of bells and whistles
  src/prefect/cli/deployment.py
Owners: @madkinsz

Working YAML generation with lots of bells and whistles
  src/prefect/cli/deployment.py
Owners: @madkinsz

A user friendly set of comments and orderings
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
Owners: @madkinsz

A user friendly set of comments and orderings
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
Owners: @madkinsz

Return flow state determination section
  docs/concepts/flows.md
Owners: @tpdorsey
