Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

Apply suggestions from code review
  docs/migration_guide.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/migration_guide.md
Owners: @tpdorsey

feedback from review
  docs/migration_guide.md
Owners: @tpdorsey

feedback from review
  docs/migration_guide.md
Owners: @tpdorsey

feedback from review
  docs/migration_guide.md
Owners: @tpdorsey

Improve style guide and make create commands output msg consistent
  docs/contributing/style.md
  src/prefect/cli/concurrency_limit.py
  src/prefect/cli/deployment.py
  src/prefect/cli/profile.py
  src/prefect/cli/storage.py
  src/prefect/cli/work_queue.py
Owners: @tpdorsey, @madkinsz

Improve style guide and make create commands output msg consistent
  docs/contributing/style.md
  src/prefect/cli/concurrency_limit.py
  src/prefect/cli/deployment.py
  src/prefect/cli/profile.py
  src/prefect/cli/storage.py
  src/prefect/cli/work_queue.py
Owners: @tpdorsey, @madkinsz

update test
  tests/tasks/test_shell.py
Owners: @madkinsz

updated version of orion-design
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/utilities/permissions.ts
Owners: @pleek91

updated version of orion-design
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/utilities/permissions.ts
Owners: @pleek91

updated version of orion-design
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/utilities/permissions.ts
Owners: @pleek91

Update migration_guide.md
  docs/migration_guide.md
Owners: @tpdorsey

Update migration_guide.md
  docs/migration_guide.md
Owners: @tpdorsey

Update migration_guide.md
  docs/migration_guide.md
Owners: @tpdorsey

Jeff suggestions
  docs/migration_guide.md
Owners: @tpdorsey

Jeff suggestions
  docs/migration_guide.md
Owners: @tpdorsey

Jeff suggestions
  docs/migration_guide.md
Owners: @tpdorsey

Addressing Terry's point on describing the link in case URL ever breaks
  docs/migration_guide.md
Owners: @tpdorsey

Addressing Terry's point on describing the link in case URL ever breaks
  docs/migration_guide.md
Owners: @tpdorsey

Addressing Terry's point on describing the link in case URL ever breaks
  docs/migration_guide.md
Owners: @tpdorsey

Update migration_guide.md
  docs/migration_guide.md
Owners: @tpdorsey

Update migration_guide.md
  docs/migration_guide.md
Owners: @tpdorsey

Update migration_guide.md
  docs/migration_guide.md
Owners: @tpdorsey

remove redundant
  tests/tasks/test_shell.py
Owners: @madkinsz

Apply suggestions from code review
  docs/migration_guide.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/migration_guide.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/migration_guide.md
Owners: @tpdorsey

Add tests for bug; simplify alias handling
  src/prefect/utilities/callables.py
  tests/utilities/test_callables.py
Owners: @madkinsz

Add tests for bug; simplify alias handling
  src/prefect/utilities/callables.py
  tests/utilities/test_callables.py
Owners: @madkinsz

Add tests for bug; simplify alias handling
  src/prefect/utilities/callables.py
  tests/utilities/test_callables.py
Owners: @madkinsz

Update BlockView.vue
  orion-ui/src/pages/BlockView.vue
Owners: @pleek91

Update BlockView.vue
  orion-ui/src/pages/BlockView.vue
Owners: @pleek91

Update BlockView.vue
  orion-ui/src/pages/BlockView.vue
Owners: @pleek91

fix testing tutorial codeblocks to make runnable
  docs/tutorials/testing.md
Owners: @tpdorsey

fix testing tutorial codeblocks to make runnable
  docs/tutorials/testing.md
Owners: @tpdorsey

fix testing tutorial codeblocks to make runnable
  docs/tutorials/testing.md
Owners: @tpdorsey

Rename dashboard to flow runs, reflecting actual UI usage
  docs/concepts/deployments.md
  docs/ui/cloud.md
  docs/ui/flow-runs.md
  docs/ui/notifications.md
  docs/ui/overview.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Rename dashboard to flow runs, reflecting actual UI usage
  docs/concepts/deployments.md
  docs/ui/cloud.md
  docs/ui/flow-runs.md
  docs/ui/notifications.md
  docs/ui/overview.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Rename dashboard to flow runs, reflecting actual UI usage
  docs/concepts/deployments.md
  docs/ui/cloud.md
  docs/ui/flow-runs.md
  docs/ui/notifications.md
  docs/ui/overview.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Fix handling of unknown types during parameter schema generation
  src/prefect/utilities/callables.py
  tests/utilities/test_callables.py
Owners: @madkinsz

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator
