Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

Format thigns
  src/prefect/blocks/system.py
Owners: @madkinsz

2.0b16-release-notes
  RELEASE-NOTES.md
Owners: @madkinsz

2.0b16-release-notes
  RELEASE-NOTES.md
Owners: @madkinsz

Revisions based on feedback
  docs/concepts/deployments.md
  docs/tutorials/deployments.md
Owners: @tpdorsey

Revisions based on feedback
  docs/concepts/deployments.md
  docs/tutorials/deployments.md
Owners: @tpdorsey

Revisions based on feedback
  docs/concepts/deployments.md
Owners: @tpdorsey

Revisions based on feedback
  docs/concepts/deployments.md
Owners: @tpdorsey

capitalization
  orion-ui/src/pages/WorkQueue.vue
Owners: @pleek91

capitalization
  orion-ui/src/pages/WorkQueue.vue
Owners: @pleek91

Apply suggestions from code review
  docs/concepts/states.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/concepts/states.md
Owners: @tpdorsey

Clean up bullet list formatting
  docs/concepts/states.md
Owners: @tpdorsey

Clean up bullet list formatting
  docs/concepts/states.md
Owners: @tpdorsey

update task-runners - fixes 2 broken examples and clarifies
  docs/concepts/task-runners.md
Owners: @tpdorsey

update task-runners - fixes 2 broken examples and clarifies
  docs/concepts/task-runners.md
Owners: @tpdorsey

Fix deployment name in examples
  docs/tutorials/deployments.md
Owners: @tpdorsey

Fix deployment name in examples
  docs/tutorials/deployments.md
Owners: @tpdorsey

Fix parameter dates
  orion-ui/src/pages/DeploymentEdit.vue
Owners: @pleek91

Fix parameter dates
  orion-ui/src/pages/DeploymentEdit.vue
Owners: @pleek91

[GA] Tag Python 3.10 image as latest (PrefectHQ/orion#2512)
  .github/workflows/release.yaml
Owners: @madkinsz

[GA] Tag Python 3.10 image as latest (PrefectHQ/orion#2512)
  .github/workflows/release.yaml
Owners: @madkinsz

Polish deployments CLI
  src/prefect/cli/deployment.py
Owners: @madkinsz

Polish deployments CLI
  src/prefect/cli/deployment.py
Owners: @madkinsz

Polish up infrastructure interfaces
  src/prefect/agent.py
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/process.py
  src/prefect/infrastructure/submission.py
  tests/infrastructure/test_docker_container.py
  tests/infrastructure/test_process.py
  tests/infrastructure/test_submission.py
  tests/test_agent.py
Owners: @madkinsz

Polish up infrastructure interfaces
  src/prefect/agent.py
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/process.py
  src/prefect/infrastructure/submission.py
  tests/infrastructure/test_docker_container.py
  tests/infrastructure/test_process.py
  tests/infrastructure/test_submission.py
  tests/test_agent.py
Owners: @madkinsz

Update index.md
  docs/index.md
Owners: @tpdorsey

Update index.md
  docs/index.md
Owners: @tpdorsey

Update deployments.md
  docs/concepts/deployments.md
Owners: @tpdorsey

Update deployments.md
  docs/concepts/deployments.md
Owners: @tpdorsey

Finish cleaning up and simplifying tests
  tests/fixtures/database.py
  tests/infrastructure/test_submission.py
Owners: @madkinsz

Finish cleaning up and simplifying tests
  tests/fixtures/database.py
  tests/infrastructure/test_submission.py
Owners: @madkinsz

Mark flaky test
  tests/packaging/test_docker_packager.py
Owners: @madkinsz

Mark flaky test
  tests/packaging/test_docker_packager.py
Owners: @madkinsz

Bump orion-design to 1.0.60
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Bump orion-design to 1.0.60
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Enhance block concept docs (PrefectHQ/orion#2541)
  docs/concepts/blocks.md
Owners: @tpdorsey

Enhance block concept docs (PrefectHQ/orion#2541)
  docs/concepts/blocks.md
Owners: @tpdorsey

Use --id flag to pass an id instead of mutating behavior
  src/prefect/cli/deployment.py
Owners: @madkinsz

Use --id flag to pass an id instead of mutating behavior
  src/prefect/cli/deployment.py
Owners: @madkinsz

Update execution.md
  docs/tutorials/execution.md
Owners: @tpdorsey

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator
