Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @cicdw, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# deployments
/src/prefect/*.py                    @cicdw

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey
mkdocs.yml                           @tpdorsey
mkdocs.insiders.yml                  @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Fix client tests
  src/prefect/client.py
  tests/test_client.py
Owners: @cicdw, @madkinsz

Updates frozen checksums.json
  tests/blocks/checksums.json
Owners: @madkinsz

Update package-lock
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/compositions/index.ts
  orion-ui/src/compositions/useToast.ts
  orion-ui/src/pages/Deployment.vue
Owners: @pleek91

Update package-lock
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/compositions/index.ts
  orion-ui/src/compositions/useToast.ts
  orion-ui/src/pages/Deployment.vue
Owners: @pleek91

Update package-lock
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/compositions/index.ts
  orion-ui/src/compositions/useToast.ts
  orion-ui/src/pages/Deployment.vue
Owners: @pleek91

Update agent start command on the work queue page
  orion-ui/src/pages/WorkQueue.vue
Owners: @pleek91

Update agent start command on the work queue page
  orion-ui/src/pages/WorkQueue.vue
Owners: @pleek91

Update agent start command on the work queue page
  orion-ui/src/pages/WorkQueue.vue
Owners: @pleek91

Fix engine tests
  src/prefect/orion/schemas/states.py
  src/prefect/testing/fixtures.py
  tests/test_engine.py
Owners: @zangell44, @madkinsz

Edits and updated illustrations
  docs/concepts/deployments.md
  docs/concepts/work-queues.md
  docs/img/concepts/deployments.png
Owners: @tpdorsey

Edits and updated illustrations
  docs/concepts/deployments.md
  docs/concepts/work-queues.md
  docs/img/concepts/deployments.png
Owners: @tpdorsey

Edits and updated illustrations
  docs/concepts/deployments.md
  docs/concepts/work-queues.md
  docs/img/concepts/deployments.png
Owners: @tpdorsey

Use a fully no op policy when creating a task run
  src/prefect/orion/models/task_runs.py
  src/prefect/orion/orchestration/core_policy.py
Owners: @zangell44, @madkinsz, @anticorrelator

Updates frozen checksums.json
  src/prefect/blocks/core.py
  tests/blocks/checksums.json
Owners: @madkinsz

Add prefect databricks
  docs/collections/catalog/prefect-databricks.yaml
  docs/img/collections/databricks.png
Owners: @tpdorsey

Add prefect databricks
  docs/collections/catalog/prefect-databricks.yaml
  docs/img/collections/databricks.png
Owners: @tpdorsey

Add prefect databricks
  docs/collections/catalog/prefect-databricks.yaml
  docs/img/collections/databricks.png
Owners: @tpdorsey

Fix spacing
  orion-ui/src/compositions/useToast.ts
Owners: @pleek91

Fix spacing
  orion-ui/src/compositions/useToast.ts
Owners: @pleek91

Fix spacing
  orion-ui/src/compositions/useToast.ts
Owners: @pleek91

watchEffect => watch
  orion-ui/src/pages/Deployment.vue
  orion-ui/src/pages/WorkQueue.vue
Owners: @pleek91

watchEffect => watch
  orion-ui/src/pages/Deployment.vue
  orion-ui/src/pages/WorkQueue.vue
Owners: @pleek91

watchEffect => watch
  orion-ui/src/pages/Deployment.vue
  orion-ui/src/pages/WorkQueue.vue
Owners: @pleek91

Modify the useToast composition a bit
  orion-ui/src/compositions/useToast.ts
  orion-ui/src/pages/Deployment.vue
  orion-ui/src/pages/WorkQueue.vue
Owners: @pleek91

Modify the useToast composition a bit
  orion-ui/src/compositions/useToast.ts
  orion-ui/src/pages/Deployment.vue
  orion-ui/src/pages/WorkQueue.vue
Owners: @pleek91

Modify the useToast composition a bit
  orion-ui/src/compositions/useToast.ts
  orion-ui/src/pages/Deployment.vue
  orion-ui/src/pages/WorkQueue.vue
Owners: @pleek91

Future proof return type
  orion-ui/src/compositions/useToast.ts
Owners: @pleek91

Future proof return type
  orion-ui/src/compositions/useToast.ts
Owners: @pleek91

Future proof return type
  orion-ui/src/compositions/useToast.ts
Owners: @pleek91

Apply suggestions from code review
  docs/concepts/deployments.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/concepts/deployments.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/concepts/deployments.md
Owners: @tpdorsey

Fix broken test
  orion-ui/tests/notifications.spec.ts
  orion-ui/tests/utilities/utilities.ts
Owners: @pleek91

Fix broken test
  orion-ui/tests/notifications.spec.ts
  orion-ui/tests/utilities/utilities.ts
Owners: @pleek91

Fix broken test
  orion-ui/tests/notifications.spec.ts
  orion-ui/tests/utilities/utilities.ts
Owners: @pleek91

Revisions based on feedback
  docs/concepts/deployments.md
Owners: @tpdorsey

Revisions based on feedback
  docs/concepts/deployments.md
Owners: @tpdorsey

Revisions based on feedback
  docs/concepts/deployments.md
Owners: @tpdorsey

Note on diagram regarding hybrid model
  docs/concepts/deployments.md
Owners: @tpdorsey

Note on diagram regarding hybrid model
  docs/concepts/deployments.md
Owners: @tpdorsey
