Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

Forbid extra fields on `Deployment`s
  src/prefect/deployments.py
  tests/deployments/test_deployment.py
Owners: @madkinsz

Forbid extra fields on `Deployment`s
  src/prefect/deployments.py
  tests/deployments/test_deployment.py
Owners: @madkinsz

Rename `asyncio` utilities to `asyncutils`
  src/prefect/blocks/core.py
  src/prefect/blocks/storage.py
  src/prefect/cli/_types.py
  src/prefect/cli/orion.py
  src/prefect/client.py
  src/prefect/deployments.py
  src/prefect/deprecated/deployments.py
  src/prefect/engine.py
  src/prefect/filesystems.py
  src/prefect/flow_runners/docker.py
  src/prefect/flow_runners/kubernetes.py
  src/prefect/flows.py
  src/prefect/futures.py
  src/prefect/orion/database/configurations.py
  src/prefect/orion/database/interface.py
  src/prefect/orion/database/migrations/env.py
  src/prefect/packaging/docker.py
  src/prefect/states.py
  src/prefect/task_runners.py
  src/prefect/tasks.py
  src/prefect/utilities/asyncutils.py
  src/prefect/utilities/collections.py
  tests/cli/test_flow_run.py
  tests/orion/database/test_migrations.py
  tests/utilities/test_asyncio.py
Owners: @madkinsz, @anticorrelator

Rename `asyncio` utilities to `asyncutils`
  src/prefect/blocks/core.py
  src/prefect/blocks/storage.py
  src/prefect/cli/_types.py
  src/prefect/cli/orion.py
  src/prefect/client.py
  src/prefect/deployments.py
  src/prefect/deprecated/deployments.py
  src/prefect/engine.py
  src/prefect/filesystems.py
  src/prefect/flow_runners/docker.py
  src/prefect/flow_runners/kubernetes.py
  src/prefect/flows.py
  src/prefect/futures.py
  src/prefect/orion/database/configurations.py
  src/prefect/orion/database/interface.py
  src/prefect/orion/database/migrations/env.py
  src/prefect/packaging/docker.py
  src/prefect/states.py
  src/prefect/task_runners.py
  src/prefect/tasks.py
  src/prefect/utilities/asyncutils.py
  src/prefect/utilities/collections.py
  tests/cli/test_flow_run.py
  tests/orion/database/test_migrations.py
  tests/utilities/test_asyncio.py
Owners: @madkinsz, @anticorrelator

Rename `asyncio` utilities to `asyncutils`
  src/prefect/blocks/core.py
  src/prefect/blocks/storage.py
  src/prefect/cli/_types.py
  src/prefect/cli/orion.py
  src/prefect/client.py
  src/prefect/deployments.py
  src/prefect/deprecated/deployments.py
  src/prefect/engine.py
  src/prefect/filesystems.py
  src/prefect/flow_runners/docker.py
  src/prefect/flow_runners/kubernetes.py
  src/prefect/flows.py
  src/prefect/futures.py
  src/prefect/orion/database/configurations.py
  src/prefect/orion/database/interface.py
  src/prefect/orion/database/migrations/env.py
  src/prefect/packaging/docker.py
  src/prefect/states.py
  src/prefect/task_runners.py
  src/prefect/tasks.py
  src/prefect/utilities/asyncutils.py
  src/prefect/utilities/collections.py
  tests/cli/test_flow_run.py
  tests/orion/database/test_migrations.py
  tests/utilities/test_asyncio.py
Owners: @madkinsz, @anticorrelator

Check each column of a cron expression instead of the expression in its entirety
  src/prefect/orion/schemas/schedules.py
Owners: @zangell44, @madkinsz

Check each column of a cron expression instead of the expression in its entirety
  src/prefect/orion/schemas/schedules.py
Owners: @zangell44, @madkinsz

Check each column of a cron expression instead of the expression in its entirety
  src/prefect/orion/schemas/schedules.py
Owners: @zangell44, @madkinsz

Add some more robust tests
  tests/orion/schemas/test_schedules.py
Owners: @madkinsz

Add some more robust tests
  tests/orion/schemas/test_schedules.py
Owners: @madkinsz

Add some more robust tests
  tests/orion/schemas/test_schedules.py
Owners: @madkinsz

Update invalid cron string test
  tests/orion/schemas/test_schedules.py
Owners: @madkinsz

Update invalid cron string test
  tests/orion/schemas/test_schedules.py
Owners: @madkinsz

Update invalid cron string test
  tests/orion/schemas/test_schedules.py
Owners: @madkinsz

🖤
  src/prefect/client.py
  src/prefect/orion/schemas/schedules.py
  tests/blocks/test_core.py
  tests/orion/schemas/test_schedules.py
Owners: @madkinsz, @zangell44

🖤
  src/prefect/client.py
  src/prefect/orion/schemas/schedules.py
  tests/blocks/test_core.py
  tests/orion/schemas/test_schedules.py
Owners: @madkinsz, @zangell44

🖤
  src/prefect/client.py
  src/prefect/orion/schemas/schedules.py
  tests/blocks/test_core.py
  tests/orion/schemas/test_schedules.py
Owners: @madkinsz, @zangell44

Fix invalid cron schedule
  tests/orion/schemas/test_schedules.py
Owners: @madkinsz

Fix invalid cron schedule
  tests/orion/schemas/test_schedules.py
Owners: @madkinsz

Fix invalid cron schedule
  tests/orion/schemas/test_schedules.py
Owners: @madkinsz

⚫️
  src/prefect/utilities/compat.py
  tests/utilities/test_pydantic.py
Owners: @madkinsz

⚫️
  src/prefect/utilities/compat.py
  tests/utilities/test_pydantic.py
Owners: @madkinsz

⚫️
  src/prefect/utilities/compat.py
  tests/utilities/test_pydantic.py
Owners: @madkinsz

Consolidate subprocess handling to best-practice utilities
  src/prefect/cli/_utilities.py
  src/prefect/cli/dev.py
  src/prefect/cli/orion.py
  src/prefect/flow_runners/subprocess.py
  src/prefect/testing/fixtures.py
  src/prefect/utilities/processutils.py
  tests/flow_runners/test_subprocess.py
Owners: @madkinsz

Consolidate subprocess handling to best-practice utilities
  src/prefect/cli/_utilities.py
  src/prefect/cli/dev.py
  src/prefect/cli/orion.py
  src/prefect/flow_runners/subprocess.py
  src/prefect/testing/fixtures.py
  src/prefect/utilities/processutils.py
  tests/flow_runners/test_subprocess.py
Owners: @madkinsz

Consolidate subprocess handling to best-practice utilities
  src/prefect/cli/_utilities.py
  src/prefect/cli/dev.py
  src/prefect/cli/orion.py
  src/prefect/flow_runners/subprocess.py
  src/prefect/testing/fixtures.py
  src/prefect/utilities/processutils.py
  tests/flow_runners/test_subprocess.py
Owners: @madkinsz

Add docstrings; remove stream utils
  src/prefect/utilities/processutils.py
Owners: @madkinsz

Add docstrings; remove stream utils
  src/prefect/utilities/processutils.py
Owners: @madkinsz

Add docstrings; remove stream utils
  src/prefect/utilities/processutils.py
Owners: @madkinsz

Fix documentation
  docs/api-ref/prefect/utilities/asyncutils.md
  docs/api-ref/prefect/utilities/processutils.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Fix documentation
  docs/api-ref/prefect/utilities/asyncutils.md
  docs/api-ref/prefect/utilities/processutils.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Fix documentation
  docs/api-ref/prefect/utilities/asyncutils.md
  docs/api-ref/prefect/utilities/processutils.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Adds container parameter to ReadNamespacedPodLogs (#5979)
  changes/pr5979.yaml
  src/prefect/tasks/kubernetes/pod.py
  tests/tasks/kubernetes/test_pod.py
Owners: @madkinsz

Merge with master
  CHANGELOG.md
Owners: @madkinsz

Restore streaming utils for compatibility with capsys
  src/prefect/utilities/processutils.py
  tests/utilities/test_processutils.py
Owners: @madkinsz

Restore streaming utils for compatibility with capsys
  src/prefect/utilities/processutils.py
  tests/utilities/test_processutils.py
Owners: @madkinsz

Restore streaming utils for compatibility with capsys
  src/prefect/utilities/processutils.py
  tests/utilities/test_processutils.py
Owners: @madkinsz

Fix tests for asyncutils
  tests/utilities/test_asyncutils.py
Owners: @madkinsz

Fix tests for asyncutils
  tests/utilities/test_asyncutils.py
Owners: @madkinsz

Fix tests for asyncutils
  tests/utilities/test_asyncutils.py
Owners: @madkinsz

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator
