Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @desertaxle, @tpdorsey

.github/CODEOWNERS:

# global owners
*                           @madkinsz

# task library owners
/src/prefect/tasks          @desertaxle
/tests/tasks                @desertaxle
/docs/core/task_library     @desertaxle

# documentation owners
/docs                       @tpdorsey

Remove use of session factories
  src/prefect/orion/api/dependencies.py
  src/prefect/orion/database/configurations.py
  src/prefect/orion/database/interface.py
  src/prefect/orion/services/late_runs.py
  src/prefect/orion/services/loop_service.py
  src/prefect/orion/services/scheduler.py
  tests/fixtures/database.py
  tests/orion/api/test_run_history.py
  tests/orion/database/test_dependencies.py
  tests/orion/models/test_filters.py
Owners: @madkinsz

Remove use of session factories
  src/prefect/orion/api/dependencies.py
  src/prefect/orion/database/configurations.py
  src/prefect/orion/database/interface.py
  src/prefect/orion/services/late_runs.py
  src/prefect/orion/services/loop_service.py
  src/prefect/orion/services/scheduler.py
  tests/fixtures/database.py
  tests/orion/api/test_run_history.py
  tests/orion/database/test_dependencies.py
  tests/orion/models/test_filters.py
Owners: @madkinsz

Add legacy environments to nav.
  docs/.vuepress/config.js
Owners: @tpdorsey

Update support warning, remove domain from prefect links.
  docs/orchestration/execution/custom_environment.md
  docs/orchestration/execution/dask_cloud_provider_environment.md
  docs/orchestration/execution/dask_k8s_environment.md
  docs/orchestration/execution/fargate_task_environment.md
  docs/orchestration/execution/k8s_job_environment.md
  docs/orchestration/execution/local_environment.md
  docs/orchestration/execution/overview.md
  docs/orchestration/execution/storage_options.md
Owners: @tpdorsey

Minor edits to transitioning from tokens to keys.
  docs/orchestration/concepts/api_keys.md
Owners: @tpdorsey

Update gitlab example to reflect new registration CLI per #4256
  docs/orchestration/execution/storage_options.md
  src/prefect/storage/gitlab.py
Owners: @tpdorsey, @madkinsz

Add proxies argument to slack_notifier
  src/prefect/utilities/notifications/notifications.py
  tests/utilities/notifications/test_notifications.py
Owners: @madkinsz

Minor edits.
  docs/orchestration/concepts/api_keys.md
  docs/orchestration/execution/overview.md
Owners: @tpdorsey

Add change file
  changes/pr5237.yaml
Owners: @madkinsz

Correct docstring
  src/prefect/utilities/notifications/notifications.py
Owners: @madkinsz

Move event loop shutdown callback scheduling logic to avoid duplication
  src/prefect/orion/database/configurations.py
  src/prefect/utilities/asyncio.py
Owners: @madkinsz

Move event loop shutdown callback scheduling logic to avoid duplication
  src/prefect/orion/database/configurations.py
  src/prefect/utilities/asyncio.py
Owners: @madkinsz

await the call
  src/prefect/orion/database/configurations.py
  src/prefect/utilities/asyncio.py
Owners: @madkinsz

await the call
  src/prefect/orion/database/configurations.py
  src/prefect/utilities/asyncio.py
Owners: @madkinsz

Add tests for callbacks
  tests/utilities/test_asyncio.py
Owners: @madkinsz

Add tests for callbacks
  tests/utilities/test_asyncio.py
Owners: @madkinsz

Add test for anyio
  tests/utilities/test_asyncio.py
Owners: @madkinsz

Add test for anyio
  tests/utilities/test_asyncio.py
Owners: @madkinsz

Added boto_kwargs to run method
  src/prefect/tasks/aws/step_function.py
Owners: @desertaxle

Deprecate execution_input in the StepActivate constructor
  src/prefect/tasks/aws/step_function.py
Owners: @desertaxle

Fixed typo in warning
  src/prefect/tasks/aws/step_function.py
Owners: @desertaxle

Add change file
  changes/pr5173.yaml
Owners: @madkinsz

overwriting blob problem solved
  src/prefect/tasks/azure/blobstorage.py
Owners: @desertaxle

Refactored code for Firebolt task library
  src/prefect/tasks/firebolt/firebolt.py
  tests/tasks/firebolt/test_firebolt.py
Owners: @desertaxle

Refactored code for Firebolt task library
  tests/tasks/firebolt/test_firebolt.py
Owners: @desertaxle

Refactored code for Firebolt task library
  tests/tasks/firebolt/test_firebolt.py
Owners: @desertaxle

Refactored code for Firebolt task library
  src/prefect/tasks/firebolt/firebolt.py
  tests/tasks/firebolt/test_firebolt.py
Owners: @desertaxle

Bump vue-compositions version
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @madkinsz

Bump vue-compositions version
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @madkinsz

Add services for flows and flow runs
  orion-ui/src/services/flowRunsApi.ts
  orion-ui/src/services/flowsApi.ts
Owners: @madkinsz

Add services for flows and flow runs
  orion-ui/src/services/flowRunsApi.ts
  orion-ui/src/services/flowsApi.ts
Owners: @madkinsz

Remove unused intervalSeconds prop
  orion-ui/src/components/IntervalBarChart/IntervalBarChart.vue
  orion-ui/src/components/IntervalBarChart/IntervalBarChartCard.vue
Owners: @madkinsz

Remove unused intervalSeconds prop
  orion-ui/src/components/IntervalBarChart/IntervalBarChart.vue
  orion-ui/src/components/IntervalBarChart/IntervalBarChartCard.vue
Owners: @madkinsz

Update the lateness and duration charts to use subscribe
  orion-ui/src/components/IntervalBarChart/IntervalBarChart.vue
  orion-ui/src/components/IntervalBarChart/Types/IntervalBarChartItem.ts
  orion-ui/src/components/StateBucketIntervalBarChart.vue
Owners: @madkinsz

Update the lateness and duration charts to use subscribe
  orion-ui/src/components/IntervalBarChart/IntervalBarChart.vue
  orion-ui/src/components/IntervalBarChart/Types/IntervalBarChartItem.ts
  orion-ui/src/components/StateBucketIntervalBarChart.vue
Owners: @madkinsz

Add global variable notes
  src/prefect/utilities/asyncio.py
Owners: @madkinsz

Add global variable notes
  src/prefect/utilities/asyncio.py
Owners: @madkinsz

Fix run time and lateness average. Closes PrefectHQ/orion#624
  orion-ui/src/components/StateBucketIntervalBarChart.vue
Owners: @madkinsz

Fix run time and lateness average. Closes #624
  orion-ui/src/components/StateBucketIntervalBarChart.vue
Owners: @madkinsz

Add disabled prop and state to RoundedButton. Move styles into component
  orion-ui/src/components/Global/ButtonRounded/ButtonRounded.vue
  orion-ui/src/styles/components/button--rounded.scss
Owners: @madkinsz
