Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

updates for kubernetes tutorial deployments
  docs/tutorials/kubernetes-flow-runner.md
Owners: @tpdorsey

updates for kubernetes tutorial deployments
  docs/tutorials/kubernetes-flow-runner.md
Owners: @tpdorsey

updates for kubernetes tutorial deployments
  docs/tutorials/kubernetes-flow-runner.md
Owners: @tpdorsey

Attempt to add explicit ordering to infrastructure document id
  tests/fixtures/database.py
Owners: @madkinsz

Attempt to add explicit ordering to infrastructure document id
  tests/fixtures/database.py
Owners: @madkinsz

Fix down revision for migration
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_21_133134_e085c9cbf8ce_remove_flow_runners.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_20_113451_2fe8ef6a6514_remove_flow_runners.py
Owners: @anticorrelator

Fix down revision for migration
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_21_133134_e085c9cbf8ce_remove_flow_runners.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_20_113451_2fe8ef6a6514_remove_flow_runners.py
Owners: @anticorrelator

Update docs/index.md
  docs/index.md
Owners: @tpdorsey

Update docs/index.md
  docs/index.md
Owners: @tpdorsey

Fixes an issue where 0 limit work queues weren't respected
  src/prefect/orion/models/work_queues.py
  tests/orion/models/test_work_queues.py
Owners: @zangell44, @madkinsz

Fixes an issue where 0 limit work queues weren't respected
  src/prefect/orion/models/work_queues.py
  tests/orion/models/test_work_queues.py
Owners: @zangell44, @madkinsz

Oops, bad test
  tests/orion/models/test_work_queues.py
Owners: @madkinsz

Oops, bad test
  tests/orion/models/test_work_queues.py
Owners: @madkinsz

Fix block schema references (PrefectHQ/orion#2406)
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/models/block_schemas.py
  src/prefect/orion/schemas/filters.py
  tests/orion/models/test_block_documents.py
  tests/orion/models/test_block_schemas.py
Owners: @zangell44, @madkinsz

Fix block schema references (PrefectHQ/orion#2406)
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/models/block_schemas.py
  src/prefect/orion/schemas/filters.py
  tests/orion/models/test_block_documents.py
  tests/orion/models/test_block_schemas.py
Owners: @zangell44, @madkinsz

Updates copy and links for GA
  README.md
Owners: @madkinsz

Updates copy and links for GA
  README.md
Owners: @madkinsz

Use is not syntax instead of !=
  src/prefect/orion/models/work_queues.py
Owners: @zangell44, @madkinsz

Use is not syntax instead of !=
  src/prefect/orion/models/work_queues.py
Owners: @zangell44, @madkinsz

Remove storage blocks requirements
  requirements.txt
Owners: @madkinsz

Remove storage blocks requirements
  requirements.txt
Owners: @madkinsz

Update the workqueue page to use the new work queue runs component
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/pages/WorkQueue.vue
Owners: @pleek91

Update the workqueue page to use the new work queue runs component
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/pages/WorkQueue.vue
Owners: @pleek91

Auto-create work queues from agent start
  src/prefect/cli/agent.py
Owners: @madkinsz

Auto-create work queues from agent start
  src/prefect/cli/agent.py
Owners: @madkinsz

Hide deployments from work queue creation spec
  src/prefect/cli/work_queue.py
Owners: @madkinsz

Hide deployments from work queue creation spec
  src/prefect/cli/work_queue.py
Owners: @madkinsz

Adjust docs accordingly
  docs/concepts/work-queues.md
  src/prefect/client.py
Owners: @tpdorsey, @madkinsz

Adjust docs accordingly
  docs/concepts/work-queues.md
  src/prefect/client.py
Owners: @tpdorsey, @madkinsz

Format stuff
  src/prefect/cli/agent.py
  src/prefect/client.py
Owners: @madkinsz

Format stuff
  src/prefect/cli/agent.py
  src/prefect/client.py
Owners: @madkinsz

jeez more formatting oh golly
  src/prefect/cli/agent.py
Owners: @madkinsz

jeez more formatting oh golly
  src/prefect/cli/agent.py
Owners: @madkinsz

Error on providing both
  src/prefect/cli/agent.py
Owners: @madkinsz

Error on providing both
  src/prefect/cli/agent.py
Owners: @madkinsz

Use a well layout
  orion-ui/src/pages/WorkQueue.vue
Owners: @pleek91

Use a well layout
  orion-ui/src/pages/WorkQueue.vue
Owners: @pleek91

add block form label
  orion-ui/src/pages/BlocksCatalogCreate.vue
Owners: @pleek91

add block form label
  orion-ui/src/pages/BlocksCatalogCreate.vue
Owners: @pleek91

Remove relative linking
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91
