Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

Apply suggestions from code review
  docs/tutorials/first-steps.md
  docs/tutorials/flow-task-config.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/tutorials/first-steps.md
  docs/tutorials/flow-task-config.md
Owners: @tpdorsey

Revisions based on feedback
  docs/tutorials/first-steps.md
Owners: @tpdorsey

Revisions based on feedback
  docs/tutorials/first-steps.md
Owners: @tpdorsey

Revisions based on feedback
  docs/tutorials/first-steps.md
Owners: @tpdorsey

Rename to `Process`
  src/prefect/__init__.py
  src/prefect/infrastructure/process.py
Owners: @madkinsz

Rename to `Process`
  src/prefect/__init__.py
  src/prefect/infrastructure/process.py
Owners: @madkinsz

Rename to `Process`
  src/prefect/__init__.py
  src/prefect/infrastructure/process.py
Owners: @madkinsz

Add postgres migrations
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_11_170700_112c68143fc3_add_infrastructure_document_id_to_.py
Owners: @anticorrelator

Add postgres migrations
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_11_170700_112c68143fc3_add_infrastructure_document_id_to_.py
Owners: @anticorrelator

Add postgres migrations
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_11_170700_112c68143fc3_add_infrastructure_document_id_to_.py
Owners: @anticorrelator

Add tests for process
  src/prefect/infrastructure/process.py
  tests/infrastructure/test_process.py
Owners: @madkinsz

Add tests for process
  src/prefect/infrastructure/process.py
  tests/infrastructure/test_process.py
Owners: @madkinsz

Add tests for process
  src/prefect/infrastructure/process.py
  tests/infrastructure/test_process.py
Owners: @madkinsz

Add tests for docker container
  src/prefect/infrastructure/base.py
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/process.py
  src/prefect/infrastructure/submission.py
  tests/infrastructure/test_docker_container.py
  tests/infrastructure/test_process.py
Owners: @madkinsz

Add tests for docker container
  src/prefect/infrastructure/base.py
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/process.py
  src/prefect/infrastructure/submission.py
  tests/infrastructure/test_docker_container.py
  tests/infrastructure/test_process.py
Owners: @madkinsz

Add tests for docker container
  src/prefect/infrastructure/base.py
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/process.py
  src/prefect/infrastructure/submission.py
  tests/infrastructure/test_docker_container.py
  tests/infrastructure/test_process.py
Owners: @madkinsz

Fixup null process name output; add mock environment assertion
  src/prefect/infrastructure/process.py
  tests/infrastructure/test_process.py
Owners: @madkinsz

Fixup null process name output; add mock environment assertion
  src/prefect/infrastructure/process.py
  tests/infrastructure/test_process.py
Owners: @madkinsz

Fixup null process name output; add mock environment assertion
  src/prefect/infrastructure/process.py
  tests/infrastructure/test_process.py
Owners: @madkinsz

add note in custom job template docs
  docs/orchestration/agents/kubernetes.md
Owners: @tpdorsey

add job name truncation and test
  src/prefect/agent/kubernetes/agent.py
  tests/agent/test_k8s_agent.py
Owners: @madkinsz

fmt
  tests/agent/test_k8s_agent.py
Owners: @madkinsz

Update CONDA_REQUIREMENT regex to include underscore and dot
  src/prefect/software/conda.py
  tests/software/test_conda.py
Owners: @madkinsz

Update CONDA_REQUIREMENT regex to include underscore and dot
  src/prefect/software/conda.py
  tests/software/test_conda.py
Owners: @madkinsz

Update CONDA_REQUIREMENT regex to include underscore and dot
  src/prefect/software/conda.py
  tests/software/test_conda.py
Owners: @madkinsz

Add cloud tut to tutorials
  mkdocs.yml
Owners: @madkinsz

Add cloud tut to tutorials
  mkdocs.yml
Owners: @madkinsz

Add cloud tut to tutorials
  mkdocs.yml
Owners: @madkinsz

Add descriptive message to prefect work-qeuue create
  src/prefect/cli/work_queue.py
Owners: @madkinsz

Add descriptive message to prefect work-qeuue create
  src/prefect/cli/work_queue.py
Owners: @madkinsz

Add placeholdlers
  src/prefect/cli/agent.py
  src/prefect/cli/deployment.py
Owners: @madkinsz

Add placeholdlers
  src/prefect/cli/agent.py
  src/prefect/cli/deployment.py
Owners: @madkinsz

Add placeholder
  src/prefect/cli/concurrency_limit.py
Owners: @madkinsz

Add placeholder
  src/prefect/cli/concurrency_limit.py
Owners: @madkinsz

Limit db lookups in UpdateStateDetails
  src/prefect/orion/orchestration/global_policy.py
Owners: @anticorrelator

Limit db lookups in UpdateStateDetails
  src/prefect/orion/orchestration/global_policy.py
Owners: @anticorrelator

Limit db lookups in UpdateStateDetails
  src/prefect/orion/orchestration/global_policy.py
Owners: @anticorrelator

Ensure flow run id still in state details
  src/prefect/orion/orchestration/global_policy.py
Owners: @anticorrelator

Ensure flow run id still in state details
  src/prefect/orion/orchestration/global_policy.py
Owners: @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator
