Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cicdw, @desertaxle, @zzstoatzz, @znicholasbrown, @discdiver, @aaazzam, @chrisguidry

fix non `soft_wrap` link in `prefect block register` (#15876)
  src/prefect/cli/block.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Fix redirect
  docs/mint.json
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Begin integrating open telementry instrumentation setup
  docs/3.0/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/settings/models/experiments.py
  src/prefect/telemetry/__init__.py
  src/prefect/telemetry/instrumentation.py
  src/prefect/telemetry/processors.py
  tests/telemetry/test_instrumentation.py
  tests/telemetry/test_processors.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Add support for defining settings via `pyproject.toml` (#15875)
  docs/3.0/develop/settings-and-profiles.mdx
  docs/3.0/develop/settings-ref.mdx
  docs/mint.json
  schemas/settings.schema.json
  src/prefect/cli/config.py
  src/prefect/settings/base.py
  src/prefect/settings/models/api.py
  src/prefect/settings/models/cli.py
  src/prefect/settings/models/client.py
  src/prefect/settings/models/cloud.py
  src/prefect/settings/models/deployments.py
  src/prefect/settings/models/experiments.py
  src/prefect/settings/models/flows.py
  src/prefect/settings/models/internal.py
  src/prefect/settings/models/logging.py
  src/prefect/settings/models/results.py
  src/prefect/settings/models/root.py
  src/prefect/settings/models/runner.py
  src/prefect/settings/models/server/api.py
  src/prefect/settings/models/server/database.py
  src/prefect/settings/models/server/deployments.py
  src/prefect/settings/models/server/ephemeral.py
  src/prefect/settings/models/server/events.py
  src/prefect/settings/models/server/flow_run_graph.py
  src/prefect/settings/models/server/root.py
  src/prefect/settings/models/server/services.py
  src/prefect/settings/models/server/tasks.py
  src/prefect/settings/models/server/ui.py
  src/prefect/settings/models/tasks.py
  src/prefect/settings/models/testing.py
  src/prefect/settings/models/worker.py
  src/prefect/settings/sources.py
  tests/cli/test_config.py
  tests/test_settings.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Add support for defining settings via `pyproject.toml` (#15875)
  docs/3.0/develop/settings-and-profiles.mdx
  docs/3.0/develop/settings-ref.mdx
  docs/mint.json
  schemas/settings.schema.json
  src/prefect/cli/config.py
  src/prefect/settings/base.py
  src/prefect/settings/models/api.py
  src/prefect/settings/models/cli.py
  src/prefect/settings/models/client.py
  src/prefect/settings/models/cloud.py
  src/prefect/settings/models/deployments.py
  src/prefect/settings/models/experiments.py
  src/prefect/settings/models/flows.py
  src/prefect/settings/models/internal.py
  src/prefect/settings/models/logging.py
  src/prefect/settings/models/results.py
  src/prefect/settings/models/root.py
  src/prefect/settings/models/runner.py
  src/prefect/settings/models/server/api.py
  src/prefect/settings/models/server/database.py
  src/prefect/settings/models/server/deployments.py
  src/prefect/settings/models/server/ephemeral.py
  src/prefect/settings/models/server/events.py
  src/prefect/settings/models/server/flow_run_graph.py
  src/prefect/settings/models/server/root.py
  src/prefect/settings/models/server/services.py
  src/prefect/settings/models/server/tasks.py
  src/prefect/settings/models/server/ui.py
  src/prefect/settings/models/tasks.py
  src/prefect/settings/models/testing.py
  src/prefect/settings/models/worker.py
  src/prefect/settings/sources.py
  tests/cli/test_config.py
  tests/test_settings.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Add support for defining settings via `pyproject.toml` (#15875)
  docs/3.0/develop/settings-and-profiles.mdx
  docs/3.0/develop/settings-ref.mdx
  docs/mint.json
  schemas/settings.schema.json
  src/prefect/cli/config.py
  src/prefect/settings/base.py
  src/prefect/settings/models/api.py
  src/prefect/settings/models/cli.py
  src/prefect/settings/models/client.py
  src/prefect/settings/models/cloud.py
  src/prefect/settings/models/deployments.py
  src/prefect/settings/models/experiments.py
  src/prefect/settings/models/flows.py
  src/prefect/settings/models/internal.py
  src/prefect/settings/models/logging.py
  src/prefect/settings/models/results.py
  src/prefect/settings/models/root.py
  src/prefect/settings/models/runner.py
  src/prefect/settings/models/server/api.py
  src/prefect/settings/models/server/database.py
  src/prefect/settings/models/server/deployments.py
  src/prefect/settings/models/server/ephemeral.py
  src/prefect/settings/models/server/events.py
  src/prefect/settings/models/server/flow_run_graph.py
  src/prefect/settings/models/server/root.py
  src/prefect/settings/models/server/services.py
  src/prefect/settings/models/server/tasks.py
  src/prefect/settings/models/server/ui.py
  src/prefect/settings/models/tasks.py
  src/prefect/settings/models/testing.py
  src/prefect/settings/models/worker.py
  src/prefect/settings/sources.py
  tests/cli/test_config.py
  tests/test_settings.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Add settings to control default flow and task result persistence separately
  docs/3.0/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/context.py
  src/prefect/flow_engine.py
  src/prefect/results.py
  src/prefect/settings/models/flows.py
  src/prefect/settings/models/tasks.py
  src/prefect/task_engine.py
  tests/results/test_result_store.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Allow for unpersisted 2-dot-0 result payloads in states
  src/prefect/client/schemas/objects.py
  tests/deployment/test_flow_runs.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Add DbtCloudJob block to top level import
  src/integrations/prefect-dbt/prefect_dbt/__init__.py
Owners: @cicdw, @desertaxle, @zzstoatzz

add demos dir
  demos/3.1.0/main.py
Owners: @cicdw, @desertaxle, @zzstoatzz

This is a combination of 5 commits.
  .gitignore
  demos/3.1.0/Dockerfile
  demos/3.1.0/main.py
  demos/3.1.0/overview.md
  demos/3.1.0/prefect.toml
  demos/3.1.0/requirements.txt
Owners: @cicdw, @desertaxle, @zzstoatzz

Add DbtCloudJob block to top level import (#15880)
  src/integrations/prefect-dbt/prefect_dbt/__init__.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Add DbtCloudJob block to top level import (#15880)
  src/integrations/prefect-dbt/prefect_dbt/__init__.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Add DbtCloudJob block to top level import (#15880)
  src/integrations/prefect-dbt/prefect_dbt/__init__.py
Owners: @cicdw, @desertaxle, @zzstoatzz

update `prefect.toml`
  demos/3.1.0/prefect.toml
Owners: @cicdw, @desertaxle, @zzstoatzz

Only introduce setting for tasks
  docs/3.0/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/context.py
  src/prefect/flow_engine.py
  src/prefect/results.py
  src/prefect/settings/models/flows.py
  src/prefect/settings/models/tasks.py
  src/prefect/task_engine.py
  tests/results/test_result_store.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Add new supported setting
  tests/test_settings.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Update `Settings.copy_with_update` to ignore sources when restoring defaults
  src/prefect/settings/models/root.py
  tests/test_settings.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Moves `experimental_warn` setting to `experiments` model and deprecates `async_fetch_state_result`
  docs/3.0/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/client/schemas/objects.py
  src/prefect/settings/models/experiments.py
  src/prefect/settings/models/root.py
  src/prefect/states.py
  tests/test_settings.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Update @prefecthq/prefect-ui-library to version 3.11.11
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Allow for unpersisted 2.x result payloads in states (#15878)
  src/prefect/client/schemas/objects.py
  tests/deployment/test_flow_runs.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Allow for unpersisted 2.x result payloads in states (#15878)
  src/prefect/client/schemas/objects.py
  tests/deployment/test_flow_runs.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Allow for unpersisted 2.x result payloads in states (#15878)
  src/prefect/client/schemas/objects.py
  tests/deployment/test_flow_runs.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Add settings model for `prefect-kubernetes`
  src/integrations/prefect-kubernetes/prefect_kubernetes/settings.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/pyproject.toml
Owners: @cicdw, @desertaxle, @zzstoatzz

Remove setting out right instead of deprecating0
  docs/3.0/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/integrations/prefect-dask/tests/conftest.py
  src/integrations/prefect-ray/tests/conftest.py
  src/integrations/prefect-sqlalchemy/tests/conftest.py
  src/prefect/settings/models/root.py
  src/prefect/states.py
  tests/conftest.py
  tests/results/test_result_fetch.py
  tests/test_settings.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Add tests
  src/integrations/prefect-kubernetes/tests/test_worker.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Add settings tests
  src/integrations/prefect-kubernetes/prefect_kubernetes/settings.py
  src/integrations/prefect-kubernetes/tests/test_settings.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Update @prefecthq/prefect-ui-library to version 3.11.11 (#15887)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-ui-library to version 3.11.11 (#15887)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-ui-library to version 3.11.11 (#15887)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-design to version 2.14.4 (#15852)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-design to version 2.14.4 (#15852)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-design to version 2.14.4 (#15852)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-ui-library to version 3.11.12
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-ui-library to version 3.11.12 (#15891)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-ui-library to version 3.11.12 (#15891)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-ui-library to version 3.11.12 (#15891)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Mark old setting as legacy
  tests/test_settings.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Dont reuse exc name in nested exception handling
  src/prefect/states.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Update `Settings.copy_with_update` to ignore sources when restoring default settings (#15884)
  src/prefect/settings/models/root.py
  tests/test_settings.py
Owners: @cicdw, @desertaxle, @zzstoatzz

.github/CODEOWNERS:

# global
*                                    @cicdw @desertaxle @zzstoatzz

# ui
/ui                                  @znicholasbrown

# documentation
/docs                                @discdiver @cicdw @desertaxle @zzstoatzz
# imports
/src/prefect/__init__.py              @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz
/src/prefect/main.py                  @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz
