Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Apply suggestions from code review
  docs/concepts/deployments.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/concepts/deployments.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/concepts/deployments.md
Owners: @tpdorsey

Note unsupported croniter features, plus minor fixes
  docs/concepts/schedules.md
Owners: @tpdorsey

Note unsupported croniter features, plus minor fixes
  docs/concepts/schedules.md
Owners: @tpdorsey

Note unsupported croniter features, plus minor fixes
  docs/concepts/schedules.md
Owners: @tpdorsey

Remove debug notification block from core library
  tests/fixtures/database.py
  tests/orion/api/test_flow_run_notification_policies.py
  tests/orion/models/test_flow_run_notification_policies.py
  tests/orion/services/test_flow_run_notifications.py
Owners: @madkinsz

Remove debug notification block from core library
  tests/fixtures/database.py
  tests/orion/api/test_flow_run_notification_policies.py
  tests/orion/models/test_flow_run_notification_policies.py
  tests/orion/services/test_flow_run_notifications.py
Owners: @madkinsz

Remove debug notification block from core library
  tests/fixtures/database.py
  tests/orion/api/test_flow_run_notification_policies.py
  tests/orion/models/test_flow_run_notification_policies.py
  tests/orion/services/test_flow_run_notifications.py
Owners: @madkinsz

Update database.py
  tests/fixtures/database.py
Owners: @madkinsz

Update database.py
  tests/fixtures/database.py
Owners: @madkinsz

Update database.py
  tests/fixtures/database.py
Owners: @madkinsz

update orion-design
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

update orion-design
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

update orion-design
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Update imports
  src/prefect/blocks/notifications.py
  tests/fixtures/database.py
Owners: @madkinsz

Update imports
  src/prefect/blocks/notifications.py
  tests/fixtures/database.py
Owners: @madkinsz

Update imports
  src/prefect/blocks/notifications.py
  tests/fixtures/database.py
Owners: @madkinsz

update package.json to main
  orion-ui/package.json
Owners: @pleek91

update package.json to main
  orion-ui/package.json
Owners: @pleek91

update package.json to main
  orion-ui/package.json
Owners: @pleek91

update lock file
  orion-ui/package-lock.json
Owners: @pleek91

update lock file
  orion-ui/package-lock.json
Owners: @pleek91

update lock file
  orion-ui/package-lock.json
Owners: @pleek91

update version in the correct package.json
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

update version in the correct package.json
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

update version in the correct package.json
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Fixup
  src/prefect/__init__.py
  src/prefect/blocks/kubernetes.py
  src/prefect/blocks/notifications.py
  src/prefect/blocks/storage.py
  src/prefect/blocks/system.py
  src/prefect/packaging/docker.py
  src/prefect/packaging/file.py
  src/prefect/packaging/orion.py
  src/prefect/packaging/serializers.py
  src/prefect/utilities/dispatch.py
  tests/utilities/test_dispatch.py
Owners: @madkinsz

Fixup
  src/prefect/__init__.py
  src/prefect/blocks/kubernetes.py
  src/prefect/blocks/notifications.py
  src/prefect/blocks/storage.py
  src/prefect/blocks/system.py
  src/prefect/packaging/docker.py
  src/prefect/packaging/file.py
  src/prefect/packaging/orion.py
  src/prefect/packaging/serializers.py
  src/prefect/utilities/dispatch.py
  tests/utilities/test_dispatch.py
Owners: @madkinsz

Fixup
  src/prefect/__init__.py
  src/prefect/blocks/kubernetes.py
  src/prefect/blocks/notifications.py
  src/prefect/blocks/storage.py
  src/prefect/blocks/system.py
  src/prefect/packaging/docker.py
  src/prefect/packaging/file.py
  src/prefect/packaging/orion.py
  src/prefect/packaging/serializers.py
  src/prefect/utilities/dispatch.py
  tests/utilities/test_dispatch.py
Owners: @madkinsz

fix: add orion exports (#5899)
  src/prefect/__init__.py
  src/prefect/blocks/__init__.py
  src/prefect/flow_runners/__init__.py
  src/prefect/logging/__init__.py
  src/prefect/orion/schemas/__init__.py
Owners: @madkinsz, @zangell44

Add datafactory tasks (#5921)
  changes/pr5921.yaml
  docs/outline.toml
  setup.py
  src/prefect/tasks/azure/__init__.py
  src/prefect/tasks/azure/datafactory.py
  tests/tasks/azure/test_datafactory.py
Owners: @madkinsz, @tpdorsey

Allow extra arguments to Databricks NewCluster (#5949)
  changes/pr5949.yaml
  src/prefect/tasks/databricks/models.py
  tests/tasks/databricks/test_databricks.py
Owners: @madkinsz

Add single_user_name to Databricks NewCluster (#5903)
  changes/pr5903.yaml
  src/prefect/tasks/databricks/models.py
Owners: @madkinsz

docs: Fix small typo (PrefectHQ/orion#5938)
  docs/concepts/tasks.md
Owners: @tpdorsey

docs: Fix small typo (#5938)
  docs/concepts/tasks.md
Owners: @tpdorsey

docs: Fix small typo (PrefectHQ/orion#5938)
  docs/concepts/tasks.md
Owners: @tpdorsey

Revert "use json() instead of dict() (#5728)" (#5836)
  changes/pr5836.yaml
  src/prefect/tasks/databricks/databricks_submitjob.py
  src/prefect/tasks/databricks/models.py
  tests/tasks/databricks/test_databricks.py
Owners: @madkinsz

fix: add orion exports (#5899)
  src/prefect/__init__.py
  src/prefect/blocks/__init__.py
  src/prefect/flow_runners/__init__.py
  src/prefect/logging/__init__.py
  src/prefect/orion/schemas/__init__.py
Owners: @madkinsz, @zangell44

fix: add orion exports (PrefectHQ/orion#5899)
  src/prefect/__init__.py
  src/prefect/blocks/__init__.py
  src/prefect/flow_runners/__init__.py
  src/prefect/logging/__init__.py
  src/prefect/orion/schemas/__init__.py
Owners: @madkinsz, @zangell44
