Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cicdw, @desertaxle, @zzstoatzz, @znicholasbrown, @discdiver, @aaazzam, @chrisguidry

Update `Settings.copy_with_update` to ignore sources when restoring default settings (#15884)
  src/prefect/settings/models/root.py
  tests/test_settings.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Update `Settings.copy_with_update` to ignore sources when restoring default settings (#15884)
  src/prefect/settings/models/root.py
  tests/test_settings.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Moves `experimental_warn` setting to `experiments` model and removes `async_fetch_state_result` (#15885)
  docs/3.0/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/integrations/prefect-dask/tests/conftest.py
  src/integrations/prefect-ray/tests/conftest.py
  src/integrations/prefect-sqlalchemy/tests/conftest.py
  src/prefect/client/schemas/objects.py
  src/prefect/settings/models/experiments.py
  src/prefect/settings/models/root.py
  src/prefect/states.py
  tests/conftest.py
  tests/results/test_result_fetch.py
  tests/test_settings.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Moves `experimental_warn` setting to `experiments` model and removes `async_fetch_state_result` (#15885)
  docs/3.0/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/integrations/prefect-dask/tests/conftest.py
  src/integrations/prefect-ray/tests/conftest.py
  src/integrations/prefect-sqlalchemy/tests/conftest.py
  src/prefect/client/schemas/objects.py
  src/prefect/settings/models/experiments.py
  src/prefect/settings/models/root.py
  src/prefect/states.py
  tests/conftest.py
  tests/results/test_result_fetch.py
  tests/test_settings.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Moves `experimental_warn` setting to `experiments` model and removes `async_fetch_state_result` (#15885)
  docs/3.0/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/integrations/prefect-dask/tests/conftest.py
  src/integrations/prefect-ray/tests/conftest.py
  src/integrations/prefect-sqlalchemy/tests/conftest.py
  src/prefect/client/schemas/objects.py
  src/prefect/settings/models/experiments.py
  src/prefect/settings/models/root.py
  src/prefect/states.py
  tests/conftest.py
  tests/results/test_result_fetch.py
  tests/test_settings.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Add setting to allow turning of persistence for tasks globally (#15881)
  docs/3.0/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/context.py
  src/prefect/results.py
  src/prefect/settings/models/tasks.py
  src/prefect/task_engine.py
  tests/results/test_result_store.py
  tests/test_settings.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Add setting to allow turning of persistence for tasks globally (#15881)
  docs/3.0/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/context.py
  src/prefect/results.py
  src/prefect/settings/models/tasks.py
  src/prefect/task_engine.py
  tests/results/test_result_store.py
  tests/test_settings.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Add setting to allow turning of persistence for tasks globally (#15881)
  docs/3.0/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/context.py
  src/prefect/results.py
  src/prefect/settings/models/tasks.py
  src/prefect/task_engine.py
  tests/results/test_result_store.py
  tests/test_settings.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Bump minimum `prefect` version
  src/integrations/prefect-kubernetes/pyproject.toml
Owners: @cicdw, @desertaxle, @zzstoatzz

Update prefect-dbt docs
  docs/images/prefect-dbt-summary-artifact.png
  docs/integrations/prefect-dbt/index.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Update docs/integrations/prefect-dbt/index.mdx
  docs/integrations/prefect-dbt/index.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Dont reuse exc name in nested exception handling (#15894)
  src/prefect/states.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Dont reuse exc name in nested exception handling (#15894)
  src/prefect/states.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Dont reuse exc name in nested exception handling (#15894)
  src/prefect/states.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Update prefect-dbt docs (#15895)
  docs/images/prefect-dbt-summary-artifact.png
  docs/integrations/prefect-dbt/index.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Update prefect-dbt docs (#15895)
  docs/images/prefect-dbt-summary-artifact.png
  docs/integrations/prefect-dbt/index.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Update prefect-dbt docs (#15895)
  docs/images/prefect-dbt-summary-artifact.png
  docs/integrations/prefect-dbt/index.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Hard code docs version until we can support versioned docs
  scripts/generate_mintlify_openapi_docs.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Hook `prefect-kubernetes` into setting framework (#15888)
  scripts/generate_mintlify_openapi_docs.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/settings.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/pyproject.toml
  src/integrations/prefect-kubernetes/tests/test_settings.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Hook `prefect-kubernetes` into setting framework (#15888)
  scripts/generate_mintlify_openapi_docs.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/settings.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/pyproject.toml
  src/integrations/prefect-kubernetes/tests/test_settings.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Hook `prefect-kubernetes` into setting framework (#15888)
  scripts/generate_mintlify_openapi_docs.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/settings.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/pyproject.toml
  src/integrations/prefect-kubernetes/tests/test_settings.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Owners: @cicdw, @desertaxle, @zzstoatzz

latest update to 3.1
  docs/mint.json
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

pass vale
  docs/3.1/deploy/static-infrastructure-examples/docker.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Update @prefecthq/prefect-ui-library to version 3.11.13
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

update schema for 3.1 docs
  docs/3.1/api-ref/rest-api/server/schema.json
  scripts/generate_mintlify_openapi_docs.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

manual 3.1 to mint.json
  docs/mint.json
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

all but api and sdk
  docs/mint.json
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

adds api tab to 3.1
  docs/mint.json
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

WIP on collecting integration versions
  src/prefect/client/orchestration.py
  src/prefect/workers/base.py
  tests/client/test_prefect_client.py
  tests/workers/test_base_worker.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Added state change diagram
  docs/3.0/develop/manage-states.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Set `COVERAGE_CORE=sysmon` to speed up test on 3.12
  .github/workflows/python-tests.yaml
Owners: @cicdw, @desertaxle, @zzstoatzz

Set `COVERAGE_CORE=sysmon` to speed up test on 3.12 (#15905)
  .github/workflows/python-tests.yaml
Owners: @cicdw, @desertaxle, @zzstoatzz

Set `COVERAGE_CORE=sysmon` to speed up test on 3.12 (#15905)
  .github/workflows/python-tests.yaml
Owners: @cicdw, @desertaxle, @zzstoatzz

Set `COVERAGE_CORE=sysmon` to speed up test on 3.12 (#15905)
  .github/workflows/python-tests.yaml
Owners: @cicdw, @desertaxle, @zzstoatzz

Use `openapi-ts` to autofetch fetching service layer. (#15556)
  prefect-ui/package-lock.json
  prefect-ui/package.json
  prefect-ui/src/api/prefect.tsx
  prefect-ui/src/api/service.tsx
  prefect-ui/src/main.tsx
  prefect-ui/src/routes/__root.tsx
  prefect-ui/src/routes/flows/flow.$flowId.tsx
  prefect-ui/src/routes/flows/index.tsx
  prefect-ui/tsconfig.app.json
  prefect-ui/tsconfig.json
  prefect-ui/tsconfig.node.json
  prefect-ui/vite.config.ts
  src/prefect/_internal/openapi.yml
Owners: @cicdw, @desertaxle, @zzstoatzz

Adds Flow Detail Actions (#15564)
  prefect-ui/src/routes/flows/flow.$id.tsx
Owners: @cicdw, @desertaxle, @zzstoatzz

Add Zod for Flow SearchParams (#15561)
  prefect-ui/package-lock.json
  prefect-ui/package.json
  prefect-ui/src/routeTree.gen.ts
  prefect-ui/src/routes/flows/flow.$flowId.tsx
  prefect-ui/src/routes/flows/flow.$id.tsx
  prefect-ui/src/routes/flows/index.tsx
Owners: @cicdw, @desertaxle, @zzstoatzz

Update flow.$id.tsx
  prefect-ui/src/routes/flows/flow.$id.tsx
Owners: @cicdw, @desertaxle, @zzstoatzz

rm boilerplate
  prefect-ui/src/App.css
  prefect-ui/src/App.tsx
  prefect-ui/src/main.tsx
  prefect-ui/src/routeTree.gen.ts
  prefect-ui/src/routes/__root.tsx
  prefect-ui/src/routes/flows/flow.$flowId.tsx
  prefect-ui/src/routes/flows/index.tsx
  prefect-ui/vite.config.ts
Owners: @cicdw, @desertaxle, @zzstoatzz

add tanstack router
  prefect-ui/package-lock.json
  prefect-ui/package.json
Owners: @cicdw, @desertaxle, @zzstoatzz

.github/CODEOWNERS:

# global
*                                    @cicdw @desertaxle @zzstoatzz

# ui
/ui                                  @znicholasbrown

# documentation
/docs                                @discdiver @cicdw @desertaxle @zzstoatzz
# imports
/src/prefect/__init__.py              @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz
/src/prefect/main.py                  @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz
