Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @cicdw, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# deployments
/src/prefect/cli/deployment.py       @PrefectHQ/open-source @cicdw
/src/prefect/deployments.py          @PrefectHQ/open-source @cicdw

# ui
/ui                            @pleek91

# documentation
/docs                                @tpdorsey
mkdocs.yml                           @tpdorsey
mkdocs.insiders.yml                  @tpdorsey

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source @anticorrelator

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source @anticorrelator

typo
  src/prefect/server/schemas/actions.py
Owners: @PrefectHQ/open-source, @zangell44

Add release notes for 2.8.3 (#8639)
  RELEASE-NOTES.md
  docs/overrides/main.html
Owners: @PrefectHQ/open-source, @tpdorsey

Add release notes for 2.8.3 (#8639)
  RELEASE-NOTES.md
  docs/overrides/main.html
Owners: @PrefectHQ/open-source, @tpdorsey

Add release notes for 2.8.3 (#8639)
  RELEASE-NOTES.md
  docs/overrides/main.html
Owners: @PrefectHQ/open-source, @tpdorsey

Add support for yaml config strings to `KubernetesClusterConfig`
  src/prefect/blocks/kubernetes.py
  tests/blocks/test_kubernetes_block.py
Owners: @PrefectHQ/open-source

Remove docs publish
  .github/workflows/release.yaml
Owners: @PrefectHQ/open-source

Rename release workflow for Python package
  .github/workflows/python-package.yaml
Owners: @PrefectHQ/open-source

Rename Docker image workflow
  .github/workflows/docker-images.yaml
Owners: @PrefectHQ/open-source

make static analysis pass
  src/prefect/server/schemas/actions.py
Owners: @PrefectHQ/open-source, @zangell44

typo in actions
  src/prefect/server/schemas/actions.py
Owners: @PrefectHQ/open-source, @zangell44

Handle SIGTERM received by agent gracefully
  src/prefect/cli/agent.py
  src/prefect/utilities/processutils.py
  tests/cli/test_start_agent.py
  tests/cli/test_start_server.py
Owners: @PrefectHQ/open-source

Typo
  tests/cli/test_start_server.py
Owners: @PrefectHQ/open-source

Typo
  tests/cli/test_start_agent.py
Owners: @PrefectHQ/open-source

Fix f-strings
  tests/cli/test_start_agent.py
Owners: @PrefectHQ/open-source

Fix agent startup waiting
  tests/cli/test_start_agent.py
Owners: @PrefectHQ/open-source

Amend docstring
  tests/cli/test_start_agent.py
Owners: @PrefectHQ/open-source

Adds tests
  tests/test_deployments.py
Owners: @PrefectHQ/open-source

Typo
  tests/cli/test_start_agent.py
Owners: @PrefectHQ/open-source

Update release workflows (#8644)
  .github/workflows/docker-images.yaml
  .github/workflows/python-package.yaml
Owners: @PrefectHQ/open-source

Update release workflows (#8644)
  .github/workflows/docker-images.yaml
  .github/workflows/python-package.yaml
Owners: @PrefectHQ/open-source

Update release workflows (#8644)
  .github/workflows/docker-images.yaml
  .github/workflows/python-package.yaml
Owners: @PrefectHQ/open-source

Refactor supervisors to manage submission (#8631)
  src/prefect/_internal/concurrency/from_async.py
  src/prefect/_internal/concurrency/from_sync.py
  src/prefect/_internal/concurrency/supervisors.py
Owners: @PrefectHQ/open-source

Refactor supervisors to manage submission (#8631)
  src/prefect/_internal/concurrency/from_async.py
  src/prefect/_internal/concurrency/from_sync.py
  src/prefect/_internal/concurrency/supervisors.py
Owners: @PrefectHQ/open-source

Refactor supervisors to manage submission (#8631)
  src/prefect/_internal/concurrency/from_async.py
  src/prefect/_internal/concurrency/from_sync.py
  src/prefect/_internal/concurrency/supervisors.py
Owners: @PrefectHQ/open-source

Remove parens to match stdlib style
  src/prefect/_internal/concurrency/supervisors.py
  tests/_internal/concurrency/test_supervisors.py
Owners: @PrefectHQ/open-source

Improve supervisor repr for debugging
  src/prefect/_internal/concurrency/from_async.py
  src/prefect/_internal/concurrency/from_sync.py
  src/prefect/_internal/concurrency/supervisors.py
  tests/_internal/concurrency/test_supervisors.py
Owners: @PrefectHQ/open-source

Removes unnecessary if statement
  src/prefect/agent.py
Owners: @PrefectHQ/open-source
