Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cicdw, @desertaxle, @zzstoatzz, @znicholasbrown, @discdiver, @aaazzam, @chrisguidry

.github/CODEOWNERS:

# global
*                                    @cicdw @desertaxle @zzstoatzz

# ui
/ui                                  @znicholasbrown

# documentation
/docs                                @discdiver @cicdw @desertaxle @zzstoatzz
# imports
/src/prefect/__init__.py              @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz
/src/prefect/main.py                  @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz

add `prefect.toml` to `.gitignore`
  .gitignore
Owners: @cicdw, @desertaxle, @zzstoatzz

add `prefect.toml` to `.gitignore` (#15846)
  .gitignore
Owners: @cicdw, @desertaxle, @zzstoatzz

add `prefect.toml` to `.gitignore` (#15846)
  .gitignore
Owners: @cicdw, @desertaxle, @zzstoatzz

add `prefect.toml` to `.gitignore` (#15846)
  .gitignore
Owners: @cicdw, @desertaxle, @zzstoatzz

Add in a settings.experiments module (#15845)
  schemas/settings.schema.json
  src/prefect/settings/models/experiments.py
  src/prefect/settings/models/root.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Add in a settings.experiments module (#15845)
  schemas/settings.schema.json
  src/prefect/settings/models/experiments.py
  src/prefect/settings/models/root.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Add in a settings.experiments module (#15845)
  schemas/settings.schema.json
  src/prefect/settings/models/experiments.py
  src/prefect/settings/models/root.py
Owners: @cicdw, @desertaxle, @zzstoatzz

update worker metadata
  src/prefect/server/api/collections_data/views/aggregate-worker-metadata.json
Owners: @cicdw, @desertaxle, @zzstoatzz

Exclude `experiments` from docs until it has properties
  docs/3.0/develop/settings-ref.mdx
  scripts/generate_settings_ref.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Update label for toml dotted key paths
  docs/3.0/develop/settings-ref.mdx
  scripts/generate_settings_ref.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Fixes pre-commit
  docs/3.0/develop/settings-ref.mdx
  schemas/settings.schema.json
  scripts/generate_settings_ref.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Update @prefecthq/prefect-design to version 2.14.4
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Auto-generate settings reference documentation (#15830)
  .pre-commit-config.yaml
  docs/3.0/develop/settings-and-profiles.mdx
  docs/3.0/develop/settings-ref.mdx
  docs/mint.json
  schemas/settings.schema.json
  scripts/generate_settings_ref.py
  src/prefect/settings/base.py
  src/prefect/settings/models/api.py
  src/prefect/settings/models/cli.py
  src/prefect/settings/models/client.py
  src/prefect/settings/models/cloud.py
  src/prefect/settings/models/deployments.py
  src/prefect/settings/models/flows.py
  src/prefect/settings/models/internal.py
  src/prefect/settings/models/logging.py
  src/prefect/settings/models/results.py
  src/prefect/settings/models/root.py
  src/prefect/settings/models/runner.py
  src/prefect/settings/models/server/api.py
  src/prefect/settings/models/server/database.py
  src/prefect/settings/models/server/deployments.py
  src/prefect/settings/models/server/ephemeral.py
  src/prefect/settings/models/server/events.py
  src/prefect/settings/models/server/flow_run_graph.py
  src/prefect/settings/models/server/root.py
  src/prefect/settings/models/server/services.py
  src/prefect/settings/models/server/tasks.py
  src/prefect/settings/models/server/ui.py
  src/prefect/settings/models/tasks.py
  src/prefect/settings/models/testing.py
  src/prefect/settings/models/worker.py
Owners: @cicdw, @desertaxle, @zzstoatzz, @discdiver

Auto-generate settings reference documentation (#15830)
  .pre-commit-config.yaml
  docs/3.0/develop/settings-and-profiles.mdx
  docs/3.0/develop/settings-ref.mdx
  docs/mint.json
  schemas/settings.schema.json
  scripts/generate_settings_ref.py
  src/prefect/settings/base.py
  src/prefect/settings/models/api.py
  src/prefect/settings/models/cli.py
  src/prefect/settings/models/client.py
  src/prefect/settings/models/cloud.py
  src/prefect/settings/models/deployments.py
  src/prefect/settings/models/flows.py
  src/prefect/settings/models/internal.py
  src/prefect/settings/models/logging.py
  src/prefect/settings/models/results.py
  src/prefect/settings/models/root.py
  src/prefect/settings/models/runner.py
  src/prefect/settings/models/server/api.py
  src/prefect/settings/models/server/database.py
  src/prefect/settings/models/server/deployments.py
  src/prefect/settings/models/server/ephemeral.py
  src/prefect/settings/models/server/events.py
  src/prefect/settings/models/server/flow_run_graph.py
  src/prefect/settings/models/server/root.py
  src/prefect/settings/models/server/services.py
  src/prefect/settings/models/server/tasks.py
  src/prefect/settings/models/server/ui.py
  src/prefect/settings/models/tasks.py
  src/prefect/settings/models/testing.py
  src/prefect/settings/models/worker.py
Owners: @cicdw, @desertaxle, @zzstoatzz, @discdiver

Auto-generate settings reference documentation (#15830)
  .pre-commit-config.yaml
  docs/3.0/develop/settings-and-profiles.mdx
  docs/3.0/develop/settings-ref.mdx
  docs/mint.json
  schemas/settings.schema.json
  scripts/generate_settings_ref.py
  src/prefect/settings/base.py
  src/prefect/settings/models/api.py
  src/prefect/settings/models/cli.py
  src/prefect/settings/models/client.py
  src/prefect/settings/models/cloud.py
  src/prefect/settings/models/deployments.py
  src/prefect/settings/models/flows.py
  src/prefect/settings/models/internal.py
  src/prefect/settings/models/logging.py
  src/prefect/settings/models/results.py
  src/prefect/settings/models/root.py
  src/prefect/settings/models/runner.py
  src/prefect/settings/models/server/api.py
  src/prefect/settings/models/server/database.py
  src/prefect/settings/models/server/deployments.py
  src/prefect/settings/models/server/ephemeral.py
  src/prefect/settings/models/server/events.py
  src/prefect/settings/models/server/flow_run_graph.py
  src/prefect/settings/models/server/root.py
  src/prefect/settings/models/server/services.py
  src/prefect/settings/models/server/tasks.py
  src/prefect/settings/models/server/ui.py
  src/prefect/settings/models/tasks.py
  src/prefect/settings/models/testing.py
  src/prefect/settings/models/worker.py
Owners: @cicdw, @desertaxle, @zzstoatzz, @discdiver

Update 'Configure settings and profiles' doc to include `prefect.toml` support
  docs/3.0/develop/settings-and-profiles.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Update wording
  docs/3.0/develop/settings-and-profiles.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Addresses review comments
  docs/3.0/develop/settings-and-profiles.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Ran pre-commit
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Update test to respx
  tests/workers/test_base_worker.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Adds in the ability for the client to get a remote_id from the server
  src/prefect/client/orchestration.py
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Updates settings
  src/prefect/settings/models/worker.py
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Make the return_id not be in the request if we're not asking for it for backward compatibility
  src/prefect/client/orchestration.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Updates sync heartbeat to check that we're conencted to cloud
  src/prefect/workers/base.py
Owners: @cicdw, @desertaxle, @zzstoatzz

renames _remote_id to backend_id
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Updates the settings to use 'experiments' rather than the SCREAMING_SNAKE_CASE
  schemas/settings.schema.json
  src/prefect/settings/models/experiments.py
  src/prefect/settings/models/worker.py
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Ran pre-commit
  src/prefect/client/orchestration.py
  tests/workers/test_base_worker.py
Owners: @cicdw, @desertaxle, @zzstoatzz

updates logic on when to get id
  src/prefect/workers/base.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Updates test_settings.py
  tests/test_settings.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Ran pre-commit
  src/prefect/client/orchestration.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Updates to have better checks for if we're running against cloud
  src/prefect/client/orchestration.py
  src/prefect/workers/base.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Updates orchestration to not fail if running in a test
  src/prefect/client/orchestration.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Updates settings docs
  docs/3.0/develop/settings-ref.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Update 'Configure settings and profiles' documentation to include `prefect.toml` support (#15847)
  docs/3.0/develop/settings-and-profiles.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Update 'Configure settings and profiles' documentation to include `prefect.toml` support (#15847)
  docs/3.0/develop/settings-and-profiles.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Update 'Configure settings and profiles' documentation to include `prefect.toml` support (#15847)
  docs/3.0/develop/settings-and-profiles.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

rebase
  docs/3.0/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/cli/server.py
  src/prefect/server/api/server.py
  src/prefect/settings/models/server/root.py
  src/prefect/settings/models/server/uvicorn.py
  tests/cli/test_start_server.py
  tests/server/api/test_server.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

fix default
  schemas/settings.schema.json
  src/prefect/cli/server.py
  src/prefect/server/api/server.py
  src/prefect/settings/models/server/uvicorn.py
  tests/server/api/test_server.py
Owners: @cicdw, @desertaxle, @zzstoatzz

rebase
  docs/3.0/develop/settings-ref.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

stop
  docs/3.0/develop/settings-ref.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz
