Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Update docs/contributing/style.md
  docs/contributing/style.md
Owners: @tpdorsey

Update docs/contributing/style.md
  docs/contributing/style.md
Owners: @tpdorsey

Update docs/contributing/style.md
  docs/contributing/style.md
Owners: @tpdorsey

Update style.md
  docs/contributing/style.md
Owners: @tpdorsey

Update style.md
  docs/contributing/style.md
Owners: @tpdorsey

Update style.md
  docs/contributing/style.md
Owners: @tpdorsey

Add test coverage; fix flow run creation for deployments
  src/prefect/client.py
  src/prefect/orion/api/deployments.py
  tests/infrastructure/test_submission.py
  tests/test_agent.py
  tests/test_client.py
Owners: @madkinsz, @zangell44

Add test coverage; fix flow run creation for deployments
  src/prefect/client.py
  src/prefect/orion/api/deployments.py
  tests/infrastructure/test_submission.py
  tests/test_agent.py
  tests/test_client.py
Owners: @madkinsz, @zangell44

Add test coverage; fix flow run creation for deployments
  src/prefect/client.py
  src/prefect/orion/api/deployments.py
  tests/infrastructure/test_submission.py
  tests/test_agent.py
  tests/test_client.py
Owners: @madkinsz, @zangell44

Properly handle client connection errors
  src/prefect/cli/profile.py
Owners: @madkinsz

Properly handle client connection errors
  src/prefect/cli/profile.py
Owners: @madkinsz

Add profile connection check tests
  tests/cli/test_profile.py
Owners: @madkinsz

Add profile connection check tests
  tests/cli/test_profile.py
Owners: @madkinsz

isort
  src/prefect/cli/cloud.py
  src/prefect/cli/profile.py
  tests/cli/test_profile.py
Owners: @madkinsz

isort
  src/prefect/cli/cloud.py
  src/prefect/cli/profile.py
  tests/cli/test_profile.py
Owners: @madkinsz

Update linting
  src/prefect/cli/deployment.py
Owners: @madkinsz

Update linting
  src/prefect/cli/deployment.py
Owners: @madkinsz

Update linting
  src/prefect/cli/deployment.py
Owners: @madkinsz

Change interface so that `.map` always performs a `submit`
  src/prefect/engine.py
  src/prefect/tasks.py
  tests/test_tasks.py
Owners: @madkinsz

Change interface so that `.map` always performs a `submit`
  src/prefect/engine.py
  src/prefect/tasks.py
  tests/test_tasks.py
Owners: @madkinsz

Change interface so that `.map` always performs a `submit`
  src/prefect/engine.py
  src/prefect/tasks.py
  tests/test_tasks.py
Owners: @madkinsz

Use raw string for compiling regex
  src/prefect/cli/cloud.py
Owners: @madkinsz

Use raw string for compiling regex
  src/prefect/cli/cloud.py
Owners: @madkinsz

Fix process display name
  src/prefect/infrastructure/process.py
Owners: @madkinsz

Fix process display name
  src/prefect/infrastructure/process.py
Owners: @madkinsz

Fix process display name
  src/prefect/infrastructure/process.py
Owners: @madkinsz

Fix process pid assertion
  tests/infrastructure/test_process.py
Owners: @madkinsz

Fix process pid assertion
  tests/infrastructure/test_process.py
Owners: @madkinsz

Fix process pid assertion
  tests/infrastructure/test_process.py
Owners: @madkinsz

Remove automatic idempotency for anonymous blocks
  src/prefect/blocks/core.py
  src/prefect/orion/api/block_documents.py
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/schemas/actions.py
  tests/blocks/test_core.py
  tests/orion/api/test_block_documents.py
  tests/orion/models/test_block_documents.py
Owners: @madkinsz, @zangell44

Remove automatic idempotency for anonymous blocks
  src/prefect/blocks/core.py
  src/prefect/orion/api/block_documents.py
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/schemas/actions.py
  tests/blocks/test_core.py
  tests/orion/api/test_block_documents.py
  tests/orion/models/test_block_documents.py
Owners: @madkinsz, @zangell44

Remove automatic idempotency for anonymous blocks
  src/prefect/blocks/core.py
  src/prefect/orion/api/block_documents.py
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/schemas/actions.py
  tests/blocks/test_core.py
  tests/orion/api/test_block_documents.py
  tests/orion/models/test_block_documents.py
Owners: @madkinsz, @zangell44

Fix deployment tests
  src/prefect/infrastructure/process.py
  src/prefect/utilities/filesystem.py
  tests/deployments/test_deployment.py
  tests/infrastructure/test_docker_container.py
Owners: @madkinsz

Fix deployment tests
  src/prefect/infrastructure/process.py
  src/prefect/utilities/filesystem.py
  tests/deployments/test_deployment.py
  tests/infrastructure/test_docker_container.py
Owners: @madkinsz

Fix deployment tests
  src/prefect/infrastructure/process.py
  src/prefect/utilities/filesystem.py
  tests/deployments/test_deployment.py
  tests/infrastructure/test_docker_container.py
Owners: @madkinsz

Add client tests for ephemeral app check
  src/prefect/client.py
  tests/test_client.py
Owners: @madkinsz

Add client tests for ephemeral app check
  src/prefect/client.py
  tests/test_client.py
Owners: @madkinsz

:black_circle:
  src/prefect/orion/api/block_documents.py
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/schemas/actions.py
  tests/blocks/test_core.py
Owners: @zangell44, @madkinsz

:black_circle:
  src/prefect/orion/api/block_documents.py
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/schemas/actions.py
  tests/blocks/test_core.py
Owners: @zangell44, @madkinsz

:black_circle:
  src/prefect/orion/api/block_documents.py
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/schemas/actions.py
  tests/blocks/test_core.py
Owners: @zangell44, @madkinsz
