Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @desertaxle, @tpdorsey

.github/CODEOWNERS:

# global owners
*                           @madkinsz

# task library owners
/src/prefect/tasks          @desertaxle
/tests/tasks                @desertaxle
/docs/core/task_library     @desertaxle

# documentation owners
/docs                       @tpdorsey

Update settings.py
  src/prefect/utilities/settings.py
Owners: @madkinsz

Fixup test mocks
  tests/test_agent.py
Owners: @madkinsz

Fixup test mocks
  tests/test_agent.py
Owners: @madkinsz

Add test covering server returned SCHEDULED state
  tests/test_agent.py
Owners: @madkinsz

Add test covering server returned SCHEDULED state
  tests/test_agent.py
Owners: @madkinsz

Add failed state proposal if submission fails
  src/prefect/agent.py
Owners: @madkinsz

Add failed state proposal if submission fails
  src/prefect/agent.py
Owners: @madkinsz

Add tests for failure proposal
  tests/test_agent.py
Owners: @madkinsz

Add tests for failure proposal
  tests/test_agent.py
Owners: @madkinsz

The AWS provided policy for ECS is `AmazonECSTaskExecutionRolePolicy` not `AmazonECSTaskExecutionPolicy` (#5243)
  docs/orchestration/agents/ecs.md
Owners: @tpdorsey

Fix some invalid markup
  README.md
  docs/core/task_library/overview.md
Owners: @madkinsz, @tpdorsey

Fix some broken window/document references, add quotes around width
  docs/.vuepress/enhanceApp.js
  docs/generate_docs.py
Owners: @tpdorsey

Update entrypoint display
  scripts/entrypoint.sh
Owners: @madkinsz

Update entrypoint display
  scripts/entrypoint.sh
Owners: @madkinsz

Reorganize docker agent functions
  src/prefect/flow_runners.py
Owners: @madkinsz

Reorganize docker agent functions
  src/prefect/flow_runners.py
Owners: @madkinsz

A collection of fixups
  requirements.txt
  src/prefect/client.py
  src/prefect/flow_runners.py
Owners: @madkinsz

A collection of fixups
  requirements.txt
  src/prefect/client.py
  src/prefect/flow_runners.py
Owners: @madkinsz

Ensure max length is not exceeded
  src/prefect/flow_runners.py
Owners: @madkinsz

Ensure max length is not exceeded
  src/prefect/flow_runners.py
Owners: @madkinsz

Improve comment
  src/prefect/flow_runners.py
Owners: @madkinsz

Improve comment
  src/prefect/flow_runners.py
Owners: @madkinsz

Fixup missing ,
  src/prefect/flow_runners.py
Owners: @madkinsz

Fixup missing ,
  src/prefect/flow_runners.py
Owners: @madkinsz

Cleanup displays for `_get_image`
  src/prefect/flow_runners.py
Owners: @madkinsz

Cleanup displays for `_get_image`
  src/prefect/flow_runners.py
Owners: @madkinsz

Remove developer settings and volumes
  src/prefect/flow_runners.py
  src/prefect/utilities/settings.py
Owners: @madkinsz

Remove developer settings and volumes
  src/prefect/flow_runners.py
  src/prefect/utilities/settings.py
Owners: @madkinsz

Add instructions to save tutorial flow to a file for following steps.
  docs/orchestration/getting-started/basic-core-flow.md
  docs/orchestration/getting-started/registering-and-running-a-flow.md
Owners: @tpdorsey

Abstract client retrieval
  src/prefect/flow_runners.py
Owners: @madkinsz

Abstract client retrieval
  src/prefect/flow_runners.py
Owners: @madkinsz

Chain exception
  src/prefect/flow_runners.py
Owners: @madkinsz

Chain exception
  src/prefect/flow_runners.py
Owners: @madkinsz

Remove ephemeral check
  src/prefect/client.py
  src/prefect/flow_runners.py
Owners: @madkinsz

Remove ephemeral check
  src/prefect/client.py
  src/prefect/flow_runners.py
Owners: @madkinsz

Revert "Prevent the agent from double submitting flow runs that submit successfully"
  src/prefect/agent.py
Owners: @madkinsz

Revert "Prevent the agent from double submitting flow runs that submit successfully"
  src/prefect/agent.py
Owners: @madkinsz

Replace localhost in the database connection and orion host
  src/prefect/flow_runners.py
Owners: @madkinsz

Replace localhost in the database connection and orion host
  src/prefect/flow_runners.py
Owners: @madkinsz

Add an icon prop to ListItem to DRY up icon styling
  orion-ui/src/components/Global/List/ListItem/ListItem.vue
Owners: @madkinsz
