Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @pleek91, @PrefectHQ/docs

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# ui
/ui                            @pleek91

# documentation
/docs                                @PrefectHQ/docs
mkdocs.yml                           @PrefectHQ/docs
mkdocs.insiders.yml                  @PrefectHQ/docs

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source 

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source

a dash extra
  tests/test_logging.py
Owners: @PrefectHQ/open-source

Initial commit
  tests/test_logging.py
Owners: @PrefectHQ/open-source

Fix tests
  tests/test_logging.py
Owners: @PrefectHQ/open-source

Fixes old reference in docstring
  src/prefect/settings.py
Owners: @PrefectHQ/open-source

Speed up the logs query (#9035)
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_04_04_132534_3bf47e3ce2dd_add_index_on_log.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_04_115150_553920ec20e9_add_index_on_log.py
  src/prefect/server/database/orm_models.py
Owners: @PrefectHQ/open-source

Speed up the logs query (#9035)
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_04_04_132534_3bf47e3ce2dd_add_index_on_log.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_04_115150_553920ec20e9_add_index_on_log.py
  src/prefect/server/database/orm_models.py
Owners: @PrefectHQ/open-source

Speed up the logs query (#9035)
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_04_04_132534_3bf47e3ce2dd_add_index_on_log.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_04_115150_553920ec20e9_add_index_on_log.py
  src/prefect/server/database/orm_models.py
Owners: @PrefectHQ/open-source

Add note to test
  tests/test_logging.py
Owners: @PrefectHQ/open-source

fix bullet list
  docs/contributing/overview.md
Owners: @PrefectHQ/docs

Drain on reset
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

Bump event wait time to 10s for CI
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

add variables table
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_04_04_134520_310dda75f561_add_variables.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_04_134301_3d46e23593d6_add_variables.py
  src/prefect/server/database/orm_models.py
Owners: @PrefectHQ/open-source

Fix other test
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

add missing property
  src/prefect/server/database/interface.py
Owners: @PrefectHQ/open-source

Updates concept doc for workers
  docs/concepts/work-pools.md
  docs/img/ui/process-work-pool-config.png
  src/prefect/cli/worker.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

fix type hint
  src/prefect/server/database/orm_models.py
Owners: @PrefectHQ/open-source

Updates side nav
  mkdocs.yml
Owners: @PrefectHQ/docs

Add sequential exec for mapp tasks /w seq task runner
  src/prefect/engine.py
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Update tests
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Remove typo
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Skip tests to see if this causes the timeout
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Remove skips
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Fix instrument test assertions to run after a client is present
  tests/events/test_events_instrument.py
Owners: @PrefectHQ/open-source

add db migration doc (#9044)
  docs/concepts/database.md
  docs/contributing/overview.md
Owners: @PrefectHQ/docs

add db migration doc (#9044)
  docs/concepts/database.md
  docs/contributing/overview.md
Owners: @PrefectHQ/docs

add db migration doc (#9044)
  docs/concepts/database.md
  docs/contributing/overview.md
Owners: @PrefectHQ/docs

add to migration notes
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
Owners: @PrefectHQ/open-source

Fixes value_callback inputs and moves up with rest of value_callbacks
  src/prefect/settings.py
Owners: @PrefectHQ/open-source

fix migration order
  src/prefect/server/database/migrations/versions/postgresql/2023_04_04_172310_6a1eb3d442e4_add_cols_to_artifact_collection.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_04_172555_3e1eb8281d5e_add_cols_to_artifact_collection.py
Owners: @PrefectHQ/open-source

Update task runs without completed upstreams to be placed in FAILED state instead of PENDING
  src/prefect/engine.py
  src/prefect/testing/standard_test_suites/task_runners.py
  tests/test_engine.py
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Add variables concept docs
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

Add debug logs
  src/prefect/_internal/concurrency/services.py
Owners: @PrefectHQ/open-source

Update variables.md
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

apply suggestions from nebula code review
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/filters.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

Add debug logs to batched service
  src/prefect/_internal/concurrency/services.py
Owners: @PrefectHQ/open-source

Update variables.md
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

remove filter that has the join
  src/prefect/server/schemas/filters.py
Owners: @PrefectHQ/open-source, @zangell44

Update variables.md
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

variables model funcs
  src/prefect/server/models/__init__.py
  src/prefect/server/models/variables.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/sorting.py
  tests/server/models/test_variables.py
Owners: @PrefectHQ/open-source, @zangell44

Add columns to ArtifactCollection (#9061)
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_04_04_172310_6a1eb3d442e4_add_cols_to_artifact_collection.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_04_172555_3e1eb8281d5e_add_cols_to_artifact_collection.py
  src/prefect/server/database/orm_models.py
Owners: @PrefectHQ/open-source
