Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Return flow state determination section
  docs/concepts/flows.md
Owners: @tpdorsey

Very close to complete deployment experience
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
  src/prefect/filesystems.py
  src/prefect/manifests.py
Owners: @madkinsz

Very close to complete deployment experience
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
  src/prefect/filesystems.py
  src/prefect/manifests.py
Owners: @madkinsz

Disable signal handling for telemetry tests
  src/prefect/orion/services/telemetry.py
  tests/orion/services/test_telemetry.py
Owners: @zangell44, @madkinsz

Disable signal handling for telemetry tests
  src/prefect/orion/services/telemetry.py
  tests/orion/services/test_telemetry.py
Owners: @zangell44, @madkinsz

Ensure that scheduling operations are always working timezone-aware datetimes.
  src/prefect/orion/schemas/schedules.py
  tests/orion/schemas/test_schedules.py
Owners: @zangell44, @madkinsz

Ensure that scheduling operations are always working timezone-aware datetimes.
  src/prefect/orion/schemas/schedules.py
  tests/orion/schemas/test_schedules.py
Owners: @zangell44, @madkinsz

Intercept Prefect 1 imports and raise a UserWarning
  src/prefect/__init__.py
Owners: @madkinsz

Intercept Prefect 1 imports and raise a UserWarning
  src/prefect/__init__.py
Owners: @madkinsz

Adds `prefect block register` CLI command (PrefectHQ/orion#2456)
  src/prefect/blocks/core.py
  src/prefect/cli/__init__.py
  src/prefect/cli/block.py
  src/prefect/client.py
  tests/blocks/test_core.py
  tests/cli/test_block.py
Owners: @madkinsz

Adds `prefect block register` CLI command (PrefectHQ/orion#2456)
  src/prefect/blocks/core.py
  src/prefect/cli/__init__.py
  src/prefect/cli/block.py
  src/prefect/client.py
  tests/blocks/test_core.py
  tests/cli/test_block.py
Owners: @madkinsz

Only copy settings when necessary
  src/prefect/cli/cloud.py
Owners: @madkinsz

Only copy settings when necessary
  src/prefect/cli/cloud.py
Owners: @madkinsz

Deployments loaded directly to from yaml
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
Owners: @madkinsz

Deployments loaded directly to from yaml
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
Owners: @madkinsz

Expose infra blocks
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
Owners: @madkinsz

Expose infra blocks
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
Owners: @madkinsz

Implement `return_state` for task and flow calls
  src/prefect/flows.py
  src/prefect/tasks.py
  src/prefect/utilities/callables.py
  tests/test_flows.py
  tests/test_tasks.py
Owners: @madkinsz

Implement `return_state` for task and flow calls
  src/prefect/flows.py
  src/prefect/tasks.py
  src/prefect/utilities/callables.py
  tests/test_flows.py
  tests/test_tasks.py
Owners: @madkinsz

Blocks are wired up
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
Owners: @madkinsz

Blocks are wired up
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
Owners: @madkinsz

Use `find_spec` instead of `find_module`
  src/prefect/__init__.py
  tests/test_import_interceptor.py
Owners: @madkinsz

Use `find_spec` instead of `find_module`
  src/prefect/__init__.py
  tests/test_import_interceptor.py
Owners: @madkinsz

Update `return_state` docstrings to mention error handling
  src/prefect/flows.py
  src/prefect/tasks.py
Owners: @madkinsz

Update `return_state` docstrings to mention error handling
  src/prefect/flows.py
  src/prefect/tasks.py
Owners: @madkinsz

Improve `prefect cloud login`
  src/prefect/cli/cloud.py
Owners: @madkinsz

Improve `prefect cloud login`
  src/prefect/cli/cloud.py
Owners: @madkinsz

Wire up client
  src/prefect/client.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
Owners: @madkinsz, @zangell44

Wire up client
  src/prefect/client.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
Owners: @madkinsz, @zangell44

Begin moving flow runners to infrastructure
  docs/concepts/infrastructure.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Begin moving flow runners to infrastructure
  docs/concepts/infrastructure.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Update new profile with cloud login details
  src/prefect/cli/cloud.py
Owners: @madkinsz

Update new profile with cloud login details
  src/prefect/cli/cloud.py
Owners: @madkinsz

Docs: Edits to concepts docs (PrefectHQ/orion#2462)
  docs/concepts/database.md
  docs/concepts/logs.md
  docs/concepts/settings.md
  docs/concepts/states.md
  docs/concepts/work-queues.md
  docs/img/ui/work-queue-create.png
Owners: @tpdorsey

Docs: Edits to concepts docs (PrefectHQ/orion#2462)
  docs/concepts/database.md
  docs/concepts/logs.md
  docs/concepts/settings.md
  docs/concepts/states.md
  docs/concepts/work-queues.md
  docs/img/ui/work-queue-create.png
Owners: @tpdorsey

Deployment creation via API is working
  src/prefect/client.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_25_133637_add97ce1937d_update_deployments_to_include_more_.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_131028_88c2112b668f_update_deployments_to_include_more_.py
  src/prefect/orion/database/orm_models.py
Owners: @madkinsz, @anticorrelator

Deployment creation via API is working
  src/prefect/client.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_25_133637_add97ce1937d_update_deployments_to_include_more_.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_131028_88c2112b668f_update_deployments_to_include_more_.py
  src/prefect/orion/database/orm_models.py
Owners: @madkinsz, @anticorrelator

Fixed notifications screenshot
  docs/img/ui/orion-create-slack-notification.png
Owners: @tpdorsey

Fixed notifications screenshot
  docs/img/ui/orion-create-slack-notification.png
Owners: @tpdorsey

Update work queues screenshots and instructions
  docs/img/ui/work-queue-details.png
  docs/ui/work-queues.md
Owners: @tpdorsey
