Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cicdw, @desertaxle, @zzstoatzz, @znicholasbrown, @discdiver, @aaazzam, @chrisguidry

.github/CODEOWNERS:

# global
*                                    @cicdw @desertaxle @zzstoatzz

# ui
/ui                                  @znicholasbrown

# documentation
/docs                                @discdiver @cicdw @desertaxle @zzstoatzz
# imports
/src/prefect/__init__.py              @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz
/src/prefect/main.py                  @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz

wip
  src/integrations/prefect-dask/prefect_dask/__init__.py
  src/integrations/prefect-dask/prefect_dask/task_runners.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Add in WorkerAPILogger and related functionality (#15864)
  src/prefect/logging/handlers.py
  src/prefect/logging/loggers.py
  src/prefect/logging/logging.yml
  src/prefect/workers/base.py
  tests/test_logging.py
  tests/workers/test_base_worker.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Add in WorkerAPILogger and related functionality (#15864)
  src/prefect/logging/handlers.py
  src/prefect/logging/loggers.py
  src/prefect/logging/logging.yml
  src/prefect/workers/base.py
  tests/test_logging.py
  tests/workers/test_base_worker.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Add in WorkerAPILogger and related functionality (#15864)
  src/prefect/logging/handlers.py
  src/prefect/logging/loggers.py
  src/prefect/logging/logging.yml
  src/prefect/workers/base.py
  tests/test_logging.py
  tests/workers/test_base_worker.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Reverts back to backend_id
  src/prefect/workers/base.py
Owners: @cicdw, @desertaxle, @zzstoatzz

adds in flow run log
  src/prefect/workers/base.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Updates this to put it behind `experiments.worker_logging_to_api_enabled`
  src/prefect/workers/base.py
Owners: @cicdw, @desertaxle, @zzstoatzz

use flexible schema for worker metadata
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/objects.py
  src/prefect/workers/base.py
  tests/client/test_prefect_client.py
  tests/workers/test_base_worker.py
Owners: @cicdw, @desertaxle, @zzstoatzz

add test for custom metadata
  tests/workers/test_base_worker.py
Owners: @cicdw, @desertaxle, @zzstoatzz

guard against null client
  src/prefect/workers/base.py
Owners: @cicdw, @desertaxle, @zzstoatzz

fix extra loggers parsing
  src/prefect/settings/models/logging.py
  src/prefect/types/__init__.py
  tests/test_settings.py
Owners: @cicdw, @desertaxle, @zzstoatzz

rm unused imports
  src/prefect/types/__init__.py
  tests/test_settings.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Enable PREFECT_PROFILES_PATH in env file to take effect
  src/prefect/settings/sources.py
  tests/test_settings.py
Owners: @cicdw, @desertaxle, @zzstoatzz

fix extra loggers parsing (#15913)
  src/prefect/settings/models/logging.py
  src/prefect/types/__init__.py
  tests/test_settings.py
Owners: @cicdw, @desertaxle, @zzstoatzz

fix extra loggers parsing (#15913)
  src/prefect/settings/models/logging.py
  src/prefect/types/__init__.py
  tests/test_settings.py
Owners: @cicdw, @desertaxle, @zzstoatzz

fix extra loggers parsing (#15913)
  src/prefect/settings/models/logging.py
  src/prefect/types/__init__.py
  tests/test_settings.py
Owners: @cicdw, @desertaxle, @zzstoatzz

add "force sync" escape hatch
  src/prefect/_internal/compatibility/async_dispatch.py
  tests/_internal/compatibility/test_async_dispatch.py
Owners: @cicdw, @desertaxle, @zzstoatzz

update name to `async_dispatch`
  src/prefect/_internal/compatibility/async_dispatch.py
  tests/_internal/compatibility/test_async_dispatch.py
Owners: @cicdw, @desertaxle, @zzstoatzz

add internal `async_compatible` util
  src/prefect/_internal/compatibility/async_compatible.py
  tests/_internal/compatibility/test_async_compatible.py
Owners: @cicdw, @desertaxle, @zzstoatzz

fix table formatting
  docs/3.0/manage/cloud/manage-users/manage-roles.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

add internal `async_dispatch` util (#15813)
  src/prefect/_internal/compatibility/async_dispatch.py
  tests/_internal/compatibility/test_async_dispatch.py
Owners: @cicdw, @desertaxle, @zzstoatzz

add internal `async_dispatch` util (#15813)
  src/prefect/_internal/compatibility/async_dispatch.py
  tests/_internal/compatibility/test_async_dispatch.py
Owners: @cicdw, @desertaxle, @zzstoatzz

add internal `async_dispatch` util (#15813)
  src/prefect/_internal/compatibility/async_dispatch.py
  tests/_internal/compatibility/test_async_dispatch.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Fix table formatting in Roles doc (#15918)
  docs/3.0/manage/cloud/manage-users/manage-roles.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Fix table formatting in Roles doc (#15918)
  docs/3.0/manage/cloud/manage-users/manage-roles.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Fix table formatting in Roles doc (#15918)
  docs/3.0/manage/cloud/manage-users/manage-roles.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Adds in initial pass at worker docs
  docs/3.0/deploy/infrastructure-concepts/workers.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Make linting more strict and fix errors
  scripts/generate_oss_openapi_schema.py
  ui-v2/eslint.config.js
  ui-v2/src/api/prefect.tsx
  ui-v2/src/api/service.tsx
  ui-v2/src/components/flows/cells.tsx
  ui-v2/src/components/flows/data-table.tsx
  ui-v2/src/components/flows/detail/deployment-columns.tsx
  ui-v2/src/components/flows/detail/index.tsx
  ui-v2/src/components/ui/breadcrumb.tsx
  ui-v2/src/components/ui/calendar.tsx
  ui-v2/src/components/ui/chart.tsx
  ui-v2/src/components/ui/checkbox.tsx
  ui-v2/src/components/ui/data-table.tsx
  ui-v2/src/components/ui/dropdown-menu.tsx
  ui-v2/src/components/ui/hover-card.tsx
  ui-v2/src/components/ui/input.tsx
  ui-v2/src/components/ui/pagination.tsx
  ui-v2/src/components/ui/popover.tsx
  ui-v2/src/components/ui/scroll-area.tsx
  ui-v2/src/components/ui/select.tsx
  ui-v2/src/components/ui/table.tsx
  ui-v2/src/components/ui/tabs.tsx
  ui-v2/src/components/ui/toast.tsx
  ui-v2/src/components/ui/tooltip.tsx
Owners: @cicdw, @desertaxle, @zzstoatzz

Actually add the new workflow
  .github/workflows/ui-v2-checks.yml
Owners: @cicdw, @desertaxle, @zzstoatzz

Update @prefecthq/prefect-ui-library to version 3.11.14
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-ui-library to version 3.11.14 (#15921)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-ui-library to version 3.11.14 (#15921)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-ui-library to version 3.11.14 (#15921)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown
