Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cicdw, @desertaxle, @zzstoatzz, @znicholasbrown, @kevingrismore, @aaazzam, @chrisguidry, @devinvillarosa

.github/CODEOWNERS:

# global
*                                    @cicdw @desertaxle @zzstoatzz

# ui
/ui                                  @znicholasbrown

# integrations
/src/integrations/prefect-dbt        @cicdw @desertaxle @zzstoatzz @kevingrismore

# imports
/src/prefect/__init__.py             @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz
/src/prefect/main.py                 @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz

# UI Replatform
/ui-v2                               @aaazzam @desertaxle @devinvillarosa
/ui-v2/src/api/prefect.ts            @cicdw @desertaxle @zzstoatzz

Fix block parameter resolution
  src/prefect/deployments/steps/core.py
  src/prefect/utilities/templating.py
  tests/utilities/test_templating.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Rename WorkPoolInformationStep to InformationStep and add index file
  ui-v2/src/components/work-pools/create/information-step/index.ts
  ui-v2/src/components/work-pools/create/information-step/information-step.stories.tsx
  ui-v2/src/components/work-pools/create/information-step/information-step.test.tsx
  ui-v2/src/components/work-pools/create/information-step/information-step.tsx
Owners: @aaazzam, @desertaxle, @devinvillarosa

Added documentation
  src/prefect/utilities/templating.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Fixes failing test
  tests/server/orchestration/api/test_flow_runs.py
Owners: @cicdw, @desertaxle, @zzstoatzz

handle sources
  src/integrations/prefect-dbt/prefect_dbt/core/runner.py
Owners: @cicdw, @desertaxle, @zzstoatzz, @kevingrismore

add sources to mock manifest
  src/integrations/prefect-dbt/tests/core/test_runner.py
Owners: @cicdw, @desertaxle, @zzstoatzz, @kevingrismore

Add `InformationStep` component for work pool creation wizard (#18566)
  ui-v2/src/components/work-pools/create/information-step/index.ts
  ui-v2/src/components/work-pools/create/information-step/information-step.stories.tsx
  ui-v2/src/components/work-pools/create/information-step/information-step.test.tsx
  ui-v2/src/components/work-pools/create/information-step/information-step.tsx
  ui-v2/src/components/work-pools/create/information-step/schema.ts
Owners: @aaazzam, @desertaxle, @devinvillarosa

Add `InformationStep` component for work pool creation wizard (#18566)
  ui-v2/src/components/work-pools/create/information-step/index.ts
  ui-v2/src/components/work-pools/create/information-step/information-step.stories.tsx
  ui-v2/src/components/work-pools/create/information-step/information-step.test.tsx
  ui-v2/src/components/work-pools/create/information-step/information-step.tsx
  ui-v2/src/components/work-pools/create/information-step/schema.ts
Owners: @aaazzam, @desertaxle, @devinvillarosa

Add `InformationStep` component for work pool creation wizard (#18566)
  ui-v2/src/components/work-pools/create/information-step/index.ts
  ui-v2/src/components/work-pools/create/information-step/information-step.stories.tsx
  ui-v2/src/components/work-pools/create/information-step/information-step.test.tsx
  ui-v2/src/components/work-pools/create/information-step/information-step.tsx
  ui-v2/src/components/work-pools/create/information-step/schema.ts
Owners: @aaazzam, @desertaxle, @devinvillarosa

Optimize GcsBucket.put_directory with concurrent uploads
  src/integrations/prefect-gcp/prefect_gcp/cloud_storage.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Remove duplicative comments
  src/integrations/prefect-gcp/prefect_gcp/cloud_storage.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Remove unnecessary disable_run_logger context manager
  src/integrations/prefect-gcp/prefect_gcp/cloud_storage.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Improve performance of uploads to GCP bucket (#18571)
  src/integrations/prefect-gcp/prefect_gcp/cloud_storage.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Improve performance of uploads to GCP bucket (#18571)
  src/integrations/prefect-gcp/prefect_gcp/cloud_storage.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Improve performance of uploads to GCP bucket (#18571)
  src/integrations/prefect-gcp/prefect_gcp/cloud_storage.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Add some tests
  src/prefect/client/schemas/objects.py
  src/prefect/server/orchestration/core_policy.py
  tests/fixtures/database.py
  tests/server/orchestration/test_core_policy.py
Owners: @cicdw, @desertaxle, @zzstoatzz

add tests
  src/integrations/prefect-dbt/prefect_dbt/core/runner.py
  src/integrations/prefect-dbt/tests/core/test_runner.py
Owners: @cicdw, @desertaxle, @zzstoatzz, @kevingrismore

Handle dbt source types and source manifest references (#18570)
  src/integrations/prefect-dbt/prefect_dbt/core/runner.py
  src/integrations/prefect-dbt/tests/core/test_runner.py
Owners: @cicdw, @desertaxle, @zzstoatzz, @kevingrismore

Handle dbt source types and source manifest references (#18570)
  src/integrations/prefect-dbt/prefect_dbt/core/runner.py
  src/integrations/prefect-dbt/tests/core/test_runner.py
Owners: @cicdw, @desertaxle, @zzstoatzz, @kevingrismore

Handle dbt source types and source manifest references (#18570)
  src/integrations/prefect-dbt/prefect_dbt/core/runner.py
  src/integrations/prefect-dbt/tests/core/test_runner.py
Owners: @cicdw, @desertaxle, @zzstoatzz, @kevingrismore

omit compiled code when it exceeds max description length
  src/integrations/prefect-dbt/prefect_dbt/core/runner.py
  src/integrations/prefect-dbt/tests/core/test_runner.py
Owners: @cicdw, @desertaxle, @zzstoatzz, @kevingrismore

replace number with const
  src/integrations/prefect-dbt/tests/core/test_runner.py
Owners: @cicdw, @desertaxle, @zzstoatzz, @kevingrismore

add other tests back
  src/integrations/prefect-dbt/tests/core/test_runner.py
Owners: @cicdw, @desertaxle, @zzstoatzz, @kevingrismore

log warning if compiled code is too large
  src/integrations/prefect-dbt/prefect_dbt/core/runner.py
Owners: @cicdw, @desertaxle, @zzstoatzz, @kevingrismore

Add API level tests
  src/prefect/server/orchestration/core_policy.py
  tests/server/orchestration/api/test_flow_runs.py
  tests/server/orchestration/test_core_policy.py
Owners: @cicdw, @desertaxle, @zzstoatzz

log warning if compiled code is too large
  src/integrations/prefect-dbt/prefect_dbt/core/runner.py
Owners: @cicdw, @desertaxle, @zzstoatzz, @kevingrismore

fix accidental deletes
  src/integrations/prefect-dbt/prefect_dbt/core/runner.py
Owners: @cicdw, @desertaxle, @zzstoatzz, @kevingrismore

make code readable
  src/integrations/prefect-dbt/prefect_dbt/core/runner.py
Owners: @cicdw, @desertaxle, @zzstoatzz, @kevingrismore

correct expected msg in test
  src/integrations/prefect-dbt/tests/core/test_runner.py
Owners: @cicdw, @desertaxle, @zzstoatzz, @kevingrismore

Omit compiled dbt code when it exceeds max asset description length (#18572)
  src/integrations/prefect-dbt/prefect_dbt/core/runner.py
  src/integrations/prefect-dbt/tests/core/test_runner.py
Owners: @cicdw, @desertaxle, @zzstoatzz, @kevingrismore

Omit compiled dbt code when it exceeds max asset description length (#18572)
  src/integrations/prefect-dbt/prefect_dbt/core/runner.py
  src/integrations/prefect-dbt/tests/core/test_runner.py
Owners: @cicdw, @desertaxle, @zzstoatzz, @kevingrismore

Omit compiled dbt code when it exceeds max asset description length (#18572)
  src/integrations/prefect-dbt/prefect_dbt/core/runner.py
  src/integrations/prefect-dbt/tests/core/test_runner.py
Owners: @cicdw, @desertaxle, @zzstoatzz, @kevingrismore

add more states to docs
  docs/v3/concepts/states.mdx
Owners: @cicdw, @desertaxle, @zzstoatzz

fix order for failed states
  docs/v3/concepts/states.mdx
Owners: @cicdw, @desertaxle, @zzstoatzz

Add work pool infrastructure configuration step component
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/base-job-template-form-section.stories.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/base-job-template-form-section.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/base-job-template-form-section.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/index.ts
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/infrastructure-configuration-step.stories.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/infrastructure-configuration-step.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/infrastructure-configuration-step.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/schema.ts
Owners: @aaazzam, @desertaxle, @devinvillarosa

add more states to docs (#18573)
  docs/v3/concepts/states.mdx
Owners: @cicdw, @desertaxle, @zzstoatzz

add more states to docs (#18573)
  docs/v3/concepts/states.mdx
Owners: @cicdw, @desertaxle, @zzstoatzz

add more states to docs (#18573)
  docs/v3/concepts/states.mdx
Owners: @cicdw, @desertaxle, @zzstoatzz

Fix TypeScript lint errors
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/base-job-template-form-section.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/infrastructure-configuration-step.tsx
Owners: @aaazzam, @desertaxle, @devinvillarosa

wip
  docs/v3/get-started/slow-start.mdx
Owners: @cicdw, @desertaxle, @zzstoatzz
