Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @pleek91, @PrefectHQ/docs

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# ui
/ui                            @pleek91

# documentation
/docs                                @PrefectHQ/docs
mkdocs.yml                           @PrefectHQ/docs
mkdocs.insiders.yml                  @PrefectHQ/docs

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source 

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source

initial commit
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

Revert change to API URL
  src/prefect/testing/fixtures.py
  tests/test_engine.py
Owners: @PrefectHQ/open-source

Add push section to documentation
  docs/concepts/projects.md
  src/prefect/projects/recipes/docker-s3/prefect.yaml
  src/prefect/projects/recipes/s3/prefect.yaml
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

add filters
  src/prefect/server/api/artifacts.py
  tests/server/api/test_artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

Variables cli (#9086)
  src/prefect/cli/__init__.py
  src/prefect/cli/variable.py
  src/prefect/client/orchestration.py
  tests/cli/test_variable.py
  tests/client/test_orion_client.py
Owners: @PrefectHQ/open-source

initial commit
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

Expand final section on mechanics
  docs/concepts/projects.md
Owners: @PrefectHQ/docs

Update agent cancellation check interval to double the scheduled check interval (#9084)
  src/prefect/cli/agent.py
Owners: @PrefectHQ/open-source

Update agent cancellation check interval to double the scheduled check interval (#9084)
  src/prefect/cli/agent.py
Owners: @PrefectHQ/open-source

Update agent cancellation check interval to double the scheduled check interval (#9084)
  src/prefect/cli/agent.py
Owners: @PrefectHQ/open-source

Include recipes in manifest
  MANIFEST.in
Owners: @PrefectHQ/open-source

Update title based on feedback
  docs/tutorials/projects.md
Owners: @PrefectHQ/docs

Initial implemntation of recipe descriptions
  src/prefect/cli/project.py
  src/prefect/projects/recipes/docker-gcs/prefect.yaml
  src/prefect/projects/recipes/docker-git/prefect.yaml
  src/prefect/projects/recipes/docker-s3/prefect.yaml
  src/prefect/projects/recipes/docker/prefect.yaml
  src/prefect/projects/recipes/gcs/prefect.yaml
  src/prefect/projects/recipes/git/prefect.yaml
  src/prefect/projects/recipes/local/prefect.yaml
  src/prefect/projects/recipes/s3/prefect.yaml
Owners: @PrefectHQ/open-source

Update default agent query interval from 10s to 15s (#9085)
  src/prefect/settings.py
Owners: @PrefectHQ/open-source

Update default agent query interval from 10s to 15s (#9085)
  src/prefect/settings.py
Owners: @PrefectHQ/open-source

Update default agent query interval from 10s to 15s (#9085)
  src/prefect/settings.py
Owners: @PrefectHQ/open-source

Update Dockerfile (#9077)
  Dockerfile
Owners: @PrefectHQ/open-source

Update Dockerfile (#9077)
  Dockerfile
Owners: @PrefectHQ/open-source

Update Dockerfile (#9077)
  Dockerfile
Owners: @PrefectHQ/open-source

Fix healthcheck
  src/prefect/testing/fixtures.py
Owners: @PrefectHQ/open-source

Left justify descriptions
  src/prefect/cli/project.py
Owners: @PrefectHQ/open-source

Add test for retry-after header on 503 status code
  tests/client/test_base_client.py
Owners: @PrefectHQ/open-source

Fix detection of iterables within `quote` annotations while mapping
  src/prefect/engine.py
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Add a 10 minute cache to API healthchecks (#9069)
  src/prefect/engine.py
  tests/test_engine.py
Owners: @PrefectHQ/open-source

Add a 10 minute cache to API healthchecks (#9069)
  src/prefect/engine.py
  tests/test_engine.py
Owners: @PrefectHQ/open-source

Add a 10 minute cache to API healthchecks (#9069)
  src/prefect/engine.py
  tests/test_engine.py
Owners: @PrefectHQ/open-source

Only allow the client to make a single concurrent request when rate limited
  src/prefect/client/base.py
Owners: @PrefectHQ/open-source

initial commit
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_04_05_122716_15f5083c16bd_migrate_artifact_data.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_05_122659_2dbcec43c857_migrate_artifact_data.py
Owners: @PrefectHQ/open-source

Remove default min width
  src/prefect/cli/project.py
Owners: @PrefectHQ/open-source

Fix accidentally changed line
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

update rate limit docs
  docs/ui/rate-limits.md
Owners: @PrefectHQ/docs

fix(deployment): creating of work queue in default work pool on update
  src/prefect/server/models/deployments.py
Owners: @PrefectHQ/open-source, @zangell44

update rate limit docs (#9100)
  docs/ui/rate-limits.md
Owners: @PrefectHQ/docs

update rate limit docs (#9100)
  docs/ui/rate-limits.md
Owners: @PrefectHQ/docs

update rate limit docs (#9100)
  docs/ui/rate-limits.md
Owners: @PrefectHQ/docs

Add retry on 502 BAD GATEWAY to Prefect client
  src/prefect/client/base.py
  tests/client/test_base_client.py
Owners: @PrefectHQ/open-source

Avoid using spin locks while waiting for task submission
  src/prefect/_internal/concurrency/event_loop.py
  src/prefect/futures.py
Owners: @PrefectHQ/open-source

Update concurrent task runner to use efficient wait patterns (#9073)
  src/prefect/task_runners.py
Owners: @PrefectHQ/open-source

Update concurrent task runner to use efficient wait patterns (#9073)
  src/prefect/task_runners.py
Owners: @PrefectHQ/open-source

Update concurrent task runner to use efficient wait patterns (#9073)
  src/prefect/task_runners.py
Owners: @PrefectHQ/open-source
