Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @pleek91, @PrefectHQ/docs

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# ui
/ui                            @pleek91

# documentation
/docs                                @PrefectHQ/docs
mkdocs.yml                           @PrefectHQ/docs
mkdocs.insiders.yml                  @PrefectHQ/docs

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source 

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source

fix date
  src/prefect/server/database/migrations/versions/sqlite/2023_04_06_122659_2dbcec43c857_migrate_artifact_data.py
Owners: @PrefectHQ/open-source

fix dates and docstring
  src/prefect/server/database/migrations/versions/postgresql/2023_04_06_122716_15f5083c16bd_migrate_artifact_data.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_06_122659_2dbcec43c857_migrate_artifact_data.py
Owners: @PrefectHQ/open-source

Add workers and projects
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Fix bullets
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Remove dynamic
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

Clarify
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

Add code comments
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

Add variables
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Remove extra commas
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Use new sessions and transactions for each query during `CancellationCleanup`
  src/prefect/server/services/cancellation_cleanup.py
Owners: @PrefectHQ/open-source, @zangell44

fix tests
  tests/cli/test_project.py
Owners: @PrefectHQ/open-source

remove col
  tests/server/database/test_migrations.py
Owners: @PrefectHQ/open-source

Minor clarifications
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Variables docs (#9063)
  docs/concepts/variables.md
  docs/img/concepts/variables-ui.png
  mkdocs.yml
Owners: @PrefectHQ/docs

Variables docs (#9063)
  docs/concepts/variables.md
  docs/img/concepts/variables-ui.png
  mkdocs.yml
Owners: @PrefectHQ/docs

Variables docs (#9063)
  docs/concepts/variables.md
  docs/img/concepts/variables-ui.png
  mkdocs.yml
Owners: @PrefectHQ/docs

Adding httpx.ConnectTimeout to the list of retry exceptions in base client.
  src/prefect/client/base.py
  tests/client/test_base_client.py
Owners: @PrefectHQ/open-source

Migrate Artifact data to ArtifactCollection (#9097)
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_04_06_122716_15f5083c16bd_migrate_artifact_data.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_06_122659_2dbcec43c857_migrate_artifact_data.py
  tests/server/database/test_migrations.py
Owners: @PrefectHQ/open-source

Migrate Artifact data to ArtifactCollection (#9097)
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_04_06_122716_15f5083c16bd_migrate_artifact_data.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_06_122659_2dbcec43c857_migrate_artifact_data.py
  tests/server/database/test_migrations.py
Owners: @PrefectHQ/open-source

Migrate Artifact data to ArtifactCollection (#9097)
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_04_06_122716_15f5083c16bd_migrate_artifact_data.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_06_122659_2dbcec43c857_migrate_artifact_data.py
  tests/server/database/test_migrations.py
Owners: @PrefectHQ/open-source

add name to read work pool call (#9123)
  src/prefect/cli/root.py
  tests/cli/test_project.py
Owners: @PrefectHQ/open-source

add name to read work pool call (#9123)
  src/prefect/cli/root.py
  tests/cli/test_project.py
Owners: @PrefectHQ/open-source

add name to read work pool call (#9123)
  src/prefect/cli/root.py
  tests/cli/test_project.py
Owners: @PrefectHQ/open-source

First round of edits to work pools section
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Rewrite workers section
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Add screenshots
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Improve screenshots
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Tweak the height for sizing
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Update image?
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Update image?
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Create `Event.involved_resources` property to return all resources in an Event
  src/prefect/events/schemas.py
  tests/events/test_event_schemas.py
Owners: @PrefectHQ/open-source

Fix typing issue in older python version
  src/prefect/events/related.py
Owners: @PrefectHQ/open-source

Create a helper to get run context objects as related resources
  src/prefect/events/related.py
  tests/events/test_events_related_from_context.py
Owners: @PrefectHQ/open-source

Attach related resources from run context when emitting events via the event worker
  src/prefect/events/worker.py
  tests/events/test_events_worker.py
Owners: @PrefectHQ/open-source

Make QueueService run `_handle` with the current context
  src/prefect/_internal/concurrency/services.py
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

Start over with screenshots :)
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Fixup
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Use screenshot instead of text
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Add to intro
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source
