Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @pleek91, @PrefectHQ/docs

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# ui
/ui                            @pleek91

# documentation
/docs                                @PrefectHQ/docs
mkdocs.yml                           @PrefectHQ/docs
mkdocs.insiders.yml                  @PrefectHQ/docs

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source 

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source

Adds human-friendly way to reference block documents (#9041)
  src/prefect/utilities/templating.py
  tests/utilities/test_templating.py
Owners: @PrefectHQ/open-source

Adds human-friendly way to reference block documents (#9041)
  src/prefect/utilities/templating.py
  tests/utilities/test_templating.py
Owners: @PrefectHQ/open-source

Adds human-friendly way to reference block documents (#9041)
  src/prefect/utilities/templating.py
  tests/utilities/test_templating.py
Owners: @PrefectHQ/open-source

Expand project concept doc
  docs/concepts/projects.md
Owners: @PrefectHQ/docs

Add templating reference
  docs/concepts/projects.md
Owners: @PrefectHQ/docs

Increase sleep time in test again
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

Fix tests related to name change
  tests/utilities/test_templating.py
Owners: @PrefectHQ/open-source

Fixes hanging import statements and messed up module structure
  src/prefect/cli/worker.py
  src/prefect/workers/__init__.py
  src/prefect/workers/base.py
  src/prefect/workers/process.py
  tests/cli/worker.py
  tests/fixtures/database.py
  tests/workers/__init__.py
  tests/workers/test_base_worker.py
  tests/workers/test_process_worker.py
Owners: @PrefectHQ/open-source

Expand sections in concept docs
  docs/concepts/projects.md
Owners: @PrefectHQ/docs

Add hot tip on step templating
  docs/concepts/projects.md
Owners: @PrefectHQ/docs

Expand build section concept
  docs/concepts/projects.md
  src/prefect/projects/recipes/docker-git/prefect.yaml
  src/prefect/projects/recipes/docker/prefect.yaml
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Revisit tutorial with concept links
  docs/concepts/projects.md
  docs/tutorials/projects.md
Owners: @PrefectHQ/docs

chore: add migrations
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_04_04_132534_3bf47e3ce2dd_add_index_on_log.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_04_115150_553920ec20e9_add_index_on_log.py
Owners: @PrefectHQ/open-source

Fixes failing tests
  .prefectignore
  tests/_internal/compatibility/test_experimental.py
  tests/cli/deployment/test_deployment_build.py
  tests/cli/deployment/test_deployment_cli.py
  tests/conftest.py
  tests/server/test_app.py
Owners: @PrefectHQ/open-source

Adds handling for base_url based on OSS/Cloud/Ephemeral API
  src/prefect/cli/work_pool.py
Owners: @PrefectHQ/open-source

widen integrations page - no toc
  docs/integrations/index.md
Owners: @PrefectHQ/docs

Adds tests
  tests/cli/test_work_pool.py
Owners: @PrefectHQ/open-source

Add `--type` option to create work-pool CLI (#8993)
  src/prefect/cli/work_pool.py
  tests/cli/test_work_pool.py
Owners: @PrefectHQ/open-source

Add `--type` option to create work-pool CLI (#8993)
  src/prefect/cli/work_pool.py
  tests/cli/test_work_pool.py
Owners: @PrefectHQ/open-source

Add `--type` option to create work-pool CLI (#8993)
  src/prefect/cli/work_pool.py
  tests/cli/test_work_pool.py
Owners: @PrefectHQ/open-source

Updates import statement
  tests/cli/test_work_pool.py
Owners: @PrefectHQ/open-source

fix(deployments): default state Scheduled for /create_flow_run (#9049)
  src/prefect/server/api/deployments.py
  tests/server/api/test_deployments.py
Owners: @PrefectHQ/open-source, @zangell44

fix(deployments): default state Scheduled for /create_flow_run (#9049)
  src/prefect/server/api/deployments.py
  tests/server/api/test_deployments.py
Owners: @PrefectHQ/open-source, @zangell44

fix(deployments): default state Scheduled for /create_flow_run (#9049)
  src/prefect/server/api/deployments.py
  tests/server/api/test_deployments.py
Owners: @PrefectHQ/open-source, @zangell44

Updates import statement
  src/prefect/cli/work_pool.py
Owners: @PrefectHQ/open-source

Adds PREFECT_CLIENT_RETRY_EXTRA_CODES setting and uses in retry logic
  src/prefect/client/base.py
  src/prefect/settings.py
Owners: @PrefectHQ/open-source

Adds tests for PREFECT_CLIENT_RETRY_EXTRA_CODES
  tests/client/test_base_client.py
Owners: @PrefectHQ/open-source

final updates
  docs/contributing/overview.md
Owners: @PrefectHQ/docs

Adds docker-s3 and s3 recipes
  src/prefect/projects/recipes/docker-s3/prefect.yaml
  src/prefect/projects/recipes/s3/prefect.yaml
Owners: @PrefectHQ/open-source

Null out bucket and folder for s3 recipes
  src/prefect/projects/recipes/docker-s3/prefect.yaml
  src/prefect/projects/recipes/s3/prefect.yaml
Owners: @PrefectHQ/open-source

Removes experimental status from workers code (#9050)
  .prefectignore
  src/prefect/cli/__init__.py
  src/prefect/cli/work_pool.py
  src/prefect/cli/worker.py
  src/prefect/experimental/cli/__init__.py
  src/prefect/settings.py
  src/prefect/workers/__init__.py
  src/prefect/workers/base.py
  src/prefect/workers/process.py
  tests/_internal/compatibility/test_experimental.py
  tests/cli/deployment/test_deployment_build.py
  tests/cli/deployment/test_deployment_cli.py
  tests/cli/test_work_pool.py
  tests/cli/worker.py
  tests/conftest.py
  tests/fixtures/database.py
  tests/server/test_app.py
  tests/workers/__init__.py
  tests/workers/test_base_worker.py
  tests/workers/test_process_worker.py
Owners: @PrefectHQ/open-source

Removes experimental status from workers code (#9050)
  .prefectignore
  src/prefect/cli/__init__.py
  src/prefect/cli/work_pool.py
  src/prefect/cli/worker.py
  src/prefect/experimental/cli/__init__.py
  src/prefect/settings.py
  src/prefect/workers/__init__.py
  src/prefect/workers/base.py
  src/prefect/workers/process.py
  tests/_internal/compatibility/test_experimental.py
  tests/cli/deployment/test_deployment_build.py
  tests/cli/deployment/test_deployment_cli.py
  tests/cli/test_work_pool.py
  tests/cli/worker.py
  tests/conftest.py
  tests/fixtures/database.py
  tests/server/test_app.py
  tests/workers/__init__.py
  tests/workers/test_base_worker.py
  tests/workers/test_process_worker.py
Owners: @PrefectHQ/open-source

Removes experimental status from workers code (#9050)
  .prefectignore
  src/prefect/cli/__init__.py
  src/prefect/cli/work_pool.py
  src/prefect/cli/worker.py
  src/prefect/experimental/cli/__init__.py
  src/prefect/settings.py
  src/prefect/workers/__init__.py
  src/prefect/workers/base.py
  src/prefect/workers/process.py
  tests/_internal/compatibility/test_experimental.py
  tests/cli/deployment/test_deployment_build.py
  tests/cli/deployment/test_deployment_cli.py
  tests/cli/test_work_pool.py
  tests/cli/worker.py
  tests/conftest.py
  tests/fixtures/database.py
  tests/server/test_app.py
  tests/workers/__init__.py
  tests/workers/test_base_worker.py
  tests/workers/test_process_worker.py
Owners: @PrefectHQ/open-source

Attempt a different form of sleep :)
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

Address some feedback and template the full file
  docs/tutorials/projects.md
  src/prefect/cli/root.py
  src/prefect/testing/utilities.py
  tests/cli/test_project.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Update docs/concepts/projects.md
  docs/concepts/projects.md
Owners: @PrefectHQ/docs

Update docs/tutorials/projects.md
  docs/tutorials/projects.md
Owners: @PrefectHQ/docs

Update docs/tutorials/projects.md
  docs/tutorials/projects.md
Owners: @PrefectHQ/docs

Add worker tip link
  docs/tutorials/projects.md
Owners: @PrefectHQ/docs

Attempt an event instead of a sleep
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source
