Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Fix handling of unknown types during parameter schema generation
  src/prefect/utilities/callables.py
  tests/utilities/test_callables.py
Owners: @madkinsz

Fix handling of unknown types during parameter schema generation
  src/prefect/utilities/callables.py
  tests/utilities/test_callables.py
Owners: @madkinsz

Commments
  docs/contributing/style.md
  src/prefect/cli/work_queue.py
Owners: @tpdorsey, @madkinsz

Commments
  docs/contributing/style.md
  src/prefect/cli/work_queue.py
Owners: @tpdorsey, @madkinsz

Remove placeholders
  src/prefect/cli/agent.py
  src/prefect/cli/concurrency_limit.py
Owners: @madkinsz

Remove placeholders
  src/prefect/cli/agent.py
  src/prefect/cli/concurrency_limit.py
Owners: @madkinsz

Only generate a model for one field
  src/prefect/utilities/callables.py
Owners: @madkinsz

Only generate a model for one field
  src/prefect/utilities/callables.py
Owners: @madkinsz

Only generate a model for one field
  src/prefect/utilities/callables.py
Owners: @madkinsz

Bump minimum compatible prefect version
  src/prefect/flow_runners/__init__.py
Owners: @madkinsz

Bump minimum compatible prefect version
  src/prefect/flow_runners/__init__.py
Owners: @madkinsz

Bump minimum compatible prefect version
  src/prefect/flow_runners/__init__.py
Owners: @madkinsz

Implement the flow runs page empty state
  orion-ui/src/pages/FlowRuns.vue
Owners: @pleek91

Implement the flow runs page empty state
  orion-ui/src/pages/FlowRuns.vue
Owners: @pleek91

Implement the flow runs page empty state
  orion-ui/src/pages/FlowRuns.vue
Owners: @pleek91

Revert "fix allows powershell as shell input"
  src/prefect/tasks/shell.py
Owners: @madkinsz

Removes `StorageBlock`, the `prefect storage` CLI, and default storage (PrefectHQ/orion#2354)
  .dockerignore
  docs/api-ref/prefect/blocks/storage.md
  docs/api-ref/prefect/cli/storage.md
  mkdocs.yml
  setup.cfg
  src/prefect/__init__.py
  src/prefect/blocks/__init__.py
  src/prefect/blocks/storage.py
  src/prefect/cli/__init__.py
  src/prefect/cli/storage.py
  src/prefect/client.py
  src/prefect/context.py
  src/prefect/engine.py
  src/prefect/filesystems.py
  src/prefect/flow_runners/__init__.py
  src/prefect/orion/api/block_documents.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_14_114039_0f27d462bf6d_removing_default_storage_block_document.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_14_113138_56be24fdb383_removing_default_storage_block_document.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/block_documents.py
  src/prefect/results.py
  src/prefect/serializers.py
  src/prefect/settings.py
  tests/blocks/test_default_storage.py
  tests/blocks/test_storage.py
  tests/cli/test_storage_cli.py
  tests/conftest.py
  tests/fixtures/storage.py
  tests/flow_runners/test_docker.py
  tests/flow_runners/test_kubernetes.py
  tests/flow_runners/test_subprocess.py
  tests/orion/api/test_block_documents.py
  tests/orion/models/test_block_documents.py
  tests/test_agent.py
  tests/test_client.py
  tests/test_context.py
  tests/test_engine.py
  tests/test_flows.py
  tests/test_logging.py
Owners: @madkinsz, @tpdorsey, @zangell44, @anticorrelator

Removes `StorageBlock`, the `prefect storage` CLI, and default storage (PrefectHQ/orion#2354)
  .dockerignore
  docs/api-ref/prefect/blocks/storage.md
  docs/api-ref/prefect/cli/storage.md
  mkdocs.yml
  setup.cfg
  src/prefect/__init__.py
  src/prefect/blocks/__init__.py
  src/prefect/blocks/storage.py
  src/prefect/cli/__init__.py
  src/prefect/cli/storage.py
  src/prefect/client.py
  src/prefect/context.py
  src/prefect/engine.py
  src/prefect/filesystems.py
  src/prefect/flow_runners/__init__.py
  src/prefect/orion/api/block_documents.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_14_114039_0f27d462bf6d_removing_default_storage_block_document.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_14_113138_56be24fdb383_removing_default_storage_block_document.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/block_documents.py
  src/prefect/results.py
  src/prefect/serializers.py
  src/prefect/settings.py
  tests/blocks/test_default_storage.py
  tests/blocks/test_storage.py
  tests/cli/test_storage_cli.py
  tests/conftest.py
  tests/fixtures/storage.py
  tests/flow_runners/test_docker.py
  tests/flow_runners/test_kubernetes.py
  tests/flow_runners/test_subprocess.py
  tests/orion/api/test_block_documents.py
  tests/orion/models/test_block_documents.py
  tests/test_agent.py
  tests/test_client.py
  tests/test_context.py
  tests/test_engine.py
  tests/test_flows.py
  tests/test_logging.py
Owners: @madkinsz, @tpdorsey, @zangell44, @anticorrelator

Removes `StorageBlock`, the `prefect storage` CLI, and default storage (#2354)
  .dockerignore
  docs/api-ref/prefect/blocks/storage.md
  docs/api-ref/prefect/cli/storage.md
  mkdocs.yml
  setup.cfg
  src/prefect/__init__.py
  src/prefect/blocks/__init__.py
  src/prefect/blocks/storage.py
  src/prefect/cli/__init__.py
  src/prefect/cli/storage.py
  src/prefect/client.py
  src/prefect/context.py
  src/prefect/engine.py
  src/prefect/filesystems.py
  src/prefect/flow_runners/__init__.py
  src/prefect/orion/api/block_documents.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_14_114039_0f27d462bf6d_removing_default_storage_block_document.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_14_113138_56be24fdb383_removing_default_storage_block_document.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/block_documents.py
  src/prefect/results.py
  src/prefect/serializers.py
  src/prefect/settings.py
  tests/blocks/test_default_storage.py
  tests/blocks/test_storage.py
  tests/cli/test_storage_cli.py
  tests/conftest.py
  tests/fixtures/storage.py
  tests/flow_runners/test_docker.py
  tests/flow_runners/test_kubernetes.py
  tests/flow_runners/test_subprocess.py
  tests/orion/api/test_block_documents.py
  tests/orion/models/test_block_documents.py
  tests/test_agent.py
  tests/test_client.py
  tests/test_context.py
  tests/test_engine.py
  tests/test_flows.py
  tests/test_logging.py
Owners: @madkinsz, @tpdorsey, @zangell44, @anticorrelator

add PowershellTask with tests
  src/prefect/tasks/powershell/_init_.py
  src/prefect/tasks/powershell/powershell.py
  tests/tasks/test_shell.py
Owners: @madkinsz

Fix down revision for migrations
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_14_114039_0f27d462bf6d_removing_default_storage_block_document.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_14_113138_56be24fdb383_removing_default_storage_block_document.py
Owners: @anticorrelator

Fix down revision for migrations
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_14_114039_0f27d462bf6d_removing_default_storage_block_document.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_14_113138_56be24fdb383_removing_default_storage_block_document.py
Owners: @anticorrelator

Fix down revision for migrations
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_14_114039_0f27d462bf6d_removing_default_storage_block_document.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_14_113138_56be24fdb383_removing_default_storage_block_document.py
Owners: @anticorrelator

Fix down revision for migration
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_20_113451_2fe8ef6a6514_remove_flow_runners.py
Owners: @anticorrelator

Fix down revision for migration
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_20_113451_2fe8ef6a6514_remove_flow_runners.py
Owners: @anticorrelator

handle mypy error
  src/prefect/tasks/powershell/powershell.py
Owners: @madkinsz

Fix down revision for migration
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_14_114039_0f27d462bf6d_removing_default_storage_block_document.py
Owners: @anticorrelator

Fix down revision for migration
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_14_114039_0f27d462bf6d_removing_default_storage_block_document.py
Owners: @anticorrelator

Add postgres migration
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_21_133134_e085c9cbf8ce_remove_flow_runners.py
Owners: @anticorrelator

Add postgres migration
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_21_133134_e085c9cbf8ce_remove_flow_runners.py
Owners: @anticorrelator

Fix tests
  tests/infrastructure/test_kubernetes_job.py
Owners: @madkinsz

Fix tests
  tests/infrastructure/test_kubernetes_job.py
Owners: @madkinsz

Fix tests
  tests/infrastructure/test_kubernetes_job.py
Owners: @madkinsz

fix file name
  src/prefect/tasks/powershell/__init__.py
  src/prefect/tasks/powershell/_init_.py
Owners: @madkinsz

Only run tasks and flows in interruptible threads when timeouts are used
  src/prefect/engine.py
  tests/test_engine.py
Owners: @madkinsz

Only run tasks and flows in interruptible threads when timeouts are used
  src/prefect/engine.py
  tests/test_engine.py
Owners: @madkinsz

Only run tasks and flows in interruptible threads when timeouts are used
  src/prefect/engine.py
  tests/test_engine.py
Owners: @madkinsz

Add infrastructure to docs
  docs/api-ref/prefect/flow-runners.md
  docs/api-ref/prefect/infrastructure.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Add infrastructure to docs
  docs/api-ref/prefect/flow-runners.md
  docs/api-ref/prefect/infrastructure.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Fix SQLite down revision
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_14_113138_56be24fdb383_removing_default_storage_block_document.py
Owners: @anticorrelator
