Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cicdw, @desertaxle, @zzstoatzz, @znicholasbrown, @kevingrismore, @aaazzam, @chrisguidry, @devinvillarosa

Enforce max asset description length (#18541)
  src/prefect/assets/core.py
  tests/test_assets.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Enforce max asset description length (#18541)
  src/prefect/assets/core.py
  tests/test_assets.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Add init guard to memory lease storage
  src/prefect/server/concurrency/lease_storage/memory.py
Owners: @cicdw, @desertaxle, @zzstoatzz

explore explicit task methods
  src/prefect/tasks.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Deflake integration tests
  integration-tests/test_concurrency_leases.py
  src/prefect/server/concurrency/lease_storage/filesystem.py
Owners: @cicdw, @desertaxle, @zzstoatzz

`depends_on`
  src/prefect/tasks.py
Owners: @cicdw, @desertaxle, @zzstoatzz

add note about PREFECT_API_KEY in ecs guide
  docs/integrations/prefect-aws/ecs_guide.mdx
Owners: @cicdw, @desertaxle, @zzstoatzz

auth string
  docs/integrations/prefect-aws/ecs_guide.mdx
Owners: @cicdw, @desertaxle, @zzstoatzz

add note about `PREFECT_API_KEY` in ecs guide (#18547)
  docs/integrations/prefect-aws/ecs_guide.mdx
Owners: @cicdw, @desertaxle, @zzstoatzz

add note about `PREFECT_API_KEY` in ecs guide (#18547)
  docs/integrations/prefect-aws/ecs_guide.mdx
Owners: @cicdw, @desertaxle, @zzstoatzz

add note about `PREFECT_API_KEY` in ecs guide (#18547)
  docs/integrations/prefect-aws/ecs_guide.mdx
Owners: @cicdw, @desertaxle, @zzstoatzz

feat: implement work pool creation wizard for React UI
  ui-v2/src/api/work-pools/index.ts
  ui-v2/src/api/work-pools/work-pools.ts
  ui-v2/src/api/workers/index.ts
  ui-v2/src/api/workers/workers.test.ts
  ui-v2/src/api/workers/workers.ts
  ui-v2/src/components/ui/alert.tsx
  ui-v2/src/components/ui/stepper/stepper.tsx
  ui-v2/src/components/work-pools/create/configuration-step.test.tsx
  ui-v2/src/components/work-pools/create/configuration-step.tsx
  ui-v2/src/components/work-pools/create/hooks/use-work-pool-create-wizard.test.ts
  ui-v2/src/components/work-pools/create/hooks/use-work-pool-create-wizard.ts
  ui-v2/src/components/work-pools/create/hooks/use-work-pool-validation.test.ts
  ui-v2/src/components/work-pools/create/hooks/use-work-pool-validation.ts
  ui-v2/src/components/work-pools/create/information-step.test.tsx
  ui-v2/src/components/work-pools/create/information-step.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.tsx
  ui-v2/src/components/work-pools/create/types.ts
  ui-v2/src/components/work-pools/create/work-pool-create-wizard.test.tsx
  ui-v2/src/components/work-pools/create/work-pool-create-wizard.tsx
  ui-v2/src/mocks/create-fake-worker-metadata.ts
  ui-v2/src/mocks/index.ts
  ui-v2/src/routes/work-pools/create.tsx
Owners: @aaazzam, @desertaxle, @devinvillarosa

fix: resolve ESLint errors in work pool creation components
  ui-v2/src/api/work-pools/work-pools.ts
  ui-v2/src/components/work-pools/create/configuration-step.test.tsx
  ui-v2/src/components/work-pools/create/configuration-step.tsx
  ui-v2/src/components/work-pools/create/hooks/use-work-pool-create-wizard.test.ts
  ui-v2/src/components/work-pools/create/hooks/use-work-pool-create-wizard.ts
  ui-v2/src/components/work-pools/create/infrastructure-type-step.test.tsx
  ui-v2/src/components/work-pools/create/work-pool-create-wizard.tsx
  ui-v2/src/mocks/create-fake-worker-metadata.ts
Owners: @aaazzam, @desertaxle, @devinvillarosa

Fix `biome` errors
  ui-v2/src/api/work-pools/work-pools.ts
  ui-v2/src/components/work-pools/create/configuration-step.test.tsx
  ui-v2/src/components/work-pools/create/configuration-step.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.test.tsx
  ui-v2/src/components/work-pools/create/work-pool-create-wizard.tsx
Owners: @aaazzam, @desertaxle, @devinvillarosa

Fix build errors
  ui-v2/src/components/work-pools/create/configuration-step.tsx
  ui-v2/src/mocks/create-fake-worker-metadata.ts
Owners: @aaazzam, @desertaxle, @devinvillarosa

Fixed Value Error for large log errors
  src/prefect/logging/handlers.py
  tests/test_logging.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Remove code handling for prefect-agent work pool type
  ui-v2/src/components/work-pools/create/configuration-step.test.tsx
  ui-v2/src/components/work-pools/create/configuration-step.tsx
Owners: @aaazzam, @desertaxle, @devinvillarosa

Fix wizard and add timeout to checks
  .github/workflows/ui-v2-checks.yml
  ui-v2/src/components/work-pools/create/configuration-step.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.tsx
  ui-v2/src/components/work-pools/create/work-pool-create-wizard.tsx
Owners: @cicdw, @desertaxle, @zzstoatzz, @aaazzam, @devinvillarosa

Remove slop comment
  ui-v2/src/components/work-pools/create/hooks/use-work-pool-create-wizard.ts
Owners: @aaazzam, @desertaxle, @devinvillarosa

Track lease creation time and use it to calculate occupancy seconds
  src/prefect/server/api/concurrency_limits_v2.py
  src/prefect/server/concurrency/lease_storage/filesystem.py
  src/prefect/server/services/repossessor.py
  src/prefect/server/utilities/leasing.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Generate documentation and UI client code updates
  docs/v3/api-ref/rest-api/server/schema.json
  ui-v2/src/api/prefect.ts
Owners: @cicdw, @desertaxle, @zzstoatzz

Fixes failing tests
  src/prefect/server/api/concurrency_limits_v2.py
  src/prefect/server/utilities/leasing.py
  tests/server/orchestration/api/test_concurrency_limits_v2.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Update generated API docs and UI client code
  docs/v3/api-ref/rest-api/server/schema.json
  ui-v2/src/api/prefect.ts
Owners: @cicdw, @desertaxle, @zzstoatzz

Attempt to fix test failures
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/components/artifacts/artifact-card.test.tsx
  ui-v2/src/components/artifacts/artifact/artifact-detail-header.test.tsx
  ui-v2/src/components/artifacts/artifact/artifact-detail-page.test.tsx
  ui-v2/src/components/artifacts/key/timeline/timelineCard.test.tsx
  ui-v2/src/components/artifacts/key/timeline/timelineContainer.test.tsx
  ui-v2/src/components/artifacts/key/timeline/timelineRow.test.tsx
  ui-v2/src/components/blocks/block-document-action-menu/block-document-action-menu.test.tsx
  ui-v2/src/components/blocks/blocks-row-count/blocks-row-count.test.tsx
  ui-v2/src/components/deployments/data-table/data-table.test.tsx
  ui-v2/src/components/deployments/deployment-action-menu/deployment-action-menu.test.tsx
  ui-v2/src/components/deployments/run-flow-button/run-flow-button.test.tsx
  ui-v2/src/components/flow-runs/activity-chart/popover.test.tsx
  ui-v2/src/components/task-runs/task-run-logs/index.tsx
  ui-v2/src/components/task-runs/task-run-logs/task-run-logs.test.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/flow-run-activity-bar-graph.test.tsx
  ui-v2/src/components/ui/run-logs/index.tsx
  ui-v2/src/components/ui/run-logs/run-logs.test.tsx
  ui-v2/src/components/work-pools/work-pool-card/components/work-pool-context-menu.test.tsx
  ui-v2/src/routeTree.gen.ts
  ui-v2/tests/app.test.tsx
  ui-v2/tests/setup.ts
  ui-v2/tests/variables/variables.test.tsx
Owners: @aaazzam, @desertaxle, @devinvillarosa

Attempt to fix test failures
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/components/artifacts/artifact-card.test.tsx
  ui-v2/src/components/artifacts/artifact/artifact-detail-header.test.tsx
  ui-v2/src/components/artifacts/artifact/artifact-detail-page.test.tsx
  ui-v2/src/components/artifacts/key/timeline/timelineCard.test.tsx
  ui-v2/src/components/artifacts/key/timeline/timelineContainer.test.tsx
  ui-v2/src/components/artifacts/key/timeline/timelineRow.test.tsx
  ui-v2/src/components/blocks/block-document-action-menu/block-document-action-menu.test.tsx
  ui-v2/src/components/blocks/blocks-row-count/blocks-row-count.test.tsx
  ui-v2/src/components/deployments/data-table/data-table.test.tsx
  ui-v2/src/components/deployments/deployment-action-menu/deployment-action-menu.test.tsx
  ui-v2/src/components/deployments/run-flow-button/run-flow-button.test.tsx
  ui-v2/src/components/flow-runs/activity-chart/popover.test.tsx
  ui-v2/src/components/task-runs/task-run-logs/index.tsx
  ui-v2/src/components/task-runs/task-run-logs/task-run-logs.test.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/flow-run-activity-bar-graph.test.tsx
  ui-v2/src/components/ui/run-logs/index.tsx
  ui-v2/src/components/ui/run-logs/run-logs.test.tsx
  ui-v2/src/components/work-pools/work-pool-card/components/work-pool-context-menu.test.tsx
  ui-v2/src/routeTree.gen.ts
  ui-v2/tests/app.test.tsx
  ui-v2/tests/setup.ts
  ui-v2/tests/variables/variables.test.tsx
Owners: @aaazzam, @desertaxle, @devinvillarosa

Fix linting issue
  ui-v2/tests/app.test.tsx
Owners: @aaazzam, @desertaxle, @devinvillarosa

Track concurrency limit lease creation time and use it to calculate occupancy seconds (#18551)
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/server/api/concurrency_limits_v2.py
  src/prefect/server/concurrency/lease_storage/filesystem.py
  src/prefect/server/services/repossessor.py
  src/prefect/server/utilities/leasing.py
  tests/server/orchestration/api/test_concurrency_limits_v2.py
  ui-v2/src/api/prefect.ts
Owners: @cicdw, @desertaxle, @zzstoatzz

Track concurrency limit lease creation time and use it to calculate occupancy seconds (#18551)
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/server/api/concurrency_limits_v2.py
  src/prefect/server/concurrency/lease_storage/filesystem.py
  src/prefect/server/services/repossessor.py
  src/prefect/server/utilities/leasing.py
  tests/server/orchestration/api/test_concurrency_limits_v2.py
  ui-v2/src/api/prefect.ts
Owners: @cicdw, @desertaxle, @zzstoatzz

Track concurrency limit lease creation time and use it to calculate occupancy seconds (#18551)
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/server/api/concurrency_limits_v2.py
  src/prefect/server/concurrency/lease_storage/filesystem.py
  src/prefect/server/services/repossessor.py
  src/prefect/server/utilities/leasing.py
  tests/server/orchestration/api/test_concurrency_limits_v2.py
  ui-v2/src/api/prefect.ts
Owners: @cicdw, @desertaxle, @zzstoatzz

Fixes failing tests
  src/prefect/client/orchestration/_concurrency_limits/client.py
  src/prefect/concurrency/_asyncio.py
  src/prefect/concurrency/asyncio.py
  tests/concurrency/test_concurrency_asyncio.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Update async `concurrency` context manager to use leases
  src/prefect/client/orchestration/_concurrency_limits/client.py
  src/prefect/client/orchestration/routes.py
  src/prefect/client/schemas/responses.py
  src/prefect/concurrency/_asyncio.py
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/services.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Add integration test for async concurrency with leases and fix some stuff
  .github/workflows/integration-tests.yaml
  integration-tests/test_concurrency_leases.py
  src/prefect/server/concurrency/lease_storage/__init__.py
  src/prefect/server/concurrency/lease_storage/filesystem.py
  src/prefect/server/concurrency/lease_storage/memory.py
  src/prefect/server/services/repossessor.py
  tests/server/concurrency/test_filesystem_lease_storage.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Fix integration test failures
  .github/workflows/integration-tests.yaml
  integration-tests/test_concurrency_leases.py
  src/prefect/server/services/repossessor.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Fix test failures
  src/prefect/concurrency/asyncio.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Add cancellation of execution if lease renewal fails and strict is True
  integration-tests/test_concurrency_leases.py
  src/prefect/concurrency/asyncio.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Update to use AsyncCancelScope to be consistent with sync behavior
  integration-tests/test_concurrency_leases.py
  src/prefect/concurrency/asyncio.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Remove `occupancy_seconds` from the client
  src/prefect/client/orchestration/_concurrency_limits/client.py
  src/prefect/concurrency/_asyncio.py
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/context.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Fixes failing tests
  src/prefect/server/concurrency/lease_storage/memory.py
  tests/concurrency/test_concurrency_asyncio.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Update async `concurrency` context manager to use leases (#18522)
  .github/workflows/integration-tests.yaml
  integration-tests/test_concurrency_leases.py
  src/prefect/client/orchestration/_concurrency_limits/client.py
  src/prefect/client/orchestration/routes.py
  src/prefect/client/schemas/responses.py
  src/prefect/concurrency/_asyncio.py
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/context.py
  src/prefect/concurrency/services.py
  src/prefect/server/concurrency/lease_storage/__init__.py
  src/prefect/server/concurrency/lease_storage/filesystem.py
  src/prefect/server/concurrency/lease_storage/memory.py
  src/prefect/server/services/repossessor.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/server/concurrency/test_filesystem_lease_storage.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Update async `concurrency` context manager to use leases (#18522)
  .github/workflows/integration-tests.yaml
  integration-tests/test_concurrency_leases.py
  src/prefect/client/orchestration/_concurrency_limits/client.py
  src/prefect/client/orchestration/routes.py
  src/prefect/client/schemas/responses.py
  src/prefect/concurrency/_asyncio.py
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/context.py
  src/prefect/concurrency/services.py
  src/prefect/server/concurrency/lease_storage/__init__.py
  src/prefect/server/concurrency/lease_storage/filesystem.py
  src/prefect/server/concurrency/lease_storage/memory.py
  src/prefect/server/services/repossessor.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/server/concurrency/test_filesystem_lease_storage.py
Owners: @cicdw, @desertaxle, @zzstoatzz

.github/CODEOWNERS:

# global
*                                    @cicdw @desertaxle @zzstoatzz

# ui
/ui                                  @znicholasbrown

# integrations
/src/integrations/prefect-dbt        @cicdw @desertaxle @zzstoatzz @kevingrismore

# imports
/src/prefect/__init__.py             @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz
/src/prefect/main.py                 @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz

# UI Replatform
/ui-v2                               @aaazzam @desertaxle @devinvillarosa
/ui-v2/src/api/prefect.ts            @cicdw @desertaxle @zzstoatzz
