Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

update first-steps tutorial
  docs/tutorials/first-steps.md
Owners: @tpdorsey

fix typo
  docs/index.md
Owners: @tpdorsey

fix typo
  docs/index.md
Owners: @tpdorsey

fix typo
  docs/index.md
Owners: @tpdorsey

replace arrows for bash
  docs/tutorials/first-steps.md
Owners: @tpdorsey

replace arrows for bash
  docs/tutorials/first-steps.md
Owners: @tpdorsey

replace arrows for bash
  docs/tutorials/first-steps.md
Owners: @tpdorsey

Add integration test of submission; fix kubernetes job environment variables
  .github/workflows/python-tests.yaml
  src/prefect/infrastructure/__init__.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/submission.py
  tests/infrastructure/test_kubernetes_job.py
  tests/infrastructure/test_submission.py
Owners: @madkinsz

Add integration test of submission; fix kubernetes job environment variables
  .github/workflows/python-tests.yaml
  src/prefect/infrastructure/__init__.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/submission.py
  tests/infrastructure/test_kubernetes_job.py
  tests/infrastructure/test_submission.py
Owners: @madkinsz

Add integration test of submission; fix kubernetes job environment variables
  .github/workflows/python-tests.yaml
  src/prefect/infrastructure/__init__.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/submission.py
  tests/infrastructure/test_kubernetes_job.py
  tests/infrastructure/test_submission.py
Owners: @madkinsz

Update package-ock
  orion-ui/package-lock.json
Owners: @pleek91

Update package-ock
  orion-ui/package-lock.json
Owners: @pleek91

Update package-ock
  orion-ui/package-lock.json
Owners: @pleek91

Ensure task status reports identifier
  src/prefect/agent.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/utilities/processutils.py
  tests/infrastructure/test_docker_container.py
  tests/infrastructure/test_kubernetes_job.py
  tests/infrastructure/test_process.py
Owners: @madkinsz

Ensure task status reports identifier
  src/prefect/agent.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/utilities/processutils.py
  tests/infrastructure/test_docker_container.py
  tests/infrastructure/test_kubernetes_job.py
  tests/infrastructure/test_process.py
Owners: @madkinsz

Ensure task status reports identifier
  src/prefect/agent.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/utilities/processutils.py
  tests/infrastructure/test_docker_container.py
  tests/infrastructure/test_kubernetes_job.py
  tests/infrastructure/test_process.py
Owners: @madkinsz

Update CLI style guide
  docs/contributing/style.md
Owners: @tpdorsey

Update CLI style guide
  docs/contributing/style.md
Owners: @tpdorsey

Update CLI style guide
  docs/contributing/style.md
Owners: @tpdorsey

Remove `AnyInfrastructure`
  src/prefect/deployments.py
  src/prefect/infrastructure/base.py
Owners: @madkinsz

Remove `AnyInfrastructure`
  src/prefect/deployments.py
  src/prefect/infrastructure/base.py
Owners: @madkinsz

Remove `AnyInfrastructure`
  src/prefect/deployments.py
  src/prefect/infrastructure/base.py
Owners: @madkinsz

Update to 1.0.45
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Update to 1.0.45
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Update to 1.0.45
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Add more guidance on placeholders
  docs/contributing/style.md
Owners: @tpdorsey

Add more guidance on placeholders
  docs/contributing/style.md
Owners: @tpdorsey

Add more guidance on placeholders
  docs/contributing/style.md
Owners: @tpdorsey

Update docs/index.md
  docs/index.md
Owners: @tpdorsey

Update docs/index.md
  docs/index.md
Owners: @tpdorsey

Update docs/index.md
  docs/index.md
Owners: @tpdorsey

Conciseness and more examples
  docs/contributing/style.md
Owners: @tpdorsey

Conciseness and more examples
  docs/contributing/style.md
Owners: @tpdorsey

Conciseness and more examples
  docs/contributing/style.md
Owners: @tpdorsey

Update docs/contributing/style.md
  docs/contributing/style.md
Owners: @tpdorsey

Update docs/contributing/style.md
  docs/contributing/style.md
Owners: @tpdorsey

Update docs/contributing/style.md
  docs/contributing/style.md
Owners: @tpdorsey

Implement simple task mapping
  src/prefect/engine.py
  src/prefect/exceptions.py
  src/prefect/tasks.py
  tests/test_tasks.py
Owners: @madkinsz

Implement simple task mapping
  src/prefect/engine.py
  src/prefect/exceptions.py
  src/prefect/tasks.py
  tests/test_tasks.py
Owners: @madkinsz

Implement simple task mapping
  src/prefect/engine.py
  src/prefect/exceptions.py
  src/prefect/tasks.py
  tests/test_tasks.py
Owners: @madkinsz
