Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @desertaxle, @tpdorsey

Kubernetes agent job YAML allowing imagePullSecrets to be unset as code intended (#5001)
  changes/pr5001.yaml
  src/prefect/agent/kubernetes/agent.py
  tests/agent/test_k8s_agent.py
Owners: @madkinsz

First draft of docker flow runner
  src/prefect/flow_runners.py
Owners: @madkinsz

First draft of docker flow runner
  src/prefect/flow_runners.py
Owners: @madkinsz

Enable verbosity in tests to inspect freezing
  .github/workflows/python_tests.yaml
Owners: @madkinsz

Enable verbosity in tests to inspect freezing
  .github/workflows/python_tests.yaml
Owners: @madkinsz

Add test for nested data document bytes
  tests/test_client.py
Owners: @madkinsz

Add test for nested data document bytes
  tests/test_client.py
Owners: @madkinsz

Bump anyio to 3.2 to get `to_thread.run_sync` hang fixes
  requirements.txt
Owners: @madkinsz

Bump anyio to 3.2 to get `to_thread.run_sync` hang fixes
  requirements.txt
Owners: @madkinsz

Bump to 3.2.1 to get patch -- not strictly needed but the bug fix seems relevant
  requirements.txt
Owners: @madkinsz

Bump to 3.2.1 to get patch -- not strictly needed but the bug fix seems relevant
  requirements.txt
Owners: @madkinsz

Increase pytest verbosity for all tests
  .github/workflows/python_tests.yaml
Owners: @madkinsz

Increase pytest verbosity for all tests
  .github/workflows/python_tests.yaml
Owners: @madkinsz

Cleanup `containers.create` args
  src/prefect/flow_runners.py
Owners: @madkinsz

Cleanup `containers.create` args
  src/prefect/flow_runners.py
Owners: @madkinsz

Add slugify to requirements
  requirements.txt
Owners: @madkinsz

Add slugify to requirements
  requirements.txt
Owners: @madkinsz

Add labels and auto-remove
  src/prefect/flow_runners.py
Owners: @madkinsz

Add labels and auto-remove
  src/prefect/flow_runners.py
Owners: @madkinsz

Remove upper bounds from requirements
  requirements.txt
Owners: @madkinsz

Remove upper bounds from requirements
  requirements.txt
Owners: @madkinsz

Consistent spacing
  requirements.txt
Owners: @madkinsz

Consistent spacing
  requirements.txt
Owners: @madkinsz

Fix slugify requirement
  requirements.txt
Owners: @madkinsz

Fix slugify requirement
  requirements.txt
Owners: @madkinsz

Fix nested document resolution
  src/prefect/client.py
Owners: @madkinsz

Fix nested document resolution
  src/prefect/client.py
Owners: @madkinsz

WIP
  src/prefect/deployments.py
  src/prefect/flow_runners.py
Owners: @madkinsz

WIP
  src/prefect/deployments.py
  src/prefect/flow_runners.py
Owners: @madkinsz

Fixing flow of flows code
  docs/core/idioms/flow-to-flow.md
Owners: @tpdorsey

changelog
  changes/pr5288.yaml
Owners: @madkinsz

Add ability to push the flow to the server
  src/prefect/deployments.py
Owners: @madkinsz

Add ability to push the flow to the server
  src/prefect/deployments.py
Owners: @madkinsz

slight change to param handling
  docs/core/idioms/flow-to-flow.md
Owners: @tpdorsey

Fixing flow of flows code (#5228)
  changes/pr5288.yaml
  docs/core/idioms/flow-to-flow.md
Owners: @madkinsz, @tpdorsey

Docs changes to address 1.0.0rc deprecations.
  docs/orchestration/concepts/api_keys.md
  docs/orchestration/execution/custom_environment.md
  docs/orchestration/execution/dask_cloud_provider_environment.md
  docs/orchestration/execution/dask_k8s_environment.md
  docs/orchestration/execution/fargate_task_environment.md
  docs/orchestration/execution/k8s_job_environment.md
  docs/orchestration/execution/local_environment.md
  docs/orchestration/execution/overview.md
  docs/orchestration/execution/storage_options.md
  src/prefect/agent/docker/agent.py
  src/prefect/storage/gitlab.py
Owners: @tpdorsey, @madkinsz

StepActivate task now accepts run args
  src/prefect/tasks/aws/step_function.py
  tests/tasks/aws/test_step_function.py
Owners: @desertaxle

Add change
  changes/pr5231.yaml
Owners: @madkinsz

Fixed style errors
  tests/tasks/aws/test_step_function.py
Owners: @desertaxle

All routes should be async
  src/prefect/orion/api/admin.py
Owners: @madkinsz

.github/CODEOWNERS:

# global owners
*                           @madkinsz

# task library owners
/src/prefect/tasks          @desertaxle
/tests/tasks                @desertaxle
/docs/core/task_library     @desertaxle

# documentation owners
/docs                       @tpdorsey
