Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Update screens with blocks and notifications
  docs/img/ui/cloud-flow-run.png
  docs/img/ui/cloud-invite-collab.png
  docs/img/ui/cloud-new-workspace-full.png
  docs/img/ui/cloud-new-workspace.png
  docs/img/ui/cloud-test-deployment-details.png
  docs/img/ui/cloud-test-deployment.png
  docs/img/ui/cloud-test-flow-run.png
  docs/img/ui/cloud-test-queues.png
  docs/img/ui/cloud-test-work-queue.png
  docs/img/ui/cloud-workspace-dashboard.png
  docs/img/ui/cloud-workspace-settings.png
  docs/img/ui/orion-dash-details.png
  docs/img/ui/orion-dash-filters.png
  docs/img/ui/orion-dash-history.png
  docs/img/ui/orion-dashboard.png
  docs/img/ui/orion-deployment-details.png
  docs/img/ui/orion-deployment-params.png
  docs/img/ui/orion-deployments.png
  docs/img/ui/orion-flow-details.png
  docs/img/ui/orion-flow-radar.png
  docs/img/ui/orion-flow-run-details.png
  docs/img/ui/orion-subflows.png
  docs/img/ui/orion-task-runs.png
  docs/img/ui/work-queue-create.png
  docs/img/ui/work-queue-details.png
  docs/img/ui/work-queue-list.png
Owners: @tpdorsey

Update screens with blocks and notifications
  docs/img/ui/cloud-flow-run.png
  docs/img/ui/cloud-invite-collab.png
  docs/img/ui/cloud-new-workspace-full.png
  docs/img/ui/cloud-new-workspace.png
  docs/img/ui/cloud-test-deployment-details.png
  docs/img/ui/cloud-test-deployment.png
  docs/img/ui/cloud-test-flow-run.png
  docs/img/ui/cloud-test-queues.png
  docs/img/ui/cloud-test-work-queue.png
  docs/img/ui/cloud-workspace-dashboard.png
  docs/img/ui/cloud-workspace-settings.png
  docs/img/ui/orion-dash-details.png
  docs/img/ui/orion-dash-filters.png
  docs/img/ui/orion-dash-history.png
  docs/img/ui/orion-dashboard.png
  docs/img/ui/orion-deployment-details.png
  docs/img/ui/orion-deployment-params.png
  docs/img/ui/orion-deployments.png
  docs/img/ui/orion-flow-details.png
  docs/img/ui/orion-flow-radar.png
  docs/img/ui/orion-flow-run-details.png
  docs/img/ui/orion-subflows.png
  docs/img/ui/orion-task-runs.png
  docs/img/ui/work-queue-create.png
  docs/img/ui/work-queue-details.png
  docs/img/ui/work-queue-list.png
Owners: @tpdorsey

Add safeguards for flow runner type with docker packager
  src/prefect/deployments.py
  tests/deployments/test_deployment.py
Owners: @madkinsz

Add safeguards for flow runner type with docker packager
  src/prefect/deployments.py
  tests/deployments/test_deployment.py
Owners: @madkinsz

Add safeguards for flow runner type with docker packager
  src/prefect/deployments.py
  tests/deployments/test_deployment.py
Owners: @madkinsz

Minor last-minute fixes and tweaks
  docs/concepts/filesystems.md
  docs/concepts/logs.md
  docs/concepts/storage.md
  docs/concepts/tasks.md
  docs/getting-started/installation.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Minor last-minute fixes and tweaks
  docs/concepts/filesystems.md
  docs/concepts/logs.md
  docs/concepts/storage.md
  docs/concepts/tasks.md
  docs/getting-started/installation.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Minor last-minute fixes and tweaks
  docs/concepts/filesystems.md
  docs/concepts/logs.md
  docs/concepts/storage.md
  docs/concepts/tasks.md
  docs/getting-started/installation.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Use a hashed task key for task run names
  src/prefect/client.py
Owners: @madkinsz

Use a hashed task key for task run names
  src/prefect/client.py
Owners: @madkinsz

Use a hashed task key for task run names
  src/prefect/client.py
Owners: @madkinsz

Do not allow development commands to be run on uneditable installs
  src/prefect/cli/dev.py
Owners: @madkinsz

Do not allow development commands to be run on uneditable installs
  src/prefect/cli/dev.py
Owners: @madkinsz

Do not allow development commands to be run on uneditable installs
  src/prefect/cli/dev.py
Owners: @madkinsz

Set the flow runner image to match the Docker package image
  src/prefect/deployments.py
  tests/deployments/test_deployment.py
Owners: @madkinsz

Set the flow runner image to match the Docker package image
  src/prefect/deployments.py
  tests/deployments/test_deployment.py
Owners: @madkinsz

Set the flow runner image to match the Docker package image
  src/prefect/deployments.py
  tests/deployments/test_deployment.py
Owners: @madkinsz

Remove extra check
  src/prefect/deployments.py
Owners: @madkinsz

Remove extra check
  src/prefect/deployments.py
Owners: @madkinsz

Remove extra check
  src/prefect/deployments.py
Owners: @madkinsz

Update CLI as well
  src/prefect/cli/deployment.py
Owners: @madkinsz

Update CLI as well
  src/prefect/cli/deployment.py
Owners: @madkinsz

Update CLI as well
  src/prefect/cli/deployment.py
Owners: @madkinsz

Add handling for null packager
  src/prefect/deployments.py
Owners: @madkinsz

Add handling for null packager
  src/prefect/deployments.py
Owners: @madkinsz

Add handling for null packager
  src/prefect/deployments.py
Owners: @madkinsz

Update assertion messages
  tests/deployments/test_deployment.py
Owners: @madkinsz

Update assertion messages
  tests/deployments/test_deployment.py
Owners: @madkinsz

Update assertion messages
  tests/deployments/test_deployment.py
Owners: @madkinsz

Blocks: Switch string to secret string for secrets in s3 and slack blocks (#2264)
  src/prefect/blocks/notifications.py
  src/prefect/blocks/storage.py
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_06_152528_4cdc2ba709a4_migrates_block_schemas_with_new_secrets_.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_06_142824_e2dae764a603_migrates_block_schemas_with_new_secrets_.py
Owners: @madkinsz, @anticorrelator

Blocks: Switch string to secret string for secrets in s3 and slack blocks (PrefectHQ/orion#2264)
  src/prefect/blocks/notifications.py
  src/prefect/blocks/storage.py
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_06_152528_4cdc2ba709a4_migrates_block_schemas_with_new_secrets_.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_06_142824_e2dae764a603_migrates_block_schemas_with_new_secrets_.py
Owners: @madkinsz, @anticorrelator

Blocks: Switch string to secret string for secrets in s3 and slack blocks (PrefectHQ/orion#2264)
  src/prefect/blocks/notifications.py
  src/prefect/blocks/storage.py
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_06_152528_4cdc2ba709a4_migrates_block_schemas_with_new_secrets_.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_06_142824_e2dae764a603_migrates_block_schemas_with_new_secrets_.py
Owners: @madkinsz, @anticorrelator

Fixing mistake in adding a new parameter to the task
  src/prefect/tasks/databricks/databricks_submitjob.py
Owners: @madkinsz

Use secret values for blocks
  src/prefect/blocks/notifications.py
  src/prefect/orion/services/flow_run_notifications.py
Owners: @madkinsz, @zangell44

Use secret values for blocks
  src/prefect/blocks/notifications.py
  src/prefect/orion/services/flow_run_notifications.py
Owners: @madkinsz, @zangell44

Use secret values for blocks
  src/prefect/blocks/notifications.py
  src/prefect/orion/services/flow_run_notifications.py
Owners: @madkinsz, @zangell44

Update test_notifications.py
  tests/blocks/test_notifications.py
Owners: @madkinsz

Update test_notifications.py
  tests/blocks/test_notifications.py
Owners: @madkinsz

Update test_notifications.py
  tests/blocks/test_notifications.py
Owners: @madkinsz

Fixes for intializing S3StorageBlock with SecretStr and update migration to remove old block schemas
  src/prefect/blocks/storage.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_06_152528_4cdc2ba709a4_migrates_block_schemas_with_new_secrets_.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_06_142824_e2dae764a603_migrates_block_schemas_with_new_secrets_.py
Owners: @madkinsz, @anticorrelator
