Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Store block documents instead of blocks
  src/prefect/packaging/file.py
Owners: @madkinsz

pin griffe version
  requirements.txt
Owners: @madkinsz

pin griffe version
  requirements.txt
Owners: @madkinsz

pin griffe version
  requirements.txt
Owners: @madkinsz

Move out of conftest
  tests/tasks/databricks/__init__.py
  tests/tasks/databricks/conftest.py
  tests/tasks/databricks/test_submit_run.py
Owners: @madkinsz

isort lint make importorskip pydantic
  tests/tasks/databricks/test_submit_multirun.py
  tests/tasks/databricks/test_submit_run.py
Owners: @madkinsz

Fix linting
  tests/tasks/databricks/test_submit_multirun.py
Owners: @madkinsz

Fix flake8
  tests/tasks/databricks/test_submit_multirun.py
  tests/tasks/databricks/test_submit_run.py
Owners: @madkinsz

black
  tests/tasks/databricks/test_submit_run.py
Owners: @madkinsz

isort
  tests/tasks/databricks/test_submit_multirun.py
  tests/tasks/databricks/test_submit_run.py
Owners: @madkinsz

Fix
  tests/tasks/databricks/test_submit_multirun.py
  tests/tasks/databricks/test_submit_run.py
Owners: @madkinsz

Add back conftest
  tests/tasks/databricks/conftest.py
  tests/tasks/databricks/test_submit_run.py
Owners: @madkinsz

Try using imports
  tests/tasks/databricks/conftest.py
  tests/tasks/databricks/test_submit_multirun.py
  tests/tasks/databricks/test_submit_run.py
Owners: @madkinsz

Black
  tests/tasks/databricks/test_submit_multirun.py
Owners: @madkinsz

Add job config
  tests/tasks/databricks/test_submit_run.py
Owners: @madkinsz

Rename to correct module
  docs/api-ref/prefect/filesystems.md
  docs/concepts/filesystems.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Rename to correct module
  docs/api-ref/prefect/filesystems.md
  docs/concepts/filesystems.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Rename to correct module
  docs/api-ref/prefect/filesystems.md
  docs/concepts/filesystems.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Update nav and tags
  docs/concepts/file-systems.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Update nav and tags
  docs/concepts/file-systems.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Update nav and tags
  docs/concepts/file-systems.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Add back fixtures
  tests/tasks/databricks/test_submit_run.py
Owners: @madkinsz

black isort
  tests/tasks/databricks/test_submit_multirun.py
  tests/tasks/databricks/test_submit_run.py
Owners: @madkinsz

Add missing import
  tests/tasks/databricks/test_submit_run.py
Owners: @madkinsz

Fix tests
  tests/tasks/databricks/test_submit_multirun.py
  tests/tasks/databricks/test_submit_run.py
Owners: @madkinsz

Linting
  tests/tasks/databricks/test_submit_multirun.py
  tests/tasks/databricks/test_submit_run.py
Owners: @madkinsz

Add Git Support for Databricks Submit Multi Tasks Run (#5958)
  changes/pr5958.yml
  src/prefect/tasks/databricks/databricks_submitjob.py
  src/prefect/tasks/databricks/models.py
  tests/tasks/databricks/mocks.py
  tests/tasks/databricks/test_databricks.py
  tests/tasks/databricks/test_submit_multirun.py
  tests/tasks/databricks/test_submit_run.py
Owners: @madkinsz

Cut changelog for 1.2.3
  CHANGELOG.md
  changes/PR5957.yaml
  changes/issue5831.yaml
  changes/issue5860.yaml
  changes/issue5907.yaml
  changes/pr5836.yaml
  changes/pr5865.yaml
  changes/pr5887.yaml
  changes/pr5903.yaml
  changes/pr5921.yaml
  changes/pr5949.yaml
  changes/pr5958.yml
Owners: @madkinsz

Bump latest docs link
  docs/.vuepress/config.js
Owners: @tpdorsey

Cleanup changelog
  CHANGELOG.md
Owners: @madkinsz

Add missing changelog items
  CHANGELOG.md
Owners: @madkinsz

Fixup changelog
  CHANGELOG.md
Owners: @madkinsz

Release 1.2.3 (#5966)
  CHANGELOG.md
  changes/PR5957.yaml
  changes/issue5831.yaml
  changes/issue5860.yaml
  changes/issue5907.yaml
  changes/pr5836.yaml
  changes/pr5865.yaml
  changes/pr5887.yaml
  changes/pr5903.yaml
  changes/pr5921.yaml
  changes/pr5949.yaml
  changes/pr5958.yml
  docs/.vuepress/config.js
Owners: @madkinsz, @tpdorsey

Move parameter schema utilities to prefect.utilites.callables
  src/prefect/flows.py
  src/prefect/orion/utilities/functions.py
  src/prefect/packaging/base.py
  src/prefect/utilities/callables.py
  tests/utilities/test_callables.py
Owners: @madkinsz, @zangell44

Add tests for population of flow_parameter_schema
  tests/packaging/test_docker_packager.py
  tests/packaging/test_file_packager.py
  tests/packaging/test_orion_packager.py
Owners: @madkinsz

Move parameter schema utilities to prefect.utilites.callables
  src/prefect/flows.py
  src/prefect/orion/utilities/functions.py
  src/prefect/packaging/base.py
  src/prefect/utilities/callables.py
  tests/utilities/test_callables.py
Owners: @madkinsz, @zangell44

Fix `test_unpackaging_outside_container` test
  tests/packaging/test_docker_packager.py
Owners: @madkinsz

Add tests for population of flow_parameter_schema
  tests/packaging/test_docker_packager.py
  tests/packaging/test_file_packager.py
  tests/packaging/test_orion_packager.py
Owners: @madkinsz

Add tests for population of flow_parameter_schema
  tests/packaging/test_docker_packager.py
  tests/packaging/test_file_packager.py
  tests/packaging/test_orion_packager.py
Owners: @madkinsz

Fix `test_unpackaging_outside_container` test
  tests/packaging/test_docker_packager.py
Owners: @madkinsz
