Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

Update work queues screenshots and instructions
  docs/img/ui/work-queue-details.png
  docs/ui/work-queues.md
Owners: @tpdorsey

Deployment creation works :tada:
  src/prefect/cli/deployment.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_25_133637_add97ce1937d_update_deployments_to_include_more_.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_131028_88c2112b668f_update_deployments_to_include_more_.py
  src/prefect/orion/schemas/core.py
Owners: @madkinsz, @anticorrelator, @zangell44

Deployment creation works :tada:
  src/prefect/cli/deployment.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_25_133637_add97ce1937d_update_deployments_to_include_more_.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_131028_88c2112b668f_update_deployments_to_include_more_.py
  src/prefect/orion/schemas/core.py
Owners: @madkinsz, @anticorrelator, @zangell44

Use sane default path in create
  src/prefect/cli/deployment.py
Owners: @madkinsz

Use sane default path in create
  src/prefect/cli/deployment.py
Owners: @madkinsz

WIP: Adds slugs to blocks
  docs/concepts/blocks.md
  src/prefect/blocks/core.py
  src/prefect/client.py
  src/prefect/orion/api/block_types.py
  src/prefect/orion/api/server.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_142515_f335f9633eec_adds_block_type_slug.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/models/block_schemas.py
  src/prefect/orion/models/block_types.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  tests/blocks/test_core.py
  tests/cli/test_block.py
  tests/fixtures/database.py
  tests/orion/api/test_block_documents.py
  tests/orion/api/test_block_types.py
  tests/orion/models/test_block_documents.py
  tests/orion/models/test_block_types.py
Owners: @tpdorsey, @madkinsz, @zangell44, @anticorrelator

WIP: Adds slugs to blocks
  docs/concepts/blocks.md
  src/prefect/blocks/core.py
  src/prefect/client.py
  src/prefect/orion/api/block_types.py
  src/prefect/orion/api/server.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_142515_f335f9633eec_adds_block_type_slug.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/models/block_schemas.py
  src/prefect/orion/models/block_types.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  tests/blocks/test_core.py
  tests/cli/test_block.py
  tests/fixtures/database.py
  tests/orion/api/test_block_documents.py
  tests/orion/api/test_block_types.py
  tests/orion/models/test_block_documents.py
  tests/orion/models/test_block_types.py
Owners: @tpdorsey, @madkinsz, @zangell44, @anticorrelator

Removes extra doc update
  docs/concepts/blocks.md
Owners: @tpdorsey

Removes extra doc update
  docs/concepts/blocks.md
Owners: @tpdorsey

Catch container not found errors when removing (PrefectHQ/orion#2481)
  tests/fixtures/docker.py
Owners: @madkinsz

Catch container not found errors when removing (PrefectHQ/orion#2481)
  tests/fixtures/docker.py
Owners: @madkinsz

Handle keyboard interrupts for the `prefect orion start` command (PrefectHQ/orion#2478)
  src/prefect/cli/orion.py
Owners: @madkinsz

Handle keyboard interrupts for the `prefect orion start` command (PrefectHQ/orion#2478)
  src/prefect/cli/orion.py
Owners: @madkinsz

Update cloud tutorial
  docs/img/ui/cloud-test-queues.png
  docs/img/ui/cloud-test-work-queue.png
  docs/ui/cloud-getting-started.md
Owners: @tpdorsey

Update cloud tutorial
  docs/img/ui/cloud-test-queues.png
  docs/img/ui/cloud-test-work-queue.png
  docs/ui/cloud-getting-started.md
Owners: @tpdorsey

Update blocks ui screens and docs
  docs/img/ui/orion-block-library.png
  docs/img/ui/orion-blocks-slack.png
  docs/img/ui/orion-blocks.png
  docs/ui/blocks.md
Owners: @tpdorsey

Update blocks ui screens and docs
  docs/img/ui/orion-block-library.png
  docs/img/ui/orion-blocks-slack.png
  docs/img/ui/orion-blocks.png
  docs/ui/blocks.md
Owners: @tpdorsey

Highlight current workspace
  src/prefect/cli/cloud.py
Owners: @madkinsz

Highlight current workspace
  src/prefect/cli/cloud.py
Owners: @madkinsz

Argument instead of option
  src/prefect/agent.py
  src/prefect/cli/deployment.py
  src/prefect/infrastructure/submission.py
Owners: @madkinsz

Argument instead of option
  src/prefect/agent.py
  src/prefect/cli/deployment.py
  src/prefect/infrastructure/submission.py
Owners: @madkinsz

Revisions based on feedback
  docs/concepts/flows.md
Owners: @tpdorsey

Revisions based on feedback
  docs/concepts/flows.md
Owners: @tpdorsey

Revisions based on feedback
  docs/ui/blocks.md
Owners: @tpdorsey

Revisions based on feedback
  docs/ui/blocks.md
Owners: @tpdorsey

More judicious use of lazy and deferred imports (PrefectHQ/orion#2483)
  src/prefect/blocks/kubernetes.py
  src/prefect/blocks/notifications.py
  src/prefect/docker.py
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/software/pip.py
  tests/blocks/test_notifications.py
  tests/docker/test_image_builds.py
  tests/docker/test_registry_pushes.py
  tests/fixtures/docker.py
  tests/packaging/test_docker_packager.py
Owners: @madkinsz

More judicious use of lazy and deferred imports (PrefectHQ/orion#2483)
  src/prefect/blocks/kubernetes.py
  src/prefect/blocks/notifications.py
  src/prefect/docker.py
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/software/pip.py
  tests/blocks/test_notifications.py
  tests/docker/test_image_builds.py
  tests/docker/test_registry_pushes.py
  tests/fixtures/docker.py
  tests/packaging/test_docker_packager.py
Owners: @madkinsz

Remove references to flow runner and flowdata
  orion-ui/src/pages/Deployment.vue
Owners: @pleek91

Remove references to flow runner and flowdata
  orion-ui/src/pages/Deployment.vue
Owners: @pleek91

Clarify login messages
  src/prefect/cli/cloud.py
Owners: @madkinsz

Clarify login messages
  src/prefect/cli/cloud.py
Owners: @madkinsz

Update names for consistency
  src/prefect/cli/cloud.py
Owners: @madkinsz

Update names for consistency
  src/prefect/cli/cloud.py
Owners: @madkinsz

first part of updates to Dask and Ray task runners tutorial
  docs/tutorials/dask-ray-task-runners.md
Owners: @tpdorsey

first part of updates to Dask and Ray task runners tutorial
  docs/tutorials/dask-ray-task-runners.md
Owners: @tpdorsey

Update login tests
  tests/cli/test_cloud.py
Owners: @madkinsz

Update login tests
  tests/cli/test_cloud.py
Owners: @madkinsz

Remove schedule, add description
  orion-ui/src/pages/Deployment.vue
Owners: @pleek91

Remove schedule, add description
  orion-ui/src/pages/Deployment.vue
Owners: @pleek91

Incremental changes
  docs/concepts/infrastructure.md
Owners: @tpdorsey

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator
