Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cicdw, @desertaxle, @zzstoatzz, @znicholasbrown, @kevingrismore, @aaazzam, @chrisguidry, @devinvillarosa

Update async `concurrency` context manager to use leases (#18522)
  .github/workflows/integration-tests.yaml
  integration-tests/test_concurrency_leases.py
  src/prefect/client/orchestration/_concurrency_limits/client.py
  src/prefect/client/orchestration/routes.py
  src/prefect/client/schemas/responses.py
  src/prefect/concurrency/_asyncio.py
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/context.py
  src/prefect/concurrency/services.py
  src/prefect/server/concurrency/lease_storage/__init__.py
  src/prefect/server/concurrency/lease_storage/filesystem.py
  src/prefect/server/concurrency/lease_storage/memory.py
  src/prefect/server/services/repossessor.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/server/concurrency/test_filesystem_lease_storage.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Fix some test failures
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_sync.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Update sync `concurrency` context manager to use leases
  integration-tests/test_concurrency_leases.py
  src/prefect/concurrency/sync.py
  tests/concurrency/test_concurrency_sync.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Deflake integration tests
  integration-tests/test_concurrency_leases.py
  src/prefect/server/concurrency/lease_storage/filesystem.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Remove occupancy_seconds from sync concurrency manager
  src/prefect/concurrency/sync.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Fix failing test
  tests/concurrency/test_concurrency_sync.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Add work pool infrastructure type selection step component
  ui-v2/src/api/collections/collections.test.ts
  ui-v2/src/api/collections/collections.ts
  ui-v2/src/api/collections/index.ts
  ui-v2/src/components/ui/callout.tsx
  ui-v2/src/components/ui/logo-image.stories.tsx
  ui-v2/src/components/ui/logo-image.test.tsx
  ui-v2/src/components/ui/logo-image.tsx
  ui-v2/src/components/ui/radio-group.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.stories.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.tsx
  ui-v2/src/components/work-pools/create/types.ts
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/utils/utils.test.ts
  ui-v2/src/utils/utils.ts
Owners: @aaazzam, @desertaxle, @devinvillarosa

Fix TypeScript linting errors
  ui-v2/src/components/work-pools/create/infrastructure-type-step.test.tsx
  ui-v2/src/utils/utils.ts
Owners: @aaazzam, @desertaxle, @devinvillarosa

Replace custom RadioGroup with shadcn/ui implementation
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/components/ui/radio-group.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.tsx
  ui-v2/src/routeTree.gen.ts
Owners: @aaazzam, @desertaxle, @devinvillarosa

Fix Storybook FormProvider context error
  ui-v2/src/components/work-pools/create/infrastructure-type-step.stories.tsx
Owners: @aaazzam, @desertaxle, @devinvillarosa

Improve layout alignment for infrastructure type options
  ui-v2/src/components/work-pools/create/infrastructure-type-step.tsx
Owners: @aaazzam, @desertaxle, @devinvillarosa

Center elements vertically in infrastructure type options
  ui-v2/src/components/work-pools/create/infrastructure-type-step.tsx
Owners: @aaazzam, @desertaxle, @devinvillarosa

Remove unused callout component
  ui-v2/src/components/ui/callout.tsx
Owners: @aaazzam, @desertaxle, @devinvillarosa

Refactor InfrastructureTypeStep to follow form-stepper pattern
  ui-v2/src/components/work-pools/create/infrastructure-type-step.stories.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.tsx
Owners: @aaazzam, @desertaxle, @devinvillarosa

Reorganize components into their own directories
  ui-v2/src/components/ui/logo-image/index.ts
  ui-v2/src/components/ui/logo-image/logo-image.stories.tsx
  ui-v2/src/components/ui/logo-image/logo-image.test.tsx
  ui-v2/src/components/ui/logo-image/logo-image.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step/index.ts
  ui-v2/src/components/work-pools/create/infrastructure-type-step/infrastructure-type-step.stories.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step/infrastructure-type-step.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step/infrastructure-type-step.tsx
Owners: @aaazzam, @desertaxle, @devinvillarosa

Update sync `concurrency` context manager to use leases (#18535)
  integration-tests/test_concurrency_leases.py
  src/prefect/concurrency/sync.py
  src/prefect/server/concurrency/lease_storage/filesystem.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_sync.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Update sync `concurrency` context manager to use leases (#18535)
  integration-tests/test_concurrency_leases.py
  src/prefect/concurrency/sync.py
  src/prefect/server/concurrency/lease_storage/filesystem.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_sync.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Update sync `concurrency` context manager to use leases (#18535)
  integration-tests/test_concurrency_leases.py
  src/prefect/concurrency/sync.py
  src/prefect/server/concurrency/lease_storage/filesystem.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_sync.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Update @prefecthq/prefect-ui-library to version 3.13.1
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

feat: include flow and flow_run properties in infra naming (#14646)
  integration-tests/test_infra.py
  src/prefect/flow_runs.py
  src/prefect/utilities/infra.py
Owners: @cicdw, @desertaxle, @zzstoatzz

TST: fix MyInfra test with mock flow and flow_run
  integration-tests/test_infra.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Update @prefecthq/prefect-ui-library to version 3.13.1 (#18563)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-ui-library to version 3.13.1 (#18563)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-ui-library to version 3.13.1 (#18563)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Add tests for depends_on method
  tests/test_tasks.py
  tests/typing/test_task_depends_on_types.py
Owners: @cicdw, @desertaxle, @zzstoatzz

explore explicit task methods
  src/prefect/tasks.py
Owners: @cicdw, @desertaxle, @zzstoatzz

`depends_on`
  src/prefect/tasks.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Remove unnecessary types file
  ui-v2/src/components/work-pools/create/infrastructure-type-step/infrastructure-type-step.tsx
  ui-v2/src/components/work-pools/create/types.ts
Owners: @aaazzam, @desertaxle, @devinvillarosa

normal typing tests
  src/prefect/tasks.py
  tests/test_tasks.py
  tests/typesafety/test_tasks.yml
  tests/typing/test_task_depends_on_types.py
Owners: @cicdw, @desertaxle, @zzstoatzz

improve tests
  tests/test_tasks.py
Owners: @cicdw, @desertaxle, @zzstoatzz

improve comments slightly
  src/prefect/tasks.py
Owners: @cicdw, @desertaxle, @zzstoatzz

chage internal to inheritance
  justfile
Owners: @cicdw, @desertaxle, @zzstoatzz

Add work pool infrastructure type selection step component (#18560)
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/api/collections/collections.test.ts
  ui-v2/src/api/collections/collections.ts
  ui-v2/src/api/collections/index.ts
  ui-v2/src/components/ui/logo-image/index.ts
  ui-v2/src/components/ui/logo-image/logo-image.stories.tsx
  ui-v2/src/components/ui/logo-image/logo-image.test.tsx
  ui-v2/src/components/ui/logo-image/logo-image.tsx
  ui-v2/src/components/ui/radio-group.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step/index.ts
  ui-v2/src/components/work-pools/create/infrastructure-type-step/infrastructure-type-step.stories.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step/infrastructure-type-step.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step/infrastructure-type-step.tsx
  ui-v2/src/utils/utils.test.ts
  ui-v2/src/utils/utils.ts
Owners: @aaazzam, @desertaxle, @devinvillarosa

Add work pool infrastructure type selection step component (#18560)
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/api/collections/collections.test.ts
  ui-v2/src/api/collections/collections.ts
  ui-v2/src/api/collections/index.ts
  ui-v2/src/components/ui/logo-image/index.ts
  ui-v2/src/components/ui/logo-image/logo-image.stories.tsx
  ui-v2/src/components/ui/logo-image/logo-image.test.tsx
  ui-v2/src/components/ui/logo-image/logo-image.tsx
  ui-v2/src/components/ui/radio-group.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step/index.ts
  ui-v2/src/components/work-pools/create/infrastructure-type-step/infrastructure-type-step.stories.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step/infrastructure-type-step.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step/infrastructure-type-step.tsx
  ui-v2/src/utils/utils.test.ts
  ui-v2/src/utils/utils.ts
Owners: @aaazzam, @desertaxle, @devinvillarosa

Add work pool infrastructure type selection step component (#18560)
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/api/collections/collections.test.ts
  ui-v2/src/api/collections/collections.ts
  ui-v2/src/api/collections/index.ts
  ui-v2/src/components/ui/logo-image/index.ts
  ui-v2/src/components/ui/logo-image/logo-image.stories.tsx
  ui-v2/src/components/ui/logo-image/logo-image.test.tsx
  ui-v2/src/components/ui/logo-image/logo-image.tsx
  ui-v2/src/components/ui/radio-group.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step/index.ts
  ui-v2/src/components/work-pools/create/infrastructure-type-step/infrastructure-type-step.stories.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step/infrastructure-type-step.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step/infrastructure-type-step.tsx
  ui-v2/src/utils/utils.test.ts
  ui-v2/src/utils/utils.ts
Owners: @aaazzam, @desertaxle, @devinvillarosa

address first part of review
  src/prefect/tasks.py
  tests/test_tasks.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Add WorkPoolInformationStep component for work pool creation wizard
  ui-v2/src/components/work-pools/create/information-step/information-step.stories.tsx
  ui-v2/src/components/work-pools/create/information-step/information-step.test.tsx
  ui-v2/src/components/work-pools/create/information-step/information-step.tsx
  ui-v2/src/components/work-pools/create/information-step/schema.ts
Owners: @aaazzam, @desertaxle, @devinvillarosa

Fix linting errors in WorkPoolInformationStep component
  ui-v2/src/components/work-pools/create/information-step/information-step.stories.tsx
  ui-v2/src/components/work-pools/create/information-step/information-step.test.tsx
  ui-v2/src/components/work-pools/create/information-step/information-step.tsx
Owners: @aaazzam, @desertaxle, @devinvillarosa

Update orchestration rules to support leasing for deployment concurrency limits
  src/prefect/server/api/flow_runs.py
  src/prefect/server/models/flow_runs.py
  src/prefect/server/orchestration/core_policy.py
  src/prefect/server/orchestration/dependencies.py
  src/prefect/server/orchestration/rules.py
  src/prefect/server/schemas/states.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Auto-generate API doc and UI client changes
  docs/v3/api-ref/rest-api/server/schema.json
  ui-v2/src/api/prefect.ts
Owners: @cicdw, @desertaxle, @zzstoatzz

.github/CODEOWNERS:

# global
*                                    @cicdw @desertaxle @zzstoatzz

# ui
/ui                                  @znicholasbrown

# integrations
/src/integrations/prefect-dbt        @cicdw @desertaxle @zzstoatzz @kevingrismore

# imports
/src/prefect/__init__.py             @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz
/src/prefect/main.py                 @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz

# UI Replatform
/ui-v2                               @aaazzam @desertaxle @devinvillarosa
/ui-v2/src/api/prefect.ts            @cicdw @desertaxle @zzstoatzz
