Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Updates tests to use task runner
  src/prefect/testing/standard_test_suites.py
Owners: @madkinsz

fixes nav changes headings to bold
  docs/index.md
Owners: @tpdorsey

fixes nav changes headings to bold
  docs/index.md
Owners: @tpdorsey

fixes nav changes headings to bold
  docs/index.md
Owners: @tpdorsey

Add Andrew's suggested changes
  docs/index.md
Owners: @tpdorsey

Add Andrew's suggested changes
  docs/index.md
Owners: @tpdorsey

Add Andrew's suggested changes
  docs/index.md
Owners: @tpdorsey

Remove needless return
  src/prefect/cli/cloud.py
Owners: @madkinsz

Remove needless return
  src/prefect/cli/cloud.py
Owners: @madkinsz

Attempt to fix Windows command joining
  src/prefect/utilities/processutils.py
Owners: @madkinsz

Attempt to fix Windows command joining
  src/prefect/utilities/processutils.py
Owners: @madkinsz

Attempt to fix Windows command joining
  src/prefect/utilities/processutils.py
Owners: @madkinsz

update to 1.0.46 od
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

update to 1.0.46 od
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

update to 1.0.46 od
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Update incorrect docstring and return type
  src/prefect/cli/cloud.py
Owners: @madkinsz

Update incorrect docstring and return type
  src/prefect/cli/cloud.py
Owners: @madkinsz

add logs image and minor fixes
  docs/img/intro-ui-logs.png
  docs/index.md
Owners: @tpdorsey

add logs image and minor fixes
  docs/img/intro-ui-logs.png
  docs/index.md
Owners: @tpdorsey

add logs image and minor fixes
  docs/img/intro-ui-logs.png
  docs/index.md
Owners: @tpdorsey

Fix bug with flatdict conversion
  src/prefect/utilities/collections.py
  tests/utilities/test_collections.py
Owners: @madkinsz

Fix bug with flatdict conversion
  src/prefect/utilities/collections.py
  tests/utilities/test_collections.py
Owners: @madkinsz

Fix bug with flatdict conversion
  src/prefect/utilities/collections.py
  tests/utilities/test_collections.py
Owners: @madkinsz

Fix remaining linting issues
  orion-ui/.eslintrc.js
  orion-ui/src/pages/.eslintrc.json
  orion-ui/src/pages/FlowRuns.vue
  orion-ui/src/pages/WorkQueue.vue
Owners: @pleek91

Fix remaining linting issues
  orion-ui/.eslintrc.js
  orion-ui/src/pages/.eslintrc.json
  orion-ui/src/pages/FlowRuns.vue
  orion-ui/src/pages/WorkQueue.vue
Owners: @pleek91

Fix remaining linting issues
  orion-ui/.eslintrc.js
  orion-ui/src/pages/.eslintrc.json
  orion-ui/src/pages/FlowRuns.vue
  orion-ui/src/pages/WorkQueue.vue
Owners: @pleek91

Create heading for FlowScript
  docs/concepts/deployments.md
Owners: @tpdorsey

Create heading for FlowScript
  docs/concepts/deployments.md
Owners: @tpdorsey

Create heading for FlowScript
  docs/concepts/deployments.md
Owners: @tpdorsey

Fix parameter schema generation when flow has reserved parameter names
  src/prefect/utilities/callables.py
  tests/utilities/test_callables.py
Owners: @madkinsz

Fix parameter schema generation when flow has reserved parameter names
  src/prefect/utilities/callables.py
  tests/utilities/test_callables.py
Owners: @madkinsz

Fix parameter schema generation when flow has reserved parameter names
  src/prefect/utilities/callables.py
  tests/utilities/test_callables.py
Owners: @madkinsz

I leave so much lint
  src/prefect/cli/cloud.py
Owners: @madkinsz

I leave so much lint
  src/prefect/cli/cloud.py
Owners: @madkinsz

Fixup handling for missing sections
  src/prefect/utilities/callables.py
Owners: @madkinsz

Fixup handling for missing sections
  src/prefect/utilities/callables.py
Owners: @madkinsz

Fixup handling for missing sections
  src/prefect/utilities/callables.py
Owners: @madkinsz

FlowScript docstrings
  src/prefect/deployments.py
Owners: @madkinsz

FlowScript docstrings
  src/prefect/deployments.py
Owners: @madkinsz

FlowScript docstrings
  src/prefect/deployments.py
Owners: @madkinsz
