Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

blackify
  src/prefect/__init__.py
  src/prefect/blocks/__init__.py
  src/prefect/cli/__init__.py
  src/prefect/flow_runners/__init__.py
  src/prefect/logging/__init__.py
  src/prefect/orion/api/__init__.py
  src/prefect/orion/models/__init__.py
  src/prefect/orion/schemas/__init__.py
Owners: @madkinsz, @zangell44

remove exports from cli, orion api + models because they are probably internal
  src/prefect/cli/__init__.py
  src/prefect/orion/api/__init__.py
  src/prefect/orion/models/__init__.py
Owners: @madkinsz, @zangell44

update comment
  src/prefect/__init__.py
Owners: @madkinsz

update page layouts
  orion-ui/src/pages/NotificationCreate.vue
  orion-ui/src/pages/NotificationEdit.vue
  orion-ui/src/pages/Notifications.vue
Owners: @pleek91

update page layouts
  orion-ui/src/pages/NotificationCreate.vue
  orion-ui/src/pages/NotificationEdit.vue
  orion-ui/src/pages/Notifications.vue
Owners: @pleek91

update page layouts
  orion-ui/src/pages/NotificationCreate.vue
  orion-ui/src/pages/NotificationEdit.vue
  orion-ui/src/pages/Notifications.vue
Owners: @pleek91

remove empty filter
  orion-ui/src/pages/Notifications.vue
Owners: @pleek91

remove empty filter
  orion-ui/src/pages/Notifications.vue
Owners: @pleek91

remove empty filter
  orion-ui/src/pages/Notifications.vue
Owners: @pleek91

Update orion-ui/src/router/index.ts
  orion-ui/src/router/index.ts
Owners: @pleek91

Update orion-ui/src/router/index.ts
  orion-ui/src/router/index.ts
Owners: @pleek91

Update orion-ui/src/router/index.ts
  orion-ui/src/router/index.ts
Owners: @pleek91

Update orion-ui/src/router/index.ts
  orion-ui/src/router/index.ts
Owners: @pleek91

Update orion-ui/src/router/index.ts
  orion-ui/src/router/index.ts
Owners: @pleek91

Update orion-ui/src/router/index.ts
  orion-ui/src/router/index.ts
Owners: @pleek91

Update orion-ui/src/router/routes.ts
  orion-ui/src/router/routes.ts
Owners: @pleek91

Update orion-ui/src/router/routes.ts
  orion-ui/src/router/routes.ts
Owners: @pleek91

Update orion-ui/src/router/routes.ts
  orion-ui/src/router/routes.ts
Owners: @pleek91

remove filter and fix typo
  orion-ui/src/pages/Notifications.vue
  orion-ui/src/router/index.ts
Owners: @pleek91

remove filter and fix typo
  orion-ui/src/pages/Notifications.vue
  orion-ui/src/router/index.ts
Owners: @pleek91

remove filter and fix typo
  orion-ui/src/pages/Notifications.vue
  orion-ui/src/router/index.ts
Owners: @pleek91

applied breaking change fix for toast
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/pages/WorkQueueEdit.vue
Owners: @pleek91

applied breaking change fix for toast
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/pages/WorkQueueEdit.vue
Owners: @pleek91

applied breaking change fix for toast
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/pages/WorkQueueEdit.vue
Owners: @pleek91

updated orion-design to exact @latest
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

updated orion-design to exact @latest
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

updated orion-design to exact @latest
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Add Deployment, packagers, serializers
  docs/concepts/deployments.md
Owners: @tpdorsey

Add Deployment, packagers, serializers
  docs/concepts/deployments.md
Owners: @tpdorsey

Add Deployment, packagers, serializers
  docs/concepts/deployments.md
Owners: @tpdorsey

simplify edit page
  orion-ui/src/pages/NotificationEdit.vue
Owners: @pleek91

simplify edit page
  orion-ui/src/pages/NotificationEdit.vue
Owners: @pleek91

simplify edit page
  orion-ui/src/pages/NotificationEdit.vue
Owners: @pleek91

simplify notification create
  orion-ui/src/pages/NotificationCreate.vue
Owners: @pleek91

simplify notification create
  orion-ui/src/pages/NotificationCreate.vue
Owners: @pleek91

simplify notification create
  orion-ui/src/pages/NotificationCreate.vue
Owners: @pleek91

Avoid croniter loop
  src/prefect/schedules/clocks.py
  tests/schedules/test_clocks.py
Owners: @madkinsz

Update test_clocks.py
  tests/schedules/test_clocks.py
Owners: @madkinsz

Create PR5957.yaml
  changes/PR5957.yaml
Owners: @madkinsz

mypy
  src/prefect/schedules/clocks.py
Owners: @madkinsz

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator
