Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @cicdw, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# orion server
/src/prefect/orion                   @PrefectHQ/open-source @zangell44

# deployments
/src/prefect/cli/deployment.py       @PrefectHQ/open-source @cicdw
/src/prefect/deployments.py          @PrefectHQ/open-source @cicdw

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey
mkdocs.yml                           @tpdorsey
mkdocs.insiders.yml                  @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @PrefectHQ/open-source @anticorrelator

# database configuration / models
/src/prefect/orion/database          @PrefectHQ/open-source @anticorrelator

Updated docs/concepts/tasks.md
  docs/concepts/tasks.md
Owners: @tpdorsey

Batch of test fixes
  src/prefect/agent.py
  src/prefect/client/orion.py
Owners: @PrefectHQ/open-source

Add retry_delay_seconds and exponential_backoff examples to Tasks retries documentation (#8280)
  docs/concepts/tasks.md
Owners: @tpdorsey

Add retry_delay_seconds and exponential_backoff examples to Tasks retries documentation (#8280)
  docs/concepts/tasks.md
Owners: @tpdorsey

Add retry_delay_seconds and exponential_backoff examples to Tasks retries documentation (#8280)
  docs/concepts/tasks.md
Owners: @tpdorsey

Minor updates to the Docker image build workflow (#8279)
  .github/workflows/docker-builds.yaml
Owners: @PrefectHQ/open-source

Minor updates to the Docker image build workflow (#8279)
  .github/workflows/docker-builds.yaml
Owners: @PrefectHQ/open-source

Minor updates to the Docker image build workflow (#8279)
  .github/workflows/docker-builds.yaml
Owners: @PrefectHQ/open-source

Ensure that any preinstalled packages are upgraded in Docker images
  Dockerfile
Owners: @PrefectHQ/open-source

Upgrade pinned pip version in Docker images
  Dockerfile
Owners: @PrefectHQ/open-source

Fixes ambiguious query label
  src/prefect/orion/database/query_components.py
  tests/orion/database/test_queries.py
Owners: @PrefectHQ/open-source, @anticorrelator

Uses WorkQueueCreate in tests
  tests/orion/api/test_deployments.py
  tests/orion/api/test_work_queues.py
  tests/orion/models/deprecated/test_work_queues.py
  tests/orion/models/test_agents.py
  tests/orion/models/test_work_queues.py
Owners: @PrefectHQ/open-source

Update issue label workflow
  .github/workflows/issue-bot.yaml
  .github/workflows/remove-issue-labels.yaml
Owners: @PrefectHQ/open-source

Add "labeled" trigger
  .github/workflows/issue-bot.yaml
Owners: @PrefectHQ/open-source

Upgrade pinned pip version in Docker images (#8289)
  Dockerfile
Owners: @PrefectHQ/open-source

Upgrade pinned pip version in Docker images (#8289)
  Dockerfile
Owners: @PrefectHQ/open-source

Upgrade pinned pip version in Docker images (#8289)
  Dockerfile
Owners: @PrefectHQ/open-source

Adds ability to exclude experimental fields in API calls (#8274)
  src/prefect/_internal/compatibility/experimental.py
  src/prefect/orion/utilities/schemas.py
  tests/_internal/compatibility/test_experimental.py
Owners: @PrefectHQ/open-source, @zangell44

Adds ability to exclude experimental fields in API calls (#8274)
  src/prefect/_internal/compatibility/experimental.py
  src/prefect/orion/utilities/schemas.py
  tests/_internal/compatibility/test_experimental.py
Owners: @PrefectHQ/open-source, @zangell44

Adds ability to exclude experimental fields in API calls (#8274)
  src/prefect/_internal/compatibility/experimental.py
  src/prefect/orion/utilities/schemas.py
  tests/_internal/compatibility/test_experimental.py
Owners: @PrefectHQ/open-source, @zangell44

Ensure that any preinstalled packages are upgraded in Docker images (#8288)
  Dockerfile
Owners: @PrefectHQ/open-source

Ensure that any preinstalled packages are upgraded in Docker images (#8288)
  Dockerfile
Owners: @PrefectHQ/open-source

Ensure that any preinstalled packages are upgraded in Docker images (#8288)
  Dockerfile
Owners: @PrefectHQ/open-source

Update issue label workflow (#8290)
  .github/workflows/issue-bot.yaml
  .github/workflows/remove-issue-labels.yaml
Owners: @PrefectHQ/open-source

Update issue label workflow (#8290)
  .github/workflows/issue-bot.yaml
  .github/workflows/remove-issue-labels.yaml
Owners: @PrefectHQ/open-source

Update issue label workflow (#8290)
  .github/workflows/issue-bot.yaml
  .github/workflows/remove-issue-labels.yaml
Owners: @PrefectHQ/open-source

add display_name field to graphs endpoint
  src/prefect/orion/models/flow_runs.py
Owners: @PrefectHQ/open-source, @zangell44

remove orphaned page
  docs/ui/cloud-getting-started.md
Owners: @tpdorsey

Update default task run name to exclude hash of task key
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Adds missed changes
  tests/orion/models/deprecated/test_work_queues.py
  tests/orion/models/test_deployments.py
  tests/orion/models/test_work_queues.py
Owners: @PrefectHQ/open-source

Fixes foreign key cascade in postgres migration
  src/prefect/orion/database/migrations/versions/postgresql/2023_01_26_152801_0a1250a5aa25_expand_work_queue_table.py
Owners: @PrefectHQ/open-source, @anticorrelator

Batch of test fixes
  src/prefect/orion/schemas/core.py
  tests/fixtures/database.py
  tests/orion/models/deprecated/test_work_queues.py
  tests/orion/models/test_work_queues.py
Owners: @PrefectHQ/open-source, @zangell44

Update default task run name to exclude hash of task key (#8292)
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Update default task run name to exclude hash of task key (#8292)
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Update default task run name to exclude hash of task key (#8292)
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Batch of test fixes
  src/prefect/client/orion.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/schemas/filters.py
  tests/fixtures/database.py
  tests/orion/api/test_deployments.py
  tests/orion/api/test_flow_runs.py
  tests/orion/api/test_work_queues.py
  tests/orion/models/deprecated/test_work_queues.py
  tests/orion/models/test_deployments.py
  tests/orion/models/test_filters.py
Owners: @PrefectHQ/open-source, @zangell44

Batch of test fixes
  src/prefect/orion/schemas/responses.py
  tests/agent/test_agent_run_submission.py
  tests/fixtures/database.py
Owners: @PrefectHQ/open-source, @zangell44

Batch of test fixes
  src/prefect/orion/api/deployments.py
  src/prefect/orion/models/deployments.py
  tests/orion/api/test_deployments.py
  tests/orion/api/test_flow_runs.py
  tests/orion/api/test_work_queues.py
Owners: @PrefectHQ/open-source, @zangell44

Batch of test fixes
  src/prefect/orion/database/migrations/versions/postgresql/2023_01_26_152801_0a1250a5aa25_expand_work_queue_table.py
  src/prefect/orion/database/migrations/versions/sqlite/2023_01_25_114348_b9bda9f142f1_expand_work_queue_table.py
  tests/orion/api/test_deployments.py
  tests/orion/api/test_work_queues.py
  tests/orion/models/deprecated/test_work_queues.py
Owners: @PrefectHQ/open-source, @anticorrelator

Tweak migrations
  src/prefect/orion/database/migrations/versions/postgresql/2023_01_26_152801_0a1250a5aa25_expand_work_queue_table.py
  src/prefect/orion/database/migrations/versions/sqlite/2023_01_25_114348_b9bda9f142f1_expand_work_queue_table.py
Owners: @PrefectHQ/open-source, @anticorrelator
