Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Skip tests that use bash on Windows instead of trying to escape arguments
  src/prefect/utilities/processutils.py
  tests/infrastructure/test_process.py
Owners: @madkinsz

Skip tests that use bash on Windows instead of trying to escape arguments
  src/prefect/utilities/processutils.py
  tests/infrastructure/test_process.py
Owners: @madkinsz

Skip tests that use bash on Windows instead of trying to escape arguments
  src/prefect/utilities/processutils.py
  tests/infrastructure/test_process.py
Owners: @madkinsz

add a few minor tweaks from Andrew
  docs/index.md
Owners: @tpdorsey

add a few minor tweaks from Andrew
  docs/index.md
Owners: @tpdorsey

add a few minor tweaks from Andrew
  docs/index.md
Owners: @tpdorsey

Add Deployment docstrings
  src/prefect/deployments.py
Owners: @madkinsz

Add Deployment docstrings
  src/prefect/deployments.py
Owners: @madkinsz

Add Deployment docstrings
  src/prefect/deployments.py
Owners: @madkinsz

Fix test
  tests/orion/models/test_block_documents.py
Owners: @madkinsz

Fix test
  tests/orion/models/test_block_documents.py
Owners: @madkinsz

Fix test
  tests/orion/models/test_block_documents.py
Owners: @madkinsz

update example toe prefect 2.0b and python 3.10
  docs/tutorials/virtual-environments.md
Owners: @tpdorsey

update example toe prefect 2.0b and python 3.10
  docs/tutorials/virtual-environments.md
Owners: @tpdorsey

update example toe prefect 2.0b and python 3.10
  docs/tutorials/virtual-environments.md
Owners: @tpdorsey

fixes testing tutorial new flow return behavior
  docs/tutorials/testing.md
Owners: @tpdorsey

fixes testing tutorial new flow return behavior
  docs/tutorials/testing.md
Owners: @tpdorsey

fixes testing tutorial new flow return behavior
  docs/tutorials/testing.md
Owners: @tpdorsey

Remove the broken GH action that opens a PR
  .github/workflows/release.yaml
Owners: @madkinsz

Remove the broken GH action that opens a PR
  .github/workflows/release.yaml
Owners: @madkinsz

Remove the broken GH action that opens a PR
  .github/workflows/release.yaml
Owners: @madkinsz

Remove empirical config from core schema
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_20_113451_2fe8ef6a6514_remove_flow_runners.py
  src/prefect/orion/schemas/core.py
Owners: @anticorrelator, @zangell44, @madkinsz

Add SQLite migration
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_20_113451_2fe8ef6a6514_remove_flow_runners.py
Owners: @anticorrelator

Remove empirical config from core schema
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_20_113451_2fe8ef6a6514_remove_flow_runners.py
  src/prefect/orion/schemas/core.py
Owners: @anticorrelator, @zangell44, @madkinsz

Add SQLite migration
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_20_113451_2fe8ef6a6514_remove_flow_runners.py
Owners: @anticorrelator

Fix assertions
  tests/test_agent.py
Owners: @madkinsz

Fix assertions
  tests/test_agent.py
Owners: @madkinsz

Revert accidental commit
  src/prefect/engine.py
  tests/test_client.py
Owners: @madkinsz

Revert accidental commit
  src/prefect/engine.py
  tests/test_client.py
Owners: @madkinsz

Fix tests
  src/prefect/cli/deployment.py
  src/prefect/infrastructure/base.py
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/process.py
  tests/cli/test_deployment_preview.py
  tests/deployments/test_deployment.py
  tests/fixtures/database.py
  tests/infrastructure/test_submission.py
  tests/orion/api/test_deployments.py
  tests/orion/api/test_flow_runs.py
  tests/orion/models/test_deployments.py
  tests/orion/models/test_flow_runs.py
Owners: @madkinsz

Fix tests
  src/prefect/cli/deployment.py
  src/prefect/infrastructure/base.py
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/process.py
  tests/cli/test_deployment_preview.py
  tests/deployments/test_deployment.py
  tests/fixtures/database.py
  tests/infrastructure/test_submission.py
  tests/orion/api/test_deployments.py
  tests/orion/api/test_flow_runs.py
  tests/orion/models/test_deployments.py
  tests/orion/models/test_flow_runs.py
Owners: @madkinsz

applied breaking change from https://github.com/PrefectHQ/orion-design/pull/361
  orion-ui/src/utilities/permissions.ts
Owners: @pleek91

applied breaking change from https://github.com/PrefectHQ/orion-design/pull/361
  orion-ui/src/utilities/permissions.ts
Owners: @pleek91

applied breaking change from https://github.com/PrefectHQ/orion-design/pull/361
  orion-ui/src/utilities/permissions.ts
Owners: @pleek91

update virtual-environments tutorial so it works with 2.0b9changes
  docs/tutorials/virtual-environments.md
Owners: @tpdorsey

update virtual-environments tutorial so it works with 2.0b9changes
  docs/tutorials/virtual-environments.md
Owners: @tpdorsey

update virtual-environments tutorial so it works with 2.0b9changes
  docs/tutorials/virtual-environments.md
Owners: @tpdorsey

updated version of orion-design
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

updated version of orion-design
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

updated version of orion-design
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91
