Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @pleek91, @PrefectHQ/docs

Add deployment and flow filters to `/artifacts/filter` and `/artifacts/latest/filter` routes (#9089)
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

Cloud storage recipe improvements (#9145)
  src/prefect/projects/recipes/docker-gcs/prefect.yaml
  src/prefect/projects/recipes/docker-s3/prefect.yaml
  src/prefect/projects/recipes/gcs/prefect.yaml
  src/prefect/projects/recipes/s3/prefect.yaml
Owners: @PrefectHQ/open-source

Cloud storage recipe improvements (#9145)
  src/prefect/projects/recipes/docker-gcs/prefect.yaml
  src/prefect/projects/recipes/docker-s3/prefect.yaml
  src/prefect/projects/recipes/gcs/prefect.yaml
  src/prefect/projects/recipes/s3/prefect.yaml
Owners: @PrefectHQ/open-source

Cloud storage recipe improvements (#9145)
  src/prefect/projects/recipes/docker-gcs/prefect.yaml
  src/prefect/projects/recipes/docker-s3/prefect.yaml
  src/prefect/projects/recipes/gcs/prefect.yaml
  src/prefect/projects/recipes/s3/prefect.yaml
Owners: @PrefectHQ/open-source

Deploy touch ups (#9144)
  docs/api-ref/prefect/cli/project.md
  mkdocs.yml
  src/prefect/cli/root.py
  tests/cli/test_project.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Deploy touch ups (#9144)
  docs/api-ref/prefect/cli/project.md
  mkdocs.yml
  src/prefect/cli/root.py
  tests/cli/test_project.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Deploy touch ups (#9144)
  docs/api-ref/prefect/cli/project.md
  mkdocs.yml
  src/prefect/cli/root.py
  tests/cli/test_project.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Add 2.8, 2.9, 2.10 to integration tests (#9141)
  .github/workflows/integration-tests.yaml
Owners: @PrefectHQ/open-source

Add 2.8, 2.9, 2.10 to integration tests (#9141)
  .github/workflows/integration-tests.yaml
Owners: @PrefectHQ/open-source

Add 2.8, 2.9, 2.10 to integration tests (#9141)
  .github/workflows/integration-tests.yaml
Owners: @PrefectHQ/open-source

Use new sessions and transactions for each query during `CancellationCleanup` (#9124)
  src/prefect/server/services/cancellation_cleanup.py
Owners: @PrefectHQ/open-source, @zangell44

Use new sessions and transactions for each query during `CancellationCleanup` (#9124)
  src/prefect/server/services/cancellation_cleanup.py
Owners: @PrefectHQ/open-source, @zangell44

Use new sessions and transactions for each query during `CancellationCleanup` (#9124)
  src/prefect/server/services/cancellation_cleanup.py
Owners: @PrefectHQ/open-source, @zangell44

WIP: checking for a stable dag
  src/prefect/dag.py
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Hack subset of magic methods; only run with bools toggled once
  src/prefect/dag.py
Owners: @PrefectHQ/open-source

Update deployment defaults with project init
  src/prefect/cli/project.py
  src/prefect/cli/root.py
  src/prefect/projects/base.py
  src/prefect/projects/templates/deployment.yaml
  tests/projects/test_base.py
Owners: @PrefectHQ/open-source

Use a list instead of a set
  src/prefect/dag.py
Owners: @PrefectHQ/open-source

Add example file
  example-dag.py
Owners: @PrefectHQ/open-source

Stream `git` output during `git_clone_project`
  src/prefect/projects/steps/pull.py
Owners: @PrefectHQ/open-source

Expand upon project step documentation
  mkdocs.yml
  src/prefect/projects/base.py
  src/prefect/projects/steps/core.py
  src/prefect/projects/steps/pull.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Add docs to api-ref and add step mechanics
  docs/api-ref/prefect/projects/base.md
  docs/api-ref/prefect/projects/steps/core.md
  docs/api-ref/prefect/projects/steps/pull.md
  docs/concepts/projects.md
  src/prefect/projects/steps/core.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Add `/artifacts/latest/count` route (#9090)
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

Add `/artifacts/latest/count` route (#9090)
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

Add `/artifacts/latest/count` route (#9090)
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

Improve reference to section in same doc
  docs/concepts/projects.md
Owners: @PrefectHQ/docs

initial commit
  src/prefect/server/models/artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

initial commit
  src/prefect/server/models/artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

Fixes worker start CLI args
  src/prefect/cli/worker.py
Owners: @PrefectHQ/open-source

Stream `git` output during `git_clone_project` (#9149)
  src/prefect/projects/steps/pull.py
Owners: @PrefectHQ/open-source

Stream `git` output during `git_clone_project` (#9149)
  src/prefect/projects/steps/pull.py
Owners: @PrefectHQ/open-source

Stream `git` output during `git_clone_project` (#9149)
  src/prefect/projects/steps/pull.py
Owners: @PrefectHQ/open-source

Hide command when access token is provided and `git_clone_project` fails
  src/prefect/projects/steps/pull.py
Owners: @PrefectHQ/open-source

Update deployment defaults with project init (#9146)
  src/prefect/cli/project.py
  src/prefect/cli/root.py
  src/prefect/projects/base.py
  src/prefect/projects/templates/deployment.yaml
  tests/projects/test_base.py
Owners: @PrefectHQ/open-source

Update deployment defaults with project init (#9146)
  src/prefect/cli/project.py
  src/prefect/cli/root.py
  src/prefect/projects/base.py
  src/prefect/projects/templates/deployment.yaml
  tests/projects/test_base.py
Owners: @PrefectHQ/open-source

Update deployment defaults with project init (#9146)
  src/prefect/cli/project.py
  src/prefect/cli/root.py
  src/prefect/projects/base.py
  src/prefect/projects/templates/deployment.yaml
  tests/projects/test_base.py
Owners: @PrefectHQ/open-source

Update docstring for accuracy
  src/prefect/projects/steps/pull.py
Owners: @PrefectHQ/open-source

Fix apply artifact collection filter (#9153)
  src/prefect/server/models/artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

Fix apply artifact collection filter (#9153)
  src/prefect/server/models/artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

Fix apply artifact collection filter (#9153)
  src/prefect/server/models/artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

Allow runtime value mockin via env var
  src/prefect/runtime/deployment.py
  src/prefect/runtime/flow_run.py
  src/prefect/runtime/task_run.py
  tests/runtime/test_deployment.py
  tests/runtime/test_flow_run.py
  tests/runtime/test_task_run.py
Owners: @PrefectHQ/open-source

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# ui
/ui                            @pleek91

# documentation
/docs                                @PrefectHQ/docs
mkdocs.yml                           @PrefectHQ/docs
mkdocs.insiders.yml                  @PrefectHQ/docs

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source 

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source
