Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @cicdw, @pleek91, @tpdorsey, @anticorrelator

Make lint
  tests/cli/test_start_server.py
Owners: @PrefectHQ/open-source

Updates worker typing for clearer display in the UI
  src/prefect/experimental/workers/base.py
  src/prefect/experimental/workers/process.py
  tests/experimental/workers/test_base_worker.py
  tests/experimental/workers/test_process_worker.py
Owners: @PrefectHQ/open-source

Relocates validator
  src/prefect/experimental/workers/process.py
  tests/experimental/workers/test_process_worker.py
Owners: @PrefectHQ/open-source

Update `call_soon_in_main_thread` to `call_soon_in_supervising_thread`
  src/prefect/_internal/concurrency/from_async.py
  src/prefect/_internal/concurrency/from_sync.py
  tests/_internal/concurrency/test_api.py
Owners: @PrefectHQ/open-source

Fix formatting
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Update src/prefect/experimental/workers/process.py
  src/prefect/experimental/workers/process.py
Owners: @PrefectHQ/open-source

Removes public-only indication in GitHub doc
  src/prefect/filesystems.py
Owners: @PrefectHQ/open-source

Update ui library
  ui/package-lock.json
  ui/package.json
Owners: @pleek91

Use correct flow run filter composition
  ui/src/pages/FlowRuns.vue
Owners: @pleek91

Specify correct database (orion -> prefect)
  scripts/test-with-postgres
Owners: @PrefectHQ/open-source

Fix Kubernetes job watch timeout when streaming logs
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_kubernetes_job.py
Owners: @PrefectHQ/open-source

Update `call_soon_in_main_thread` to `call_soon_in_supervising_thread` (#8614)
  src/prefect/_internal/concurrency/from_async.py
  src/prefect/_internal/concurrency/from_sync.py
  tests/_internal/concurrency/test_api.py
Owners: @PrefectHQ/open-source

Update `call_soon_in_main_thread` to `call_soon_in_supervising_thread` (#8614)
  src/prefect/_internal/concurrency/from_async.py
  src/prefect/_internal/concurrency/from_sync.py
  tests/_internal/concurrency/test_api.py
Owners: @PrefectHQ/open-source

Update `call_soon_in_main_thread` to `call_soon_in_supervising_thread` (#8614)
  src/prefect/_internal/concurrency/from_async.py
  src/prefect/_internal/concurrency/from_sync.py
  tests/_internal/concurrency/test_api.py
Owners: @PrefectHQ/open-source

Fix incorrect postgres URL in testing script (#8617)
  scripts/test-with-postgres
Owners: @PrefectHQ/open-source

Fix incorrect postgres URL in testing script (#8617)
  scripts/test-with-postgres
Owners: @PrefectHQ/open-source

Fix incorrect postgres URL in testing script (#8617)
  scripts/test-with-postgres
Owners: @PrefectHQ/open-source

Updates worker variable typing for clearer display in the UI (#8613)
  src/prefect/experimental/workers/base.py
  src/prefect/experimental/workers/process.py
  tests/experimental/workers/test_base_worker.py
  tests/experimental/workers/test_process_worker.py
Owners: @PrefectHQ/open-source

Updates worker variable typing for clearer display in the UI (#8613)
  src/prefect/experimental/workers/base.py
  src/prefect/experimental/workers/process.py
  tests/experimental/workers/test_base_worker.py
  tests/experimental/workers/test_process_worker.py
Owners: @PrefectHQ/open-source

Updates worker variable typing for clearer display in the UI (#8613)
  src/prefect/experimental/workers/base.py
  src/prefect/experimental/workers/process.py
  tests/experimental/workers/test_base_worker.py
  tests/experimental/workers/test_process_worker.py
Owners: @PrefectHQ/open-source

Adds option to ignore storage when loading a flow run from a deployment
  src/prefect/engine.py
  tests/generic_flows.py
  tests/test_engine.py
Owners: @PrefectHQ/open-source

Updates workers to use new --ignore-storage option
  src/prefect/engine.py
  src/prefect/experimental/workers/base.py
  src/prefect/experimental/workers/process.py
  tests/test_engine.py
Owners: @PrefectHQ/open-source

Adds test for worker warning when flow run's deployment has a storage block
  src/prefect/experimental/workers/base.py
  tests/experimental/workers/test_base_worker.py
Owners: @PrefectHQ/open-source

Updates handling of flow runs with storage blocks
  src/prefect/experimental/workers/base.py
Owners: @PrefectHQ/open-source

Add handling for completed jobs that timeout during log streams
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_kubernetes_job.py
Owners: @PrefectHQ/open-source

Fixes tests
  tests/experimental/workers/test_base_worker.py
  tests/experimental/workers/test_process_worker.py
Owners: @PrefectHQ/open-source

Removes engine changes
  src/prefect/experimental/workers/base.py
  src/prefect/experimental/workers/process.py
  tests/experimental/workers/test_process_worker.py
Owners: @PrefectHQ/open-source

Removes unnecessary test
  tests/test_engine.py
Owners: @PrefectHQ/open-source

Removes engine tests
  tests/test_engine.py
Owners: @PrefectHQ/open-source

Reverts engine changes
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Removes generic flows
  tests/generic_flows.py
Owners: @PrefectHQ/open-source

Add tutorial for running and agent on Azure Container Instances
  docs/img/ui/healthy-work-queue.png
  docs/tutorials/cloud-agent.md
  mkdocs.yml
Owners: @tpdorsey

log hook run before calling hook
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Ensures flow runs with storage block aren't executed
  src/prefect/experimental/workers/base.py
  tests/experimental/workers/test_base_worker.py
Owners: @PrefectHQ/open-source

Docs: Add Resume Flow Run Through UI
  docs/concepts/flows.md
Owners: @tpdorsey

Move run_flow_hooks to single line
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Add coverage for with_options
  tests/test_flows.py
Owners: @PrefectHQ/open-source

Redirect from old cloud getting started page
  netlify.toml
Owners: @PrefectHQ/open-source

using latest ui-library
  ui/package-lock.json
  ui/package.json
Owners: @pleek91

replaced CodeSnippet with CopyableWrapper
  ui/src/pages/Deployment.vue
  ui/src/pages/FlowRun.vue
  ui/src/pages/TaskRun.vue
Owners: @pleek91

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# deployments
/src/prefect/cli/deployment.py       @PrefectHQ/open-source @cicdw
/src/prefect/deployments.py          @PrefectHQ/open-source @cicdw

# ui
/ui                            @pleek91

# documentation
/docs                                @tpdorsey
mkdocs.yml                           @tpdorsey
mkdocs.insiders.yml                  @tpdorsey

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source @anticorrelator

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source @anticorrelator
