Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Fix filter
  src/prefect/blocks/core.py
Owners: @madkinsz

Fix filter
  src/prefect/blocks/core.py
Owners: @madkinsz

Be more explicit with return values
  src/prefect/logging/filters.py
Owners: @madkinsz

Be more explicit with return values
  src/prefect/logging/filters.py
Owners: @madkinsz

Be more explicit with return values
  src/prefect/logging/filters.py
Owners: @madkinsz

Disable logger instead of filter
  src/prefect/blocks/core.py
  src/prefect/logging/filters.py
Owners: @madkinsz

Disable logger instead of filter
  src/prefect/blocks/core.py
  src/prefect/logging/filters.py
Owners: @madkinsz

Disable logger instead of filter
  src/prefect/blocks/core.py
  src/prefect/logging/filters.py
Owners: @madkinsz

Obfuscate strings but include visible suffix
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/utilities/names.py
  src/prefect/orion/utilities/schemas.py
  tests/blocks/test_core.py
  tests/orion/api/test_block_documents.py
  tests/orion/models/test_block_documents.py
  tests/orion/utilities/test_names.py
Owners: @zangell44, @madkinsz

Obfuscate strings but include visible suffix
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/utilities/names.py
  src/prefect/orion/utilities/schemas.py
  tests/blocks/test_core.py
  tests/orion/api/test_block_documents.py
  tests/orion/models/test_block_documents.py
  tests/orion/utilities/test_names.py
Owners: @zangell44, @madkinsz

Obfuscate strings but include visible suffix
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/utilities/names.py
  src/prefect/orion/utilities/schemas.py
  tests/blocks/test_core.py
  tests/orion/api/test_block_documents.py
  tests/orion/models/test_block_documents.py
  tests/orion/utilities/test_names.py
Owners: @zangell44, @madkinsz

Updating variable names
  docs/concepts/filesystems.md
Owners: @tpdorsey

Updating variable names
  docs/concepts/filesystems.md
Owners: @tpdorsey

Updating variable names
  docs/concepts/filesystems.md
Owners: @tpdorsey

Updating flow names
  docs/concepts/filesystems.md
Owners: @tpdorsey

Updating flow names
  docs/concepts/filesystems.md
Owners: @tpdorsey

Updating flow names
  docs/concepts/filesystems.md
Owners: @tpdorsey

Change the flow/task `run` method to private
  src/prefect/cli/deployment.py
  src/prefect/flows.py
  src/prefect/tasks.py
  src/prefect/testing/standard_test_suites.py
  tests/test_engine.py
  tests/test_flows.py
  tests/test_futures.py
  tests/test_logging.py
  tests/test_tasks.py
Owners: @madkinsz

Change the flow/task `run` method to private
  src/prefect/cli/deployment.py
  src/prefect/flows.py
  src/prefect/tasks.py
  src/prefect/testing/standard_test_suites.py
  tests/test_engine.py
  tests/test_flows.py
  tests/test_futures.py
  tests/test_logging.py
  tests/test_tasks.py
Owners: @madkinsz

Change the flow/task `run` method to private
  src/prefect/cli/deployment.py
  src/prefect/flows.py
  src/prefect/tasks.py
  src/prefect/testing/standard_test_suites.py
  tests/test_engine.py
  tests/test_flows.py
  tests/test_futures.py
  tests/test_logging.py
  tests/test_tasks.py
Owners: @madkinsz

2.0b9-release-notes
  RELEASE-NOTES.md
Owners: @madkinsz

2.0b9-release-notes
  RELEASE-NOTES.md
Owners: @madkinsz

2.0b9-release-notes
  RELEASE-NOTES.md
Owners: @madkinsz

Revise on comments
  docs/contributing/style.md
  src/prefect/blocks/kubernetes.py
Owners: @tpdorsey, @madkinsz

Revise on comments
  docs/contributing/style.md
  src/prefect/blocks/kubernetes.py
Owners: @tpdorsey, @madkinsz

Revise on comments
  docs/contributing/style.md
  src/prefect/blocks/kubernetes.py
Owners: @tpdorsey, @madkinsz

Fix typo
  docs/contributing/style.md
Owners: @tpdorsey

Fix typo
  docs/contributing/style.md
Owners: @tpdorsey

Fix typo
  docs/contributing/style.md
Owners: @tpdorsey

update docs index page to answer "why"
  docs/index.md
Owners: @tpdorsey

update docs index page to answer "why"
  docs/index.md
Owners: @tpdorsey

update docs index page to answer "why"
  docs/index.md
Owners: @tpdorsey

more dataflow and misc edits
  docs/index.md
Owners: @tpdorsey

more dataflow and misc edits
  docs/index.md
Owners: @tpdorsey

more dataflow and misc edits
  docs/index.md
Owners: @tpdorsey

Improve error message
  src/prefect/flow_runners/kubernetes.py
Owners: @madkinsz

Improve error message
  src/prefect/flow_runners/kubernetes.py
Owners: @madkinsz

Improve error message
  src/prefect/flow_runners/kubernetes.py
Owners: @madkinsz

Fix tests
  tests/flow_runners/test_kubernetes.py
Owners: @madkinsz

Fix tests
  tests/flow_runners/test_kubernetes.py
Owners: @madkinsz
