Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Add spacing before complete flow code
  docs/concepts/filesystems.md
Owners: @tpdorsey

Specifying Minio RemoteFileSystem code as python
  docs/concepts/filesystems.md
Owners: @tpdorsey

Specifying Minio RemoteFileSystem code as python
  docs/concepts/filesystems.md
Owners: @tpdorsey

Specifying Minio RemoteFileSystem code as python
  docs/concepts/filesystems.md
Owners: @tpdorsey

Update tutorial
  docs/concepts/deployments.md
  docs/img/tutorials/dep-flow-logs.png
  docs/img/tutorials/dep-flow-runs.png
  docs/img/tutorials/deployment-details.png
  docs/img/tutorials/deployment-run.png
  docs/img/tutorials/my-first-deployment.png
  docs/img/tutorials/orion-deployments.png
  docs/img/tutorials/quick-run.png
  docs/img/tutorials/ui-component.png
  docs/tutorials/deployments.md
Owners: @tpdorsey

Update tutorial
  docs/concepts/deployments.md
  docs/img/tutorials/dep-flow-logs.png
  docs/img/tutorials/dep-flow-runs.png
  docs/img/tutorials/deployment-details.png
  docs/img/tutorials/deployment-run.png
  docs/img/tutorials/my-first-deployment.png
  docs/img/tutorials/orion-deployments.png
  docs/img/tutorials/quick-run.png
  docs/img/tutorials/ui-component.png
  docs/tutorials/deployments.md
Owners: @tpdorsey

Update tutorial
  docs/concepts/deployments.md
  docs/img/tutorials/dep-flow-logs.png
  docs/img/tutorials/dep-flow-runs.png
  docs/img/tutorials/deployment-details.png
  docs/img/tutorials/deployment-run.png
  docs/img/tutorials/my-first-deployment.png
  docs/img/tutorials/orion-deployments.png
  docs/img/tutorials/quick-run.png
  docs/img/tutorials/ui-component.png
  docs/tutorials/deployments.md
Owners: @tpdorsey

Fix code example
  docs/tutorials/deployments.md
Owners: @tpdorsey

Fix code example
  docs/tutorials/deployments.md
Owners: @tpdorsey

Fix code example
  docs/tutorials/deployments.md
Owners: @tpdorsey

Add parameters table to flow run page
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/pages/Deployment.vue
  orion-ui/src/pages/FlowRun.vue
Owners: @pleek91

Add parameters table to flow run page
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/pages/Deployment.vue
  orion-ui/src/pages/FlowRun.vue
Owners: @pleek91

Add parameters table to flow run page
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/pages/Deployment.vue
  orion-ui/src/pages/FlowRun.vue
Owners: @pleek91

Allow paths to be provided directly to `Deployment` objects
  docs/concepts/deployments.md
  src/prefect/deployments.py
  tests/deployments/test_deployment.py
Owners: @tpdorsey, @madkinsz

Allow paths to be provided directly to `Deployment` objects
  docs/concepts/deployments.md
  src/prefect/deployments.py
  tests/deployments/test_deployment.py
Owners: @tpdorsey, @madkinsz

Allow paths to be provided directly to `Deployment` objects
  docs/concepts/deployments.md
  src/prefect/deployments.py
  tests/deployments/test_deployment.py
Owners: @tpdorsey, @madkinsz

Fix use of `run` in task input tests
  tests/test_tasks.py
Owners: @madkinsz

Fix use of `run` in task input tests
  tests/test_tasks.py
Owners: @madkinsz

Fix use of `run` in task input tests
  tests/test_tasks.py
Owners: @madkinsz

Fix invalid deployments which used strings as invalid flows :D
  tests/deployments/examples/invalid_deployment.py
  tests/deployments/examples/invalid_deployment_with_name.py
  tests/deployments/examples/mixed_valid_invalid_deployments.py
  tests/deployments/examples/mixed_valid_invalid_deployments.yaml
  tests/deployments/examples/multiple_invalid_deployments.py
  tests/deployments/examples/multiple_invalid_deployments.yaml
  tests/deployments/test_deployment_loading.py
Owners: @madkinsz

Fix invalid deployments which used strings as invalid flows :D
  tests/deployments/examples/invalid_deployment.py
  tests/deployments/examples/invalid_deployment_with_name.py
  tests/deployments/examples/mixed_valid_invalid_deployments.py
  tests/deployments/examples/mixed_valid_invalid_deployments.yaml
  tests/deployments/examples/multiple_invalid_deployments.py
  tests/deployments/examples/multiple_invalid_deployments.yaml
  tests/deployments/test_deployment_loading.py
Owners: @madkinsz

Fix invalid deployments which used strings as invalid flows :D
  tests/deployments/examples/invalid_deployment.py
  tests/deployments/examples/invalid_deployment_with_name.py
  tests/deployments/examples/mixed_valid_invalid_deployments.py
  tests/deployments/examples/mixed_valid_invalid_deployments.yaml
  tests/deployments/examples/multiple_invalid_deployments.py
  tests/deployments/examples/multiple_invalid_deployments.yaml
  tests/deployments/test_deployment_loading.py
Owners: @madkinsz

Modifications to version change warning
  RELEASE-NOTES.md
Owners: @madkinsz

Modifications to version change warning
  RELEASE-NOTES.md
Owners: @madkinsz

Modifications to version change warning
  RELEASE-NOTES.md
Owners: @madkinsz

Specify UI
  RELEASE-NOTES.md
Owners: @madkinsz

Specify UI
  RELEASE-NOTES.md
Owners: @madkinsz

Specify UI
  RELEASE-NOTES.md
Owners: @madkinsz

Specify UI 2
  RELEASE-NOTES.md
Owners: @madkinsz

Specify UI 2
  RELEASE-NOTES.md
Owners: @madkinsz

Specify UI 2
  RELEASE-NOTES.md
Owners: @madkinsz

Add secret block
  RELEASE-NOTES.md
Owners: @madkinsz

Add secret block
  RELEASE-NOTES.md
Owners: @madkinsz

Add secret block
  RELEASE-NOTES.md
Owners: @madkinsz

bump orion-design version
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

bump orion-design version
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

bump orion-design version
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Update tutorial to use path directly
  docs/tutorials/deployments.md
Owners: @tpdorsey

Update tutorial to use path directly
  docs/tutorials/deployments.md
Owners: @tpdorsey

Update tutorial to use path directly
  docs/tutorials/deployments.md
Owners: @tpdorsey
