Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Ensure conda flavored images are published during a release (PrefectHQ/orion#2486)
  .github/workflows/release.yaml
Owners: @madkinsz

Ensure conda flavored images are published during a release (PrefectHQ/orion#2486)
  .github/workflows/release.yaml
Owners: @madkinsz

Add `return_state` to Task.submit and Task.map (PrefectHQ/orion#2487)
  src/prefect/tasks.py
  tests/test_tasks.py
Owners: @madkinsz

Add `return_state` to Task.submit and Task.map (PrefectHQ/orion#2487)
  src/prefect/tasks.py
  tests/test_tasks.py
Owners: @madkinsz

Interval schedule default anchor date is now (PrefectHQ/orion#2494)
  src/prefect/orion/schemas/schedules.py
  tests/deployments/test_deployment.py
  tests/fixtures/database.py
  tests/orion/api/test_deployments.py
  tests/orion/schemas/test_schedules.py
  tests/test_client.py
Owners: @zangell44, @madkinsz

Interval schedule default anchor date is now (PrefectHQ/orion#2494)
  src/prefect/orion/schemas/schedules.py
  tests/deployments/test_deployment.py
  tests/fixtures/database.py
  tests/orion/api/test_deployments.py
  tests/orion/schemas/test_schedules.py
  tests/test_client.py
Owners: @zangell44, @madkinsz

Separate Windows tests and run on a schedule (PrefectHQ/orion#2488)
  .github/workflows/windows-tests.yaml
Owners: @madkinsz

Separate Windows tests and run on a schedule (PrefectHQ/orion#2488)
  .github/workflows/windows-tests.yaml
Owners: @madkinsz

Fix incorrect CLI message
  src/prefect/cli/cloud.py
Owners: @madkinsz

Fix incorrect CLI message
  src/prefect/cli/cloud.py
Owners: @madkinsz

A working version of S3 with inferred credentials
  src/prefect/filesystems.py
Owners: @madkinsz

A working version of S3 with inferred credentials
  src/prefect/filesystems.py
Owners: @madkinsz

Working with provided credentials as well
  src/prefect/filesystems.py
Owners: @madkinsz

Working with provided credentials as well
  src/prefect/filesystems.py
Owners: @madkinsz

Bumps ORION_API_VERSION to 0.8.0
  src/prefect/blocks/core.py
  src/prefect/orion/api/server.py
Owners: @madkinsz, @zangell44

Bumps ORION_API_VERSION to 0.8.0
  src/prefect/blocks/core.py
  src/prefect/orion/api/server.py
Owners: @madkinsz, @zangell44

Include PATCH route for deployments
  src/prefect/orion/api/deployments.py
  src/prefect/orion/models/deployments.py
  src/prefect/orion/schemas/actions.py
Owners: @zangell44, @madkinsz

Include PATCH route for deployments
  src/prefect/orion/api/deployments.py
  src/prefect/orion/models/deployments.py
  src/prefect/orion/schemas/actions.py
Owners: @zangell44, @madkinsz

Two equals are better than one
  src/prefect/orion/models/deployments.py
Owners: @zangell44, @madkinsz

Two equals are better than one
  src/prefect/orion/models/deployments.py
Owners: @zangell44, @madkinsz

Remove extraneous now
  src/prefect/orion/api/deployments.py
Owners: @zangell44, @madkinsz

Remove extraneous now
  src/prefect/orion/api/deployments.py
Owners: @zangell44, @madkinsz

Organizations stub
  docs/ui/organizations.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Organizations stub
  docs/ui/organizations.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Bumps minimum api version
  src/prefect/orion/api/server.py
Owners: @zangell44, @madkinsz

Bumps minimum api version
  src/prefect/orion/api/server.py
Owners: @zangell44, @madkinsz

format for days
  src/prefect/filesystems.py
Owners: @madkinsz

format for days
  src/prefect/filesystems.py
Owners: @madkinsz

Format profiles in a table
  src/prefect/cli/cloud.py
  src/prefect/cli/profile.py
  tests/cli/test_profile.py
Owners: @madkinsz

Format profiles in a table
  src/prefect/cli/cloud.py
  src/prefect/cli/profile.py
  tests/cli/test_profile.py
Owners: @madkinsz

Migrations merged
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_25_133637_add97ce1937d_update_deployments_to_include_more_.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_131028_88c2112b668f_update_deployments_to_include_more_.py
Owners: @anticorrelator

Migrations merged
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_25_133637_add97ce1937d_update_deployments_to_include_more_.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_131028_88c2112b668f_update_deployments_to_include_more_.py
Owners: @anticorrelator

Simplify update route
  src/prefect/orion/api/deployments.py
  src/prefect/orion/models/deployments.py
Owners: @zangell44, @madkinsz

Simplify update route
  src/prefect/orion/api/deployments.py
  src/prefect/orion/models/deployments.py
Owners: @zangell44, @madkinsz

Make name immutable
  src/prefect/orion/schemas/actions.py
Owners: @zangell44, @madkinsz

Make name immutable
  src/prefect/orion/schemas/actions.py
Owners: @zangell44, @madkinsz

Merge in Block Slug work
  src/prefect/cli/deployment.py
Owners: @madkinsz

Merge in Block Slug work
  src/prefect/cli/deployment.py
Owners: @madkinsz

Reference infra by block slug
  src/prefect/cli/deployment.py
Owners: @madkinsz

Reference infra by block slug
  src/prefect/cli/deployment.py
Owners: @madkinsz
