Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @desertaxle, @tpdorsey

.github/CODEOWNERS:

# global owners
*                           @madkinsz

# task library owners
/src/prefect/tasks          @desertaxle
/tests/tasks                @desertaxle
/docs/core/task_library     @desertaxle

# documentation owners
/docs                       @tpdorsey

Add disabled prop and state to RoundedButton. Move styles into component
  orion-ui/src/components/Global/ButtonRounded/ButtonRounded.vue
  orion-ui/src/styles/components/button--rounded.scss
Owners: @madkinsz

Add disabled prop to RoundedButton implementations. Remove extra margins
  orion-ui/src/components/Global/List/ListItemFlow/ListItemFlow.vue
  orion-ui/src/components/Global/List/ListItemFlowRun/ListItemFlowRun.vue
  orion-ui/src/components/Global/List/ListItemSubFlowRun/ListItemSubFlowRun.vue
Owners: @madkinsz

Add disabled prop to RoundedButton implementations. Remove extra margins
  orion-ui/src/components/Global/List/ListItemFlow/ListItemFlow.vue
  orion-ui/src/components/Global/List/ListItemFlowRun/ListItemFlowRun.vue
  orion-ui/src/components/Global/List/ListItemSubFlowRun/ListItemSubFlowRun.vue
Owners: @madkinsz

Separate serialized and deserialized parameters
  src/prefect/engine.py
  src/prefect/flows.py
  src/prefect/utilities/callables.py
Owners: @madkinsz

Separate serialized and deserialized parameters
  src/prefect/engine.py
  src/prefect/flows.py
  src/prefect/utilities/callables.py
Owners: @madkinsz

Use jsonable encoder to preserve simple python types
  src/prefect/flows.py
Owners: @madkinsz

Use jsonable encoder to preserve simple python types
  src/prefect/flows.py
Owners: @madkinsz

Set a failed state if deployed flow runs receive invalid parameters
  src/prefect/engine.py
Owners: @madkinsz

Set a failed state if deployed flow runs receive invalid parameters
  src/prefect/engine.py
Owners: @madkinsz

Update tests to allow unserialized parameters
  tests/test_flows.py
Owners: @madkinsz

Update tests to allow unserialized parameters
  tests/test_flows.py
Owners: @madkinsz

Add tests covering `retrieve_flow_then_begin_flow_run`
  tests/test_engine.py
Owners: @madkinsz

Add tests covering `retrieve_flow_then_begin_flow_run`
  tests/test_engine.py
Owners: @madkinsz

Use a utility to get rid of turneries in templates
  orion-ui/src/components/Global/List/ListItemFlow/ListItemFlow.vue
  orion-ui/src/components/Global/List/ListItemFlowRun/ListItemFlowRun.vue
  orion-ui/src/components/Global/List/ListItemSubFlowRun/ListItemSubFlowRun.vue
  orion-ui/src/utilities/strings.ts
Owners: @madkinsz

Use a utility to get rid of turneries in templates
  orion-ui/src/components/Global/List/ListItemFlow/ListItemFlow.vue
  orion-ui/src/components/Global/List/ListItemFlowRun/ListItemFlowRun.vue
  orion-ui/src/components/Global/List/ListItemSubFlowRun/ListItemSubFlowRun.vue
  orion-ui/src/utilities/strings.ts
Owners: @madkinsz

Remove unused class
  orion-ui/src/components/Global/List/ListItemDeployment/ListItemDeployment.vue
  orion-ui/src/components/Global/List/ListItemFlow/ListItemFlow.vue
  orion-ui/src/components/Global/List/ListItemFlowRun/ListItemFlowRun.vue
  orion-ui/src/components/Global/List/ListItemSubFlowRun/ListItemSubFlowRun.vue
  orion-ui/src/components/Global/List/ListItemTaskRun/ListItemTaskRun.vue
Owners: @madkinsz

Remove unused class
  orion-ui/src/components/Global/List/ListItemDeployment/ListItemDeployment.vue
  orion-ui/src/components/Global/List/ListItemFlow/ListItemFlow.vue
  orion-ui/src/components/Global/List/ListItemFlowRun/ListItemFlowRun.vue
  orion-ui/src/components/Global/List/ListItemSubFlowRun/ListItemSubFlowRun.vue
  orion-ui/src/components/Global/List/ListItemTaskRun/ListItemTaskRun.vue
Owners: @madkinsz

Remove unlinked files. Content is under Getting Started already.
  docs/orchestration/tutorial/first.md
  docs/orchestration/tutorial/flow_config.md
  docs/orchestration/tutorial/next-steps.md
  docs/orchestration/tutorial/overview.md
  docs/orchestration/tutorial/parameters.md
Owners: @tpdorsey

Revise page with links to correct current docs pages.
  docs/core/examples/overview.md
Owners: @tpdorsey

Update miter to 0.1.13
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @madkinsz

Update miter to 0.1.13
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @madkinsz

Cleanup `collect_task_run_inputs`
  src/prefect/engine.py
Owners: @madkinsz

Cleanup `collect_task_run_inputs`
  src/prefect/engine.py
Owners: @madkinsz

Add example and rename variable
  src/prefect/engine.py
Owners: @madkinsz

Add example and rename variable
  src/prefect/engine.py
Owners: @madkinsz

Remove unecessary while loop
  src/prefect/agent.py
Owners: @madkinsz

Remove unecessary while loop
  src/prefect/agent.py
Owners: @madkinsz

Typo fix
  docs/orchestration/flow-runs/inspection.md
Owners: @tpdorsey

add flow_run.get_logs() example
  docs/orchestration/flow-runs/inspection.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/orchestration/flow-runs/inspection.md
Owners: @tpdorsey

Add test for venv support
  tests/test_flow_runners.py
Owners: @madkinsz

Add test for venv support
  tests/test_flow_runners.py
Owners: @madkinsz

Do not allow both environment types to be provided
  src/prefect/flow_runners.py
  tests/test_flow_runners.py
Owners: @madkinsz

Do not allow both environment types to be provided
  src/prefect/flow_runners.py
  tests/test_flow_runners.py
Owners: @madkinsz

Update comment
  src/prefect/flow_runners.py
Owners: @madkinsz

Update comment
  src/prefect/flow_runners.py
Owners: @madkinsz

Typo fix (#5244)
  docs/orchestration/flow-runs/inspection.md
Owners: @tpdorsey

add flow_run.get_logs() example (#5245)
  docs/orchestration/flow-runs/inspection.md
Owners: @tpdorsey

Add proxies argument to slack_notifier (#5237)
  changes/pr5237.yaml
  src/prefect/utilities/notifications/notifications.py
  tests/utilities/notifications/test_notifications.py
Owners: @madkinsz

Multiple local agents with the same label (#5232)
  changes/pr5232.yaml
  docs/orchestration/agents/local.md
  docs/orchestration/concepts/flows.md
Owners: @madkinsz, @tpdorsey
