Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @cicdw, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# deployments
/src/prefect/cli/deployment.py       @PrefectHQ/open-source @cicdw
/src/prefect/deployments.py          @PrefectHQ/open-source @cicdw

# ui
/ui                            @pleek91

# documentation
/docs                                @tpdorsey
mkdocs.yml                           @tpdorsey
mkdocs.insiders.yml                  @tpdorsey

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source @anticorrelator

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source @anticorrelator

Remove code snippet (#8623)
  ui/package-lock.json
  ui/package.json
  ui/src/pages/Deployment.vue
  ui/src/pages/FlowRun.vue
  ui/src/pages/TaskRun.vue
Owners: @pleek91

Remove code snippet (#8623)
  ui/package-lock.json
  ui/package.json
  ui/src/pages/Deployment.vue
  ui/src/pages/FlowRun.vue
  ui/src/pages/TaskRun.vue
Owners: @pleek91

Remove code snippet (#8623)
  ui/package-lock.json
  ui/package.json
  ui/src/pages/Deployment.vue
  ui/src/pages/FlowRun.vue
  ui/src/pages/TaskRun.vue
Owners: @pleek91

Apply suggestions from code review
  docs/concepts/flows.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/tutorials/cloud-agent.md
Owners: @tpdorsey

feat(cli): add to flow run logs command option to print logs order by desc
  src/prefect/cli/flow_run.py
  src/prefect/client/orchestration.py
Owners: @PrefectHQ/open-source

Adds back accidentally deleted line
  src/prefect/experimental/workers/process.py
Owners: @PrefectHQ/open-source

Merge leftover
  src/prefect/cli/server.py
Owners: @PrefectHQ/open-source

Add docstring
  src/prefect/cli/server.py
  src/prefect/utilities/processutils.py
Owners: @PrefectHQ/open-source

Improve logging messages
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Fix Kubernetes job watch timeout when streaming logs (#8618)
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_kubernetes_job.py
Owners: @PrefectHQ/open-source

Fix Kubernetes job watch timeout when streaming logs (#8618)
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_kubernetes_job.py
Owners: @PrefectHQ/open-source

Fix Kubernetes job watch timeout when streaming logs (#8618)
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_kubernetes_job.py
Owners: @PrefectHQ/open-source

Update `BaseWorker` to ignore flow runs with associated storage block (#8619)
  src/prefect/experimental/workers/base.py
  src/prefect/experimental/workers/process.py
  tests/experimental/workers/test_base_worker.py
  tests/experimental/workers/test_process_worker.py
Owners: @PrefectHQ/open-source

Update `BaseWorker` to ignore flow runs with associated storage block (#8619)
  src/prefect/experimental/workers/base.py
  src/prefect/experimental/workers/process.py
  tests/experimental/workers/test_base_worker.py
  tests/experimental/workers/test_process_worker.py
Owners: @PrefectHQ/open-source

Update `BaseWorker` to ignore flow runs with associated storage block (#8619)
  src/prefect/experimental/workers/base.py
  src/prefect/experimental/workers/process.py
  tests/experimental/workers/test_base_worker.py
  tests/experimental/workers/test_process_worker.py
Owners: @PrefectHQ/open-source

Redirect from old Cloud Getting Started page (#8622)
  netlify.toml
Owners: @PrefectHQ/open-source

Redirect from old Cloud Getting Started page (#8622)
  netlify.toml
Owners: @PrefectHQ/open-source

Redirect from old Cloud Getting Started page (#8622)
  netlify.toml
Owners: @PrefectHQ/open-source

Docs: Add Resume Flow Run Through UI (#8621)
  docs/concepts/flows.md
Owners: @tpdorsey

Docs: Add Resume Flow Run Through UI (#8621)
  docs/concepts/flows.md
Owners: @tpdorsey

Docs: Add Resume Flow Run Through UI (#8621)
  docs/concepts/flows.md
Owners: @tpdorsey

latest prefecthq
  ui/package-lock.json
  ui/package.json
Owners: @pleek91

change app bg color
  ui/src/pages/AppRouterView.vue
Owners: @pleek91

transparent sticky header style for flow runs list
  ui/src/pages/FlowRuns.vue
Owners: @pleek91

Fix flow run filters date range not working properly (#8616)
  ui/src/pages/FlowRuns.vue
Owners: @pleek91

Fix flow run filters date range not working properly (#8616)
  ui/src/pages/FlowRuns.vue
Owners: @pleek91

Fix flow run filters date range not working properly (#8616)
  ui/src/pages/FlowRuns.vue
Owners: @pleek91

Apply suggestions from code review
  docs/tutorials/cloud-agent.md
Owners: @tpdorsey

Removes public-only indication in GitHub doc (#8615)
  src/prefect/filesystems.py
Owners: @PrefectHQ/open-source

Removes public-only indication in GitHub doc (#8615)
  src/prefect/filesystems.py
Owners: @PrefectHQ/open-source

Removes public-only indication in GitHub doc (#8615)
  src/prefect/filesystems.py
Owners: @PrefectHQ/open-source

Light and dark mode color and contrast enhancements (#8629)
  ui/package-lock.json
  ui/package.json
  ui/src/pages/AppRouterView.vue
  ui/src/pages/FlowRuns.vue
Owners: @pleek91

Light and dark mode color and contrast enhancements (#8629)
  ui/package-lock.json
  ui/package.json
  ui/src/pages/AppRouterView.vue
  ui/src/pages/FlowRuns.vue
Owners: @pleek91

Light and dark mode color and contrast enhancements (#8629)
  ui/package-lock.json
  ui/package.json
  ui/src/pages/AppRouterView.vue
  ui/src/pages/FlowRuns.vue
Owners: @pleek91

Parameterize sync/async tests
  tests/test_flows.py
Owners: @PrefectHQ/open-source

Merge main and update formatting
  src/prefect/engine.py
  tests/test_flows.py
Owners: @PrefectHQ/open-source

Fix exception logging
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

remove beta notes, update examples and tables
  docs/concepts/deployments.md
  docs/concepts/work-pools.md
Owners: @tpdorsey

Refactor supervisors to manage submission
  src/prefect/_internal/concurrency/from_async.py
  src/prefect/_internal/concurrency/from_sync.py
  src/prefect/_internal/concurrency/supervisors.py
Owners: @PrefectHQ/open-source
