Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

Update pr6021.yaml
  changes/pr6021.yaml
Owners: @madkinsz

Add style guide for CLI
  docs/contributing/style.md
Owners: @tpdorsey

Add style guide for CLI
  docs/contributing/style.md
Owners: @tpdorsey

Add style guide for CLI
  docs/contributing/style.md
Owners: @tpdorsey

Fixup base
  src/prefect/infrastructure/base.py
Owners: @madkinsz

Fixup base
  src/prefect/infrastructure/base.py
Owners: @madkinsz

Fixup base
  src/prefect/infrastructure/base.py
Owners: @madkinsz

Fix bug with `lazy_import` and add handling for missing modules at import-time
  src/prefect/flow_runners/kubernetes.py
  src/prefect/utilities/importtools.py
  tests/utilities/test_importtools.py
Owners: @madkinsz

Fix bug with `lazy_import` and add handling for missing modules at import-time
  src/prefect/flow_runners/kubernetes.py
  src/prefect/utilities/importtools.py
  tests/utilities/test_importtools.py
Owners: @madkinsz

Fix bug with `lazy_import` and add handling for missing modules at import-time
  src/prefect/flow_runners/kubernetes.py
  src/prefect/utilities/importtools.py
  tests/utilities/test_importtools.py
Owners: @madkinsz

Add regression test
  tests/utilities/test_importtools.py
Owners: @madkinsz

Add regression test
  tests/utilities/test_importtools.py
Owners: @madkinsz

Add regression test
  tests/utilities/test_importtools.py
Owners: @madkinsz

Fix attribute getter support
  src/prefect/utilities/importtools.py
Owners: @madkinsz

Fix attribute getter support
  src/prefect/utilities/importtools.py
Owners: @madkinsz

Fix attribute getter support
  src/prefect/utilities/importtools.py
Owners: @madkinsz

Removing deprecated DeploymentSpec. (PrefectHQ/orion#2351)
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
  src/prefect/deprecated/__init__.py
  src/prefect/deprecated/deployments.py
  src/prefect/exceptions.py
  tests/cli/test_deployment_preview.py
  tests/deployments/examples/multiple_kubernetes_deployments.py
  tests/deployments/examples/single_docker_deployment.py
  tests/deployments/examples/single_kubernetes_deployment.py
  tests/deployments/examples/single_subprocess_deployment.py
  tests/deployments/examples/unnamed_kubernetes_deployment.py
  tests/deprecated/__init__.py
  tests/deprecated/deployment_test_files/deployment-with-execution-blocked-assert.yaml
  tests/deprecated/deployment_test_files/deployment-with-flow-load-error.yaml
  tests/deprecated/deployment_test_files/flow_with_execution_blocked_assert.py
  tests/deprecated/deployment_test_files/flow_with_load_error.py
  tests/deprecated/deployment_test_files/inline_deployment.py
  tests/deprecated/deployment_test_files/multiple-deployments.yaml
  tests/deprecated/deployment_test_files/multiple_deployments.py
  tests/deprecated/deployment_test_files/multiple_flows.py
  tests/deprecated/deployment_test_files/multiple_kubernetes_deployments.py
  tests/deprecated/deployment_test_files/multiple_unnamed_deployments.py
  tests/deprecated/deployment_test_files/single-deployment.yaml
  tests/deprecated/deployment_test_files/single_deployment.py
  tests/deprecated/deployment_test_files/single_docker_deployment.py
  tests/deprecated/deployment_test_files/single_flow.py
  tests/deprecated/deployment_test_files/single_kubernetes_deployment.py
  tests/deprecated/deployment_test_files/single_unnamed_deployment.py
  tests/deprecated/test_deployments.py
Owners: @madkinsz

Removing deprecated DeploymentSpec. (PrefectHQ/orion#2351)
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
  src/prefect/deprecated/__init__.py
  src/prefect/deprecated/deployments.py
  src/prefect/exceptions.py
  tests/cli/test_deployment_preview.py
  tests/deployments/examples/multiple_kubernetes_deployments.py
  tests/deployments/examples/single_docker_deployment.py
  tests/deployments/examples/single_kubernetes_deployment.py
  tests/deployments/examples/single_subprocess_deployment.py
  tests/deployments/examples/unnamed_kubernetes_deployment.py
  tests/deprecated/__init__.py
  tests/deprecated/deployment_test_files/deployment-with-execution-blocked-assert.yaml
  tests/deprecated/deployment_test_files/deployment-with-flow-load-error.yaml
  tests/deprecated/deployment_test_files/flow_with_execution_blocked_assert.py
  tests/deprecated/deployment_test_files/flow_with_load_error.py
  tests/deprecated/deployment_test_files/inline_deployment.py
  tests/deprecated/deployment_test_files/multiple-deployments.yaml
  tests/deprecated/deployment_test_files/multiple_deployments.py
  tests/deprecated/deployment_test_files/multiple_flows.py
  tests/deprecated/deployment_test_files/multiple_kubernetes_deployments.py
  tests/deprecated/deployment_test_files/multiple_unnamed_deployments.py
  tests/deprecated/deployment_test_files/single-deployment.yaml
  tests/deprecated/deployment_test_files/single_deployment.py
  tests/deprecated/deployment_test_files/single_docker_deployment.py
  tests/deprecated/deployment_test_files/single_flow.py
  tests/deprecated/deployment_test_files/single_kubernetes_deployment.py
  tests/deprecated/deployment_test_files/single_unnamed_deployment.py
  tests/deprecated/test_deployments.py
Owners: @madkinsz

Removing deprecated DeploymentSpec. (#2351)
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
  src/prefect/deprecated/__init__.py
  src/prefect/deprecated/deployments.py
  src/prefect/exceptions.py
  tests/cli/test_deployment_preview.py
  tests/deployments/examples/multiple_kubernetes_deployments.py
  tests/deployments/examples/single_docker_deployment.py
  tests/deployments/examples/single_kubernetes_deployment.py
  tests/deployments/examples/single_subprocess_deployment.py
  tests/deployments/examples/unnamed_kubernetes_deployment.py
  tests/deprecated/__init__.py
  tests/deprecated/deployment_test_files/deployment-with-execution-blocked-assert.yaml
  tests/deprecated/deployment_test_files/deployment-with-flow-load-error.yaml
  tests/deprecated/deployment_test_files/flow_with_execution_blocked_assert.py
  tests/deprecated/deployment_test_files/flow_with_load_error.py
  tests/deprecated/deployment_test_files/inline_deployment.py
  tests/deprecated/deployment_test_files/multiple-deployments.yaml
  tests/deprecated/deployment_test_files/multiple_deployments.py
  tests/deprecated/deployment_test_files/multiple_flows.py
  tests/deprecated/deployment_test_files/multiple_kubernetes_deployments.py
  tests/deprecated/deployment_test_files/multiple_unnamed_deployments.py
  tests/deprecated/deployment_test_files/single-deployment.yaml
  tests/deprecated/deployment_test_files/single_deployment.py
  tests/deprecated/deployment_test_files/single_docker_deployment.py
  tests/deprecated/deployment_test_files/single_flow.py
  tests/deprecated/deployment_test_files/single_kubernetes_deployment.py
  tests/deprecated/deployment_test_files/single_unnamed_deployment.py
  tests/deprecated/test_deployments.py
Owners: @madkinsz

update orion and prefect design
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

update orion and prefect design
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

update orion and prefect design
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Remove DeploymentSpec and update deployment diagrams
  docs/concepts/deployments.md
Owners: @tpdorsey

Remove DeploymentSpec and update deployment diagrams
  docs/concepts/deployments.md
Owners: @tpdorsey

Remove DeploymentSpec and update deployment diagrams
  docs/concepts/deployments.md
Owners: @tpdorsey

Add different connection message for ephemeral Orion
  src/prefect/cli/profile.py
  src/prefect/client.py
Owners: @madkinsz

Add different connection message for ephemeral Orion
  src/prefect/cli/profile.py
  src/prefect/client.py
Owners: @madkinsz

Use collections to walk secret fields
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/schemas/core.py
Owners: @zangell44, @madkinsz

Use collections to walk secret fields
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/schemas/core.py
Owners: @zangell44, @madkinsz

Use collections to walk secret fields
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/schemas/core.py
Owners: @zangell44, @madkinsz

Adding RemoteFileSystem examples
  docs/concepts/filesystems.md
Owners: @tpdorsey

Adding RemoteFileSystem examples
  docs/concepts/filesystems.md
Owners: @tpdorsey

Adding RemoteFileSystem examples
  docs/concepts/filesystems.md
Owners: @tpdorsey

Port KubernetesFlowRunner tests to KubernetesJob tests
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_kubernetes_job.py
Owners: @madkinsz

Port KubernetesFlowRunner tests to KubernetesJob tests
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_kubernetes_job.py
Owners: @madkinsz

Port KubernetesFlowRunner tests to KubernetesJob tests
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_kubernetes_job.py
Owners: @madkinsz

Add filter parse logger
  src/prefect/blocks/core.py
  src/prefect/logging/filters.py
  tests/blocks/test_core.py
Owners: @madkinsz

Add filter parse logger
  src/prefect/blocks/core.py
  src/prefect/logging/filters.py
  tests/blocks/test_core.py
Owners: @madkinsz

Add filter parse logger
  src/prefect/blocks/core.py
  src/prefect/logging/filters.py
  tests/blocks/test_core.py
Owners: @madkinsz

Fix filter
  src/prefect/blocks/core.py
Owners: @madkinsz

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator
