Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Incremental changes
  docs/concepts/infrastructure.md
Owners: @tpdorsey

Update deployment page to use empty state and description components
  orion-ui/src/pages/Deployment.vue
Owners: @pleek91

Update deployment page to use empty state and description components
  orion-ui/src/pages/Deployment.vue
Owners: @pleek91

Relative import runs work with local storage
  src/prefect/agent.py
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
  src/prefect/engine.py
  src/prefect/infrastructure/base.py
  src/prefect/infrastructure/process.py
  src/prefect/infrastructure/submission.py
  src/prefect/utilities/importtools.py
Owners: @madkinsz

Relative import runs work with local storage
  src/prefect/agent.py
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
  src/prefect/engine.py
  src/prefect/infrastructure/base.py
  src/prefect/infrastructure/process.py
  src/prefect/infrastructure/submission.py
  src/prefect/utilities/importtools.py
Owners: @madkinsz

Pass deployment to empty details state
  orion-ui/src/pages/Deployment.vue
Owners: @pleek91

Pass deployment to empty details state
  orion-ui/src/pages/Deployment.vue
Owners: @pleek91

Support more fsspec prefixes
  src/prefect/cli/deployment.py
Owners: @madkinsz

Support more fsspec prefixes
  src/prefect/cli/deployment.py
Owners: @madkinsz

Expand supported storage
  src/prefect/cli/deployment.py
Owners: @madkinsz

Expand supported storage
  src/prefect/cli/deployment.py
Owners: @madkinsz

Adds migration and fixes a bunch of broken tests
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_142515_f335f9633eec_adds_block_type_slug.py
  src/prefect/orion/models/block_schemas.py
  tests/blocks/test_core.py
  tests/cli/test_block.py
  tests/fixtures/database.py
  tests/orion/api/test_block_documents.py
  tests/orion/api/test_block_schemas.py
  tests/orion/api/test_block_types.py
  tests/orion/models/test_block_documents.py
  tests/orion/models/test_block_schemas.py
Owners: @anticorrelator, @zangell44, @madkinsz

Adds migration and fixes a bunch of broken tests
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_142515_f335f9633eec_adds_block_type_slug.py
  src/prefect/orion/models/block_schemas.py
  tests/blocks/test_core.py
  tests/cli/test_block.py
  tests/fixtures/database.py
  tests/orion/api/test_block_documents.py
  tests/orion/api/test_block_schemas.py
  tests/orion/api/test_block_types.py
  tests/orion/models/test_block_documents.py
  tests/orion/models/test_block_schemas.py
Owners: @anticorrelator, @zangell44, @madkinsz

Allow more things to be updated for deployments
  src/prefect/orion/models/deployments.py
Owners: @zangell44, @madkinsz

Allow more things to be updated for deployments
  src/prefect/orion/models/deployments.py
Owners: @zangell44, @madkinsz

Adds migration for postgres
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_25_214717_4ff2f2bf81f4_adds_block_type_slug.py
  tests/orion/models/test_block_schemas.py
Owners: @anticorrelator, @madkinsz

Adds migration for postgres
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_25_214717_4ff2f2bf81f4_adds_block_type_slug.py
  tests/orion/models/test_block_schemas.py
Owners: @anticorrelator, @madkinsz

Switches to use python-slugify
  src/prefect/blocks/core.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_25_214717_4ff2f2bf81f4_adds_block_type_slug.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_142515_f335f9633eec_adds_block_type_slug.py
  tests/blocks/test_core.py
  tests/orion/api/test_block_types.py
Owners: @madkinsz, @anticorrelator

Switches to use python-slugify
  src/prefect/blocks/core.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_25_214717_4ff2f2bf81f4_adds_block_type_slug.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_142515_f335f9633eec_adds_block_type_slug.py
  tests/blocks/test_core.py
  tests/orion/api/test_block_types.py
Owners: @madkinsz, @anticorrelator

Adds migration notes
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
Owners: @anticorrelator

Adds migration notes
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
Owners: @anticorrelator

Adds ability to load a block with a slug
  src/prefect/blocks/core.py
  tests/blocks/test_core.py
Owners: @madkinsz

Adds ability to load a block with a slug
  src/prefect/blocks/core.py
  tests/blocks/test_core.py
Owners: @madkinsz

Updates migrations to also update schema checksums
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_25_214717_4ff2f2bf81f4_adds_block_type_slug.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_142515_f335f9633eec_adds_block_type_slug.py
Owners: @anticorrelator

Updates migrations to also update schema checksums
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_25_214717_4ff2f2bf81f4_adds_block_type_slug.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_142515_f335f9633eec_adds_block_type_slug.py
Owners: @anticorrelator

Remove unused style
  orion-ui/src/pages/Deployment.vue
Owners: @pleek91

Remove unused style
  orion-ui/src/pages/Deployment.vue
Owners: @pleek91

update dask-ray-tutorial
  docs/tutorials/dask-ray-task-runners.md
Owners: @tpdorsey

update dask-ray-tutorial
  docs/tutorials/dask-ray-task-runners.md
Owners: @tpdorsey

Adds warnings filter to fixture
  tests/orion/models/test_block_schemas.py
Owners: @madkinsz

Adds warnings filter to fixture
  tests/orion/models/test_block_schemas.py
Owners: @madkinsz

Add S3 filesystem block
  src/prefect/filesystems.py
  src/prefect/infrastructure/docker.py
Owners: @madkinsz

Add S3 filesystem block
  src/prefect/filesystems.py
  src/prefect/infrastructure/docker.py
Owners: @madkinsz

First draft new deployments
  docs/concepts/deployments.md
Owners: @tpdorsey

First draft new deployments
  docs/concepts/deployments.md
Owners: @tpdorsey

Temporarily remove docker and k8s tutorials
  mkdocs.yml
Owners: @madkinsz

Temporarily remove docker and k8s tutorials
  mkdocs.yml
Owners: @madkinsz

Fix weird stateful put issue
  src/prefect/cli/deployment.py
  src/prefect/filesystems.py
Owners: @madkinsz

Fix weird stateful put issue
  src/prefect/cli/deployment.py
  src/prefect/filesystems.py
Owners: @madkinsz

Added several collections
  docs/collections/catalog/prefect-metricflow.yaml
  docs/collections/catalog/prefect-stitch.yaml
  docs/collections/catalog/prefect-transform.yaml
  docs/img/collections/stitch.png
  docs/img/collections/transform.png
Owners: @tpdorsey
