Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @pleek91, @PrefectHQ/docs

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# ui
/ui                            @pleek91

# documentation
/docs                                @PrefectHQ/docs
mkdocs.yml                           @PrefectHQ/docs
mkdocs.insiders.yml                  @PrefectHQ/docs

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source 

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source

add flow run to task run logging (#9170)
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

add flow run to task run logging (#9170)
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

add flow run to task run logging (#9170)
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Add pragma statements automatically if sqlite (#9169)
  src/prefect/server/database/migrations/env.py
  src/prefect/server/database/migrations/script.py.mako
Owners: @PrefectHQ/open-source

Add pragma statements automatically if sqlite (#9169)
  src/prefect/server/database/migrations/env.py
  src/prefect/server/database/migrations/script.py.mako
Owners: @PrefectHQ/open-source

Add pragma statements automatically if sqlite (#9169)
  src/prefect/server/database/migrations/env.py
  src/prefect/server/database/migrations/script.py.mako
Owners: @PrefectHQ/open-source

Updated Redoc script source from Redoc CDN to Unpkg
  docs/api-ref/rest-api-reference.md
Owners: @PrefectHQ/docs

remove www from Unpkg URL
  docs/api-ref/rest-api-reference.md
Owners: @PrefectHQ/docs

Fix bug where non-zero status codes would be reported when deployed flow runs paused or failed
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Improved recipe initialization UX (#9158)
  docs/concepts/projects.md
  docs/tutorials/projects.md
  src/prefect/cli/project.py
  src/prefect/projects/base.py
  src/prefect/projects/recipes/docker-gcs/prefect.yaml
  src/prefect/projects/recipes/docker-git/prefect.yaml
  src/prefect/projects/recipes/docker-s3/prefect.yaml
  src/prefect/projects/recipes/docker/prefect.yaml
  src/prefect/projects/recipes/gcs/prefect.yaml
  src/prefect/projects/recipes/s3/prefect.yaml
  tests/cli/test_project.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Improved recipe initialization UX (#9158)
  docs/concepts/projects.md
  docs/tutorials/projects.md
  src/prefect/cli/project.py
  src/prefect/projects/base.py
  src/prefect/projects/recipes/docker-gcs/prefect.yaml
  src/prefect/projects/recipes/docker-git/prefect.yaml
  src/prefect/projects/recipes/docker-s3/prefect.yaml
  src/prefect/projects/recipes/docker/prefect.yaml
  src/prefect/projects/recipes/gcs/prefect.yaml
  src/prefect/projects/recipes/s3/prefect.yaml
  tests/cli/test_project.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Improved recipe initialization UX (#9158)
  docs/concepts/projects.md
  docs/tutorials/projects.md
  src/prefect/cli/project.py
  src/prefect/projects/base.py
  src/prefect/projects/recipes/docker-gcs/prefect.yaml
  src/prefect/projects/recipes/docker-git/prefect.yaml
  src/prefect/projects/recipes/docker-s3/prefect.yaml
  src/prefect/projects/recipes/docker/prefect.yaml
  src/prefect/projects/recipes/gcs/prefect.yaml
  src/prefect/projects/recipes/s3/prefect.yaml
  tests/cli/test_project.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Disable search worker to prevent CSP error
  docs/api-ref/rest-api-reference.md
Owners: @PrefectHQ/docs

Wire up scheduling kwargs to deploy CLI
  src/prefect/cli/root.py
  tests/cli/test_project.py
Owners: @PrefectHQ/open-source

Update src/prefect/cli/root.py
  src/prefect/cli/root.py
Owners: @PrefectHQ/open-source

Fix bug where non-zero status codes would be reported when deployed flow runs paused or failed (#9175)
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Fix bug where non-zero status codes would be reported when deployed flow runs paused or failed (#9175)
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Fix bug where non-zero status codes would be reported when deployed flow runs paused or failed (#9175)
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Lint
  src/prefect/cli/root.py
Owners: @PrefectHQ/open-source

Wire up scheduling kwargs to deploy CLI (#9176)
  src/prefect/cli/root.py
  tests/cli/test_project.py
Owners: @PrefectHQ/open-source

Wire up scheduling kwargs to deploy CLI (#9176)
  src/prefect/cli/root.py
  tests/cli/test_project.py
Owners: @PrefectHQ/open-source

Wire up scheduling kwargs to deploy CLI (#9176)
  src/prefect/cli/root.py
  tests/cli/test_project.py
Owners: @PrefectHQ/open-source

Adds tutorial for creating a worker
  docs/api-ref/prefect/workers/base.md
  docs/api-ref/prefect/workers/process.md
  docs/concepts/work-pools.md
  docs/tutorials/creating-a-worker.md
  mkdocs.yml
  src/prefect/workers/base.py
  src/prefect/workers/process.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Add a test for obscuring access tokens in git output
  tests/projects/test_steps.py
Owners: @PrefectHQ/open-source

Fix bug where log worker only sent logs to API on flush rather than on an interval
  src/prefect/logging/handlers.py
Owners: @PrefectHQ/open-source

Hide command when access token is provided and `git_clone_project` fails (#9150)
  src/prefect/projects/steps/pull.py
  tests/projects/test_steps.py
Owners: @PrefectHQ/open-source

Hide command when access token is provided and `git_clone_project` fails (#9150)
  src/prefect/projects/steps/pull.py
  tests/projects/test_steps.py
Owners: @PrefectHQ/open-source

Hide command when access token is provided and `git_clone_project` fails (#9150)
  src/prefect/projects/steps/pull.py
  tests/projects/test_steps.py
Owners: @PrefectHQ/open-source

Fix bug where log worker only sent logs to API on flush rather than on an interval (#9180)
  src/prefect/logging/handlers.py
Owners: @PrefectHQ/open-source

Fix bug where log worker only sent logs to API on flush rather than on an interval (#9180)
  src/prefect/logging/handlers.py
Owners: @PrefectHQ/open-source

Fix bug where log worker only sent logs to API on flush rather than on an interval (#9180)
  src/prefect/logging/handlers.py
Owners: @PrefectHQ/open-source

prepare 2.10.3 for release
  RELEASE-NOTES.md
  docs/overrides/main.html
Owners: @PrefectHQ/open-source, @PrefectHQ/docs

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

prepare 2.10.3 for release (#9182)
  RELEASE-NOTES.md
  docs/overrides/main.html
Owners: @PrefectHQ/open-source, @PrefectHQ/docs

prepare 2.10.3 for release (#9182)
  RELEASE-NOTES.md
  docs/overrides/main.html
Owners: @PrefectHQ/open-source, @PrefectHQ/docs

prepare 2.10.3 for release (#9182)
  RELEASE-NOTES.md
  docs/overrides/main.html
Owners: @PrefectHQ/open-source, @PrefectHQ/docs

Addresses review comments
  docs/concepts/work-pools.md
  docs/tutorials/creating-a-worker.md
Owners: @PrefectHQ/docs

Removed obsolete Netlify redirect
  netlify.toml
Owners: @PrefectHQ/open-source

Better handling of empty deployment file
  src/prefect/cli/root.py
  tests/cli/test_project.py
Owners: @PrefectHQ/open-source

Remove obsolete tutorial redirect (#9189)
  netlify.toml
Owners: @PrefectHQ/open-source
