Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @cicdw, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# deployments
/src/prefect/*.py                    @cicdw

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey
mkdocs.yml                           @tpdorsey
mkdocs.insiders.yml                  @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Note on diagram regarding hybrid model
  docs/concepts/deployments.md
Owners: @tpdorsey

added missing imports
  docs/api/0.15.13/utilities/notifications.md
Owners: @tpdorsey

add changelog entry for pr6438
  changes/pr6438.yaml
Owners: @madkinsz

Uncomment migration line
  src/prefect/orion/database/migrations/versions/postgresql/2022_08_07_134410_77eb737fc759_add_work_queue_name_to_runs.py
Owners: @anticorrelator

Adds missing period
  src/prefect/infrastructure/docker.py
  tests/blocks/checksums.json
Owners: @madkinsz

Update API key creation instructions
  docs/ui/cloud-getting-started.md
Owners: @tpdorsey

Update API key creation instructions
  docs/ui/cloud-getting-started.md
Owners: @tpdorsey

Update API key creation instructions
  docs/ui/cloud-getting-started.md
Owners: @tpdorsey

Update docs/recipes/recipes.md
  docs/recipes/recipes.md
Owners: @tpdorsey

Add `assert_sleeps_for` utility instead of freezing time
  src/prefect/engine.py
  src/prefect/orion/orchestration/core_policy.py
  src/prefect/orion/schemas/states.py
  src/prefect/testing/fixtures.py
  tests/test_agent.py
  tests/test_client.py
  tests/test_engine.py
Owners: @cicdw, @anticorrelator, @zangell44, @madkinsz

Improve robustness of subprocess text streaming
  src/prefect/utilities/processutils.py
Owners: @madkinsz

Uncomment migration line (#6443)
  src/prefect/orion/database/migrations/versions/postgresql/2022_08_07_134410_77eb737fc759_add_work_queue_name_to_runs.py
Owners: @anticorrelator

Uncomment migration line (#6443)
  src/prefect/orion/database/migrations/versions/postgresql/2022_08_07_134410_77eb737fc759_add_work_queue_name_to_runs.py
Owners: @anticorrelator

Uncomment migration line (#6443)
  src/prefect/orion/database/migrations/versions/postgresql/2022_08_07_134410_77eb737fc759_add_work_queue_name_to_runs.py
Owners: @anticorrelator

Remove needless imports
  tests/cli/test_block.py
Owners: @madkinsz

Remove needless imports
  tests/cli/test_block.py
Owners: @madkinsz

Remove needless imports
  tests/cli/test_block.py
Owners: @madkinsz

Draft 2.0.5 Release Notes
  RELEASE-NOTES.md
Owners: @madkinsz

Draft 2.0.5 Release Notes
  RELEASE-NOTES.md
Owners: @madkinsz

Draft 2.0.5 Release Notes
  RELEASE-NOTES.md
Owners: @madkinsz

Add Blocks CLI work
  RELEASE-NOTES.md
Owners: @madkinsz

Add Blocks CLI work
  RELEASE-NOTES.md
Owners: @madkinsz

Add Blocks CLI work
  RELEASE-NOTES.md
Owners: @madkinsz

Mention two new collections
  RELEASE-NOTES.md
Owners: @madkinsz

Mention two new collections
  RELEASE-NOTES.md
Owners: @madkinsz

Mention two new collections
  RELEASE-NOTES.md
Owners: @madkinsz

Agents & WQ clarifications
  RELEASE-NOTES.md
Owners: @madkinsz

Agents & WQ clarifications
  RELEASE-NOTES.md
Owners: @madkinsz

Agents & WQ clarifications
  RELEASE-NOTES.md
Owners: @madkinsz

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @madkinsz

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @madkinsz

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @madkinsz

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @madkinsz

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @madkinsz

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @madkinsz

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @madkinsz

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @madkinsz

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @madkinsz

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @madkinsz

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @madkinsz
