Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

fix create
  orion-ui/src/pages/NotificationCreate.vue
Owners: @pleek91

fix create
  orion-ui/src/pages/NotificationCreate.vue
Owners: @pleek91

fix create
  orion-ui/src/pages/NotificationCreate.vue
Owners: @pleek91

remove spacing
  orion-ui/src/pages/NotificationCreate.vue
  orion-ui/src/pages/NotificationEdit.vue
Owners: @pleek91

remove spacing
  orion-ui/src/pages/NotificationCreate.vue
  orion-ui/src/pages/NotificationEdit.vue
Owners: @pleek91

remove spacing
  orion-ui/src/pages/NotificationCreate.vue
  orion-ui/src/pages/NotificationEdit.vue
Owners: @pleek91

Update clocks.py
  src/prefect/schedules/clocks.py
Owners: @madkinsz

Avoid croniter infinite loop (#5957)
  changes/PR5957.yaml
  src/prefect/schedules/clocks.py
  tests/schedules/test_clocks.py
Owners: @madkinsz

Avoid croniter infinite loop (#5957)
  changes/PR5957.yaml
  src/prefect/schedules/clocks.py
  tests/schedules/test_clocks.py
Owners: @madkinsz

fix create page imports
  orion-ui/src/pages/NotificationCreate.vue
Owners: @pleek91

fix create page imports
  orion-ui/src/pages/NotificationCreate.vue
Owners: @pleek91

fix create page imports
  orion-ui/src/pages/NotificationCreate.vue
Owners: @pleek91

Fix static analysis checks.
  tests/tasks/toloka/test_client.py
Owners: @madkinsz

Fix string lengths.
  src/prefect/tasks/toloka/operations.py
Owners: @madkinsz

When to use subflows
  docs/concepts/flows.md
Owners: @tpdorsey

When to use subflows
  docs/concepts/flows.md
Owners: @tpdorsey

When to use subflows
  docs/concepts/flows.md
Owners: @tpdorsey

Flow retries
  docs/concepts/flows.md
Owners: @tpdorsey

Flow retries
  docs/concepts/flows.md
Owners: @tpdorsey

Flow retries
  docs/concepts/flows.md
Owners: @tpdorsey

correct k8s manifest cli call
  docs/tutorials/kubernetes-flow-runner.md
Owners: @tpdorsey

Add types to KubernetesClusterConfig docstring.
  src/prefect/blocks/kubernetes.py
Owners: @madkinsz

Add types to KubernetesClusterConfig docstring.
  src/prefect/blocks/kubernetes.py
Owners: @madkinsz

Add types to KubernetesClusterConfig docstring.
  src/prefect/blocks/kubernetes.py
Owners: @madkinsz

Updates to work queue and agent docs
  docs/concepts/work-queues.md
Owners: @tpdorsey

Updates to work queue and agent docs
  docs/concepts/work-queues.md
Owners: @tpdorsey

Updates to work queue and agent docs
  docs/concepts/work-queues.md
Owners: @tpdorsey

correct k8s manifest cli call (#5962)
  docs/tutorials/kubernetes-flow-runner.md
Owners: @tpdorsey

Add reference to underlying croniter
  docs/concepts/schedules.md
Owners: @tpdorsey

Add reference to underlying croniter
  docs/concepts/schedules.md
Owners: @tpdorsey

Add reference to underlying croniter
  docs/concepts/schedules.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/concepts/flows.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/concepts/flows.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/concepts/flows.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/concepts/flows.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/concepts/flows.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/concepts/flows.md
Owners: @tpdorsey

Revisions based on feedback and minor fixes
  docs/concepts/flows.md
Owners: @tpdorsey

Revisions based on feedback and minor fixes
  docs/concepts/flows.md
Owners: @tpdorsey

Revisions based on feedback and minor fixes
  docs/concepts/flows.md
Owners: @tpdorsey

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator
