Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @pleek91, @PrefectHQ/docs

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# ui
/ui                            @pleek91

# documentation
/docs                                @PrefectHQ/docs
mkdocs.yml                           @PrefectHQ/docs
mkdocs.insiders.yml                  @PrefectHQ/docs

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source 

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source

Expand runtime docs to include this ability
  docs/concepts/runtime-context.md
  src/prefect/runtime/deployment.py
  src/prefect/runtime/flow_run.py
  src/prefect/runtime/task_run.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Expands upon project step documentation (#9151)
  docs/api-ref/prefect/projects/base.md
  docs/api-ref/prefect/projects/steps/core.md
  docs/api-ref/prefect/projects/steps/pull.md
  docs/concepts/projects.md
  mkdocs.yml
  src/prefect/projects/base.py
  src/prefect/projects/steps/core.py
  src/prefect/projects/steps/pull.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Expands upon project step documentation (#9151)
  docs/api-ref/prefect/projects/base.md
  docs/api-ref/prefect/projects/steps/core.md
  docs/api-ref/prefect/projects/steps/pull.md
  docs/concepts/projects.md
  mkdocs.yml
  src/prefect/projects/base.py
  src/prefect/projects/steps/core.py
  src/prefect/projects/steps/pull.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Expands upon project step documentation (#9151)
  docs/api-ref/prefect/projects/base.md
  docs/api-ref/prefect/projects/steps/core.md
  docs/api-ref/prefect/projects/steps/pull.md
  docs/concepts/projects.md
  mkdocs.yml
  src/prefect/projects/base.py
  src/prefect/projects/steps/core.py
  src/prefect/projects/steps/pull.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Updates to pull flow name and entrypoint from deployment.yaml if specified
  src/prefect/cli/root.py
  src/prefect/projects/templates/deployment.yaml
  tests/cli/test_project.py
Owners: @PrefectHQ/open-source

Initial implementation of an interactive recipe initialization
  src/prefect/cli/project.py
  src/prefect/projects/base.py
  src/prefect/projects/recipes/docker/prefect.yaml
Owners: @PrefectHQ/open-source

Forgot an import
  src/prefect/runtime/task_run.py
Owners: @PrefectHQ/open-source

Expose way to set fields progammatically
  src/prefect/cli/project.py
Owners: @PrefectHQ/open-source

Write test for interactive recipe experience
  tests/cli/test_project.py
Owners: @PrefectHQ/open-source

Add more interactive CLI tests
  tests/cli/test_project.py
Owners: @PrefectHQ/open-source

Add more required inputs to other recipes
  src/prefect/projects/recipes/docker-gcs/prefect.yaml
  src/prefect/projects/recipes/docker-git/prefect.yaml
  src/prefect/projects/recipes/docker-s3/prefect.yaml
  src/prefect/projects/recipes/gcs/prefect.yaml
  src/prefect/projects/recipes/s3/prefect.yaml
Owners: @PrefectHQ/open-source

Finish up documentation changes
  docs/concepts/projects.md
  docs/tutorials/projects.md
Owners: @PrefectHQ/docs

Add back import that linters removed
  tests/cli/test_project.py
Owners: @PrefectHQ/open-source

Adds more tests
  src/prefect/cli/root.py
  tests/cli/test_project.py
Owners: @PrefectHQ/open-source

Remove duplicate code
  src/prefect/cli/root.py
Owners: @PrefectHQ/open-source

slightly more clear description of steps
  docs/concepts/projects.md
Owners: @PrefectHQ/docs

hidden directory
  docs/concepts/projects.md
Owners: @PrefectHQ/docs

swap push pull
  docs/concepts/projects.md
Owners: @PrefectHQ/docs

another one
  docs/concepts/projects.md
Owners: @PrefectHQ/docs

Update docs/concepts/projects.md
  docs/concepts/projects.md
Owners: @PrefectHQ/docs

small project doc fixes (#9161)
  docs/concepts/projects.md
Owners: @PrefectHQ/docs

small project doc fixes (#9161)
  docs/concepts/projects.md
Owners: @PrefectHQ/docs

small project doc fixes (#9161)
  docs/concepts/projects.md
Owners: @PrefectHQ/docs

Adds check for entrypoint in deployment.yaml
  src/prefect/cli/root.py
Owners: @PrefectHQ/open-source

Update docs/concepts/runtime-context.md
  docs/concepts/runtime-context.md
Owners: @PrefectHQ/docs

Update `prefect deploy` to pull `flow_name` and `entrypoint` from deployment.yaml if specified (#9157)
  src/prefect/cli/root.py
  src/prefect/projects/templates/deployment.yaml
  tests/cli/test_project.py
Owners: @PrefectHQ/open-source

Update `prefect deploy` to pull `flow_name` and `entrypoint` from deployment.yaml if specified (#9157)
  src/prefect/cli/root.py
  src/prefect/projects/templates/deployment.yaml
  tests/cli/test_project.py
Owners: @PrefectHQ/open-source

Update `prefect deploy` to pull `flow_name` and `entrypoint` from deployment.yaml if specified (#9157)
  src/prefect/cli/root.py
  src/prefect/projects/templates/deployment.yaml
  tests/cli/test_project.py
Owners: @PrefectHQ/open-source

Apply suggestions from code review
  docs/concepts/projects.md
Owners: @PrefectHQ/docs

add sqlite pragma statements to migration template
  src/prefect/server/database/migrations/env.py
  src/prefect/server/database/migrations/script.py.mako
Owners: @PrefectHQ/open-source

fix statement
  src/prefect/server/database/migrations/script.py.mako
Owners: @PrefectHQ/open-source

add spark-on-kubernetes logo.
  docs/img/collections/spark-on-kubernetes.png
  docs/integrations/catalog/prefect-spark-on-k8s-operator.yaml
Owners: @PrefectHQ/docs

add flow run to task run logging
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Update docs/integrations/catalog/prefect-spark-on-k8s-operator.yaml
  docs/integrations/catalog/prefect-spark-on-k8s-operator.yaml
Owners: @PrefectHQ/docs

add prefect-spark-on-k8s-operator to integrations catalog list. (#9029)
  docs/img/collections/spark-on-kubernetes.png
  docs/integrations/catalog/prefect-spark-on-k8s-operator.yaml
Owners: @PrefectHQ/docs

add prefect-spark-on-k8s-operator to integrations catalog list. (#9029)
  docs/img/collections/spark-on-kubernetes.png
  docs/integrations/catalog/prefect-spark-on-k8s-operator.yaml
Owners: @PrefectHQ/docs

add prefect-spark-on-k8s-operator to integrations catalog list. (#9029)
  docs/img/collections/spark-on-kubernetes.png
  docs/integrations/catalog/prefect-spark-on-k8s-operator.yaml
Owners: @PrefectHQ/docs

Mock runtime via environment variable (#9156)
  docs/concepts/runtime-context.md
  src/prefect/runtime/deployment.py
  src/prefect/runtime/flow_run.py
  src/prefect/runtime/task_run.py
  tests/runtime/test_deployment.py
  tests/runtime/test_flow_run.py
  tests/runtime/test_task_run.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Mock runtime via environment variable (#9156)
  docs/concepts/runtime-context.md
  src/prefect/runtime/deployment.py
  src/prefect/runtime/flow_run.py
  src/prefect/runtime/task_run.py
  tests/runtime/test_deployment.py
  tests/runtime/test_flow_run.py
  tests/runtime/test_task_run.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Mock runtime via environment variable (#9156)
  docs/concepts/runtime-context.md
  src/prefect/runtime/deployment.py
  src/prefect/runtime/flow_run.py
  src/prefect/runtime/task_run.py
  tests/runtime/test_deployment.py
  tests/runtime/test_flow_run.py
  tests/runtime/test_task_run.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source
