Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

Implement block schema form changes
  orion-ui/src/pages/BlockEdit.vue
  orion-ui/src/pages/BlocksCatalogCreate.vue
Owners: @pleek91

Remove the now unused edit prop
  orion-ui/src/pages/BlockEdit.vue
Owners: @pleek91

Remove the now unused edit prop
  orion-ui/src/pages/BlockEdit.vue
Owners: @pleek91

Disable test harness test until we can fix it (PrefectHQ/orion#2432)
  tests/testing/test_utilites.py
Owners: @madkinsz

Disable test harness test until we can fix it (PrefectHQ/orion#2432)
  tests/testing/test_utilites.py
Owners: @madkinsz

Fix data-loss-causing sqlite migrations (PrefectHQ/orion#2440)
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_11_113314_638cbcc2a158_add_infrastructure_block_id_to_.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_14_113138_56be24fdb383_removing_default_storage_block_document.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_20_113451_2fe8ef6a6514_remove_flow_runners.py
Owners: @anticorrelator

Fix data-loss-causing sqlite migrations (PrefectHQ/orion#2440)
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_11_113314_638cbcc2a158_add_infrastructure_block_id_to_.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_14_113138_56be24fdb383_removing_default_storage_block_document.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_20_113451_2fe8ef6a6514_remove_flow_runners.py
Owners: @anticorrelator

Expose limit on work queue creation
  src/prefect/cli/work_queue.py
Owners: @madkinsz

Expose limit on work queue creation
  src/prefect/cli/work_queue.py
Owners: @madkinsz

Update URLs for GA
  RELEASE-NOTES.md
  mkdocs.yml
Owners: @madkinsz

Update URLs for GA
  RELEASE-NOTES.md
  mkdocs.yml
Owners: @madkinsz

Remove temp site build dir tracking
  .gitignore
Owners: @madkinsz

Update to reflect GA status of Orion
  README.md
  docs/index.md
Owners: @madkinsz, @tpdorsey

Create relative URLs where viable
  CONTRIBUTING.md
  docs/api/0.14.22/README.md
  docs/api/0.14.22/changelog.md
  docs/api/0.14.22/tasks/notifications.md
  docs/api/0.14.22/utilities/configuration.md
  docs/api/0.14.22/utilities/context.md
  docs/api/0.15.13/README.md
  docs/api/0.15.13/changelog.md
  docs/api/0.15.13/tasks/notifications.md
  docs/api/0.15.13/utilities/configuration.md
  docs/api/0.15.13/utilities/context.md
  docs/core/PINs/PIN-12-Environment-Callbacks.md
  docs/core/PINs/PIN-16-Results-and-Targets.md
  docs/core/advanced_tutorials/task-guide.md
  docs/core/advanced_tutorials/task-looping.md
  docs/core/advanced_tutorials/using-results.md
  docs/core/community.md
  docs/orchestration/faq/dataflow.md
Owners: @madkinsz, @tpdorsey

Create relative URLs where viable
  CHANGELOG.md
  docs/api/0.14.22/agent/agent.md
  docs/api/0.14.22/agent/docker.md
  docs/api/0.14.22/agent/fargate.md
  docs/api/0.14.22/agent/kubernetes.md
  docs/api/0.14.22/changelog.md
  docs/api/0.14.22/cli/auth.md
  docs/api/0.14.22/environments/execution.md
  docs/api/0.15.13/agent/agent.md
  docs/api/0.15.13/agent/docker.md
  docs/api/0.15.13/agent/fargate.md
  docs/api/0.15.13/agent/kubernetes.md
  docs/api/0.15.13/changelog.md
  docs/api/0.15.13/cli/auth.md
  docs/api/0.15.13/environments/execution.md
  docs/core/concepts/results.md
  docs/orchestration/flow_config/storage.md
Owners: @madkinsz, @tpdorsey

Create relative URLs where viable
  docs/api/0.14.22/tasks/dbt.md
  docs/api/0.15.13/tasks/dbt.md
  docs/api/0.15.13/tasks/great_expectations.md
  docs/core/PINs/PIN-15-Skip-as-Finished-and-Conditionals.md
  docs/core/advanced_tutorials/task-guide.md
  docs/core/advanced_tutorials/task-looping.md
  docs/core/idioms/pause-for-approval.md
Owners: @tpdorsey

Fix urls in task library
  docs/core/task_library/overview.md
Owners: @tpdorsey

Add client validation for rrule schedules
  src/prefect/orion/schemas/schedules.py
  tests/orion/schemas/test_schedules.py
Owners: @zangell44, @madkinsz

Add client validation for rrule schedules
  src/prefect/orion/schemas/schedules.py
  tests/orion/schemas/test_schedules.py
Owners: @zangell44, @madkinsz

Update urls
  RELEASE-NOTES.md
  mkdocs.yml
Owners: @madkinsz

Update urls
  RELEASE-NOTES.md
  mkdocs.yml
Owners: @madkinsz

Add rrule schedule from string
  tests/orion/schemas/test_schedules.py
Owners: @madkinsz

Add rrule schedule from string
  tests/orion/schemas/test_schedules.py
Owners: @madkinsz

Updated v1 URLs
  docs/index.md
  docs/overrides/main.html
Owners: @tpdorsey

Updated v1 URLs
  docs/index.md
  docs/overrides/main.html
Owners: @tpdorsey

Use deployment ID instead of deployment object
  tests/infrastructure/test_submission.py
Owners: @madkinsz

Use deployment ID instead of deployment object
  tests/infrastructure/test_submission.py
Owners: @madkinsz

Fix formatting to render infrastructure api docs
  mkdocs.yml
Owners: @madkinsz

Fix formatting to render infrastructure api docs
  mkdocs.yml
Owners: @madkinsz

Update URLs
  README.md
Owners: @madkinsz

Update URLs
  README.md
Owners: @madkinsz

Update cloud URLs
  RELEASE-NOTES.md
  docs/concepts/settings.md
  docs/ui/cloud-getting-started.md
  docs/ui/cloud.md
  docs/ui/overview.md
Owners: @madkinsz, @tpdorsey

Update cloud URLs
  RELEASE-NOTES.md
  docs/concepts/settings.md
  docs/ui/cloud-getting-started.md
  docs/ui/cloud.md
  docs/ui/overview.md
Owners: @madkinsz, @tpdorsey

Add flow CLI command
  src/prefect/__init__.py
  src/prefect/cli/__init__.py
  src/prefect/cli/flow.py
  src/prefect/client.py
  src/prefect/manifests.py
Owners: @madkinsz

Add flow CLI command
  src/prefect/__init__.py
  src/prefect/cli/__init__.py
  src/prefect/cli/flow.py
  src/prefect/client.py
  src/prefect/manifests.py
Owners: @madkinsz

Remove signal handling for unit tests
  src/prefect/orion/services/late_runs.py
  src/prefect/orion/services/scheduler.py
  tests/orion/services/test_flow_run_notifications.py
  tests/orion/services/test_late_runs.py
  tests/orion/services/test_scheduler.py
Owners: @zangell44, @madkinsz

Remove signal handling for unit tests
  src/prefect/orion/services/late_runs.py
  src/prefect/orion/services/scheduler.py
  tests/orion/services/test_flow_run_notifications.py
  tests/orion/services/test_late_runs.py
  tests/orion/services/test_scheduler.py
Owners: @zangell44, @madkinsz

Add pause for log writing
  tests/test_logging.py
Owners: @madkinsz

Add pause for log writing
  tests/test_logging.py
Owners: @madkinsz

Working version of storing a manifest
  src/prefect/cli/flow.py
Owners: @madkinsz

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator
