Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Add Prefect 2 tags to docker.md
  docs/orchestration/flow_config/docker.md
Owners: @tpdorsey

update dask output and remove ray output and warn
  docs/tutorials/dask-ray-task-runners.md
Owners: @tpdorsey

update dask output and remove ray output and warn
  docs/tutorials/dask-ray-task-runners.md
Owners: @tpdorsey

bucket_path
  src/prefect/filesystems.py
Owners: @madkinsz

bucket_path
  src/prefect/filesystems.py
Owners: @madkinsz

Bucket path refs
  src/prefect/filesystems.py
Owners: @madkinsz

Bucket path refs
  src/prefect/filesystems.py
Owners: @madkinsz

Ensure IntervalSchedules have timezones
  docs/concepts/schedules.md
  src/prefect/orion/schemas/schedules.py
  tests/orion/schemas/test_schedules.py
Owners: @tpdorsey, @zangell44, @madkinsz

Ensure IntervalSchedules have timezones
  docs/concepts/schedules.md
  src/prefect/orion/schemas/schedules.py
  tests/orion/schemas/test_schedules.py
Owners: @tpdorsey, @zangell44, @madkinsz

Update schedules.py
  src/prefect/orion/schemas/schedules.py
Owners: @zangell44, @madkinsz

Update schedules.py
  src/prefect/orion/schemas/schedules.py
Owners: @zangell44, @madkinsz

Update getting started
  docs/ui/cloud-getting-started.md
  src/prefect/cli/cloud.py
Owners: @tpdorsey, @madkinsz

Update getting started
  docs/ui/cloud-getting-started.md
  src/prefect/cli/cloud.py
Owners: @tpdorsey, @madkinsz

Compat issues
  src/prefect/cli/deployment.py
  src/prefect/filesystems.py
Owners: @madkinsz

Compat issues
  src/prefect/cli/deployment.py
  src/prefect/filesystems.py
Owners: @madkinsz

Update docs/tutorials/dask-ray-task-runners.md
  docs/tutorials/dask-ray-task-runners.md
Owners: @tpdorsey

Update docs/tutorials/dask-ray-task-runners.md
  docs/tutorials/dask-ray-task-runners.md
Owners: @tpdorsey

Fix test
  tests/infrastructure/test_process.py
Owners: @madkinsz

Fix test
  tests/infrastructure/test_process.py
Owners: @madkinsz

Universal get_directory implementation
  src/prefect/engine.py
  src/prefect/infrastructure/process.py
Owners: @madkinsz

Universal get_directory implementation
  src/prefect/engine.py
  src/prefect/infrastructure/process.py
Owners: @madkinsz

Remove logout tests
  tests/cli/test_cloud.py
Owners: @madkinsz

Remove logout tests
  tests/cli/test_cloud.py
Owners: @madkinsz

Consume update emmitters and refetch deployment data
  orion-ui/src/pages/Deployment.vue
Owners: @pleek91

Consume update emmitters and refetch deployment data
  orion-ui/src/pages/Deployment.vue
Owners: @pleek91

Add success toast on edit
  orion-ui/src/pages/DeploymentEdit.vue
Owners: @pleek91

Add success toast on edit
  orion-ui/src/pages/DeploymentEdit.vue
Owners: @pleek91

Refactor engine for clarity and ease of testing
  src/prefect/deployments.py
  src/prefect/engine.py
  tests/test_engine.py
Owners: @madkinsz

Refactor engine for clarity and ease of testing
  src/prefect/deployments.py
  src/prefect/engine.py
  tests/test_engine.py
Owners: @madkinsz

Add additional parent for certain common flow directory structures
  src/prefect/utilities/importtools.py
Owners: @madkinsz

Add additional parent for certain common flow directory structures
  src/prefect/utilities/importtools.py
Owners: @madkinsz

add returned value types
  docs/concepts/states.md
Owners: @tpdorsey

add returned value types
  docs/concepts/states.md
Owners: @tpdorsey

Update deployments tutorial
  docs/img/tutorials/deployment-details.png
  docs/img/tutorials/my-first-deployment.png
  docs/img/tutorials/orion-deployments.png
  docs/tutorials/deployments.md
Owners: @tpdorsey

Update deployments tutorial
  docs/img/tutorials/deployment-details.png
  docs/img/tutorials/my-first-deployment.png
  docs/img/tutorials/orion-deployments.png
  docs/tutorials/deployments.md
Owners: @tpdorsey

Update deployments tutorial - final bits
  docs/img/tutorials/dep-flow-logs.png
  docs/img/tutorials/deployment-run.png
  docs/tutorials/deployments.md
Owners: @tpdorsey

Update deployments tutorial - final bits
  docs/img/tutorials/dep-flow-logs.png
  docs/img/tutorials/deployment-run.png
  docs/tutorials/deployments.md
Owners: @tpdorsey

Remove silly block types and an unnecessary field
  src/prefect/blocks/system.py
  src/prefect/filesystems.py
  src/prefect/orion/api/block_types.py
  tests/blocks/test_system.py
Owners: @madkinsz, @zangell44

Remove silly block types and an unnecessary field
  src/prefect/blocks/system.py
  src/prefect/filesystems.py
  src/prefect/orion/api/block_types.py
  tests/blocks/test_system.py
Owners: @madkinsz, @zangell44

Format thigns
  src/prefect/blocks/system.py
Owners: @madkinsz
