Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

Bump minimum compatible prefect version
  src/prefect/infrastructure/submission.py
Owners: @madkinsz

Update README.md
  README.md
Owners: @madkinsz

Reformatting
  README.md
Owners: @madkinsz

Reformatting again
  README.md
Owners: @madkinsz

Adds deployment edit page + routes
  orion-ui/src/App.vue
  orion-ui/src/pages/DeploymentEdit.vue
  orion-ui/src/router/index.ts
  orion-ui/src/router/routes.ts
Owners: @pleek91

Adds deployment edit page + routes
  orion-ui/src/App.vue
  orion-ui/src/pages/DeploymentEdit.vue
  orion-ui/src/router/index.ts
  orion-ui/src/router/routes.ts
Owners: @pleek91

Adds minor versions
  README.md
Owners: @madkinsz

Add `Crashed` as canonical state type (PrefectHQ/orion#2353)
  src/prefect/engine.py
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_21_205820_0cf7311d6ea6_add_crashed_state_type.py
  src/prefect/orion/schemas/states.py
  src/prefect/states.py
  src/prefect/testing/standard_test_suites.py
  tests/test_engine.py
Owners: @madkinsz, @anticorrelator, @zangell44

Add `Crashed` as canonical state type (PrefectHQ/orion#2353)
  src/prefect/engine.py
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_21_205820_0cf7311d6ea6_add_crashed_state_type.py
  src/prefect/orion/schemas/states.py
  src/prefect/states.py
  src/prefect/testing/standard_test_suites.py
  tests/test_engine.py
Owners: @madkinsz, @anticorrelator, @zangell44

Ignore site build folder
  .gitignore
  docs/index.md
Owners: @madkinsz, @tpdorsey

Add page heading
  orion-ui/src/pages/DeploymentEdit.vue
Owners: @pleek91

Add page heading
  orion-ui/src/pages/DeploymentEdit.vue
Owners: @pleek91

Updates blocks Prefect API docs to include new modules (PrefectHQ/orion#2433)
  docs/api-ref/prefect/blocks/core.md
  docs/api-ref/prefect/blocks/kubernetes.md
  docs/api-ref/prefect/blocks/notifications.md
  docs/api-ref/prefect/blocks/system.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Updates blocks Prefect API docs to include new modules (PrefectHQ/orion#2433)
  docs/api-ref/prefect/blocks/core.md
  docs/api-ref/prefect/blocks/kubernetes.md
  docs/api-ref/prefect/blocks/notifications.md
  docs/api-ref/prefect/blocks/system.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Add Prefect 2 warning to README (#6044)
  README.md
Owners: @madkinsz

Revert "Ignore site build folder"
  .gitignore
  docs/index.md
Owners: @madkinsz, @tpdorsey

ignore site folder
  .gitignore
Owners: @madkinsz

Fix down_revision number in remove_flow_runners migration
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_21_133134_e085c9cbf8ce_remove_flow_runners.py
Owners: @anticorrelator

Fix down_revision number in remove_flow_runners migration
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_21_133134_e085c9cbf8ce_remove_flow_runners.py
Owners: @anticorrelator

Add deployment form and submit method
  orion-ui/src/pages/DeploymentEdit.vue
Owners: @pleek91

Add deployment form and submit method
  orion-ui/src/pages/DeploymentEdit.vue
Owners: @pleek91

Update landing page with doc links for GA
  docs/index.md
Owners: @tpdorsey

edit example of deployments in concept
  docs/concepts/deployments.md
Owners: @tpdorsey

edit example of deployments in concept
  docs/concepts/deployments.md
Owners: @tpdorsey

update first steps to use scripts and update output
  docs/tutorials/first-steps.md
Owners: @tpdorsey

update first steps to use scripts and update output
  docs/tutorials/first-steps.md
Owners: @tpdorsey

Revise install instructions
  docs/core/getting_started/install.md
Owners: @tpdorsey

Fix deployment test
  tests/orion/api/test_deployments.py
Owners: @madkinsz

Fix deployment test
  tests/orion/api/test_deployments.py
Owners: @madkinsz

add terminal formatting
  docs/tutorials/execution.md
Owners: @tpdorsey

add terminal formatting
  docs/tutorials/execution.md
Owners: @tpdorsey

Update the block form when editing
  orion-ui/src/pages/BlockEdit.vue
Owners: @pleek91

Update the block form when editing
  orion-ui/src/pages/BlockEdit.vue
Owners: @pleek91

Update orion-design
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Update orion-design
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Update faq.md
  docs/faq.md
Owners: @tpdorsey

Update faq.md
  docs/faq.md
Owners: @tpdorsey

Update orion-design to latest
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Update orion-design to latest
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Implement block schema form changes
  orion-ui/src/pages/BlockEdit.vue
  orion-ui/src/pages/BlocksCatalogCreate.vue
Owners: @pleek91

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator
