Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @cicdw, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# orion server
/src/prefect/orion                   @PrefectHQ/open-source @zangell44

# deployments
/src/prefect/cli/deployment.py       @PrefectHQ/open-source @cicdw
/src/prefect/deployments.py          @PrefectHQ/open-source @cicdw

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey
mkdocs.yml                           @tpdorsey
mkdocs.insiders.yml                  @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @PrefectHQ/open-source @anticorrelator

# database configuration / models
/src/prefect/orion/database          @PrefectHQ/open-source @anticorrelator

Adds debug print statement
  src/prefect/orion/database/migrations/versions/sqlite/2023_01_25_114348_b9bda9f142f1_expand_work_queue_table.py
Owners: @PrefectHQ/open-source, @anticorrelator

Adds debug print statement
  src/prefect/orion/database/migrations/versions/sqlite/2023_01_25_114348_b9bda9f142f1_expand_work_queue_table.py
Owners: @PrefectHQ/open-source, @anticorrelator

change task inputs to task futures
  orion-ui/src/pages/TaskRun.vue
Owners: @pleek91

add futures
  orion-ui/src/pages/TaskRun.vue
Owners: @pleek91

remane tab
  orion-ui/src/pages/TaskRun.vue
Owners: @pleek91

github actions accepts only single quotes in conditional
  .github/workflows/issue-bot.yaml
Owners: @PrefectHQ/open-source

Batch of test fixes
  src/prefect/orion/database/migrations/versions/sqlite/2023_01_25_114348_b9bda9f142f1_expand_work_queue_table.py
  src/prefect/orion/models/work_queues.py
  src/prefect/orion/models/workers.py
  tests/agent/test_agent_run_submission.py
  tests/test_deployments.py
Owners: @PrefectHQ/open-source, @anticorrelator, @zangell44

Update issue-bot.yaml
  .github/workflows/issue-bot.yaml
Owners: @PrefectHQ/open-source

Update .github/workflows/issue-bot.yaml
  .github/workflows/issue-bot.yaml
Owners: @PrefectHQ/open-source

Update isort to fix errors in CI
  .pre-commit-config.yaml
Owners: @PrefectHQ/open-source

Bumps isort version
  .pre-commit-config.yaml
Owners: @PrefectHQ/open-source

Updates migraitons to update flow_run and deployment tables with work_queue_id
  src/prefect/orion/database/migrations/versions/postgresql/2023_01_26_152801_0a1250a5aa25_expand_work_queue_table.py
  src/prefect/orion/database/migrations/versions/sqlite/2023_01_25_114348_b9bda9f142f1_expand_work_queue_table.py
  tests/orion/database/test_migrations.py
Owners: @PrefectHQ/open-source, @anticorrelator

Adds handling in read_work_queue_by_name for migration transition
  src/prefect/orion/models/work_queues.py
Owners: @PrefectHQ/open-source, @zangell44

Fixes typo
  src/prefect/orion/models/work_queues.py
Owners: @PrefectHQ/open-source, @zangell44

add block secrets
  docs/ui/roles.md
Owners: @tpdorsey

update to include reference to PREFECT_ORION_UI_API_URL
  docs/concepts/settings.md
Owners: @tpdorsey

Add assertion for single notification and expand notification test suite (#7504)
  src/prefect/orion/database/query_components.py
  src/prefect/orion/services/flow_run_notifications.py
  tests/orion/services/test_flow_run_notifications.py
Owners: @PrefectHQ/open-source, @anticorrelator, @zangell44

Add assertion for single notification and expand notification test suite (#7504)
  src/prefect/orion/database/query_components.py
  src/prefect/orion/services/flow_run_notifications.py
  tests/orion/services/test_flow_run_notifications.py
Owners: @PrefectHQ/open-source, @anticorrelator, @zangell44

Add assertion for single notification and expand notification test suite (#7504)
  src/prefect/orion/database/query_components.py
  src/prefect/orion/services/flow_run_notifications.py
  tests/orion/services/test_flow_run_notifications.py
Owners: @PrefectHQ/open-source, @anticorrelator, @zangell44

[maintenance] Update isort to fix errors in CI (#8298)
  .pre-commit-config.yaml
Owners: @PrefectHQ/open-source

[maintenance] Update isort to fix errors in CI (#8298)
  .pre-commit-config.yaml
Owners: @PrefectHQ/open-source

[maintenance] Update isort to fix errors in CI (#8298)
  .pre-commit-config.yaml
Owners: @PrefectHQ/open-source

Update client tests
  src/prefect/cli/work_queue.py
  tests/client/test_orion_client.py
Owners: @PrefectHQ/open-source

Add role permissions regarding block secrets (#8309)
  docs/ui/roles.md
Owners: @tpdorsey

Add role permissions regarding block secrets (#8309)
  docs/ui/roles.md
Owners: @tpdorsey

Add role permissions regarding block secrets (#8309)
  docs/ui/roles.md
Owners: @tpdorsey

Fix client tests
  tests/client/test_orion_client.py
Owners: @PrefectHQ/open-source

Initial commit
  src/prefect/logging/handlers.py
  src/prefect/settings.py
Owners: @PrefectHQ/open-source

import Literal from type_extensions
  src/prefect/logging/handlers.py
  src/prefect/settings.py
Owners: @PrefectHQ/open-source

Apply code review changes
  src/prefect/logging/handlers.py
Owners: @PrefectHQ/open-source

additions and corrections for k8s infra overrides
  docs/concepts/infrastructure.md
  src/prefect/infrastructure/kubernetes.py
Owners: @tpdorsey, @PrefectHQ/open-source

Update `Cancelling` states to `Cancelled` states
  src/prefect/agent.py
Owners: @PrefectHQ/open-source

Install latest prefect
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Update vue-compositions
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Update tests to ensure agents propose `Cancelled` states
  tests/agent/test_agent_run_cancellation.py
Owners: @PrefectHQ/open-source

isort
  src/prefect/agent.py
Owners: @PrefectHQ/open-source

Preserve state data when updating state type
  src/prefect/agent.py
  tests/agent/test_agent_run_cancellation.py
Owners: @PrefectHQ/open-source

Omit needless import
  src/prefect/agent.py
Owners: @PrefectHQ/open-source

update to latest vue-compositions
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Remove sort since its a default in orion-design now
  orion-ui/src/pages/FlowRuns.vue
Owners: @pleek91
