Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @desertaxle, @tpdorsey

Add an icon prop to ListItem to DRY up icon styling
  orion-ui/src/components/Global/List/ListItem/ListItem.vue
Owners: @madkinsz

Fix database url retrieval and add warning
  src/prefect/flow_runners.py
Owners: @madkinsz

Fix database url retrieval and add warning
  src/prefect/flow_runners.py
Owners: @madkinsz

Remove tags since a flow cannot have tags
  orion-ui/src/components/Global/List/ListItemFlow/ListItemFlow.vue
Owners: @madkinsz

Remove tags since a flow cannot have tags
  orion-ui/src/components/Global/List/ListItemFlow/ListItemFlow.vue
Owners: @madkinsz

Use ListItem icon prop. Remove unnecessary classes. Put styles in the component
  orion-ui/src/components/Global/List/ListItemFlow/ListItemFlow.vue
  orion-ui/src/styles/components/list-item--flow.scss
Owners: @madkinsz

Use ListItem icon prop. Remove unnecessary classes. Put styles in the component
  orion-ui/src/components/Global/List/ListItemFlow/ListItemFlow.vue
  orion-ui/src/styles/components/list-item--flow.scss
Owners: @madkinsz

Remove list item style sheet
  orion-ui/src/styles/components/list-item.scss
Owners: @madkinsz

Remove list item style sheet
  orion-ui/src/styles/components/list-item.scss
Owners: @madkinsz

Remove align-bottom class that doesn't do anything
  orion-ui/src/components/Global/List/ListItemSubFlowRun/ListItemSubFlowRun.vue
  orion-ui/src/components/Global/List/ListItemTaskRun/ListItemTaskRun.vue
Owners: @madkinsz

Remove align-bottom class that doesn't do anything
  orion-ui/src/components/Global/List/ListItemSubFlowRun/ListItemSubFlowRun.vue
  orion-ui/src/components/Global/List/ListItemTaskRun/ListItemTaskRun.vue
Owners: @madkinsz

Use ListItem icon and remove unnecessary classes
  orion-ui/src/components/Global/List/ListItemTaskRun/ListItemTaskRun.vue
  orion-ui/src/styles/components/list-item--task-run.scss
Owners: @madkinsz

Use ListItem icon and remove unnecessary classes
  orion-ui/src/components/Global/List/ListItemTaskRun/ListItemTaskRun.vue
  orion-ui/src/styles/components/list-item--task-run.scss
Owners: @madkinsz

Use ListItem icon and remove unnecessary classes
  orion-ui/src/components/Global/List/ListItemDeployment/ListItemDeployment.vue
  orion-ui/src/styles/components/list-item--deployment.scss
Owners: @madkinsz

Use ListItem icon and remove unnecessary classes
  orion-ui/src/components/Global/List/ListItemDeployment/ListItemDeployment.vue
  orion-ui/src/styles/components/list-item--deployment.scss
Owners: @madkinsz

Use ListItem icons and remove unnecessary css classes
  orion-ui/src/components/Global/List/ListItemFlowRun/ListItemFlowRun.vue
  orion-ui/src/styles/components/list-item--flow-run.scss
Owners: @madkinsz

Use ListItem icons and remove unnecessary css classes
  orion-ui/src/components/Global/List/ListItemFlowRun/ListItemFlowRun.vue
  orion-ui/src/styles/components/list-item--flow-run.scss
Owners: @madkinsz

Fix item title class and remove unused dependencies
  orion-ui/src/components/Global/List/ListItemDeployment/ListItemDeployment.vue
Owners: @madkinsz

Fix item title class and remove unused dependencies
  orion-ui/src/components/Global/List/ListItemDeployment/ListItemDeployment.vue
Owners: @madkinsz

Use ListItem icon prop and remove unnecessary css classes
  orion-ui/src/components/Global/List/ListItemSubFlowRun/ListItemSubFlowRun.vue
Owners: @madkinsz

Use ListItem icon prop and remove unnecessary css classes
  orion-ui/src/components/Global/List/ListItemSubFlowRun/ListItemSubFlowRun.vue
Owners: @madkinsz

Fix title class
  orion-ui/src/components/Global/List/ListItemFlowRun/ListItemFlowRun.vue
Owners: @madkinsz

Fix title class
  orion-ui/src/components/Global/List/ListItemFlowRun/ListItemFlowRun.vue
Owners: @madkinsz

BEM
  orion-ui/src/components/Global/List/ListItemFlow/ListItemFlow.vue
Owners: @madkinsz

BEM
  orion-ui/src/components/Global/List/ListItemFlow/ListItemFlow.vue
Owners: @madkinsz

Wrap table in clientonly tags
  docs/.vuepress/config.js
  docs/.vuepress/theme/components/AlgoliaSearchBox.vue
  docs/core/task_library/overview.md
Owners: @tpdorsey

Remove unnecessary flex utilities
  orion-ui/src/components/Global/List/ListItemFlow/ListItemFlow.vue
Owners: @madkinsz

Remove unnecessary flex utilities
  orion-ui/src/components/Global/List/ListItemFlow/ListItemFlow.vue
Owners: @madkinsz

Add other routes back in
  docs/.vuepress/config.js
Owners: @tpdorsey

Fix EOF assertion errors during server shutdown
  src/prefect/cli/orion.py
  src/prefect/flow_runners.py
Owners: @madkinsz

Fix EOF assertion errors during server shutdown
  src/prefect/cli/orion.py
  src/prefect/flow_runners.py
Owners: @madkinsz

Add instructions to save tutorial flow to a file for following steps. (#5247)
  docs/orchestration/getting-started/basic-core-flow.md
  docs/orchestration/getting-started/registering-and-running-a-flow.md
Owners: @tpdorsey

center not flex-start...
  orion-ui/src/components/Global/List/ListItem/ListItem.vue
Owners: @madkinsz

center not flex-start...
  orion-ui/src/components/Global/List/ListItem/ListItem.vue
Owners: @madkinsz

5239 docs fixes (#5248)
  README.md
  docs/.vuepress/config.js
  docs/.vuepress/enhanceApp.js
  docs/.vuepress/theme/components/AlgoliaSearchBox.vue
  docs/core/task_library/overview.md
  docs/generate_docs.py
Owners: @madkinsz, @tpdorsey

Fix black formatting
  src/prefect/utilities/compatibility.py
Owners: @madkinsz

Docs rc1 tutorial cleanup (#5241)
  docs/core/examples/overview.md
  docs/orchestration/tutorial/first.md
  docs/orchestration/tutorial/flow_config.md
  docs/orchestration/tutorial/next-steps.md
  docs/orchestration/tutorial/overview.md
  docs/orchestration/tutorial/parameters.md
Owners: @tpdorsey

Remove unnecessary classes
  orion-ui/src/components/Global/List/ListItemSubFlowRun/ListItemSubFlowRun.vue
Owners: @madkinsz

Remove unnecessary classes
  orion-ui/src/components/Global/List/ListItemSubFlowRun/ListItemSubFlowRun.vue
Owners: @madkinsz

BEM
  orion-ui/src/components/Global/List/ListItemTaskRun/ListItemTaskRun.vue
Owners: @madkinsz

.github/CODEOWNERS:

# global owners
*                           @madkinsz

# task library owners
/src/prefect/tasks          @desertaxle
/tests/tasks                @desertaxle
/docs/core/task_library     @desertaxle

# documentation owners
/docs                       @tpdorsey
