Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Updates related to feedback
  docs/concepts/deployments.md
Owners: @tpdorsey

Updates related to feedback
  docs/concepts/deployments.md
Owners: @tpdorsey

Remove GCS block
  RELEASE-NOTES.md
Owners: @madkinsz

Remove GCS block
  RELEASE-NOTES.md
Owners: @madkinsz

Revised blocks description
  RELEASE-NOTES.md
Owners: @madkinsz

Revised blocks description
  RELEASE-NOTES.md
Owners: @madkinsz

Fix process infra testes
  tests/infrastructure/test_process.py
  tests/orion/api/test_deployments.py
  tests/orion/api/test_server.py
Owners: @madkinsz

Fix process infra testes
  tests/infrastructure/test_process.py
  tests/orion/api/test_deployments.py
  tests/orion/api/test_server.py
Owners: @madkinsz

Allow for subclasses to alter how we log errors for the minimum API version.
  src/prefect/orion/api/dependencies.py
Owners: @zangell44, @madkinsz

Allow for subclasses to alter how we log errors for the minimum API version.
  src/prefect/orion/api/dependencies.py
Owners: @zangell44, @madkinsz

Fix docker infra testes
  tests/infrastructure/test_docker_container.py
Owners: @madkinsz

Fix docker infra testes
  tests/infrastructure/test_docker_container.py
Owners: @madkinsz

Finish up remaining tests, some of which need to be skipped
  tests/cli/test_deployment_create.py
  tests/test_agent.py
Owners: @madkinsz

Finish up remaining tests, some of which need to be skipped
  tests/cli/test_deployment_create.py
  tests/test_agent.py
Owners: @madkinsz

Respond to feedback
  src/prefect/__init__.py
  src/prefect/cli/deployment.py
  src/prefect/filesystems.py
Owners: @madkinsz

Respond to feedback
  src/prefect/__init__.py
  src/prefect/cli/deployment.py
  src/prefect/filesystems.py
Owners: @madkinsz

Add basepath property
  src/prefect/filesystems.py
Owners: @madkinsz

Add basepath property
  src/prefect/filesystems.py
Owners: @madkinsz

Fixes block slug migration to not wipe all block documents in SQLite (PrefectHQ/orion#2521)
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_142515_f335f9633eec_adds_block_type_slug.py
Owners: @anticorrelator

Fixes block slug migration to not wipe all block documents in SQLite (PrefectHQ/orion#2521)
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_142515_f335f9633eec_adds_block_type_slug.py
Owners: @anticorrelator

Set basepath directly
  src/prefect/filesystems.py
Owners: @madkinsz

Set basepath directly
  src/prefect/filesystems.py
Owners: @madkinsz

Remove un-json fields on storage
  src/prefect/deployments.py
Owners: @madkinsz

Remove un-json fields on storage
  src/prefect/deployments.py
Owners: @madkinsz

Add descriptions back to postgresql
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_25_133637_add97ce1937d_update_deployments_to_include_more_.py
Owners: @anticorrelator

Add descriptions back to postgresql
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_25_133637_add97ce1937d_update_deployments_to_include_more_.py
Owners: @anticorrelator

Fix broken link
  RELEASE-NOTES.md
Owners: @madkinsz

Fix broken link
  RELEASE-NOTES.md
Owners: @madkinsz

Provide block capabilities api
  orion-ui/src/App.vue
  orion-ui/src/services/blockCapabilitiesApi.ts
Owners: @pleek91

Provide block capabilities api
  orion-ui/src/App.vue
  orion-ui/src/services/blockCapabilitiesApi.ts
Owners: @pleek91

Update orion-design to latest
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Update orion-design to latest
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Update cloud getting started deployments
  docs/concepts/filesystems.md
  docs/img/ui/cloud-test-deployment-details.png
  docs/ui/cloud-getting-started.md
Owners: @tpdorsey

Update cloud getting started deployments
  docs/concepts/filesystems.md
  docs/img/ui/cloud-test-deployment-details.png
  docs/ui/cloud-getting-started.md
Owners: @tpdorsey

Add exception to connection error messages
  src/prefect/cli/cloud.py
  src/prefect/cli/profile.py
Owners: @madkinsz

Add exception to connection error messages
  src/prefect/cli/cloud.py
  src/prefect/cli/profile.py
Owners: @madkinsz

Fix issue with blocks
  src/prefect/deployments.py
  src/prefect/filesystems.py
Owners: @madkinsz

Fix issue with blocks
  src/prefect/deployments.py
  src/prefect/filesystems.py
Owners: @madkinsz

bucket name
  src/prefect/filesystems.py
Owners: @madkinsz

bucket name
  src/prefect/filesystems.py
Owners: @madkinsz
