Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

Remove relative linking
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Actually fix package-lock
  orion-ui/package-lock.json
Owners: @pleek91

Actually fix package-lock
  orion-ui/package-lock.json
Owners: @pleek91

Remove the ability to update a block document name
  src/prefect/orion/schemas/actions.py
  tests/orion/api/test_block_documents.py
Owners: @zangell44, @madkinsz

Remove the ability to update a block document name
  src/prefect/orion/schemas/actions.py
  tests/orion/api/test_block_documents.py
Owners: @zangell44, @madkinsz

npm is the laziest package manager and its use should be banned under the geneva convention
  orion-ui/package-lock.json
Owners: @pleek91

npm is the laziest package manager and its use should be banned under the geneva convention
  orion-ui/package-lock.json
Owners: @pleek91

Fix tests
  tests/fixtures/database.py
  tests/test_agent.py
  tests/test_client.py
Owners: @madkinsz

Fix tests
  tests/fixtures/database.py
  tests/test_agent.py
  tests/test_client.py
Owners: @madkinsz

Fix tests by removing additional name references
  src/prefect/client.py
  src/prefect/orion/models/block_documents.py
  tests/blocks/test_core.py
Owners: @madkinsz, @zangell44

Fix tests by removing additional name references
  src/prefect/client.py
  src/prefect/orion/models/block_documents.py
  tests/blocks/test_core.py
Owners: @madkinsz, @zangell44

Format for days
  src/prefect/client.py
  tests/blocks/test_core.py
Owners: @madkinsz

Format for days
  src/prefect/client.py
  tests/blocks/test_core.py
Owners: @madkinsz

minor updates to flow-exectution tutorial
  docs/tutorials/execution.md
Owners: @tpdorsey

minor updates to flow-exectution tutorial
  docs/tutorials/execution.md
Owners: @tpdorsey

Update package.json
  orion-ui/package.json
Owners: @pleek91

Update package.json
  orion-ui/package.json
Owners: @pleek91

Remove ATC reference
  docs/index.md
Owners: @tpdorsey

Remove ATC reference
  docs/index.md
Owners: @tpdorsey

Update docs/concepts/work-queues.md
  docs/concepts/work-queues.md
Owners: @tpdorsey

Update docs/concepts/work-queues.md
  docs/concepts/work-queues.md
Owners: @tpdorsey

Update docs/concepts/work-queues.md
  docs/concepts/work-queues.md
Owners: @tpdorsey

Update docs/concepts/work-queues.md
  docs/concepts/work-queues.md
Owners: @tpdorsey

Update docs/concepts/work-queues.md
  docs/concepts/work-queues.md
Owners: @tpdorsey

Update docs/concepts/work-queues.md
  docs/concepts/work-queues.md
Owners: @tpdorsey

Update docs/concepts/work-queues.md
  docs/concepts/work-queues.md
Owners: @tpdorsey

Update docs/concepts/work-queues.md
  docs/concepts/work-queues.md
Owners: @tpdorsey

Update src/prefect/cli/agent.py
  src/prefect/cli/agent.py
Owners: @madkinsz

Update src/prefect/cli/agent.py
  src/prefect/cli/agent.py
Owners: @madkinsz

Update docs/concepts/work-queues.md
  docs/concepts/work-queues.md
Owners: @tpdorsey

Update docs/concepts/work-queues.md
  docs/concepts/work-queues.md
Owners: @tpdorsey

Resolve block tests
  tests/orion/models/test_block_documents.py
Owners: @madkinsz

Resolve block tests
  tests/orion/models/test_block_documents.py
Owners: @madkinsz

Fix remaining tests
  tests/cli/test_deployment_create.py
  tests/cli/test_profile.py
Owners: @madkinsz

Fix remaining tests
  tests/cli/test_deployment_create.py
  tests/cli/test_profile.py
Owners: @madkinsz

Update package lock
  orion-ui/package-lock.json
Owners: @pleek91

Update package lock
  orion-ui/package-lock.json
Owners: @pleek91

Update pd and od versions
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Update pd and od versions
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Bump minimum compatible prefect version
  src/prefect/infrastructure/submission.py
Owners: @madkinsz

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator
