Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @pleek91, @PrefectHQ/docs

fix api keys page and cloud index page
  docs/cloud/index.md
  mkdocs.yml
Owners: @PrefectHQ/docs

Remove extra log sort options (#7873)
  src/prefect/server/schemas/sorting.py
  tests/server/api/test_logs.py
  tests/server/models/test_logs.py
Owners: @PrefectHQ/open-source, @zangell44

Remove extra log sort options (#7873)
  src/prefect/server/schemas/sorting.py
  tests/server/api/test_logs.py
  tests/server/models/test_logs.py
Owners: @PrefectHQ/open-source, @zangell44

Remove extra log sort options (#7873)
  src/prefect/server/schemas/sorting.py
  tests/server/api/test_logs.py
  tests/server/models/test_logs.py
Owners: @PrefectHQ/open-source, @zangell44

remove comments in netlifly.toml ;
  docs/cloud/users/api-keys.md
  netlify.toml
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

update netlifly.toml
  netlify.toml
Owners: @PrefectHQ/open-source

Fix bug where iterable defaults were treated as mapped parameters (#9021)
  src/prefect/engine.py
  src/prefect/tasks.py
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Fix bug where iterable defaults were treated as mapped parameters (#9021)
  src/prefect/engine.py
  src/prefect/tasks.py
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Fix bug where iterable defaults were treated as mapped parameters (#9021)
  src/prefect/engine.py
  src/prefect/tasks.py
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Add internal `QueueService` abstract class (#9006)
  src/prefect/_internal/concurrency/services.py
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

Add internal `QueueService` abstract class (#9006)
  src/prefect/_internal/concurrency/services.py
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

Add internal `QueueService` abstract class (#9006)
  src/prefect/_internal/concurrency/services.py
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

Adds human-friendly way to reference block documents
  src/prefect/utilities/templating.py
  tests/utilities/test_templating.py
Owners: @PrefectHQ/open-source

Update events workers to run on the global event loop
  src/prefect/engine.py
  src/prefect/events/instrument.py
  src/prefect/events/utilities.py
  src/prefect/events/worker.py
  tests/events/conftest.py
  tests/events/test_block_events_instrumentation.py
  tests/events/test_events_emit_event.py
  tests/events/test_events_instrument.py
  tests/events/test_events_worker.py
Owners: @PrefectHQ/open-source

Updates error message and tests
  src/prefect/utilities/templating.py
  tests/utilities/test_templating.py
Owners: @PrefectHQ/open-source

Fix stop/exit race conditions
  src/prefect/_internal/concurrency/services.py
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

add migration doc
  docs/concepts/database.md
Owners: @PrefectHQ/docs

Remove debug print statement
  src/prefect/events/worker.py
Owners: @PrefectHQ/open-source

Check if block type needs updating first on register (#8838)
  src/prefect/blocks/core.py
  src/prefect/client/orchestration.py
  src/prefect/server/api/block_types.py
  src/prefect/server/schemas/actions.py
  src/prefect/utilities/pydantic.py
  tests/blocks/test_core.py
  tests/server/api/test_block_types.py
  tests/server/schemas/test_actions.py
  tests/utilities/test_pydantic.py
Owners: @PrefectHQ/open-source, @zangell44

Check if block type needs updating first on register (#8838)
  src/prefect/blocks/core.py
  src/prefect/client/orchestration.py
  src/prefect/server/api/block_types.py
  src/prefect/server/schemas/actions.py
  src/prefect/utilities/pydantic.py
  tests/blocks/test_core.py
  tests/server/api/test_block_types.py
  tests/server/schemas/test_actions.py
  tests/utilities/test_pydantic.py
Owners: @PrefectHQ/open-source, @zangell44

Check if block type needs updating first on register (#8838)
  src/prefect/blocks/core.py
  src/prefect/client/orchestration.py
  src/prefect/server/api/block_types.py
  src/prefect/server/schemas/actions.py
  src/prefect/utilities/pydantic.py
  tests/blocks/test_core.py
  tests/server/api/test_block_types.py
  tests/server/schemas/test_actions.py
  tests/utilities/test_pydantic.py
Owners: @PrefectHQ/open-source, @zangell44

move to contributing
  docs/concepts/database.md
  docs/contributing/adding-db-migrations.md
Owners: @PrefectHQ/docs

add to index yaml
  docs/contributing/adding-db-migrations.md
  mkdocs.yml
Owners: @PrefectHQ/docs

move to contributing overview
  docs/concepts/database.md
  docs/contributing/adding-db-migrations.md
  docs/contributing/overview.md
Owners: @PrefectHQ/docs

remove 1 more thing
  mkdocs.yml
Owners: @PrefectHQ/docs

Fix tests based on filesystems
  src/prefect/projects/base.py
  tests/cli/test_project.py
  tests/projects/test_base.py
Owners: @PrefectHQ/open-source

Fix tests for 3.7
  tests/cli/test_project.py
  tests/projects/test_base.py
Owners: @PrefectHQ/open-source

fix(deployments): remove erroneous creation of work queue
  src/prefect/server/models/deployments.py
  tests/server/models/test_deployments.py
Owners: @PrefectHQ/open-source, @zangell44

initial commit
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/sorting.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

Maybe now actually fix three seven tests
  tests/cli/test_project.py
  tests/projects/test_base.py
Owners: @PrefectHQ/open-source

Implements review suggestions
  src/prefect/utilities/templating.py
Owners: @PrefectHQ/open-source

Update events workers to run on the global event loop (#9019)
  src/prefect/_internal/concurrency/services.py
  src/prefect/engine.py
  src/prefect/events/instrument.py
  src/prefect/events/utilities.py
  src/prefect/events/worker.py
  tests/_internal/concurrency/test_services.py
  tests/events/conftest.py
  tests/events/test_block_events_instrumentation.py
  tests/events/test_events_emit_event.py
  tests/events/test_events_instrument.py
  tests/events/test_events_worker.py
Owners: @PrefectHQ/open-source

Update events workers to run on the global event loop (#9019)
  src/prefect/_internal/concurrency/services.py
  src/prefect/engine.py
  src/prefect/events/instrument.py
  src/prefect/events/utilities.py
  src/prefect/events/worker.py
  tests/_internal/concurrency/test_services.py
  tests/events/conftest.py
  tests/events/test_block_events_instrumentation.py
  tests/events/test_events_emit_event.py
  tests/events/test_events_instrument.py
  tests/events/test_events_worker.py
Owners: @PrefectHQ/open-source

Update events workers to run on the global event loop (#9019)
  src/prefect/_internal/concurrency/services.py
  src/prefect/engine.py
  src/prefect/events/instrument.py
  src/prefect/events/utilities.py
  src/prefect/events/worker.py
  tests/_internal/concurrency/test_services.py
  tests/events/conftest.py
  tests/events/test_block_events_instrumentation.py
  tests/events/test_events_emit_event.py
  tests/events/test_events_instrument.py
  tests/events/test_events_worker.py
Owners: @PrefectHQ/open-source

Reset mock services
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

Add `BatchedQueueService` abstract class
  src/prefect/_internal/concurrency/services.py
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

fix(deployments): default state Scheduled for /create_flow_run
  src/prefect/server/api/deployments.py
  tests/server/api/test_deployments.py
Owners: @PrefectHQ/open-source, @zangell44

remove comment
  src/prefect/server/models/artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

Removes experimental status from workers code
  src/prefect/cli/__init__.py
  src/prefect/cli/worker.py
  src/prefect/experimental/__init__.py
  src/prefect/experimental/cli/__init__.py
  src/prefect/settings.py
  src/prefect/workers/workers/__init__.py
  src/prefect/workers/workers/base.py
  src/prefect/workers/workers/process.py
  tests/cli/worker.py
  tests/workers/test_base_worker.py
  tests/workers/test_process_worker.py
Owners: @PrefectHQ/open-source

Increase sleep time in test
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# ui
/ui                            @pleek91

# documentation
/docs                                @PrefectHQ/docs
mkdocs.yml                           @PrefectHQ/docs
mkdocs.insiders.yml                  @PrefectHQ/docs

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source 

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source
