Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

Add comments explaining the connection status decision tree
  src/prefect/cli/profile.py
Owners: @madkinsz

Fix requirement for docker engine for test runs (PrefectHQ/orion#2383)
  tests/fixtures/docker.py
Owners: @madkinsz

Fix requirement for docker engine for test runs (PrefectHQ/orion#2383)
  tests/fixtures/docker.py
Owners: @madkinsz

Fix requirement for docker engine for test runs (#2383)
  tests/fixtures/docker.py
Owners: @madkinsz

Add docstrings
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/process.py
Owners: @madkinsz

Add docstrings
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/process.py
Owners: @madkinsz

Add docstrings
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/process.py
Owners: @madkinsz

Remove the linting exception for `no-explicit-any`
  orion-ui/.eslintrc.js
Owners: @pleek91

Remove the linting exception for `no-explicit-any`
  orion-ui/.eslintrc.js
Owners: @pleek91

Remove the linting exception for `no-explicit-any`
  orion-ui/.eslintrc.js
Owners: @pleek91

Refactor tests for clarity
  tests/cli/test_profile.py
Owners: @madkinsz

Refactor tests for clarity
  tests/cli/test_profile.py
Owners: @madkinsz

Updates standard task runner test suite for parallel task runners
  src/prefect/testing/standard_test_suites.py
Owners: @madkinsz

Updates standard task runner test suite for parallel task runners
  src/prefect/testing/standard_test_suites.py
Owners: @madkinsz

Updates standard task runner test suite for parallel task runners
  src/prefect/testing/standard_test_suites.py
Owners: @madkinsz

isort (again)
  tests/cli/test_profile.py
Owners: @madkinsz

isort (again)
  tests/cli/test_profile.py
Owners: @madkinsz

Fix linting warnings
  orion-ui/src/App.vue
  orion-ui/src/pages/BlocksCatalogCreate.vue
  orion-ui/src/utilities/arrays.ts
  orion-ui/src/utilities/dates.ts
  orion-ui/src/utilities/promises.ts
  orion-ui/src/utilities/timeFrame.ts
Owners: @pleek91

Fix linting warnings
  orion-ui/src/App.vue
  orion-ui/src/pages/BlocksCatalogCreate.vue
  orion-ui/src/utilities/arrays.ts
  orion-ui/src/utilities/dates.ts
  orion-ui/src/utilities/promises.ts
  orion-ui/src/utilities/timeFrame.ts
Owners: @pleek91

Fix linting warnings
  orion-ui/src/App.vue
  orion-ui/src/pages/BlocksCatalogCreate.vue
  orion-ui/src/utilities/arrays.ts
  orion-ui/src/utilities/dates.ts
  orion-ui/src/utilities/promises.ts
  orion-ui/src/utilities/timeFrame.ts
Owners: @pleek91

show code and ui output and improve organization
  docs/img/intro-ui-dashboard.png
  docs/index.md
Owners: @tpdorsey

show code and ui output and improve organization
  docs/img/intro-ui-dashboard.png
  docs/index.md
Owners: @tpdorsey

show code and ui output and improve organization
  docs/img/intro-ui-dashboard.png
  docs/index.md
Owners: @tpdorsey

Make map docstring examples more beginner friendly
  src/prefect/tasks.py
Owners: @madkinsz

Make map docstring examples more beginner friendly
  src/prefect/tasks.py
Owners: @madkinsz

Make map docstring examples more beginner friendly
  src/prefect/tasks.py
Owners: @madkinsz

Apply Bill's changes from code review
  docs/index.md
Owners: @tpdorsey

Apply Bill's changes from code review
  docs/index.md
Owners: @tpdorsey

Apply Bill's changes from code review
  docs/index.md
Owners: @tpdorsey

change heading for docs sections
  docs/index.md
Owners: @tpdorsey

change heading for docs sections
  docs/index.md
Owners: @tpdorsey

change heading for docs sections
  docs/index.md
Owners: @tpdorsey

Update flow run creation for deployments to take id
  src/prefect/client.py
  tests/test_agent.py
  tests/test_client.py
Owners: @madkinsz

Update flow run creation for deployments to take id
  src/prefect/client.py
  tests/test_agent.py
  tests/test_client.py
Owners: @madkinsz

Update flow run creation for deployments to take id
  src/prefect/client.py
  tests/test_agent.py
  tests/test_client.py
Owners: @madkinsz

Fix test
  tests/test_client.py
Owners: @madkinsz

Fix test
  tests/test_client.py
Owners: @madkinsz

Fix test
  tests/test_client.py
Owners: @madkinsz

Updates tests to use task runner
  src/prefect/testing/standard_test_suites.py
Owners: @madkinsz

Updates tests to use task runner
  src/prefect/testing/standard_test_suites.py
Owners: @madkinsz

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator
