Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cicdw, @znicholasbrown, @discdiver, @daniel-prefect, @aaazzam, @chrisguidry, @desertaxle, @zzstoatzz

update task run counts on retry with client-side task orchestration (#14706)
  src/prefect/task_engine.py
  tests/test_task_engine.py
Owners: @cicdw

update task run counts on retry with client-side task orchestration (#14706)
  src/prefect/task_engine.py
  tests/test_task_engine.py
Owners: @cicdw

update task run counts on retry with client-side task orchestration (#14706)
  src/prefect/task_engine.py
  tests/test_task_engine.py
Owners: @cicdw

use existing const NUM_CHARS_DYNAMIC_KEY
  src/prefect/tasks.py
Owners: @cicdw

better typing
  src/prefect/tasks.py
Owners: @cicdw

Fix task key computation (#14704)
  src/prefect/tasks.py
  tests/events/client/instrumentation/test_task_run_state_change_events.py
  tests/test_background_tasks.py
  tests/test_tasks.py
Owners: @cicdw

Fix task key computation (#14704)
  src/prefect/tasks.py
  tests/events/client/instrumentation/test_task_run_state_change_events.py
  tests/test_background_tasks.py
  tests/test_tasks.py
Owners: @cicdw

Fix task key computation (#14704)
  src/prefect/tasks.py
  tests/events/client/instrumentation/test_task_run_state_change_events.py
  tests/test_background_tasks.py
  tests/test_tasks.py
Owners: @cicdw

yields concurrent futures in order
  src/prefect/futures.py
  src/prefect/task_runs.py
  tests/test_futures.py
Owners: @cicdw

use config file instead
  setup.cfg
Owners: @cicdw

silence `PrefectDeprecationWarning` in tests (#14708)
  setup.cfg
Owners: @cicdw

fix task key comp for 2.x
  src/prefect/tasks.py
  tests/test_background_tasks.py
  tests/test_tasks.py
Owners: @cicdw

fix deprecation warning
  tests/runner/test_runner.py
Owners: @cicdw

Revert "fix deprecation warning"
  tests/runner/test_runner.py
Owners: @cicdw

fix task key comp for 2.x (#14707)
  src/prefect/tasks.py
  tests/test_background_tasks.py
  tests/test_tasks.py
Owners: @cicdw

Fix typing of schedules argument in Flow.to_deployment
  src/prefect/flows.py
Owners: @cicdw

Adds tests and adds handling for varargs and varkwargs
  src/prefect/flows.py
  tests/test_flows.py
Owners: @cicdw

Update `deploy` to use `safe_load_flow_from_entrypoint`
  src/prefect/flows.py
Owners: @cicdw

Update `deploy` CLI to attempt to load flow directly before using AST parsing
  src/prefect/cli/deploy.py
Owners: @cicdw

Reraise if safe loading the flow fails
  src/prefect/cli/deploy.py
  src/prefect/flows.py
Owners: @cicdw

Fixes failing tests
  tests/test_flows.py
Owners: @cicdw

Migrate to anyio4
  src/prefect/engine.py
  src/prefect/utilities/asyncutils.py
Owners: @cicdw

Make rolled back tasks transition to a Completed(name="RolledBack") state.
  src/prefect/task_engine.py
  src/prefect/transactions.py
  tests/test_task_engine.py
Owners: @cicdw

Move task engine transaction hook tests into test_task_engine.
  tests/test_task_engine.py
  tests/test_tasks.py
Owners: @cicdw

includes prefect version
  src/prefect/events/worker.py
  tests/events/client/test_events_worker.py
Owners: @cicdw

includes prefect version
  src/prefect/events/worker.py
Owners: @cicdw

add docs about final flow run state
  docs/3.0rc/resources/upgrade-prefect-3.mdx
Owners: @discdiver, @daniel-prefect

Make RolledBack task state transition happen without client side task orchestration.
  src/prefect/task_engine.py
  tests/test_task_engine.py
  tests/test_tasks.py
Owners: @cicdw

fix link to retries
  docs/3.0rc/develop/write-flows.mdx
Owners: @discdiver, @daniel-prefect

Expose per run param validation flag
  src/prefect/server/api/deployments.py
  src/prefect/server/schemas/actions.py
  tests/server/api/test_deployments.py
Owners: @cicdw

Fix typing of schedules argument in Flow.to_deployment (#14711)
  src/prefect/flows.py
Owners: @cicdw

Fix typing of schedules argument in Flow.to_deployment (#14711)
  src/prefect/flows.py
Owners: @cicdw

Fix typing of schedules argument in Flow.to_deployment (#14711)
  src/prefect/flows.py
Owners: @cicdw

add note about many states
  docs/3.0rc/resources/upgrade-prefect-3.mdx
Owners: @discdiver, @daniel-prefect

Make flag optional as it should be
  src/prefect/server/schemas/actions.py
Owners: @cicdw

yields distributed futures in order
  src/prefect/futures.py
  src/prefect/task_runs.py
  tests/test_futures.py
Owners: @cicdw

Exclude this new toggle on flow run response
  src/prefect/server/api/deployments.py
Owners: @cicdw

Write a test to assert the correct number of logs are returned
  tests/server/orchestration/api/test_flow_runs.py
Owners: @cicdw

Expose enforce parameter schema flag on individual flow runs
  docs/3.0rc/api-ref/rest-api/server/schema.json
  src/prefect/client/schemas/actions.py
  src/prefect/server/api/deployments.py
  src/prefect/server/schemas/actions.py
  tests/server/orchestration/api/test_deployments.py
Owners: @discdiver, @daniel-prefect, @cicdw

See if renaming the endpoint fixes the failing test
  docs/3.0rc/api-ref/rest-api/server/schema.json
  src/prefect/server/api/flow_runs.py
Owners: @discdiver, @daniel-prefect, @cicdw

.github/CODEOWNERS:

# global
*                                    @cicdw

# ui
/ui                                  @znicholasbrown

# documentation
/docs                                @discdiver @daniel-prefect

# imports
/src/prefect/__init__.py              @aaazzam @chrisguidry
/src/prefect/main.py                  @aaazzam @chrisguidry

# integrations
/src/integrations                     @desertaxle @zzstoatzz
