Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @desertaxle, @tpdorsey

All routes should be async
  src/prefect/orion/api/admin.py
Owners: @madkinsz

Change the default to `True`
  src/prefect/deployments.py
Owners: @madkinsz

Change the default to `True`
  src/prefect/deployments.py
Owners: @madkinsz

Update docs/orchestration/flow-runs/creation.md
  docs/orchestration/flow-runs/creation.md
Owners: @tpdorsey

docs: update idempotency docs to indicate no expiry (#5221)
  docs/orchestration/flow-runs/creation.md
Owners: @tpdorsey

Checkpoint, draft of solution
  src/prefect/orion/database/configurations.py
Owners: @madkinsz

Checkpoint, draft of solution
  src/prefect/orion/database/configurations.py
Owners: @madkinsz

Add dockerpy and packaging to requirements
  requirements.txt
Owners: @madkinsz

Add dockerpy and packaging to requirements
  requirements.txt
Owners: @madkinsz

Prevent the agent from double submitting flow runs that submit successfully
  src/prefect/agent.py
Owners: @madkinsz

Prevent the agent from double submitting flow runs that submit successfully
  src/prefect/agent.py
Owners: @madkinsz

Add orion docker image construction to docker flow runner
  Dockerfile
  scripts/entrypoint.sh
  src/prefect/flow_runners.py
  src/prefect/utilities/settings.py
Owners: @madkinsz

Add orion docker image construction to docker flow runner
  Dockerfile
  scripts/entrypoint.sh
  src/prefect/flow_runners.py
  src/prefect/utilities/settings.py
Owners: @madkinsz

Multiple local agents with the same label
  docs/orchestration/agents/local.md
  docs/orchestration/concepts/flows.md
Owners: @tpdorsey

Create pr5232.yaml
  changes/pr5232.yaml
Owners: @madkinsz

Add `push_to_server` to deployment creation test
  tests/test_deployments.py
Owners: @madkinsz

Add `push_to_server` to deployment creation test
  tests/test_deployments.py
Owners: @madkinsz

Add virtualenv reference
  src/prefect/flow_runners.py
Owners: @madkinsz

Add virtualenv reference
  src/prefect/flow_runners.py
Owners: @madkinsz

make it clearer with an example
  docs/orchestration/agents/local.md
Owners: @tpdorsey

Allow kwargs to be passed to Merge
  src/prefect/tasks/control_flow/conditional.py
  tests/tasks/test_control_flow.py
Owners: @desertaxle

Propose pending flow run state in agent submission
  src/prefect/agent.py
  src/prefect/engine.py
  tests/test_agent.py
Owners: @madkinsz

Propose pending flow run state in agent submission
  src/prefect/agent.py
  src/prefect/engine.py
  tests/test_agent.py
Owners: @madkinsz

Use lru cache
  src/prefect/orion/database/configurations.py
Owners: @madkinsz

Use lru cache
  src/prefect/orion/database/configurations.py
Owners: @madkinsz

Add docs for merge kwargs
  src/prefect/tasks/control_flow/conditional.py
Owners: @desertaxle

Add test for sleep until start time
  tests/test_agent.py
Owners: @madkinsz

Add test for sleep until start time
  tests/test_agent.py
Owners: @madkinsz

Refactor proposal into a separate method; add test for flow run deletion
  src/prefect/agent.py
  tests/test_agent.py
Owners: @madkinsz

Refactor proposal into a separate method; add test for flow run deletion
  src/prefect/agent.py
  tests/test_agent.py
Owners: @madkinsz

Update variable name for readability
  src/prefect/agent.py
Owners: @madkinsz

Update variable name for readability
  src/prefect/agent.py
Owners: @madkinsz

Fix nested document resolution
  src/prefect/client.py
Owners: @madkinsz

Fix nested document resolution
  src/prefect/client.py
Owners: @madkinsz

Remove unneeded tests
  tests/tasks/test_control_flow.py
Owners: @desertaxle

Add vue-compositions as a dependency
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @madkinsz

Add vue-compositions as a dependency
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @madkinsz

Add changes file
  changes/pr5233.yaml
Owners: @madkinsz

Allow kwargs to be passed to Merge (#5233)
  changes/pr5233.yaml
  src/prefect/tasks/control_flow/conditional.py
  tests/tasks/test_control_flow.py
Owners: @madkinsz, @desertaxle

Returning legacy docs.
  docs/orchestration/execution/custom_environment.md
  docs/orchestration/execution/dask_cloud_provider_environment.md
  docs/orchestration/execution/dask_k8s_environment.md
  docs/orchestration/execution/fargate_task_environment.md
  docs/orchestration/execution/k8s_job_environment.md
  docs/orchestration/execution/local_environment.md
Owners: @tpdorsey

.github/CODEOWNERS:

# global owners
*                           @madkinsz

# task library owners
/src/prefect/tasks          @desertaxle
/tests/tasks                @desertaxle
/docs/core/task_library     @desertaxle

# documentation owners
/docs                       @tpdorsey
