Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cicdw, @desertaxle, @zzstoatzz, @znicholasbrown, @discdiver, @aaazzam, @chrisguidry

Wire up validation to relevant blocks with tests
  src/prefect/blocks/notifications.py
  src/prefect/blocks/webhook.py
  tests/blocks/test_notifications.py
  tests/blocks/test_webhook.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Ignore new multipart warning in tests
  setup.cfg
Owners: @cicdw, @desertaxle, @zzstoatzz

Upper bound anyio due to recent exception handling change
  requirements-client.txt
Owners: @cicdw, @desertaxle, @zzstoatzz

Upper bound asyncpg
  requirements.txt
Owners: @cicdw, @desertaxle, @zzstoatzz

Update mermaid.js diagram styling in docs (#15811)
  docs/3.0/deploy/infrastructure-concepts/work-pools.mdx
  docs/3.0/deploy/infrastructure-concepts/workers.mdx
  docs/integrations/prefect-aws/ecs_guide.mdx
  scripts/generate_sdk_docs.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Update mermaid.js diagram styling in docs (#15811)
  docs/3.0/deploy/infrastructure-concepts/work-pools.mdx
  docs/3.0/deploy/infrastructure-concepts/workers.mdx
  docs/integrations/prefect-aws/ecs_guide.mdx
  scripts/generate_sdk_docs.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Update mermaid.js diagram styling in docs (#15811)
  docs/3.0/deploy/infrastructure-concepts/work-pools.mdx
  docs/3.0/deploy/infrastructure-concepts/workers.mdx
  docs/integrations/prefect-aws/ecs_guide.mdx
  scripts/generate_sdk_docs.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Make string check in test more robust
  tests/deployment/test_steps.py
Owners: @cicdw, @desertaxle, @zzstoatzz

One final bound to squash a test failure
  requirements.txt
Owners: @cicdw, @desertaxle, @zzstoatzz

Remove unnecessary test fixture
  tests/conftest.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Polish generated docs
  docs/3.0/develop/settings-ref.mdx
  scripts/generate_settings_ref.py
  src/prefect/settings/base.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Fix errors in markdown and codspeed workflows
  .github/workflows/codspeed-benchmarks.yaml
  requirements-dev.txt
Owners: @cicdw, @desertaxle, @zzstoatzz

Remove `-y`
  .github/workflows/codspeed-benchmarks.yaml
Owners: @cicdw, @desertaxle, @zzstoatzz

Disable benchmark for markdown tests
  .github/workflows/markdown-tests.yaml
Owners: @cicdw, @desertaxle, @zzstoatzz

Unisntall `pytest-benchmark` in markdown tests workflow
  .github/workflows/codspeed-benchmarks.yaml
  .github/workflows/markdown-tests.yaml
Owners: @cicdw, @desertaxle, @zzstoatzz

Skip benches conftest.py if `pytest-benchmark` not installed
  benches/conftest.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Avoid importing from `pytest`benchmark`
  benches/bench_flows.py
  benches/bench_import.py
  benches/bench_tasks.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Remember how type hints work
  benches/bench_flows.py
  benches/bench_import.py
  benches/bench_tasks.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Remove benches `conftest.py`
  benches/conftest.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Fix errors in markdown and codspeed workflows (#15841)
  .github/workflows/codspeed-benchmarks.yaml
  .github/workflows/markdown-tests.yaml
  benches/bench_flows.py
  benches/bench_import.py
  benches/bench_tasks.py
  benches/conftest.py
  requirements-dev.txt
Owners: @cicdw, @desertaxle, @zzstoatzz

Fix errors in markdown and codspeed workflows (#15841)
  .github/workflows/codspeed-benchmarks.yaml
  .github/workflows/markdown-tests.yaml
  benches/bench_flows.py
  benches/bench_import.py
  benches/bench_tasks.py
  benches/conftest.py
  requirements-dev.txt
Owners: @cicdw, @desertaxle, @zzstoatzz

Fix errors in markdown and codspeed workflows (#15841)
  .github/workflows/codspeed-benchmarks.yaml
  .github/workflows/markdown-tests.yaml
  benches/bench_flows.py
  benches/bench_import.py
  benches/bench_tasks.py
  benches/conftest.py
  requirements-dev.txt
Owners: @cicdw, @desertaxle, @zzstoatzz

Address review comments
  docs/3.0/api-ref/python/settings.mdx
  docs/mint.json
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Update @prefecthq/prefect-design to version 2.14.2 (#15837)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-design to version 2.14.2 (#15837)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-design to version 2.14.2 (#15837)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Backport security enhancement (#15838)
  requirements-client.txt
  requirements.txt
  setup.cfg
  src/prefect/blocks/notifications.py
  src/prefect/blocks/webhook.py
  src/prefect/utilities/urls.py
  tests/blocks/test_notifications.py
  tests/blocks/test_webhook.py
  tests/conftest.py
  tests/deployment/test_steps.py
  tests/utilities/test_urls.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Update @prefecthq/prefect-design to version 2.14.3
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-design to version 2.14.3 (#15844)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-design to version 2.14.3 (#15844)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-design to version 2.14.3 (#15844)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update GitHub actions versions and formatting in CI/CD deploy docs page (#15667)
  docs/3.0/deploy/infrastructure-concepts/deploy-ci-cd.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Update GitHub actions versions and formatting in CI/CD deploy docs page (#15667)
  docs/3.0/deploy/infrastructure-concepts/deploy-ci-cd.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Update GitHub actions versions and formatting in CI/CD deploy docs page (#15667)
  docs/3.0/deploy/infrastructure-concepts/deploy-ci-cd.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Attempts to add in dbt tests ported from 3.0 branch
  src/integrations/prefect-dbt/tests/cli/test_commands.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Fixes broken image links in ACI worker guide (#15831)
  docs/images/integrations/aci-worker-acridentity.png
  docs/images/integrations/aci-worker-identities.png
  docs/images/integrations/aci-worker-subscription.png
  docs/integrations/prefect-azure/aci_worker.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Fixes broken image links in ACI worker guide (#15831)
  docs/images/integrations/aci-worker-acridentity.png
  docs/images/integrations/aci-worker-identities.png
  docs/images/integrations/aci-worker-subscription.png
  docs/integrations/prefect-azure/aci_worker.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Fixes broken image links in ACI worker guide (#15831)
  docs/images/integrations/aci-worker-acridentity.png
  docs/images/integrations/aci-worker-identities.png
  docs/images/integrations/aci-worker-subscription.png
  docs/integrations/prefect-azure/aci_worker.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Adds in experiments settings module
  src/prefect/settings/models/experiments.py
  src/prefect/settings/models/root.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Updates settings schema
  schemas/settings.schema.json
Owners: @cicdw, @desertaxle, @zzstoatzz

.github/CODEOWNERS:

# global
*                                    @cicdw @desertaxle @zzstoatzz

# ui
/ui                                  @znicholasbrown

# documentation
/docs                                @discdiver @cicdw @desertaxle @zzstoatzz
# imports
/src/prefect/__init__.py              @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz
/src/prefect/main.py                  @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz
