Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cicdw, @desertaxle, @zzstoatzz, @znicholasbrown, @discdiver, @aaazzam, @chrisguidry

.github/CODEOWNERS:

# global
*                                    @cicdw @desertaxle @zzstoatzz

# ui
/ui                                  @znicholasbrown

# documentation
/docs                                @discdiver @cicdw @desertaxle @zzstoatzz
# imports
/src/prefect/__init__.py              @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz
/src/prefect/main.py                  @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz

Fix sorting of tags to determine nightly release version
  .github/workflows/nightly-release.yaml
Owners: @cicdw, @desertaxle, @zzstoatzz

Update auto generated docs
  schemas/settings.schema.json
Owners: @cicdw, @desertaxle, @zzstoatzz

remove old action (#15822)
  .github/workflows/issue-bot.yaml
Owners: @cicdw, @desertaxle, @zzstoatzz

remove old action (#15822)
  .github/workflows/issue-bot.yaml
Owners: @cicdw, @desertaxle, @zzstoatzz

remove old action (#15822)
  .github/workflows/issue-bot.yaml
Owners: @cicdw, @desertaxle, @zzstoatzz

Fix sorting of tags to determine nightly release version (#15825)
  .github/workflows/nightly-release.yaml
Owners: @cicdw, @desertaxle, @zzstoatzz

Fix sorting of tags to determine nightly release version (#15825)
  .github/workflows/nightly-release.yaml
Owners: @cicdw, @desertaxle, @zzstoatzz

Fix sorting of tags to determine nightly release version (#15825)
  .github/workflows/nightly-release.yaml
Owners: @cicdw, @desertaxle, @zzstoatzz

Update @prefecthq/prefect-design to version 2.14.0
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Add mocks to stabilize test
  tests/deployment/test_steps.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Add `prefect.toml` support for settings (#15788)
  .pre-commit-config.yaml
  schemas/settings.schema.json
  scripts/generate_settings_schema.py
  settings_schema.json
  src/prefect/cli/config.py
  src/prefect/settings/base.py
  src/prefect/settings/legacy.py
  src/prefect/settings/models/api.py
  src/prefect/settings/models/cli.py
  src/prefect/settings/models/client.py
  src/prefect/settings/models/cloud.py
  src/prefect/settings/models/deployments.py
  src/prefect/settings/models/flows.py
  src/prefect/settings/models/internal.py
  src/prefect/settings/models/logging.py
  src/prefect/settings/models/results.py
  src/prefect/settings/models/root.py
  src/prefect/settings/models/runner.py
  src/prefect/settings/models/server/api.py
  src/prefect/settings/models/server/database.py
  src/prefect/settings/models/server/deployments.py
  src/prefect/settings/models/server/ephemeral.py
  src/prefect/settings/models/server/events.py
  src/prefect/settings/models/server/flow_run_graph.py
  src/prefect/settings/models/server/root.py
  src/prefect/settings/models/server/services.py
  src/prefect/settings/models/server/tasks.py
  src/prefect/settings/models/server/ui.py
  src/prefect/settings/models/tasks.py
  src/prefect/settings/models/testing.py
  src/prefect/settings/models/ui.py
  src/prefect/settings/models/worker.py
  src/prefect/settings/sources.py
  tests/cli/test_config.py
  tests/deployment/test_steps.py
  tests/test_settings.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Add `prefect.toml` support for settings (#15788)
  .pre-commit-config.yaml
  schemas/settings.schema.json
  scripts/generate_settings_schema.py
  settings_schema.json
  src/prefect/cli/config.py
  src/prefect/settings/base.py
  src/prefect/settings/legacy.py
  src/prefect/settings/models/api.py
  src/prefect/settings/models/cli.py
  src/prefect/settings/models/client.py
  src/prefect/settings/models/cloud.py
  src/prefect/settings/models/deployments.py
  src/prefect/settings/models/flows.py
  src/prefect/settings/models/internal.py
  src/prefect/settings/models/logging.py
  src/prefect/settings/models/results.py
  src/prefect/settings/models/root.py
  src/prefect/settings/models/runner.py
  src/prefect/settings/models/server/api.py
  src/prefect/settings/models/server/database.py
  src/prefect/settings/models/server/deployments.py
  src/prefect/settings/models/server/ephemeral.py
  src/prefect/settings/models/server/events.py
  src/prefect/settings/models/server/flow_run_graph.py
  src/prefect/settings/models/server/root.py
  src/prefect/settings/models/server/services.py
  src/prefect/settings/models/server/tasks.py
  src/prefect/settings/models/server/ui.py
  src/prefect/settings/models/tasks.py
  src/prefect/settings/models/testing.py
  src/prefect/settings/models/ui.py
  src/prefect/settings/models/worker.py
  src/prefect/settings/sources.py
  tests/cli/test_config.py
  tests/deployment/test_steps.py
  tests/test_settings.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Add `prefect.toml` support for settings (#15788)
  .pre-commit-config.yaml
  schemas/settings.schema.json
  scripts/generate_settings_schema.py
  settings_schema.json
  src/prefect/cli/config.py
  src/prefect/settings/base.py
  src/prefect/settings/legacy.py
  src/prefect/settings/models/api.py
  src/prefect/settings/models/cli.py
  src/prefect/settings/models/client.py
  src/prefect/settings/models/cloud.py
  src/prefect/settings/models/deployments.py
  src/prefect/settings/models/flows.py
  src/prefect/settings/models/internal.py
  src/prefect/settings/models/logging.py
  src/prefect/settings/models/results.py
  src/prefect/settings/models/root.py
  src/prefect/settings/models/runner.py
  src/prefect/settings/models/server/api.py
  src/prefect/settings/models/server/database.py
  src/prefect/settings/models/server/deployments.py
  src/prefect/settings/models/server/ephemeral.py
  src/prefect/settings/models/server/events.py
  src/prefect/settings/models/server/flow_run_graph.py
  src/prefect/settings/models/server/root.py
  src/prefect/settings/models/server/services.py
  src/prefect/settings/models/server/tasks.py
  src/prefect/settings/models/server/ui.py
  src/prefect/settings/models/tasks.py
  src/prefect/settings/models/testing.py
  src/prefect/settings/models/ui.py
  src/prefect/settings/models/worker.py
  src/prefect/settings/sources.py
  tests/cli/test_config.py
  tests/deployment/test_steps.py
  tests/test_settings.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Add generation of reference documentation for settings
  docs/3.0/api-ref/python/settings.mdx
  docs/3.0/develop/settings-and-profiles.mdx
  docs/3.0/develop/settings-ref.mdx
  docs/mint.json
  schemas/settings.schema.json
  scripts/generate_settings_ref.py
  src/prefect/settings/base.py
  src/prefect/settings/models/api.py
  src/prefect/settings/models/cli.py
  src/prefect/settings/models/client.py
  src/prefect/settings/models/cloud.py
  src/prefect/settings/models/deployments.py
  src/prefect/settings/models/flows.py
  src/prefect/settings/models/internal.py
  src/prefect/settings/models/logging.py
  src/prefect/settings/models/results.py
  src/prefect/settings/models/root.py
  src/prefect/settings/models/runner.py
  src/prefect/settings/models/server/api.py
  src/prefect/settings/models/server/database.py
  src/prefect/settings/models/server/deployments.py
  src/prefect/settings/models/server/ephemeral.py
  src/prefect/settings/models/server/events.py
  src/prefect/settings/models/server/flow_run_graph.py
  src/prefect/settings/models/server/root.py
  src/prefect/settings/models/server/services.py
  src/prefect/settings/models/server/tasks.py
  src/prefect/settings/models/server/ui.py
  src/prefect/settings/models/tasks.py
  src/prefect/settings/models/testing.py
  src/prefect/settings/models/worker.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Add supported environment variables
  docs/3.0/develop/settings-ref.mdx
  scripts/generate_settings_ref.py
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Add pre-commit action for generating settings reference documentation
  .pre-commit-config.yaml
  docs/3.0/develop/settings-ref.mdx
Owners: @cicdw, @desertaxle, @zzstoatzz, @discdiver

fix broken image links in prefect-azure
  docs/images/integrations/aci-worker-acridentity.png
  docs/images/integrations/aci-worker-identities.png
  docs/images/integrations/aci-worker-subscription.png
  docs/integrations/prefect-azure/aci_worker.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Update @prefecthq/prefect-design to version 2.14.1
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-ui-library to version 3.11.8
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

avoid kwarg collisions
  src/prefect/cli/shell.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Update docs/3.0/deploy/static-infrastructure-examples/docker.mdx
  docs/3.0/deploy/static-infrastructure-examples/docker.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

apply suggestions
  docs/3.0/deploy/infrastructure-examples/docker.mdx
  docs/3.0/deploy/static-infrastructure-examples/docker.mdx
  docs/mint.json
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

add serve in container docs
  docs/3.0/deploy/static-infrastructure-examples/docker.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

apply more suggestions
  docs/3.0/deploy/infrastructure-examples/docker.mdx
  docs/3.0/deploy/static-infrastructure-examples/docker.mdx
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

wip docs on serve docker container
  docs/3.0/deploy/infrastructure-examples/docker.mdx
  docs/3.0/deploy/static-infrastructure-examples/docker.mdx
  docs/mint.json
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Add validate URL utility and files
  src/prefect/utilities/urls.py
  tests/utilities/test_urls.py
Owners: @cicdw, @desertaxle, @zzstoatzz

pass through kwargs for `run_shell_process` (#15817)
  src/prefect/cli/shell.py
  tests/cli/test_shell.py
Owners: @cicdw, @desertaxle, @zzstoatzz

pass through kwargs for `run_shell_process` (#15817)
  src/prefect/cli/shell.py
  tests/cli/test_shell.py
Owners: @cicdw, @desertaxle, @zzstoatzz

pass through kwargs for `run_shell_process` (#15817)
  src/prefect/cli/shell.py
  tests/cli/test_shell.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Serve in container docs (#15814)
  docs/3.0/deploy/infrastructure-examples/docker.mdx
  docs/3.0/deploy/static-infrastructure-examples/docker.mdx
  docs/mint.json
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Serve in container docs (#15814)
  docs/3.0/deploy/infrastructure-examples/docker.mdx
  docs/3.0/deploy/static-infrastructure-examples/docker.mdx
  docs/mint.json
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Serve in container docs (#15814)
  docs/3.0/deploy/infrastructure-examples/docker.mdx
  docs/3.0/deploy/static-infrastructure-examples/docker.mdx
  docs/mint.json
Owners: @discdiver, @cicdw, @desertaxle, @zzstoatzz

Update @prefecthq/prefect-design to version 2.14.2
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-design to version 2.14.1 (#15834)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-design to version 2.14.1 (#15834)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-design to version 2.14.1 (#15834)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update package.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-ui-library to version 3.11.8 (#15835)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-ui-library to version 3.11.8 (#15835)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Update @prefecthq/prefect-ui-library to version 3.11.8 (#15835)
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown
