Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @cicdw, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# deployments
/src/prefect/cli/deployment.py       @PrefectHQ/open-source @cicdw
/src/prefect/deployments.py          @PrefectHQ/open-source @cicdw

# ui
/ui                            @pleek91

# documentation
/docs                                @tpdorsey
mkdocs.yml                           @tpdorsey
mkdocs.insiders.yml                  @tpdorsey

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source @anticorrelator

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source @anticorrelator

Parameterize tests for sync/async
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Remove beta notes regarding agents and deployments (#8630)
  docs/concepts/deployments.md
  docs/concepts/work-pools.md
Owners: @tpdorsey

Remove beta notes regarding agents and deployments (#8630)
  docs/concepts/deployments.md
  docs/concepts/work-pools.md
Owners: @tpdorsey

Remove beta notes regarding agents and deployments (#8630)
  docs/concepts/deployments.md
  docs/concepts/work-pools.md
Owners: @tpdorsey

Add `on_completion` and `on_failure` flow state change hooks (#8575)
  src/prefect/engine.py
  src/prefect/flows.py
  tests/test_flows.py
Owners: @PrefectHQ/open-source

Add `on_completion` and `on_failure` flow state change hooks (#8575)
  src/prefect/engine.py
  src/prefect/flows.py
  tests/test_flows.py
Owners: @PrefectHQ/open-source

Add `on_completion` and `on_failure` flow state change hooks (#8575)
  src/prefect/engine.py
  src/prefect/flows.py
  tests/test_flows.py
Owners: @PrefectHQ/open-source

Add `on_failure` and `on_completion` task state change hooks (#8605)
  src/prefect/engine.py
  src/prefect/tasks.py
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Add `on_failure` and `on_completion` task state change hooks (#8605)
  src/prefect/engine.py
  src/prefect/tasks.py
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Add `on_failure` and `on_completion` task state change hooks (#8605)
  src/prefect/engine.py
  src/prefect/tasks.py
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Move _run_flow_hooks above the main block
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Move _run_flow_hooks above the main block (#8636)
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Move _run_flow_hooks above the main block (#8636)
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Move _run_flow_hooks above the main block (#8636)
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Initial commit
  src/prefect/cli/cloud.py
Owners: @PrefectHQ/open-source

WIP: path interpolation
  src/prefect/deployments.py
  tests/test_deployments.py
Owners: @PrefectHQ/open-source, @cicdw

Make task hook logging match flow hook logging
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Add release notes
  RELEASE-NOTES.md
  docs/overrides/main.html
Owners: @PrefectHQ/open-source, @tpdorsey

Remove emoji :(
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Update all changes link
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Clarify `Task.map` fix
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Fix task hook logging to match flow hook logging (#8638)
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Fix task hook logging to match flow hook logging (#8638)
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Fix task hook logging to match flow hook logging (#8638)
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Clarify bullets on fixes
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Capitalizing
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Add sifflet link
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Add Sifflet to header
  docs/overrides/main.html
Owners: @tpdorsey

specify UI for contrast enhancements
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Inital commit
  src/prefect/cli/cloud.py
  tests/cli/test_cloud.py
Owners: @PrefectHQ/open-source

Capitalize Job
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Update feature description
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Update explanation of hooks
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

update hooks example
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Update resume flow description
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Update spacing on document
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Change language on feature example
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Update code fence spacing
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

artifacts description
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Initial commit:
  src/prefect/server/database/interface.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/artifacts.py
  src/prefect/server/schemas/actions.py
Owners: @PrefectHQ/open-source, @anticorrelator, @zangell44
