Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @pleek91, @PrefectHQ/docs

Template pull steps with step outputs but not with block refs
  src/prefect/cli/root.py
  tests/cli/test_project.py
Owners: @PrefectHQ/open-source

add variables module
  src/prefect/variables.py
  tests/test_variables.py
Owners: @PrefectHQ/open-source

fix migration order
  src/prefect/server/database/migrations/versions/postgresql/2023_04_05_130406_43c94d4c7aa3_add_pull_steps_column_to_deployment.py
  src/prefect/server/database/migrations/versions/postgresql/2023_04_05_134520_310dda75f561_add_variables.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_05_120713_340f457b315f_add_column_to_deployments_for_pull_steps.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_05_134301_3d46e23593d6_add_variables.py
Owners: @PrefectHQ/open-source

add better docstrings
  src/prefect/variables.py
Owners: @PrefectHQ/open-source

add trailing slash for link to work
  docs/tutorials/projects.md
Owners: @PrefectHQ/docs

Fail on prefect-agent typed work pools
  src/prefect/cli/root.py
Owners: @PrefectHQ/open-source

Avoid using spin locks while waiting for task submission (#9072)
  src/prefect/_internal/concurrency/event_loop.py
  src/prefect/futures.py
Owners: @PrefectHQ/open-source

Avoid using spin locks while waiting for task submission (#9072)
  src/prefect/_internal/concurrency/event_loop.py
  src/prefect/futures.py
Owners: @PrefectHQ/open-source

Avoid using spin locks while waiting for task submission (#9072)
  src/prefect/_internal/concurrency/event_loop.py
  src/prefect/futures.py
Owners: @PrefectHQ/open-source

pr suggestions
  src/prefect/variables.py
  tests/test_variables.py
Owners: @PrefectHQ/open-source

Adds ability to use access token for pulling from private repositories
  src/prefect/projects/steps/pull.py
Owners: @PrefectHQ/open-source

Adds access_token to git recipes
  src/prefect/projects/recipes/docker-git/prefect.yaml
  src/prefect/projects/recipes/git/prefect.yaml
Owners: @PrefectHQ/open-source

CLI Recipe table (#9093)
  src/prefect/cli/project.py
  src/prefect/projects/recipes/docker-gcs/prefect.yaml
  src/prefect/projects/recipes/docker-git/prefect.yaml
  src/prefect/projects/recipes/docker-s3/prefect.yaml
  src/prefect/projects/recipes/docker/prefect.yaml
  src/prefect/projects/recipes/gcs/prefect.yaml
  src/prefect/projects/recipes/git/prefect.yaml
  src/prefect/projects/recipes/local/prefect.yaml
  src/prefect/projects/recipes/s3/prefect.yaml
Owners: @PrefectHQ/open-source

CLI Recipe table (#9093)
  src/prefect/cli/project.py
  src/prefect/projects/recipes/docker-gcs/prefect.yaml
  src/prefect/projects/recipes/docker-git/prefect.yaml
  src/prefect/projects/recipes/docker-s3/prefect.yaml
  src/prefect/projects/recipes/docker/prefect.yaml
  src/prefect/projects/recipes/gcs/prefect.yaml
  src/prefect/projects/recipes/git/prefect.yaml
  src/prefect/projects/recipes/local/prefect.yaml
  src/prefect/projects/recipes/s3/prefect.yaml
Owners: @PrefectHQ/open-source

CLI Recipe table (#9093)
  src/prefect/cli/project.py
  src/prefect/projects/recipes/docker-gcs/prefect.yaml
  src/prefect/projects/recipes/docker-git/prefect.yaml
  src/prefect/projects/recipes/docker-s3/prefect.yaml
  src/prefect/projects/recipes/docker/prefect.yaml
  src/prefect/projects/recipes/gcs/prefect.yaml
  src/prefect/projects/recipes/git/prefect.yaml
  src/prefect/projects/recipes/local/prefect.yaml
  src/prefect/projects/recipes/s3/prefect.yaml
Owners: @PrefectHQ/open-source

Enable events client experimental flag by default
  src/prefect/settings.py
  tests/_internal/compatibility/test_experimental.py
  tests/events/test_events_worker.py
  tests/server/test_app.py
Owners: @PrefectHQ/open-source

Query artifact collection endpoint
  ui/src/pages/ArtifactKey.vue
Owners: @pleek91

Pull step templating (#9103)
  docs/tutorials/projects.md
  src/prefect/cli/root.py
  tests/cli/test_project.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Pull step templating (#9103)
  docs/tutorials/projects.md
  src/prefect/cli/root.py
  tests/cli/test_project.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Pull step templating (#9103)
  docs/tutorials/projects.md
  src/prefect/cli/root.py
  tests/cli/test_project.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Bump prefect-design and prefect-ui-library
  ui/package-lock.json
  ui/package.json
Owners: @pleek91

Remove nullish coalesce - key will always be defined
  ui/src/pages/ArtifactKey.vue
Owners: @pleek91

Add artifacts tab to flow run page
  ui/src/pages/FlowRun.vue
Owners: @pleek91

Fix detection of iterables within `quote` annotations while mapping (#9095)
  src/prefect/engine.py
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Fix detection of iterables within `quote` annotations while mapping (#9095)
  src/prefect/engine.py
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Fix detection of iterables within `quote` annotations while mapping (#9095)
  src/prefect/engine.py
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Add test for retry-after header on 503 status code (#9094)
  tests/client/test_base_client.py
Owners: @PrefectHQ/open-source

Add test for retry-after header on 503 status code (#9094)
  tests/client/test_base_client.py
Owners: @PrefectHQ/open-source

Add test for retry-after header on 503 status code (#9094)
  tests/client/test_base_client.py
Owners: @PrefectHQ/open-source

Add retry on 502 BAD GATEWAY to Prefect client (#9102)
  src/prefect/client/base.py
  tests/client/test_base_client.py
Owners: @PrefectHQ/open-source

Add retry on 502 BAD GATEWAY to Prefect client (#9102)
  src/prefect/client/base.py
  tests/client/test_base_client.py
Owners: @PrefectHQ/open-source

Add retry on 502 BAD GATEWAY to Prefect client (#9102)
  src/prefect/client/base.py
  tests/client/test_base_client.py
Owners: @PrefectHQ/open-source

Enhancement: Add artifacts tab to flow run page (#9109)
  ui/package-lock.json
  ui/package.json
  ui/src/pages/ArtifactKey.vue
  ui/src/pages/FlowRun.vue
Owners: @pleek91

Enhancement: Add artifacts tab to flow run page (#9109)
  ui/package-lock.json
  ui/package.json
  ui/src/pages/ArtifactKey.vue
  ui/src/pages/FlowRun.vue
Owners: @pleek91

Enhancement: Add artifacts tab to flow run page (#9109)
  ui/package-lock.json
  ui/package.json
  ui/src/pages/ArtifactKey.vue
  ui/src/pages/FlowRun.vue
Owners: @pleek91

Add variables nav item
  ui/src/components/ContextSidebar.vue
Owners: @pleek91

Add feature flag utilities
  ui/src/maps/featureFlag.ts
  ui/src/types/flagResponse.ts
  ui/src/utilities/permissions.ts
Owners: @pleek91

Add Variables Page
  ui/src/pages/Variables.vue
Owners: @pleek91

Add workspace route record
  ui/src/router/index.ts
Owners: @pleek91

Remove feature flag
  ui/src/components/ContextSidebar.vue
  ui/src/maps/featureFlag.ts
  ui/src/types/flagResponse.ts
  ui/src/utilities/permissions.ts
Owners: @pleek91

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# ui
/ui                            @pleek91

# documentation
/docs                                @PrefectHQ/docs
mkdocs.yml                           @PrefectHQ/docs
mkdocs.insiders.yml                  @PrefectHQ/docs

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source 

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source
