Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

Remove extra downgrade step
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_25_133637_add97ce1937d_update_deployments_to_include_more_.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_131028_88c2112b668f_update_deployments_to_include_more_.py
Owners: @anticorrelator

Remove extra downgrade step
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_25_133637_add97ce1937d_update_deployments_to_include_more_.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_131028_88c2112b668f_update_deployments_to_include_more_.py
Owners: @anticorrelator

Add "or_" filtering (PrefectHQ/orion#2139)
  src/prefect/orion/schemas/filters.py
  tests/orion/models/test_filters.py
  tests/orion/models/test_flow_runs.py
Owners: @zangell44, @madkinsz

Add "or_" filtering (PrefectHQ/orion#2139)
  src/prefect/orion/schemas/filters.py
  tests/orion/models/test_filters.py
  tests/orion/models/test_flow_runs.py
Owners: @zangell44, @madkinsz

Fix toast content, use router.back()
  orion-ui/src/pages/DeploymentEdit.vue
Owners: @pleek91

Fix toast content, use router.back()
  orion-ui/src/pages/DeploymentEdit.vue
Owners: @pleek91

Remove unused import
  orion-ui/src/pages/DeploymentEdit.vue
Owners: @pleek91

Remove unused import
  orion-ui/src/pages/DeploymentEdit.vue
Owners: @pleek91

Move details to their own tab on small screens
  orion-ui/src/pages/Deployment.vue
Owners: @pleek91

Move details to their own tab on small screens
  orion-ui/src/pages/Deployment.vue
Owners: @pleek91

first pass at orgs docs
  docs/ui/organizations.md
Owners: @tpdorsey

first pass at orgs docs
  docs/ui/organizations.md
Owners: @tpdorsey

Update block type routes to use slug rather than name.
  orion-ui/src/pages/BlocksCatalogCreate.vue
  orion-ui/src/router/index.ts
  orion-ui/src/router/routes.ts
Owners: @pleek91

Update block type routes to use slug rather than name.
  orion-ui/src/pages/BlocksCatalogCreate.vue
  orion-ui/src/router/index.ts
  orion-ui/src/router/routes.ts
Owners: @pleek91

adding images
  docs/img/org-workspace-sharing.png
  docs/img/organization-members.png
Owners: @tpdorsey

adding images
  docs/img/org-workspace-sharing.png
  docs/img/organization-members.png
Owners: @tpdorsey

Always create anon blocks for deployments
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
Owners: @madkinsz

Always create anon blocks for deployments
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
Owners: @madkinsz

cropped image
  docs/img/organization-members.png
  docs/img/ui/org-members.png
  docs/img/ui/org-workspace-sharing.png
  docs/ui/organizations.md
Owners: @tpdorsey

cropped image
  docs/img/organization-members.png
  docs/img/ui/org-members.png
  docs/img/ui/org-workspace-sharing.png
  docs/ui/organizations.md
Owners: @tpdorsey

breaking up the images
  docs/ui/organizations.md
Owners: @tpdorsey

breaking up the images
  docs/ui/organizations.md
Owners: @tpdorsey

period to contact sales
  docs/ui/organizations.md
Owners: @tpdorsey

period to contact sales
  docs/ui/organizations.md
Owners: @tpdorsey

Update docs/ui/organizations.md
  docs/ui/organizations.md
Owners: @tpdorsey

Update docs/ui/organizations.md
  docs/ui/organizations.md
Owners: @tpdorsey

Update docs/ui/organizations.md
  docs/ui/organizations.md
Owners: @tpdorsey

Update docs/ui/organizations.md
  docs/ui/organizations.md
Owners: @tpdorsey

Update docs/ui/organizations.md
  docs/ui/organizations.md
Owners: @tpdorsey

Update docs/ui/organizations.md
  docs/ui/organizations.md
Owners: @tpdorsey

Update docs/ui/organizations.md
  docs/ui/organizations.md
Owners: @tpdorsey

Update docs/ui/organizations.md
  docs/ui/organizations.md
Owners: @tpdorsey

update tasks.md
  docs/concepts/tasks.md
Owners: @tpdorsey

update tasks.md
  docs/concepts/tasks.md
Owners: @tpdorsey

Temporarily remove docker and k8s tuts
  docs/contributing/overview.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Temporarily remove docker and k8s tuts
  docs/contributing/overview.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Client tests passing
  src/prefect/cli/deployment.py
  src/prefect/client.py
  src/prefect/orion/schemas/core.py
  tests/fixtures/database.py
  tests/test_client.py
Owners: @madkinsz, @zangell44

Client tests passing
  src/prefect/cli/deployment.py
  src/prefect/client.py
  src/prefect/orion/schemas/core.py
  tests/fixtures/database.py
  tests/test_client.py
Owners: @madkinsz, @zangell44

Update orion-design
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Update orion-design
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator
