Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Mark a flaky Windows test (PrefectHQ/orion#2504)
  tests/packaging/test_docker_packager.py
  tests/test_engine.py
Owners: @madkinsz

Mark a flaky Windows test (PrefectHQ/orion#2504)
  tests/packaging/test_docker_packager.py
  tests/test_engine.py
Owners: @madkinsz

Retroactively add release notes for 2.0b10-2.0b13 (PrefectHQ/orion#2499)
  RELEASE-NOTES.md
Owners: @madkinsz

Retroactively add release notes for 2.0b10-2.0b13 (PrefectHQ/orion#2499)
  RELEASE-NOTES.md
Owners: @madkinsz

Make `cloud` connection messages consistent with `profile`
  src/prefect/cli/cloud.py
  tests/cli/test_cloud.py
Owners: @madkinsz

Make `cloud` connection messages consistent with `profile`
  src/prefect/cli/cloud.py
  tests/cli/test_cloud.py
Owners: @madkinsz

update and remove schedule examples for now
  docs/concepts/schedules.md
Owners: @tpdorsey

update and remove schedule examples for now
  docs/concepts/schedules.md
Owners: @tpdorsey

Deployment API tests passing
  tests/orion/api/test_deployments.py
Owners: @madkinsz

Deployment API tests passing
  tests/orion/api/test_deployments.py
Owners: @madkinsz

Filter errors resolved
  tests/orion/models/test_filters.py
Owners: @madkinsz

Filter errors resolved
  tests/orion/models/test_filters.py
Owners: @madkinsz

Deployment model tests passing
  tests/orion/models/test_deployments.py
Owners: @madkinsz

Deployment model tests passing
  tests/orion/models/test_deployments.py
Owners: @madkinsz

Patch up docker container tests
  tests/infrastructure/test_docker_container.py
  tests/packaging/test_docker_packager.py
Owners: @madkinsz

Patch up docker container tests
  tests/infrastructure/test_docker_container.py
  tests/packaging/test_docker_packager.py
Owners: @madkinsz

Skip inline deployment tests - will revisit that user story later
  tests/deployments/test_deployment.py
Owners: @madkinsz

Skip inline deployment tests - will revisit that user story later
  tests/deployments/test_deployment.py
Owners: @madkinsz

Skip infra submission temporarily
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_docker_container.py
  tests/infrastructure/test_submission.py
Owners: @madkinsz

Skip infra submission temporarily
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_docker_container.py
  tests/infrastructure/test_submission.py
Owners: @madkinsz

GCS FileSystem Block (PrefectHQ/orion#2507)
  src/prefect/filesystems.py
Owners: @madkinsz

GCS FileSystem Block (PrefectHQ/orion#2507)
  src/prefect/filesystems.py
Owners: @madkinsz

Fixes line highlighted for secretstr
  docs/concepts/blocks.md
Owners: @tpdorsey

Fixes line highlighted for secretstr
  docs/concepts/blocks.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/concepts/deployments.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/concepts/deployments.md
Owners: @tpdorsey

Adds slugs to blocks (PrefectHQ/orion#2482)
  src/prefect/blocks/core.py
  src/prefect/client.py
  src/prefect/orion/api/block_types.py
  src/prefect/orion/api/server.py
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_25_214717_4ff2f2bf81f4_adds_block_type_slug.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_142515_f335f9633eec_adds_block_type_slug.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/models/block_schemas.py
  src/prefect/orion/models/block_types.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  tests/blocks/test_core.py
  tests/cli/test_block.py
  tests/fixtures/database.py
  tests/orion/api/test_block_documents.py
  tests/orion/api/test_block_schemas.py
  tests/orion/api/test_block_types.py
  tests/orion/models/test_block_documents.py
  tests/orion/models/test_block_schemas.py
  tests/orion/models/test_block_types.py
Owners: @madkinsz, @zangell44, @anticorrelator

Adds slugs to blocks (PrefectHQ/orion#2482)
  src/prefect/blocks/core.py
  src/prefect/client.py
  src/prefect/orion/api/block_types.py
  src/prefect/orion/api/server.py
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_25_214717_4ff2f2bf81f4_adds_block_type_slug.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_142515_f335f9633eec_adds_block_type_slug.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/models/block_schemas.py
  src/prefect/orion/models/block_types.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  tests/blocks/test_core.py
  tests/cli/test_block.py
  tests/fixtures/database.py
  tests/orion/api/test_block_documents.py
  tests/orion/api/test_block_schemas.py
  tests/orion/api/test_block_types.py
  tests/orion/models/test_block_documents.py
  tests/orion/models/test_block_schemas.py
  tests/orion/models/test_block_types.py
Owners: @madkinsz, @zangell44, @anticorrelator

Most tests passing
  tests/orion/api/test_flow_runs.py
  tests/orion/models/test_flow_runs.py
  tests/orion/schemas/test_core.py
  tests/test_engine.py
  tests/test_logging.py
Owners: @madkinsz

Most tests passing
  tests/orion/api/test_flow_runs.py
  tests/orion/models/test_flow_runs.py
  tests/orion/schemas/test_core.py
  tests/test_engine.py
  tests/test_logging.py
Owners: @madkinsz

Fixes literal import for 3.7 compatibility
  src/prefect/filesystems.py
Owners: @madkinsz

Fixes literal import for 3.7 compatibility
  src/prefect/filesystems.py
Owners: @madkinsz

Finish up remaining tests
  tests/orion/services/test_scheduler.py
Owners: @madkinsz

Finish up remaining tests
  tests/orion/services/test_scheduler.py
Owners: @madkinsz

Update Title for capitalization on s3 block
  src/prefect/filesystems.py
Owners: @madkinsz

Update Title for capitalization on s3 block
  src/prefect/filesystems.py
Owners: @madkinsz

2.0b15-release-notes
  RELEASE-NOTES.md
Owners: @madkinsz

2.0b15-release-notes
  RELEASE-NOTES.md
Owners: @madkinsz

typos
  RELEASE-NOTES.md
Owners: @madkinsz

typos
  RELEASE-NOTES.md
Owners: @madkinsz
