Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

Fixes for intializing S3StorageBlock with SecretStr and update migration to remove old block schemas
  src/prefect/blocks/storage.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_06_152528_4cdc2ba709a4_migrates_block_schemas_with_new_secrets_.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_06_142824_e2dae764a603_migrates_block_schemas_with_new_secrets_.py
Owners: @madkinsz, @anticorrelator

Fixes for intializing S3StorageBlock with SecretStr and update migration to remove old block schemas
  src/prefect/blocks/storage.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_06_152528_4cdc2ba709a4_migrates_block_schemas_with_new_secrets_.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_06_142824_e2dae764a603_migrates_block_schemas_with_new_secrets_.py
Owners: @madkinsz, @anticorrelator

Minor updates to release notes
  RELEASE-NOTES.md
  src/prefect/packaging/serializers.py
Owners: @madkinsz

Minor updates to release notes
  RELEASE-NOTES.md
  src/prefect/packaging/serializers.py
Owners: @madkinsz

Minor updates to release notes
  RELEASE-NOTES.md
  src/prefect/packaging/serializers.py
Owners: @madkinsz

Add to docstring
  src/prefect/packaging/serializers.py
Owners: @madkinsz

Add to docstring
  src/prefect/packaging/serializers.py
Owners: @madkinsz

Add to docstring
  src/prefect/packaging/serializers.py
Owners: @madkinsz

Remove debug log and bad cluster config load from flow runner
  src/prefect/flow_runners/kubernetes.py
Owners: @madkinsz

Remove debug log and bad cluster config load from flow runner
  src/prefect/flow_runners/kubernetes.py
Owners: @madkinsz

Remove debug log and bad cluster config load from flow runner
  src/prefect/flow_runners/kubernetes.py
Owners: @madkinsz

Do not allow the active profile to be deleted
  src/prefect/cli/profile.py
  tests/cli/test_profile.py
Owners: @madkinsz

Do not allow the active profile to be deleted
  src/prefect/cli/profile.py
  tests/cli/test_profile.py
Owners: @madkinsz

Do not allow the active profile to be deleted
  src/prefect/cli/profile.py
  tests/cli/test_profile.py
Owners: @madkinsz

Allow the active profile to be missing so Prefect can be used still if misconfigured
  src/prefect/context.py
  src/prefect/settings.py
Owners: @madkinsz

Allow the active profile to be missing so Prefect can be used still if misconfigured
  src/prefect/context.py
  src/prefect/settings.py
Owners: @madkinsz

Allow the active profile to be missing so Prefect can be used still if misconfigured
  src/prefect/context.py
  src/prefect/settings.py
Owners: @madkinsz

Adds migration to remove Debug Print Notification from block type table
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_07_112809_e905fd199258_removes_debugprintnotification_block_.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_07_111208_061c7e518b40_removes_debugprintnotification_block_.py
Owners: @anticorrelator

Adds migration to remove Debug Print Notification from block type table
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_07_112809_e905fd199258_removes_debugprintnotification_block_.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_07_111208_061c7e518b40_removes_debugprintnotification_block_.py
Owners: @anticorrelator

Adds migration to remove Debug Print Notification from block type table
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_07_112809_e905fd199258_removes_debugprintnotification_block_.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_07_111208_061c7e518b40_removes_debugprintnotification_block_.py
Owners: @anticorrelator

Improve exit if profile specified with `--profile` is missing
  src/prefect/cli/root.py
Owners: @madkinsz

Improve exit if profile specified with `--profile` is missing
  src/prefect/cli/root.py
Owners: @madkinsz

Improve exit if profile specified with `--profile` is missing
  src/prefect/cli/root.py
Owners: @madkinsz

Fixes down_revision on postgres migration
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_07_112809_e905fd199258_removes_debugprintnotification_block_.py
Owners: @anticorrelator

Fixes down_revision on postgres migration
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_07_112809_e905fd199258_removes_debugprintnotification_block_.py
Owners: @anticorrelator

Fixes down_revision on postgres migration
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_07_112809_e905fd199258_removes_debugprintnotification_block_.py
Owners: @anticorrelator

Update flows/tasks calls to return results
  src/prefect/engine.py
  src/prefect/flows.py
  src/prefect/tasks.py
Owners: @madkinsz

Update flows/tasks calls to return results
  src/prefect/engine.py
  src/prefect/flows.py
  src/prefect/tasks.py
Owners: @madkinsz

Update flows/tasks calls to return results
  src/prefect/engine.py
  src/prefect/flows.py
  src/prefect/tasks.py
Owners: @madkinsz

Add `run` methods
  src/prefect/flows.py
  src/prefect/tasks.py
Owners: @madkinsz

Add `run` methods
  src/prefect/flows.py
  src/prefect/tasks.py
Owners: @madkinsz

Add `run` methods
  src/prefect/flows.py
  src/prefect/tasks.py
Owners: @madkinsz

increment version
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

increment version
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

increment version
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Update src/prefect/orion/database/migrations/versions/postgresql/2022_07_07_112809_e905fd199258_removes_debugprintnotification_block_.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_07_112809_e905fd199258_removes_debugprintnotification_block_.py
Owners: @anticorrelator

Update src/prefect/orion/database/migrations/versions/postgresql/2022_07_07_112809_e905fd199258_removes_debugprintnotification_block_.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_07_112809_e905fd199258_removes_debugprintnotification_block_.py
Owners: @anticorrelator

Update src/prefect/orion/database/migrations/versions/postgresql/2022_07_07_112809_e905fd199258_removes_debugprintnotification_block_.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_07_112809_e905fd199258_removes_debugprintnotification_block_.py
Owners: @anticorrelator

Update `visit_collection` to visit nodes as well
  src/prefect/utilities/collections.py
  tests/utilities/test_collections.py
Owners: @madkinsz

Update `visit_collection` to visit nodes as well
  src/prefect/utilities/collections.py
  tests/utilities/test_collections.py
Owners: @madkinsz

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator
