Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @pleek91, @PrefectHQ/docs

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# ui
/ui                            @pleek91

# documentation
/docs                                @PrefectHQ/docs
mkdocs.yml                           @PrefectHQ/docs
mkdocs.insiders.yml                  @PrefectHQ/docs

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source 

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source

Fix for deployment flow code download (#9138)
  src/prefect/deployments.py
Owners: @PrefectHQ/open-source

Add release notes for 2.10.2
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Drop internal contrib
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Add release notes for 2.10.2 (#9142)
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Add release notes for 2.10.2 (#9142)
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Add release notes for 2.10.2 (#9142)
  RELEASE-NOTES.md
Owners: @PrefectHQ/open-source

Add integration test for deployment with storage block
  flows/deployment_storage.py
Owners: @PrefectHQ/open-source

Explictly unset `path`
  flows/deployment_storage.py
Owners: @PrefectHQ/open-source

Create empty ignore files on `Deployment.build_from_flow`
  src/prefect/deployments.py
Owners: @PrefectHQ/open-source

Create ignore file in test
  flows/deployment_storage.py
Owners: @PrefectHQ/open-source

Add integration test for deployment with storage block (#9140)
  flows/deployment_storage.py
  src/prefect/deployments.py
Owners: @PrefectHQ/open-source

Add integration test for deployment with storage block (#9140)
  flows/deployment_storage.py
  src/prefect/deployments.py
Owners: @PrefectHQ/open-source

Add integration test for deployment with storage block (#9140)
  flows/deployment_storage.py
  src/prefect/deployments.py
Owners: @PrefectHQ/open-source

Rename `__root_path__` to `__development_base_path__` (#9136)
  scripts/run-integration-flows.py
  src/prefect/__init__.py
  src/prefect/cli/dev.py
  src/prefect/cli/project.py
  tests/cli/test_project.py
  tests/projects/test_base.py
  tests/test_filesystems.py
  tests/utilities/test_importtools.py
Owners: @PrefectHQ/open-source

Rename `__root_path__` to `__development_base_path__` (#9136)
  scripts/run-integration-flows.py
  src/prefect/__init__.py
  src/prefect/cli/dev.py
  src/prefect/cli/project.py
  tests/cli/test_project.py
  tests/projects/test_base.py
  tests/test_filesystems.py
  tests/utilities/test_importtools.py
Owners: @PrefectHQ/open-source

Rename `__root_path__` to `__development_base_path__` (#9136)
  scripts/run-integration-flows.py
  src/prefect/__init__.py
  src/prefect/cli/dev.py
  src/prefect/cli/project.py
  tests/cli/test_project.py
  tests/projects/test_base.py
  tests/test_filesystems.py
  tests/utilities/test_importtools.py
Owners: @PrefectHQ/open-source

add count tests
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Owners: @PrefectHQ/open-source

rm tests already added
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Owners: @PrefectHQ/open-source

Add setting for building dag
  src/prefect/settings.py
Owners: @PrefectHQ/open-source

Return mocks instead of submitting futures in engine
  src/prefect/context.py
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Add `prefect.flows.build_dag`
  src/prefect/flows.py
Owners: @PrefectHQ/open-source

Adds api-ref docs for artifacts
  docs/api-ref/prefect/artifacts.md
  mkdocs.yml
Owners: @PrefectHQ/docs

Attach mocks to flow run state if building flow
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Return mocks from `build_dag`; bypass pydantic
  src/prefect/engine.py
  src/prefect/flows.py
Owners: @PrefectHQ/open-source

Include flow run and flow as related resources when emitting events via the events worker (#9129)
  src/prefect/_internal/concurrency/services.py
  src/prefect/events/related.py
  src/prefect/events/schemas.py
  src/prefect/events/worker.py
  src/prefect/utilities/context.py
  tests/events/test_event_schemas.py
  tests/events/test_events_related_from_context.py
  tests/events/test_events_worker.py
Owners: @PrefectHQ/open-source

Include flow run and flow as related resources when emitting events via the events worker (#9129)
  src/prefect/_internal/concurrency/services.py
  src/prefect/events/related.py
  src/prefect/events/schemas.py
  src/prefect/events/worker.py
  src/prefect/utilities/context.py
  tests/events/test_event_schemas.py
  tests/events/test_events_related_from_context.py
  tests/events/test_events_worker.py
Owners: @PrefectHQ/open-source

Include flow run and flow as related resources when emitting events via the events worker (#9129)
  src/prefect/_internal/concurrency/services.py
  src/prefect/events/related.py
  src/prefect/events/schemas.py
  src/prefect/events/worker.py
  src/prefect/utilities/context.py
  tests/events/test_event_schemas.py
  tests/events/test_events_related_from_context.py
  tests/events/test_events_worker.py
Owners: @PrefectHQ/open-source

Touch up version and var flags
  src/prefect/cli/root.py
  tests/cli/test_project.py
Owners: @PrefectHQ/open-source

Add projects CLI to docs
  docs/api-ref/prefect/cli/project.md
  mkdocs.yml
Owners: @PrefectHQ/docs

Adds artifacts to api-ref (#9143)
  docs/api-ref/prefect/artifacts.md
  mkdocs.yml
Owners: @PrefectHQ/docs

Adds artifacts to api-ref (#9143)
  docs/api-ref/prefect/artifacts.md
  mkdocs.yml
Owners: @PrefectHQ/docs

Adds artifacts to api-ref (#9143)
  docs/api-ref/prefect/artifacts.md
  mkdocs.yml
Owners: @PrefectHQ/docs

Move to `prefect.dag`; add result future for iter
  src/prefect/dag.py
  src/prefect/engine.py
  src/prefect/flows.py
Owners: @PrefectHQ/open-source

Use bucket template for s3 recipe pull steps
  src/prefect/projects/recipes/docker-s3/prefect.yaml
  src/prefect/projects/recipes/s3/prefect.yaml
Owners: @PrefectHQ/open-source

Template folder as well
  src/prefect/projects/recipes/docker-s3/prefect.yaml
  src/prefect/projects/recipes/s3/prefect.yaml
Owners: @PrefectHQ/open-source

Move context into DAGBuildContext instead
  src/prefect/context.py
  src/prefect/dag.py
  src/prefect/engine.py
  src/prefect/settings.py
Owners: @PrefectHQ/open-source

Update GCS recipe templates as well
  src/prefect/projects/recipes/docker-gcs/prefect.yaml
  src/prefect/projects/recipes/gcs/prefect.yaml
Owners: @PrefectHQ/open-source

Add deployment and flow filters to `/artifacts/filter` and `/artifacts/latest/filter` routes (#9089)
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

Add deployment and flow filters to `/artifacts/filter` and `/artifacts/latest/filter` routes (#9089)
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Owners: @PrefectHQ/open-source, @zangell44
