Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

Fix `test_unpackaging_outside_container` test
  tests/packaging/test_docker_packager.py
Owners: @madkinsz

Move parameter schema utilities to prefect.utilites.callables
  src/prefect/flows.py
  src/prefect/orion/utilities/functions.py
  src/prefect/packaging/base.py
  src/prefect/utilities/callables.py
  tests/utilities/test_callables.py
Owners: @madkinsz, @zangell44

Update database.py
  tests/fixtures/database.py
Owners: @madkinsz

Update database.py
  tests/fixtures/database.py
Owners: @madkinsz

Update database.py
  tests/fixtures/database.py
Owners: @madkinsz

Formatting and minor edits
  docs/concepts/filesystems.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Formatting and minor edits
  docs/concepts/filesystems.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Formatting and minor edits
  docs/concepts/filesystems.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Apply suggestions from code review
  docs/concepts/blocks.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/concepts/blocks.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/concepts/blocks.md
Owners: @tpdorsey

Support partial block document updates
  src/prefect/orion/models/block_documents.py
  tests/orion/api/test_block_documents.py
  tests/orion/models/test_block_documents.py
Owners: @zangell44, @madkinsz

Support partial block document updates
  src/prefect/orion/models/block_documents.py
  tests/orion/api/test_block_documents.py
  tests/orion/models/test_block_documents.py
Owners: @zangell44, @madkinsz

Support partial block document updates
  src/prefect/orion/models/block_documents.py
  tests/orion/api/test_block_documents.py
  tests/orion/models/test_block_documents.py
Owners: @zangell44, @madkinsz

Don't overwrite obfuscated secret values
  src/prefect/orion/models/block_documents.py
  tests/orion/models/test_block_documents.py
Owners: @zangell44, @madkinsz

Don't overwrite obfuscated secret values
  src/prefect/orion/models/block_documents.py
  tests/orion/models/test_block_documents.py
Owners: @zangell44, @madkinsz

Don't overwrite obfuscated secret values
  src/prefect/orion/models/block_documents.py
  tests/orion/models/test_block_documents.py
Owners: @zangell44, @madkinsz

Remove @types/tailwindcss
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Remove @types/tailwindcss
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Remove @types/tailwindcss
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

isort
  src/prefect/orion/models/block_documents.py
  tests/orion/models/test_block_documents.py
Owners: @zangell44, @madkinsz

isort
  src/prefect/orion/models/block_documents.py
  tests/orion/models/test_block_documents.py
Owners: @zangell44, @madkinsz

isort
  src/prefect/orion/models/block_documents.py
  tests/orion/models/test_block_documents.py
Owners: @zangell44, @madkinsz

2.0b8_release_notes
  RELEASE-NOTES.md
Owners: @madkinsz

2.0b8_release_notes
  RELEASE-NOTES.md
Owners: @madkinsz

2.0b8_release_notes
  RELEASE-NOTES.md
Owners: @madkinsz

Add Oliver
  RELEASE-NOTES.md
Owners: @madkinsz

Add Oliver
  RELEASE-NOTES.md
Owners: @madkinsz

Add Oliver
  RELEASE-NOTES.md
Owners: @madkinsz

Add all attribute
  RELEASE-NOTES.md
Owners: @madkinsz

Add all attribute
  RELEASE-NOTES.md
Owners: @madkinsz

Add all attribute
  RELEASE-NOTES.md
Owners: @madkinsz

Add screenshots
  docs/img/ui/orion-create-slack-notification.png
  docs/img/ui/orion-notifications.png
  docs/ui/notifications.md
Owners: @tpdorsey

Add screenshots
  docs/img/ui/orion-create-slack-notification.png
  docs/img/ui/orion-notifications.png
  docs/ui/notifications.md
Owners: @tpdorsey

Add screenshots
  docs/img/ui/orion-create-slack-notification.png
  docs/img/ui/orion-notifications.png
  docs/ui/notifications.md
Owners: @tpdorsey

Remove RouterView from pass through components
  orion-ui/src/router/index.ts
Owners: @pleek91

Remove RouterView from pass through components
  orion-ui/src/router/index.ts
Owners: @pleek91

Remove RouterView from pass through components
  orion-ui/src/router/index.ts
Owners: @pleek91

Add blocks UI page
  docs/ui/blocks.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Add blocks UI page
  docs/ui/blocks.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator
