Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

Add blocks UI page
  docs/ui/blocks.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Formatting improvements
  RELEASE-NOTES.md
Owners: @madkinsz

Formatting improvements
  RELEASE-NOTES.md
Owners: @madkinsz

Formatting improvements
  RELEASE-NOTES.md
Owners: @madkinsz

Capitalize Python
  RELEASE-NOTES.md
Owners: @madkinsz

Capitalize Python
  RELEASE-NOTES.md
Owners: @madkinsz

Capitalize Python
  RELEASE-NOTES.md
Owners: @madkinsz

Dial it back
  RELEASE-NOTES.md
Owners: @madkinsz

Dial it back
  RELEASE-NOTES.md
Owners: @madkinsz

Dial it back
  RELEASE-NOTES.md
Owners: @madkinsz

Add `DaskTaskRunner` and `RayTaskRunner` movement
  RELEASE-NOTES.md
Owners: @madkinsz

Add `DaskTaskRunner` and `RayTaskRunner` movement
  RELEASE-NOTES.md
Owners: @madkinsz

Add `DaskTaskRunner` and `RayTaskRunner` movement
  RELEASE-NOTES.md
Owners: @madkinsz

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @madkinsz

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @madkinsz

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @madkinsz

brevity
  RELEASE-NOTES.md
Owners: @madkinsz

brevity
  RELEASE-NOTES.md
Owners: @madkinsz

brevity
  RELEASE-NOTES.md
Owners: @madkinsz

Documentation and screenshots
  docs/img/ui/orion-block-library.png
  docs/img/ui/orion-blocks-azure.png
  docs/img/ui/orion-blocks.png
  docs/ui/blocks.md
Owners: @tpdorsey

Documentation and screenshots
  docs/img/ui/orion-block-library.png
  docs/img/ui/orion-blocks-azure.png
  docs/img/ui/orion-blocks.png
  docs/ui/blocks.md
Owners: @tpdorsey

Documentation and screenshots
  docs/img/ui/orion-block-library.png
  docs/img/ui/orion-blocks-azure.png
  docs/img/ui/orion-blocks.png
  docs/ui/blocks.md
Owners: @tpdorsey

Exclude abstract base classes from registry and improve collission error message
  src/prefect/utilities/dispatch.py
Owners: @madkinsz

Exclude abstract base classes from registry and improve collission error message
  src/prefect/utilities/dispatch.py
Owners: @madkinsz

Exclude abstract base classes from registry and improve collission error message
  src/prefect/utilities/dispatch.py
Owners: @madkinsz

Update tests
  tests/utilities/test_dispatch.py
Owners: @madkinsz

Update tests
  tests/utilities/test_dispatch.py
Owners: @madkinsz

Update tests
  tests/utilities/test_dispatch.py
Owners: @madkinsz

Remove old functions docs
  docs/api-ref/orion/utilities/functions.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Remove old functions docs
  docs/api-ref/orion/utilities/functions.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Remove old functions docs
  docs/api-ref/orion/utilities/functions.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Add blocks and notifications to Cloud docs
  docs/ui/cloud.md
  docs/ui/overview.md
Owners: @tpdorsey

Add blocks and notifications to Cloud docs
  docs/ui/cloud.md
  docs/ui/overview.md
Owners: @tpdorsey

Add blocks and notifications to Cloud docs
  docs/ui/cloud.md
  docs/ui/overview.md
Owners: @tpdorsey

Ensure notifications and storage bases are abstract
  src/prefect/blocks/notifications.py
  src/prefect/blocks/storage.py
Owners: @madkinsz

Ensure notifications and storage bases are abstract
  src/prefect/blocks/notifications.py
  src/prefect/blocks/storage.py
Owners: @madkinsz

Ensure notifications and storage bases are abstract
  src/prefect/blocks/notifications.py
  src/prefect/blocks/storage.py
Owners: @madkinsz

Update docs/concepts/tasks.md
  docs/concepts/tasks.md
Owners: @tpdorsey

Update docs/concepts/tasks.md
  docs/concepts/tasks.md
Owners: @tpdorsey

Update docs/concepts/tasks.md
  docs/concepts/tasks.md
Owners: @tpdorsey

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator
