Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cicdw, @znicholasbrown, @discdiver, @daniel-prefect, @aaazzam, @chrisguidry, @desertaxle, @zzstoatzz

.github/CODEOWNERS:

# global
*                                    @cicdw

# ui
/ui                                  @znicholasbrown

# documentation
/docs                                @discdiver @daniel-prefect

# imports
/src/prefect/__init__.py              @aaazzam @chrisguidry
/src/prefect/main.py                  @aaazzam @chrisguidry

# integrations
/src/integrations                     @desertaxle @zzstoatzz

Try a more specific name
  docs/3.0rc/api-ref/rest-api/server/schema.json
  src/prefect/server/api/flow_runs.py
  tests/server/orchestration/api/test_flow_runs.py
Owners: @discdiver, @daniel-prefect, @cicdw

Remove datadog from test suite
  .github/workflows/python-tests.yaml
Owners: @cicdw

Remove ddtrace from dev reqs
  requirements-dev.txt
Owners: @cicdw

Remove DataDog from CI (#14719)
  .github/workflows/python-tests.yaml
  requirements-dev.txt
Owners: @cicdw

Remove DataDog from CI (#14719)
  .github/workflows/python-tests.yaml
  requirements-dev.txt
Owners: @cicdw

Remove DataDog from CI (#14719)
  .github/workflows/python-tests.yaml
  requirements-dev.txt
Owners: @cicdw

Update @prefecthq/prefect-ui-library to version 3.5.4
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

Remove the maintenance label that no longer exists
  .github/workflows/npm_update_latest_prefect.yaml
Owners: @cicdw

Use development label
  .github/workflows/npm_update_latest_prefect.yaml
Owners: @cicdw

Fix broken npm package update github action (#14720)
  .github/workflows/npm_update_latest_prefect.yaml
Owners: @cicdw

Fix broken npm package update github action (#14720)
  .github/workflows/npm_update_latest_prefect.yaml
Owners: @cicdw

Fix broken npm package update github action (#14720)
  .github/workflows/npm_update_latest_prefect.yaml
Owners: @cicdw

Migrates to Kubernetes_asyncio for prefect 2.X (#14570)
  src/integrations/prefect-kubernetes/README.md
  src/integrations/prefect-kubernetes/prefect_kubernetes/credentials.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/custom_objects.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/deployments.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/events.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/exceptions.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/flows.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/jobs.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/pods.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/services.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/utilities.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/pyproject.toml
  src/integrations/prefect-kubernetes/tests/conftest.py
  src/integrations/prefect-kubernetes/tests/test_credentials.py
  src/integrations/prefect-kubernetes/tests/test_custom_objects.py
  src/integrations/prefect-kubernetes/tests/test_deployments.py
  src/integrations/prefect-kubernetes/tests/test_events_replicator.py
  src/integrations/prefect-kubernetes/tests/test_flows.py
  src/integrations/prefect-kubernetes/tests/test_jobs.py
  src/integrations/prefect-kubernetes/tests/test_pods.py
  src/integrations/prefect-kubernetes/tests/test_services.py
  src/integrations/prefect-kubernetes/tests/test_utilities.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Owners: @desertaxle, @zzstoatzz

Expose enforce parameter schema flag on individual flow runs (#14718)
  docs/3.0rc/api-ref/rest-api/server/schema.json
  src/prefect/client/schemas/actions.py
  src/prefect/server/api/deployments.py
  src/prefect/server/schemas/actions.py
  tests/server/orchestration/api/test_deployments.py
Owners: @discdiver, @daniel-prefect, @cicdw

Expose enforce parameter schema flag on individual flow runs (#14718)
  docs/3.0rc/api-ref/rest-api/server/schema.json
  src/prefect/client/schemas/actions.py
  src/prefect/server/api/deployments.py
  src/prefect/server/schemas/actions.py
  tests/server/orchestration/api/test_deployments.py
Owners: @discdiver, @daniel-prefect, @cicdw

Expose enforce parameter schema flag on individual flow runs (#14718)
  docs/3.0rc/api-ref/rest-api/server/schema.json
  src/prefect/client/schemas/actions.py
  src/prefect/server/api/deployments.py
  src/prefect/server/schemas/actions.py
  tests/server/orchestration/api/test_deployments.py
Owners: @discdiver, @daniel-prefect, @cicdw

Expose schema validation flag on deployment flow run create (#14715)
  src/prefect/server/api/deployments.py
  src/prefect/server/schemas/actions.py
  tests/server/api/test_deployments.py
Owners: @cicdw

Do not transition failed/retrying/non-completed tasks into RolledBack state.
  src/prefect/task_engine.py
  tests/test_task_engine.py
  tests/test_tasks.py
Owners: @cicdw

typing
  src/prefect/task_engine.py
Owners: @cicdw

Run a server in a subprocess if no API URL is specified
  src/prefect/client/orchestration.py
  src/prefect/server/api/server.py
Owners: @cicdw

Simplify management of when the rollback state hook should run.
  src/prefect/task_engine.py
  src/prefect/transactions.py
Owners: @cicdw

Move client-side concurrency behind orchestration flag
  docs/3.0rc/api-ref/rest-api/server/schema.json
  src/prefect/server/api/dependencies.py
  src/prefect/server/api/task_runs.py
  src/prefect/server/orchestration/dependencies.py
  src/prefect/settings.py
  src/prefect/task_engine.py
  tests/server/orchestration/api/test_task_runs.py
  tests/test_task_engine.py
Owners: @discdiver, @daniel-prefect, @cicdw

Use exception groups
  src/prefect/task_server.py
  src/prefect/utilities/asyncutils.py
  tests/utilities/test_asyncutils.py
  tests/workers/test_process_worker.py
Owners: @cicdw

Add exceptiongroup backport to deps
  requirements.txt
Owners: @cicdw

Fix an error
  src/prefect/client/orchestration.py
  src/prefect/server/models/concurrency_limits_v2.py
Owners: @cicdw

Update results docs examples
  docs/3.0rc/develop/results.mdx
Owners: @discdiver, @daniel-prefect

Update results docs examples (#14724)
  docs/3.0rc/develop/results.mdx
Owners: @discdiver, @daniel-prefect

Update results docs examples (#14724)
  docs/3.0rc/develop/results.mdx
Owners: @discdiver, @daniel-prefect

Update results docs examples (#14724)
  docs/3.0rc/develop/results.mdx
Owners: @discdiver, @daniel-prefect

Expose _sync kwarg for forcing behavior
  src/prefect/utilities/asyncutils.py
  tests/utilities/test_asyncutils.py
Owners: @cicdw

Update dependabot given recent oss changes
  .github/dependabot.yml
Owners: @cicdw

task run recorder
  src/prefect/server/events/schemas/events.py
  src/prefect/server/services/task_run_recorder.py
  tests/server/services/test_task_run_recorder.py
Owners: @cicdw

make sure to commit the flow run
  tests/server/services/test_task_run_recorder.py
Owners: @cicdw

make sure to enter a transaction
  src/prefect/server/services/task_run_recorder.py
Owners: @cicdw

let `TaskRunRecorder` process events into task runs/task run states (#14729)
  src/prefect/server/events/schemas/events.py
  src/prefect/server/services/task_run_recorder.py
  tests/server/services/test_task_run_recorder.py
Owners: @cicdw

let `TaskRunRecorder` process events into task runs/task run states (#14729)
  src/prefect/server/events/schemas/events.py
  src/prefect/server/services/task_run_recorder.py
  tests/server/services/test_task_run_recorder.py
Owners: @cicdw

let `TaskRunRecorder` process events into task runs/task run states (#14729)
  src/prefect/server/events/schemas/events.py
  src/prefect/server/services/task_run_recorder.py
  tests/server/services/test_task_run_recorder.py
Owners: @cicdw

Update dependabot given recent OSS changes (#14726)
  .github/dependabot.yml
Owners: @cicdw

Update dependabot given recent OSS changes (#14726)
  .github/dependabot.yml
Owners: @cicdw

Update dependabot given recent OSS changes (#14726)
  .github/dependabot.yml
Owners: @cicdw
