Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

Ensure flow run id still in state details
  src/prefect/orion/orchestration/global_policy.py
Owners: @anticorrelator

Add an initial screenshot to cloud docs
  docs/ui/overview.md
Owners: @tpdorsey

Add an initial screenshot to cloud docs
  docs/ui/overview.md
Owners: @tpdorsey

Add an initial screenshot to cloud docs
  docs/ui/overview.md
Owners: @tpdorsey

Add description
  src/prefect/cli/work_queue.py
Owners: @madkinsz

Add description
  src/prefect/cli/work_queue.py
Owners: @madkinsz

Add deployment msg
  src/prefect/cli/deployment.py
Owners: @madkinsz

Add deployment msg
  src/prefect/cli/deployment.py
Owners: @madkinsz

Scaffold new connection status blocks
  src/prefect/cli/cloud.py
  src/prefect/cli/profile.py
Owners: @madkinsz

Scaffold new connection status blocks
  src/prefect/cli/cloud.py
  src/prefect/cli/profile.py
Owners: @madkinsz

Use configured API URL
  src/prefect/cli/cloud.py
  src/prefect/cli/profile.py
  src/prefect/client.py
Owners: @madkinsz

Use configured API URL
  src/prefect/cli/cloud.py
  src/prefect/cli/profile.py
  src/prefect/client.py
Owners: @madkinsz

Use live-updated settings in CLI
  src/prefect/cli/cloud.py
  src/prefect/cli/profile.py
Owners: @madkinsz

Use live-updated settings in CLI
  src/prefect/cli/cloud.py
  src/prefect/cli/profile.py
Owners: @madkinsz

Do not mutate input dictionary
  src/prefect/cli/cloud.py
Owners: @madkinsz

Do not mutate input dictionary
  src/prefect/cli/cloud.py
Owners: @madkinsz

Infer Cloud API URL from configuration
  src/prefect/cli/cloud.py
Owners: @madkinsz

Infer Cloud API URL from configuration
  src/prefect/cli/cloud.py
Owners: @madkinsz

Refactor connection status messages
  src/prefect/cli/profile.py
Owners: @madkinsz

Refactor connection status messages
  src/prefect/cli/profile.py
Owners: @madkinsz

Override unset profile keys
  src/prefect/cli/profile.py
Owners: @madkinsz

Override unset profile keys
  src/prefect/cli/profile.py
Owners: @madkinsz

Use high-level "use profile" context
  src/prefect/cli/profile.py
Owners: @madkinsz

Use high-level "use profile" context
  src/prefect/cli/profile.py
Owners: @madkinsz

Add connection delay and factor out connection check
  src/prefect/cli/profile.py
Owners: @madkinsz

Add connection delay and factor out connection check
  src/prefect/cli/profile.py
Owners: @madkinsz

Resolved issue with the format, separated model tests
  src/prefect/tasks/databricks/models.py
  tests/tasks/databricks/test_databricks_models.py
  tests/tasks/databricks/test_submit_multirun.py
Owners: @madkinsz

Added yaml describing the pr
  changes/pr6009.yaml
Owners: @madkinsz

Add Flows page. Reorganize content around pages
  docs/concepts/flows.md
  docs/img/ui/orion-flows.png
  docs/ui/cloud.md
  docs/ui/dashboard.md
  docs/ui/flows-and-tasks.md
  docs/ui/flows.md
  docs/ui/overview.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Add Flows page. Reorganize content around pages
  docs/concepts/flows.md
  docs/img/ui/orion-flows.png
  docs/ui/cloud.md
  docs/ui/dashboard.md
  docs/ui/flows-and-tasks.md
  docs/ui/flows.md
  docs/ui/overview.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Add Flows page. Reorganize content around pages
  docs/concepts/flows.md
  docs/img/ui/orion-flows.png
  docs/ui/cloud.md
  docs/ui/dashboard.md
  docs/ui/flows-and-tasks.md
  docs/ui/flows.md
  docs/ui/overview.md
  mkdocs.yml
Owners: @tpdorsey, @madkinsz

Fixed installation guide
  docs/getting-started/installation.md
Owners: @tpdorsey

Add Fugue integration
  docs/outline.toml
  setup.py
  src/prefect/tasks/fugue/__init__.py
  src/prefect/tasks/fugue/resource_manager.py
  src/prefect/tasks/fugue/tasks.py
  tests/tasks/fugue/__init__.py
  tests/tasks/fugue/test_fugue.py
Owners: @tpdorsey, @madkinsz

Add banner to workqueue
  orion-ui/src/pages/WorkQueue.vue
Owners: @pleek91

Add banner to workqueue
  orion-ui/src/pages/WorkQueue.vue
Owners: @pleek91

Add banner to workqueue
  orion-ui/src/pages/WorkQueue.vue
Owners: @pleek91

Fixed installation guide (#6016)
  docs/getting-started/installation.md
Owners: @tpdorsey

Remove test files, commands, and dependencies
  orion-ui/jest.config.ts
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/main.ts
  orion-ui/src/server.ts
  orion-ui/src/utilities/meta.ts
  orion-ui/test-projects/integration/jest.config.ts
  orion-ui/test-projects/integration/setup.js
  orion-ui/test-projects/integration/teardown.js
  orion-ui/test-projects/integration/tests/runHistory.spec.ts
  orion-ui/test-projects/unit/jest.config.ts
  orion-ui/test-projects/unit/setup.ts
  orion-ui/test-projects/unit/tests/.gitkeep
Owners: @pleek91

Remove test files, commands, and dependencies
  orion-ui/jest.config.ts
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/main.ts
  orion-ui/src/server.ts
  orion-ui/src/utilities/meta.ts
  orion-ui/test-projects/integration/jest.config.ts
  orion-ui/test-projects/integration/setup.js
  orion-ui/test-projects/integration/teardown.js
  orion-ui/test-projects/integration/tests/runHistory.spec.ts
  orion-ui/test-projects/unit/jest.config.ts
  orion-ui/test-projects/unit/setup.ts
  orion-ui/test-projects/unit/tests/.gitkeep
Owners: @pleek91

Remove test files, commands, and dependencies
  orion-ui/jest.config.ts
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/main.ts
  orion-ui/src/server.ts
  orion-ui/src/utilities/meta.ts
  orion-ui/test-projects/integration/jest.config.ts
  orion-ui/test-projects/integration/setup.js
  orion-ui/test-projects/integration/teardown.js
  orion-ui/test-projects/integration/tests/runHistory.spec.ts
  orion-ui/test-projects/unit/jest.config.ts
  orion-ui/test-projects/unit/setup.ts
  orion-ui/test-projects/unit/tests/.gitkeep
Owners: @pleek91

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator
