Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Add recent changes
  RELEASE-NOTES.md
Owners: @madkinsz

spelling
  RELEASE-NOTES.md
Owners: @madkinsz

spelling
  RELEASE-NOTES.md
Owners: @madkinsz

spelling
  RELEASE-NOTES.md
Owners: @madkinsz

spelling
  RELEASE-NOTES.md
Owners: @madkinsz

Add S3 block
  RELEASE-NOTES.md
Owners: @madkinsz

Add S3 block
  RELEASE-NOTES.md
Owners: @madkinsz

punctuation
  RELEASE-NOTES.md
Owners: @madkinsz

punctuation
  RELEASE-NOTES.md
Owners: @madkinsz

Handle data migrations for old deployments
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_25_133637_add97ce1937d_update_deployments_to_include_more_.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_131028_88c2112b668f_update_deployments_to_include_more_.py
Owners: @anticorrelator

Handle data migrations for old deployments
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_25_133637_add97ce1937d_update_deployments_to_include_more_.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_131028_88c2112b668f_update_deployments_to_include_more_.py
Owners: @anticorrelator

Update requirements.txt
  requirements.txt
Owners: @madkinsz

Update requirements.txt
  requirements.txt
Owners: @madkinsz

Create an updated deployment message
  src/prefect/cli/deployment.py
  tests/cli/test_deployment_build.py
Owners: @madkinsz

Create an updated deployment message
  src/prefect/cli/deployment.py
  tests/cli/test_deployment_build.py
Owners: @madkinsz

Ensure that UTC offsets dont get parsed as timezones (PrefectHQ/orion#2551)
  src/prefect/orion/schemas/schedules.py
  tests/orion/schemas/test_schedules.py
Owners: @zangell44, @madkinsz

Ensure that UTC offsets dont get parsed as timezones (PrefectHQ/orion#2551)
  src/prefect/orion/schemas/schedules.py
  tests/orion/schemas/test_schedules.py
Owners: @zangell44, @madkinsz

Bring fsspec in line with gcsfs version
  requirements.txt
Owners: @madkinsz

Bring fsspec in line with gcsfs version
  requirements.txt
Owners: @madkinsz

Years are hard
  requirements.txt
Owners: @madkinsz

Years are hard
  requirements.txt
Owners: @madkinsz

rewording
  RELEASE-NOTES.md
Owners: @madkinsz

rewording
  RELEASE-NOTES.md
Owners: @madkinsz

Update src/prefect/cli/deployment.py
  src/prefect/cli/deployment.py
Owners: @madkinsz

Update src/prefect/cli/deployment.py
  src/prefect/cli/deployment.py
Owners: @madkinsz

swap beta cloud api url
  src/prefect/settings.py
Owners: @madkinsz

swap beta cloud api url
  src/prefect/settings.py
Owners: @madkinsz

Intercept deprecated deployments at the model layer
  src/prefect/orion/models/deployments.py
  src/prefect/orion/services/scheduler.py
Owners: @zangell44, @madkinsz

Intercept deprecated deployments at the model layer
  src/prefect/orion/models/deployments.py
  src/prefect/orion/services/scheduler.py
Owners: @zangell44, @madkinsz

update docs reference
  docs/tutorials/deployments.md
  docs/ui/cloud-getting-started.md
Owners: @tpdorsey

update docs reference
  docs/tutorials/deployments.md
  docs/ui/cloud-getting-started.md
Owners: @tpdorsey

Presere server side deployment descriptions
  src/prefect/cli/deployment.py
Owners: @madkinsz

Presere server side deployment descriptions
  src/prefect/cli/deployment.py
Owners: @madkinsz

Add sync/async tests for blocks
  tests/blocks/test_core.py
Owners: @madkinsz

Add sync/async tests for blocks
  tests/blocks/test_core.py
Owners: @madkinsz

Improve CLI for build
  src/prefect/cli/deployment.py
Owners: @madkinsz

Improve CLI for build
  src/prefect/cli/deployment.py
Owners: @madkinsz

Update test_core.py
  tests/blocks/test_core.py
Owners: @madkinsz

Update test_core.py
  tests/blocks/test_core.py
Owners: @madkinsz
