Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

fix: add orion exports (PrefectHQ/orion#5899)
  src/prefect/__init__.py
  src/prefect/blocks/__init__.py
  src/prefect/flow_runners/__init__.py
  src/prefect/logging/__init__.py
  src/prefect/orion/schemas/__init__.py
Owners: @madkinsz, @zangell44

Fixup flow runner imports
  src/prefect/cli/dev.py
  src/prefect/cli/kubernetes.py
  src/prefect/deprecated/deployments.py
  tests/flow_runners/test_base.py
  tests/flow_runners/test_docker.py
  tests/flow_runners/test_kubernetes.py
  tests/flow_runners/test_subprocess.py
Owners: @madkinsz

Fixup flow runner imports
  src/prefect/cli/dev.py
  src/prefect/cli/kubernetes.py
  src/prefect/deprecated/deployments.py
  tests/flow_runners/test_base.py
  tests/flow_runners/test_docker.py
  tests/flow_runners/test_kubernetes.py
  tests/flow_runners/test_subprocess.py
Owners: @madkinsz

Fixup flow runner imports
  src/prefect/cli/dev.py
  src/prefect/cli/kubernetes.py
  src/prefect/deprecated/deployments.py
  tests/flow_runners/test_base.py
  tests/flow_runners/test_docker.py
  tests/flow_runners/test_kubernetes.py
  tests/flow_runners/test_subprocess.py
Owners: @madkinsz

Allow the repo to be null in serialized `Git` storage schema (#5877)
  src/prefect/serialization/storage.py
Owners: @madkinsz

S3Result upload options (#5887)
  changes/pr5887.yaml
  src/prefect/engine/results/s3_result.py
  tests/engine/results/test_s3_result.py
Owners: @madkinsz

Make 429 rate limit backoff configurable (#5823)
  src/prefect/client/client.py
  src/prefect/config.toml
Owners: @madkinsz

Run black
  src/prefect/client/client.py
Owners: @madkinsz

Add Toloka tasks (#5865)
  changes/pr5865.yaml
  docs/outline.toml
  setup.py
  src/prefect/tasks/toloka/__init__.py
  src/prefect/tasks/toloka/helpers.py
  src/prefect/tasks/toloka/operations.py
  src/prefect/tasks/toloka/utils.py
  test-requirements.txt
  tests/tasks/toloka/__init__.py
  tests/tasks/toloka/test_client.py
  tests/tasks/toloka/test_docstrings.py
  tests/tasks/toloka/test_helpers.py
  tests/tasks/toloka/test_import.py
  tests/tasks/toloka/test_operations.py
  tests/tasks/toloka/test_utils.py
Owners: @madkinsz, @tpdorsey

mirror return types of ShellTask (#5872)
  src/prefect/tasks/dbt/dbt.py
Owners: @madkinsz

add boto_kwargs to S3List (#5907)
  changes/issue5907.yaml
  src/prefect/tasks/aws/s3.py
Owners: @madkinsz

Fix settings import
  tests/deprecated/test_deployments.py
Owners: @madkinsz

Fix settings import
  tests/deprecated/test_deployments.py
Owners: @madkinsz

Fix settings import
  tests/deprecated/test_deployments.py
Owners: @madkinsz

Breaking down tests into multiple files
  src/prefect/tasks/databricks/databricks_submitjob.py
  src/prefect/tasks/databricks/models.py
  tests/tasks/databricks/conftest.py
  tests/tasks/databricks/mocks.py
  tests/tasks/databricks/test_databricks.py
  tests/tasks/databricks/test_submit_multirun.py
  tests/tasks/databricks/test_submit_run.py
Owners: @madkinsz

Update src/prefect/tasks/databricks/models.py
  src/prefect/tasks/databricks/models.py
Owners: @madkinsz

Moved long inline definition
  src/prefect/tasks/databricks/models.py
  tests/tasks/databricks/test_submit_multirun.py
Owners: @madkinsz

Fixing Autopep8 comments
  src/prefect/tasks/databricks/databricks_submitjob.py
  tests/tasks/databricks/conftest.py
  tests/tasks/databricks/mocks.py
  tests/tasks/databricks/test_submit_multirun.py
  tests/tasks/databricks/test_submit_run.py
Owners: @madkinsz

Forgotten doc string for DatabricksSubmitMultiTaskRun
  src/prefect/tasks/databricks/databricks_submitjob.py
Owners: @madkinsz

Update src/prefect/tasks/databricks/models.py
  src/prefect/tasks/databricks/models.py
Owners: @madkinsz

Confirmed that additional errors crop up in griffe==0.22.0, so pinning for the near term.
  requirements.txt
  src/prefect/blocks/kubernetes.py
Owners: @madkinsz

Confirmed that additional errors crop up in griffe==0.22.0, so pinning for the near term.
  requirements.txt
  src/prefect/blocks/kubernetes.py
Owners: @madkinsz

Confirmed that additional errors crop up in griffe==0.22.0, so pinning for the near term.
  requirements.txt
  src/prefect/blocks/kubernetes.py
Owners: @madkinsz

Rebasing new features
  src/prefect/tasks/databricks/models.py
  tests/tasks/databricks/test_submit_multirun.py
Owners: @madkinsz

Fixed wrong test
  tests/tasks/databricks/test_submit_multirun.py
Owners: @madkinsz

Run black and isort
  src/prefect/tasks/databricks/databricks_submitjob.py
  src/prefect/tasks/databricks/models.py
  tests/tasks/databricks/conftest.py
  tests/tasks/databricks/mocks.py
  tests/tasks/databricks/test_submit_multirun.py
  tests/tasks/databricks/test_submit_run.py
Owners: @madkinsz

add fsspec import and packager init
  src/prefect/deprecated/deployments.py
Owners: @madkinsz

add fsspec import and packager init
  src/prefect/deprecated/deployments.py
Owners: @madkinsz

add fsspec import and packager init
  src/prefect/deprecated/deployments.py
Owners: @madkinsz

Added changes file
  changes/pr5958.yml
Owners: @madkinsz

Last pass of black
  src/prefect/tasks/databricks/databricks_submitjob.py
Owners: @madkinsz

Flake8 compliance
  src/prefect/tasks/databricks/databricks_submitjob.py
Owners: @madkinsz

Include the flow parameter schema on the package manifest
  src/prefect/packaging/base.py
  src/prefect/packaging/docker.py
  src/prefect/packaging/file.py
  src/prefect/packaging/orion.py
Owners: @madkinsz

Include the flow parameter schema on the package manifest
  src/prefect/packaging/base.py
  src/prefect/packaging/docker.py
  src/prefect/packaging/file.py
  src/prefect/packaging/orion.py
Owners: @madkinsz

Include the flow parameter schema on the package manifest
  src/prefect/packaging/base.py
  src/prefect/packaging/docker.py
  src/prefect/packaging/file.py
  src/prefect/packaging/orion.py
Owners: @madkinsz

I hate VsCode
  changes/pr5958.yml
Owners: @madkinsz

update to BaseModel
  src/prefect/deprecated/deployments.py
Owners: @madkinsz

update to BaseModel
  src/prefect/deprecated/deployments.py
Owners: @madkinsz

update to BaseModel
  src/prefect/deprecated/deployments.py
Owners: @madkinsz

Update prefecthq packages
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91
