Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cicdw, @desertaxle, @zzstoatzz, @znicholasbrown, @aaazzam, @kevingrismore, @daniel-prefect, @seanpwlms, @chrisguidry, @devinvillarosa

.github/CODEOWNERS:

# global
*                                    @cicdw @desertaxle @zzstoatzz

# ui
/ui                                  @znicholasbrown

# documentation
/docs                                @aaazzam @kevingrismore @daniel-prefect @seanpwlms
# imports
/src/prefect/__init__.py             @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz
/src/prefect/main.py                 @aaazzam @chrisguidry @cicdw @desertaxle @zzstoatzz

# UI Replatform
/ui-v2                               @aaazzam @cicdw @desertaxle @zzstoatzz @devinvillarosa

feat: Expose typer app via package.__main__
  src/prefect/__main__.py
Owners: @cicdw, @desertaxle, @zzstoatzz

docstring
  src/prefect/cli/_prompts.py
Owners: @cicdw, @desertaxle, @zzstoatzz

remove unused const
  src/integrations/prefect-dbt/prefect_dbt/core/profiles.py
Owners: @cicdw, @desertaxle, @zzstoatzz

docs: Add reasoning documentation to the new main.py
  src/prefect/__main__.py
Owners: @cicdw, @desertaxle, @zzstoatzz

Add missing overload for `Task.__call__`
  src/prefect/tasks.py
  tests/typesafety/test_flows.yml
  tests/typesafety/test_tasks.yml
Owners: @cicdw, @desertaxle, @zzstoatzz

Update @prefecthq/prefect-ui-library to version 3.11.36
  ui/package-lock.json
  ui/package.json
Owners: @znicholasbrown

[UI v2] chore: rename automation props from data to automation (#16878)
  ui-v2/src/components/automations/automation-details-page.tsx
  ui-v2/src/components/automations/automation-details.tsx
  ui-v2/src/components/automations/automation-enable-toggle/automation-enable-toggle.stories.tsx
  ui-v2/src/components/automations/automation-enable-toggle/automation-enable-toggle.test.tsx
  ui-v2/src/components/automations/automation-enable-toggle/automation-enable-toggle.tsx
  ui-v2/src/components/automations/automations-page.tsx
  ui-v2/tests/utils/handlers.ts
Owners: @aaazzam, @cicdw, @desertaxle, @zzstoatzz, @devinvillarosa

[UI v2] chore: rename automation props from data to automation (#16878)
  ui-v2/src/components/automations/automation-details-page.tsx
  ui-v2/src/components/automations/automation-details.tsx
  ui-v2/src/components/automations/automation-enable-toggle/automation-enable-toggle.stories.tsx
  ui-v2/src/components/automations/automation-enable-toggle/automation-enable-toggle.test.tsx
  ui-v2/src/components/automations/automation-enable-toggle/automation-enable-toggle.tsx
  ui-v2/src/components/automations/automations-page.tsx
  ui-v2/tests/utils/handlers.ts
Owners: @aaazzam, @cicdw, @desertaxle, @zzstoatzz, @devinvillarosa

[UI v2] chore: rename automation props from data to automation (#16878)
  ui-v2/src/components/automations/automation-details-page.tsx
  ui-v2/src/components/automations/automation-details.tsx
  ui-v2/src/components/automations/automation-enable-toggle/automation-enable-toggle.stories.tsx
  ui-v2/src/components/automations/automation-enable-toggle/automation-enable-toggle.test.tsx
  ui-v2/src/components/automations/automation-enable-toggle/automation-enable-toggle.tsx
  ui-v2/src/components/automations/automations-page.tsx
  ui-v2/tests/utils/handlers.ts
Owners: @aaazzam, @cicdw, @desertaxle, @zzstoatzz, @devinvillarosa
