Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @cicdw, @pleek91, @tpdorsey, @anticorrelator

Fix tests for scheduled flow runs CLI `--start-at` option (#8330)
  tests/cli/deployment/test_deployment_run.py
Owners: @PrefectHQ/open-source

Fix tests for scheduled flow runs CLI `--start-at` option (#8330)
  tests/cli/deployment/test_deployment_run.py
Owners: @PrefectHQ/open-source

Kick the can down the road
  tests/cli/deployment/test_deployment_run.py
  tests/fixtures/database.py
Owners: @PrefectHQ/open-source

Style change: Remove quotes around setting value
  docs/concepts/logs.md
Owners: @tpdorsey

Add `PREFECT_LOGGING_ORION_WHEN_MISSING_FLOW` setting to handle error raised when logs outside of flow run context (#8311)
  docs/concepts/logs.md
  src/prefect/logging/handlers.py
  src/prefect/settings.py
  tests/test_logging.py
Owners: @tpdorsey, @PrefectHQ/open-source

Add `PREFECT_LOGGING_ORION_WHEN_MISSING_FLOW` setting to handle error raised when logs outside of flow run context (#8311)
  docs/concepts/logs.md
  src/prefect/logging/handlers.py
  src/prefect/settings.py
  tests/test_logging.py
Owners: @tpdorsey, @PrefectHQ/open-source

Add `PREFECT_LOGGING_ORION_WHEN_MISSING_FLOW` setting to handle error raised when logs outside of flow run context (#8311)
  docs/concepts/logs.md
  src/prefect/logging/handlers.py
  src/prefect/settings.py
  tests/test_logging.py
Owners: @tpdorsey, @PrefectHQ/open-source

bump orion-design to 1.2.10
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

add line about reregistering blocks to to collections docs
  docs/collections/usage.md
Owners: @tpdorsey

Update docs/concepts/infrastructure.md
  docs/concepts/infrastructure.md
Owners: @tpdorsey

Update docs/concepts/infrastructure.md
  docs/concepts/infrastructure.md
Owners: @tpdorsey

Update docs/.vuepress/config.js
  docs/.vuepress/config.js
Owners: @tpdorsey

Reverts fixture change
  tests/fixtures/database.py
Owners: @PrefectHQ/open-source

Initial commit
  .github/workflows/issue-bot.yaml
Owners: @PrefectHQ/open-source

Initial tests passing for create work pool
  tests/cli/test_work_pool.py
Owners: @PrefectHQ/open-source

Checkpoint
  src/prefect/cli/__init__.py
  src/prefect/cli/work_queue.py
  src/prefect/orion/models/workers_migration.py
  tests/cli/test_work_pool.py
Owners: @PrefectHQ/open-source, @zangell44

Add read_work_pools method
  src/prefect/client/orion.py
  src/prefect/orion/api/workers.py
  tests/client/test_orion_client.py
Owners: @PrefectHQ/open-source, @zangell44

gets work pools CLI up and running
  src/prefect/cli/work_queue.py
  tests/cli/test_work_pool.py
  tests/client/test_orion_client.py
Owners: @PrefectHQ/open-source

Fix work pool tests to work with main changes
  tests/cli/test_work_pool.py
Owners: @PrefectHQ/open-source

Get work-queues up and running
  src/prefect/cli/work_queue.py
  src/prefect/testing/cli.py
  tests/cli/test_work_queues.py
  tests/client/test_orion_client.py
Owners: @PrefectHQ/open-source

Update client tests
  src/prefect/cli/work_queue.py
  tests/client/test_orion_client.py
Owners: @PrefectHQ/open-source

Flix CLI tests
  src/prefect/cli/work_queue.py
  tests/cli/test_work_queues.py
Owners: @PrefectHQ/open-source

Fix client tests
  tests/client/test_orion_client.py
Owners: @PrefectHQ/open-source

Add work pools to versioning
  src/prefect/cli/work_pool.py
Owners: @PrefectHQ/open-source

Removes commented out code
  src/prefect/orion/database/migrations/versions/postgresql/2023_01_26_152801_0a1250a5aa25_expand_work_queue_table.py
  src/prefect/orion/database/migrations/versions/sqlite/2023_01_25_114348_b9bda9f142f1_expand_work_queue_table.py
Owners: @PrefectHQ/open-source, @anticorrelator

Try to ensure always a status of some kind
  .github/workflows/issue-bot.yaml
Owners: @PrefectHQ/open-source

Fix import
  src/prefect/client/orion.py
Owners: @PrefectHQ/open-source

Remove worker_migration
  src/prefect/orion/models/workers_migration.py
Owners: @PrefectHQ/open-source, @zangell44

Fixes failing sqlite test
  tests/orion/models/deprecated/test_work_queues.py
Owners: @PrefectHQ/open-source

add note to api reference overview
  docs/generate_docs.py
Owners: @tpdorsey

Apply code review changes
  .github/workflows/issue-bot.yaml
Owners: @PrefectHQ/open-source

Apply code review changes
  .github/workflows/issue-bot.yaml
Owners: @PrefectHQ/open-source

Consolidate 'close' and 'close on completed' step
  .github/workflows/issue-bot.yaml
Owners: @PrefectHQ/open-source

Remove extra newline
  .github/workflows/issue-bot.yaml
Owners: @PrefectHQ/open-source

Fixes test
  tests/orion/api/test_deployments.py
Owners: @PrefectHQ/open-source

add cloud tutorial video, minor edits
  docs/stylesheets/extra.css
  docs/ui/cloud-quickstart.md
  docs/ui/cloud.md
Owners: @tpdorsey

Update issue label workflow (#8334)
  .github/workflows/issue-bot.yaml
Owners: @PrefectHQ/open-source

Update issue label workflow (#8334)
  .github/workflows/issue-bot.yaml
Owners: @PrefectHQ/open-source

Update issue label workflow (#8334)
  .github/workflows/issue-bot.yaml
Owners: @PrefectHQ/open-source

Corrects assertion
  tests/orion/api/test_deployments.py
Owners: @PrefectHQ/open-source

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# orion server
/src/prefect/orion                   @PrefectHQ/open-source @zangell44

# deployments
/src/prefect/cli/deployment.py       @PrefectHQ/open-source @cicdw
/src/prefect/deployments.py          @PrefectHQ/open-source @cicdw

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey
mkdocs.yml                           @tpdorsey
mkdocs.insiders.yml                  @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @PrefectHQ/open-source @anticorrelator

# database configuration / models
/src/prefect/orion/database          @PrefectHQ/open-source @anticorrelator
