Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @pleek91, @PrefectHQ/docs

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# ui
/ui                            @pleek91

# documentation
/docs                                @PrefectHQ/docs
mkdocs.yml                           @PrefectHQ/docs
mkdocs.insiders.yml                  @PrefectHQ/docs

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source 

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source

enabled 'copy to clipboard' button for code blocks
  docs/stylesheets/extra.css
  mkdocs.insiders.yml
Owners: @PrefectHQ/docs

Add artifacts `/count` route (#9022)
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

Add artifacts `/count` route (#9022)
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

Add artifacts `/count` route (#9022)
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

rename to connecting
  docs/cloud/connecting.md
  mkdocs.yml
Owners: @PrefectHQ/docs

minor edits for links
  docs/cloud/automations.md
  docs/cloud/connecting.md
  docs/cloud/events.md
  docs/cloud/users/service-accounts.md
  docs/cloud/users/sso.md
  netlify.toml
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

fold events concept material into event cloud page
  docs/cloud/events.md
  docs/concepts/events-and-resources.md
Owners: @PrefectHQ/docs

reorder cloud nav bar
  mkdocs.yml
Owners: @PrefectHQ/docs

Adds `requires` step keyword and auto installation (#9025)
  src/prefect/projects/steps/core.py
Owners: @PrefectHQ/open-source

Add a deploy CLI test
  docs/tutorials/projects.md
  tests/cli/test_project.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Add a test or two for steps
  src/prefect/projects/steps/core.py
  tests/projects/test_steps.py
Owners: @PrefectHQ/open-source

Rename utilities
  src/prefect/cli/deployment.py
  src/prefect/projects/base.py
  src/prefect/utilities/filesystem.py
  tests/test-projects/flows/hello.py
Owners: @PrefectHQ/open-source

tail functionality added using reverse and offset
  src/prefect/cli/flow_run.py
Owners: @PrefectHQ/open-source

tail_limit updated for value for less then page_size
  src/prefect/cli/flow_run.py
Owners: @PrefectHQ/open-source

test added for --tail option in flow run
  tests/cli/test_flow_run.py
Owners: @PrefectHQ/open-source

Add recipes and step formatting
  src/prefect/projects/base.py
  src/prefect/projects/recipes/docker-git/prefect.yaml
  src/prefect/projects/recipes/docker/prefect.yaml
  src/prefect/projects/recipes/git/prefect.yaml
  src/prefect/projects/recipes/local/prefect.yaml
  tests/cli/test_project.py
  tests/projects/test_base.py
Owners: @PrefectHQ/open-source

Begin adding recipes with templating
  src/prefect/cli/project.py
  src/prefect/projects/base.py
  src/prefect/projects/recipes/git/prefect.yaml
  src/prefect/projects/recipes/local/prefect.yaml
  src/prefect/utilities/templating.py
  tests/utilities/test_templating.py
Owners: @PrefectHQ/open-source

Update docker-git recipe
  src/prefect/projects/recipes/docker-git/prefect.yaml
Owners: @PrefectHQ/open-source

Ensure unset values persist for documentation purposes
  src/prefect/projects/base.py
  src/prefect/projects/recipes/docker/prefect.yaml
  src/prefect/utilities/templating.py
  tests/projects/test_base.py
  tests/utilities/test_templating.py
Owners: @PrefectHQ/open-source

More robust path manamagement in tests
  tests/cli/test_project.py
  tests/projects/test_base.py
Owners: @PrefectHQ/open-source

Handle repository correctly
  src/prefect/projects/base.py
  src/prefect/projects/recipes/docker-git/prefect.yaml
  src/prefect/projects/recipes/git/prefect.yaml
  tests/projects/test_base.py
Owners: @PrefectHQ/open-source

begin introducing recipes into tutorial and fix tests
  docs/tutorials/projects.md
  src/prefect/cli/project.py
  src/prefect/projects/base.py
  tests/cli/test_project.py
  tests/projects/test_base.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

Update some recipes and gracefully ignore missing sections in deploy
  docs/tutorials/projects.md
  src/prefect/cli/root.py
  src/prefect/projects/recipes/docker-git/prefect.yaml
  src/prefect/projects/recipes/docker/prefect.yaml
Owners: @PrefectHQ/docs, @PrefectHQ/open-source

local and remote fs path return tests
  tests/test_filesystems.py
Owners: @PrefectHQ/open-source

Remove unused fixture and relax tests
  tests/projects/test_base.py
Owners: @PrefectHQ/open-source

add prefect-spark-on-k8s-operator to integrations catalog list.
  docs/integrations/catalog/prefect-spark-on-k8s-operator.yaml
Owners: @PrefectHQ/docs

first stab at organizing concepts into subheadings
  mkdocs.yml
Owners: @PrefectHQ/docs

minor edits
  docs/concepts/runtime-context.md
  docs/concepts/server.md
  mkdocs.yml
Owners: @PrefectHQ/docs

Add copy to clipboard button in documentation code blocks (#9026)
  docs/stylesheets/extra.css
  mkdocs.insiders.yml
Owners: @PrefectHQ/docs

Add copy to clipboard button in documentation code blocks (#9026)
  docs/stylesheets/extra.css
  mkdocs.insiders.yml
Owners: @PrefectHQ/docs

Add copy to clipboard button in documentation code blocks (#9026)
  docs/stylesheets/extra.css
  mkdocs.insiders.yml
Owners: @PrefectHQ/docs

minor edits to settings
  docs/concepts/settings.md
Owners: @PrefectHQ/docs

add prefect server
  docs/concepts/server.md
  docs/index.md
Owners: @PrefectHQ/docs

more server
  docs/cloud/connecting.md
  docs/concepts/server.md
  docs/ui/flow-runs.md
Owners: @PrefectHQ/docs

edit notifications
  docs/concepts/notifications.md
  docs/concepts/server.md
Owners: @PrefectHQ/docs

concepts index page simplify
  docs/concepts/index.md
  docs/concepts/server.md
  mkdocs.yml
Owners: @PrefectHQ/docs

feat: add an index for both column timestamp and flow_run_id on the log table
  src/prefect/server/database/orm_models.py
Owners: @PrefectHQ/open-source

concepts subheading name changes
  mkdocs.yml
Owners: @PrefectHQ/docs

fix icons
  docs/cloud/cloud-quickstart.md
  docs/cloud/index.md
  docs/cloud/organizations.md
  docs/cloud/workspaces.md
Owners: @PrefectHQ/docs

fix links in nav
  mkdocs.yml
Owners: @PrefectHQ/docs
