Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @PrefectHQ/frontend, @PrefectHQ/docs, @aaazzam, @chrisguidry, @desertaxle, @zzstoatzz

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                  @PrefectHQ/open-source @zangell44

# ui
/ui                                  @PrefectHQ/frontend

# documentation
/docs                                @PrefectHQ/docs
mkdocs.yml                           @PrefectHQ/docs
mkdocs.insiders.yml                  @PrefectHQ/docs

# imports
/src/prefect/__init__.py              @aaazzam @chrisguidry
/src/prefect/main.py                  @aaazzam @chrisguidry

# integrations
/src/integrations                     @desertaxle @zzstoatzz

Update `models/deployment.py` to pass mypy checks
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/deployments.py
Owners: @PrefectHQ/open-source, @zangell44

syncify `serve` (#14563)
  src/prefect/flows.py
  src/prefect/runner/runner.py
  src/prefect/utilities/asyncutils.py
  tests/runner/test_runner.py
  tests/runner/test_webserver.py
  tests/test_flows.py
Owners: @PrefectHQ/open-source

syncify `serve` (#14563)
  src/prefect/flows.py
  src/prefect/runner/runner.py
  src/prefect/utilities/asyncutils.py
  tests/runner/test_runner.py
  tests/runner/test_webserver.py
  tests/test_flows.py
Owners: @PrefectHQ/open-source

syncify `serve` (#14563)
  src/prefect/flows.py
  src/prefect/runner/runner.py
  src/prefect/utilities/asyncutils.py
  tests/runner/test_runner.py
  tests/runner/test_webserver.py
  tests/test_flows.py
Owners: @PrefectHQ/open-source

Info logging around transaction hooks (#14591)
  src/prefect/transactions.py
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Info logging around transaction hooks (#14591)
  src/prefect/transactions.py
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Info logging around transaction hooks (#14591)
  src/prefect/transactions.py
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Checkpoint
  docs/3.0rc/api-ref/server/schema.json
  src/prefect/client/orchestration.py
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/services.py
  src/prefect/concurrency/sync.py
  src/prefect/server/api/concurrency_limits_v2.py
  src/prefect/server/models/concurrency_limits_v2.py
  src/prefect/settings.py
  src/prefect/task_engine.py
  tests/concurrency/test_acquire_concurrency_slots.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_slot_acquisition_service.py
  tests/concurrency/test_concurrency_sync.py
  tests/test_task_engine.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source, @zangell44

Update `models/deployment.py` to pass mypy checks (#14595)
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/deployments.py
Owners: @PrefectHQ/open-source, @zangell44

Update `models/deployment.py` to pass mypy checks (#14595)
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/deployments.py
Owners: @PrefectHQ/open-source, @zangell44

Update `models/deployment.py` to pass mypy checks (#14595)
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/deployments.py
Owners: @PrefectHQ/open-source, @zangell44

Update src/prefect/runtime/flow_run.py
  src/prefect/runtime/flow_run.py
Owners: @PrefectHQ/open-source

Delete .github/workflows/prefect-client.yaml
  .github/workflows/prefect-client.yaml
Owners: @PrefectHQ/open-source

Update `models/events.py` to pass mypy checks
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/events.py
Owners: @PrefectHQ/open-source, @zangell44

Update `models/events.py` to pass mypy checks (#14596)
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/events.py
Owners: @PrefectHQ/open-source, @zangell44

Update `models/events.py` to pass mypy checks (#14596)
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/events.py
Owners: @PrefectHQ/open-source, @zangell44

Update `models/events.py` to pass mypy checks (#14596)
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/events.py
Owners: @PrefectHQ/open-source, @zangell44

fix
  .github/workflows/prefect-client.yaml
  src/prefect/runtime/flow_run.py
Owners: @PrefectHQ/open-source

Delete .github/workflows/prefect-client.yaml
  .github/workflows/prefect-client.yaml
Owners: @PrefectHQ/open-source

fix
  .github/workflows/prefect-client.yaml
Owners: @PrefectHQ/open-source

fix
  .github/workflows/prefect-client.yaml
Owners: @PrefectHQ/open-source

fix
  .github/workflows/prefect-client.yaml
Owners: @PrefectHQ/open-source

Use client-side orchestration policy
  docs/3.0rc/api-ref/server/schema.json
  src/prefect/server/api/dependencies.py
  src/prefect/server/orchestration/core_policy.py
  src/prefect/server/orchestration/dependencies.py
  tests/server/orchestration/api/test_task_runs.py
Owners: @PrefectHQ/docs, @PrefectHQ/open-source, @zangell44

bump anyio (#14592)
  requirements-client.txt
Owners: @PrefectHQ/open-source

bump anyio (#14592)
  requirements-client.txt
Owners: @PrefectHQ/open-source

bump anyio (#14592)
  requirements-client.txt
Owners: @PrefectHQ/open-source

restore type hint
  src/prefect/client/orchestration.py
Owners: @PrefectHQ/open-source
