Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

Begin updating task dependencies
  docs/tutorials/task-dependencies.md
Owners: @tpdorsey

Begin updating task dependencies
  docs/tutorials/task-dependencies.md
Owners: @tpdorsey

Begin updating task dependencies
  docs/tutorials/task-dependencies.md
Owners: @tpdorsey

Fix hanging hosted_orion_api fixture
  src/prefect/testing/fixtures.py
Owners: @madkinsz

Fix hanging hosted_orion_api fixture
  src/prefect/testing/fixtures.py
Owners: @madkinsz

Fix hanging hosted_orion_api fixture
  src/prefect/testing/fixtures.py
Owners: @madkinsz

Update tests for win32 compatibility
  tests/utilities/test_processutils.py
Owners: @madkinsz

Update tests for win32 compatibility
  tests/utilities/test_processutils.py
Owners: @madkinsz

Update tests for win32 compatibility
  tests/utilities/test_processutils.py
Owners: @madkinsz

Update tests
  src/prefect/context.py
  src/prefect/settings.py
  tests/test_context.py
Owners: @madkinsz

Update tests
  src/prefect/context.py
  src/prefect/settings.py
  tests/test_context.py
Owners: @madkinsz

Update tests
  src/prefect/context.py
  src/prefect/settings.py
  tests/test_context.py
Owners: @madkinsz

Bypass the task runner when submit is not used
  src/prefect/engine.py
  src/prefect/task_runners.py
  src/prefect/tasks.py
Owners: @madkinsz

Bypass the task runner when submit is not used
  src/prefect/engine.py
  src/prefect/task_runners.py
  src/prefect/tasks.py
Owners: @madkinsz

Bypass the task runner when submit is not used
  src/prefect/engine.py
  src/prefect/task_runners.py
  src/prefect/tasks.py
Owners: @madkinsz

Revisions based on feedback
  docs/tutorials/first-steps.md
  docs/tutorials/flow-task-config.md
Owners: @tpdorsey

Revisions based on feedback
  docs/tutorials/first-steps.md
  docs/tutorials/flow-task-config.md
Owners: @tpdorsey

Revisions based on feedback
  docs/tutorials/first-steps.md
  docs/tutorials/flow-task-config.md
Owners: @tpdorsey

Add new modules
  src/prefect/infrastructure/__init__.py
  src/prefect/infrastructure/base.py
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/local.py
Owners: @madkinsz

Add environment variable support to engine entrypoint
  src/prefect/engine.py
Owners: @madkinsz

Add connect error detection to crashes
  src/prefect/states.py
Owners: @madkinsz

Add environment variable support to engine entrypoint
  src/prefect/engine.py
Owners: @madkinsz

Add connect error detection to crashes
  src/prefect/states.py
Owners: @madkinsz

Add connect error detection to crashes
  src/prefect/states.py
Owners: @madkinsz

Add environment variable support to engine entrypoint
  src/prefect/engine.py
Owners: @madkinsz

Add new modules
  src/prefect/infrastructure/__init__.py
  src/prefect/infrastructure/base.py
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/local.py
Owners: @madkinsz

Add new modules
  src/prefect/infrastructure/__init__.py
  src/prefect/infrastructure/base.py
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/local.py
Owners: @madkinsz

Improve entrypoint handling, restore flow runner compatibility
  src/prefect/deployments.py
  src/prefect/infrastructure/submission.py
Owners: @madkinsz

Add infrastructure implementations
  src/prefect/__init__.py
  src/prefect/agent.py
  src/prefect/cli/deployment.py
  src/prefect/client.py
  src/prefect/deployments.py
  src/prefect/docker.py
  src/prefect/infrastructure/base.py
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/local.py
  src/prefect/infrastructure/submission.py
  src/prefect/infrastructure/subprocess.py
  src/prefect/orion/api/deployments.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_11_113314_638cbcc2a158_add_infrastructure_block_id_to_.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/deployments.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/schemas/data.py
  src/prefect/packaging/docker.py
  src/prefect/utilities/filesystem.py
  src/prefect/utilities/pydantic.py
Owners: @madkinsz, @zangell44, @anticorrelator

Add infrastructure implementations
  src/prefect/__init__.py
  src/prefect/agent.py
  src/prefect/cli/deployment.py
  src/prefect/client.py
  src/prefect/deployments.py
  src/prefect/docker.py
  src/prefect/infrastructure/base.py
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/local.py
  src/prefect/infrastructure/submission.py
  src/prefect/infrastructure/subprocess.py
  src/prefect/orion/api/deployments.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_11_113314_638cbcc2a158_add_infrastructure_block_id_to_.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/deployments.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/schemas/data.py
  src/prefect/packaging/docker.py
  src/prefect/utilities/filesystem.py
  src/prefect/utilities/pydantic.py
Owners: @madkinsz, @zangell44, @anticorrelator

Add infrastructure implementations
  src/prefect/__init__.py
  src/prefect/agent.py
  src/prefect/cli/deployment.py
  src/prefect/client.py
  src/prefect/deployments.py
  src/prefect/docker.py
  src/prefect/infrastructure/base.py
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/local.py
  src/prefect/infrastructure/submission.py
  src/prefect/infrastructure/subprocess.py
  src/prefect/orion/api/deployments.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_11_113314_638cbcc2a158_add_infrastructure_block_id_to_.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/deployments.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/schemas/data.py
  src/prefect/packaging/docker.py
  src/prefect/utilities/filesystem.py
  src/prefect/utilities/pydantic.py
Owners: @madkinsz, @zangell44, @anticorrelator

Improve entrypoint handling, restore flow runner compatibility
  src/prefect/deployments.py
  src/prefect/infrastructure/submission.py
Owners: @madkinsz

Improve entrypoint handling, restore flow runner compatibility
  src/prefect/deployments.py
  src/prefect/infrastructure/submission.py
Owners: @madkinsz

Fix `prefect deployment execute`
  src/prefect/cli/deployment.py
Owners: @madkinsz

Fix `prefect deployment execute`
  src/prefect/cli/deployment.py
Owners: @madkinsz

Fix `prefect deployment execute`
  src/prefect/cli/deployment.py
Owners: @madkinsz

Add postgres migrations; remove indexing of document ids
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_11_113314_638cbcc2a158_add_infrastructure_block_id_to_.py
  src/prefect/orion/database/orm_models.py
Owners: @anticorrelator

Add postgres migrations; remove indexing of document ids
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_11_113314_638cbcc2a158_add_infrastructure_block_id_to_.py
  src/prefect/orion/database/orm_models.py
Owners: @anticorrelator

Add postgres migrations; remove indexing of document ids
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_11_113314_638cbcc2a158_add_infrastructure_block_id_to_.py
  src/prefect/orion/database/orm_models.py
Owners: @anticorrelator

Apply suggestions from code review
  docs/tutorials/first-steps.md
  docs/tutorials/flow-task-config.md
Owners: @tpdorsey

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator
