Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Reincorporate changes from 2367 to concepts document
  docs/concepts/deployments.md
Owners: @tpdorsey

Reincorporate changes from 2367 to concepts document
  docs/concepts/deployments.md
Owners: @tpdorsey

Reincorporate changes from 2367 to concepts document
  docs/concepts/deployments.md
Owners: @tpdorsey

Remove flow runner types from work queue filters
  src/prefect/cli/work_queue.py
  src/prefect/client.py
  src/prefect/orion/models/deployments.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/schemas/filters.py
  tests/orion/api/test_deployments.py
  tests/orion/models/test_deployments.py
  tests/orion/models/test_work_queues.py
Owners: @madkinsz, @zangell44

Remove flow runner types from work queue filters
  src/prefect/cli/work_queue.py
  src/prefect/client.py
  src/prefect/orion/models/deployments.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/schemas/filters.py
  tests/orion/api/test_deployments.py
  tests/orion/models/test_deployments.py
  tests/orion/models/test_work_queues.py
Owners: @madkinsz, @zangell44

Remove flow runner types from work queue filters
  src/prefect/cli/work_queue.py
  src/prefect/client.py
  src/prefect/orion/models/deployments.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/schemas/filters.py
  tests/orion/api/test_deployments.py
  tests/orion/models/test_deployments.py
  tests/orion/models/test_work_queues.py
Owners: @madkinsz, @zangell44

Apply suggestions from code review
  docs/tutorials/deployments.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/tutorials/deployments.md
Owners: @tpdorsey

Apply suggestions from code review
  docs/tutorials/deployments.md
Owners: @tpdorsey

Update manifest description
  docs/concepts/deployments.md
Owners: @tpdorsey

Update manifest description
  docs/concepts/deployments.md
Owners: @tpdorsey

Update manifest description
  docs/concepts/deployments.md
Owners: @tpdorsey

Clarify flowscript usage
  docs/tutorials/deployments.md
Owners: @tpdorsey

Clarify flowscript usage
  docs/tutorials/deployments.md
Owners: @tpdorsey

Clarify flowscript usage
  docs/tutorials/deployments.md
Owners: @tpdorsey

Update docs/concepts/deployments.md
  docs/concepts/deployments.md
Owners: @tpdorsey

Update docs/concepts/deployments.md
  docs/concepts/deployments.md
Owners: @tpdorsey

Update docs/concepts/deployments.md
  docs/concepts/deployments.md
Owners: @tpdorsey

Update `TestCheckWorkQueuesForDeployment` tests
  tests/orion/models/test_deployments.py
Owners: @madkinsz

Update `TestCheckWorkQueuesForDeployment` tests
  tests/orion/models/test_deployments.py
Owners: @madkinsz

Update `TestCheckWorkQueuesForDeployment` tests
  tests/orion/models/test_deployments.py
Owners: @madkinsz

Update concept doc
  docs/concepts/work-queues.md
Owners: @tpdorsey

Update concept doc
  docs/concepts/work-queues.md
Owners: @tpdorsey

Update concept doc
  docs/concepts/work-queues.md
Owners: @tpdorsey

try/except static files
  src/prefect/orion/api/server.py
Owners: @zangell44, @madkinsz

try/except static files
  src/prefect/orion/api/server.py
Owners: @zangell44, @madkinsz

try/except static files
  src/prefect/orion/api/server.py
Owners: @zangell44, @madkinsz

Update docs/index.md
  docs/index.md
Owners: @tpdorsey

Update docs/index.md
  docs/index.md
Owners: @tpdorsey

Update docs/index.md
  docs/index.md
Owners: @tpdorsey

Remove unecessary ui_settings field
  src/prefect/orion/api/server.py
Owners: @zangell44, @madkinsz

Remove unecessary ui_settings field
  src/prefect/orion/api/server.py
Owners: @zangell44, @madkinsz

Remove unecessary ui_settings field
  src/prefect/orion/api/server.py
Owners: @zangell44, @madkinsz

Update docs/ui/dashboard.md
  docs/ui/dashboard.md
Owners: @tpdorsey

Update docs/ui/dashboard.md
  docs/ui/dashboard.md
Owners: @tpdorsey

Update docs/ui/dashboard.md
  docs/ui/dashboard.md
Owners: @tpdorsey

Revisions based on feedback
  docs/ui/flows.md
  docs/ui/overview.md
Owners: @tpdorsey

Revisions based on feedback
  docs/ui/flows.md
  docs/ui/overview.md
Owners: @tpdorsey

Revisions based on feedback
  docs/ui/flows.md
  docs/ui/overview.md
Owners: @tpdorsey

Capture HTTPException
  src/prefect/orion/api/server.py
Owners: @zangell44, @madkinsz
