Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Capture HTTPException
  src/prefect/orion/api/server.py
Owners: @zangell44, @madkinsz

Capture HTTPException
  src/prefect/orion/api/server.py
Owners: @zangell44, @madkinsz

Integrate cloud client initialization methods and remove sleep
  src/prefect/cli/cloud.py
  src/prefect/cli/profile.py
Owners: @madkinsz

Integrate cloud client initialization methods and remove sleep
  src/prefect/cli/cloud.py
  src/prefect/cli/profile.py
Owners: @madkinsz

add links and headings and move up gui section
  docs/index.md
Owners: @tpdorsey

add links and headings and move up gui section
  docs/index.md
Owners: @tpdorsey

add links and headings and move up gui section
  docs/index.md
Owners: @tpdorsey

Fixes reconstructing a pydantic model if an alias is used
  src/prefect/utilities/collections.py
  tests/utilities/test_collections.py
Owners: @madkinsz

Fixes reconstructing a pydantic model if an alias is used
  src/prefect/utilities/collections.py
  tests/utilities/test_collections.py
Owners: @madkinsz

Fixes reconstructing a pydantic model if an alias is used
  src/prefect/utilities/collections.py
  tests/utilities/test_collections.py
Owners: @madkinsz

minor edits
  docs/index.md
Owners: @tpdorsey

minor edits
  docs/index.md
Owners: @tpdorsey

minor edits
  docs/index.md
Owners: @tpdorsey

Rev version number in installation
  docs/getting-started/installation.md
Owners: @tpdorsey

Rev version number in installation
  docs/getting-started/installation.md
Owners: @tpdorsey

Rev version number in installation
  docs/getting-started/installation.md
Owners: @tpdorsey

Update src/prefect/utilities/collections.py
  src/prefect/utilities/collections.py
Owners: @madkinsz

Update src/prefect/utilities/collections.py
  src/prefect/utilities/collections.py
Owners: @madkinsz

Update src/prefect/utilities/collections.py
  src/prefect/utilities/collections.py
Owners: @madkinsz

Update src/prefect/utilities/collections.py
  src/prefect/utilities/collections.py
Owners: @madkinsz

Update src/prefect/utilities/collections.py
  src/prefect/utilities/collections.py
Owners: @madkinsz

Update src/prefect/utilities/collections.py
  src/prefect/utilities/collections.py
Owners: @madkinsz

wordsmithing and links
  docs/index.md
Owners: @tpdorsey

wordsmithing and links
  docs/index.md
Owners: @tpdorsey

wordsmithing and links
  docs/index.md
Owners: @tpdorsey

Add Flow Run Name to k8s job spec
  src/prefect/agent/kubernetes/agent.py
Owners: @madkinsz

Refactor task docs for new calling behavior (#2364)
  docs/concepts/task-runners.md
  docs/concepts/tasks.md
Owners: @tpdorsey

Refactor task docs for new calling behavior (PrefectHQ/orion#2364)
  docs/concepts/task-runners.md
  docs/concepts/tasks.md
Owners: @tpdorsey

Refactor task docs for new calling behavior (PrefectHQ/orion#2364)
  docs/concepts/task-runners.md
  docs/concepts/tasks.md
Owners: @tpdorsey

Update task-runners.md
  docs/concepts/task-runners.md
Owners: @tpdorsey

Update task-runners.md
  docs/concepts/task-runners.md
Owners: @tpdorsey

Update task-runners.md
  docs/concepts/task-runners.md
Owners: @tpdorsey

Improve `run` docstring
  src/prefect/infrastructure/base.py
Owners: @madkinsz

Improve `run` docstring
  src/prefect/infrastructure/base.py
Owners: @madkinsz

Improve `run` docstring
  src/prefect/infrastructure/base.py
Owners: @madkinsz

Fix pydantic creating AWS typos by providing title explicitly
  src/prefect/blocks/storage.py
Owners: @madkinsz

Fix pydantic creating AWS typos by providing title explicitly
  src/prefect/blocks/storage.py
Owners: @madkinsz

Fix pydantic creating AWS typos by providing title explicitly
  src/prefect/blocks/storage.py
Owners: @madkinsz

update first-steps tutorial
  docs/tutorials/first-steps.md
Owners: @tpdorsey

update first-steps tutorial
  docs/tutorials/first-steps.md
Owners: @tpdorsey
