Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @pleek91, @PrefectHQ/docs

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# backend
/src/prefect/server                   @PrefectHQ/open-source @zangell44

# ui
/ui                            @pleek91

# documentation
/docs                                @PrefectHQ/docs
mkdocs.yml                           @PrefectHQ/docs
mkdocs.insiders.yml                  @PrefectHQ/docs

# orchestration rules / policies
/src/prefect/server/orchestration     @PrefectHQ/open-source 

# database configuration / models
/src/prefect/server/database          @PrefectHQ/open-source

Add columns to ArtifactCollection (#9061)
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_04_04_172310_6a1eb3d442e4_add_cols_to_artifact_collection.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_04_172555_3e1eb8281d5e_add_cols_to_artifact_collection.py
  src/prefect/server/database/orm_models.py
Owners: @PrefectHQ/open-source

Add columns to ArtifactCollection (#9061)
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_04_04_172310_6a1eb3d442e4_add_cols_to_artifact_collection.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_04_172555_3e1eb8281d5e_add_cols_to_artifact_collection.py
  src/prefect/server/database/orm_models.py
Owners: @PrefectHQ/open-source

Fixes tests
  tests/client/test_base_client.py
Owners: @PrefectHQ/open-source

Apply suggestions from code review
  docs/concepts/work-pools.md
Owners: @PrefectHQ/docs

fix merge from main
  src/prefect/server/api/artifacts.py
  src/prefect/server/database/migrations/versions/postgresql/2023_03_31_172310_6a1eb3d442e4_add_cols_to_artifact_collection.py
  src/prefect/server/database/migrations/versions/sqlite/2023_03_31_172555_3e1eb8281d5e_add_cols_to_artifact_collection.py
Owners: @PrefectHQ/open-source, @zangell44

underscores not dashes
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/filters.py
  tests/server/models/test_variables.py
Owners: @PrefectHQ/open-source, @zangell44

fix type
  src/prefect/server/schemas/core.py
Owners: @PrefectHQ/open-source, @zangell44

Fix test bug where `_min_interval` could be set _after_ the loop started
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

add variable api routes
  src/prefect/server/api/__init__.py
  src/prefect/server/api/server.py
  src/prefect/server/api/variables.py
  tests/server/api/test_variables.py
Owners: @PrefectHQ/open-source, @zangell44

Fix race condition where items could be sent to a stopped instance
  src/prefect/_internal/concurrency/services.py
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

Adds tests for input validation
  tests/test_settings.py
Owners: @PrefectHQ/open-source

don't begin a transaction on reads
  src/prefect/server/api/variables.py
Owners: @PrefectHQ/open-source, @zangell44

Add a 10 minute cache to API healthchecks
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Update variables.md
  docs/concepts/variables.md
Owners: @PrefectHQ/docs

Fix race condition where futures did not wait for submission to complete
  src/prefect/engine.py
  src/prefect/futures.py
Owners: @PrefectHQ/open-source

Remove debug line
  src/prefect/engine.py
Owners: @PrefectHQ/open-source

Avoid using spin locks while waiting for task submission
  src/prefect/_internal/concurrency/event_loop.py
  src/prefect/futures.py
Owners: @PrefectHQ/open-source

Update concurrent task runner to use futures and efficient wait patterns
  src/prefect/task_runners.py
Owners: @PrefectHQ/open-source

Add test coverage for logging outside flow run (#8394)
  tests/test_logging.py
Owners: @PrefectHQ/open-source

Add test coverage for logging outside flow run (#8394)
  tests/test_logging.py
Owners: @PrefectHQ/open-source

Add test coverage for logging outside flow run (#8394)
  tests/test_logging.py
Owners: @PrefectHQ/open-source

Add `BatchedQueueService` abstract class (#9045)
  src/prefect/_internal/concurrency/services.py
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

Add `BatchedQueueService` abstract class (#9045)
  src/prefect/_internal/concurrency/services.py
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

Add `BatchedQueueService` abstract class (#9045)
  src/prefect/_internal/concurrency/services.py
  tests/_internal/concurrency/test_services.py
Owners: @PrefectHQ/open-source

Update logging tests
  src/prefect/logging/handlers.py
  tests/test_logging.py
Owners: @PrefectHQ/open-source

remove unused variable
  src/prefect/server/models/artifacts.py
Owners: @PrefectHQ/open-source, @zangell44

Update log worker to run on the global event loop
  src/prefect/_internal/concurrency/services.py
  src/prefect/engine.py
  src/prefect/logging/handlers.py
Owners: @PrefectHQ/open-source

Fix instrument test assertions to run after a client is present (#9060)
  tests/events/test_events_instrument.py
Owners: @PrefectHQ/open-source

Fix instrument test assertions to run after a client is present (#9060)
  tests/events/test_events_instrument.py
Owners: @PrefectHQ/open-source

Fix instrument test assertions to run after a client is present (#9060)
  tests/events/test_events_instrument.py
Owners: @PrefectHQ/open-source

Move more event test assertions to proper place
  tests/events/test_events_instrument.py
Owners: @PrefectHQ/open-source

Skip waiting on the event across-threads if it is already set
  src/prefect/futures.py
Owners: @PrefectHQ/open-source

Fix handling of timeouts
  src/prefect/task_runners.py
Owners: @PrefectHQ/open-source

Add method to client, update cli
  src/prefect/cli/artifact.py
  src/prefect/client/orchestration.py
  src/prefect/server/api/artifacts.py
  src/prefect/server/schemas/core.py
  tests/client/test_orion_client.py
Owners: @PrefectHQ/open-source, @zangell44

Fix sequential execution with mapped tasks using the SequentialTaskRunner (#8473)
  src/prefect/engine.py
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Fix sequential execution with mapped tasks using the SequentialTaskRunner (#8473)
  src/prefect/engine.py
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Fix sequential execution with mapped tasks using the SequentialTaskRunner (#8473)
  src/prefect/engine.py
  tests/test_tasks.py
Owners: @PrefectHQ/open-source

Update src/prefect/server/schemas/core.py
  src/prefect/server/schemas/core.py
Owners: @PrefectHQ/open-source, @zangell44

Update src/prefect/server/schemas/core.py
  src/prefect/server/schemas/core.py
Owners: @PrefectHQ/open-source, @zangell44

Remove join between Artifact and ArtifactCollection table (#9064)
  src/prefect/cli/artifact.py
  src/prefect/client/orchestration.py
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/sorting.py
  tests/client/test_orion_client.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Owners: @PrefectHQ/open-source, @zangell44
