Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @cicdw, @pleek91, @tpdorsey, @anticorrelator

Add tests for api
  src/prefect/blocks/core.py
  src/prefect/client/orion.py
  src/prefect/orion/models/block_documents.py
  tests/orion/api/test_block_documents.py
Owners: @madkinsz, @zangell44

Add tests for api
  src/prefect/blocks/core.py
  src/prefect/client/orion.py
  src/prefect/orion/models/block_documents.py
  tests/orion/api/test_block_documents.py
Owners: @madkinsz, @zangell44

Add tests for api
  src/prefect/blocks/core.py
  src/prefect/client/orion.py
  src/prefect/orion/models/block_documents.py
  tests/orion/api/test_block_documents.py
Owners: @madkinsz, @zangell44

Add test for model
  tests/orion/models/test_block_documents.py
Owners: @madkinsz

Add test for model
  tests/orion/models/test_block_documents.py
Owners: @madkinsz

Add test for model
  tests/orion/models/test_block_documents.py
Owners: @madkinsz

Fix docstring issues causing mkdocstring failures
  src/prefect/client/base.py
  src/prefect/client/orion.py
  src/prefect/flows.py
  src/prefect/tasks.py
  src/prefect/utilities/collections.py
Owners: @madkinsz

Fix the `--skip-upload` flag in the Deployment build CLI (#7437)
  src/prefect/cli/deployment.py
  tests/cli/test_deployment_cli.py
Owners: @cicdw, @madkinsz

Fix the `--skip-upload` flag in the Deployment build CLI (#7437)
  src/prefect/cli/deployment.py
  tests/cli/test_deployment_cli.py
Owners: @cicdw, @madkinsz

Fix the `--skip-upload` flag in the Deployment build CLI (#7437)
  src/prefect/cli/deployment.py
  tests/cli/test_deployment_cli.py
Owners: @cicdw, @madkinsz

Create setting for UI URL and clarify Cloud API URL (#7411)
  src/prefect/cli/block.py
  src/prefect/cli/cloud.py
  src/prefect/cli/deployment.py
  src/prefect/cli/orion_utils.py
  src/prefect/cli/root.py
  src/prefect/client/cloud.py
  src/prefect/logging/configuration.py
  src/prefect/settings.py
  tests/cli/test_deployment_cli.py
  tests/cli/test_version.py
  tests/test_settings.py
Owners: @madkinsz, @cicdw

Create setting for UI URL and clarify Cloud API URL (#7411)
  src/prefect/cli/block.py
  src/prefect/cli/cloud.py
  src/prefect/cli/deployment.py
  src/prefect/cli/orion_utils.py
  src/prefect/cli/root.py
  src/prefect/client/cloud.py
  src/prefect/logging/configuration.py
  src/prefect/settings.py
  tests/cli/test_deployment_cli.py
  tests/cli/test_version.py
  tests/test_settings.py
Owners: @madkinsz, @cicdw

Create setting for UI URL and clarify Cloud API URL (#7411)
  src/prefect/cli/block.py
  src/prefect/cli/cloud.py
  src/prefect/cli/deployment.py
  src/prefect/cli/orion_utils.py
  src/prefect/cli/root.py
  src/prefect/client/cloud.py
  src/prefect/logging/configuration.py
  src/prefect/settings.py
  tests/cli/test_deployment_cli.py
  tests/cli/test_version.py
  tests/test_settings.py
Owners: @madkinsz, @cicdw

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# deployments
/src/prefect/cli/deployment.py       @cicdw
/src/prefect/deployments.py          @cicdw

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey
mkdocs.yml                           @tpdorsey
mkdocs.insiders.yml                  @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator
