Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @madkinsz, @zangell44, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @madkinsz

# orion server
/src/prefect/orion                   @zangell44 @madkinsz

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @anticorrelator

# database configuration / models
/src/prefect/orion/database          @anticorrelator

Update docs/tutorials/testing.md
  docs/tutorials/testing.md
Owners: @tpdorsey

Update docs/tutorials/testing.md
  docs/tutorials/testing.md
Owners: @tpdorsey

Update docs/tutorials/testing.md
  docs/tutorials/testing.md
Owners: @tpdorsey

Update vue-compositions
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Update vue-compositions
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Update vue-compositions
  orion-ui/package-lock.json
  orion-ui/package.json
Owners: @pleek91

Add contributors
  RELEASE-NOTES.md
Owners: @madkinsz

Add contributors
  RELEASE-NOTES.md
Owners: @madkinsz

Add contributors
  RELEASE-NOTES.md
Owners: @madkinsz

Add newline
  RELEASE-NOTES.md
Owners: @madkinsz

Add newline
  RELEASE-NOTES.md
Owners: @madkinsz

Add newline
  RELEASE-NOTES.md
Owners: @madkinsz

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @madkinsz

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @madkinsz

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @madkinsz

Fix references to point to collections
  docs/concepts/task-runners.md
Owners: @tpdorsey

Fix references to point to collections
  docs/concepts/task-runners.md
Owners: @tpdorsey

Fix references to point to collections
  docs/concepts/task-runners.md
Owners: @tpdorsey

Clarify deprecation
  RELEASE-NOTES.md
Owners: @madkinsz

Clarify deprecation
  RELEASE-NOTES.md
Owners: @madkinsz

Clarify deprecation
  RELEASE-NOTES.md
Owners: @madkinsz

Update docs/ui/overview.md
  docs/ui/overview.md
Owners: @tpdorsey

Update docs/ui/overview.md
  docs/ui/overview.md
Owners: @tpdorsey

Update docs/ui/overview.md
  docs/ui/overview.md
Owners: @tpdorsey

Fixes failing tests
  tests/fixtures/database.py
Owners: @madkinsz

Fixes failing tests
  tests/fixtures/database.py
Owners: @madkinsz

Fixes failing tests
  tests/fixtures/database.py
Owners: @madkinsz

separate tests
  tests/orion/models/test_deployments.py
Owners: @madkinsz

separate tests
  tests/orion/models/test_deployments.py
Owners: @madkinsz

separate tests
  tests/orion/models/test_deployments.py
Owners: @madkinsz

Remove block schema update
  RELEASE-NOTES.md
Owners: @madkinsz

Remove block schema update
  RELEASE-NOTES.md
Owners: @madkinsz

Remove block schema update
  RELEASE-NOTES.md
Owners: @madkinsz

Reuse the existing client for type/schema registration
  src/prefect/blocks/core.py
Owners: @madkinsz

Reuse the existing client for type/schema registration
  src/prefect/blocks/core.py
Owners: @madkinsz

Reuse the existing client for type/schema registration
  src/prefect/blocks/core.py
Owners: @madkinsz

Only include the name for non-anonymous blocks
  src/prefect/blocks/core.py
Owners: @madkinsz

Only include the name for non-anonymous blocks
  src/prefect/blocks/core.py
Owners: @madkinsz

Only include the name for non-anonymous blocks
  src/prefect/blocks/core.py
Owners: @madkinsz

typo
  RELEASE-NOTES.md
Owners: @madkinsz
