Repository PrefectHQ/prefect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PrefectHQ/open-source, @zangell44, @cicdw, @pleek91, @tpdorsey, @anticorrelator

.github/CODEOWNERS:

# global
*                                    @PrefectHQ/open-source

# orion server
/src/prefect/orion                   @PrefectHQ/open-source @zangell44

# deployments
/src/prefect/cli/deployment.py       @PrefectHQ/open-source @cicdw
/src/prefect/deployments.py          @PrefectHQ/open-source @cicdw

# ui
/orion-ui                            @pleek91

# documentation
/docs                                @tpdorsey
mkdocs.yml                           @tpdorsey
mkdocs.insiders.yml                  @tpdorsey

# orchestration rules / policies
/src/prefect/orion/orchestration     @PrefectHQ/open-source @anticorrelator

# database configuration / models
/src/prefect/orion/database          @PrefectHQ/open-source @anticorrelator

Remove unnecessary empty filters
  orion-ui/src/pages/Deployments.vue
  orion-ui/src/pages/Flows.vue
Owners: @pleek91

Remove unused Cloud Getting Started page (#8291)
  docs/ui/cloud-getting-started.md
Owners: @tpdorsey

Remove unused Cloud Getting Started page (#8291)
  docs/ui/cloud-getting-started.md
Owners: @tpdorsey

Remove unused Cloud Getting Started page (#8291)
  docs/ui/cloud-getting-started.md
Owners: @tpdorsey

Update docs/concepts/settings.md
  docs/concepts/settings.md
Owners: @tpdorsey

fix typo in faq, could should be cloud
  docs/faq.md
Owners: @tpdorsey

Makes changes from sync code review
  src/prefect/agent.py
Owners: @PrefectHQ/open-source

Add tests, documentation
  docs/concepts/logs.md
  src/prefect/logging/handlers.py
  tests/test_logging.py
Owners: @tpdorsey, @PrefectHQ/open-source

Fixes test
  tests/agent/test_agent_run_submission.py
Owners: @PrefectHQ/open-source

updated analytics
  mkdocs.yml
Owners: @tpdorsey

update analytics
  docs/.vuepress/config.js
Owners: @tpdorsey

add v2 link block, minor edits
  README.md
  docs/core/README.md
  docs/core/about_prefect/next-steps.md
  docs/core/about_prefect/thinking-prefectly.md
  docs/core/about_prefect/why-not-airflow.md
  docs/core/about_prefect/why-prefect.md
  docs/core/code_of_conduct.md
  docs/core/community.md
  docs/core/faq.md
  docs/index.md
Owners: @PrefectHQ/open-source, @tpdorsey

Fix Prefect Cloud typo in FAQ (#8317)
  docs/faq.md
Owners: @tpdorsey

Fix Prefect Cloud typo in FAQ (#8317)
  docs/faq.md
Owners: @tpdorsey

Fix Prefect Cloud typo in FAQ (#8317)
  docs/faq.md
Owners: @tpdorsey

fixup: use correct kubernetes package val
  setup.py
Owners: @PrefectHQ/open-source

Update Issue bot (#8297)
  .github/workflows/issue-bot.yaml
Owners: @PrefectHQ/open-source

Update Issue bot (#8297)
  .github/workflows/issue-bot.yaml
Owners: @PrefectHQ/open-source

Update Issue bot (#8297)
  .github/workflows/issue-bot.yaml
Owners: @PrefectHQ/open-source

Flix CLI tests
  src/prefect/cli/work_queue.py
  tests/cli/test_work_queues.py
Owners: @PrefectHQ/open-source

allow snakecase in maps folder
  orion-ui/.vscode/settings.json
  orion-ui/src/maps/.eslintrc.json
Owners: @pleek91

Apply suggestions from code review
  docs/concepts/logs.md
Owners: @tpdorsey

Mention reverse proxy for PREFECT_API_URL config (#8240)
  docs/concepts/settings.md
Owners: @tpdorsey

Mention reverse proxy for PREFECT_API_URL config (#8240)
  docs/concepts/settings.md
Owners: @tpdorsey

Mention reverse proxy for PREFECT_API_URL config (#8240)
  docs/concepts/settings.md
Owners: @tpdorsey

Improve setting docstring
  src/prefect/settings.py
Owners: @PrefectHQ/open-source

fixup: kubernetes package version to conform to v66 of setuptools (#8320)
  setup.py
Owners: @PrefectHQ/open-source

resolve merge conflicts
  tests/cli/test_orion.py
Owners: @PrefectHQ/open-source

resolve merge conflicts2
  tests/cli/test_orion.py
Owners: @PrefectHQ/open-source

add descriptive fn name to tests
  tests/cli/test_orion.py
Owners: @PrefectHQ/open-source

allow snakecase in maps folder (#8322)
  orion-ui/.vscode/settings.json
  orion-ui/src/maps/.eslintrc.json
Owners: @pleek91

allow snakecase in maps folder (#8322)
  orion-ui/.vscode/settings.json
  orion-ui/src/maps/.eslintrc.json
Owners: @pleek91

allow snakecase in maps folder (#8322)
  orion-ui/.vscode/settings.json
  orion-ui/src/maps/.eslintrc.json
Owners: @pleek91

suggested changes
  docs/concepts/infrastructure.md
Owners: @tpdorsey

Refactor for smaller scope migration
  src/prefect/orion/database/migrations/versions/postgresql/2023_01_26_152801_0a1250a5aa25_expand_work_queue_table.py
  src/prefect/orion/database/migrations/versions/sqlite/2023_01_25_114348_b9bda9f142f1_expand_work_queue_table.py
  src/prefect/orion/models/work_queues.py
  src/prefect/orion/models/workers.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/schemas/responses.py
  tests/orion/api/test_work_queues.py
  tests/orion/api/test_workers.py
  tests/orion/database/test_migrations.py
  tests/orion/models/test_work_queues.py
  tests/orion/models/test_workers.py
  tests/test_deployments.py
Owners: @PrefectHQ/open-source, @anticorrelator, @zangell44

Updated KubernetesJob customization
  docs/concepts/infrastructure.md
Owners: @tpdorsey

I did not anticipate the future
  tests/cli/deployment/test_deployment_run.py
Owners: @PrefectHQ/open-source

Fix start at tests
  tests/cli/deployment/test_deployment_run.py
Owners: @PrefectHQ/open-source

Skip work pool specific test until future migration is added
  tests/orion/database/test_queries.py
Owners: @PrefectHQ/open-source

Fix tests for scheduled flow runs CLI `--start-at` option (#8330)
  tests/cli/deployment/test_deployment_run.py
Owners: @PrefectHQ/open-source
