Repository PrefectHQ/prefect, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, migration, upstream dependency, ui-replatform

add support for recurse submodules and sparse checkout
  tests/runner/test_storage.py
Labels: none

Restore storage and test storage code from main branch
  src/prefect/runner/storage.py
  tests/runner/test_storage.py
Labels: none

Refresh branch
  src/prefect/deployments/steps/pull.py
Labels: none

* Added new function for checking if repo is sparsely checked out * added directory to test steps
  src/prefect/deployments/steps/pull.py
  src/prefect/runner/storage.py
  tests/deployment/test_steps.py
Labels: none

use directories to set the sparse-checkout after repo clone
  src/prefect/runner/storage.py
  src/prefect/testing/utilities.py
Labels: none

[typing] prefect.server.utilities.database
  src/prefect/server/api/run_history.py
  src/prefect/server/api/ui/task_runs.py
  src/prefect/server/database/configurations.py
  src/prefect/server/database/interface.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/database/query_components.py
  src/prefect/server/events/counting.py
  src/prefect/server/events/filters.py
  src/prefect/server/models/concurrency_limits_v2.py
  src/prefect/server/models/deployments.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/utilities/database.py
  tests/server/utilities/test_database.py
Labels: none

Update tests
  src/prefect/deployments/steps/pull.py
  tests/runner/test_storage.py
Labels: none

Add database connection settings for statement cache size
  docs/v3/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/server/database/configurations.py
  src/prefect/settings/models/server/database.py
  tests/test_settings.py
Labels: docs

schema changes
  ui-v2/src/api/prefect.ts
Labels: ui-replatform

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

migration:
  - changed-files:
      - any-glob-to-any-file: src/**/migrations/**/*.py

upstream dependency:
  - changed-files:
      - any-glob-to-any-file: 
        - requirements.txt
        - requirements-client.txt
        - requirements-dev.txt

2.x:
  - base-branch: '2.x'

ui-replatform:
  - changed-files:
      - any-glob-to-any-file: ui-v2/**
