Repository PrefectHQ/prefect, pull requests merged in 2019-07, with the labels that each got.

#1204 "Tasks which" -> "Tasks that" (and a couple other which -> that changes)
  CODE_OF_CONDUCT.md
  docs/generate_docs.py
  docs/guide/PINs/PIN-3-Agent-Environment.md
  docs/guide/PINs/PIN-5-Combining-Tasks.md
  docs/guide/PINs/PIN-7-Storage-Execution.md
  docs/guide/PINs/PIN-8-Listener-Flows.md
  docs/guide/core_concepts/results.md
  docs/guide/core_concepts/tasks.md
  docs/guide/examples/flow_state_handler_viz.md
  docs/guide/examples/parameterized_flow.md
  docs/guide/examples/retries_with_mapping.md
  docs/guide/examples/state_handler_logging.md
  docs/guide/task_library/aws.md
  docs/guide/task_library/google.md
  docs/guide/task_library/kubernetes.md
  docs/guide/tutorials/advanced-mapping.md
  docs/guide/tutorials/local-debugging.md
  docs/guide/welcome/why_not_airflow.md
  examples/flow_state_handler_viz.py
  examples/parameterized_flow.py
  examples/retries_with_mapping.py
  examples/state_handler_logging.py
  src/prefect/client/client.py
  src/prefect/core/flow.py
  src/prefect/core/task.py
  src/prefect/engine/cache_validators.py
  src/prefect/engine/executors/base.py
  src/prefect/engine/executors/dask.py
  src/prefect/engine/executors/sync.py
  src/prefect/engine/result.py
  src/prefect/engine/state.py
  src/prefect/environments/storage/__init__.py
  src/prefect/environments/storage/docker.py
  src/prefect/tasks/aws/__init__.py
  src/prefect/tasks/aws/lambda_function.py
  src/prefect/tasks/aws/s3.py
  src/prefect/tasks/aws/step_function.py
  src/prefect/tasks/core/function.py
  src/prefect/tasks/docker/__init__.py
  src/prefect/tasks/docker/containers.py
  src/prefect/tasks/google/__init__.py
  src/prefect/tasks/google/bigquery.py
  src/prefect/tasks/kubernetes/__init__.py
  src/prefect/tasks/redis/redis_tasks.py
  src/prefect/utilities/notifications.py
  src/prefect/utilities/tasks.py
Labels: docs

#1215 Add RemoteEnvironment
  CHANGELOG.md
  docs/outline.toml
  src/prefect/environments/__init__.py
  src/prefect/environments/execution/remote/__init__.py
  src/prefect/environments/execution/remote/environment.py
  src/prefect/serialization/environment.py
  tests/environments/execution/test_remote_environment.py
  tests/serialization/test_environments.py
Labels: RFC, cloud

#1205 Add DropboxDownload task
  CHANGELOG.md
  docs/guide/task_library/dropbox.md
  docs/outline.toml
  setup.py
  src/prefect/client/secrets.py
  src/prefect/engine/signals.py
  src/prefect/tasks/dropbox/__init__.py
  src/prefect/tasks/dropbox/dropbox.py
  tests/tasks/dropbox/__init__.py
  tests/tasks/dropbox/test_dropbox.py
Labels: task library

#1206 Add GCSCopy task
  CHANGELOG.md
  docs/guide/task_library/google.md
  docs/outline.toml
  examples/task_library/google/storage.py
  src/prefect/tasks/google/__init__.py
  src/prefect/tasks/google/storage.py
  tests/tasks/google/test_gcs_copy.py
  tests/tasks/google/test_gcs_upload_download.py
Labels: task library

#1220 Update NPM dependencies for doc generation
  package-lock.json
  package.json
Labels: docs

#1193 Update Client with new GQL log endpoint
  CHANGELOG.md
  src/prefect/client/client.py
  src/prefect/config.toml
  src/prefect/environments/execution/cloud/environment.py
  src/prefect/environments/execution/cloud/job.yaml
  src/prefect/environments/execution/cloud/worker_pod.yaml
  src/prefect/utilities/logging.py
  tests/client/test_client.py
  tests/environments/execution/test_cloud_environment.py
  tests/utilities/test_logging.py
Labels: breaking change

#1241 Added log streaming to run CLI command
  CHANGELOG.md
  src/prefect/cli/run.py
Labels: CLI
