Repository PrefectHQ/prefect, pull requests merged in 2019-09, with the labels that each got.

#1443 Add API URL to Cloud docs
  docs/cloud/cloud_concepts/api.md
Labels: docs

#1441 Add Platform check to Local Agent
  CHANGELOG.md
  docs/cloud/agent/local.md
  src/prefect/agent/local/agent.py
  src/prefect/cli/agent.py
  src/prefect/environments/storage/docker.py
  tests/cli/test_agent.py
Labels: CLI, agent

#1459 Raise AuthorizationError on missing agent token
  CHANGELOG.md
  src/prefect/agent/agent.py
  tests/agent/test_agent.py
  tests/agent/test_k8s_agent.py
  tests/agent/test_local_agent.py
  tests/agent/test_nomad_agent.py
  tests/cli/test_agent.py
  tests/conftest.py
Labels: agent

#1463 Add logging concept doc
  docs/guide/core_concepts/logging.md
Labels: docs

#1462 Remove restriction on DotDict critical keys
  CHANGELOG.md
  src/prefect/utilities/collections.py
  src/prefect/utilities/graphql.py
  tests/utilities/test_collections.py
Labels: enhancement

#1469 Move k8s agent deployment imagePullSecrets level
  CHANGELOG.md
  src/prefect/agent/kubernetes/deployment.yaml
Labels: agent

#1474 Kubernetes Agent Liveness Probe
  CHANGELOG.md
  src/prefect/agent/agent.py
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/kubernetes/deployment.yaml
  tests/agent/test_agent.py
  tests/agent/test_k8s_agent.py
Labels: agent

#1521 Add Fargate Agent
  CHANGELOG.md
  src/prefect/agent/__init__.py
  src/prefect/agent/fargate/__init__.py
  src/prefect/agent/fargate/agent.py
  src/prefect/cli/agent.py
  tests/agent/test_fargate_agent.py
Labels: agent

#1524 Remove imagePullSecrets on k8s agent install if not provided
  CHANGELOG.md
  src/prefect/agent/kubernetes/agent.py
  src/prefect/cli/agent.py
  tests/agent/test_k8s_agent.py
  tests/cli/test_agent.py
Labels: agent

#1525 On empty registry_url skip Docker Storage push and Local Agent pull
  CHANGELOG.md
  src/prefect/agent/local/agent.py
  src/prefect/environments/storage/docker.py
  tests/agent/test_local_agent.py
  tests/environments/storage/test_docker_storage.py
Labels: agent

#1528 Agent Platform Error Logs for Flow Runs
  CHANGELOG.md
  src/prefect/agent/agent.py
  tests/agent/test_agent.py
Labels: agent

#1531 Handle agent error logging for no flow runs found
  src/prefect/agent/agent.py
  tests/agent/test_agent.py
Labels: agent, bug

#1532 Add Verbose Agent Logging Option
  CHANGELOG.md
  src/prefect/agent/agent.py
  src/prefect/agent/fargate/agent.py
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/local/agent.py
  src/prefect/cli/agent.py
  src/prefect/config.toml
  tests/agent/test_agent.py
  tests/cli/test_agent.py
Labels: agent, enhancement

#1534 Enable Custom Specs for Dask Scheduler and Workers using the DaskKubernetesEnvironment
  CHANGELOG.md
  src/prefect/cli/execute.py
  src/prefect/environments/execution/dask/job.yaml
  src/prefect/environments/execution/dask/k8s.py
  src/prefect/environments/execution/dask/worker_pod.yaml
  src/prefect/serialization/environment.py
  tests/environments/execution/test_dask_k8s_environment.py
  tests/serialization/test_environments.py
Labels: enhancement

#1540 Fargate Agent Doc and Agent API Docs
  docs/.vuepress/config.js
  docs/cloud/agent/fargate.md
  docs/outline.toml
  src/prefect/agent/agent.py
  src/prefect/agent/fargate/agent.py
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/local/agent.py
Labels: docs

#1542 Cut 0.6.5 API Docs
  docs/.vuepress/config.js
  docs/api/0.6.5/README.md
  docs/api/0.6.5/changelog.md
  docs/api/0.6.5/client/client.md
  docs/api/0.6.5/client/secrets.md
  docs/api/0.6.5/core/edge.md
  docs/api/0.6.5/core/flow.md
  docs/api/0.6.5/core/task.md
  docs/api/0.6.5/coverage.md
  docs/api/0.6.5/engine/cache_validators.md
  docs/api/0.6.5/engine/cloud.md
  docs/api/0.6.5/engine/executors.md
  docs/api/0.6.5/engine/flow_runner.md
  docs/api/0.6.5/engine/result.md
  docs/api/0.6.5/engine/result_handlers.md
  docs/api/0.6.5/engine/signals.md
  docs/api/0.6.5/engine/state.md
  docs/api/0.6.5/engine/task_runner.md
  docs/api/0.6.5/environments/execution.md
  docs/api/0.6.5/environments/storage.md
  docs/api/0.6.5/schedules/adjustments.md
  docs/api/0.6.5/schedules/clocks.md
  docs/api/0.6.5/schedules/filters.md
  docs/api/0.6.5/schedules/schedules.md
  docs/api/0.6.5/sidebar.js
  docs/api/0.6.5/tasks/airflow.md
  docs/api/0.6.5/tasks/airtable.md
  docs/api/0.6.5/tasks/aws.md
  docs/api/0.6.5/tasks/collections.md
  docs/api/0.6.5/tasks/constants.md
  docs/api/0.6.5/tasks/control_flow.md
  docs/api/0.6.5/tasks/docker.md
  docs/api/0.6.5/tasks/dropbox.md
  docs/api/0.6.5/tasks/function.md
  docs/api/0.6.5/tasks/github.md
  docs/api/0.6.5/tasks/google.md
  docs/api/0.6.5/tasks/kubernetes.md
  docs/api/0.6.5/tasks/notifications.md
  docs/api/0.6.5/tasks/operators.md
  docs/api/0.6.5/tasks/postgres.md
  docs/api/0.6.5/tasks/redis.md
  docs/api/0.6.5/tasks/rss.md
  docs/api/0.6.5/tasks/shell.md
  docs/api/0.6.5/tasks/snowflake.md
  docs/api/0.6.5/tasks/spacy.md
  docs/api/0.6.5/tasks/sqlite.md
  docs/api/0.6.5/tasks/strings.md
  docs/api/0.6.5/tasks/twitter.md
  docs/api/0.6.5/triggers.md
  docs/api/0.6.5/utilities/collections.md
  docs/api/0.6.5/utilities/configuration.md
  docs/api/0.6.5/utilities/context.md
  docs/api/0.6.5/utilities/debug.md
  docs/api/0.6.5/utilities/executors.md
  docs/api/0.6.5/utilities/graphql.md
  docs/api/0.6.5/utilities/logging.md
  docs/api/0.6.5/utilities/notifications.md
  docs/api/0.6.5/utilities/serialization.md
  docs/api/0.6.5/utilities/tasks.md
Labels: docs

#1546 Token Management Doc & Simplify Up and Running Doc
  docs/.vuepress/public/token_created.png
  docs/.vuepress/public/token_delete.png
  docs/.vuepress/public/token_naming.png
  docs/.vuepress/public/token_screen.png
  docs/cloud/agent/local.md
  docs/cloud/agent/overview.md
  docs/cloud/concepts/tokens.md
  docs/cloud/upandrunning.md
Labels: docs

#1547 Remove pitfall doc reference to DockerEnvironment
  docs/core/concepts/common-pitfalls.md
Labels: docs

#1548 Kubernetes Job Environment
  CHANGELOG.md
  docs/outline.toml
  src/prefect/environments/__init__.py
  src/prefect/environments/execution/__init__.py
  src/prefect/environments/execution/k8s/__init__.py
  src/prefect/environments/execution/k8s/job.py
  src/prefect/serialization/environment.py
  tests/environments/execution/test_k8s_job_environment.py
  tests/serialization/test_environments.py
Labels: enhancement

#1559 QA Kubernetes Tasks
  CHANGELOG.md
  src/prefect/tasks/kubernetes/deployment.py
  src/prefect/tasks/kubernetes/job.py
  src/prefect/tasks/kubernetes/pod.py
  src/prefect/tasks/kubernetes/service.py
  tests/tasks/kubernetes/test_deployment.py
  tests/tasks/kubernetes/test_job.py
  tests/tasks/kubernetes/test_pod.py
  tests/tasks/kubernetes/test_service.py
Labels: task library

#1560 Minor CLI Test Additions
  tests/cli/test_execute.py
  tests/cli/test_run.py
Labels: CLI, tests

#1573 Pin prefecthq/prefect image version on agent deployment yaml
  CHANGELOG.md
  src/prefect/agent/kubernetes/agent.py
  src/prefect/cli/agent.py
  tests/agent/test_k8s_agent.py
Labels: CLI, agent
