Repository PrefectHQ/prefect, pull requests merged in 2019-12, with the labels that each got.

#1789 Deploy -> Register
  docs/cloud/agent/docker.md
  docs/cloud/agent/fargate.md
  docs/cloud/agent/local.md
  docs/cloud/concepts/cli.md
  docs/cloud/concepts/concurrency-limiting.md
  docs/cloud/concepts/flows.md
  docs/cloud/concepts/projects.md
  docs/cloud/deployment.md
  docs/cloud/execution/dask_k8s_environment.md
  docs/cloud/execution/overview.md
  docs/cloud/execution/remote_environment.md
  docs/cloud/faq.md
  docs/cloud/flow-deploy.md
  docs/cloud/recipes/configuring_storage.md
  docs/cloud/recipes/multi_flow_storage.md
  docs/cloud/the-basics.md
  docs/cloud/upandrunning.md
  src/prefect/agent/local/agent.py
  src/prefect/cli/run.py
  src/prefect/client/client.py
  src/prefect/core/flow.py
  src/prefect/environments/storage/local.py
  src/prefect/utilities/debug.py
  tests/client/test_client.py
  tests/core/test_flow.py
Labels: refactor

#1799 Fix cloud task runner heartbeat test
  src/prefect/engine/task_runner.py
  tests/engine/cloud/test_cloud_task_runner.py
Labels: tests

#1753 S3 Storage
  CHANGELOG.md
  src/prefect/environments/storage/__init__.py
  src/prefect/environments/storage/base.py
  src/prefect/environments/storage/docker.py
  src/prefect/environments/storage/s3.py
  src/prefect/serialization/storage.py
  tests/environments/storage/test_docker_storage.py
  tests/environments/storage/test_s3_storage.py
  tests/serialization/test_storage.py
Labels: enhancement

#1809 Add Google Cloud Storage backend
  CHANGELOG.md
  src/prefect/environments/storage/__init__.py
  src/prefect/environments/storage/gcs.py
  src/prefect/serialization/storage.py
  src/prefect/utilities/exceptions.py
  tests/environments/storage/test_gcs_storage.py
  tests/serialization/test_storage.py
Labels: enhancement

#1822 Kubernetes Agent install default RBAC option
  CHANGELOG.md
  docs/cloud/agent/kubernetes.md
  docs/cloud/agent/local.md
  docs/cloud/tutorial/k8s.md
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/kubernetes/rbac.yaml
  src/prefect/cli/agent.py
  tests/agent/test_k8s_agent.py
  tests/cli/test_agent.py
Labels: CLI, agent, enhancement

#1826 Add flow run name to env vars set by Docker Agent
  src/prefect/agent/docker/agent.py
  tests/agent/test_docker_agent.py
Labels: agent

#1825 Allow multiple storage options for Local Agent
  src/prefect/agent/local/agent.py
  tests/agent/test_local_agent.py
Labels: agent

#1828 Add default Flow storage to CHANGELOG
  CHANGELOG.md
Labels: docs

#1834 Add double quotes around flow run names for Agents and Environments
  CHANGELOG.md
  src/prefect/agent/docker/agent.py
  src/prefect/agent/fargate/agent.py
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/local/agent.py
  src/prefect/agent/nomad/agent.py
  src/prefect/environments/execution/dask/k8s.py
  src/prefect/environments/execution/fargate/fargate_task.py
  src/prefect/environments/execution/k8s/job.py
  tests/agent/test_docker_agent.py
  tests/agent/test_fargate_agent.py
  tests/agent/test_k8s_agent.py
  tests/agent/test_local_agent.py
  tests/agent/test_nomad_agent.py
  tests/environments/execution/test_dask_k8s_environment.py
  tests/environments/execution/test_fargate_task_environment.py
  tests/environments/execution/test_k8s_job_environment.py
Labels: agent, environment

#1835 Minor tweaks to Agent documentation
  docs/cloud/agent/kubernetes.md
  docs/cloud/agent/overview.md
  src/prefect/cli/agent.py
Labels: docs

#1842 Add `--latest` flag for Kubernetes Agent CLI install command
  CHANGELOG.md
  src/prefect/agent/kubernetes/agent.py
  src/prefect/cli/agent.py
  tests/agent/test_k8s_agent.py
  tests/cli/test_agent.py
Labels: CLI, agent

#1847 Instantiate executor in Fargate Task Environment
  src/prefect/environments/execution/fargate/fargate_task.py
Labels: environment

#1846 Bump kubernetes upper bound to 11.0.0b2
  setup.py
Labels: dependencies

#1848 Agent Process Enhancements
  CHANGELOG.md
  docs/cloud/agent/overview.md
  src/prefect/agent/agent.py
  src/prefect/agent/docker/agent.py
  src/prefect/agent/fargate/agent.py
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/local/agent.py
  src/prefect/agent/nomad/agent.py
  tests/agent/test_agent.py
  tests/agent/test_docker_agent.py
  tests/agent/test_fargate_agent.py
  tests/agent/test_k8s_agent.py
  tests/agent/test_local_agent.py
  tests/agent/test_nomad_agent.py
Labels: agent, refactor

#1859 Prefect k8s Job resource configuration and start w/ namespace option
  CHANGELOG.md
  docs/cloud/agent/kubernetes.md
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/kubernetes/deployment.yaml
  src/prefect/cli/agent.py
  tests/agent/test_k8s_agent.py
  tests/cli/test_agent.py
Labels: CLI, agent

#1864 Pass Agent auth token to Local Agent subprocesses
  src/prefect/agent/local/agent.py
  tests/agent/test_local_agent.py
Labels: agent

#1879 add a link to The Prefect Blog to the README
  README.md
Labels: docs
