Repository PrefectHQ/prefect, pull requests merged in 2019-03, with the labels that each got.

#827 Add note on modularity
  docs/guide/welcome/prefect_design.md
Labels: docs

#830 Fix link to test coverage
  docs/generate_docs.py
Labels: bug

#833 documentation styling updates
  docs/.vuepress/style.styl
Labels: docs, enhancement

#839 Set Parameter checkpoint to a False default
  CHANGELOG.md
  src/prefect/core/task.py
  tests/core/test_flow.py
  tests/core/test_task.py
  tests/engine/test_task_runner.py
Labels: class: Task

#840 Removed outdated comparison doc
  docs/.vuepress/config.js
  docs/guide/comparisons/README.md
  docs/guide/comparisons/airflow.md
Labels: docs

#845 Change `processes` to `local_processes` in Dask Executor related docs
  docs/guide/tutorials/advanced-mapping.md
  docs/guide/tutorials/local-debugging.md
Labels: docs

#856 ParseRSSFeed Task
  CHANGELOG.md
  docs/.vuepress/config.js
  docs/guide/task_library/rss.md
  docs/outline.toml
  setup.py
  src/prefect/tasks/rss/__init__.py
  src/prefect/tasks/rss/feed.py
  tests/tasks/rss/__init__.py
  tests/tasks/rss/test_feed.py
Labels: task library

#864 Add Docker Tasks to Task Library
  CHANGELOG.md
  docs/.vuepress/config.js
  docs/guide/task_library/docker.md
  docs/outline.toml
  src/prefect/tasks/__init__.py
  src/prefect/tasks/docker/__init__.py
  src/prefect/tasks/docker/containers.py
  src/prefect/tasks/docker/images.py
  src/prefect/tasks/kubernetes/deployment.py
  src/prefect/tasks/kubernetes/job.py
  src/prefect/tasks/kubernetes/pod.py
  src/prefect/tasks/kubernetes/service.py
  src/prefect/tasks/rss/feed.py
  tests/tasks/docker/__init__.py
  tests/tasks/docker/test_containers.py
  tests/tasks/docker/test_images.py
Labels: task library

#872 Update PIN from decision -> proposal
  docs/guide/PINs/PIN-1-Introduce-PINs.md
  docs/guide/PINs/PIN-2-Result-Handlers.md
  docs/guide/PINs/PIN-3-Agent-Environment.md
  docs/guide/PINs/PIN-4-Result-Objects.md
  docs/guide/PINs/PIN-5-Combining-Tasks.md
Labels: PIN
