Repository PrefectHQ/prefect, pull requests merged in 2019-08, with the labels that each got.

#1320 New-style schedules
  CHANGELOG.md
  docs/.vuepress/config.js
  docs/guide/core_concepts/schedules.md
  docs/outline.toml
  src/prefect/schedules.py
  src/prefect/schedules/__init__.py
  src/prefect/schedules/adjustments.py
  src/prefect/schedules/clocks.py
  src/prefect/schedules/filters.py
  src/prefect/schedules/schedules.py
  src/prefect/serialization/__init__.py
  src/prefect/serialization/schedule.py
  src/prefect/serialization/schedule_compat.py
  src/prefect/utilities/serialization.py
  tests/core/test_flow.py
  tests/schedules/__init__.py
  tests/schedules/test_adjustments.py
  tests/schedules/test_clocks.py
  tests/schedules/test_filters.py
  tests/schedules/test_schedules.py
  tests/serialization/test_schedules.py
  tests/serialization/test_tasks.py
  tests/test_schedules.py
  tests/utilities/test_serialization.py
Labels: cloud, enhancement

#1319 CLI Adjustments and Documentation
  CHANGELOG.md
  docs/guide/cloud_concepts/cli.md
  src/prefect/cli/__init__.py
  src/prefect/cli/auth.py
  src/prefect/cli/run.py
  src/prefect/cli/summarize.py
  tests/cli/test_auth.py
  tests/cli/test_summarize.py
Labels: CLI, docs

#1341 Hello Agent
  CHANGELOG.md
  setup.cfg
  src/prefect/__init__.py
  src/prefect/agent/__init__.py
  src/prefect/agent/agent.py
  src/prefect/agent/kubernetes/README.md
  src/prefect/agent/kubernetes/__init__.py
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/kubernetes/deployment.yaml
  src/prefect/agent/kubernetes/job_spec.yaml
  src/prefect/agent/kubernetes/resource_manager.py
  src/prefect/agent/local/__init__.py
  src/prefect/agent/local/agent.py
  src/prefect/agent/nomad/README.md
  src/prefect/agent/nomad/__init__.py
  src/prefect/agent/nomad/agent.py
  src/prefect/agent/nomad/deployment.nomad
  src/prefect/agent/nomad/job_spec.nomad
  src/prefect/cli/__init__.py
  src/prefect/cli/agent.py
  src/prefect/cli/auth.py
  src/prefect/client/client.py
  src/prefect/config.toml
  tests/cli/test_agent.py
Labels: agent

#1367 Update CLI secho color outputs
  src/prefect/cli/agent.py
  src/prefect/cli/auth.py
Labels: CLI

#1368 Add check for local images prior to pull in Local Agent
  src/prefect/agent/local/agent.py
  src/prefect/cli/agent.py
Labels: agent

#1389 Clean up agent CLI docstrings
  src/prefect/cli/agent.py
Labels: CLI

#1388 Add create project CLI command
  CHANGELOG.md
  src/prefect/cli/__init__.py
  src/prefect/cli/agent.py
  src/prefect/cli/create.py
  src/prefect/client/client.py
  tests/cli/test_create.py
Labels: CLI

#1393 Implement Agent Backoff
  src/prefect/agent/agent.py
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/kubernetes/deployment.yaml
  src/prefect/agent/nomad/deployment.nomad
  src/prefect/cli/agent.py
  src/prefect/config.toml
  tests/agent/test_agent.py
  tests/agent/test_k8s_agent.py
  tests/agent/test_local_agent.py
  tests/agent/test_nomad_agent.py
  tests/cli/test_agent.py
Labels: agent

#1427 Update state docs
  docs/guide/core_concepts/states.md
Labels: Prefect Slack Community, docs

#1431 Add new CLI auth flow w/ tests and docs
  CHANGELOG.md
  docs/cloud/cloud_concepts/cli.md
  src/prefect/cli/auth.py
  tests/cli/test_auth.py
Labels: CLI
