Repository PrefectHQ/prefect, pull requests merged in 2019-04, with the labels that each got.

#893 Release notes
  docs/.vuepress/config.js
  docs/guide/development/documentation.md
  docs/guide/development/release-checklist.md
Labels: docs

#906 Archive 0.5.1 docs and update release checklist
  docs/.vuepress/config.js
  docs/api/0.5.1/README.md
  docs/api/0.5.1/client/client.md
  docs/api/0.5.1/client/secrets.md
  docs/api/0.5.1/core/edge.md
  docs/api/0.5.1/core/flow.md
  docs/api/0.5.1/core/task.md
  docs/api/0.5.1/coverage.md
  docs/api/0.5.1/engine/cache_validators.md
  docs/api/0.5.1/engine/cloud.md
  docs/api/0.5.1/engine/executors.md
  docs/api/0.5.1/engine/flow_runner.md
  docs/api/0.5.1/engine/result.md
  docs/api/0.5.1/engine/result_handlers.md
  docs/api/0.5.1/engine/signals.md
  docs/api/0.5.1/engine/state.md
  docs/api/0.5.1/engine/task_runner.md
  docs/api/0.5.1/environments/base_environment.md
  docs/api/0.5.1/environments/environment.md
  docs/api/0.5.1/environments/kubernetes/dask_on_kubernetes.md
  docs/api/0.5.1/environments/kubernetes/docker_on_kubernetes.md
  docs/api/0.5.1/schedules.md
  docs/api/0.5.1/sidebar.js
  docs/api/0.5.1/tasks/airflow.md
  docs/api/0.5.1/tasks/airtable.md
  docs/api/0.5.1/tasks/aws.md
  docs/api/0.5.1/tasks/collections.md
  docs/api/0.5.1/tasks/constants.md
  docs/api/0.5.1/tasks/control_flow.md
  docs/api/0.5.1/tasks/docker.md
  docs/api/0.5.1/tasks/function.md
  docs/api/0.5.1/tasks/github.md
  docs/api/0.5.1/tasks/google.md
  docs/api/0.5.1/tasks/kubernetes.md
  docs/api/0.5.1/tasks/notifications.md
  docs/api/0.5.1/tasks/operators.md
  docs/api/0.5.1/tasks/rss.md
  docs/api/0.5.1/tasks/shell.md
  docs/api/0.5.1/tasks/sqlite.md
  docs/api/0.5.1/tasks/strings.md
  docs/api/0.5.1/tasks/twitter.md
  docs/api/0.5.1/triggers.md
  docs/api/0.5.1/utilities/collections.md
  docs/api/0.5.1/utilities/configuration.md
  docs/api/0.5.1/utilities/context.md
  docs/api/0.5.1/utilities/debug.md
  docs/api/0.5.1/utilities/environments.md
  docs/api/0.5.1/utilities/executors.md
  docs/api/0.5.1/utilities/graphql.md
  docs/api/0.5.1/utilities/logging.md
  docs/api/0.5.1/utilities/notifications.md
  docs/api/0.5.1/utilities/serialization.md
  docs/api/0.5.1/utilities/tasks.md
  docs/guide/development/release-checklist.md
Labels: docs

#909 Add example which uses state handlers to log durations
  .github/PULL_REQUEST_TEMPLATE.md
  docs/guide/examples/state_handler_logging.md
  examples/state_handler_logging.py
Labels: docs

#934 General Clean Up of Storage and Environments
  docs/.vuepress/config.js
  docs/guide/core_concepts/environments.md
  docs/guide/core_concepts/flows.md
  docs/outline.toml
  src/prefect/cli/__init__.py
  src/prefect/core/flow.py
  src/prefect/environments/__init__.py
  src/prefect/environments/docker.py
  src/prefect/environments/environment.py
  src/prefect/environments/execution/base.py
  src/prefect/environments/execution/cloud/environment.py
  src/prefect/environments/execution/cloud/job.yaml
  src/prefect/environments/execution/cloud/worker_pod.yaml
  src/prefect/environments/kubernetes/__init__.py
  src/prefect/environments/kubernetes/dask/__init__.py
  src/prefect/environments/kubernetes/dask/dask_on_kubernetes.py
  src/prefect/environments/kubernetes/dask/job.yaml
  src/prefect/environments/kubernetes/dask/worker_pod.yaml
  src/prefect/environments/kubernetes/docker/__init__.py
  src/prefect/environments/kubernetes/docker/docker_on_kubernetes.py
  src/prefect/environments/kubernetes/docker/job.yaml
  src/prefect/environments/local.py
  src/prefect/environments/storage/base.py
  src/prefect/environments/storage/bytes.py
  src/prefect/environments/storage/docker.py
  src/prefect/serialization/environment.py
  src/prefect/serialization/storage.py
  src/prefect/utilities/__init__.py
  src/prefect/utilities/environments.py
Labels: refactor

#940 Remove ids
  CHANGELOG.md
  docs/guide/core_concepts/tasks.md
  src/prefect/client/client.py
  src/prefect/core/flow.py
  src/prefect/core/task.py
  src/prefect/engine/cloud/flow_runner.py
  src/prefect/engine/cloud/task_runner.py
  src/prefect/engine/flow_runner.py
  src/prefect/serialization/edge.py
  src/prefect/serialization/flow.py
  src/prefect/serialization/task.py
  tests/client/test_client.py
  tests/core/test_edge.py
  tests/core/test_flow.py
  tests/core/test_task.py
  tests/engine/cloud/test_cloud_flows.py
  tests/engine/test_flow_runner.py
  tests/flows/test_parameter.py
  tests/serialization/test_edges.py
  tests/serialization/test_flows.py
  tests/serialization/test_tasks.py
Labels: breaking change, cloud
