Repository PrefectHQ/prefect, pull requests merged in 2019-05, with the labels that each got.

#1002 Added Prefect context namespace to CloudEnvironment
  src/prefect/environments/execution/cloud/environment.py
  src/prefect/environments/execution/cloud/job.yaml
  tests/environments/execution/test_cloud_environment.py
Labels: cloud

#1039 PIN-8: Event-Driven / Listener flows
  docs/guide/PINs/PIN-8-Listener-Flows.md
  docs/guide/PINs/README.md
Labels: PIN

#1046 Remove user_config_path from config to avoid circular loads
  docs/guide/core_concepts/configuration.md
  src/prefect/config.toml
  src/prefect/configuration.py
  tests/test_configuration.py
Labels: bug

#1052 Allow Local Images for Docker Storage
  CHANGELOG.md
  src/prefect/environments/storage/docker.py
  tests/environments/storage/test_docker_storage.py
Labels: enhancement

#1059 Prefect CLI: A New Hope 🚀
  CHANGELOG.md
  docs/guide/PINs/PIN-9-CLI.md
  requirements.txt
  src/prefect/cli/__init__.py
  src/prefect/cli/auth.py
  src/prefect/cli/describe.py
  src/prefect/cli/execute.py
  src/prefect/cli/get.py
  src/prefect/cli/run.py
  src/prefect/cli/summarize.py
  tests/cli/test_auth.py
  tests/cli/test_cli.py
  tests/cli/test_describe.py
  tests/cli/test_execute.py
  tests/cli/test_get.py
  tests/cli/test_init.py
  tests/cli/test_run.py
  tests/cli/test_summarize.py
Labels: CLI, enhancement
