Repository PrefectHQ/prefect, pull requests merged in 2020-05, with the labels that each got.

#2466 Use raw githubusercontent image links for main README
  README.md
Labels: docs

#2478 Add backend toggle to k8s agent install
  CHANGELOG.md
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/kubernetes/deployment.yaml
  src/prefect/cli/agent.py
  tests/agent/test_k8s_agent.py
  tests/cli/test_agent.py
Labels: agent

#2476 Update Core server endpoint warning in orchestration tutorial
  docs/orchestration/tutorial/k8s.md
Labels: docs

#2481 Update slack badge in README
  README.md
Labels: docs

#2488 Update changelog and API docs for 0.10.6
  CHANGELOG.md
  docs/.vuepress/config.js
Labels: docs

#2455 Prefect Idiom documentation section
  docs/.vuepress/config.js
  docs/.vuepress/public/faq/branching.png
  docs/.vuepress/public/faq/conditional_branch.png
  docs/.vuepress/public/faq/if_else_merge.png
  docs/.vuepress/public/faq/parallel.png
  docs/.vuepress/public/faq/unmapped.png
  docs/core/idioms/branching.md
  docs/core/idioms/idioms.md
  docs/core/idioms/logging.md
  docs/core/idioms/mapping.md
  docs/core/idioms/parallel.md
  docs/core/idioms/secrets.md
  docs/core/idioms/task-results.md
  docs/core/idioms/testing-flows.md
  src/prefect/config.toml
Labels: docs

#2492 Agent enhancements
  CHANGELOG.md
  src/prefect/agent/__init__.py
  src/prefect/agent/agent.py
  src/prefect/agent/docker/agent.py
  src/prefect/agent/fargate/agent.py
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/local/agent.py
  src/prefect/agent/nomad/__init__.py
  src/prefect/agent/nomad/agent.py
  src/prefect/agent/nomad/deployment.nomad
  src/prefect/agent/nomad/job_spec.nomad
  src/prefect/cli/agent.py
  tests/agent/test_agent.py
  tests/agent/test_docker_agent.py
  tests/agent/test_fargate_agent.py
  tests/agent/test_k8s_agent.py
  tests/agent/test_local_agent.py
  tests/agent/test_nomad_agent.py
  tests/cli/test_agent.py
Labels: agent

#2505 Update changelog and API docs for 0.10.7
  CHANGELOG.md
  docs/.vuepress/config.js
Labels: docs

#2513 Add note to flow runs doc about server runs
  docs/orchestration/concepts/flow_runs.md
Labels: docs

#2522 [WIP] Attempt to fix codecov's incorrect coverage stats
  test-requirements.txt
Labels: DONT MERGE, WIP

#2535 [Server] Prevent tasks from entering a running state if flow run is not running
  CHANGELOG.md
  server/src/prefect_server/api/states.py
  server/tests/api/test_runs.py
  server/tests/api/test_states.py
  server/tests/fixtures/database_fixtures.py
  server/tests/graphql/test_states.py
Labels: enhancement, server

#2542 Add new integrations to main readme
  README.md
  docs/.vuepress/public/logos/dbt.png
  docs/.vuepress/public/logos/jira.png
  docs/.vuepress/public/logos/pushbullet.png
  docs/core/task_library/dbt.md
  docs/core/task_library/jira.md
  docs/core/task_library/pushbullet.md
  docs/outline.toml
  src/prefect/tasks/dbt/dbt.py
Labels: docs

#2467 Feature/#2439 prefect server telemetry
  CHANGELOG.md
  docs/.vuepress/config.js
  docs/orchestration/server/telemetry.md
  server/docker/docker-compose.yml
  server/services/apollo/package-lock.json
  server/services/apollo/package.json
  server/services/apollo/src/index.js
  src/prefect/cli/docker-compose.yml
  src/prefect/cli/server.py
  src/prefect/config.toml
Labels: dependencies, enhancement, server

#2553 Add unique name option to Kubernetes Job Environment
  CHANGELOG.md
  src/prefect/environments/execution/k8s/job.py
  tests/environments/execution/test_k8s_job_environment.py
Labels: environment

#2548 Add idiom for using Result targets
  docs/core/idioms/idioms.md
  docs/core/idioms/targets.md
  src/prefect/engine/results/local_result.py
Labels: docs

#2557 Closes #2556: Fix wording in local agent documentation
  docs/orchestration/agents/local.md
Labels: docs

#2561 Update changelog contributors
  CHANGELOG.md
Labels: docs

#2570 Handle possible malformed evals in agent labels parsing
  CHANGELOG.md
  src/prefect/agent/agent.py
Labels: agent

#2599 Fix LocalAgent registration with default labels
  CHANGELOG.md
  src/prefect/agent/agent.py
  tests/agent/test_agent.py
  tests/cli/test_agent.py
Labels: agent

#2606 Update docs for 0.11.2
  CHANGELOG.md
  docs/.vuepress/config.js
Labels: docs

#2610 Fix dind-daemon yaml in docker sidecar recipe doc
  docs/orchestration/recipes/k8s_docker_sidecar.md
Labels: docs

#2617 Pause states have no "start_time"
  changes/pr-2617.yaml
  src/prefect/core/flow.py
  src/prefect/engine/state.py
  src/prefect/engine/task_runner.py
  src/prefect/environments/execution/local.py
  tests/core/test_flow.py
  tests/engine/test_state.py
  tests/engine/test_task_runner.py
  tests/environments/execution/test_local_environment.py
Labels: cloud

#2631 Use host IP for `hostname` label in cases where `LocalAgent` is in container using host network
  changes/issue2618.yaml
  src/prefect/agent/local/agent.py
  tests/agent/test_local_agent.py
Labels: agent

#2659 0.11.3 Changelog and Docs
  CHANGELOG.md
  changes/issue1588.yaml
  changes/issue2568.yaml
  changes/issue2604.yaml
  changes/issue2618.yaml
  changes/issue2623.yaml
  changes/issue2626.yaml
  changes/pr-2617.yaml
  changes/pr2560.yaml
  changes/pr2573.yaml
  changes/pr2620.yaml
  changes/pr2630.yaml
  changes/pr2651.yaml
  docs/.vuepress/config.js
  update_changelog.py
Labels: docs

#2664 0.11.4 Changelog and API Docs
  CHANGELOG.md
  docs/.vuepress/config.js
Labels: docs
