Repository PrefectHQ/prefect, pull requests merged in 2020-08, with the labels that each got.

#3079 Update telemetry documentation for Server II
  docs/orchestration/server/telemetry.md
Labels: docs

#3091 Pin watchpack to fix doc hot reloading
  package-lock.json
  package.json
Labels: docs tooling

#3092 Allow idempotency key in FlowRunTask when using server backend
  changes/issue3006.yaml
  src/prefect/tasks/prefect/flow_run.py
  tests/tasks/prefect/test_flow_run.py
Labels: task library

#3101 Fix image render in server docs
  docs/.vuepress/public/orchestration/server/server-endpoint.png
  docs/orchestration/server/architecture.md
  docs/orchestration/server/deploy-local.md
Labels: docs

#3112 Update API doc navbar to 0.13.1
  docs/.vuepress/config.js
Labels: docs

#3114 Update changelog generation to handle .yml files
  CHANGELOG.md
  changes/issue3051.yml
  update_changelog.py
Labels: docs

#3113 Determine flow run command based on flow version
  changes/pr3113.yaml
  src/prefect/agent/agent.py
  src/prefect/agent/docker/agent.py
  src/prefect/agent/fargate/agent.py
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/kubernetes/job_spec.yaml
  src/prefect/agent/local/agent.py
  src/prefect/utilities/agent.py
  tests/agent/test_docker_agent.py
  tests/agent/test_fargate_agent.py
  tests/agent/test_k8s_agent.py
  tests/agent/test_local_agent.py
  tests/utilities/test_agent.py
Labels: agent

#3129 Remove extra UUID labels from jobs created by the kubernetes agent
  changes/pr3129.yaml
  src/prefect/agent/kubernetes/job_spec.yaml
Labels: agent

#3134 Update dashboard image in readme
  README.md
  docs/.vuepress/public/orchestration/ui/dashboard-overview2.png
Labels: docs

#3135 Clean up orchestration API docs
  docs/orchestration/concepts/cloud_hooks.md
  docs/orchestration/concepts/flows.md
  docs/orchestration/concepts/services.md
  docs/orchestration/concepts/task-concurrency-limiting.md
Labels: docs

#3145 Update server UI doc
  docs/orchestration/server/deploy-local.md
Labels: docs, server

#3147 Add command for creating a tenant with server
  changes/pr3147.yaml
  src/prefect/cli/server.py
  tests/cli/test_server.py
Labels: CLI

#3154 Update pypi stats badge in README
  README.md
Labels: docs

#3168 Fix bug with retrieving cached states when cache_key is None
  changes/pr3168.yaml
  src/prefect/client/client.py
  src/prefect/environments/storage/webhook.py
Labels: bug

#3159 Remove imagePullSecrets from prefect k8s job if not set
  changes/issue3142.yaml
  src/prefect/agent/kubernetes/agent.py
  tests/agent/test_k8s_agent.py
Labels: agent

#3160 Update kubernetes agent CLI output in documentation
  docs/orchestration/agents/kubernetes.md
  src/prefect/environments/storage/docker.py
Labels: docs

#3161 Make kubernetes extra logger in DaskKubernetesEnvironment optional
  changes/issue2988.yaml
  src/prefect/environments/execution/dask/k8s.py
  tests/environments/execution/test_dask_k8s_environment.py
Labels: environment

#3182 0.13.3 Changelog and API version update
  CHANGELOG.md
  changes/issue2988.yaml
  changes/issue3142.yaml
  changes/issue3151.yaml
  changes/pr3146.yaml
  changes/pr3147.yaml
  changes/pr3168.yaml
  changes/pr3173.yaml
  changes/pr3177.yaml
  changes/pr3179.yaml
  docs/.vuepress/config.js
Labels: docs

#3186 Fix agent CLI api flag not being respected on start
  changes/pr3186.yaml
  src/prefect/agent/agent.py
Labels: agent

#3190 Update logos in README
  README.md
  docs/.vuepress/public/logos/databricks.png
Labels: docs

#3193 Closes #3192 removes cloud badge from flow settings doc
  docs/orchestration/ui/flow.md
Labels: docs

#3150 Update apollo service in docker compose to wait for graphql service
  changes/pr3150.yaml
  src/prefect/cli/docker-compose.yml
Labels: server

#3225 QOL Updates
  changes/pr3225.yaml
  docs/.vuepress/config.js
  docs/generate_docs.py
  docs/orchestration/concepts/cli.md
  docs/outline.toml
  src/prefect/cli/agent.py
  src/prefect/cli/run.py
  src/prefect/cli/server.py
  src/prefect/client/client.py
  src/prefect/core/flow.py
  src/prefect/core/task.py
  src/prefect/engine/executors/dask.py
  src/prefect/environments/execution/dask/remote.py
  src/prefect/environments/execution/fargate/fargate_task.py
  src/prefect/environments/execution/k8s/job.py
  src/prefect/environments/execution/remote.py
  src/prefect/environments/storage/_healthcheck.py
  src/prefect/environments/storage/docker.py
  src/prefect/environments/storage/webhook.py
  src/prefect/schedules/schedules.py
  src/prefect/tasks/database/__init__.py
  src/prefect/tasks/dropbox/dropbox.py
  src/prefect/tasks/gcp/storage.py
  src/prefect/tasks/google/__init__.py
  src/prefect/tasks/secrets/base.py
  src/prefect/utilities/executors.py
  src/prefect/utilities/tasks.py
  tests/client/test_client.py
Labels: docs

#3158 Kubernetes agent job management
  changes/pr3158.yaml
  docs/orchestration/agents/kubernetes.md
  src/prefect/agent/agent.py
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/kubernetes/resource_manager.py
  tests/agent/test_agent.py
  tests/agent/test_docker_agent.py
  tests/agent/test_fargate_agent.py
  tests/agent/test_k8s_agent.py
  tests/agent/test_local_agent.py
  tests/cli/test_agent.py
Labels: agent
