Repository PrefectHQ/prefect, pull requests merged in 2020-04, with the labels that each got.

#2255 Fix schedule timezone example in concept doc
  docs/core/concepts/schedules.md
Labels: docs

#2266 Make project name optional for FlowRunTask
  CHANGELOG.md
  src/prefect/tasks/cloud/flow_run.py
  tests/conftest.py
  tests/tasks/cloud/test_flow_run.py
Labels: task library

#2267 Add `--output` option to describe CLI commands for JSON output
  CHANGELOG.md
  src/prefect/cli/describe.py
  tests/cli/test_describe.py
Labels: CLI

#2274 Update CHANGELOG
  CHANGELOG.md
Labels: docs

#2287 0.10.1 Changelog and API Doc Bump
  CHANGELOG.md
  docs/.vuepress/config.js
Labels: docs

#2289 Fix links in first steps core doc
  docs/core/getting_started/first-steps.md
Labels: docs

#2293 Fix LocalAgent subprocess using PIPE to buffer logs
  CHANGELOG.md
  src/prefect/agent/local/agent.py
  tests/agent/test_local_agent.py
Labels: agent

#2294 Decline PIN-15
  docs/core/PINs/PIN-10-Schedules.md
  docs/core/PINs/PIN-15-Skip-as-Finished-and-Conditionals.md
Labels: PIN

#2323 Fix test fixtures by setting backend setting
  CHANGELOG.md
  tests/cli/test_run.py
  tests/client/test_client.py
  tests/conftest.py
Labels: tests

#2329 Update Changelog and API docs navbar for 0.10.2
  CHANGELOG.md
  docs/.vuepress/config.js
Labels: docs

#2337 Fix `auth create-token` CLI command
  CHANGELOG.md
  docs/orchestration/concepts/api.md
  docs/orchestration/concepts/cli.md
  docs/orchestration/concepts/tokens.md
  src/prefect/cli/auth.py
  tests/cli/test_auth.py
Labels: CLI

#2352 Use YAML safe command versions in server start CLI command
  CHANGELOG.md
  src/prefect/cli/server.py
  tests/cli/test_server.py
Labels: CLI

#2371 Cut 0.10.3 changelog and update API documentation navbar
  CHANGELOG.md
  docs/.vuepress/config.js
  docs/orchestration/execution/remote_dask_environment.md
Labels: docs

#2372 Adjust agent connect output and check for API connection
  CHANGELOG.md
  src/prefect/agent/agent.py
  tests/agent/test_agent.py
Labels: agent

#2380 Update changelog and api docs version for 0.10.4
  CHANGELOG.md
  docs/.vuepress/config.js
Labels: docs

#2385 Add note to first steps about local backend configuration CLI command
  docs/core/getting_started/first-steps.md
Labels: docs

#2389 Adjust CLI tests for get commands to account for projects
  src/prefect/cli/get.py
  tests/cli/test_get.py
Labels: CLI, tests

#2387 Add executor_kwargs to KubernetesJobEnvironment and FargateTaskEnvironment
  CHANGELOG.md
  src/prefect/environments/execution/fargate/fargate_task.py
  src/prefect/environments/execution/k8s/job.py
  tests/environments/execution/test_fargate_task_environment.py
  tests/environments/execution/test_k8s_job_environment.py
Labels: environment

#2386 Add serializer for RemoteDaskEnvironment and add server start image version logic
  CHANGELOG.md
  src/prefect/cli/server.py
  src/prefect/environments/execution/dask/remote.py
  src/prefect/serialization/environment.py
  tests/cli/test_server.py
  tests/serialization/test_environments.py
Labels: CLI, environment

#2398 Add agent registration step
  CHANGELOG.md
  src/prefect/agent/agent.py
  src/prefect/client/client.py
  tests/agent/test_agent.py
  tests/client/test_client.py
  tests/conftest.py
Labels: agent

#2428 Update logos in README
  README.md
  docs/.vuepress/public/logos/airtable.png
  docs/.vuepress/public/logos/aws.png
  docs/.vuepress/public/logos/azure.png
  docs/.vuepress/public/logos/azure_ml.jpg
  docs/.vuepress/public/logos/azure_ml.png
  docs/.vuepress/public/logos/dask.png
  docs/.vuepress/public/logos/docker.png
  docs/.vuepress/public/logos/dropbox.png
  docs/.vuepress/public/logos/email.png
  docs/.vuepress/public/logos/gcp.png
  docs/.vuepress/public/logos/github.png
  docs/.vuepress/public/logos/gmail.png
  docs/.vuepress/public/logos/google_cloud.png
  docs/.vuepress/public/logos/kubernetes.png
  docs/.vuepress/public/logos/postgres.png
  docs/.vuepress/public/logos/python.png
  docs/.vuepress/public/logos/redis.png
  docs/.vuepress/public/logos/rss.png
  docs/.vuepress/public/logos/shell.png
  docs/.vuepress/public/logos/slack.png
  docs/.vuepress/public/logos/snowflake.png
  docs/.vuepress/public/logos/spacy.png
  docs/.vuepress/public/logos/sqlite.png
  docs/.vuepress/public/logos/terminal.png
  docs/.vuepress/public/logos/twitter.png
Labels: docs

#2425 Fix RemoteDaskEnvironment API documentation Security kwarg snippet
  src/prefect/environments/execution/dask/remote.py
Labels: docs

#2433 Add flag for toggling Docker interface check on Linux
  CHANGELOG.md
  src/prefect/agent/docker/agent.py
  src/prefect/cli/agent.py
  tests/agent/test_docker_agent.py
  tests/cli/test_agent.py
Labels: agent

#2434 Update changelog and API doc navbar for 0.10.5
  CHANGELOG.md
  docs/.vuepress/config.js
Labels: docs

#2452 Ensure that ordered collections maintain numerical order for > 10 items
  CHANGELOG.md
  src/prefect/tasks/core/collections.py
  tests/tasks/test_core.py
Labels: bug

#2388 Add botocore configuration option to Fargate agent
  CHANGELOG.md
  docs/orchestration/agents/fargate.md
  src/prefect/agent/fargate/agent.py
  tests/agent/test_fargate_agent.py
Labels: agent
