Repository PrefectHQ/prefect, pull requests merged in 2020-06, with the labels that each got.

#2671 Add use of ID field to `get` CLI commands
  changes/pr2671.yaml
  src/prefect/cli/get.py
  tests/cli/test_get.py
Labels: CLI

#2689 Remove volume mount from dev infrastructure Docker compose
  changes/issue2676.yaml
  server/docker/docker-compose.yml
Labels: server

#2691 Fix running server on Ubuntu using a rootless Docker setup
  changes/pr2691.yaml
  src/prefect/cli/server.py
  tests/cli/test_server.py
Labels: CLI, server

#2703 Update CHANGELOG and API docs for 0.11.5
  CHANGELOG.md
  changes/issue-2661.yaml
  changes/issue-2677.yaml
  changes/issue-2693.yaml
  changes/issue2676.yaml
  changes/pr2602.yaml
  changes/pr2667.yaml
  changes/pr2668.yaml
  changes/pr2671.yaml
  changes/pr2682.yaml
  changes/pr2685.yaml
  changes/pr2691.yaml
  docs/.vuepress/config.js
Labels: docs

#2706 Bump Server dependencies
  server/setup.py
  server/src/prefect_server/configuration.py
  server/src/prefect_server/database/orm.py
  server/src/prefect_server/services/graphql/server.py
  server/src/prefect_server/utilities/__init__.py
  server/src/prefect_server/utilities/graphql.py
  server/src/prefect_server/utilities/http.py
  server/tests/database/test_hasura.py
  server/tests/graphql/conftest.py
  server/tests/graphql/test_server.py
Labels: server

#2712 Add psycopg2 back to Server dependencies; adjust unit tests to remove "extras"
  .circleci/config.yml
  server/setup.py
Labels: bug, server

#2713 Add idiom for notifications
  docs/core/idioms/idioms.md
  docs/core/idioms/notifications.md
Labels: docs

#2657 Add direct option to set imagePullSecrets on DaskKubernetesEnvironment
  changes/pr2657.yaml
  docs/orchestration/execution/dask_k8s_environment.md
  src/prefect/environments/execution/dask/k8s.py
  tests/environments/execution/test_dask_k8s_environment.py
Labels: environment

#2666 Add support for non-Docker storage on containerized environments
  changes/issue2517.yaml
  docs/orchestration/execution/storage_options.md
  src/prefect/agent/docker/agent.py
  src/prefect/agent/fargate/agent.py
  src/prefect/agent/kubernetes/agent.py
  src/prefect/core/flow.py
  src/prefect/environments/execution/base.py
  src/prefect/environments/execution/dask/cloud_provider.py
  src/prefect/environments/execution/dask/k8s.py
  src/prefect/environments/execution/dask/remote.py
  src/prefect/environments/execution/fargate/fargate_task.py
  src/prefect/environments/execution/k8s/job.py
  src/prefect/environments/execution/local.py
  src/prefect/environments/execution/remote.py
  src/prefect/serialization/environment.py
  src/prefect/utilities/__init__.py
  src/prefect/utilities/agent.py
  tests/agent/test_docker_agent.py
  tests/agent/test_fargate_agent.py
  tests/agent/test_k8s_agent.py
  tests/core/test_flow.py
  tests/environments/execution/test_base_environment.py
  tests/environments/execution/test_dask_cloud_provider.py
  tests/environments/execution/test_dask_k8s_environment.py
  tests/environments/execution/test_fargate_task_environment.py
  tests/environments/execution/test_k8s_job_environment.py
  tests/environments/execution/test_local_environment.py
  tests/environments/execution/test_remote_dask_environment.py
  tests/environments/execution/test_remote_environment.py
  tests/serialization/test_environments.py
  tests/utilities/test_agent.py
Labels: agent, enhancement, environment

#2740 Fix typo in idiom
  docs/core/idioms/parallel.md
Labels: docs

#2738 Use fully-qualified path to avoid conflicts with other registered schemas
  changes/pr2738.yaml
  src/prefect/serialization/state.py
  tests/serialization/test_states.py
  tests/serialization/test_states_shadow_schema.py
Labels: Prefect Slack Community, bug

#2745 Add new CI step for a prefect image with all_extras installed
  .circleci/config.yml
  Dockerfile
  changes/pr2745.yaml
  docs/core/getting_started/installation.md
Labels: CI

#2762 Add example to storage doc of credentials secret and add warning about dependencies
  docs/orchestration/execution/storage_options.md
Labels: docs

#2774 Add survey
  README.md
  docs/index.md
Labels: docs

#2768 Add config validation utility to Fargate Agent
  changes/pr2768.yaml
  docs/orchestration/agents/fargate.md
  src/prefect/agent/fargate/agent.py
  tests/agent/test_fargate_agent.py
Labels: agent

#2783 Fix context passing for Cloud
  changes/pr2783.yaml
  src/prefect/engine/cloud/task_runner.py
  src/prefect/engine/flow_runner.py
Labels: bug

#2744 Some minor agent enhancements
  changes/pr2744.yaml
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/kubernetes/deployment.yaml
  src/prefect/agent/kubernetes/job_spec.yaml
  src/prefect/cli/agent.py
  tests/agent/test_k8s_agent.py
  tests/cli/test_agent.py
Labels: agent, enhancement

#2769 Allow for task targets to be callables
  changes/pr2769.yaml
  src/prefect/core/task.py
  src/prefect/engine/task_runner.py
  tests/engine/test_task_runner.py
Labels: enhancement

#2796 Add support non-containerized storage to all environments
  changes/issue2517.yaml
  changes/pr2796.yaml
  src/prefect/cli/execute.py
  src/prefect/environments/execution/base.py
  src/prefect/environments/execution/dask/cloud_provider.py
  src/prefect/environments/execution/dask/job.yaml
  src/prefect/environments/execution/dask/k8s.py
  src/prefect/environments/execution/fargate/fargate_task.py
  src/prefect/environments/execution/k8s/job.py
  src/prefect/environments/execution/local.py
  src/prefect/environments/execution/remote.py
  src/prefect/utilities/__init__.py
  src/prefect/utilities/storage.py
  tests/environments/execution/test_base_environment.py
  tests/environments/execution/test_dask_k8s_environment.py
  tests/environments/execution/test_fargate_task_environment.py
  tests/environments/execution/test_k8s_job_environment.py
  tests/environments/execution/test_local_environment.py
  tests/environments/execution/test_remote_environment.py
  tests/utilities/test_storage.py
Labels: enhancement, environment

#2802 Fix all_extras tag in CI job
  .circleci/config.yml
  changes/issue2801.yaml
Labels: CI

#2804 Fix LocalEnvironment execute on flow object
  changes/pr2804.yaml
  src/prefect/environments/execution/local.py
  tests/environments/execution/test_local_environment.py
Labels: environment

#2808 Update Archiving API docs section to new release pattern
  docs/core/development/documentation.md
Labels: docs

#2708 Clean up error handling for state-setting
  changes/pr2708.yaml
  server/Changelog.md
  server/src/prefect_server/graphql/states.py
  server/tests/graphql/test_states.py
Labels: server

#2825 Add repositoryCredentials to Fargate agent containerDefinitions
  changes/issue2822.yaml
  docs/orchestration/agents/fargate.md
  src/prefect/agent/fargate/agent.py
  tests/agent/test_fargate_agent.py
Labels: agent

#2854 Docs fixes pt 2
  docs/.vuepress/config.js
  docs/.vuepress/enhanceApp.js
  package-lock.json
  package.json
Labels: bug, docs, docs tooling

#2864 0.12.1 API Docs and Changelog
  CHANGELOG.md
  changes/issue2124.yaml
  changes/issue2801.yaml
  changes/issue2815.yaml
  changes/issue2822.yaml
  changes/pr2531.yaml
  changes/pr2614.yaml
  changes/pr2669.yaml
  changes/pr2708.yaml
  changes/pr2741.yaml
  changes/pr2755.yaml
  changes/pr2804.yaml
  changes/pr2805.yaml
  changes/pr2811.yaml
  changes/pr2814.yaml
  changes/pr2817.yaml
  changes/pr2819.yaml
  changes/pr2826.yaml
  changes/pr2828.yaml
  changes/pr2831.yaml
  changes/pr2832.yaml
  changes/pr2838.yaml
  changes/pr2839.yaml
  changes/pr2840.yaml
  changes/pr2845.yaml
  changes/pr2849.yaml
  docs/.vuepress/config.js
Labels: docs

#2876 Fix 404 link in docs
  docs/orchestration/README.md
Labels: docs

#2877 Fix Fargate agent not parsing containerDefinitions if provided as string
  changes/issue2875.yaml
  src/prefect/agent/fargate/agent.py
  tests/agent/test_fargate_agent.py
Labels: agent

#2885 Fix Fargate agent providing empty parameters if not set
  changes/issue2878.yaml
  src/prefect/agent/fargate/agent.py
  tests/agent/test_fargate_agent.py
Labels: agent

#2890 Doc improvements
  README.md
  docs/.vuepress/public/logos/ge.png
  docs/.vuepress/public/logos/mysql.png
  docs/.vuepress/public/logos/sheets.png
  docs/core/concepts/configuration.md
  docs/core/task_library/google_sheets.md
  docs/core/task_library/mysql.md
  docs/outline.toml
  src/prefect/contrib/tasks/mysql/mysql.py
Labels: docs

#2895 Register CLI docstring fix
  changes/pr2895.yaml
  docs/core/idioms/file-based.md
  src/prefect/cli/__init__.py
  src/prefect/cli/register.py
Labels: docs

#2896 Update changelog and API docs for 0.12.2
  CHANGELOG.md
  changes/issue2662.yaml
  changes/issue2875.yaml
  changes/issue2878.yaml
  changes/issue2884.yaml
  changes/pr2846.yaml
  changes/pr2862.yaml
  changes/pr2865.yaml
  changes/pr2893.yaml
  changes/pr2895.yaml
  docs/.vuepress/config.js
Labels: docs
