Repository PrefectHQ/prefect, pull requests merged in 2020-09, with the labels that each got.

#3286 0.13.6 Changelog and API doc update
  CHANGELOG.md
  changes/issue3256.yaml
  changes/pr3247.yaml
  changes/pr3248.yaml
  changes/pr3251.yaml
  changes/pr3265.yaml
  changes/pr3268.yaml
  changes/pr3269.yaml
  changes/pr3271.yaml
  changes/pr3275.yaml
  changes/pr3279.yaml
  changes/pr3282.yaml
  docs/.vuepress/config.js
Labels: docs

#3320 use explicit exception chaining in client
  changes/issue3306.yaml
  src/prefect/client/client.py
  src/prefect/client/secrets.py
Labels: hacktoberfest

#3359 Clean up old storage docs and add missing Storage base class and Webhook storage
  docs/outline.toml
  src/prefect/environments/storage/__init__.py
  src/prefect/environments/storage/base.py
  src/prefect/environments/storage/webhook.py
Labels: docs

#3405 Add task definition to fargate task environment doc
  docs/orchestration/execution/fargate_task_environment.md
Labels: docs

#3385 Add agent registration for server users
  changes/pr3385.yaml
  src/prefect/agent/agent.py
  src/prefect/agent/docker/agent.py
  src/prefect/agent/fargate/agent.py
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/local/agent.py
  src/prefect/cli/agent.py
  src/prefect/client/client.py
  tests/agent/test_agent.py
  tests/agent/test_docker_agent.py
  tests/agent/test_fargate_agent.py
  tests/agent/test_k8s_agent.py
  tests/agent/test_local_agent.py
  tests/cli/test_agent.py
  tests/client/test_client.py
Labels: agent, server

#3407 Tweaks to task library documentation
  README.md
  docs/.vuepress/public/logos/monday.png
  docs/core/task_library/contributing.md
  docs/core/task_library/overview.md
Labels: docs
