Repository PrefectHQ/prefect, pull requests merged in 2020-03, with the labels that each got.

#2089 Elevate DaskKubernetesEnvironment logs and fix extra_loggers configuration
  CHANGELOG.md
  docs/cloud/execution/fargate_task_environment.md
  docs/cloud/execution/k8s_job_environment.md
  src/prefect/config.toml
  src/prefect/environments/execution/dask/job.yaml
  src/prefect/environments/execution/dask/k8s.py
  src/prefect/environments/execution/dask/worker_pod.yaml
  src/prefect/environments/execution/fargate/fargate_task.py
  src/prefect/environments/execution/k8s/job.py
  src/prefect/utilities/logging.py
  tests/environments/execution/test_dask_k8s_environment.py
  tests/environments/execution/test_fargate_task_environment.py
  tests/environments/execution/test_k8s_job_environment.py
  tests/utilities/test_logging.py
Labels: environment, logging

#2109 Output direct link to newly created Cloud flows and runs
  CHANGELOG.md
  docs/cloud/concepts/cli.md
  src/prefect/cli/run.py
  src/prefect/client/client.py
  src/prefect/core/flow.py
  tests/cli/test_run.py
  tests/client/test_client.py
  tests/core/test_flow.py
Labels: CLI, cloud, enhancement

#2116 Update API docs and CHANGELOG for 0.9.6
  CHANGELOG.md
  docs/.vuepress/config.js
Labels: docs

#2120 Fix task runner pipeline retrieving of log_stdout attribute
  CHANGELOG.md
  src/prefect/engine/task_runner.py
Labels: bug

#2121 Update CHANGELOG and API docs navbar for 0.9.7
  CHANGELOG.md
  docs/.vuepress/config.js
Labels: docs

#2081 Update name of heartbeat config for Cloud
  CHANGELOG.md
  src/prefect/engine/cloud/flow_runner.py
  src/prefect/engine/cloud/task_runner.py
  tests/engine/cloud/test_cloud_flow_runner.py
  tests/engine/cloud/test_cloud_task_runner.py
Labels: cloud

#2169 Cut CHANGELOG for 0.9.8
  CHANGELOG.md
  docs/.vuepress/config.js
Labels: docs

#2173 Fix typo in flow concept doc
  docs/core/concepts/flows.md
Labels: docs

#2175 Add note about using Prefect Docker images to installation doc
  docs/core/getting_started/installation.md
Labels: docs

#2177 Add example Dask Executor use to the executor concept doc
  docs/core/concepts/engine.md
  src/prefect/engine/executors/__init__.py
Labels: docs

#2180 Add maximum polling option to agents
  CHANGELOG.md
  src/prefect/agent/agent.py
  src/prefect/agent/docker/agent.py
  src/prefect/agent/fargate/agent.py
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/local/agent.py
  src/prefect/cli/agent.py
  tests/agent/test_agent.py
  tests/agent/test_docker_agent.py
  tests/agent/test_fargate_agent.py
  tests/agent/test_k8s_agent.py
  tests/agent/test_local_agent.py
  tests/cli/test_agent.py
Labels: agent

#2192 Query for state on flow run logs query for run CLI command
  CHANGELOG.md
  src/prefect/cli/run.py
  tests/cli/test_run.py
Labels: CLI
