Repository PrefectHQ/prefect, pull requests merged in 2020-02, with the labels that each got.

#1968 Handle possible Fargate agent SyntaxError from kwarg parse
  CHANGELOG.md
  src/prefect/agent/fargate/agent.py
  tests/agent/test_fargate_agent.py
Labels: agent

#1976 Pass proper auth token to FargateTaskEnvironment execute tasks
  CHANGELOG.md
  src/prefect/environments/execution/fargate/fargate_task.py
  tests/environments/execution/test_fargate_task_environment.py
Labels: bug, environment

#1961 Attempt to ship logger errors via the CloudHandler
  CHANGELOG.md
  src/prefect/utilities/logging.py
  tests/utilities/test_logging.py
Labels: enhancement, logging

#1979 Add examples to agent API docs
  docs/outline.toml
  src/prefect/agent/docker/agent.py
  src/prefect/agent/fargate/agent.py
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/local/agent.py
Labels: docs

#1982 Populate prefect job imagePullSecrets if provided
  CHANGELOG.md
  src/prefect/agent/kubernetes/agent.py
  tests/agent/test_k8s_agent.py
Labels: agent

#1963 Add healthchecks to other storage options
  CHANGELOG.md
  src/prefect/environments/storage/azure.py
  src/prefect/environments/storage/base.py
  src/prefect/environments/storage/gcs.py
  src/prefect/environments/storage/local.py
  src/prefect/environments/storage/s3.py
  tests/environments/storage/test_local_storage.py
Labels: enhancement

#1985 Cut CHANGELOG for 0.9.3
  CHANGELOG.md
  docs/.vuepress/config.js
Labels: docs

#2004 Update "deploying flow" log level in k8s and fargate agents
  src/prefect/agent/fargate/agent.py
  src/prefect/agent/kubernetes/agent.py
Labels: agent

#2009 Update references to some renamed documentation
  docs/.vuepress/enhanceApp.js
  docs/cloud/agents/kubernetes.md
  docs/cloud/concepts/cli.md
  docs/cloud/concepts/flows.md
  docs/cloud/execution/overview.md
  docs/cloud/execution/storage_options.md
  docs/cloud/faq/debug.md
  docs/cloud/recipes/deployment.md
  docs/cloud/tutorial/docker.md
  docs/cloud/tutorial/first.md
  docs/cloud/tutorial/k8s.md
  docs/cloud/tutorial/multiple.md
  docs/cloud/tutorial/next-steps.md
  src/prefect/agent/agent.py
  src/prefect/agent/docker/agent.py
  src/prefect/agent/fargate/agent.py
  src/prefect/agent/kubernetes/agent.py
  src/prefect/cli/agent.py
  src/prefect/core/flow.py
Labels: docs

#2012 Fix broken link to Cloud dataflow FAQ
  docs/core/faq/faq.md
Labels: docs

#2016 Fix formatting of Constant task API doc
  src/prefect/tasks/core/constants.py
Labels: docs

#2029 Update CHANGELOG for 0.9.4
  CHANGELOG.md
  docs/.vuepress/config.js
Labels: docs

#2056 Remove duplicate Client connection in --logs option of cloud run CLI command
  CHANGELOG.md
  src/prefect/cli/run.py
Labels: CLI

#2063 Cut 0.9.5 Changelog
  CHANGELOG.md
  docs/.vuepress/config.js
Labels: docs

#2036 Add volume option to docker agent
  CHANGELOG.md
  src/prefect/agent/docker/agent.py
  src/prefect/cli/agent.py
  tests/agent/test_docker_agent.py
  tests/cli/test_agent.py
Labels: agent

#2083 Bugfix for delete_options kwargs
  CHANGELOG.md
  src/prefect/tasks/kubernetes/deployment.py
  src/prefect/tasks/kubernetes/job.py
  src/prefect/tasks/kubernetes/pod.py
  src/prefect/tasks/kubernetes/service.py
Labels: task library

#2092 Add optional stdout logging in tasks
  CHANGELOG.md
  docs/core/concepts/logging.md
  src/prefect/core/task.py
  src/prefect/engine/task_runner.py
  src/prefect/utilities/logging.py
  tests/core/test_task.py
  tests/engine/test_task_runner.py
  tests/utilities/test_logging.py
Labels: logging

#2099 Don't mutate data during serialization
  CHANGELOG.md
  src/prefect/utilities/serialization.py
  tests/utilities/test_serialization.py
Labels: bug

#2101 Add a call to task.run in task concept doc
  docs/core/concepts/tasks.md
Labels: docs
