Repository PrefectHQ/prefect, pull requests merged in 2022-10, with the labels that each got.

#7045 Add prefect-soda-core to Prefect Collections
  docs/collections/catalog/prefect-soda-core.yaml
  docs/img/collections/soda.png
Labels: docs, integrations

#7044 Remove deep serialization from `PickleSerializer` and add tests
  src/prefect/serializers.py
  tests/test_serializers.py
Labels: maintenance

#7037 Add the link to Deployment API
  docs/concepts/deployments.md
  docs/recipes/catalog/github-docker.yaml
Labels: enhancement, docs

#7054 Change Storage `put_directory` to only count the number of files uploaded
  src/prefect/filesystems.py
  tests/test_filesystems.py
Labels: enhancement

#7038 Clarify that path can be used to point to a local subdirectory
  docs/concepts/deployments.md
  src/prefect/cli/deployment.py
Labels: docs

#6997 Adds exception handling to block auto-registration
  src/prefect/orion/api/server.py
  tests/orion/api/test_server.py
Labels: fix

#7060 Convert args to attributes
  src/prefect/blocks/kubernetes.py
  src/prefect/blocks/notifications.py
  src/prefect/blocks/system.py
Labels: maintenance, component:blocks

#7066 Add ECSTask block tutorial to recipes
  docs/recipes/catalog/ecs-infra-block.yaml
  docs/recipes/catalog/prefect-azure.yaml
Labels: docs

#7069 Fix contributing dev setup instructions
  docs/contributing/overview.md
Labels: docs

#7072 Add flow and task retries to integration tests
  flows/flow_retries.py
  flows/task_retries.py
Labels: maintenance

#7059 Suppresses griffe logs
  src/prefect/blocks/core.py
  src/prefect/logging/loggers.py
  tests/blocks/test_core.py
  tests/test_logging.py
Labels: enhancement, component:logging

#7070 Add OOM warning for `Process` exit code log
  src/prefect/infrastructure/process.py
  tests/infrastructure/test_process.py
Labels: enhancement

#7073 Remove the "sync caller" check from `sync_compatible`
  src/prefect/utilities/asyncutils.py
  tests/utilities/test_asyncutils.py
Labels: fix

#7078 Publish documentation updates for organizations
  docs/img/ui/org-inherited-role.png
  docs/img/ui/org-invite-members.png
  docs/img/ui/org-members.png
  docs/img/ui/org-roles.png
  docs/img/ui/org-workspace-sharing.png
  docs/img/ui/organizations.png
  docs/img/ui/service-accounts.png
  docs/ui/organizations.md
  docs/ui/roles.md
  mkdocs.yml
Labels: docs

#7047 Flow runs from deployments
  src/prefect/deployments.py
  src/prefect/orion/models/deployments.py
  tests/fixtures/docker.py
  tests/orion/models/test_deployments.py
  tests/test_deployments.py
Labels: feature

#7074 Add idempotency key support to `OrionClient.create_flow_run_from_deployment`
  src/prefect/client/orion.py
  tests/client/test_orion_client.py
Labels: enhancement

#7085 Fix flaky deployment run test
  tests/test_deployments.py
Labels: maintenance

#7084 Expose setting custom flow run names
  src/prefect/deployments.py
  tests/test_deployments.py
Labels: enhancement

#7086 Add multi-delete to flowRuns, Flow, Deployment and WorkQueue pages
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/pages/FlowRuns.vue
Labels: feature

#7092 Add 'Show Active Runs' button to WorkQueue page
  orion-ui/src/pages/WorkQueue.vue
Labels: enhancement

#6860 Fix `DockerContainer` log streaming crash due to "marked for removal"
  src/prefect/infrastructure/docker.py
  tests/infrastructure/test_docker_container.py
Labels: fix

#7090 Improve client stability
  requirements.txt
  src/prefect/client/orion.py
Labels: enhancement, DONT MERGE

#7087 Add documentation for support of proxies
  docs/faq.md
  docs/getting-started/installation.md
Labels: docs

#7095 Add v2.5 to the integration compatibility tests
  .github/workflows/integration-tests.yaml
Labels: maintenance

#7101 Exempt `status:accepted` labels from being marked as stale
  .github/workflows/stale.yml
Labels: maintenance

#7079 Revisions to Organization docs
  docs/ui/organizations.md
Labels: docs

#7103 Add test coverage for bytes serialization and caching
  tests/test_serializers.py
  tests/test_tasks.py
Labels: fix

#7042 Updates block protection to only prevent deletion
  .github/workflows/integration-tests.yaml
  src/prefect/blocks/core.py
  src/prefect/cli/block.py
  src/prefect/client/orion.py
  src/prefect/exceptions.py
  src/prefect/orion/api/block_schemas.py
  src/prefect/orion/api/block_types.py
  tests/blocks/test_core.py
  tests/cli/test_block.py
  tests/orion/api/test_block_schemas.py
  tests/orion/api/test_block_types.py
Labels: fix

#7109 Improve create_flow_run_from_deployment docs, tests on idempotency_key
  src/prefect/client/orion.py
  tests/client/test_orion_client.py
  tests/orion/models/test_flow_runs.py
Labels: maintenance, docs

#7120 Add `allow_failure` annotation to allow failed runs to be passed downstream
  src/prefect/__init__.py
  src/prefect/engine.py
  src/prefect/utilities/annotations.py
  tests/test_flows.py
  tests/test_tasks.py
Labels: enhancement, v1-parity

#7067 Update docstrings to render settings in API reference
  docs/api-ref/prefect/settings.md
  docs/faq.md
  mkdocs.yml
  src/prefect/engine.py
  src/prefect/settings.py
Labels: docs

#7140 Proactively look for duplicate blocks instead of relying on `IntegrityError`.
  src/prefect/orion/api/block_documents.py
  src/prefect/orion/models/block_documents.py
Labels: fix

#7141 Save log batches in individual transactions.
  src/prefect/orion/api/logs.py
  src/prefect/orion/models/logs.py
Labels: fix

#7138 History query refactor
  src/prefect/orion/api/run_history.py
  src/prefect/orion/api/ui/flow_runs.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_10_12_102048_22b7cb02e593_add_state_timestamp.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_10_12_102048_22b7cb02e593_add_state_timestamp.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/orchestration/global_policy.py
  tests/orion/api/test_run_history.py
  tests/orion/orchestration/test_global_policy.py
Labels: enhancement, migration

#7142 Update results settings to match new docstring format
  src/prefect/settings.py
Labels: maintenance

#7099 Agents with dynamic work queue matching
  src/prefect/agent.py
  src/prefect/cli/agent.py
  src/prefect/cli/deployment.py
  src/prefect/cli/work_queue.py
  src/prefect/client/orion.py
  src/prefect/deployments.py
  src/prefect/orion/api/work_queues.py
  tests/cli/test_agent.py
  tests/cli/test_deployment_cli.py
  tests/client/test_orion_client.py
  tests/test_agent.py
  tests/test_deployments.py
Labels: enhancement

#7144 Update pytest requirement
  requirements-dev.txt
Labels: maintenance

#7018 Add `--param` / `--params` to `prefect deployment run`
  src/prefect/cli/deployment.py
  tests/cli/test_deployment_cli.py
  tests/fixtures/database.py
Labels: enhancement

#7122 UI: implements FlowRunsFilterGroup component
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/components/FlowRunsFilter.vue
  orion-ui/src/pages/FlowRuns.vue
Labels: enhancement, ui

#7105 Adds method for generating tags for collections catalog
  docs/collections/catalog.md
  docs/collections/catalog/TEMPLATE.yaml
  docs/collections/catalog/prefect-airbyte.yaml
  docs/collections/catalog/prefect-aws.yaml
  docs/collections/catalog/prefect-azure.yaml
  docs/collections/catalog/prefect-cubejs.yaml
  docs/collections/catalog/prefect-dask.yaml
  docs/collections/catalog/prefect-databricks.yaml
  docs/collections/catalog/prefect-dbt.yaml
  docs/collections/catalog/prefect-email.yaml
  docs/collections/catalog/prefect-firebolt.yaml
  docs/collections/catalog/prefect-fugue.yaml
  docs/collections/catalog/prefect-gcp.yaml
  docs/collections/catalog/prefect-github.yaml
  docs/collections/catalog/prefect-great-expectations.yaml
  docs/collections/catalog/prefect-hex.yaml
  docs/collections/catalog/prefect-jupyter.yaml
  docs/collections/catalog/prefect-metricflow.yaml
  docs/collections/catalog/prefect-monday.yaml
  docs/collections/catalog/prefect-openmetadata.yaml
  docs/collections/catalog/prefect-ray.yaml
  docs/collections/catalog/prefect-shell.yaml
  docs/collections/catalog/prefect-slack.yaml
  docs/collections/catalog/prefect-snowflake.yaml
  docs/collections/catalog/prefect-soda-core.yaml
  docs/collections/catalog/prefect-sqlalchemy.yaml
  docs/collections/catalog/prefect-stitch.yaml
  docs/collections/catalog/prefect-transform.yaml
  docs/collections/catalog/prefect-twitter.yaml
  docs/collections/generate_catalog.py
  docs/collections/overview.md
Labels: docs

#7159 Update link reference for version 1/2 discussion
  docs/index.md
Labels: docs, v1

#7172 Fix RRule link in Schedules documentation
  docs/concepts/schedules.md
Labels: docs

#7181 Fix bug where return values could be incorrectly parsed as `BaseResult`
  src/prefect/results.py
  tests/results/test_flow_results.py
  tests/results/test_task_results.py
Labels: fix

#7182 Add compatibility tests for 2.6
  .github/workflows/integration-tests.yaml
Labels: maintenance

#7164 Add `CompressedSerializer` for compression of other result serializers
  docs/concepts/results.md
  src/prefect/serializers.py
  tests/results/test_flow_results.py
  tests/results/test_task_results.py
  tests/test_serializers.py
Labels: enhancement

#7156 Guard calling after_transition when exception encountered
  src/prefect/orion/orchestration/rules.py
  tests/orion/orchestration/test_rules.py
Labels: fix

#7096 Prevent block name from being reused on the block create form
  orion-ui/src/pages/BlocksCatalogCreate.vue
Labels: fix

#7187 Allow deployments to be sorted in the api
  src/prefect/client/orion.py
  src/prefect/orion/api/deployments.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_10_14_172612_ad4b1b4d1e9d_index_deployment_created.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_10_14_172612_ad4b1b4d1e9d_index_deployment_created.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/deployments.py
  src/prefect/orion/schemas/sorting.py
  tests/orion/api/test_deployments.py
Labels: migration

#7192 UI: fix naming of subflow runs tab on flow run page
  orion-ui/src/pages/FlowRun.vue
Labels: bug, ui

#7165 Improve rrule backend parsing
  src/prefect/orion/schemas/schedules.py
  tests/orion/schemas/test_schedules.py
Labels: fix

#7197 Update the docs for from_qualified_name
  src/prefect/utilities/importtools.py
Labels: maintenance

#7189 Add backwards compatibility for return of server-states from flows and tasks
  src/prefect/orion/schemas/states.py
  src/prefect/states.py
  tests/results/test_flow_results.py
Labels: fix

#7143 Reorganize top-level navigation to highlight Getting Started
  docs/getting-started/overview.md
  docs/index.md
  mkdocs.yml
Labels: docs

#7201 add entry for prefect-monte-carlo to collection catalog
  docs/collections/catalog/prefect-monte-carlo.yaml
  docs/img/collections/monte-carlo.png
Labels: collections

#7174 Add option to drop task or flow return values from memory
  docs/concepts/results.md
  src/prefect/engine.py
  src/prefect/flows.py
  src/prefect/results.py
  src/prefect/tasks.py
  tests/results/test_flow_results.py
  tests/results/test_persisted_result.py
  tests/results/test_result_factory.py
  tests/results/test_task_results.py
  tests/test_engine.py
Labels: enhancement

#7178 Improve docs for DockerRegistry block
  src/prefect/infrastructure/docker.py
Labels: enhancement

#7224 Wrap Prefect Module Path Parent in Quotes to Fix Windows Path Issues
  src/prefect/cli/orion.py
Labels: v2, fix

#7223 Add release notes for 2.6.2
  RELEASE-NOTES.md
Labels: maintenance

#7219 Add 2.6.2 release notes link to announcement bar
  docs/overrides/main.html
Labels: docs

#7229 Add release notes for 2.6.3
  RELEASE-NOTES.md
Labels: maintenance

#7226 Exit with non-zero code if integration tests do not run any files
  scripts/run-integration-flows.py
Labels: maintenance

#7233 Bump version
  docs/overrides/main.html
Labels: docs

#7231 Fixes integration tests for 2.6 to include the current client
  .github/workflows/integration-tests.yaml
  flows/flow_results.py
  flows/task_results.py
  scripts/run-integration-flows.py
Labels: maintenance

#7234 UI: updated deployment tabs
  orion-ui/src/pages/Deployment.vue
Labels: enhancement, ui

#7235 Docs: change basepath to bucket_path for s3 and gcs
  docs/concepts/filesystems.md
Labels: docs, fix

#7068 Update ui-settings api call to respect ORION_UI_SERVE_BASE environment variable
  orion-ui/src/services/uiSettings.ts
Labels: enhancement

#7218 Add toggle to load existing deployment values
  src/prefect/deployments.py
  tests/test_deployments.py
Labels: enhancement

#7228 Add `PREFECT_RESULTS_PERSIST_BY_DEFAULT` to globally toggle the result persistence default
  docs/concepts/results.md
  src/prefect/results.py
  src/prefect/settings.py
  tests/results/test_result_factory.py
Labels: enhancement

#7217 Add support for using callable objects as tasks
  src/prefect/tasks.py
  tests/test_tasks.py
Labels: enhancement

#7243 Add `prefect-kv` to collections catalog
  docs/collections/catalog/TEMPLATE.yaml
  docs/collections/catalog/prefect-kv.yaml
  docs/img/collections/prefect-kv.svg
Labels: collections

#7242 Handle __name__ for callable objects
  src/prefect/tasks.py
  tests/test_tasks.py
Labels: maintenance

#7247 UI: Clean up the vite config
  orion-ui/vite.config.ts
Labels: enhancement

#7246 Increase default database timeout to 5 seconds
  src/prefect/settings.py
  tests/conftest.py
Labels: enhancement

#7244 Allow image/namespace fields to be loaded from Kubernetes job manifest
  src/prefect/infrastructure/kubernetes.py
  tests/blocks/checksums.json
  tests/infrastructure/test_kubernetes_job.py
Labels: fix

#7240 add `created_by`/`updated_by`
  src/prefect/orion/database/migrations/versions/postgresql/2022_10_19_093902_6d548701edef_add_created_by.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_10_19_093542_fa319f214160_add_created_by.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/deployments.py
  src/prefect/orion/schemas/core.py
  tests/orion/models/test_deployments.py
  tests/orion/models/test_flow_runs.py
Labels: feature, migration

#7261 Fix entrypoint path error when deployments created on Windows but run on Unix
  src/prefect/deployments.py
  src/prefect/utilities/filesystem.py
  tests/utilities/test_filesystem.py
Labels: v2, fix

#7253 Expanded docs for organizations, workspaces, and service accounts
  docs/img/ui/all-workspaces.png
  docs/img/ui/create-service-account.png
  docs/img/ui/create-workspace.png
  docs/img/ui/org-workspaces.png
  docs/img/ui/workspace-collaborators.png
  docs/img/ui/workspace-icon.png
  docs/img/ui/workspace-settings.png
  docs/img/ui/workspace-sharing.png
  docs/index.md
  docs/stylesheets/extra.css
  docs/ui/cloud-getting-started.md
  docs/ui/cloud.md
  docs/ui/organizations.md
  docs/ui/roles.md
  docs/ui/service-accounts.md
  docs/ui/workspaces.md
  mkdocs.yml
Labels: docs, v2, cloud

#7265 Update announce bar for 2.6.4 release
  docs/overrides/main.html
Labels: docs, v2

#7266 Add release notes for 2.6.4
  RELEASE-NOTES.md
Labels: maintenance

#7255 Add tagline to site name
  mkdocs.yml
Labels: docs, v2

#7262 Work queue status checks
  src/prefect/orion/api/work_queues.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_10_20_101423_3ced59d8806b_add_last_polled.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_10_20_101423_3ced59d8806b_add_last_polled.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/work_queues.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  tests/orion/api/test_work_queues.py
  tests/orion/schemas/test_core.py
Labels: feature, migration

#7300 Removes experimental tag from ECSTask block
  docs/concepts/infrastructure.md
Labels: maintenance

#7294 Replace deprecated set-output command in the integration-test
  .github/workflows/integration-tests.yaml
Labels: maintenance

#7282 Add timezone param to deployment build
  src/prefect/cli/deployment.py
  tests/cli/test_deployment_cli.py
Labels: enhancement

#7276 Fix with_options override with 0s
  src/prefect/tasks.py
  tests/test_tasks.py
Labels: fix

#7306 UI: Remove pinia as a dependency
  orion-ui/.vscode/settings.json
  orion-ui/package-lock.json
  orion-ui/package.json
Labels: maintenance, ui

#7308 Simplify restarts into retries
  src/prefect/engine.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_10_19_165110_8ea825da948d_track_retries_restarts.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_10_19_155810_af52717cf201_track_retries_restarts.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/orchestration/core_policy.py
  src/prefect/orion/schemas/core.py
  tests/fixtures/database.py
  tests/orion/api/test_flow_runs.py
  tests/orion/orchestration/test_core_policy.py
Labels: migration

#7152 Manual flow retries
  flows/flow_retries_with_subflows.py
  src/prefect/engine.py
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/api/server.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_10_19_165110_8ea825da948d_track_retries_restarts.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_10_19_155810_af52717cf201_track_retries_restarts.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/orchestration/core_policy.py
  src/prefect/orion/orchestration/rules.py
  src/prefect/orion/schemas/core.py
  tests/client/test_orion_client.py
  tests/fixtures/database.py
  tests/orion/api/test_flow_runs.py
  tests/orion/orchestration/test_core_policy.py
  tests/orion/orchestration/test_rules.py
Labels: feature, migration

#7302 Add documentation for Prefect Cloud SSO
  docs/img/ui/cloud-sso-dashboard.png
  docs/img/ui/cloud-sso-provider.png
  docs/img/ui/cloud-sso.png
  docs/img/ui/org-inherited-role.png
  docs/img/ui/org-invite-members.png
  docs/img/ui/org-members.png
  docs/img/ui/org-roles.png
  docs/img/ui/org-workspaces.png
  docs/img/ui/organizations.png
  docs/stylesheets/extra.css
  docs/ui/cloud.md
  docs/ui/organizations.md
  docs/ui/sso.md
  mkdocs.yml
Labels: docs, v2

#7321 UI: updated and fix breaking color change
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/main.ts
  orion-ui/src/pages/Settings.vue
  orion-ui/src/utilities/colorMode.ts
Labels: enhancement, ui

#7324 Fix typo in Results documentation
  docs/concepts/results.md
Labels: docs, fix

#7222 Add support for multiple work queue prefixes
  src/prefect/agent.py
  src/prefect/cli/agent.py
  src/prefect/client/orion.py
  tests/test_agent.py
Labels: enhancement

#7328 Restores proxy-awareness for the Orion client for remote Orion servers.
  docs/getting-started/installation.md
  setup.cfg
  src/prefect/client/orion.py
  tests/client/test_orion_client.py
Labels: docs

#7329 Append "-" to non-random part of K8s job name
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_kubernetes_job.py
Labels: enhancement

#7331 UI: Remove flakey integration test
  orion-ui/tests/notifications.spec.ts
Labels: maintenance

#7344 Add flow retry button
  orion-ui/package-lock.json
  orion-ui/package.json
Labels: enhancement, ui

#7348 Adds `prefect-census` to the collections catalog
  docs/collections/catalog/prefect-census.yaml
  docs/img/collections/census.png
Labels: collections

#7252 Allow the working directory to be specified for `Process` infrastructure
  src/prefect/infrastructure/process.py
  src/prefect/utilities/processutils.py
  tests/infrastructure/test_process.py
Labels: enhancement

#7336 Include hidden files when uploading to RemoteFileSystem storage
  src/prefect/filesystems.py
  tests/test-projects/tree-project/.hidden
  tests/test_filesystems.py
Labels: fix

#7304 Add support for Python 3.11
  .github/workflows/python-tests.yaml
  .github/workflows/release.yaml
  docs/concepts/infrastructure.md
  setup.cfg
  setup.py
  src/prefect/orion/schemas/states.py
  tests/test_flows.py
Labels: enhancement

#7352 UI: removed date-fns
  orion-ui/package-lock.json
  orion-ui/package.json
Labels: maintenance, ui

#7355 docker load correct image file in release.yaml
  .github/workflows/release.yaml
Labels: maintenance

#7357 Fix broken link to Docker documentation from Storage API docs
  src/prefect/storage/docker.py
Labels: docs, v1, fix

#7365 Docs: Add prefect-alert collection
  docs/collections/catalog/prefect-alert.yaml
  docs/img/collections/alert.png
Labels: enhancement, docs

#7389 Discussion: Check that command is a list when passed to `open_process`
  src/prefect/utilities/processutils.py
  tests/utilities/test_processutils.py
Labels: enhancement, v2
