Repository PrefectHQ/prefect, pull requests merged in 2022-08, with the labels that each got.

#6149 Docs: remove pages that had been unhooked from nav for correction
  docs/contributing/_testing-flow-runners.md
  docs/tutorials/_docker-flow-runner.md
  docs/tutorials/_kubernetes-flow-runner.md
  docs/tutorials/_task-dependencies.md
  docs/tutorials/_virtual-environments.md
  docs/ui/deployments.md
Labels: docs

#6108 Update install instructions
  docs/core/getting_started/install.md
Labels: docs

#6169 Add labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: v1

#6170 Add version to deployments
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2022_08_01_211251_97e212ea6545_add_deployment_version.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_08_01_211039_24bb2e4a195c_add_deployment_version.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  tests/orion/api/test_deployments.py
Labels: migration

#6118 Docs: Infra docstrings cleanup and examples
  docs/concepts/infrastructure.md
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/process.py
Labels: docs

#6176 Release 1.3.0
  CHANGELOG.md
  changes/pr5819.yaml
  changes/pr5979.yaml
  changes/pr6018.yaml
  changes/pr6021.yaml
  changes/pr6035.yaml
  docs/.vuepress/config.js
Labels: v1

#6160 Shift around headings and tips
  docs/concepts/blocks.md
Labels: docs

#6185 Docs: Fix or elaborate flow and task description format
  docs/concepts/flows.md
  docs/concepts/tasks.md
  docs/tutorials/flow-task-config.md
Labels: docs

#6182 Docs: Fix api url examples, expand notes
  docs/concepts/deployments.md
  docs/concepts/settings.md
  docs/concepts/work-queues.md
  docs/ui/cloud-getting-started.md
Labels: docs

#6224 Add block identifiers to the docs
  docs/concepts/deployments.md
Labels: docs

#6236 Add labels to dependabot
  .github/dependabot.yml
Labels: maintenance

#6255 Docs: add .prefectignore to deployment
  docs/concepts/deployments.md
  docs/concepts/flows.md
  docs/concepts/states.md
  docs/tutorials/execution.md
Labels: docs

#6259 Docs update Schedules concepts page
  docs/concepts/schedules.md
  docs/img/concepts/add-schedule-callout.png
  docs/img/concepts/edit-schedule-callout.png
  docs/img/concepts/interval-schedule.png
Labels: docs

#6213 Docs: Task result location notes
  docs/concepts/tasks.md
  docs/tutorials/flow-task-config.md
Labels: docs

#6275 Fix missing import in example of flow version using git commit sha
  docs/tutorials/flow-task-config.md
Labels: docs

#6281 Cleanup migration autogenerate output
  src/prefect/orion/database/migrations/env.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_08_07_154550_7737221bf8a4_fix_concurrency_limit_tag_index_name.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_08_07_154319_53c19b31aa09_fix_name_on_concurrency_limit_tag_idx.py
  src/prefect/orion/database/orm_models.py
Labels: migration

#6258 Docs: Update Tasks and Task Runners docs
  docs/concepts/states.md
  docs/concepts/task-runners.md
  docs/concepts/tasks.md
  docs/tutorials/flow-task-config.md
Labels: docs

#6305 Fix documentation for `link_state_to_result`
  src/prefect/engine.py
Labels: docs

#6279 Deployment updates
  src/prefect/agent.py
  src/prefect/cli/deployment.py
  src/prefect/cli/orion.py
  src/prefect/client.py
  src/prefect/deployments.py
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2022_08_06_145817_60e428f92a75_expand_deployment_schema_for_improved_ux.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_08_06_130009_296e2665785f_expand_deployment_schema_for_improved_ux.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/deployments.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  tests/cli/test_deployment_build.py
  tests/cli/test_deployment_create.py
  tests/fixtures/database.py
  tests/orion/api/test_deployments.py
  tests/test-projects/nested-project/explicit_relative.py
  tests/test-projects/nested-project/foobar-manifest.json
  tests/test-projects/nested-project/implicit_relative.py
Labels: migration

#6352 Reduce opportunity for race condition in flow run idempotency check
  src/prefect/orion/models/flow_runs.py
Labels: great writeup

#6342 Backend changes for work queues operating on name, not tags
  src/prefect/orion/api/deployments.py
  src/prefect/orion/api/work_queues.py
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2022_08_07_134410_77eb737fc759_add_work_queue_name_to_runs.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_08_07_134138_575634b7acd4_add_work_queue_name_to_runs.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/deployments.py
  src/prefect/orion/models/work_queues.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/schemas/filters.py
  tests/fixtures/database.py
  tests/orion/api/test_deployments.py
  tests/orion/api/test_work_queues.py
  tests/orion/models/deprecated/__init__.py
  tests/orion/models/deprecated/test_work_queues.py
  tests/orion/models/test_deployments.py
  tests/orion/models/test_work_queues.py
Labels: migration

#6240 Chore: Integration tests
  .github/workflows/integration-tests.yml
  orion-ui/.gitignore
  orion-ui/.vscode/settings.json
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/playwright.config.ts
  orion-ui/src/pages/NotificationCreate.vue
  orion-ui/tests/notifications.spec.ts
  orion-ui/tests/utilities/fixtures.ts
  orion-ui/tests/utilities/index.ts
  orion-ui/tests/utilities/pages.ts
  orion-ui/tests/utilities/utilities.ts
  orion-ui/tsconfig.json
Labels: maintenance, ui

#6371 Update `visit_collection` to be a synchronous function
  requirements.txt
  src/prefect/engine.py
  src/prefect/futures.py
  src/prefect/utilities/collections.py
  tests/utilities/test_collections.py
Labels: maintenance, v2

#6382 Add code of conduct to contributing overview
  docs/contributing/overview.md
Labels: docs

#6385 Docs: remove manifest from deployment concept
  docs/concepts/deployments.md
Labels: docs

#6386 Docs: Add docker image recommendation
  docs/concepts/infrastructure.md
Labels: docs

#6393 Docs: Update the cloud workspace options
  docs/ui/cloud.md
Labels: docs

#6409 Docs: remove unused pages
  docs/contributing/testing-flow-runners.md.old
  docs/tutorials/docker-flow-runner.md.old
  docs/tutorials/kubernetes-flow-runner.md.old
  docs/tutorials/task-dependencies.md.old
  docs/tutorials/virtual-environments.md.old
Labels: docs

#6392 Adds badges to readme
  README.md
  docs/getting-started/installation.md
Labels: maintenance

#6348 Fix tracing bug for unpacking and integer singletons
  src/prefect/engine.py
  tests/test_engine.py
  tests/test_flows.py
  tests/test_tasks.py
Labels: bug

#6091 Improve validation error messages and logging
  src/prefect/engine.py
  src/prefect/exceptions.py
  src/prefect/flows.py
  src/prefect/utilities/callables.py
  tests/test_engine.py
  tests/test_exceptions.py
  tests/utilities/test_callables.py
Labels: enhancement

#6407 Update docs regarding creating work queues and agent start commands
  docs/concepts/deployments.md
  docs/concepts/settings.md
  docs/concepts/work-queues.md
  docs/contributing/style.md
  docs/contributing/testing-flow-runners.md.old
  docs/getting-started/overview.md
  docs/tutorials/deployments.md
  docs/tutorials/docker-flow-runner.md.old
  docs/tutorials/execution.md
  docs/tutorials/kubernetes-flow-runner.md.old
  docs/tutorials/orion.md
  docs/tutorials/virtual-environments.md.old
  docs/ui/cloud-getting-started.md
  docs/ui/work-queues.md
  mkdocs.yml
  src/prefect/cli/templates/kubernetes.yaml
Labels: docs

#6427 Update wording in storage docs
  docs/concepts/storage.md
Labels: docs

#6405 Docs: Update deployment docs
  docs/concepts/deployments.md
  docs/concepts/work-queues.md
  docs/img/concepts/deployments.png
Labels: docs

#6444 Update API key creation instructions
  docs/ui/cloud-getting-started.md
Labels: docs

#6433 Add prefect databricks
  docs/collections/catalog/prefect-databricks.yaml
  docs/img/collections/databricks.png
Labels: docs, integrations

#6443 Uncomment migration line
  src/prefect/orion/database/migrations/versions/postgresql/2022_08_07_134410_77eb737fc759_add_work_queue_name_to_runs.py
Labels: migration

#6445 Improve robustness of subprocess text streaming
  src/prefect/utilities/processutils.py
Labels: bug

#6449 Add a couple just-merged pull requests to release notes
  RELEASE-NOTES.md
Labels: maintenance

#6451 Docs: Add Python deployment examples
  docs/concepts/deployments.md
Labels: docs

#6452 Docs: Fix grammar and add prefect agent start with work queue name
  docs/concepts/work-queues.md
  docs/tutorials/first-steps.md
Labels: docs

#6454 Docs: fix deployment Python examples
  docs/concepts/deployments.md
Labels: docs

#6402 Fix log on abort when the flow run context is not available
  src/prefect/engine.py
Labels: bug

#6455 Docs: Correct GitHub edit URL
  mkdocs.yml
Labels: docs

#6401 Add error message if `get_run_logger` receives context of unknown type
  src/prefect/logging/loggers.py
  tests/test_logging.py
Labels: maintenance

#6473 Docs: work-queues.md to remove references to 2.0.5
  docs/concepts/work-queues.md
Labels: docs

#6490 Docs: Update deployment concepts to reflect changes in 2.1.1
  docs/concepts/deployments.md
Labels: docs

#6489 Update deployment flow run retry settings with runtime values
  src/prefect/engine.py
  src/prefect/testing/fixtures.py
  tests/test_engine.py
Labels: bug, priority:high

#6508 Docs: fix typos in blocks.md
  docs/concepts/blocks.md
Labels: docs

#6498 fix typos in README
  docs/collections/overview.md
Labels: docs

#6512 Move registering blocks to its own heading
  docs/concepts/blocks.md
Labels: docs

#6515 Docs: revised deployments tutorial
  docs/img/tutorials/custom-flow-run.png
  docs/img/tutorials/custom-parameter.png
  docs/img/tutorials/dep-flow-logs.png
  docs/img/tutorials/deployment-details.png
  docs/img/tutorials/deployment-parameters.png
  docs/img/tutorials/deployment-run-options.png
  docs/img/tutorials/deployment-run.png
  docs/img/tutorials/my-first-deployment.png
  docs/img/tutorials/orion-deployments.png
  docs/tutorials/deployments.md
Labels: docs

#6523 Add "cloud" to `prefect version` server type display
  src/prefect/cli/root.py
  tests/cli/test_version.py
Labels: enhancement

#6526 Use the parent flow run client for child flow runs if available
  src/prefect/engine.py
Labels: enhancement

#6518 Relative paths
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
  src/prefect/filesystems.py
  tests/cli/test_deployment_cli.py
  tests/test_filesystems.py
Labels: component:deployment

#6536 Bump Netlify Python runtime from 3.7 to 3.8
  runtime.txt
Labels: v1

#6501 Docs add task call from another task example
  docs/concepts/tasks.md
  src/prefect/tasks.py
Labels: docs

#6533 Update pull request template
  .github/pull_request_template.md
Labels: maintenance

#6552 Update the Prefect entrypoint display
  scripts/entrypoint.sh
Labels: maintenance

#6554 Resolve issue with python-based deployments having incorrect entrypoints
  src/prefect/deployments.py
  tests/cli/test_deployment_cli.py
  tests/test_deployments.py
Labels: bug, component:deployment

#6558 Remove duplicate key in mkdocs.yaml
  mkdocs.yml
Labels: maintenance

#6561 Add type hints to state predicates
  src/prefect/orion/schemas/states.py
Labels: enhancement

#6566 Update database docs for postgres
  docs/concepts/database.md
Labels: docs

#6565 Add error when sync compatible methods are used incorrectly
  src/prefect/utilities/asyncutils.py
  tests/utilities/test_asyncutils.py
Labels: enhancement

#6560 Deployment upload flags
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
  src/prefect/docker.py
  tests/test_deployments.py
Labels: component:deployment

#6527 Refactor Task Run creation
  src/prefect/client.py
  src/prefect/context.py
  src/prefect/engine.py
  src/prefect/futures.py
  src/prefect/task_runners.py
  src/prefect/testing/standard_test_suites/task_runners.py
  tests/test_context.py
  tests/test_engine.py
  tests/test_futures.py
  tests/test_states.py
  tests/test_tasks.py
Labels: enhancement

#6567 Fix Docker image tag parsing
  src/prefect/docker.py
  src/prefect/infrastructure/docker.py
  tests/docker/test_image_parsing.py
Labels: bug

#6472 Move task tracing to engine and add StateDetails field for untrackable states
  src/prefect/engine.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/schemas/states.py
  tests/test_engine.py
Labels: enhancement

#6579 add unmapped example to `Task.map` docstring
  src/prefect/tasks.py
Labels: docs

#6581 Update Kubernetes Job to use `args` instead of `command`
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_kubernetes_job.py
Labels: bug

#6546 Fixs 1.x task library tests
  setup.py
  src/prefect/tasks/sodaspark/__init__.py
  src/prefect/tasks/sodasql/__init__.py
Labels: v1

#6583 Including the layer caching configuration from #6578 during python tests.
  .github/workflows/python-tests.yaml
Labels: maintenance

#6571 Always provide an idempotency key to avoid duplicate flow runs
  src/prefect/client/client.py
  tests/client/test_client.py
Labels: bug, v1

#6582 Update iterable detection to exclude strings and bytes
  src/prefect/tasks.py
  src/prefect/utilities/collections.py
  tests/test_tasks.py
  tests/utilities/test_collections.py
Labels: enhancement

#6572 Fix `FlowRunView` task run queries when all task runs are cached
  changes/6572.yaml
  src/prefect/backend/flow_run.py
  tests/backend/test_flow_run.py
Labels: bug, v1

#6534 Fix `S3List` error on empty list
  changes/pr6028.yaml
  src/prefect/tasks/aws/s3.py
Labels: bug, v1

#6573 Fix wrong format for custom Tags in Databricks Jobs
  changes/pr6573.yml
  src/prefect/tasks/databricks/models.py
  tests/tasks/databricks/test_databricks_models.py
  tests/tasks/databricks/test_submit_multirun.py
Labels: bug, v1

#6584 Update labeler to work for external contributions
  .github/workflows/labeler.yml
Labels: maintenance, v1

#6574 Docker paths
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
  tests/cli/test_deployment_cli.py
  tests/orion/api/test_run_history.py
  tests/test_deployments.py
Labels: component:deployment

#6599 correct docstring param name for flow in Deployment
  src/prefect/deployments.py
Labels: bug, docs

#6375 Fix extract_flow_from_file for flows using emoji
  changes/pr6375.yaml
  src/prefect/utilities/storage.py
  tests/utilities/test_storage.py
Labels: bug, v1

#6601 Typo fix
  src/prefect/logging/logging.yml
Labels: maintenance

#6124 Better error handling for errors in the telemetry service
  src/prefect/orion/services/telemetry.py
  tests/orion/services/test_telemetry.py
Labels: enhancement

#6602 Fix edge case in `sync_compatible` detection when using AnyIO task groups
  src/prefect/utilities/asyncutils.py
  tests/utilities/test_asyncutils.py
Labels: bug

#6577 Docs: Add flow run retention policy
  docs/ui/flow-runs.md
  docs/ui/organizations.md
Labels: docs

#6605 Update ETL tutorial installation
  docs/core/README.md
  docs/core/development/overview.md
  docs/core/getting_started/quick-start.md
  docs/core/tutorial/01-etl-before-prefect.md
  docs/core/tutorial/02-etl-flow.md
  docs/core/tutorial/03-parameterized-flow.md
  docs/core/tutorial/04-handling-failure.md
  docs/core/tutorial/05-running-on-a-schedule.md
  docs/core/tutorial/06-parallel-execution.md
  docs/core/tutorial/07-next-steps.md
Labels: docs, v1

#6598 GitHub-based deployments
  src/prefect/blocks/core.py
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
  src/prefect/exceptions.py
  src/prefect/filesystems.py
  tests/test_deployments.py
  tests/test_filesystems.py
Labels: feature, component:deployment

#6575 Add a context manager to disable run logger
  src/prefect/logging/__init__.py
  src/prefect/logging/loggers.py
  tests/test_logging.py
Labels: feature

#6607 Improve internal `get_logger` docstring
  src/prefect/logging/loggers.py
Labels: docs

#6612 Revised Docker flow run tutorial
  docs/img/tutorials/docker-deployment-details.png
  docs/img/tutorials/docker-deployment.png
  docs/img/tutorials/docker-flow-log.png
  docs/img/tutorials/docker-tutorial-block.png
  docs/img/tutorials/edit-docker-deployment.png
  docs/img/tutorials/run-docker-deployment.png
  docs/tutorials/docker-flow-runner.md.old
  docs/tutorials/docker.md
  mkdocs.yml
Labels: docs

#6617 Add release notes for 2.3.0
  RELEASE-NOTES.md
Labels: maintenance

#6608 Add Storage and Infrastructure tutorial
  docs/img/tutorials/choose-blocks.png
  docs/img/tutorials/docker-infrastructure.png
  docs/img/tutorials/infrastructure-blocks.png
  docs/img/tutorials/new-storage-block.png
  docs/img/tutorials/s3-block-configuration.png
  docs/img/tutorials/storage-blocks.png
  docs/tutorials/deployments.md
  docs/tutorials/storage.md
  mkdocs.yml
Labels: docs

#6594 work-queue playwright tests
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/tests/notifications.spec.ts
  orion-ui/tests/utilities/fixtures.ts
  orion-ui/tests/utilities/index.ts
  orion-ui/tests/utilities/pages.ts
  orion-ui/tests/utilities/useIconButtonMenu.ts
  orion-ui/tests/utilities/useInput.ts
  orion-ui/tests/utilities/useToggle.ts
  orion-ui/tests/workQueues.spec.ts
Labels: maintenance

#6623 Update `bug` label to `fix`
  .github/pull_request_template.md
  .github/release.yml
Labels: maintenance

#6621 Append new tutorials to release notes
  RELEASE-NOTES.md
Labels: maintenance

#6620 Ensure RemoteFileSystem.put_directory handles local_path and windows file structure
  RELEASE-NOTES.md
  src/prefect/filesystems.py
  src/prefect/utilities/filesystem.py
  tests/test-projects/flat-project/.prefectignore
  tests/test-projects/tree-project/.prefectignore
  tests/test_filesystems.py
Labels: fix

#6636 Mark test as flaky
  tests/orion/database/test_migrations.py
  tests/test_engine.py
Labels: maintenance, component:testing

#6639 Fix typo in deployments.md
  docs/concepts/deployments.md
Labels: docs

#6634 Update pin for gh-action-pypi-publish action
  .github/workflows/release.yaml
Labels: maintenance

#6633 Swap order of "current" and "proposed" behavior in enhancement issue template
  .github/ISSUE_TEMPLATE/3_feature_enhancement.yaml
Labels: maintenance

#6640 Correct name argument for task logging example
  docs/concepts/logs.md
Labels: docs

#5671 Feat snowflake state handler
  changes/pr5671.yaml
  docs/outline.toml
  src/prefect/utilities/notifications/__init__.py
  src/prefect/utilities/notifications/notifications.py
  tests/utilities/notifications/__init__.py
  tests/utilities/notifications/test_notifications.py
Labels: v1

#6654 Add sync compatibility to `run` for all infrastructure types
  src/prefect/infrastructure/base.py
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/process.py
  tests/infrastructure/test_docker_container.py
  tests/infrastructure/test_kubernetes_job.py
  tests/infrastructure/test_process.py
Labels: enhancement

#6653 Add `git` to the Prefect image
  Dockerfile
Labels: fix

#6657 Update Docker container name collision log to `INFO` level for clarity
  src/prefect/infrastructure/docker.py
Labels: enhancement
