Repository PrefectHQ/prefect, pull requests merged in 2022-09, with the labels that each got.

#6539 Update home page for improved clarity
  docs/index.md
Labels: docs

#6645 Refactor block documents queries for speed ⚡️
  .gitignore
  src/prefect/orion/api/block_documents.py
  src/prefect/orion/database/query_components.py
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/schemas/filters.py
  tests/orion/api/test_block_documents.py
  tests/orion/api/test_flow_runs.py
  tests/orion/models/test_block_documents.py
Labels: enhancement, great writeup

#6675 Adds `prefect-jupyter` to collections catalog
  docs/collections/catalog/prefect-jupyter.yaml
  docs/img/collections/jupyter.png
Labels: docs, integrations

#6656 Update Docker container runs to be robust to container removal
  setup.cfg
  src/prefect/infrastructure/docker.py
  tests/infrastructure/test_docker_container.py
Labels: fix

#6647 Fix parsing of `PREFECT_TEST_MODE` in `PrefectBaseModel`
  src/prefect/orion/utilities/schemas.py
  tests/orion/utilities/test_schemas.py
Labels: fix

#6679 Update block CLI to match standard styling
  src/prefect/cli/block.py
Labels: enhancement

#6680 Fix handling of .prefectignore paths in Windows
  src/prefect/filesystems.py
Labels: arch:windows, fix

#6670 Add error display to UI when backend is unreachable
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/App.vue
  orion-ui/src/services/healthApi.ts
  orion-ui/src/utilities/api.ts
Labels: enhancement

#6692 Fix `auto_remove` docstring for DockerContainer
  src/prefect/infrastructure/docker.py
Labels: docs

#6683 Remove contributors badge from README
  README.md
Labels: maintenance

#6668 Add parameter_openapi_schema to inject database
  src/prefect/orion/models/deployments.py
Labels: fix

#6696 Adds test for parameter openapi schema
  tests/orion/models/test_block_schemas.py
  tests/orion/models/test_deployments.py
Labels: maintenance

#6694 Docs: Update schedules.md for deployments from cli and python file
  docs/concepts/schedules.md
Labels: docs

#6706 Expanded Deployment docs
  docs/concepts/deployments.md
  docs/getting-started/installation.md
  docs/index.md
  docs/tutorials/deployments.md
  docs/tutorials/storage.md
  mkdocs.yml
Labels: docs

#6713 Update Deployments tutorial screenshots
  docs/img/tutorials/dep-flow-logs.png
  docs/img/tutorials/deployment-run.png
  docs/img/tutorials/my-first-deployment.png
Labels: docs

#6691 Enable stale action to handle aging issues and pull requests
  .github/workflows/stale.yml
Labels: maintenance

#6672 Use windows specific signals when stopping Orion in windows
  src/prefect/cli/orion.py
  src/prefect/utilities/processutils.py
  tests/utilities/test_processutils.py
Labels: fix

#6715 Fix agent output and screenshots in Deployment tutorial
  docs/img/tutorials/custom-flow-run.png
  docs/img/tutorials/custom-parameter.png
  docs/tutorials/deployments.md
Labels: docs

#6693 Fix issue with github storage running in non-empty directories
  src/prefect/filesystems.py
  tests/test_client.py
  tests/test_filesystems.py
Labels: component:deployment, fix

#6695 Respect all user provided inputs to deployments
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
  tests/cli/test_deployment_cli.py
  tests/test_deployments.py
  tests/utilities/test_importtools.py
Labels: component:deployment, fix

#6718 Update list of storage blocks to include GitHub
  docs/concepts/deployments.md
  docs/concepts/storage.md
Labels: docs

#6714 Remove unnecessary SQL transactions
  src/prefect/orion/api/admin.py
  src/prefect/orion/api/block_capabilities.py
  src/prefect/orion/api/block_documents.py
  src/prefect/orion/api/block_schemas.py
  src/prefect/orion/api/block_types.py
  src/prefect/orion/api/concurrency_limits.py
  src/prefect/orion/api/dependencies.py
  src/prefect/orion/api/deployments.py
  src/prefect/orion/api/flow_run_notification_policies.py
  src/prefect/orion/api/flow_run_states.py
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/api/flows.py
  src/prefect/orion/api/logs.py
  src/prefect/orion/api/saved_searches.py
  src/prefect/orion/api/task_run_states.py
  src/prefect/orion/api/task_runs.py
  src/prefect/orion/api/ui/flow_runs.py
  src/prefect/orion/api/work_queues.py
  src/prefect/orion/database/interface.py
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/models/task_runs.py
  src/prefect/orion/orchestration/core_policy.py
  src/prefect/orion/orchestration/rules.py
  src/prefect/orion/services/flow_run_notifications.py
  src/prefect/orion/services/late_runs.py
  src/prefect/orion/services/telemetry.py
Labels: enhancement

#6622 Update blocks to dispatch instance creation using slugs
  src/prefect/blocks/core.py
  tests/blocks/test_core.py
  tests/infrastructure/test_submission.py
Labels: enhancement

#6730 Update crash detection to ignore abort signals
  src/prefect/engine.py
  tests/test_engine.py
Labels: fix

#6732 Release 1.3.1
  CHANGELOG.md
  changes/6412.yml
  changes/6572.yaml
  changes/pr5671.yaml
  changes/pr6028.yaml
  changes/pr6375.yaml
  changes/pr6573.yml
Labels: v1

#6723 Add script to generate release notes with simple processing
  scripts/generate-release-notes.py
Labels: maintenance

#6733 Task runner documentation fixes and clarifications
  docs/concepts/flows.md
  docs/concepts/task-runners.md
  docs/tutorials/deployments.md
  docs/tutorials/docker.md
  docs/tutorials/flow-task-config.md
  docs/tutorials/storage.md
  docs/ui/cloud-getting-started.md
  docs/ui/flow-runs.md
  src/prefect/cli/deployment.py
  src/prefect/orion/models/concurrency_limits.py
  src/prefect/utilities/services.py
  tests/cli/test_deployment_cli.py
Labels: docs

#6728 Make Netlify deploy previews resilient on forks
  netlify.toml
Labels: maintenance, docs

#6673 Protect against race condition with deployment schedules
  src/prefect/orion/api/deployments.py
Labels: fix

#6746 Review and update doc frontmatter descriptions and tags
  docs/api-ref/orion/api/flow_run_states.md
  docs/api-ref/orion/api/run_history.md
  docs/api-ref/orion/api/task_run_states.md
  docs/api-ref/overview.md
  docs/collections/overview.md
  docs/concepts/blocks.md
  docs/concepts/database.md
  docs/concepts/deployments.md
  docs/concepts/flows.md
  docs/concepts/infrastructure.md
  docs/concepts/logs.md
  docs/concepts/overview.md
  docs/concepts/schedules.md
  docs/concepts/storage.md
  docs/concepts/task-runners.md
  docs/concepts/tasks.md
  docs/concepts/work-queues.md
  docs/contributing/overview.md
  docs/contributing/style.md
  docs/faq.md
  docs/getting-started/installation.md
  docs/getting-started/overview.md
  docs/migration-guide.md
  docs/tutorials/deployments.md
  docs/tutorials/execution.md
  docs/tutorials/first-steps.md
  docs/tutorials/orion.md
  docs/ui/cloud.md
  docs/ui/deployments.md
  docs/ui/flow-runs.md
  docs/ui/flows.md
  docs/ui/notifications.md
  docs/ui/organizations.md
  docs/ui/overview.md
Labels: docs

#6750 Add notes for Windows and Linux installation
  docs/faq.md
  docs/getting-started/installation.md
Labels: docs

#6743 Add FlowRunStartTime to flowRun meta well
  orion-ui/src/pages/FlowRun.vue
Labels: enhancement

#6749 Add `get_latest` to `TaskRunView`
  docs/orchestration/flow-runs/task-runs.md
  src/prefect/backend/task_run.py
  tests/backend/test_task_run.py
Labels: v1

#6758 Fix saving blocks' fields with aliases
  src/prefect/blocks/core.py
  tests/blocks/test_core.py
Labels: fix, collections

#6766 Disable debug mode on stale action
  .github/workflows/stale.yml
Labels: maintenance

#6769 Docs: minor fix for infrastructure description
  docs/tutorials/storage.md
Labels: docs

#6610 Update default infrastructure command to be set at runtime
  src/prefect/agent.py
  src/prefect/infrastructure/base.py
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/process.py
  src/prefect/infrastructure/submission.py
  tests/blocks/checksums.json
  tests/infrastructure/test_base.py
  tests/infrastructure/test_docker_container.py
  tests/infrastructure/test_kubernetes_job.py
  tests/infrastructure/test_process.py
  tests/test_agent.py
  tests/test_logging.py
Labels: enhancement

#6701 Preserve task dependencies to futures passed as parameters in `.map`
  src/prefect/engine.py
  tests/test_tasks.py
Labels: fix

#6790 Fall back to base mkdocs config file not insiders file
  netlify.toml
Labels: maintenance

#6650 Allow environment variables to be "unset" in infrastructure blocks
  src/prefect/infrastructure/base.py
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/process.py
  tests/infrastructure/test_docker_container.py
  tests/infrastructure/test_kubernetes_job.py
  tests/infrastructure/test_process.py
Labels: enhancement

#6791 Update task run orchestration to include latest metadata in context
  src/prefect/context.py
  src/prefect/engine.py
  tests/test_tasks.py
Labels: fix

#6784 Used anyio.abc full namespace instead of from imports
  src/prefect/agent.py
  src/prefect/context.py
  src/prefect/infrastructure/base.py
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/process.py
  src/prefect/task_runners.py
Labels: maintenance

#6793 Fix bug where `scheduler_comm.close_rpc()` was not awaited
  src/prefect/executors/dask.py
Labels: v1

#6761 Update `deployment build --rrule` input to allow start date and timezones
  src/prefect/cli/deployment.py
  tests/cli/test_deployment_cli.py
Labels: fix

#6408 Add a catalog of implementation recipes
  docs/img/collections/aws.png
  docs/img/collections/docker.png
  docs/img/collections/gcp.png
  docs/img/collections/kubernetes.png
  docs/img/collections/mitmproxy.png
  docs/img/collections/prefect.png
  docs/img/collections/python.png
  docs/img/collections/slack.png
  docs/img/collections/terraform.png
  docs/recipes/catalog/TEMPLATE.yaml
  docs/recipes/catalog/api-flow-run.yaml
  docs/recipes/catalog/aws-storage.yaml
  docs/recipes/catalog/azure-storage.yaml
  docs/recipes/catalog/blocking-subflow.yaml
  docs/recipes/catalog/cache-task-result.yaml
  docs/recipes/catalog/deploy-infra.yaml
  docs/recipes/catalog/flow-params.yaml
  docs/recipes/catalog/gcp-storage.yaml
  docs/recipes/catalog/github-actions.yaml
  docs/recipes/catalog/parallel-subflow.yaml
  docs/recipes/catalog/prefect-aks.yaml
  docs/recipes/catalog/prefect-avm.yaml
  docs/recipes/catalog/prefect-azure.yaml
  docs/recipes/catalog/proxy.yaml
  docs/recipes/catalog/scheduled.yaml
  docs/recipes/catalog/serverless-real-time.yaml
  docs/recipes/catalog/slack-webhook.yaml
  docs/recipes/catalog/subflow-basics.yaml
  docs/recipes/catalog/subflow-task-runners.yaml
  docs/recipes/catalog/task-signals.yaml
  docs/recipes/catalog/task-states.yaml
  docs/recipes/catalog/test-tasks.yaml
  docs/recipes/catalog/upstream-task.yaml
  docs/recipes/generate_catalog.py
  docs/recipes/recipes.md
  mkdocs.yml
Labels: docs

#6797 Fix infrastructure tests after out-of-date merge
  tests/infrastructure/test_docker_container.py
  tests/infrastructure/test_kubernetes_job.py
Labels: maintenance

#6755 Adds default code example for blocks
  src/prefect/blocks/core.py
  src/prefect/testing/standard_test_suites/blocks.py
  tests/blocks/test_core.py
Labels: maintenance

#6799 Update orion design and related packages
  orion-ui/package-lock.json
  orion-ui/package.json
Labels: enhancement

#6697 Deployments CLI enhancements for CICD use cases
  src/prefect/cli/deployment.py
  src/prefect/client.py
  tests/cli/test_deployment_cli.py
  tests/test_client.py
Labels: feature

#6756 Enhancements to Storage and Filesystems documentation
  docs/concepts/deployments.md
  docs/concepts/filesystems.md
  docs/concepts/storage.md
  mkdocs.yml
  src/prefect/filesystems.py
Labels: docs

#6806 Add `ECSTask` block to infrastructure documentation
  docs/concepts/infrastructure.md
Labels: docs

#6729 Correct type hint for temporary_interface_class
  src/prefect/orion/database/dependencies.py
Labels: maintenance

#6655 CSS to create simple badges
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: docs

#6674 Update `Deployment.infrastructure` to accept types outside of the core library
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
  tests/test_deployments.py
Labels: enhancement

#6671 Add steps to install SQLIte on RHEL
  docs/getting-started/installation.md
Labels: docs

#6811 Add storage tutorial to nav
  mkdocs.yml
Labels: docs

#6825 Add GitHub and Docker deployment recipe
  docs/recipes/catalog/github-docker.yaml
  docs/tutorials/storage.md
Labels: docs

#6826 UI: Provide new api service for orion-design
  orion-ui/src/App.vue
  orion-ui/src/pages/AppRouterView.vue
Labels: enhancement

#6832 Use a singleton diagnostics logger for `Client`
  src/prefect/client/client.py
Labels: v1

#6819 Remove simple concurrency example
  docs/index.md
Labels: docs

#6816 Improvements to Prefect Recipes page
  docs/recipes/recipes.md
Labels: docs

#6824 Check if from_path and local_path are the same in LocalFileSystem.get…
  src/prefect/filesystems.py
  tests/test_filesystems.py
Labels: fix

#6829 Update model fields for consistent usage of `Optional` and default
  src/prefect/blocks/kubernetes.py
  src/prefect/blocks/notifications.py
  src/prefect/blocks/system.py
  src/prefect/deployments.py
  src/prefect/filesystems.py
  src/prefect/infrastructure/base.py
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/process.py
  src/prefect/manifests.py
  src/prefect/orion/api/ui/flow_runs.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/schemas/filters.py
  src/prefect/orion/schemas/responses.py
  src/prefect/orion/schemas/schedules.py
  src/prefect/orion/schemas/states.py
  src/prefect/orion/utilities/schemas.py
Labels: maintenance

#6846 Hide secret tails by default
  src/prefect/orion/utilities/names.py
  tests/orion/api/test_block_documents.py
  tests/orion/utilities/test_names.py
Labels: enhancement

#6803 Fixes registration of block schema versions
  src/prefect/blocks/core.py
  src/prefect/client.py
  src/prefect/orion/api/block_schemas.py
  tests/blocks/test_core.py
Labels: fix

#6813 Use `copy_model_fields` utility for action schemas
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/schemas/states.py
  src/prefect/orion/utilities/schemas.py
  tests/orion/api/test_flow_runs.py
  tests/orion/api/test_logs.py
  tests/orion/api/test_task_runs.py
  tests/orion/models/deprecated/test_work_queues.py
  tests/orion/models/test_logs.py
  tests/orion/utilities/test_schemas.py
Labels: maintenance

#6721 Runs tab on flow, deployment and work-queue pages
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/pages/Deployment.vue
  orion-ui/src/pages/Flow.vue
  orion-ui/src/pages/FlowRunRadar.vue
  orion-ui/src/pages/FlowRuns.vue
  orion-ui/src/pages/WorkQueue.vue
Labels: enhancement, ui

#6851 Restricts blocks in suite tests to only blocks in prefect module
  tests/blocks/test_block_standards.py
  tests/blocks/test_checksum_consistency.py
Labels: maintenance

#6771 Add an official Kubernetes agent template
  src/prefect/cli/kubernetes.py
  src/prefect/cli/templates/kubernetes-agent.yaml
  src/prefect/cli/templates/kubernetes-orion.yaml
  tests/cli/test_deployment_kubernetes.py
  tests/cli/test_kubernetes_manifest.py
Labels: feature

#6773 Adds check for block logo URL to block standard test suite
  requirements-dev.txt
  src/prefect/blocks/kubernetes.py
  src/prefect/filesystems.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/process.py
  src/prefect/testing/standard_test_suites/blocks.py
Labels: maintenance

#6858 Add toggle for block registration on application start
  src/prefect/orion/api/server.py
  src/prefect/settings.py
  tests/cli/test_block.py
  tests/conftest.py
  tests/fixtures/client.py
  tests/fixtures/database.py
  tests/fixtures/storage.py
  tests/orion/models/test_block_types.py
Labels: enhancement

#6857 Inject `OrionClient` during block registration, save, and load
  src/prefect/blocks/core.py
  src/prefect/orion/api/block_schemas.py
  src/prefect/orion/models/block_schemas.py
  src/prefect/orion/services/flow_run_notifications.py
  tests/fixtures/database.py
Labels: enhancement

#6863 Drop unused workflow steps from Windows GHA workflow
  .github/workflows/windows-tests.yaml
Labels: maintenance

#6862 Drop cache upload for Conda flavor Docker images
  .github/workflows/python-tests.yaml
  .github/workflows/release.yaml
Labels: maintenance

#6847 Refactor client into new namespaces
  src/prefect/cli/cloud.py
  src/prefect/client/__init__.py
  src/prefect/client/base.py
  src/prefect/client/cloud.py
  src/prefect/client/orion.py
  src/prefect/deployments.py
  src/prefect/engine.py
  src/prefect/futures.py
  src/prefect/packaging/file.py
  src/prefect/packaging/orion.py
  src/prefect/results.py
  src/prefect/states.py
  tests/cli/test_cloud.py
  tests/client/test_base_client.py
  tests/client/test_orion_client.py
Labels: enhancement

#6865 Switch header for registering blocks
  docs/concepts/blocks.md
Labels: docs

#6870 Fix incorrect parameter name in `.map()` example
  docs/concepts/tasks.md
Labels: docs

#6757 Use pageHeadingFlowRunRadar instead of pageHeadingFlowRun on radar page
  orion-ui/src/pages/FlowRunRadar.vue
Labels: enhancement, ui

#6873 Add cairosvg to requirements
  requirements-dev.txt
Labels: maintenance, docs

#6874 Add tip and link to building UI for local development
  docs/contributing/overview.md
Labels: docs, ui

#6852 Prevent redundant transitions
  src/prefect/engine.py
  src/prefect/orion/orchestration/core_policy.py
  tests/orion/api/test_flow_runs.py
  tests/orion/api/test_task_runs.py
  tests/orion/orchestration/test_core_policy.py
Labels: enhancement

#6833 Respect PREFECT__CLOUD__SEND_FLOW_RUN_LOGS
  src/prefect/agent/docker/agent.py
  src/prefect/agent/ecs/agent.py
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/local/agent.py
  src/prefect/agent/vertex/agent.py
  tests/agent/test_docker_agent.py
  tests/agent/test_ecs_agent.py
  tests/agent/test_k8s_agent.py
  tests/agent/test_local_agent.py
  tests/agent/test_vertex_agent.py
Labels: v1

#6853 Add validation for node type id and instance pool id
  src/prefect/tasks/databricks/models.py
  tests/tasks/databricks/test_submit_multirun.py
Labels: v1, fix

#6887 Release 1.4.0
  CHANGELOG.md
  docs/.vuepress/config.js
Labels: v1

#6849 Adds ability to delete block types via the CLI
  src/prefect/blocks/core.py
  src/prefect/cli/block.py
  src/prefect/orion/api/block_types.py
  tests/blocks/test_core.py
  tests/cli/test_block.py
  tests/orion/api/test_block_types.py
Labels: feature

#6886 Add parameter configuration and examples to docs
  docs/concepts/deployments.md
  docs/img/concepts/custom-parameters.png
Labels: docs

#6903 Handles infrastructure errors before the agent submit a flow
  src/prefect/agent.py
  tests/test_agent.py
Labels: fix

#6895 Introduce `prefect.client.schemas` and client-side state type
  src/prefect/client/orion.py
  src/prefect/client/schemas.py
  src/prefect/context.py
  src/prefect/engine.py
  src/prefect/futures.py
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/api/task_runs.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/models/task_runs.py
  src/prefect/orion/orchestration/__init__.py
  src/prefect/orion/orchestration/rules.py
  src/prefect/orion/schemas/responses.py
  src/prefect/orion/schemas/states.py
  src/prefect/states.py
  src/prefect/testing/standard_test_suites/task_runners.py
  tests/client/test_orion_client.py
  tests/orion/api/test_flow_runs.py
  tests/orion/api/test_task_runs.py
  tests/orion/orchestration/test_rules.py
  tests/orion/schemas/test_states.py
  tests/test_flows.py
  tests/test_futures.py
  tests/test_states.py
  tests/test_tasks.py
Labels: maintenance

#6899 Add `JSONSerializer` and `PickleSerializer` to `prefect.serializers`
  requirements.txt
  src/prefect/serializers.py
  tests/test-projects/import-project/my_module/__init__.py
  tests/test-projects/import-project/my_module/flow.py
  tests/test-projects/import-project/my_module/utils.py
  tests/test_serializers.py
Labels: feature

#6909 Updates Azure filesystem basepath to bucket_path in docs
  docs/concepts/filesystems.md
Labels: docs, fix

#6896 Update server-side `State.data` to accept arbitrary JSON
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/states.py
  tests/orion/api/test_flow_runs.py
Labels: enhancement

#6900 Consolidate `DataDocument` related handling into `deprecated` module
  docs/api-ref/orion/schemas/data.md
  src/prefect/__init__.py
  src/prefect/agent.py
  src/prefect/client/orion.py
  src/prefect/client/schemas.py
  src/prefect/deprecated/__init__.py
  src/prefect/deprecated/data_documents.py
  src/prefect/engine.py
  src/prefect/orion/database/migrations/versions/postgresql/2021_01_20_122127_25f4b90a7a42_initial_migration.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_01_20_115236_9725c1cbee35_initial_migration.py
  src/prefect/orion/schemas/__init__.py
  src/prefect/orion/schemas/data.py
  src/prefect/orion/serializers.py
  src/prefect/results.py
  src/prefect/serializers.py
  src/prefect/states.py
  src/prefect/testing/standard_test_suites/task_runners.py
  tests/client/test_orion_client.py
  tests/deprecated/test_data_documents.py
  tests/orion/schemas/test_states.py
  tests/test_flows.py
  tests/test_futures.py
  tests/test_states.py
  tests/test_tasks.py
Labels: migration, deprecation

#6913 Adds retries and retry_delay_seconds to flow.with_options doc
  src/prefect/flows.py
Labels: docs

#6916 Fix typos, peristed -> persisted
  docs/concepts/tasks.md
  docs/tutorials/flow-task-config.md
Labels: docs

#6855 Add API key to the Kubernetes agent manifest
  src/prefect/cli/kubernetes.py
  src/prefect/cli/templates/kubernetes-agent.yaml
  tests/cli/test_kubernetes_manifest.py
  tests/conftest.py
Labels: enhancement

#6917 Add `prefect-firebolt` to collections catalog
  docs/collections/catalog/prefect-firebolt.yaml
  docs/img/collections/firebolt.png
Labels: collections

#6885 Fix bug where `OrionClient.read_logs` filter was ignored
  src/prefect/client/orion.py
  tests/client/test_orion_client.py
Labels: fix

#6848 Reorganize tutorials and quick start
  docs/getting-started/installation.md
  docs/getting-started/overview.md
  mkdocs.yml
Labels: docs

#6798 Add flow run urls to notifications
  src/prefect/orion/models/flow_run_notification_policies.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/services/flow_run_notifications.py
  tests/orion/services/test_flow_run_notifications.py
Labels: enhancement

#6919 Add notes regarding API URL settings in tutorials
  docs/tutorials/deployments.md
  docs/tutorials/docker.md
Labels: docs

#6927 Add client retries on 503 response
  src/prefect/client/base.py
  tests/client/test_base_client.py
Labels: enhancement

#6928 Remove duplicated sections from work queue and agents docs
  docs/concepts/work-queues.md
Labels: docs

#6901 Curate items featured on Recipes catalog
  docs/recipes/catalog/fargate-agent-cli.yaml
  docs/recipes/catalog/fargate-agent-terraform.yaml
  docs/recipes/catalog/github-actions.yaml
  docs/recipes/catalog/prefect-aks.yaml
  docs/recipes/catalog/prefect-avm.yaml
  docs/recipes/catalog/prefect-azure.yaml
  docs/recipes/catalog/unused/api-flow-run.yaml
  docs/recipes/catalog/unused/aws-storage.yaml
  docs/recipes/catalog/unused/azure-storage.yaml
  docs/recipes/catalog/unused/blocking-subflow.yaml
  docs/recipes/catalog/unused/cache-task-result.yaml
  docs/recipes/catalog/unused/deploy-infra.yaml
  docs/recipes/catalog/unused/flow-params.yaml
  docs/recipes/catalog/unused/gcp-storage.yaml
  docs/recipes/catalog/unused/github-docker.yaml
  docs/recipes/catalog/unused/parallel-subflow.yaml
  docs/recipes/catalog/unused/proxy.yaml
  docs/recipes/catalog/unused/scheduled.yaml
  docs/recipes/catalog/unused/serverless-real-time.yaml
  docs/recipes/catalog/unused/slack-webhook.yaml
  docs/recipes/catalog/unused/subflow-basics.yaml
  docs/recipes/catalog/unused/subflow-task-runners.yaml
  docs/recipes/catalog/unused/task-signals.yaml
  docs/recipes/catalog/unused/task-states.yaml
  docs/recipes/catalog/unused/test-tasks.yaml
  docs/recipes/catalog/unused/upstream-task.yaml
Labels: docs, integrations

#6914 Add dynamic titles to Orion UI tabs
  orion-ui/src/compositions/usePageTitle.ts
  orion-ui/src/pages/404.vue
  orion-ui/src/pages/BlockEdit.vue
  orion-ui/src/pages/BlockView.vue
  orion-ui/src/pages/Blocks.vue
  orion-ui/src/pages/BlocksCatalog.vue
  orion-ui/src/pages/BlocksCatalogCreate.vue
  orion-ui/src/pages/BlocksCatalogView.vue
  orion-ui/src/pages/Deployment.vue
  orion-ui/src/pages/DeploymentEdit.vue
  orion-ui/src/pages/Deployments.vue
  orion-ui/src/pages/Flow.vue
  orion-ui/src/pages/FlowRun.vue
  orion-ui/src/pages/FlowRunCreate.vue
  orion-ui/src/pages/FlowRunRadar.vue
  orion-ui/src/pages/FlowRuns.vue
  orion-ui/src/pages/Flows.vue
  orion-ui/src/pages/NotificationCreate.vue
  orion-ui/src/pages/NotificationEdit.vue
  orion-ui/src/pages/Notifications.vue
  orion-ui/src/pages/Settings.vue
  orion-ui/src/pages/TaskRun.vue
  orion-ui/src/pages/WorkQueue.vue
  orion-ui/src/pages/WorkQueueCreate.vue
  orion-ui/src/pages/WorkQueueEdit.vue
  orion-ui/src/pages/WorkQueues.vue
  orion-ui/src/router/index.ts
Labels: feature

#6920 Add Apprise and Microsoft Teams notification block
  requirements.txt
  src/prefect/blocks/notifications.py
  tests/blocks/checksums.json
  tests/blocks/test_notifications.py
Labels: feature

#6937 Remove types in blocks docstring attributes to avoid annotation parsing error
  src/prefect/blocks/kubernetes.py
  src/prefect/blocks/notifications.py
Labels: fix

#6942 Fixes `inject_client` in scenarios where the `client` kwarg is passed `None`
  src/prefect/blocks/core.py
  src/prefect/client/orion.py
  tests/blocks/test_core.py
  tests/client/test_orion_client.py
Labels: fix

#6943 Add release notes for 2.4.2
  RELEASE-NOTES.md
Labels: maintenance

#6958 Warn if user tries to login with API key from Cloud 1
  src/prefect/cli/cloud.py
  tests/cli/test_cloud.py
Labels: enhancement

#6889 Fix login to private Docker registries
  docs/concepts/infrastructure.md
  src/prefect/infrastructure/docker.py
  tests/blocks/checksums.json
  tests/infrastructure/test_docker_container.py
Labels: great writeup, fix

#6963 Update `Flow.with_options` to actually pass retry settings to new object
  src/prefect/flows.py
  tests/test_flows.py
Labels: fix

#6968 Update docs regarding schedules and the CLI
  docs/concepts/schedules.md
Labels: docs

#6972 Remove single subheading example from main index page
  docs/index.md
Labels: enhancement, docs, v2

#6975 Clean up integration tests workflow
  .github/workflows/integration-tests.yml
  .github/workflows/ui-tests.yml
Labels: maintenance

#6948 Improve concurrent task runner performance
  src/prefect/task_runners.py
Labels: enhancement

#6980 Raise a `MissingContextError` when `get_run_logger` is called outside a run context
  src/prefect/logging/loggers.py
  tests/test_logging.py
Labels: enhancement

#6974 Adds prefect hex to catalog
  docs/collections/catalog/prefect-hex.yaml
  docs/img/collections/hex.png
Labels: collections

#6976 Add backwards compatibility integration tests
  .github/workflows/integration-tests.yml
  flows/hello_world.py
  flows/secret_block.py
  scripts/run-integration-flows.py
  scripts/wait-for-server.py
Labels: maintenance

#6986 Protected block compatibility
  src/prefect/orion/api/block_schemas.py
  src/prefect/orion/api/block_types.py
  src/prefect/orion/api/dependencies.py
  src/prefect/orion/api/server.py
  tests/client/test_orion_client.py
  tests/fixtures/api.py
  tests/orion/api/test_block_schemas.py
  tests/orion/api/test_block_types.py
Labels: fix

#6956 Fix deployment file name in the tutorial
  docs/ui/cloud-getting-started.md
Labels: docs

#6987 Enable backwards compatibility tests for 2.2/2.3
  .github/workflows/integration-tests.yaml
Labels: maintenance

#6988 Disable new client / old server tests for some versions
  .github/workflows/integration-tests.yaml
Labels: maintenance

#6992 Add results concept to documentation
  docs/concepts/results.md
  mkdocs.yml
Labels: docs

#6955 Ensure python-slugify is always used
  .pre-commit-config.yaml
  src/prefect/blocks/core.py
  src/prefect/docker.py
  src/prefect/infrastructure/docker.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_07_25_214717_4ff2f2bf81f4_adds_block_type_slug.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_07_25_142515_f335f9633eec_adds_block_type_slug.py
  src/prefect/packaging/docker.py
  src/prefect/utilities/slugify.py
  tests/docker/test_registry_pushes.py
  tests/orion/api/test_block_types.py
  tests/utilities/test_slugify.py
Labels: fix

#7003 Fix configuration caching
  src/prefect/orion/database/interface.py
  src/prefect/orion/database/query_components.py
  src/prefect/orion/models/configuration.py
  tests/orion/models/test_configuration.py
Labels: fix

#6985 Add state filters and sort-by to the work-queue, flow and deployment …
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/pages/Deployment.vue
  orion-ui/src/pages/Flow.vue
  orion-ui/src/pages/WorkQueue.vue
Labels: enhancement

#7007 Move block protection to be called with auto-registration
  src/prefect/orion/api/block_types.py
  src/prefect/orion/models/block_registration.py
  tests/cli/test_block.py
  tests/orion/api/test_block_types.py
  tests/orion/models/test_block_registration.py
Labels: maintenance

#7008 Add block registration to models init
  src/prefect/orion/models/__init__.py
Labels: fix

#7000 Add issue template for maintenance
  .github/ISSUE_TEMPLATE/4_maintenance_ticket.yaml
Labels: maintenance

#7014 Improve rendering of errors/versions in issue templates
  .github/ISSUE_TEMPLATE/1_general_bug_report.yaml
  .github/ISSUE_TEMPLATE/2_ui_bug_report.yaml
Labels: maintenance

#7029 Add 2.4 to the compatibility checks to capture the latest release
  .github/workflows/integration-tests.yaml
Labels: maintenance

#7035 UI: removed unused route guards
  orion-ui/src/router/guards/DashboardDefaultFilters.ts
  orion-ui/src/router/guards/FlowRunDefaultFilters.ts
  orion-ui/src/router/guards/GlobalLoadFiltersFromRoute.ts
Labels: maintenance

#7025 Flows deployment filter has a startDate filter accidentally applied
  orion-ui/src/pages/Flow.vue
Labels: fix

#7009 Update `sync_compatible` handling of wrapped async functions and generators
  src/prefect/utilities/asyncutils.py
  tests/utilities/test_asyncutils.py
Labels: fix

#7036 UI: remove pinia plugin from main
  orion-ui/src/main.ts
Labels: maintenance
