Repository PrefectHQ/prefect, pull requests merged in 2022-12, with the labels that each got.

#7417 Fix support for sync-compatible calls in `deployment build`
  src/prefect/cli/deployment.py
Labels: fix

#7685 Add `TwilioSMS` notification block
  src/prefect/blocks/notifications.py
  tests/blocks/test_notifications.py
Labels: feature

#7361 Agent: Add limit to control number of concurrent flow runs
  src/prefect/agent.py
  src/prefect/cli/agent.py
  tests/cli/test_agent.py
  tests/test_agent.py
Labels: enhancement

#7707 Bump timeout in flaky test
  tests/test_flows.py
Labels: maintenance

#7708 Fix flaky pause test
  tests/test_engine.py
Labels: maintenance

#7703 Increase default agent query interval to 10s
  src/prefect/settings.py
Labels: enhancement

#7705 Add default messages to state exceptions
  src/prefect/states.py
Labels: enhancement

#7593 Add retry on specified httpx network errors
  src/prefect/client/base.py
  tests/client/test_base_client.py
Labels: v2, fix

#7706 Fix state display bug when state message is empty
  src/prefect/orion/schemas/states.py
  tests/orion/schemas/test_states.py
Labels: fix

#7704 Update `run_sync_in_interruptible_worker_thread` to use an event
  src/prefect/utilities/asyncutils.py
Labels: enhancement

#7534 Add PagerDuty Webhook
  docs/ui/notifications.md
  requirements.txt
  src/prefect/blocks/notifications.py
  tests/blocks/test_notifications.py
Labels: feature

#7713 chore: update CodeQL settings
  .github/workflows/codeql-analysis.yml
Labels: maintenance

#7718 add detail on `log_prints` patching
  docs/concepts/logs.md
Labels: docs

#7721 Use rebase on docs deploy instead of creating a merge commit
  .github/workflows/release.yaml
Labels: maintenance

#7719 Add section on flow run cancellation
  docs/concepts/flows.md
  docs/concepts/states.md
  docs/img/ui/flow-run-cancellation-ui.png
Labels: docs

#7725 Add final flow resumption check before timing out
  src/prefect/engine.py
Labels: fix

#7728 Bump orion-design to 1.1.23, prefect-design to 1.1.33 and update Cancel button to proper implementation
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/pages/FlowRun.vue
Labels: maintenance

#7650 Implement workspace routes from orion-design
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/App.vue
  orion-ui/src/pages/Deployment.vue
  orion-ui/src/pages/DeploymentEdit.vue
  orion-ui/src/pages/Flow.vue
  orion-ui/src/pages/FlowRun.vue
  orion-ui/src/pages/FlowRunCreate.vue
  orion-ui/src/pages/FlowRunRadar.vue
  orion-ui/src/pages/TaskRun.vue
  orion-ui/src/pages/WorkQueue.vue
  orion-ui/src/pages/WorkQueueEdit.vue
  orion-ui/src/router/index.ts
  orion-ui/src/router/routes.ts
  orion-ui/tests/utilities/pages.ts
Labels: maintenance

#7467 Add upload_options to S3Upload
  src/prefect/engine/results/s3_result.py
  src/prefect/storage/s3.py
  src/prefect/tasks/aws/s3.py
  tests/tasks/aws/test_s3.py
Labels: v1

#7746 Monitor process after kill and return early when possible
  src/prefect/infrastructure/process.py
  tests/infrastructure/test_process.py
Labels: fix

#7585 Update orchestration rule to wait for scheduled time to only apply to transition to running
  src/prefect/orion/orchestration/core_policy.py
  tests/agent/test_agent_run_submission.py
  tests/orion/orchestration/test_core_policy.py
Labels: enhancement

#7764 Run stale action every hour with fewer operations
  .github/workflows/stale.yml
Labels: maintenance

#7761 Prepare for release of 1.4.1
  .circleci/config.yml
  .flake8
  CHANGELOG.md
Labels: v1

#7179 Add extra entrypoints setting for user module injection
  src/prefect/__init__.py
  src/prefect/plugins.py
  src/prefect/settings.py
  tests/test_plugins.py
Labels: feature

#7773 Add 2.7 to client compatibility tests
  .github/workflows/integration-tests.yaml
Labels: maintenance

#7747 Use cluster uid and namespace instead of cluster "name" for Kubernetes job identifiers
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_kubernetes_job.py
Labels: enhancement, v2

#7785 Bump orion-design to 1.1.30 and fix breaking change in multi delete
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/pages/Deployments.vue
  orion-ui/src/pages/FlowRuns.vue
  orion-ui/src/pages/Flows.vue
Labels: maintenance

#7696 Docs: Add create a flow run from deployment with Prefect client to Concepts
  docs/concepts/deployments.md
Labels: docs

#7788 Move wait_for examples to Tasks documentation
  docs/concepts/tasks.md
  docs/faq.md
Labels: docs

#7789 Add lock to ensure that alembic commands are not run concurrently
  src/prefect/orion/database/alembic_commands.py
  src/prefect/orion/database/dependencies.py
  tests/orion/database/test_alembic_commands.py
Labels: fix

#7786 Update `KubernetesJob` to watch jobs without timeout by default
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_kubernetes_job.py
Labels: fix

#7809 Update run history tests to compare dicts instead of models
  tests/orion/api/test_run_history.py
Labels: maintenance

#7779 Add a task run concurrency limits page
  orion-ui/src/components/ContextSidebar.vue
  orion-ui/src/pages/ConcurrencyLimits.vue
  orion-ui/src/router/index.ts
Labels: enhancement

#7815 Remove incorrect statement regarding CLI access to logs
  docs/concepts/logs.md
Labels: docs, v2

#7798 Release task concurrency slots when transition is rejected as long as the task is not in a running state
  src/prefect/orion/orchestration/core_policy.py
  tests/orion/orchestration/test_core_policy.py
Labels: v2, fix

#7810 Add setting to toggle interpreting square brackets as style
  docs/concepts/logs.md
  src/prefect/logging/handlers.py
  src/prefect/settings.py
  tests/test_logging.py
Labels: enhancement

#7173 Flow Run Notification URL Bugfix
  tests/orion/services/test_flow_run_notifications.py
Labels: v2, fix

#7828 Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Labels: maintenance

#7836 Defer imports for performance
  src/prefect/client/orion.py
  src/prefect/infrastructure/docker.py
  src/prefect/orion/schemas/filters.py
  src/prefect/orion/schemas/sorting.py
Labels: enhancement

#7830 Allow `reject_transition` to use current state
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/api/task_runs.py
  src/prefect/orion/exceptions.py
  src/prefect/orion/orchestration/rules.py
  tests/orion/orchestration/test_rules.py
Labels: enhancement

#7738 Implement non-blocking style pauses
  src/prefect/client/orion.py
  src/prefect/context.py
  src/prefect/engine.py
  src/prefect/exceptions.py
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/api/server.py
  src/prefect/orion/orchestration/__init__.py
  src/prefect/orion/orchestration/core_policy.py
  src/prefect/orion/orchestration/global_policy.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/schemas/states.py
  src/prefect/orion/services/__init__.py
  src/prefect/orion/services/pause_expirations.py
  src/prefect/settings.py
  src/prefect/states.py
  tests/fixtures/database.py
  tests/orion/api/test_flow_runs.py
  tests/orion/api/test_run_history.py
  tests/orion/orchestration/test_core_policy.py
  tests/orion/orchestration/test_global_policy.py
  tests/orion/services/test_pause_expirations.py
  tests/test_engine.py
Labels: feature

#7847 Fix bug where pause expiration and late run services settings were swapped
  src/prefect/orion/api/server.py
Labels: fix

#7778 Add Opsgenie notification block
  docs/ui/notifications.md
  src/prefect/blocks/notifications.py
  tests/blocks/test_notifications.py
Labels: enhancement

#7819 Add experimental utilities
  src/prefect/_internal/__init__.py
  src/prefect/_internal/compatibility/__init__.py
  src/prefect/_internal/compatibility/experimental.py
  src/prefect/settings.py
  tests/_internal/compatibility/test_experimental.py
Labels: maintenance

#7859 Chore: Remove d3 dep
  orion-ui/package-lock.json
  orion-ui/package.json
  src/prefect/orion/api/package-lock.json
Labels: maintenance, ui

#7844 Remove down-migrations from database setup fixture
  tests/fixtures/database.py
Labels: maintenance

#7829 Autoresolve merge conflicts during docs deployment
  .github/workflows/release.yaml
Labels: maintenance

#7845 Fix bug where agent concurrency slots may not be released
  src/prefect/agent.py
  tests/agent/test_agent_run_submission.py
Labels: fix

#7837 Mark `test_first_polling_is_smaller_than_the_timeout` as flaky
  tests/test_engine.py
Labels: maintenance

#7861 Fix integration tests with v2.6 client images
  .github/workflows/integration-tests.yaml
Labels: maintenance

#7858 Add `experimental_parameter` utility
  src/prefect/_internal/compatibility/experimental.py
  src/prefect/utilities/callables.py
  tests/_internal/compatibility/test_experimental.py
Labels: maintenance

#7848 Add individual concurrency limit page with active runs list
  orion-ui/src/pages/ConcurrencyLimit.vue
  orion-ui/src/router/index.ts
Labels: enhancement

#7863 Implement out-of-process flow run pauses
  src/prefect/engine.py
  src/prefect/exceptions.py
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/orchestration/core_policy.py
  src/prefect/orion/schemas/states.py
  src/prefect/states.py
  tests/fixtures/database.py
  tests/orion/api/test_task_runs.py
  tests/orion/models/test_task_run_states.py
  tests/orion/models/test_task_runs.py
  tests/orion/orchestration/test_core_policy.py
  tests/test_engine.py
Labels: feature

#7831 Adds CSS for a Beta badge
  docs/stylesheets/extra.css
Labels: docs

#7833 Add documentation for Automations UI
  docs/img/ui/automations-action.png
  docs/img/ui/automations-details.png
  docs/img/ui/automations-trigger.png
  docs/img/ui/automations.png
  docs/stylesheets/extra.css
  docs/ui/automations.md
  docs/ui/cloud.md
  mkdocs.yml
Labels: docs

#7832 Create abstract Job interface block
  src/prefect/blocks/abstract.py
  tests/blocks/test_abstract.py
Labels: maintenance

#7872 Update experimental utilities to require kwarg for group
  src/prefect/_internal/compatibility/experimental.py
  tests/_internal/compatibility/test_experimental.py
Labels: maintenance

#7865 Add thread-safe async primitives `Event` and `Future`
  src/prefect/_internal/concurrency/__init__.py
  src/prefect/_internal/concurrency/event_loop.py
  src/prefect/_internal/concurrency/primitives.py
  tests/_internal/concurrency/test_primitives.py
Labels: maintenance

#7876 Mention recipes and tutorials under Recipes and Collections pages
  docs/collections/usage.md
  docs/recipes/recipes.md
Labels: docs

#7879 fixup: set `oauth` prefix to git clone string
  netlify.toml
Labels: maintenance

#7857 Refactor `pause_flow_run` for consistency with engine state handling
  src/prefect/engine.py
  src/prefect/exceptions.py
  tests/test_engine.py
Labels: enhancement

#7883 Fix circular imports in the `orchestration` module
  src/prefect/orion/__init__.py
  src/prefect/orion/orchestration/__init__.py
Labels: fix

#7878 Add cloud icons and admonitions
  docs/stylesheets/extra.css
  docs/ui/audit-log.md
  docs/ui/automations.md
  docs/ui/cloud-getting-started.md
  docs/ui/cloud.md
  docs/ui/organizations.md
  docs/ui/roles.md
  docs/ui/service-accounts.md
  docs/ui/sso.md
  docs/ui/workspaces.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: docs

#7840 Add documentation for Task Run Concurrency UI
  docs/concepts/tasks.md
  docs/img/ui/add-concurrency-limit.png
  docs/img/ui/cloud-workspace-dashboard.png
  docs/img/ui/orion-dashboard.png
  docs/img/ui/task-run-concurrency.png
  docs/ui/cloud.md
  docs/ui/overview.md
  docs/ui/task-concurrency.md
  mkdocs.yml
Labels: docs, ui, v2

#7888 Correct spelling in Results page
  docs/concepts/results.md
Labels: docs

#7866 Abstract database block
  src/prefect/blocks/abstract.py
  tests/blocks/test_abstract.py
Labels: maintenance

#7894 add `with_options` example to collections usage docs
  docs/collections/usage.md
Labels: docs, collections

#7867 Abstract object storage block
  src/prefect/blocks/abstract.py
  tests/blocks/test_abstract.py
Labels: maintenance

#7881 Migrates notification block
  src/prefect/blocks/abstract.py
  src/prefect/blocks/notifications.py
  tests/blocks/test_abstract.py
Labels: maintenance

#7882 Add secret block
  src/prefect/blocks/abstract.py
  tests/blocks/test_abstract.py
Labels: maintenance

#7875 Add `WorkerThreadPool` for running synchronous work in threads
  src/prefect/_internal/concurrency/event_loop.py
  src/prefect/_internal/concurrency/primitives.py
  src/prefect/_internal/concurrency/workers.py
  tests/_internal/concurrency/test_workers.py
Labels: maintenance

#7899 Touchup abstract blocks
  src/prefect/blocks/abstract.py
Labels: maintenance

#7891 Fix path argument for LocalFileSystem block
  src/prefect/filesystems.py
  tests/test_filesystems.py
Labels: v2, fix

#7794 Create a `CANCELLING` state type
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2022_12_06_164028_9326a6aee18b_add_cancelling_to_state_type_enum.py
  src/prefect/orion/database/query_components.py
  src/prefect/orion/orchestration/core_policy.py
  src/prefect/orion/schemas/states.py
  tests/orion/models/test_work_queues.py
  tests/orion/orchestration/test_core_policy.py
Labels: enhancement, migration

#7905 eslint config update and warnings fixed
  orion-ui/.eslintrc.js
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/main.ts
  orion-ui/src/pages/ConcurrencyLimits.vue
  orion-ui/src/pages/FlowRun.vue
  orion-ui/src/pages/FlowRunRadar.vue
  orion-ui/src/pages/WorkQueue.vue
  orion-ui/src/utilities/meta.ts
Labels: maintenance, ui

#7906 Add documentation for pausing flow runs
  docs/concepts/flows.md
Labels: docs

#7907 Add Bitbucket and Kubernetes to Collections catalog
  docs/collections/catalog/prefect-bitbucket.yaml
  docs/collections/catalog/prefect-kubernetes.yaml
  docs/img/collections/bitbucket.png
Labels: docs, collections

#7885 Adds a SecretDict field that obfuscated values in a dictionary
  docs/concepts/blocks.md
  src/prefect/blocks/core.py
  src/prefect/blocks/fields.py
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/utilities/schemas.py
  tests/blocks/test_core.py
  tests/orion/api/test_block_documents.py
  tests/orion/models/test_block_documents.py
Labels: enhancement

#7799 Fix cancellation of flows running in processes on Windows
  RELEASE-NOTES.md
  src/prefect/infrastructure/process.py
  src/prefect/utilities/processutils.py
  tests/infrastructure/test_process.py
  tests/utilities/test_processutils.py
Labels: v2, fix

#7915 Update announcement bar for 2.7.2 release
  docs/overrides/main.html
Labels: docs

#7914 add missing Optional type hint for `job_watch_timeout_seconds`
  src/prefect/infrastructure/kubernetes.py
Labels: fix

#7923 Update announcement bar for 2.7.3 release
  docs/overrides/main.html
Labels: docs

#7714 Keep data from being lost when assigning a generator to `State.data`
  src/prefect/states.py
  tests/test_tasks.py
Labels: fix

#7920 Fix bug where flows with names that do not match the function name cannot not be loaded
  src/prefect/cli/deployment.py
  src/prefect/flows.py
  tests/cli/deployment/test_deployment_build.py
Labels: v2, fix

#7897 Improve `Event` implementation consistency and fix deadlock
  src/prefect/_internal/concurrency/event_loop.py
  src/prefect/_internal/concurrency/primitives.py
  tests/_internal/concurrency/test_primitives.py
  tests/_internal/concurrency/test_workers.py
Labels: maintenance

#7940 Update language in Deployments concept page
  docs/concepts/deployments.md
Labels: docs

#7896 Add experimental workers API
  MANIFEST.in
  requirements.txt
  src/prefect/client/orion.py
  src/prefect/orion/api/__init__.py
  src/prefect/orion/api/admin.py
  src/prefect/orion/api/deployments.py
  src/prefect/orion/api/server.py
  src/prefect/orion/api/workers.py
  src/prefect/orion/database/interface.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_11_24_143620_f7587d6c5776_add_worker_tables.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_11_24_143302_fe77ad0dda06_add_worker_tables.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/database/query_components.py
  src/prefect/orion/database/sql/postgres/get-runs-from-worker-queues.sql.jinja
  src/prefect/orion/database/sql/sqlite/get-runs-from-worker-queues.sql.jinja
  src/prefect/orion/models/__init__.py
  src/prefect/orion/models/deployments.py
  src/prefect/orion/models/workers.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/schemas/filters.py
  src/prefect/orion/schemas/responses.py
  src/prefect/settings.py
  tests/agent/test_agent_run_cancellation.py
  tests/conftest.py
  tests/fixtures/database.py
  tests/orion/api/test_workers.py
  tests/orion/database/test_alembic_commands.py
  tests/orion/database/test_dependencies.py
  tests/orion/database/test_queries.py
  tests/orion/models/test_deployments.py
  tests/orion/models/test_filters.py
  tests/orion/models/test_workers.py
  tests/orion/schemas/test_core.py
  tests/orion/utilities/test_database.py
Labels: migration

#7932 Send enabled experiments as "flags" to the UI
  src/prefect/_internal/compatibility/experimental.py
  src/prefect/orion/api/server.py
  tests/_internal/compatibility/test_experimental.py
  tests/orion/test_app.py
Labels: enhancement, ui

#7949 Update `prefect deployment` command listing
  docs/concepts/deployments.md
Labels: docs

#7931 Remove worker pool in favor of reusing standard library executors
  src/prefect/_internal/concurrency/executor.py
  src/prefect/_internal/concurrency/primitives.py
  src/prefect/_internal/concurrency/workers.py
  tests/_internal/concurrency/test_executor.py
  tests/_internal/concurrency/test_primitives.py
  tests/_internal/concurrency/test_workers.py
Labels: maintenance

#7908 Add credentials abstract block
  src/prefect/blocks/abstract.py
  tests/blocks/test_abstract.py
Labels: maintenance

#7951 Enhancement: Add task run names to the `/graph` route
  src/prefect/orion/models/flow_runs.py
Labels: enhancement, api, needs:cloud-pr

#7960 Add prefect-google-sheets collection to Collections
  docs/collections/catalog/prefect-google-sheets.yaml
  docs/img/collections/gsheets.png
Labels: docs, integrations

#7930 Update tag-based work queue deprecation messages to include deprecation date
  src/prefect/cli/agent.py
  src/prefect/cli/work_queue.py
  src/prefect/client/orion.py
Labels: deprecation

#7968 Disable integration tests
  .github/workflows/integration-tests.yaml
Labels: maintenance

#7963 implement create can
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/App.vue
  orion-ui/src/compositions/useCan.ts
  orion-ui/src/pages/AppRouterView.vue
  orion-ui/src/utilities/permissions.ts
Labels: maintenance, ui

#7941 Add workspace transfer documentation
  docs/img/ui/workspace-transfer-options.png
  docs/img/ui/workspace-transfer.png
  docs/ui/workspaces.md
Labels: docs, cloud

#7954 Implement configurable retry delays and exponential backoff
  src/prefect/client/orion.py
  src/prefect/orion/orchestration/core_policy.py
  src/prefect/orion/schemas/core.py
  src/prefect/tasks.py
  src/prefect/utilities/math.py
  tests/orion/api/test_flow_runs.py
  tests/orion/api/test_task_runs.py
  tests/orion/orchestration/test_core_policy.py
  tests/test_engine.py
  tests/test_tasks.py
  tests/utilities/test_math.py
Labels: feature

#7961 Increase the default thread limit from 40 -> 250
  src/prefect/utilities/asyncutils.py
Labels: enhancement

#7971 Updated announcement bar for 2.7.4 release
  docs/overrides/main.html
Labels: docs

#7977 Fixing task annotation in task runner docs
  docs/concepts/task-runners.md
Labels: docs

#7983 Add tests for cli version output
  tests/cli/test_version.py
Labels: maintenance

#7991 Update vite and vitejs/plugin-vue
  orion-ui/package-lock.json
  orion-ui/package.json
Labels: maintenance

#7965 Add feature flags to orion-ui
  orion-ui/src/App.vue
  orion-ui/src/maps/featureFlag.ts
  orion-ui/src/maps/index.ts
  orion-ui/src/maps/uiSettings.ts
  orion-ui/src/pages/AppRouterView.vue
  orion-ui/src/services/mapper.ts
  orion-ui/src/services/uiSettings.ts
  orion-ui/src/types/flagResponse.ts
  orion-ui/src/types/settingsResponse.ts
  orion-ui/src/utilities/permissions.ts
Labels: maintenance, ui

#7994 replaced local guard with isNotNullish from orion-design
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/maps/index.ts
  orion-ui/src/maps/uiSettings.ts
Labels: maintenance, ui

#7995 Fixes read worker pool queue endpoint
  src/prefect/orion/api/workers.py
  tests/orion/api/test_workers.py
Labels: fix

#7979 Add instructions for building custom blocks docs
  docs/collections/contribute.md
Labels: docs

#7928 Cleanup deployment-start-time feature branch, add tests
  requirements.txt
  src/prefect/cli/deployment.py
  tests/cli/deployment/test_deployment_run.py
Labels: enhancement

#7997 Fixes error in worker pool queue endpoint
  src/prefect/orion/api/workers.py
  tests/orion/api/test_workers.py
Labels: fix

#7975 Add rebase to docs release process
  .github/workflows/release.yaml
Labels: maintenance

#8009 Updates prefect-gcp blocks for 0.2.1 release
  src/prefect/orion/collection_blocks_data.json
Labels: maintenance

#8010 Fixes collection blocks json ordering
  src/prefect/orion/collection_blocks_data.json
Labels: maintenance

#8006 Adds filtering to flow runs by worker pool and worker pool queue attributes
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/models/flow_runs.py
  tests/orion/api/test_flow_runs.py
  tests/orion/models/test_flow_runs.py
Labels: enhancement

#7993 Fix bug where flow timeouts started before waiting for upstreams
  src/prefect/engine.py
  tests/test_flows.py
Labels: fix

#7942 Add `Runtime` for centralized management of concurrent work
  src/prefect/_internal/concurrency/executor.py
  src/prefect/_internal/concurrency/runtime.py
  tests/_internal/concurrency/test_runtime.py
Labels: maintenance

#8017 Link to blocks catalog upon registering blocks in CLI
  src/prefect/cli/block.py
  tests/cli/test_block.py
Labels: enhancement, component:cli

#8022 Fix up blocks docs
  docs/collections/usage.md
  docs/concepts/blocks.md
Labels: docs
