Repository PrefectHQ/prefect, pull requests merged in 2022-11, with the labels that each got.

#7376 Fix deployment UI link
  src/prefect/cli/deployment.py
  tests/cli/test_deployment_cli.py
Labels: fix

#7390 Handle missing flow runs
  src/prefect/exceptions.py
  src/prefect/orion/orchestration/core_policy.py
  tests/orion/orchestration/test_core_policy.py
Labels: enhancement

#7397 Fix non existing kubernetes version.
  setup.py
Labels: v1

#7343 subflows can `wait_for` upstream dependencies
  src/prefect/engine.py
  src/prefect/flows.py
  tests/test_engine.py
  tests/test_tasks.py
Labels: feature

#7394 Allow filtering of Work Queues via the API based on name prefix
  src/prefect/cli/work_queue.py
  src/prefect/client/orion.py
  src/prefect/orion/api/work_queues.py
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2022_10_31_161719_41e5ed9e1034_.py
  src/prefect/orion/models/work_queues.py
  src/prefect/orion/schemas/filters.py
  tests/client/test_orion_client.py
  tests/orion/api/test_work_queues.py
  tests/orion/models/test_work_queues.py
Labels: enhancement, migration

#7353 Add versioning documentation
  docs/contributing/versioning.md
  mkdocs.yml
Labels: docs

#7369 Update Collections docs
  RELEASE-NOTES.md
  docs/collections/catalog.md
  docs/collections/catalog/prefect-alert.yaml
  docs/collections/catalog/prefect-email.yaml
  docs/collections/catalog/prefect-kv.yaml
  docs/collections/contribute.md
  docs/collections/overview.md
  docs/collections/usage.md
  docs/concepts/filesystems.md
  docs/concepts/task-runners.md
  docs/index.md
  docs/tutorials/dask-ray-task-runners.md
  docs/tutorials/execution.md
  mkdocs.yml
Labels: docs

#7412 Scheduler stability fixes
  src/prefect/orion/services/scheduler.py
  src/prefect/settings.py
  tests/orion/api/test_deployments.py
  tests/orion/models/test_deployments.py
  tests/orion/services/test_scheduler.py
Labels: enhancement

#7403 Update database configuration setting examples
  docs/concepts/database.md
Labels: enhancement, docs, v2

#7385 Fix JSON serialization error when creating flow runs
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/utilities/schemas.py
  tests/orion/schemas/test_actions.py
Labels: v2, fix

#7345 Updates KubernetesJob cluster_config typing and docs
  src/prefect/infrastructure/kubernetes.py
Labels: maintenance

#7420 Add fivetran gitlab catalog
  docs/collections/catalog/prefect-fivetran.yaml
  docs/collections/catalog/prefect-gitlab.yaml
  docs/img/collections/fivetran.png
  docs/img/collections/gitlab.png
Labels: docs, collections

#7419 Update announce banner for 2.6.6
  docs/overrides/main.html
Labels: docs, v2

#6101 Add colored log levels
  docs/concepts/logs.md
  src/prefect/logging/handlers.py
  src/prefect/logging/highlighters.py
  src/prefect/logging/logging.yml
  src/prefect/settings.py
  tests/cli/test_block.py
  tests/cli/test_flow_run.py
  tests/infrastructure/test_docker_container.py
  tests/infrastructure/test_process.py
  tests/test_highlighters.py
  tests/test_logging.py
Labels: enhancement

#7415 Adds auto-registration of blocks from AWS, Azure, GCP, and Databricks collections
  MANIFEST.in
  requirements.txt
  src/prefect/collection_blocks_data.json
  src/prefect/orion/collection_blocks_data.json
  src/prefect/orion/models/block_registration.py
Labels: collections

#7360 Add import for ObjectAlreadyExists exception in deployments module
  src/prefect/deployments.py
Labels: fix

#7426 Update flow and task run page wells and remove deprecated ui apis
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/App.vue
  orion-ui/src/pages/BlockEdit.vue
  orion-ui/src/pages/BlockView.vue
  orion-ui/src/pages/Blocks.vue
  orion-ui/src/pages/BlocksCatalog.vue
  orion-ui/src/pages/BlocksCatalogCreate.vue
  orion-ui/src/pages/BlocksCatalogView.vue
  orion-ui/src/pages/Deployment.vue
  orion-ui/src/pages/DeploymentEdit.vue
  orion-ui/src/pages/Deployments.vue
  orion-ui/src/pages/Flow.vue
  orion-ui/src/pages/FlowRun.vue
  orion-ui/src/pages/FlowRunCreate.vue
  orion-ui/src/pages/FlowRunRadar.vue
  orion-ui/src/pages/FlowRuns.vue
  orion-ui/src/pages/Flows.vue
  orion-ui/src/pages/NotificationCreate.vue
  orion-ui/src/pages/NotificationEdit.vue
  orion-ui/src/pages/Notifications.vue
  orion-ui/src/pages/TaskRun.vue
  orion-ui/src/pages/WorkQueue.vue
  orion-ui/src/pages/WorkQueueCreate.vue
  orion-ui/src/pages/WorkQueueEdit.vue
  orion-ui/src/pages/WorkQueues.vue
  orion-ui/src/router/routes.ts
  orion-ui/src/services/blockCapabilitiesApi.ts
  orion-ui/src/services/blockDocumentsApi.ts
  orion-ui/src/services/blockSchemasApi.ts
  orion-ui/src/services/blockTypesApi.ts
  orion-ui/src/services/deploymentsApi.ts
  orion-ui/src/services/flowRunsApi.ts
  orion-ui/src/services/flowsApi.ts
  orion-ui/src/services/logsApi.ts
  orion-ui/src/services/notificationsApi.ts
  orion-ui/src/services/taskRunsApi.ts
  orion-ui/src/services/uiSettings.ts
  orion-ui/src/services/workQueuesApi.ts
Labels: enhancement, ui

#7439 Redirect to the logs tab when the flowRunId changes
  orion-ui/src/pages/FlowRun.vue
Labels: enhancement

#7443 Add hightouch to catalog
  docs/collections/catalog/prefect-hightouch.yaml
  docs/img/collections/hightouch.png
Labels: docs, collections

#7444 Fixed typo in schedules.md
  docs/concepts/schedules.md
Labels: docs, v2, fix

#7451 Update pre-commit tools
  .pre-commit-config.yaml
  src/prefect/deployments.py
Labels: maintenance

#7432 Add dark mode to docs
  mkdocs.yml
Labels: docs, v2

#7452 Removes aiohttp from requirements
  requirements.txt
Labels: maintenance

#7427 Reduce scope of auto-requested review for @cicdw
  .github/CODEOWNERS
Labels: maintenance

#7437 Fix the `--skip-upload` flag in the Deployment build CLI
  src/prefect/cli/deployment.py
  tests/cli/test_deployment_cli.py
Labels: fix

#7411 Create setting for UI URL and clarify Cloud API URL
  src/prefect/cli/block.py
  src/prefect/cli/cloud.py
  src/prefect/cli/deployment.py
  src/prefect/cli/orion_utils.py
  src/prefect/cli/root.py
  src/prefect/client/cloud.py
  src/prefect/logging/configuration.py
  src/prefect/settings.py
  tests/cli/test_deployment_cli.py
  tests/cli/test_version.py
  tests/test_settings.py
Labels: enhancement

#7404 Add Audit Log documentation for Prefect Cloud
  docs/img/ui/audit-log.png
  docs/ui/audit-log.md
  docs/ui/cloud.md
  mkdocs.yml
Labels: docs, ui, v2

#7482 Fix `visit_collection` handling of IO objects
  src/prefect/utilities/collections.py
  tests/utilities/test_collections.py
Labels: fix

#7450 Improve scheduler selectivity for performance
  src/prefect/orion/database/migrations/versions/postgresql/2022_11_05_180555_54c1876c68ae_add_index_for_scheduled_deployments.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_11_05_180619_a0284438370e_add_index_for_scheduled_deployments.py
  src/prefect/orion/services/scheduler.py
  tests/orion/services/test_scheduler.py
Labels: enhancement, migration

#7446 Add troubleshooting topics for Prefect Cloud
  docs/ui/troubleshooting.md
  mkdocs.yml
Labels: docs, v2

#7409 Add task-level timeouts
  docs/concepts/tasks.md
  src/prefect/context.py
  src/prefect/engine.py
  src/prefect/tasks.py
  src/prefect/testing/standard_test_suites/task_runners.py
  tests/test_engine.py
  tests/test_tasks.py
Labels: enhancement, v2

#7462 Adds improved styling to dark mode and automatic light-dark mode support
  docs/collections/catalog.md
  docs/img/collections/monday.png
  docs/recipes/recipes.md
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: docs, v2

#7479 Add deployment and flow metadata to infrastructure labels
  src/prefect/agent.py
  src/prefect/infrastructure/base.py
  tests/infrastructure/test_base.py
  tests/test_agent.py
Labels: enhancement

#7465 Add secret flag to settings and obfuscate by default when displayed
  src/prefect/cli/config.py
  src/prefect/cli/root.py
  src/prefect/orion/api/admin.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/utilities/names.py
  src/prefect/settings.py
  src/prefect/utilities/names.py
  tests/blocks/test_core.py
  tests/cli/test_config.py
  tests/orion/api/test_admin.py
  tests/orion/api/test_block_documents.py
  tests/orion/models/test_block_documents.py
  tests/test_settings.py
  tests/utilities/test_names.py
Labels: enhancement

#7497 Add documentation for Directory Sync
  docs/ui/sso.md
Labels: docs, v2

#7493 Add release notes for 2.6.7
  RELEASE-NOTES.md
Labels: maintenance

#7505 Add `--run-once` to `prefect agent start` CLI
  src/prefect/cli/agent.py
  src/prefect/testing/cli.py
  src/prefect/utilities/services.py
  tests/cli/test_agent.py
Labels: enhancement

#7498 Expose `prefetch-seconds` in `prefect agent` CLI
  docs/concepts/work-queues.md
  requirements.txt
  src/prefect/cli/agent.py
  src/prefect/testing/utilities.py
  src/prefect/utilities/compat.py
  tests/cli/test_agent.py
Labels: enhancement

#7496 Add start-time sort for Flow Runs
  src/prefect/orion/database/migrations/versions/postgresql/2022_11_10_171740_8caf7c1fd82c_add_coalesced_start_time_indices.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_11_10_165921_4f90ad6349bd_add_coalesced_start_time_indices.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/schemas/sorting.py
  tests/orion/api/test_flow_runs.py
Labels: enhancement, migration

#7517 Fix typo in Docker tutorial
  docs/tutorials/docker.md
Labels: docs, v2

#7514 Improve orchestration injection semantics
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/api/task_runs.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/models/task_runs.py
  src/prefect/orion/orchestration/dependencies.py
  src/prefect/orion/orchestration/global_policy.py
  src/prefect/orion/orchestration/rules.py
  tests/orion/models/test_flow_run_states.py
  tests/orion/models/test_task_run_states.py
  tests/orion/orchestration/test_global_policy.py
  tests/orion/orchestration/test_rules.py
Labels: enhancement

#7470 Adds `merge_existing_data` flag to `update_block_document` and new POST endpoint
  src/prefect/client/orion.py
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/schemas/actions.py
  tests/orion/api/test_block_documents.py
  tests/orion/models/test_block_documents.py
Labels: enhancement

#7532 Add tests that demonstrate deadlocks
  tests/engine/reliability/test_deadlocks.py
Labels: maintenance

#7537 Fix linking to Collections catalog
  docs/concepts/blocks.md
  netlify.toml
Labels: docs, v2

#7539 Provide docstring for ContextModel.copy
  src/prefect/context.py
Labels: docs, v2

#7544 Remove outdated workspaces limit language
  docs/ui/workspaces.md
Labels: docs, v2

#7549 Fixed flow types by making name and version arguments optional
  src/prefect/flows.py
Labels: fix

#7548 Add tests for sync / async reliability issues
  tests/engine/reliability/test_deadlocks.py
  tests/engine/reliability/test_sync_async.py
  tests/generic_tasks.py
Labels: maintenance

#7552 Update props on TaskRun and FlowRun pages
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/pages/FlowRun.vue
  orion-ui/src/pages/TaskRun.vue
Labels: enhancement

#7477 LocalFileSystem check for empty paths
  src/prefect/filesystems.py
Labels: v2, fix

#7471 Minor doc fixes to resolve warnings and errors
  docs/api-ref/orion/orchestration/core_policy.md
  docs/api-ref/orion/orchestration/global_policy.md
  docs/api-ref/orion/orchestration/policies.md
  docs/api-ref/orion/orchestration/rules.md
  docs/api-ref/orion/schemas/actions.md
  docs/api-ref/orion/schemas/core.md
  docs/api-ref/orion/schemas/filters.md
  docs/api-ref/orion/schemas/states.md
  docs/api-ref/orion/utilities/database.md
  mkdocs.yml
  src/prefect/client/base.py
  src/prefect/client/orion.py
  src/prefect/flows.py
  src/prefect/tasks.py
  src/prefect/utilities/collections.py
Labels: docs, v2

#7542 Fix positioning of Prefect Cloud link
  docs/overrides/partials/tabs.html
  docs/stylesheets/extra.css
Labels: docs, v2

#7563 Make stale action more likely to close issues
  .github/workflows/stale.yml
Labels: maintenance

#7557 Adds collection data prefect-vault integration
  docs/collections/catalog/prefect-vault.yaml
  docs/collections/generate_catalog.py
  docs/img/collections/vault.png
Labels: docs

#7558 Fix `PrefectConsoleHandler` bug where log tracebacks were excluded
  src/prefect/logging/handlers.py
  src/prefect/testing/cli.py
  tests/cli/test_block.py
  tests/test_logging.py
Labels: fix

#7572 Docs: Add inspect to concurrency-limit in concept
  docs/concepts/tasks.md
Labels: docs

#7569 Update logging setup to support incremental configuration
  src/prefect/__init__.py
  src/prefect/logging/configuration.py
  src/prefect/logging/handlers.py
  tests/conftest.py
  tests/test_engine.py
  tests/test_logging.py
Labels: fix

#7578 Update announce bar for 2.6.8
  docs/overrides/main.html
Labels: docs, v2

#7555 Add basic benchmarking to CI
  .github/workflows/benchmarks.yaml
  benches/README.md
  benches/__main__.py
  benches/bench_flows.py
  benches/bench_tasks.py
  benches/conftest.py
  requirements-dev.txt
  setup.cfg
Labels: maintenance

#7567 Update logging `JsonFormatter` to output valid JSON
  src/prefect/logging/formatters.py
  tests/test_logging.py
Labels: v2, fix

#7586 Bugfix: Remove inter import blocking UI loads in airgapped environments
  orion-ui/src/styles/style.css
Labels: ui, fix

#7592 Add automatic upper-casing of string log level settings
  src/prefect/settings.py
  tests/test_settings.py
Labels: enhancement

#7597 Add docs about CPU and memory allocation on agent deploying ECS infrastructure blocks
  docs/concepts/infrastructure.md
Labels: docs

#7603 Return 404 on missing flow run
  src/prefect/exceptions.py
  src/prefect/orion/orchestration/core_policy.py
  tests/orion/api/test_task_runs.py
  tests/orion/orchestration/test_core_policy.py
Labels: fix

#7595 Add `infrastructure_pid` to flow run
  setup.cfg
  src/prefect/client/orion.py
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2022_11_18_161056_5d526270ddb4_add_flowrun_infrastructure_pid.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_11_10_165921_4f90ad6349bd_add_coalesced_start_time_indices.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_11_18_161332_7201de756d85_add_flowrun_infrastructure_pid.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  tests/client/test_orion_client.py
Labels: enhancement, migration

#7588 Add `PrefectFormatter` to reduce logging configuration duplication
  src/prefect/logging/formatters.py
  src/prefect/logging/logging.yml
  tests/conftest.py
  tests/test_logging.py
Labels: enhancement

#7441 Fix error with LocalFileSystem deployments in python 3.7
  src/prefect/filesystems.py
  src/prefect/utilities/compat.py
  tests/test_filesystems.py
Labels: v2, fix

#7634 Update announce bar for 2.6.9
  docs/overrides/main.html
Labels: docs, v2

#7629 Add flow run cancel command
  src/prefect/cli/flow_run.py
  src/prefect/client/orion.py
  tests/cli/test_flow_run.py
  tests/client/test_orion_client.py
Labels: enhancement, v2

#7649 Update login to prompt for "API key" instead of "authentication key"
  src/prefect/cli/cloud.py
  tests/cli/test_cloud.py
Labels: enhancement

#7652 Add jitter to the agent core loop
  src/prefect/cli/agent.py
  src/prefect/utilities/math.py
  src/prefect/utilities/services.py
  tests/utilities/test_math.py
  tests/utilities/test_services.py
Labels: enhancement

#7637 Blocking pause/resume
  src/prefect/__init__.py
  src/prefect/engine.py
  src/prefect/exceptions.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_11_23_092449_5e4f924ff96c_add_paused_state_type.py
  src/prefect/orion/schemas/states.py
  src/prefect/states.py
  tests/test_engine.py
Labels: feature, migration

#7566 add tests for localfilesystem
  tests/test_filesystems.py
Labels: enhancement, v2

#7647 Include final state logs in logs sent to API
  src/prefect/engine.py
  tests/test_flows.py
Labels: enhancement

#7648 Prompt workspace selection if API key is set but API URL is not set
  src/prefect/cli/cloud.py
  tests/cli/test_cloud.py
Labels: fix

#7635 Add kill method to Process infrastructure
  src/prefect/exceptions.py
  src/prefect/infrastructure/process.py
  src/prefect/utilities/processutils.py
  tests/infrastructure/test_process.py
Labels: enhancement

#7638 Add error to invoke and assert test utility when called from async function
  src/prefect/testing/cli.py
Labels: maintenance, v2

#7673 Fix benchmarks exit codes
  benches/__main__.py
Labels: maintenance

#7674 Update login and PREFECT_API_URL configuration notes
  docs/getting-started/overview.md
  docs/tutorials/orion.md
  docs/ui/cloud-getting-started.md
Labels: docs, v2

#7681 Bugfix: pauses will not sleep longer than the polling interval
  src/prefect/engine.py
  tests/test_engine.py
Labels: fix

#7691 Add docs about AWS retries config
  docs/concepts/infrastructure.md
Labels: docs

#7686 Add GitLab storage block docs to deployment CLI
  docs/concepts/deployments.md
  docs/concepts/filesystems.md
  docs/concepts/storage.md
  src/prefect/cli/deployment.py
Labels: docs, v2

#7690 Mention Cloud Run and Container Instance
  docs/concepts/infrastructure.md
Labels: docs

#7694 Make the final state of a flow `Cancelled` when any task finishes in a `Cancelled` state
  src/prefect/states.py
  tests/test_flows.py
  tests/test_states.py
Labels: enhancement

#7580 Add `log_prints` option to redirect print to logs
  docs/concepts/logs.md
  src/prefect/context.py
  src/prefect/engine.py
  src/prefect/flows.py
  src/prefect/logging/loggers.py
  src/prefect/settings.py
  src/prefect/tasks.py
  tests/test_engine.py
  tests/test_flows.py
  tests/test_log_prints.py
  tests/test_logging.py
Labels: enhancement

#7697 Display all parameter values a flow run was triggered with in the UI (defaults and overrides)
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/pages/FlowRun.vue
Labels: fix

#7627 Disable cache on result retrieval if disabled on creation
  src/prefect/results.py
  tests/results/test_persisted_result.py
  tests/results/test_task_results.py
Labels: enhancement

#7670 Add agent reporting of crashed flow run infrastructure
  src/prefect/agent.py
  tests/test_agent.py
Labels: enhancement

#7699 Raise `CancelledRun` when retrieving a Cancelled state's Result
  src/prefect/deprecated/data_documents.py
  src/prefect/exceptions.py
  src/prefect/states.py
  tests/test_flows.py
  tests/test_states.py
Labels: enhancement

#7571 Fix bug where result event is missing when wait is called before submission completes
  src/prefect/task_runners.py
Labels: fix

#7700 Update docs on final state determination to reflect `Cancelled` state changes
  docs/concepts/flows.md
  docs/concepts/states.md
Labels: docs
