Repository PrefectHQ/prefect, pull requests merged in 2023-10, with the labels that each got.

#10334 Use flow run context for default values in task run logger
  src/prefect/engine.py
  src/prefect/logging/loggers.py
  tests/test_logging.py
Labels: enhancement, status:waiting for maintainer

#10804 By default, agents only query WorkQueues in `prefect-agent` typed WorkPools
  src/prefect/agent.py
  src/prefect/client/orchestration.py
  tests/agent/test_agent_queue_selection.py
  tests/agent/test_agent_run_submission.py
  tests/cli/test_start_agent.py
Labels: fix

#10876 Preserve set attribute information in tasks during execution
  src/prefect/utilities/collections.py
  tests/utilities/test_collections.py
Labels: fix

#10755 Default PREFECT_UI_API_URL to relative path /api
  src/prefect/settings.py
  tests/test_settings.py
Labels: enhancement, ui

#10881 Update `PREFECT__FLOW_RUN_ID` environment variable to dash-delimited UUID format
  flows/deployment_run.py
  flows/deployment_storage.py
  src/prefect/infrastructure/base.py
  src/prefect/runner.py
  src/prefect/workers/base.py
  tests/infrastructure/test_base.py
  tests/test_runner.py
  tests/workers/test_base_worker.py
  tests/workers/test_process_worker.py
Labels: fix

#10871 lazily initialize semaphore for flow entrypoint discovery
  src/prefect/deployments/base.py
  src/prefect/utilities/asyncutils.py
  tests/deployment/test_base.py
  tests/utilities/test_asyncutils.py
Labels: fix

#10886 Add more info about rate limits and include use cases for global concurrency
  docs/guides/global-concurrency-limits.md
Labels: docs

#10850 Runner webserver
  src/prefect/flows.py
  src/prefect/runner/__init__.py
  src/prefect/runner/runner.py
  src/prefect/runner/server.py
  src/prefect/settings.py
  tests/test_runner.py
Labels: enhancement

#10872 Change docker guide link to point to worker tutorial
  docs/guides/deployment/storage-guide.md
Labels: docs

#10656 deployment wizard: select blob storage
  src/prefect/cli/_prompts.py
  src/prefect/cli/deploy.py
  src/prefect/client/orchestration.py
  tests/cli/test_deploy.py
Labels: enhancement

#10861 A tale of two docker tutorials: Increasing the emphasis that workers are an optional alternative to .serve() in the tutorials
  docs/guides/docker.md
  docs/tutorial/deployments.md
  docs/tutorial/workers.md
Labels: docs

#10884 Add the ability to serve remotely stored flows
  src/prefect/deployments/deployments.py
  src/prefect/deployments/runner.py
  src/prefect/flows.py
  src/prefect/runner/runner.py
  src/prefect/runner/storage.py
  tests/runner/test_runner.py
  tests/runner/test_storage.py
  tests/test_flows.py
Labels: enhancement

#10897 Documentation for `flow.from_source`
  docs/concepts/flows.md
Labels: docs

#10891 Use custom ValidationFunction for pydantic v2
  setup.cfg
  src/prefect/_internal/pydantic/v2_validated_func.py
  src/prefect/flows.py
  tests/test_engine.py
  tests/test_flows.py
Labels: feature

#10902 Release notes for 2.13.5
  RELEASE-NOTES.md
Labels: maintenance

#10908 Remove icons from side nav for improved readability
  docs/api-ref/index.md
  docs/cloud/index.md
  docs/community/index.md
  docs/concepts/index.md
  docs/guides/index.md
  docs/index.md
  docs/integrations/index.md
  docs/tutorial/index.md
Labels: docs

#10889 Mark more flaky tests
  .github/workflows/python-tests.yaml
  tests/cli/test_agent.py
  tests/cli/test_cloud.py
  tests/cli/test_server.py
  tests/cli/test_worker.py
  tests/docker/test_image_builds.py
  tests/server/models/test_orm.py
Labels: maintenance

#10911 Update deployments.md
  docs/tutorial/deployments.md
Labels: docs

#10936 docs: fix typo in logs guide
  docs/guides/logs.md
Labels: docs

#10913 Update CSS for docs
  docs/stylesheets/extra.css
Labels: docs

#10920 Add experimental enhanced cancellation
  src/prefect/agent.py
  src/prefect/infrastructure/base.py
  src/prefect/runner/runner.py
  src/prefect/settings.py
  src/prefect/workers/base.py
  src/prefect/workers/process.py
  tests/agent/test_agent_run_cancellation.py
  tests/fixtures/database.py
  tests/infrastructure/test_base.py
  tests/workers/test_base_worker.py
Labels: enhancement, experimental

#10925 add setting for default results storage block
  src/prefect/results.py
  src/prefect/settings.py
  src/prefect/tasks.py
  tests/results/test_flow_results.py
  tests/results/test_result_factory.py
Labels: enhancement

#10941 `prefect deploy`: don't prompt remote storage if global pull step
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: fix

#10944 Add documentation for experimental enhanced cancellation
  docs/concepts/flows.md
Labels: docs

#10946 Removes pin locking `pydantic` <2
  requirements.txt
Labels: feature

#10968 Using the client guide updates
  docs/guides/using-the-client.md
  mkdocs.yml
Labels: docs

#10967 Capitalize `Docker` in tutorial
  docs/tutorial/deployments.md
Labels: docs

#10951 Add `status` and `last_polled` to deployment API responses
  src/prefect/client/schemas/objects.py
  src/prefect/client/schemas/responses.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/responses.py
  src/prefect/server/schemas/statuses.py
  tests/agent/test_agent_run_cancellation.py
  tests/server/api/test_deployments.py
Labels: enhancement

#10977 Add link to Coiled's docs for hosting served flows
  docs/tutorial/deployments.md
Labels: docs

#10969 Update `/deployments/get_scheduled_flow_runs` endpoint for deployment status
  src/prefect/server/api/deployments.py
  src/prefect/server/models/deployments.py
  tests/server/api/test_deployments.py
  tests/server/models/test_deployments.py
Labels: enhancement

#10934 Update object-access-control-lists.md
  docs/cloud/users/object-access-control-lists.md
Labels: docs

#10970 Improve block-based deployment concept page metadata and admonitions
  docs/concepts/agents.md
  docs/concepts/deployments-block-based.md
  docs/concepts/filesystems.md
  docs/concepts/infrastructure.md
  docs/concepts/storage.md
Labels: docs

#10904 Update docs to prioritize workers over agents
  docs/cloud/connecting.md
  docs/cloud/index.md
  docs/cloud/users/api-keys.md
  docs/cloud/users/service-accounts.md
  docs/concepts/flows.md
  docs/concepts/storage.md
  docs/concepts/work-pools.md
  docs/contributing/overview.md
  docs/guides/deployment/developing-a-new-worker-type.md
  docs/guides/host.md
  docs/guides/prefect-deploy.md
  docs/guides/runtime-context.md
  docs/guides/settings.md
  docs/guides/troubleshooting.md
  docs/recipes/recipes.md
Labels: docs

#10957 Add ability to convert `GitRepository` into `git_clone` deployment step
  src/prefect/blocks/core.py
  src/prefect/deployments/steps/pull.py
  src/prefect/runner/storage.py
  tests/cli/test_project.py
  tests/deployment/test_steps.py
  tests/runner/test_runner.py
  tests/runner/test_storage.py
  tests/test_flows.py
Labels: enhancement

#10973 Add deployment status tests for `/work_pools/{name}/get_scheduled_flow_runs` and `/work_queues/{id}/get_runs` endpoints
  tests/server/api/test_work_queues.py
  tests/server/api/test_workers.py
Labels: enhancement

#10975 Introduce `flow.deploy` and `deploy`
  src/prefect/__init__.py
  src/prefect/deployments/__init__.py
  src/prefect/deployments/runner.py
  src/prefect/flows.py
  src/prefect/utilities/dockerutils.py
  tests/docker/contexts/requirements/requirements.txt
  tests/docker/test_image_builds.py
  tests/fixtures/database.py
  tests/runner/test_runner.py
  tests/test_flows.py
Labels: feature

#10990 Clarify CLI prompt message for missing integration library for worker
  src/prefect/cli/worker.py
  tests/cli/test_worker.py
Labels: fix

#10985 Update work pools and workers tutorial to use `flow.deploy`
  docs/tutorial/workers.md
Labels: docs

#10993 Update `deploy` to gather and display errors for failed deployments
  src/prefect/deployments/runner.py
  tests/fixtures/database.py
  tests/runner/test_runner.py
Labels: enhancement

#10987 fix requirements.txt : renamed ruamel-yaml to ruamel.yaml
  requirements.txt
Labels: fix

#10910 Move Docker image discussion to Docker guide
  docs/concepts/infrastructure.md
  docs/guides/docker.md
Labels: docs

#10999 Standardize heading capitalization in developing-a-new-worker-type.md
  docs/guides/deployment/developing-a-new-worker-type.md
Labels: docs

#11012 Update Docker guide to mention image builds with prefect.yaml and `flow.deploy`
  docs/guides/docker.md
Labels: docs

#11010 Update Kubernetes guide to mention and link to Python `deploy` creation method
  docs/guides/deployment/kubernetes.md
Labels: docs

#10989 fix: support Windows paths in load_flow_from_entrypoint
  src/prefect/flows.py
  tests/test_flows.py
Labels: fix

#11000 Add Python `serve` and `deploy` options to concepts-> schedules
  docs/concepts/schedules.md
  src/prefect/flows.py
Labels: docs

#11021 ft: use custom versioning to omit dirty version
  .github/workflows/prefect-client.yaml
  client/setup.py
Labels: bug

#11026 Moves responsibility for running 'on_cancellation` and `on_crashed` flow hooks to runner when present
  src/prefect/engine.py
  src/prefect/runner/runner.py
  src/prefect/settings.py
  tests/runner/test_runner.py
  tests/test_flows.py
Labels: fix

#11022 update hook name handling to allow `partial` + docs
  docs/concepts/states.md
  src/prefect/engine.py
  src/prefect/utilities/callables.py
  tests/test_flows.py
  tests/test_tasks.py
Labels: enhancement, docs

#11039 Release notes 2.14.2
  RELEASE-NOTES.md
Labels: maintenance

#11044 Add variables page empty state
  ui/src/pages/Variables.vue
Labels: enhancement

#11055 Update cancellation cleanup service to allow for infrastructure teardown
  src/prefect/server/services/cancellation_cleanup.py
  tests/server/services/test_cancellation_cleanup.py
Labels: fix

#11047 mark test_runner_can_cancel_flow_runs as flaky
  tests/runner/test_runner.py
Labels: maintenance

#11054 Allow sorting block documents by block_type_name, name
  src/prefect/client/schemas/objects.py
  src/prefect/client/schemas/sorting.py
  src/prefect/server/api/block_documents.py
  src/prefect/server/database/migrations/versions/postgresql/2023_10_30_075026_cef24af2ec34_add_block_type_name_to_block_document.py
  src/prefect/server/database/migrations/versions/sqlite/2023_10_30_075026_cef24af2ec34_add_block_type_name_to_block_document.py
  src/prefect/server/database/migrations/versions/sqlite/2023_10_30_103720_22ef3915ccd8_index_and_backfill_block_type_name.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/block_documents.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/sorting.py
  tests/server/api/test_block_documents.py
  tests/server/models/test_block_documents.py
Labels: enhancement, migration

#11056 Allow `password` to be provided in `credentials` for `GitRespository`
  src/prefect/runner/storage.py
  tests/runner/test_storage.py
Labels: fix

#10966 fix: handle v2 models in func signatures
  setup.cfg
  src/prefect/_internal/pydantic/annotations/__init__.py
  src/prefect/_internal/pydantic/annotations/pendulum.py
  src/prefect/_internal/pydantic/schemas.py
  src/prefect/_internal/pydantic/v2_schema.py
  src/prefect/cli/deployment.py
  src/prefect/utilities/callables.py
  tests/utilities/test_callables.py
Labels: bug

#11008 Adds guide to daemonize a worker or `.serve` process with systemd
  docs/guides/deployment/daemonize.md
  docs/guides/index.md
  docs/guides/upgrade-guide-agents-to-workers.md
  mkdocs.yml
Labels: docs
