Repository PrefectHQ/prefect, pull requests merged in 2023-02, with the labels that each got.

#8264 Expand `work_queue` table to accommodate work pools
  src/prefect/agent.py
  src/prefect/cli/deployment.py
  src/prefect/client/orion.py
  src/prefect/experimental/workers/base.py
  src/prefect/orion/api/deployments.py
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/api/workers.py
  src/prefect/orion/database/interface.py
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2023_01_26_152801_0a1250a5aa25_expand_work_queue_table.py
  src/prefect/orion/database/migrations/versions/sqlite/2023_01_25_114348_b9bda9f142f1_expand_work_queue_table.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/database/query_components.py
  src/prefect/orion/database/sql/postgres/get-runs-from-worker-queues.sql.jinja
  src/prefect/orion/database/sql/sqlite/get-runs-from-worker-queues.sql.jinja
  src/prefect/orion/models/deployments.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/models/work_queues.py
  src/prefect/orion/models/workers.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/schemas/filters.py
  src/prefect/orion/schemas/responses.py
  tests/agent/test_agent_run_cancellation.py
  tests/agent/test_agent_run_submission.py
  tests/experimental/workers/test_base_worker.py
  tests/fixtures/database.py
  tests/orion/api/test_deployments.py
  tests/orion/api/test_flow_runs.py
  tests/orion/api/test_work_queues.py
  tests/orion/api/test_workers.py
  tests/orion/database/test_queries.py
  tests/orion/models/deprecated/test_work_queues.py
  tests/orion/models/test_agents.py
  tests/orion/models/test_deployments.py
  tests/orion/models/test_filters.py
  tests/orion/models/test_flow_runs.py
  tests/orion/models/test_work_queues.py
  tests/orion/models/test_workers.py
  tests/test_deployments.py
Labels: migration

#8336 Add getting started tutorial video to Prefect Cloud Quickstart
  docs/stylesheets/extra.css
  docs/ui/cloud-quickstart.md
  docs/ui/cloud.md
Labels: docs

#8344 Add infra overrides tab to Deployments page
  orion-ui/src/pages/Deployment.vue
Labels: maintenance

#8346 Add noindex meta tag
  docs/.vuepress/config.js
Labels: docs

#8327 Work queue data migration
  src/prefect/orion/database/migrations/versions/postgresql/2023_01_31_110543_f98ae6d8e2cc_work_queue_data_migration.py
  src/prefect/orion/database/migrations/versions/sqlite/2023_01_31_105442_1678f2fb8b33_work_queue_data_migration.py
  src/prefect/orion/models/work_queues.py
  tests/cli/deployment/test_deployment_build.py
  tests/experimental/workers/test_base_worker.py
  tests/orion/api/test_deployments.py
  tests/orion/api/test_work_queues.py
  tests/orion/api/test_workers.py
  tests/orion/database/test_migrations.py
  tests/orion/database/test_queries.py
  tests/orion/models/deprecated/test_work_queues.py
  tests/orion/models/test_work_queues.py
  tests/orion/models/test_workers.py
  tests/test_deployments.py
Labels: migration, experimental

#8338 Enables updates to work queue `last_polled` time when polling work pools
  src/prefect/orion/api/workers.py
  tests/orion/api/test_workers.py
Labels: experimental

#8331 Adds clean up migration
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2023_01_31_133052_2a88656f4a23_clean_up_work_queue_migration.py
  src/prefect/orion/database/migrations/versions/sqlite/2023_01_31_132409_bfe42b7090d6_clean_up_work_queue_migration.py
Labels: migration, experimental

#8315 Fix cancellation bug
  src/prefect/agent.py
  tests/agent/test_agent_run_cancellation.py
Labels: fix

#8333 Add tips for re-registering blocks from Prefect Collections
  docs/collections/usage.md
Labels: docs

#8359 Update CodeSnippet and fix odd issue with extra space on flowRun page
  orion-ui/src/pages/Deployment.vue
  orion-ui/src/pages/FlowRun.vue
  orion-ui/src/pages/TaskRun.vue
Labels: maintenance

#8357 Introduces the Prefect Cloud Events schema and clients.
  requirements.txt
  src/prefect/events/__init__.py
  src/prefect/events/clients.py
  src/prefect/events/schemas.py
  tests/events/conftest.py
  tests/events/test_cloud_events_client.py
  tests/events/test_event_schemas.py
  tests/events/test_resource_schemas.py
  tests/events/test_utility_events_clients.py
Labels: component:cloud, feature, team:observability

#8312 Examples and corrections for Kubernetes infrastructure overrides
  docs/concepts/infrastructure.md
  src/prefect/infrastructure/kubernetes.py
Labels: docs

#8350 Fix Kubernetes job watch exit when no timeout given
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_kubernetes_job.py
Labels: fix

#8376 Fix environment variable name for 2.6 integration tests
  .github/workflows/integration-tests.yaml
Labels: maintenance

#8373 Adds default value for priority on `WorkQueue` core schema
  src/prefect/orion/models/work_queues.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
Labels: fix

#8259 Add CLI support for work-pools
  src/prefect/cli/__init__.py
  src/prefect/cli/work_pool.py
  src/prefect/cli/work_queue.py
  src/prefect/client/orion.py
  src/prefect/orion/api/workers.py
  src/prefect/testing/cli.py
  tests/cli/test_work_pool.py
  tests/cli/test_work_queues.py
  tests/client/test_orion_client.py
  tests/fixtures/database.py
Labels: feature, v2

#8381 Update poolQueue code banner and remove unused code
  orion-ui/src/pages/WorkPoolQueue.vue
Labels: maintenance

#8384 Resolves conflict when default work pool doesn't exist
  src/prefect/orion/models/work_queues.py
  tests/orion/models/test_work_queues.py
Labels: fix

#8389 Remove partial for Cloud link
  docs/overrides/partials/_tabs.html
Labels: docs

#8386 Swap order of runs and deployments on flow page
  orion-ui/src/pages/Flow.vue
Labels: enhancement, ui

#8383 Clearer output CLI message when switching profiles
  src/prefect/cli/profile.py
  tests/cli/test_profile.py
Labels: enhancement, component:cli

#8374 Add coverage for flow run with agent to integration test
  .github/workflows/integration-tests.yaml
  flows/agent.py
  scripts/run-integration-flows.py
Labels: maintenance

#8398 Switch deployment tabs
  orion-ui/src/pages/Deployment.vue
Labels: enhancement

#8378 Name your runs
  docs/concepts/flows.md
  docs/concepts/tasks.md
  docs/tutorials/flow-task-config.md
  src/prefect/client/orion.py
  src/prefect/engine.py
  src/prefect/flows.py
  src/prefect/orion/api/task_runs.py
  src/prefect/orion/models/task_runs.py
  src/prefect/orion/schemas/actions.py
  src/prefect/tasks.py
  tests/test_flows.py
  tests/test_tasks.py
Labels: feature, needs:cloud-pr

#8420 Properly limit artifact migration to states that have non-null data
  src/prefect/orion/database/migrations/versions/postgresql/2023_01_26_045501_2882cd2df464_create_migration_index.py
  src/prefect/orion/database/migrations/versions/sqlite/2023_01_12_000043_f92143d30c25_create_migration_index.py
Labels: migration, fix

#8413 Adds work pool fixes for deployments CLI
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
  tests/cli/deployment/test_deployment_build.py
  tests/cli/deployment/test_deployment_cli.py
  tests/orion/api/test_deployments.py
Labels: fix

#8423 Add test coverage for error handling in state validation
  tests/orion/orchestration/test_rules.py
Labels: maintenance

#8429 Add release notes for 2.7.12
  RELEASE-NOTES.md
  docs/overrides/main.html
Labels: maintenance

#8427 Fix error when using `prefect work-queue ls` without enabling work pools
  RELEASE-NOTES.md
  src/prefect/cli/work_queue.py
  tests/cli/test_work_queues.py
Labels: fix

#8424 Update Queue name to Work Queue
  orion-ui/src/pages/WorkPool.vue
Labels: maintenance

#8401 Add generic webhook block
  src/prefect/blocks/__init__.py
  src/prefect/blocks/webhook.py
  src/prefect/orion/models/block_registration.py
  tests/blocks/test_webhook.py
  tests/orion/models/test_block_registration.py
Labels: feature, component:blocks

#8400 Add Orion info route
  src/prefect/orion/api/server.py
  tests/orion/api/test_server.py
Labels: maintenance

#8438 During blocks registration, hide link to blocks catalog if PREFECT_UI_URL is None
  src/prefect/cli/block.py
  tests/cli/test_block.py
Labels: fix

#8441 Enhancement: Increase polling interval on flow runs to match logs
  orion-ui/src/pages/FlowRun.vue
Labels: enhancement, ui

#8405 Add ability to create a new flow run from the UI with custom default parameter values taken from a previous run
  orion-ui/src/pages/FlowRunCreate.vue
  orion-ui/src/utilities/parameters.ts
Labels: enhancement

#8402 Add utilities for deprecation
  src/prefect/_internal/compatibility/deprecated.py
  src/prefect/settings.py
  tests/_internal/compatibility/test_deprecated.py
  tests/test_settings.py
Labels: maintenance

#8449 Use the len of the JSON representation when determining log size
  src/prefect/logging/handlers.py
  tests/test_logging.py
Labels: fix

#8391 Restore Prefect wrapper that shows details on HTTP errors
  src/prefect/client/base.py
  tests/client/test_base_client.py
Labels: fix

#8453 Update flowRunFilter on WorkPool page
  orion-ui/src/pages/WorkPool.vue
Labels: fix

#8176 Fix `prefect dev start`
  src/prefect/cli/dev.py
  tests/cli/test_dev.py
Labels: v2, great writeup, fix

#8465 Update Infrastructure to include extra-pip-package in example and updated deployment.yaml
  docs/concepts/infrastructure.md
Labels: docs

#8459 Adds work pool and queue filters to flow runs history endpoint
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/api/run_history.py
  src/prefect/orion/models/task_runs.py
  tests/orion/api/test_run_history.py
Labels: fix

#8458 Updates agent logic to respect work queue priority
  src/prefect/agent.py
  tests/agent/test_agent_run_submission.py
Labels: fix

#8467 Remove Orion references
  README.md
  docs/core/getting_started/quick-start.md
Labels: docs, v1

#8349 Add override customizations functionality to deployments via CLI
  docs/concepts/deployments.md
  docs/concepts/infrastructure.md
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_kubernetes_job.py
Labels: enhancement

#8460 Rename `ORION` logging settings
  RELEASE-NOTES.md
  docs/concepts/logs.md
  src/prefect/cli/config.py
  src/prefect/logging/handlers.py
  src/prefect/settings.py
  tests/cli/test_config.py
  tests/conftest.py
  tests/fixtures/logging.py
  tests/test_logging.py
Labels: deprecation

#8461 Remove `orion_utils` module
  src/prefect/cli/__init__.py
  src/prefect/cli/orion_utils.py
  src/prefect/cli/profile.py
Labels: maintenance

#8403 Update partials to accommodate Material for Mkdocs 9.0.10
  docs/overrides/partials/_tabs.html
  docs/overrides/partials/tabs-item.html
  docs/overrides/partials/tabs.html
Labels: docs

#8470 bump orion-design to 1.2.23
  orion-ui/package-lock.json
  orion-ui/package.json
Labels: maintenance

#8457 Remove `Artifact` foreign key constraints
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2023_02_08_151958_cfdfec5d7557_remove_artifact_fk.py
  src/prefect/orion/database/migrations/versions/sqlite/2023_02_08_152028_8d148e44e669_remove_artifact_fk.py
  src/prefect/orion/database/orm_models.py
  tests/orion/models/test_flow_runs.py
  tests/orion/models/test_task_runs.py
Labels: migration, fix

#8377 Docs: Update Work Queues to Work Pools and replace references
  docs/concepts/deployments.md
  docs/concepts/infrastructure.md
  docs/concepts/overview.md
  docs/concepts/settings.md
  docs/concepts/storage.md
  docs/concepts/work-pools.md
  docs/concepts/work-queues.md
  docs/getting-started/overview.md
  docs/img/ui/work-pool-list.png
  docs/migration-guide.md
  docs/tutorials/deployments.md
  docs/tutorials/docker.md
  docs/tutorials/execution.md
  docs/tutorials/orion.md
  docs/tutorials/storage.md
  docs/ui/automations.md
  docs/ui/cloud.md
  docs/ui/flow-runs.md
  docs/ui/overview.md
  docs/ui/roles.md
  docs/ui/work-pools.md
  docs/ui/work-queues.md
  docs/ui/workspaces.md
  mkdocs.yml
Labels: docs

#8472 Add release notes for 2.8.0
  RELEASE-NOTES.md
  docs/overrides/main.html
Labels: maintenance

#8474 Amend release notes 2.8.0
  RELEASE-NOTES.md
Labels: maintenance

#8475 edits to to release notes on work pools
  RELEASE-NOTES.md
Labels: docs

#8477 Fix work pools documentation links
  docs/concepts/work-pools.md
  docs/ui/work-pools.md
Labels: docs

#8478 Fix minor typo in Filesystems
  docs/concepts/filesystems.md
Labels: docs

#8482 Update web app name in UI
  orion-ui/index.html
  orion-ui/src/compositions/usePageTitle.ts
  orion-ui/src/pages/Settings.vue
  orion-ui/src/router/index.ts
  orion-ui/src/utilities/api.ts
Labels: maintenance

#8469 Update rename of the `prefect.orion` module to use more robust alias utilities
  src/prefect/__init__.py
  src/prefect/_internal/compatibility/deprecated.py
  src/prefect/orion/__init__.py
  src/prefect/utilities/importtools.py
  tests/deprecated/test_orion_module.py
Labels: maintenance

#8485 Fix code highlight in deployment configuration example
  docs/tutorials/deployments.md
Labels: docs

#8483 Rename `PREFECT_ORION` server settings
  .github/workflows/python-tests.yaml
  docs/concepts/database.md
  docs/concepts/schedules.md
  docs/concepts/settings.md
  docs/concepts/tasks.md
  docs/faq.md
  docs/tutorials/orchestration.md
  scripts/test-with-postgres
  src/prefect/cli/dev.py
  src/prefect/cli/root.py
  src/prefect/cli/server.py
  src/prefect/cli/templates/kubernetes-dev.yaml
  src/prefect/client/orion.py
  src/prefect/logging/configuration.py
  src/prefect/server/api/dependencies.py
  src/prefect/server/api/server.py
  src/prefect/server/database/configurations.py
  src/prefect/server/database/dependencies.py
  src/prefect/server/models/deployments.py
  src/prefect/server/schemas/core.py
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/pause_expirations.py
  src/prefect/server/services/scheduler.py
  src/prefect/server/services/telemetry.py
  src/prefect/server/utilities/database.py
  src/prefect/settings.py
  src/prefect/testing/utilities.py
  tests/cli/test_block.py
  tests/cli/test_config.py
  tests/cli/test_server.py
  tests/client/test_orion_client.py
  tests/conftest.py
  tests/database/test_postgres.py
  tests/server/api/test_deployments.py
  tests/server/api/test_server.py
  tests/server/database/test_migrations.py
  tests/server/models/deprecated/test_work_queues.py
  tests/server/models/test_block_registration.py
  tests/server/models/test_deployments.py
  tests/server/schemas/test_core.py
  tests/server/services/test_late_runs.py
  tests/server/services/test_scheduler.py
  tests/server/test_app.py
  tests/test_logging.py
  tests/test_settings.py
  tests/testing/test_utilites.py
Labels: deprecation

#8490 Rename `OrionDBInterface` to `PrefectDBInterface`
  src/prefect/server/api/admin.py
  src/prefect/server/api/block_capabilities.py
  src/prefect/server/api/block_documents.py
  src/prefect/server/api/block_schemas.py
  src/prefect/server/api/block_types.py
  src/prefect/server/api/concurrency_limits.py
  src/prefect/server/api/deployments.py
  src/prefect/server/api/flow_run_notification_policies.py
  src/prefect/server/api/flow_run_states.py
  src/prefect/server/api/flow_runs.py
  src/prefect/server/api/flows.py
  src/prefect/server/api/logs.py
  src/prefect/server/api/run_history.py
  src/prefect/server/api/saved_searches.py
  src/prefect/server/api/task_run_states.py
  src/prefect/server/api/task_runs.py
  src/prefect/server/api/ui/flow_runs.py
  src/prefect/server/api/work_queues.py
  src/prefect/server/api/workers.py
  src/prefect/server/database/dependencies.py
  src/prefect/server/database/interface.py
  src/prefect/server/database/query_components.py
  src/prefect/server/models/agents.py
  src/prefect/server/models/artifacts.py
  src/prefect/server/models/block_documents.py
  src/prefect/server/models/block_schemas.py
  src/prefect/server/models/block_types.py
  src/prefect/server/models/concurrency_limits.py
  src/prefect/server/models/configuration.py
  src/prefect/server/models/deployments.py
  src/prefect/server/models/flow_run_notification_policies.py
  src/prefect/server/models/flow_run_states.py
  src/prefect/server/models/flow_runs.py
  src/prefect/server/models/flows.py
  src/prefect/server/models/logs.py
  src/prefect/server/models/saved_searches.py
  src/prefect/server/models/task_run_states.py
  src/prefect/server/models/task_runs.py
  src/prefect/server/models/work_queues.py
  src/prefect/server/models/workers.py
  src/prefect/server/orchestration/core_policy.py
  src/prefect/server/orchestration/rules.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/sorting.py
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/flow_run_notifications.py
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/loop_service.py
  src/prefect/server/services/pause_expirations.py
  src/prefect/server/services/scheduler.py
  src/prefect/server/services/telemetry.py
  tests/client/test_orion_client.py
  tests/server/database/test_dependencies.py
  tests/server/database/test_queries.py
  tests/server/utilities/test_database.py
Labels: deprecation

#8488 Rename `OrionAgent` to `PrefectAgent`
  src/prefect/agent.py
  src/prefect/cli/agent.py
  tests/agent/test_agent_run_cancellation.py
  tests/agent/test_agent_run_submission.py
  tests/cli/test_agent.py
Labels: deprecation

#8489 Rename `OrionRouter` to `PrefectRouter`
  src/prefect/server/api/admin.py
  src/prefect/server/api/block_capabilities.py
  src/prefect/server/api/block_documents.py
  src/prefect/server/api/block_schemas.py
  src/prefect/server/api/block_types.py
  src/prefect/server/api/concurrency_limits.py
  src/prefect/server/api/deployments.py
  src/prefect/server/api/flow_run_notification_policies.py
  src/prefect/server/api/flow_run_states.py
  src/prefect/server/api/flow_runs.py
  src/prefect/server/api/flows.py
  src/prefect/server/api/logs.py
  src/prefect/server/api/root.py
  src/prefect/server/api/saved_searches.py
  src/prefect/server/api/task_run_states.py
  src/prefect/server/api/task_runs.py
  src/prefect/server/api/ui/flow_runs.py
  src/prefect/server/api/work_queues.py
  src/prefect/server/api/workers.py
  src/prefect/server/utilities/server.py
  tests/server/utilities/test_server.py
Labels: deprecation

#8466 Add custom analytics
  docs/overrides/partials/integrations/analytics/custom.html
  mkdocs.yml
Labels: docs

#8341 add `MattermostWebhook` notification block
  src/prefect/blocks/notifications.py
  tests/blocks/test_notifications.py
Labels: integrations, feature

#8507 Update welcome message in docs
  docs/tutorials/deployments.md
  docs/tutorials/orchestration.md
  docs/ui/overview.md
Labels: docs

#8509 Update example: camel to snake case
  docs/ui/automations.md
Labels: docs

#8514 Add webhooks to Automations docs
  docs/ui/automations.md
Labels: docs

#8518 fixed default values on parameters map
  ui/src/pages/FlowRunCreate.vue
Labels: ui, fix

#8516 Update log handler reset fixture to `reset_api_log_handler`
  tests/fixtures/logging.py
Labels: maintenance

#8523 Fix runtime bug where async context vars were not propagated
  src/prefect/_internal/concurrency/runtime.py
  tests/_internal/concurrency/test_runtime.py
Labels: experimental

#8520 Fix test bug where `two` did not wait for creation of `event_one`
  tests/_internal/concurrency/test_primitives.py
Labels: maintenance

#8527 Adds metadata fields to `BaseWorker`
  src/prefect/experimental/workers/base.py
  src/prefect/experimental/workers/process.py
  tests/experimental/workers/test_base_worker.py
Labels: experimental

#8530 Add re-raise of exceptions during runtime startup
  src/prefect/_internal/concurrency/runtime.py
  tests/_internal/concurrency/test_runtime.py
Labels: experimental

#8529 Document Prefect Cloud API rate limits
  docs/api-ref/overview.md
  docs/ui/rate-limits.md
  mkdocs.yml
Labels: docs

#8443 Add table listing available blocks
  docs/concepts/blocks.md
Labels: docs

#8544 Misc tweaks to landing page
  docs/index.md
Labels: docs

#8501 Populate default result metadata
  src/prefect/results.py
  src/prefect/server/orchestration/rules.py
  src/prefect/server/schemas/core.py
  tests/results/test_literal_result.py
  tests/results/test_persisted_result.py
  tests/server/models/test_artifacts.py
  tests/server/orchestration/test_rules.py
  tests/server/schemas/test_core.py
  tests/test_states.py
Labels: feature

#8538 Add background to FlowRun count on flowRun dashboard
  ui/src/pages/FlowRuns.vue
Labels: maintenance

#8524 Fix ability to use anchor date when setting an interval schedule with the `prefect set-schedule` command
  src/prefect/cli/deployment.py
  tests/cli/deployment/test_deployment_build.py
  tests/cli/deployment/test_deployment_cli.py
Labels: fix

#8525 Implement filters refactor from prefect-ui-library
  ui/package-lock.json
  ui/package.json
  ui/src/pages/BlocksCatalog.vue
  ui/src/pages/Deployment.vue
  ui/src/pages/Flow.vue
  ui/src/pages/FlowRuns.vue
  ui/src/pages/WorkPool.vue
  ui/src/pages/WorkPoolQueue.vue
  ui/src/pages/WorkQueue.vue
Labels: maintenance, ui

#8526 Add back the vscode folder to the ui
  .gitignore
  ui/.vscode/css-data.json
  ui/.vscode/extensions.json
  ui/.vscode/settings.json
  ui/.vscode/vue.code-snippets
Labels: maintenance, ui

#8543 Add ability to pass in RRule string to `--rrule` option in `prefect set-schedule` command
  src/prefect/cli/deployment.py
  tests/cli/deployment/test_deployment_cli.py
Labels: enhancement

#8558 Update announce bar for 2.8.1
  docs/overrides/main.html
Labels: docs

#8560 Add Orion nomenclature note
  docs/api-ref/overview.md
  docs/index.md
Labels: docs

#8562 Add note about `prefect config validate` to release notes
  RELEASE-NOTES.md
Labels: maintenance

#8565 Fix logging format override example
  docs/concepts/logs.md
Labels: docs

#8546 Hook events client into PrefectClient and ensure that its torn-down when needed.
  src/prefect/client/orchestration.py
  src/prefect/engine.py
  src/prefect/settings.py
  src/prefect/testing/fixtures.py
  tests/client/test_orion_client.py
  tests/events/test_cloud_events_client.py
Labels: enhancement, feature

#8569 Enable plugin loading in `prefect` module init
  src/prefect/__init__.py
  tests/test_plugins.py
Labels: v2, fix

#8574 Add release notes for 2.8.2
  RELEASE-NOTES.md
Labels: maintenance

#8430 Fixes PrefectHQ/prefect#6774 - k8s log stream when using multiple containers in job
  src/prefect/infrastructure/kubernetes.py
Labels: expertise:k8s

#8404 Add experimental artifacts API
  src/prefect/server/api/__init__.py
  src/prefect/server/api/artifacts.py
  src/prefect/server/api/server.py
  src/prefect/server/models/__init__.py
  src/prefect/server/models/artifacts.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/sorting.py
  src/prefect/settings.py
  tests/conftest.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Labels: feature

#8608 Fix issue bot `--remove-label` usage
  .github/workflows/issue-bot.yaml
Labels: maintenance

#8607 Fix `Task.map` type hint for async tasks
  src/prefect/tasks.py
Labels: fix

#8564 pulling in api (and other) patterns from cloud
  ui/package-lock.json
  ui/package.json
  ui/src/App.vue
  ui/src/compositions/useApiConfig.ts
  ui/src/compositions/useCreateCan.ts
  ui/src/compositions/useMobileMenuOpen.ts
  ui/src/compositions/usePrefectApi.ts
  ui/src/mixins/ApiRoute.ts
  ui/src/models/ServerSettings.ts
  ui/src/pages/AppRouterView.vue
  ui/src/pages/FlowRuns.vue
  ui/src/pages/Settings.vue
  ui/src/services/adminApi.ts
  ui/src/services/healthApi.ts
  ui/src/services/uiApi.ts
  ui/src/services/uiSettings.ts
  ui/src/utilities/api.ts
Labels: maintenance, ui

#8576 Update `quote` handling in input resolution to skip descending into the quoted expression
  src/prefect/engine.py
  src/prefect/utilities/collections.py
  tests/utilities/test_collections.py
Labels: enhancement

#8614 Update `call_soon_in_main_thread` to `call_soon_in_supervising_thread`
  src/prefect/_internal/concurrency/from_async.py
  src/prefect/_internal/concurrency/from_sync.py
  tests/_internal/concurrency/test_api.py
Labels: experimental

#8617 Fix incorrect postgres URL in testing script
  scripts/test-with-postgres
Labels: maintenance

#8613 Updates worker variable typing for clearer display in the UI
  src/prefect/experimental/workers/base.py
  src/prefect/experimental/workers/process.py
  tests/experimental/workers/test_base_worker.py
  tests/experimental/workers/test_process_worker.py
Labels: experimental

#8623 Remove code snippet
  ui/package-lock.json
  ui/package.json
  ui/src/pages/Deployment.vue
  ui/src/pages/FlowRun.vue
  ui/src/pages/TaskRun.vue
Labels: maintenance, ui

#8618 Fix Kubernetes job watch timeout when streaming logs
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_kubernetes_job.py
Labels: fix

#8619 Update `BaseWorker` to ignore flow runs with associated storage block
  src/prefect/experimental/workers/base.py
  src/prefect/experimental/workers/process.py
  tests/experimental/workers/test_base_worker.py
  tests/experimental/workers/test_process_worker.py
Labels: experimental

#8622 Redirect from old Cloud Getting Started page
  netlify.toml
Labels: docs

#8621 Docs: Add Resume Flow Run Through UI
  docs/concepts/flows.md
Labels: docs

#8615 Removes public-only indication in GitHub doc
  src/prefect/filesystems.py
Labels: docs

#8629 Light and dark mode color and contrast enhancements
  ui/package-lock.json
  ui/package.json
  ui/src/pages/AppRouterView.vue
  ui/src/pages/FlowRuns.vue
Labels: enhancement, ui

#8630 Remove beta notes regarding agents and deployments
  docs/concepts/deployments.md
  docs/concepts/work-pools.md
Labels: docs

#8636 Move _run_flow_hooks above the main block
  src/prefect/engine.py
Labels: maintenance

#8639 Add release notes for 2.8.3
  RELEASE-NOTES.md
  docs/overrides/main.html
Labels: maintenance

#8644 Update release workflows
  .github/workflows/docker-images.yaml
  .github/workflows/python-package.yaml
Labels: maintenance

#8631 Refactor supervisors to manage submission
  src/prefect/_internal/concurrency/from_async.py
  src/prefect/_internal/concurrency/from_sync.py
  src/prefect/_internal/concurrency/supervisors.py
Labels: experimental

#8651 Removes unnecessary if statement
  src/prefect/agent.py
Labels: maintenance

#8620 Add tutorial for running an agent on Azure Container Instances
  docs/img/ui/healthy-work-queue.png
  docs/tutorials/cloud-agent.md
  mkdocs.yml
Labels: docs

#8633 Improve supervisor repr for debugging
  src/prefect/_internal/concurrency/from_async.py
  src/prefect/_internal/concurrency/from_sync.py
  src/prefect/_internal/concurrency/supervisors.py
  tests/_internal/concurrency/test_supervisors.py
Labels: experimental

#7513 Enable DefaultAzureCredential authentication for Azure filesystem block
  docs/concepts/filesystems.md
  src/prefect/filesystems.py
  tests/test_filesystems.py
Labels: enhancement

#8649 Add timeout support to supervisors
  src/prefect/_internal/concurrency/supervisors.py
  src/prefect/_internal/concurrency/timeouts.py
  tests/_internal/concurrency/test_supervisors.py
  tests/_internal/concurrency/test_timeouts.py
Labels: experimental

#8643 Add support for yaml config strings to `KubernetesClusterConfig`
  src/prefect/blocks/kubernetes.py
  tests/blocks/test_kubernetes_block.py
Labels: enhancement

#8603 Add description flag to prefect deployment build CLI command
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
  tests/cli/deployment/test_deployment_build.py
  tests/test_deployments.py
Labels: enhancement

#8656 Override analytics block instead of partial
  docs/overrides/main.html
  docs/overrides/partials/integrations/analytics/custom.html
  mkdocs.yml
Labels: docs

#8655 Add security headers for docs
  netlify.toml
Labels: docs

#8657 Add Netlify Edge function to proxy to Segment
  netlify.toml
  netlify/edge-functions/segment.ts
Labels: docs

#8653 Update `send_call` to `send_call_to_supervisor`
  src/prefect/_internal/concurrency/from_async.py
  src/prefect/_internal/concurrency/from_sync.py
  src/prefect/_internal/concurrency/supervisors.py
  tests/_internal/concurrency/test_supervisors.py
Labels: experimental

#8669 Update Dask logo
  docs/img/collections/dask.png
Labels: docs

#8675 Fix loading of existing deployment descriptions from the server
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
Labels: fix

#8674 Enhancement: Track flow run id when generating task run results
  src/prefect/server/orchestration/rules.py
  tests/server/orchestration/test_rules.py
Labels: enhancement

#8666 Ensure flow parameters default values are present during deployment runs
  src/prefect/engine.py
  src/prefect/utilities/callables.py
Labels: fix

#8676 Fix version misaligned on the settings page in the UI
  ui/src/pages/Settings.vue
Labels: enhancement
