Repository PrefectHQ/prefect, pull requests merged in 2023-04, with the labels that each got.

#9024 Docs - Fix spelling on database page
  docs/concepts/database.md
Labels: docs

#9023 Docs - Remove unnecessary imports from examples in artifacts page
  docs/concepts/artifacts.md
Labels: docs

#9022 Add artifacts `/count` route
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Labels: team:orchestration

#9025 Adds `requires` step keyword and auto installation
  src/prefect/projects/steps/core.py
Labels: experimental

#7873 Remove extra log sort options
  src/prefect/server/schemas/sorting.py
  tests/server/api/test_logs.py
  tests/server/models/test_logs.py
Labels: v2, breaking

#9021 Fix bug where iterable defaults were treated as mapped parameters
  src/prefect/engine.py
  src/prefect/tasks.py
  tests/test_tasks.py
Labels: fix

#9006 Add internal `QueueService` abstract class
  src/prefect/_internal/concurrency/services.py
  tests/_internal/concurrency/test_services.py
Labels: maintenance

#9041 Adds human-friendly way to reference block documents
  src/prefect/utilities/templating.py
  tests/utilities/test_templating.py
Labels: experimental, team:orchestration

#8993 Add `--type` option to create work-pool CLI
  src/prefect/cli/work_pool.py
  tests/cli/test_work_pool.py
Labels: experimental

#9050 Removes experimental status from workers code
  .prefectignore
  src/prefect/cli/__init__.py
  src/prefect/cli/work_pool.py
  src/prefect/cli/worker.py
  src/prefect/experimental/cli/__init__.py
  src/prefect/settings.py
  src/prefect/workers/__init__.py
  src/prefect/workers/base.py
  src/prefect/workers/process.py
  tests/_internal/compatibility/test_experimental.py
  tests/cli/deployment/test_deployment_build.py
  tests/cli/deployment/test_deployment_cli.py
  tests/cli/test_work_pool.py
  tests/cli/worker.py
  tests/conftest.py
  tests/fixtures/database.py
  tests/server/test_app.py
  tests/workers/__init__.py
  tests/workers/test_base_worker.py
  tests/workers/test_process_worker.py
Labels: maintenance

#9044 add db migration doc
  docs/concepts/database.md
  docs/contributing/overview.md
Labels: docs

#9061 Add columns to ArtifactCollection
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_04_04_172310_6a1eb3d442e4_add_cols_to_artifact_collection.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_04_172555_3e1eb8281d5e_add_cols_to_artifact_collection.py
  src/prefect/server/database/orm_models.py
Labels: migration

#8394 Add test coverage for logging outside flow run
  tests/test_logging.py
Labels: maintenance

#9060 Fix instrument test assertions to run after a client is present
  tests/events/test_events_instrument.py
Labels: maintenance

#8473 Fix sequential execution with mapped tasks using the SequentialTaskRunner
  src/prefect/engine.py
  tests/test_tasks.py
Labels: fix

#9064 Remove join between Artifact and ArtifactCollection table
  src/prefect/cli/artifact.py
  src/prefect/client/orchestration.py
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/sorting.py
  tests/client/test_orion_client.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Labels: team:orchestration

#9074 Move more event test assertions by moving to proper place
  tests/events/test_events_instrument.py
Labels: maintenance

#9048 Update log worker to run on the global event loop
  src/prefect/_internal/concurrency/services.py
  src/prefect/engine.py
  src/prefect/logging/handlers.py
  tests/test_logging.py
Labels: enhancement

#9057 add variables table
  src/prefect/server/api/__init__.py
  src/prefect/server/api/server.py
  src/prefect/server/api/variables.py
  src/prefect/server/database/interface.py
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_04_05_134520_310dda75f561_add_variables.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_05_134301_3d46e23593d6_add_variables.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/__init__.py
  src/prefect/server/models/variables.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/sorting.py
  tests/server/api/test_variables.py
  tests/server/models/test_variables.py
Labels: migration

#9085 Update default agent query interval from 10s to 15s
  src/prefect/settings.py
Labels: enhancement

#9069 Add a 10 minute cache to API healthchecks
  src/prefect/engine.py
  tests/test_engine.py
Labels: enhancement

#8930 Introducing: Projects
  .github/codeql-config.yml
  MANIFEST.in
  docs/concepts/projects.md
  docs/tutorials/deployments.md
  docs/tutorials/projects.md
  mkdocs.yml
  src/prefect/cli/__init__.py
  src/prefect/cli/deployment.py
  src/prefect/cli/project.py
  src/prefect/cli/root.py
  src/prefect/client/orchestration.py
  src/prefect/deployments.py
  src/prefect/projects/__init__.py
  src/prefect/projects/base.py
  src/prefect/projects/recipes/docker-gcs/prefect.yaml
  src/prefect/projects/recipes/docker-git/prefect.yaml
  src/prefect/projects/recipes/docker-s3/prefect.yaml
  src/prefect/projects/recipes/docker/prefect.yaml
  src/prefect/projects/recipes/gcs/prefect.yaml
  src/prefect/projects/recipes/git/prefect.yaml
  src/prefect/projects/recipes/local/prefect.yaml
  src/prefect/projects/recipes/s3/prefect.yaml
  src/prefect/projects/steps/__init__.py
  src/prefect/projects/steps/core.py
  src/prefect/projects/steps/pull.py
  src/prefect/projects/templates/deployment.yaml
  src/prefect/projects/templates/prefect.yaml
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_03_27_132406_43c94d4c7aa3_add_pull_steps_column_to_deployment.py
  src/prefect/server/database/migrations/versions/sqlite/2023_03_14_180713_340f457b315f_add_column_to_deployments_for_pull_steps.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/responses.py
  src/prefect/testing/utilities.py
  src/prefect/utilities/filesystem.py
  src/prefect/utilities/templating.py
  tests/cli/test_project.py
  tests/projects/__init__.py
  tests/projects/test_base.py
  tests/projects/test_steps.py
  tests/test-projects/flows/hello.py
  tests/test-projects/import-project/my_module/flow.py
  tests/utilities/test_templating.py
Labels: migration

#9073 Update concurrent task runner to use efficient wait patterns
  src/prefect/task_runners.py
Labels: enhancement

#9072 Avoid using spin locks while waiting for task submission
  src/prefect/_internal/concurrency/event_loop.py
  src/prefect/futures.py
Labels: enhancement

#9095 Fix detection of iterables within `quote` annotations while mapping
  src/prefect/engine.py
  tests/test_tasks.py
Labels: fix

#9094 Add test for retry-after header on 503 status code
  tests/client/test_base_client.py
Labels: maintenance

#9102 Add retry on 502 BAD GATEWAY to Prefect client
  src/prefect/client/base.py
  tests/client/test_base_client.py
Labels: enhancement

#9083 Add `access_token` to `git_clone_project` step for private repository support
  src/prefect/projects/recipes/docker-git/prefect.yaml
  src/prefect/projects/recipes/git/prefect.yaml
  src/prefect/projects/steps/pull.py
Labels: enhancement

#9088 `Variables`
  src/prefect/__init__.py
  src/prefect/cli/__init__.py
  src/prefect/cli/variable.py
  src/prefect/client/orchestration.py
  src/prefect/server/api/__init__.py
  src/prefect/server/api/server.py
  src/prefect/server/api/variables.py
  src/prefect/server/database/interface.py
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_04_05_130406_43c94d4c7aa3_add_pull_steps_column_to_deployment.py
  src/prefect/server/database/migrations/versions/postgresql/2023_04_05_134520_310dda75f561_add_variables.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_05_120713_340f457b315f_add_column_to_deployments_for_pull_steps.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_05_134301_3d46e23593d6_add_variables.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/__init__.py
  src/prefect/server/models/variables.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/sorting.py
  src/prefect/variables.py
  tests/cli/test_variable.py
  tests/client/test_orion_client.py
  tests/server/api/test_variables.py
  tests/server/models/test_variables.py
  tests/test_variables.py
  ui/src/components/ContextSidebar.vue
  ui/src/pages/Variables.vue
  ui/src/router/index.ts
Labels: migration

#9080 Adds bitbucket to supported Prefect flow code storage types
  docs/concepts/storage.md
Labels: docs

#9058 Add workers to work pool concept docs
  docs/concepts/work-pools.md
  docs/img/ui/process-work-pool-config.png
  mkdocs.yml
  src/prefect/cli/worker.py
Labels: docs

#9107 Enable events client experimental flag by default
  src/prefect/settings.py
  tests/_internal/compatibility/test_experimental.py
  tests/events/test_events_worker.py
  tests/server/test_app.py
Labels: experimental

#9097 Migrate Artifact data to ArtifactCollection
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_04_06_122716_15f5083c16bd_migrate_artifact_data.py
  src/prefect/server/database/migrations/versions/sqlite/2023_04_06_122659_2dbcec43c857_migrate_artifact_data.py
  tests/server/database/test_migrations.py
Labels: maintenance, migration, team:orchestration

#9119 Add release notes for 2.10.0
  RELEASE-NOTES.md
  docs/overrides/main.html
Labels: maintenance

#9134 Fix typo in release notes
  RELEASE-NOTES.md
Labels: maintenance

#9142 Add release notes for 2.10.2
  RELEASE-NOTES.md
Labels: maintenance

#9140 Add integration test for deployment with storage block
  flows/deployment_storage.py
  src/prefect/deployments.py
Labels: maintenance

#9136 Rename `__root_path__` to `__development_base_path__`
  scripts/run-integration-flows.py
  src/prefect/__init__.py
  src/prefect/cli/dev.py
  src/prefect/cli/project.py
  tests/cli/test_project.py
  tests/projects/test_base.py
  tests/test_filesystems.py
  tests/utilities/test_importtools.py
Labels: enhancement

#9129 Include flow run and flow as related resources when emitting events via the events worker
  src/prefect/_internal/concurrency/services.py
  src/prefect/events/related.py
  src/prefect/events/schemas.py
  src/prefect/events/worker.py
  src/prefect/utilities/context.py
  tests/events/test_event_schemas.py
  tests/events/test_events_related_from_context.py
  tests/events/test_events_worker.py
Labels: enhancement

#9143 Adds artifacts to api-ref
  docs/api-ref/prefect/artifacts.md
  mkdocs.yml
Labels: docs

#9089 Add deployment and flow filters to `/artifacts/filter` and `/artifacts/latest/filter` routes
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Labels: team:orchestration

#9144 Deploy touch ups
  docs/api-ref/prefect/cli/project.md
  mkdocs.yml
  src/prefect/cli/root.py
  tests/cli/test_project.py
Labels: maintenance

#9141 Add 2.8, 2.9, 2.10 to integration tests
  .github/workflows/integration-tests.yaml
Labels: maintenance

#9124 Use new sessions and transactions for each query during `CancellationCleanup`
  src/prefect/server/services/cancellation_cleanup.py
Labels: enhancement

#9090 Add `/artifacts/latest/count` route
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Labels: team:orchestration

#9149 Stream `git` output during `git_clone_project`
  src/prefect/projects/steps/pull.py
Labels: enhancement

#9146 Update deployment defaults with project init
  src/prefect/cli/project.py
  src/prefect/cli/root.py
  src/prefect/projects/base.py
  src/prefect/projects/templates/deployment.yaml
  tests/projects/test_base.py
Labels: enhancement

#9151 Expands upon project step documentation
  docs/api-ref/prefect/projects/base.md
  docs/api-ref/prefect/projects/steps/core.md
  docs/api-ref/prefect/projects/steps/pull.md
  docs/concepts/projects.md
  mkdocs.yml
  src/prefect/projects/base.py
  src/prefect/projects/steps/core.py
  src/prefect/projects/steps/pull.py
Labels: docs

#9157 Update `prefect deploy` to pull `flow_name` and `entrypoint` from deployment.yaml if specified
  src/prefect/cli/root.py
  src/prefect/projects/templates/deployment.yaml
  tests/cli/test_project.py
Labels: fix

#9029 add prefect-spark-on-k8s-operator to integrations catalog list.
  docs/img/collections/spark-on-kubernetes.png
  docs/integrations/catalog/prefect-spark-on-k8s-operator.yaml
Labels: collections

#9156 Mock runtime via environment variable
  docs/concepts/runtime-context.md
  src/prefect/runtime/deployment.py
  src/prefect/runtime/flow_run.py
  src/prefect/runtime/task_run.py
  tests/runtime/test_deployment.py
  tests/runtime/test_flow_run.py
  tests/runtime/test_task_run.py
Labels: enhancement

#9169 Add pragma statements automatically if sqlite
  src/prefect/server/database/migrations/env.py
  src/prefect/server/database/migrations/script.py.mako
Labels: migration

#9150 Hide command when access token is provided and `git_clone_project` fails
  src/prefect/projects/steps/pull.py
  tests/projects/test_steps.py
Labels: fix

#9180 Fix bug where log worker only sent logs to API on flush rather than on an interval
  src/prefect/logging/handlers.py
Labels: fix

#9154 Fixes worker start CLI args
  src/prefect/cli/worker.py
Labels: bug, team:orchestration

#9190 Allow for partial deployment.yaml files
  src/prefect/cli/root.py
  tests/cli/test_project.py
Labels: enhancement

#9203 Emit an event when a worker submits a flow run for execution
  src/prefect/blocks/core.py
  src/prefect/events/instrument.py
  src/prefect/events/related.py
  src/prefect/events/utilities.py
  src/prefect/workers/base.py
  tests/events/instrumentation/test_block_events_instrumentation.py
  tests/events/instrumentation/test_events_workers_instrumentation.py
  tests/events/test_events_related_from_context.py
  tests/events/test_events_worker.py
  tests/fixtures/database.py
  tests/workers/test_base_worker.py
Labels: experimental

#8414 Transition scheduled flow runs immediately to cancelled instead of cancelling
  src/prefect/server/orchestration/core_policy.py
  tests/cli/test_flow_run.py
  tests/server/orchestration/test_core_policy.py
Labels: fix

#9207 Update badge styling in docs
  docs/stylesheets/extra.css
Labels: enhancement, docs

#9209 add polling interval info to agent and worker docs
  docs/concepts/work-pools.md
Labels: docs

#9198 Add flow run cancellation support for `ProcessWorker`
  .github/workflows/python-tests.yaml
  setup.cfg
  src/prefect/cli/worker.py
  src/prefect/client/orchestration.py
  src/prefect/workers/base.py
  src/prefect/workers/process.py
  tests/cli/test_worker.py
  tests/workers/test_base_worker.py
  tests/workers/test_process_worker.py
Labels: enhancement

#9241 Pin pip version in python tests to 23.0.1
  .github/workflows/python-tests.yaml
Labels: maintenance

#9227 Add worker.executed-flow-run event
  src/prefect/events/schemas.py
  src/prefect/events/utilities.py
  src/prefect/workers/base.py
  tests/events/instrumentation/test_events_workers_instrumentation.py
  tests/events/test_event_schemas.py
  tests/events/test_events_emit_event.py
Labels: experimental

#9247 fix broken link
  docs/index.md
Labels: docs

#9046 fix(deployments): remove erroneous creation of work queue
  src/prefect/server/models/deployments.py
  tests/server/models/test_deployments.py
Labels: fix, needs:cloud-pr

#9249 Emit worker lifecycle events.
  src/prefect/cli/worker.py
  src/prefect/workers/base.py
  tests/events/instrumentation/test_events_workers_instrumentation.py
Labels: experimental

#9250 Add `configuration` to `kill_infrastructure` signature
  src/prefect/workers/base.py
  src/prefect/workers/process.py
  tests/workers/test_base_worker.py
  tests/workers/test_process_worker.py
Labels: fix

#9259 Add documentation edit button
  mkdocs.insiders.yml
  mkdocs.yml
Labels: docs

#9255 Emit cancelled-flow-run event when worker cancels a flow run
  src/prefect/workers/base.py
  tests/events/instrumentation/test_events_workers_instrumentation.py
Labels: experimental

#8984 Add GitHub action to trigger versioned builds in docs repository
  .github/workflows/build-docs.yaml
Labels: docs

#9267 Update `critical_service_loop` to throw a runtime error on failure
  src/prefect/utilities/services.py
  tests/utilities/test_services.py
Labels: fix

#9274 Fix broken worker events test and include related from configuration
  src/prefect/workers/base.py
  tests/events/instrumentation/test_events_workers_instrumentation.py
Labels: maintenance, experimental

#9278 Fix pip requirement inference compatibility with Python 3.11+ and pip 23.1+
  .github/workflows/python-tests.yaml
  src/prefect/software/pip.py
  src/prefect/utilities/compat.py
  tests/software/test_pip.py
Labels: fix

#9279 Touchup release notes from last couple versions
  RELEASE-NOTES.md
Labels: maintenance

#9265 Add status code to base client log on retry
  src/prefect/client/base.py
Labels: enhancement

#9282 add variables fixes
  src/prefect/server/schemas/actions.py
  tests/server/schemas/test_actions.py
Labels: fix, needs:cloud-pr

#9288 Update announce bar 2.10.5
  docs/overrides/main.html
Labels: docs

#9293 Check on the existence of flow run instead of deployment for deciding whether to show the params tab
  ui/src/pages/FlowRun.vue
Labels: ui, fix

#8933 Accept functions to flow_run_name and task_run_name settings
  docs/concepts/flows.md
  docs/concepts/tasks.md
  docs/tutorials/flow-task-config.md
  src/prefect/engine.py
  src/prefect/flows.py
  src/prefect/tasks.py
  tests/test_flows.py
  tests/test_tasks.py
Labels: enhancement

#9294 Remove duplicate features
  mkdocs.insiders.yml
  mkdocs.yml
Labels: maintenance, docs

#9295 Make small docs fixes
  docs/community/index.md
  docs/concepts/artifacts.md
  docs/concepts/logs.md
Labels: docs

#9302 Ensure workers only create one client while running
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Labels: fix

#9305 fix rendering of cloud feature list
  docs/host/index.md
Labels: docs

#9307 Ensure services are drained on global loop shutdown
  src/prefect/_internal/concurrency/services.py
  src/prefect/_internal/concurrency/threads.py
  tests/_internal/concurrency/test_services.py
  tests/_internal/concurrency/test_threads.py
Labels: fix

#9313 show logs on pending flow run pages
  ui/src/pages/FlowRun.vue
Labels: fix

#9306 Display number of pending items on service failure
  src/prefect/_internal/concurrency/services.py
Labels: enhancement

#9314 Fix `flow-run logs` limit
  src/prefect/cli/flow_run.py
  tests/cli/test_flow_run.py
Labels: fix

#9316 Fix `future.result()` and `future.wait()` calls from async contexts
  src/prefect/futures.py
Labels: fix

#9200 Add "severity" key to JSON formatted logs for GCP compatibility
  src/prefect/logging/formatters.py
Labels: enhancement

#9319 Show ruff fixes during pre-commit so they are displayed in GitHub Actions
  .pre-commit-config.yaml
Labels: maintenance

#9321 Fix social cards
  docs/concepts/settings.md
  mkdocs.insiders.yml
  netlify.toml
Labels: docs

#9318 Update `QueueService.send` to wait for the item to be placed in the queue before returning
  src/prefect/_internal/concurrency/event_loop.py
  src/prefect/_internal/concurrency/services.py
Labels: fix

#9325 Remove automation that assigns in-progress label on assignment
  .github/workflows/issue-bot.yaml
Labels: maintenance

#9152 Update orchestration rules to allow transitions from terminal states
  src/prefect/server/orchestration/core_policy.py
  src/prefect/server/orchestration/rules.py
  tests/fixtures/database.py
  tests/server/api/test_flow_runs.py
  tests/server/orchestration/test_core_policy.py
  tests/test_flows.py
Labels: enhancement, needs:cloud-pr

#9338 UI: Update vue-charts
  ui/package-lock.json
  ui/package.json
Labels: maintenance, ui

#9336 Update `resolve_futures_to_data` and `resolve_futures_to_states` to wait for futures in the correct event loop
  src/prefect/futures.py
  tests/test_futures.py
Labels: fix

#9341 Fix bug where tasks were not called when debug mode was enabled
  src/prefect/engine.py
  tests/test_tasks.py
Labels: fix

#9334 Raise `UnfinishedRun` instead of `MissingResult` when state is not final
  src/prefect/exceptions.py
  src/prefect/states.py
  tests/results/test_state_result.py
  tests/test_tasks.py
Labels: enhancement

#9342 Duplicate task runner instances before usage in engine
  benches/bench_flows.py
  src/prefect/engine.py
  src/prefect/task_runners.py
  src/prefect/testing/standard_test_suites/task_runners.py
  tests/test_engine.py
  tests/test_flows.py
Labels: enhancement

#9358 Update `log_prints` to ignore prints where a custom `file` is used
  src/prefect/logging/loggers.py
  tests/test_logging.py
Labels: enhancement

#9366 Add a link to bug bounty program info
  .github/ISSUE_TEMPLATE/config.yml
Labels: docs

#9369 Pin IPython to 8.12 when running with Python 3.8
  requirements-dev.txt
Labels: docs

#9370 Add color scheme mode to favicon id
  ui/index.html
Labels: fix

#9373 Add guard against null schedule in `deployment.yaml`
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: fix

#9326 Start process worker when no type and non-existent work pool are provided
  src/prefect/cli/worker.py
  tests/cli/test_worker.py
Labels: enhancement
