Repository PrefectHQ/prefect, pull requests merged in 2023-06, with the labels that each got.

#9803 chore: remove worker `poll.*` events
  src/prefect/workers/base.py
  tests/events/instrumentation/test_events_workers_instrumentation.py
Labels: fix

#9743 Deprecate "send_to_orion" logging option in favor of "send_to_api"
  src/prefect/engine.py
  src/prefect/logging/handlers.py
  src/prefect/logging/loggers.py
  tests/test_flows.py
  tests/test_logging.py
  tests/test_tasks.py
Labels: deprecation

#9714 Add extra loggers example
  docs/concepts/logs.md
Labels: docs, status:waiting for user

#9798 Respect priority passed when creating a work queue
  src/prefect/server/models/work_queues.py
  src/prefect/server/models/workers.py
  tests/server/api/test_work_queues.py
  tests/server/api/test_workers.py
  tests/server/models/test_workers.py
Labels: fix

#9789 Create files and directories with user-scoped permissions
  flows/deployment_storage.py
  src/prefect/context.py
  src/prefect/projects/base.py
  src/prefect/server/api/server.py
  src/prefect/settings.py
  src/prefect/utilities/filesystem.py
  tests/cli/test_deploy.py
  tests/projects/test_base.py
Labels: enhancement, security

#9757 Fix inconsistent work queue handling by agent when cancelling flow runs
  src/prefect/agent.py
  tests/agent/test_agent_run_cancellation.py
  tests/fixtures/database.py
Labels: fix, team:orchestration

#9752 Update work-pools.md
  docs/concepts/work-pools.md
Labels: docs, status:waiting for user

#9579 Update Worker Requirements in Projects Tutorial.md
  docs/tutorial/projects.md
Labels: docs

#9561 Feature/cast mocked runtime attributes
  docs/concepts/runtime-context.md
  src/prefect/runtime/deployment.py
  src/prefect/runtime/flow_run.py
  src/prefect/runtime/task_run.py
  tests/runtime/test_deployment.py
  tests/runtime/test_flow_run.py
  tests/runtime/test_task_run.py
Labels: enhancement, status:waiting for user

#9812 Add release notes for 2.10.12
  RELEASE-NOTES.md
Labels: maintenance

#9820 Fixes broken link and Prefect server reference in automations.md
  docs/cloud/automations.md
Labels: docs

#9821 Fixes broken link to docker guide in API docs
  src/prefect/infrastructure/container.py
Labels: docs

#9753 Update info on sub flow run cancellation
  docs/concepts/flows.md
Labels: docs

#9838 chore: use regular test runners on merge
  .github/workflows/python-tests.yaml
Labels: maintenance

#9832 Add interactive schedule prompting to `prefect deploy`
  src/prefect/cli/_prompts.py
  src/prefect/cli/_utilities.py
  src/prefect/cli/deploy.py
  src/prefect/cli/root.py
  src/prefect/cli/work_pool.py
  tests/cli/test_deploy.py
Labels: enhancement

#9810 Add `run_shell_script` step
  docs/api-ref/prefect/projects/steps/utility.md
  docs/concepts/projects.md
  mkdocs.yml
  src/prefect/cli/deploy.py
  src/prefect/projects/steps/__init__.py
  src/prefect/projects/steps/core.py
  src/prefect/projects/steps/utility.py
  src/prefect/utilities/collections.py
  src/prefect/utilities/processutils.py
  src/prefect/utilities/templating.py
  tests/projects/test_steps.py
  tests/utilities/test_collections.py
  tests/utilities/test_templating.py
Labels: enhancement

#9836 Add feedback widget for docs
  mkdocs.yml
Labels: docs

#9835 Improvements and fixes to the internal concurrency API
  src/prefect/_internal/_logging.py
  src/prefect/_internal/concurrency/__init__.py
  src/prefect/_internal/concurrency/api.py
  src/prefect/_internal/concurrency/calls.py
  src/prefect/_internal/concurrency/cancellation.py
  src/prefect/_internal/concurrency/inspection.py
  src/prefect/_internal/concurrency/services.py
  src/prefect/_internal/concurrency/threads.py
  src/prefect/_internal/concurrency/timeouts.py
  src/prefect/_internal/concurrency/waiters.py
  src/prefect/engine.py
  src/prefect/logging/logging.yml
  src/prefect/states.py
  src/prefect/utilities/asyncutils.py
  tests/_internal/concurrency/conftest.py
  tests/_internal/concurrency/test_api.py
  tests/_internal/concurrency/test_calls.py
  tests/_internal/concurrency/test_cancellation.py
  tests/_internal/concurrency/test_services.py
  tests/_internal/concurrency/test_threads.py
  tests/_internal/concurrency/test_timeouts.py
  tests/_internal/concurrency/test_waiters.py
  tests/cli/test_start_server.py
  tests/conftest.py
  tests/infrastructure/test_kubernetes_job.py
  tests/public/flows/test_flow_timeouts.py
  tests/public/tasks/test_task_timeouts.py
  tests/server/database/test_migrations.py
  tests/server/models/test_block_documents.py
  tests/test_engine.py
  tests/test_flows.py
Labels: maintenance

#9864 Add missing url in API docs
  docs/api-ref/index.md
Labels: docs

#9863 Reference .prefectignore files when moving files around locally
  src/prefect/filesystems.py
Labels: fix

#9857 Documentation for Prefect Cloud's webhooks
  docs/cloud/webhooks.md
  mkdocs.yml
Labels: docs, cloud

#9844 Allow running `prefect deploy` without a `prefect.yaml` file
  src/prefect/cli/_prompts.py
  src/prefect/cli/deploy.py
  src/prefect/projects/base.py
  tests/cli/test_deploy.py
Labels: enhancement

#9869 allow passing `payload` to `emit_instance_method_called_event`
  src/prefect/events/instrument.py
Labels: enhancement

#9868 Add `pip_install_requirements` project step
  docs/api-ref/prefect/projects/steps/utility.md
  docs/concepts/projects.md
  src/prefect/projects/steps/__init__.py
  src/prefect/projects/steps/utility.py
  tests/projects/test_steps.py
Labels: enhancement, projects

#9865 Add release notes for 2.10.13
  RELEASE-NOTES.md
Labels: maintenance

#9872 Provide a default `DTSTART` to anchor `RRULE` schedules
  src/prefect/client/schemas/schedules.py
  src/prefect/server/schemas/schedules.py
  tests/server/schemas/test_schedules.py
Labels: fix

#9873 chore: add httpx request method to CloudClient
  src/prefect/client/cloud.py
Labels: enhancement

#9874 feat: Cloud Webhook CLI
  docs/api-ref/prefect/cli/cloud-webhook.md
  docs/api-ref/prefect/cli/cloud.md
  docs/cloud/webhooks.md
  mkdocs.yml
  src/prefect/cli/__init__.py
  src/prefect/cli/cloud/__init__.py
  src/prefect/cli/cloud/webhook.py
  src/prefect/client/cloud.py
  tests/cli/test_cloud.py
Labels: feature, cloud

#9880 Re-enable the retrieval of existing clients from flow and task run contexts when safe
  src/prefect/client/orchestration.py
  src/prefect/client/utilities.py
  tests/client/test_prefect_client.py
Labels: enhancement

#9877 Use existing thread in `BatchedQueueService` to reduce queue retrieval overhead
  src/prefect/_internal/concurrency/services.py
Labels: enhancement

#9885 Create automations when applying deployments that have trigger specifications
  src/prefect/cli/deployment.py
  src/prefect/client/orchestration.py
  src/prefect/deployments.py
  src/prefect/events/actions.py
  src/prefect/events/schemas.py
  tests/client/test_prefect_client.py
  tests/events/test_event_schemas.py
  tests/fixtures/client.py
  tests/test_deployments.py
Labels: enhancement

#9879 Improve timeout display message for calls
  src/prefect/_internal/concurrency/calls.py
  tests/server/services/test_flow_run_notifications.py
Labels: maintenance

#9897 Add `prefect --prompt/--no-prompt` to force toggle interactive CLI sessions
  src/prefect/cli/root.py
  src/prefect/settings.py
  tests/cli/test_root.py
Labels: enhancement

#9888 Deprecate project deployment via `—flow/-f`
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: deprecation

#9899 chore: split up webhook get and ls commands
  docs/cloud/webhooks.md
  src/prefect/cli/cloud/webhook.py
  tests/cli/test_cloud.py
Labels: enhancement

#9671 docs: update to `from prefect import get_client`
  docs/api-ref/prefect/client/orchestration.md
  docs/concepts/tasks.md
Labels: enhancement, status:waiting for maintainer

#9659 Add `work_pool_name` to work queue API responses
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/objects.py
  src/prefect/server/api/work_queues.py
  src/prefect/server/api/workers.py
  src/prefect/server/models/work_queues.py
  src/prefect/server/models/workers.py
  src/prefect/server/schemas/responses.py
  tests/server/api/test_work_queues.py
  tests/server/api/test_workers.py
Labels: enhancement

#9900 Fix bug where attribute error raised on service shutdown when the app startup fails
  src/prefect/server/api/server.py
Labels: fix

#9711 Sort task run ids before returning output of cli inspect concurrency limit
  src/prefect/cli/concurrency_limit.py
Labels: enhancement, status:waiting for maintainer

#9886 deployment triggers docs
  docs/cloud/automations.md
  docs/concepts/deployments.md
  docs/tutorial/deployments.md
Labels: docs

#9924 Add new documentation to the engine
  src/prefect/engine.py
Labels: docs

#9867 Adds note explaining multiple match_related syntax
  docs/cloud/automations.md
Labels: docs

#9691 Change agent behavior to mark flow as crashed if infra submission fails
  src/prefect/agent.py
  src/prefect/workers/base.py
  tests/agent/test_agent_run_submission.py
  tests/fixtures/database.py
  tests/workers/test_base_worker.py
Labels: enhancement, status:waiting for maintainer

#9919 Port `/dashboard/counts` endpoint
  src/prefect/server/api/server.py
  src/prefect/server/api/ui/__init__.py
  src/prefect/server/api/ui/task_runs.py
  tests/server/api/ui/test_task_runs.py
Labels: maintenance

#9938 make more sqlite locking retryable
  src/prefect/server/api/server.py
  tests/server/api/test_server.py
Labels: fix

#9887 Consolidate `prefect.yaml` and `deployment.yaml` files
  docs/concepts/projects.md
  docs/tutorial/projects.md
  src/prefect/cli/_prompts.py
  src/prefect/cli/deploy.py
  src/prefect/projects/base.py
  src/prefect/projects/recipes/docker-gcs/prefect.yaml
  src/prefect/projects/recipes/docker-git/prefect.yaml
  src/prefect/projects/recipes/docker-s3/prefect.yaml
  src/prefect/projects/recipes/docker/prefect.yaml
  src/prefect/projects/recipes/gcs/prefect.yaml
  src/prefect/projects/recipes/git/prefect.yaml
  src/prefect/projects/recipes/local/prefect.yaml
  src/prefect/projects/recipes/s3/prefect.yaml
  src/prefect/projects/templates/deployment.yaml
  src/prefect/projects/templates/prefect.yaml
  tests/cli/test_deploy.py
  tests/cli/test_project.py
  tests/projects/test_base.py
Labels: enhancement, deprecation

#9930 Rename `git_clone_project` step to `git_clone`
  docs/concepts/projects.md
  docs/concepts/variables.md
  docs/tutorial/projects.md
  src/prefect/cli/deploy.py
  src/prefect/projects/steps/__init__.py
  src/prefect/projects/steps/pull.py
  src/prefect/projects/steps/utility.py
  tests/cli/test_deploy.py
  tests/cli/test_project.py
  tests/projects/test_steps.py
Labels: deprecation

#9932 Add capability to delete block from Python SDK
  src/prefect/blocks/core.py
  tests/blocks/test_core.py
Labels: enhancement

#9889 Adds notifications page redirect to docs
  netlify.toml
Labels: docs

#9942 Print deprecation warnings emitted by deployment steps
  src/prefect/projects/steps/core.py
  tests/projects/test_steps.py
Labels: enhancement

#9944 Deprecate `project` module
  MANIFEST.in
  docs/api-ref/prefect/cli/project.md
  docs/api-ref/prefect/deployments-ux/base.md
  docs/api-ref/prefect/deployments-ux/steps/core.md
  docs/api-ref/prefect/deployments-ux/steps/pull.md
  docs/api-ref/prefect/deployments-ux/steps/utility.md
  docs/api-ref/prefect/projects/base.md
  docs/api-ref/prefect/projects/steps/core.md
  docs/api-ref/prefect/projects/steps/pull.md
  docs/concepts/deployments-ux.md
  docs/concepts/index.md
  docs/concepts/variables.md
  docs/concepts/work-pools.md
  docs/tutorial/deployments-ux.md
  docs/tutorial/deployments.md
  mkdocs.yml
  netlify.toml
  src/prefect/__init__.py
  src/prefect/cli/deploy.py
  src/prefect/cli/project.py
  src/prefect/deployments/__init__.py
  src/prefect/deployments/base.py
  src/prefect/deployments/deployments.py
  src/prefect/deployments/recipes/docker-gcs/prefect.yaml
  src/prefect/deployments/recipes/docker-git/prefect.yaml
  src/prefect/deployments/recipes/docker-s3/prefect.yaml
  src/prefect/deployments/recipes/docker/prefect.yaml
  src/prefect/deployments/recipes/gcs/prefect.yaml
  src/prefect/deployments/recipes/git/prefect.yaml
  src/prefect/deployments/recipes/local/prefect.yaml
  src/prefect/deployments/recipes/s3/prefect.yaml
  src/prefect/deployments/steps/__init__.py
  src/prefect/deployments/steps/core.py
  src/prefect/deployments/steps/pull.py
  src/prefect/deployments/steps/utility.py
  src/prefect/deployments/templates/prefect.yaml
  src/prefect/projects/__init__.py
  tests/cli/test_deploy.py
  tests/cli/test_project.py
  tests/deployment/__init__.py
  tests/deployment/test_base.py
  tests/deployment/test_steps.py
Labels: docs, deprecation

#9954 Add release notes for 2.10.14
  RELEASE-NOTES.md
Labels: maintenance

#9960 Add missing PR to release notes 2.10.14
  RELEASE-NOTES.md
Labels: maintenance

#9966 Fix typo in RELEASE-NOTES.md
  RELEASE-NOTES.md
Labels: maintenance

#9972 Fix error in `prefect deploy` when `.prefect` folder is absent
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: fix

#9978 Fixes use of deprecated `git_clone_project`
  src/prefect/deployments/steps/__init__.py
  src/prefect/deployments/steps/pull.py
  tests/deployment/test_steps.py
Labels: fix

#9963 Fix exception raised in `prefect init` command when no recipe is selected
  src/prefect/cli/project.py
  tests/cli/test_project.py
Labels: fix

#9965 Fix broken deployments api-ref page
  docs/api-ref/prefect/deployments/base.md
  docs/api-ref/prefect/deployments/deployments.md
  docs/api-ref/prefect/deployments/steps/core.md
  docs/api-ref/prefect/deployments/steps/pull.md
  docs/api-ref/prefect/deployments/steps/utility.md
  docs/concepts/deployments.md
  docs/concepts/flows.md
  docs/tutorial/deployments-ux.md
  docs/tutorial/storage.md
  mkdocs.yml
  netlify.toml
Labels: docs

#9948 Add prompt to save inputs to interactive `prefect deploy` command
  requirements.txt
  src/prefect/cli/deploy.py
  src/prefect/deployments/base.py
  tests/cli/test_deploy.py
Labels: enhancement

#9979 Add release notes for 2.10.15
  RELEASE-NOTES.md
Labels: maintenance

#9904 Update events section for cloud docs index.md
  docs/cloud/index.md
Labels: docs

#9982 Add status to redirects
  netlify.toml
Labels: maintenance

#9997 Switch token to access_token in cli wizard
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: fix

#10003 Fix typo in webhook docs
  docs/cloud/webhooks.md
Labels: docs

#9999 Add option to specify work queue priority during creation from cli
  src/prefect/cli/work_queue.py
  tests/cli/test_work_queues.py
Labels: enhancement

#10007 Add hint to "Invalid timezone" error message
  src/prefect/client/schemas/schedules.py
Labels: enhancement

#10001 Refactors `prefect deploy` dispatch
  src/prefect/cli/_prompts.py
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: maintenance

#10004 Add prompt to `prefect deploy` to allow user to select from list of discovered flows
  src/prefect/cli/_prompts.py
  src/prefect/cli/deploy.py
  src/prefect/deployments/base.py
  tests/cli/test_deploy.py
  tests/deployment/test_base.py
  tests/test-projects/import-project/my_module/flow.py
  tests/test-projects/nested-project/implicit_relative.py
Labels: enhancement

#10008 Release 2.10.16
  RELEASE-NOTES.md
Labels: maintenance

#10013 Fix broken link in deployments UX page
  docs/concepts/deployments-ux.md
Labels: docs

#10017 Synchronize changes to CronSchedule server schema
  src/prefect/client/schemas/schedules.py
  src/prefect/server/schemas/schedules.py
Labels: fix

#10030 Remove redundant deployment ux test
  tests/cli/test_project.py
Labels: maintenance

#10014 Limit the number of files opened concurrently by `prefect deploy`
  src/prefect/cli/_prompts.py
  src/prefect/deployments/base.py
  src/prefect/utilities/filesystem.py
  tests/deployment/test_base.py
Labels: enhancement

#9988 Issue 9773: Default HTTPX follow_redirects to true
  src/prefect/client/cloud.py
  src/prefect/client/orchestration.py
  src/prefect/settings.py
  tests/client/test_base_client.py
  tests/client/test_cloud_client.py
  tests/client/test_prefect_client.py
  tests/conftest.py
Labels: enhancement

#10010 UI: Implement flow run compositions
  ui/package-lock.json
  ui/package.json
  ui/src/pages/FlowRun.vue
  ui/src/pages/FlowRuns.vue
Labels: maintenance, ui

#10018 Allow for saving updated deployment configurations
  src/prefect/cli/deploy.py
  src/prefect/deployments/base.py
  tests/cli/test_deploy.py
Labels: enhancement

#10053 Fix pull step saving by preserving placeholders with missing values
  src/prefect/cli/deploy.py
  src/prefect/testing/utilities.py
  src/prefect/utilities/templating.py
  tests/cli/test_deploy.py
  tests/utilities/test_templating.py
Labels: fix

#9977 Update docs references to a/the Prefect server
  docs/api-ref/index.md
  docs/api-ref/rest-api-reference.md
  docs/api-ref/rest-api/index.md
  docs/concepts/flows.md
  docs/concepts/infrastructure.md
  docs/concepts/settings.md
  docs/getting-started/installation.md
  docs/host/index.md
  docs/integrations/contribute.md
Labels: docs

#10031 Update pull request template
  .github/CONTRIBUTING.md
  .github/pull_request_template.md
Labels: maintenance, docs

#10062 Remove duplicate line in installation.md
  docs/getting-started/installation.md
Labels: docs

#9853 Adjust docs to say Prefect requires Python 3.8
  docs/getting-started/installation.md
Labels: docs, DONT MERGE

#10069 Fix non-rendering graph and admonition in tutorial/deployments.md
  docs/tutorial/deployments.md
Labels: docs

#10056 docs: rename 'Example' to 'Examples' in code blocks
  src/prefect/_internal/schemas/transformations.py
  src/prefect/engine.py
  src/prefect/settings.py
  src/prefect/testing/utilities.py
  src/prefect/utilities/importtools.py
Labels: docs

#10049 Add support for deployment triggers to `prefect deploy`
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: enhancement

#10059 Fix windows file limit check
  src/prefect/utilities/filesystem.py
  tests/utilities/test_filesystem.py
Labels: fix

#10032 Update build concurrency settings
  .github/workflows/codeql-analysis.yml
  .github/workflows/python-tests.yaml
  .github/workflows/static-analysis.yaml
  .github/workflows/ui-tests.yml
Labels: maintenance

#10073 Add custom pull step examples with variables
  docs/concepts/deployments-ux.md
Labels: docs

#10079 Adds troubleshooting guide to docs
  docs/guides/index.md
  docs/guides/troubleshooting.md
  mkdocs.yml
Labels: docs

#10078 Allows use of Prefect variables in `job_variables` section of deploy config in `prefect.yaml`
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Labels: fix

#10077 fix ACI name in guides/index.md
  docs/guides/index.md
Labels: docs

#10067 Add default option to new_parameters.pop in `explode_variadic_parameter` used to handle `**kwargs` in task mapping
  src/prefect/utilities/callables.py
  tests/utilities/test_callables.py
Labels: fix

#10092 Update Docker-based `prefect init` recipes to use `push_docker_image` step
  src/prefect/deployments/recipes/docker-azure/prefect.yaml
  src/prefect/deployments/recipes/docker-gcs/prefect.yaml
  src/prefect/deployments/recipes/docker-git/prefect.yaml
  src/prefect/deployments/recipes/docker-s3/prefect.yaml
  src/prefect/deployments/recipes/docker/prefect.yaml
Labels: fix

#10086 small improvements to deployment tutorial docs
  docs/tutorial/deployments.md
Labels: docs

#10087 Fix saving of `pull` and `push` step deployment configuration
  src/prefect/deployments/base.py
  tests/cli/test_deploy.py
Labels: fix

#10090 Add `prefect.yaml` `pull` step generation based on `build_docker_image` `build` step
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: enhancement

#10103 Show how to find Prefect Cloud Account ID and Workspace ID
  docs/concepts/settings.md
  docs/guides/deployment/helm-worker.md
Labels: docs

#10022 Add ability to build and push Docker image during interactive `prefect deploy`
  src/prefect/cli/_prompts.py
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: enhancement

#10115 Add deleting blocks section to docs
  docs/concepts/blocks.md
Labels: docs

#10113 Add docs tabs linking and styling
  mkdocs.yml
Labels: docs

#10098 Adds code block to blocks core load function doc string
  src/prefect/blocks/core.py
Labels: docs
