Repository PrefectHQ/prefect, pull requests merged in 2023-01, with the labels that each got.

#7871 Use environment variable to toggle social cards
  mkdocs.insiders.yml
Labels: docs

#7855 Implement new Python handler for mkdocstrings to build API docs
  docs/api-ref/prefect/client.md
  docs/api-ref/prefect/client/base.md
  docs/api-ref/prefect/client/cloud.md
  docs/api-ref/prefect/client/orion.md
  docs/api-ref/prefect/client/schemas.md
  docs/api-ref/prefect/client/utilities.md
  docs/concepts/task-runners.md
  docs/concepts/tasks.md
  docs/stylesheets/api_ref.css
  mkdocs.yml
  requirements-dev.txt
  src/prefect/client/cloud.py
  src/prefect/client/orion.py
  src/prefect/task_runners.py
Labels: docs, v2

#8018 Fix captured Kubernetes error type in `get_job`
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_kubernetes_job.py
Labels: fix

#8021 Add a contributing features / bug fixes section to Collections docs
  docs/collections/contribute.md
Labels: docs

#8020 Add another cyclic import to CodeQL exclusions
  .github/codeql-config.yml
Labels: maintenance

#8034 update `prefect cloud login` when no workspaces exist
  src/prefect/cli/cloud.py
  tests/cli/test_cloud.py
Labels: fix

#8040 Add Python dependency scanning for the 1.x branch
  .github/dependabot.yml
Labels: maintenance, v1

#8039 Refactor App.vue so everything is contained in a suspense wrapper
  orion-ui/src/App.vue
  orion-ui/src/pages/AppRouterView.vue
Labels: maintenance

#8042 Caps SQLAlchemy version below 2.0 and silences uber-warning
  .github/workflows/python-tests.yaml
  requirements.txt
Labels: maintenance

#7973 Workers pages and routes
  orion-ui/src/components/ContextSidebar.vue
  orion-ui/src/maps/featureFlag.ts
  orion-ui/src/pages/WorkerPool.vue
  orion-ui/src/pages/WorkerPoolCreate.vue
  orion-ui/src/pages/WorkerPoolEdit.vue
  orion-ui/src/pages/WorkerPoolQueue.vue
  orion-ui/src/pages/WorkerPoolQueueCreate.vue
  orion-ui/src/pages/WorkerPoolQueueEdit.vue
  orion-ui/src/pages/WorkerPools.vue
  orion-ui/src/router/index.ts
  orion-ui/src/types/flagResponse.ts
  orion-ui/src/utilities/permissions.ts
Labels: feature, ui

#8048 Skip httpx version 0.23.2
  requirements.txt
Labels: maintenance

#7887 Shutdown engine on SIGTERM
  .github/workflows/python-tests.yaml
  docs/concepts/infrastructure.md
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/App.vue
  orion-ui/src/components/ContextSidebar.vue
  orion-ui/src/maps/featureFlag.ts
  orion-ui/src/pages/AppRouterView.vue
  orion-ui/src/pages/WorkerPool.vue
  orion-ui/src/pages/WorkerPoolCreate.vue
  orion-ui/src/pages/WorkerPoolEdit.vue
  orion-ui/src/pages/WorkerPoolQueue.vue
  orion-ui/src/pages/WorkerPoolQueueCreate.vue
  orion-ui/src/pages/WorkerPoolQueueEdit.vue
  orion-ui/src/pages/WorkerPools.vue
  orion-ui/src/router/index.ts
  orion-ui/src/types/flagResponse.ts
  orion-ui/src/utilities/permissions.ts
  requirements.txt
  src/prefect/engine.py
  src/prefect/exceptions.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/orion/database/migrations/versions/postgresql/2022_12_06_164028_9326a6aee18b_add_cancelling_to_state_type_enum.py
  src/prefect/orion/orchestration/core_policy.py
  src/prefect/utilities/callables.py
  tests/orion/orchestration/test_core_policy.py
  tests/test_engine.py
  tests/test_flows.py
  tests/utilities/test_callables.py
Labels: enhancement, migration

#7862 add `validate` to `Block.load` enabling block document migration
  src/prefect/blocks/core.py
  tests/blocks/test_core.py
Labels: feature

#8053 Moves `SQLALCHEMY_SILENCE_UBER_WARNING` to setup.cfg
  .github/workflows/python-tests.yaml
  setup.cfg
Labels: maintenance

#8059 dedupe vue-router
  orion-ui/vite.config.ts
Labels: maintenance

#8057 Disable fks for sqlite migration
  src/prefect/orion/database/migrations/versions/sqlite/2022_11_24_143302_fe77ad0dda06_add_worker_tables.py
  tests/orion/database/test_migrations.py
Labels: migration, fix

#8062 Merge release notes for 2.7.6
  RELEASE-NOTES.md
Labels: maintenance

#8049 merge permission types to include new WorkspaceFeatureFlag
  orion-ui/src/utilities/permissions.ts
Labels: maintenance, ui

#8073 Revert to 1.1.2 for vue compositions and update orion-design to 1.1.53
  orion-ui/package-lock.json
  orion-ui/package.json
Labels: maintenance

#8056 Allow schema migration of block documents during `Block.save`
  src/prefect/client/orion.py
  src/prefect/orion/api/block_documents.py
  src/prefect/orion/models/block_documents.py
  src/prefect/orion/schemas/actions.py
  tests/blocks/test_core.py
Labels: enhancement

#8072 Avoid creating an extra client instance during result factory creation
  src/prefect/results.py
  tests/test_states.py
Labels: enhancement

#8074 SecretDict is not JSONSerializable in Deployment
  src/prefect/deployments.py
  tests/test_deployments.py
Labels: fix

#8077 Replace CodeBanner text with better temporary one
  orion-ui/src/pages/WorkerPoolQueue.vue
Labels: maintenance

#8078 Fix TaskRunConcurrency page icon in context sidebar
  orion-ui/src/components/ContextSidebar.vue
Labels: maintenance

#8075 Add logs deployment flow code load
  src/prefect/deployments.py
Labels: enhancement

#8038 Raise a better message when users saves a block with an invalid name
  src/prefect/client/orion.py
  tests/blocks/test_core.py
Labels: fix

#7263 Extend `visit_collection` with support for annotations
  src/prefect/engine.py
  src/prefect/utilities/annotations.py
  src/prefect/utilities/collections.py
  tests/test_tasks.py
  tests/utilities/test_collections.py
Labels: enhancement

#8037 Add `namedtuple` to `BaseAnnotation` bases
  src/prefect/states.py
  src/prefect/utilities/annotations.py
  tests/test_states.py
Labels: enhancement

#8083 Check for missing Pydantic extra fields in `visit_collection`
  src/prefect/utilities/collections.py
  tests/utilities/test_collections.py
Labels: fix

#7850 Allow disabling SSL verification
  docs/getting-started/installation.md
  src/prefect/client/orion.py
  src/prefect/settings.py
  tests/client/test_orion_client.py
Labels: enhancement

#7503 Add Redoc documentation for REST API reference
  .gitignore
  docs/api-ref/rest-api-reference.md
  docs/api-ref/rest-api.md
  mkdocs.yml
  netlify.toml
Labels: docs, v2, api

#8085 add docs on migrating block documents
  docs/concepts/blocks.md
Labels: docs

#8066 Adds `experimental_field` decorator
  src/prefect/_internal/compatibility/experimental.py
  tests/_internal/compatibility/test_experimental.py
Labels: maintenance

#8055 Add test for allow_failure and quote
  src/prefect/testing/standard_test_suites/task_runners.py
Labels: maintenance

#8086 Modify disable ssl setting tests to allow any for headers and timeout
  tests/client/test_orion_client.py
Labels: maintenance

#7768 Add --match flag to work queues documentation
  docs/concepts/work-queues.md
Labels: docs, v2

#7275 Limit task run cache key size
  docs/concepts/tasks.md
  src/prefect/orion/schemas/core.py
  src/prefect/settings.py
  tests/orion/schemas/test_core.py
Labels: fix

#7762 Adds `MAX_RRULE_LENGTH`
  docs/concepts/schedules.md
  src/prefect/orion/schemas/schedules.py
  tests/orion/schemas/test_schedules.py
Labels: fix

#8089 Add youtube badge
  README.md
Labels: docs

#8091 Add release notes for 2.7.7
  RELEASE-NOTES.md
  docs/overrides/main.html
Labels: maintenance

#8098 Add Peyton and Serina as global code owners
  .github/CODEOWNERS
Labels: maintenance

#7996 Add `BaseWorker` and `ProcessWorker`
  src/prefect/cli/__init__.py
  src/prefect/client/orion.py
  src/prefect/deployments.py
  src/prefect/experimental/cli/worker.py
  src/prefect/experimental/workers/__init__.py
  src/prefect/experimental/workers/base.py
  src/prefect/experimental/workers/process.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/settings.py
  tests/conftest.py
  tests/experimental/cli/test_worker.py
  tests/experimental/workers/test_base_worker.py
  tests/experimental/workers/test_process_worker.py
  tests/fixtures/database.py
Labels: feature

#8101 [Issue #456] Change example of `infra_override` in docs/concepts/deployment
  docs/concepts/deployments.md
Labels: docs

#8107 Rename Worker pools -> work pools
  src/prefect/client/orion.py
  src/prefect/deployments.py
  src/prefect/experimental/cli/worker.py
  src/prefect/experimental/workers/base.py
  src/prefect/orion/api/admin.py
  src/prefect/orion/api/deployments.py
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/api/workers.py
  src/prefect/orion/database/interface.py
  src/prefect/orion/database/migrations/versions/postgresql/2023_01_08_180142_d481d5058a19_rename_worker_pools_to_work_pools.py
  src/prefect/orion/database/migrations/versions/sqlite/2023_01_08_175327_bb38729c471a_rename_worker_pools_to_work_pools.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/database/query_components.py
  src/prefect/orion/database/sql/postgres/get-runs-from-worker-queues.sql.jinja
  src/prefect/orion/database/sql/sqlite/get-runs-from-worker-queues.sql.jinja
  src/prefect/orion/models/deployments.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/models/workers.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/schemas/filters.py
  src/prefect/orion/schemas/responses.py
  tests/agent/test_agent_run_cancellation.py
  tests/experimental/cli/test_worker.py
  tests/experimental/workers/test_base_worker.py
  tests/experimental/workers/test_process_worker.py
  tests/fixtures/database.py
  tests/orion/api/test_deployments.py
  tests/orion/api/test_flow_runs.py
  tests/orion/api/test_workers.py
  tests/orion/database/test_dependencies.py
  tests/orion/database/test_queries.py
  tests/orion/models/test_deployments.py
  tests/orion/models/test_filters.py
  tests/orion/models/test_flow_runs.py
  tests/orion/models/test_workers.py
  tests/orion/schemas/test_actions.py
  tests/orion/schemas/test_core.py
  tests/orion/utilities/test_database.py
Labels: migration

#8114 Fix docker-builds.yaml templating syntax
  .github/workflows/docker-builds.yaml
Labels: maintenance

#8119 Add @PrefectHQ/open-source as codeowner
  .github/CODEOWNERS
Labels: maintenance

#7962 Enhancement: Update test coverage for task run dependencies utility
  tests/orion/models/test_flow_runs.py
Labels: maintenance, api

#8093 Add cancellation cleanup service
  RELEASE-NOTES.md
  docs/overrides/main.html
  orion-ui/src/utilities/permissions.ts
  orion-ui/vite.config.ts
  requirements.txt
  setup.cfg
  src/prefect/blocks/core.py
  src/prefect/client/orion.py
  src/prefect/client/schemas.py
  src/prefect/orion/api/deployments.py
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/api/server.py
  src/prefect/orion/api/work_queues.py
  src/prefect/orion/database/migrations/versions/sqlite/2022_11_24_143302_fe77ad0dda06_add_worker_tables.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/schemas/responses.py
  src/prefect/orion/services/__init__.py
  src/prefect/orion/services/cancellation_cleanup.py
  src/prefect/settings.py
  tests/blocks/test_core.py
  tests/client/test_orion_client.py
  tests/conftest.py
  tests/orion/api/test_flow_runs.py
  tests/orion/api/test_work_queues.py
  tests/orion/database/test_migrations.py
  tests/orion/models/test_filters.py
  tests/orion/services/test_cancellation_cleanup.py
Labels: migration

#8132 Removes cancellation of tasks when exiting worker context
  src/prefect/experimental/workers/base.py
  tests/experimental/workers/test_base_worker.py
Labels: maintenance

#8135 Add support for `allow_failure` to mapped task arguments
  src/prefect/engine.py
  tests/test_tasks.py
Labels: fix

#8100 Add base and process worker config
  requirements.txt
  src/prefect/client/orion.py
  src/prefect/experimental/workers/base.py
  src/prefect/experimental/workers/process.py
  src/prefect/orion/api/deployments.py
  src/prefect/orion/exceptions.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  tests/experimental/workers/test_base_worker.py
  tests/experimental/workers/test_process_worker.py
  tests/fixtures/database.py
  tests/orion/api/test_deployments.py
  tests/orion/api/test_workers.py
  tests/orion/schemas/test_core.py
Labels: experimental

#8097 Add logs when task run receives abort signal and is in non-final state
  src/prefect/engine.py
Labels: enhancement

#7912 Add numpy array support for orjson serialization
  requirements-dev.txt
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/utilities/schemas.py
  tests/orion/schemas/test_actions.py
Labels: fix

#8134 Add additional links to live Orion and Cloud REST API docs
  docs/api-ref/overview.md
  docs/api-ref/rest-api-reference.md
  docs/ui/cloud.md
  docs/ui/overview.md
Labels: docs

#8122 Add experimental section to releases
  .github/release.yml
Labels: maintenance

#8088 Add social links
  mkdocs.yml
Labels: docs

#8090 Add YouTube video to welcome page
  docs/index.md
Labels: docs

#8156 Add documentation for cache refreshes
  docs/concepts/tasks.md
Labels: docs

#8145 Add `httpx.WriteError` to client retryable exceptions
  src/prefect/client/base.py
  tests/client/test_base_client.py
Labels: enhancement

#8149 Fix detection of conda installation in test
  tests/software/test_conda.py
Labels: maintenance

#8159 Skip flaky test `test_dependent_events_in_two_loops_do_not_deadlock`
  tests/_internal/concurrency/test_primitives.py
Labels: maintenance

#8033 Add some host_config arguments to DockerContainer
  src/prefect/infrastructure/docker.py
  tests/infrastructure/test_docker_container.py
Labels: enhancement

#8161 Mark `test_process_streams_stderr` as flaky on Python 3.11
  tests/infrastructure/test_process.py
Labels: maintenance

#8167 Update `black` and `isort` versions in pre-commit
  .pre-commit-config.yaml
Labels: maintenance

#8140 Updates to Automations and Notifications documentation
  docs/img/ui/automations-detail-tab.png
  docs/img/ui/automations-event-tab.png
  docs/img/ui/automations-notifications.png
  docs/img/ui/automations.png
  docs/img/ui/templated-notification.png
  docs/ui/automations.md
  docs/ui/notifications.md
Labels: docs

#8185 Updates to Automations and Notifications documentation
  docs/img/ui/automations-detail-tab.png
  docs/img/ui/automations-event-tab.png
  docs/img/ui/automations-notifications.png
  docs/img/ui/automations.png
  docs/img/ui/templated-notification.png
  docs/ui/automations.md
  docs/ui/notifications.md
Labels: docs

#8003 feat: Adds "head" flag to `flow-run logs`
  src/prefect/cli/flow_run.py
  tests/cli/test_flow_run.py
Labels: enhancement

#8196 Minor API docstring formatting fixes, mostly lists
  src/prefect/orion/api/deployments.py
  src/prefect/orion/models/deployments.py
  src/prefect/orion/orchestration/rules.py
Labels: docs

#8129 Allow deployment creation and update to create work pool queues
  src/prefect/orion/api/deployments.py
  src/prefect/orion/api/workers.py
  src/prefect/orion/models/deployments.py
  tests/orion/api/test_deployments.py
  tests/orion/models/test_deployments.py
Labels: experimental

#8197 Stop blocks from referencing themselves
  src/prefect/orion/schemas/core.py
  tests/orion/schemas/test_core.py
Labels: fix

#8201 Update README.md
  README.md
Labels: docs

#8203 Add work queue name coverage to `test_create_flow_run_from_deployment`
  tests/client/test_orion_client.py
Labels: maintenance

#8183 Add recipe contribution page and new recipe
  docs/recipes/catalog/aws-chalice.yaml
  docs/recipes/contribute-recipes.md
  docs/recipes/recipes.md
  mkdocs.yml
Labels: docs

#8202 Add new "discourse" and "blog" admonition types
  docs/stylesheets/extra.css
Labels: docs

#8193 Add option to filter git files with GitHub block
  src/prefect/filesystems.py
  tests/test_filesystems.py
Labels: enhancement, v2

#8116 Adds compatibility test for deployments
  flows/deployment.py
  src/prefect/client/orion.py
  src/prefect/orion/schemas/actions.py
Labels: maintenance

#8184 Fix CLI ability to spawn subprocesses on Windows
  src/prefect/cli/root.py
Labels: fix

#8207 Fix broken links in RunConfig FAQ
  docs/orchestration/faq/upgrade_environments.md
Labels: docs, v1

#8215 fix flow run notifications query
  src/prefect/orion/database/query_components.py
Labels: great writeup, fix

#8205 chore: add k8s kube-system permissions to prefect agent template
  src/prefect/cli/templates/kubernetes-agent.yaml
  tests/cli/test_kubernetes_manifest.py
Labels: enhancement

#8219 Latest orion design
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/pages/FlowRun.vue
  orion-ui/src/pages/TaskRun.vue
Labels: maintenance, ui

#8231 Adds __init__.py to experimental module for module imports
  src/prefect/experimental/__init__.py
  src/prefect/experimental/cli/__init__.py
  src/prefect/orion/api/workers.py
Labels: maintenance

#8222 Makes agents work pool aware
  orion-ui/src/components/ContextSidebar.vue
  orion-ui/src/pages/WorkPool.vue
  src/prefect/agent.py
  src/prefect/cli/agent.py
  src/prefect/cli/deployment.py
  src/prefect/client/orion.py
  src/prefect/orion/api/workers.py
  src/prefect/orion/models/workers.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/filters.py
  tests/agent/test_agent_run_submission.py
  tests/cli/test_agent.py
Labels: experimental

#8236 Add `prefect-openai` to Collections catalog
  docs/collections/catalog/prefect-openai.yaml
  docs/img/collections/openai.png
Labels: docs, collections

#8229 Fix broken link and generally standardize links on home page
  docs/index.md
Labels: docs

#8233 Updates deployments docstring to match behavior
  src/prefect/deployments.py
Labels: docs

#7430 Add `is_schedule_active` to client `Deployment` class
  src/prefect/client/orion.py
  src/prefect/deployments.py
  src/prefect/orion/api/deployments.py
  src/prefect/orion/schemas/actions.py
  tests/client/test_orion_client.py
  tests/test_deployments.py
Labels: enhancement

#8214 Adds migration logic for work pools
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/components/ContextSidebar.vue
  orion-ui/src/maps/featureFlag.ts
  orion-ui/src/types/flagResponse.ts
  orion-ui/src/utilities/permissions.ts
  src/prefect/agent.py
  src/prefect/cli/deployment.py
  src/prefect/client/orion.py
  src/prefect/deployments.py
  src/prefect/orion/api/deployments.py
  src/prefect/orion/api/server.py
  src/prefect/orion/api/workers.py
  src/prefect/orion/models/__init__.py
  src/prefect/orion/models/deployments.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/models/work_queues.py
  src/prefect/orion/models/workers_migration.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/schemas/responses.py
  src/prefect/settings.py
  tests/agent/test_agent_run_submission.py
  tests/cli/deployment/test_deployment_build.py
  tests/conftest.py
  tests/experimental/cli/test_worker.py
  tests/experimental/workers/test_base_worker.py
  tests/experimental/workers/test_process_worker.py
  tests/fixtures/database.py
  tests/orion/api/test_deployments.py
  tests/orion/api/test_flow_runs.py
  tests/orion/api/test_work_queues.py
  tests/orion/api/test_workers.py
  tests/orion/models/test_deployments.py
  tests/orion/models/test_workers.py
  tests/orion/schemas/test_actions.py
  tests/orion/schemas/test_core.py
Labels: experimental

#8171 Update Python tests to use a single test matrix for both databases
  .github/workflows/python-tests.yaml
  requirements.txt
  src/prefect/testing/standard_test_suites/task_runners.py
  tests/conftest.py
  tests/test_flows.py
Labels: maintenance

#8247 Improve contributing documentation with venv instructions
  docs/contributing/overview.md
Labels: docs

#7902 Consolidate multi-arch docker builds
  .github/workflows/docker-builds.yaml
  .github/workflows/release.yaml
  .github/workflows/republish-images.yaml
Labels: enhancement

#8255 Removes migration logic
  src/prefect/deployments.py
  src/prefect/orion/api/deployments.py
  src/prefect/orion/api/server.py
  src/prefect/orion/api/workers.py
  src/prefect/orion/models/__init__.py
  src/prefect/orion/models/deployments.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/models/work_queues.py
  src/prefect/orion/models/workers.py
  src/prefect/orion/models/workers_migration.py
  tests/orion/api/test_deployments.py
  tests/orion/api/test_work_queues.py
  tests/orion/models/test_workers.py
Labels: experimental

#8257 Small work pools UI updates
  orion-ui/src/components/ContextSidebar.vue
  orion-ui/src/pages/WorkPoolQueue.vue
Labels: experimental

#8261 Update KubernetesJob options
  docs/concepts/infrastructure.md
Labels: docs

#8262 Migration enhancements
  src/prefect/orion/database/migrations/versions/postgresql/2023_01_25_152801_0a1250a5aa25_expand_work_queue_table.py
  src/prefect/orion/database/migrations/versions/sqlite/2023_01_25_114348_b9bda9f142f1_expand_work_queue_table.py
Labels: migration

#8227 Add Prefect Cloud Quickstart tutorial
  docs/concepts/settings.md
  docs/faq.md
  docs/getting-started/overview.md
  docs/img/ui/cloud-flow-run-details.png
  docs/img/ui/cloud-flow-run.png
  docs/img/ui/cloud-new-workspace.png
  docs/img/ui/cloud-sign-in.png
  docs/img/ui/cloud-workspace-details.png
  docs/migration-guide.md
  docs/tutorials/deployments.md
  docs/tutorials/orion.md
  docs/tutorials/storage.md
  docs/ui/cloud-api-keys.md
  docs/ui/cloud-getting-started.md
  docs/ui/cloud-local-environment.md
  docs/ui/cloud-quickstart.md
  docs/ui/cloud.md
  docs/ui/service-accounts.md
  docs/ui/workspaces.md
  mkdocs.yml
Labels: docs

#8263 Update roles and permissions in documentation
  docs/img/ui/org-inherited-role.png
  docs/img/ui/org-roles.png
  docs/img/ui/org-workspace-sharing.png
  docs/ui/roles.md
Labels: docs

#8265 Fixes error in migration
  src/prefect/orion/database/migrations/versions/postgresql/2023_01_25_152801_0a1250a5aa25_expand_work_queue_table.py
  src/prefect/orion/database/migrations/versions/sqlite/2023_01_25_114348_b9bda9f142f1_expand_work_queue_table.py
Labels: migration

#8190 Adding Setting to configure Uvicorn timeout-keep-alive
  src/prefect/cli/orion.py
  src/prefect/settings.py
  tests/cli/test_orion.py
Labels: enhancement

#8266 Add a hint to the Kubernetes block description for imageref
  src/prefect/infrastructure/kubernetes.py
Labels: docs

#8268 Cleanup `PREFECT_ORION_API_KEEPALIVE_TIMEOUT` description and name
  src/prefect/cli/orion.py
  src/prefect/settings.py
  tests/cli/test_orion.py
Labels: enhancement

#8267 Use standard warning handling for SQLAlchemy 2.0
  .github/workflows/python-tests.yaml
  setup.cfg
Labels: maintenance

#8189 allow `KubernetesJob._watch_job` to track long-running jobs
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_kubernetes_job.py
Labels: fix

#8204 Configure docs to enable versioning at a future time
  docs/concepts/deployments.md
  docs/concepts/flows.md
  docs/concepts/logs.md
  docs/concepts/storage.md
  docs/concepts/work-queues.md
  docs/tutorials/deployments.md
  docs/tutorials/docker.md
  docs/tutorials/first-steps.md
  docs/tutorials/kubernetes-flow-runner.md.old
  docs/tutorials/orion.md
  docs/tutorials/storage.md
  docs/ui/audit-log.md
  docs/ui/automations.md
  docs/ui/blocks.md
  docs/ui/cloud-getting-started.md
  docs/ui/cloud.md
  docs/ui/deployments.md
  docs/ui/flow-runs.md
  docs/ui/flows.md
  docs/ui/notifications.md
  docs/ui/organizations.md
  docs/ui/overview.md
  docs/ui/roles.md
  docs/ui/sso.md
  docs/ui/task-concurrency.md
  docs/ui/work-queues.md
  docs/ui/workspaces.md
  mkdocs.yml
  requirements-dev.txt
Labels: docs

#8272 Fixes server compatibility for deployments API
  src/prefect/orion/schemas/actions.py
  tests/orion/api/test_deployments.py
  tests/orion/models/test_deployments.py
  tests/orion/schemas/test_actions.py
Labels: fix

#8278 Update release notes example to run a command
  RELEASE-NOTES.md
Labels: maintenance

#8164 Refactor results into a standalone artifact table
  src/prefect/orion/database/interface.py
  src/prefect/orion/database/migrations/MIGRATION-NOTES.md
  src/prefect/orion/database/migrations/versions/postgresql/2023_01_26_045500_2882cd2df463_implement_artifact_table.py
  src/prefect/orion/database/migrations/versions/postgresql/2023_01_26_045501_2882cd2df464_create_migration_index.py
  src/prefect/orion/database/migrations/versions/postgresql/2023_01_26_045501_2882cd2df465_migrate_artifact_data.py
  src/prefect/orion/database/migrations/versions/postgresql/2023_01_26_045502_2882cd2df466_cleanup_artifact_migration.py
  src/prefect/orion/database/migrations/versions/sqlite/2023_01_12_000042_f92143d30c24_implement_artifact_table.py
  src/prefect/orion/database/migrations/versions/sqlite/2023_01_12_000043_f92143d30c25_create_migration_index.py
  src/prefect/orion/database/migrations/versions/sqlite/2023_01_12_000043_f92143d30c26_migrate_artifact_data.py
  src/prefect/orion/database/migrations/versions/sqlite/2023_01_12_000044_f92143d30c27_cleanup_artifact_migration.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/artifacts.py
  src/prefect/orion/orchestration/rules.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/schemas/states.py
  tests/fixtures/database.py
  tests/orion/models/test_artifacts.py
  tests/orion/models/test_orm.py
  tests/orion/models/test_task_runs.py
  tests/orion/orchestration/test_core_policy.py
  tests/orion/orchestration/test_rules.py
Labels: feature, migration, needs:cloud-pr

#8283 Add git commands to Prefect Recipes contribution page
  docs/recipes/contribute-recipes.md
Labels: docs

#8280 Add retry_delay_seconds and exponential_backoff examples to Tasks retries documentation
  docs/concepts/tasks.md
Labels: docs

#8279 Minor updates to the Docker image build workflow
  .github/workflows/docker-builds.yaml
Labels: maintenance

#8289 Upgrade pinned pip version in Docker images
  Dockerfile
Labels: enhancement

#8274 Adds ability to exclude experimental fields in API calls
  src/prefect/_internal/compatibility/experimental.py
  src/prefect/orion/utilities/schemas.py
  tests/_internal/compatibility/test_experimental.py
Labels: experimental

#8288 Ensure that any preinstalled packages are upgraded in Docker images
  Dockerfile
Labels: enhancement

#8292 Update default task run name to exclude hash of task key
  src/prefect/engine.py
Labels: enhancement, team:orchestration

#7504 Add assertion for single notification and expand notification test suite
  src/prefect/orion/database/query_components.py
  src/prefect/orion/services/flow_run_notifications.py
  tests/orion/services/test_flow_run_notifications.py
Labels: maintenance

#8298 [maintenance] Update isort to fix errors in CI
  .pre-commit-config.yaml
Labels: maintenance

#8309 Add role permissions regarding block secrets
  docs/ui/roles.md
Labels: docs

#8291 Remove unused Cloud Getting Started page
  docs/ui/cloud-getting-started.md
Labels: docs

#8317 Fix Prefect Cloud typo in FAQ
  docs/faq.md
Labels: docs

#8297 Update Issue bot
  .github/workflows/issue-bot.yaml
Labels: maintenance

#8240 Mention reverse proxy for PREFECT_API_URL config
  docs/concepts/settings.md
Labels: docs

#8322 allow snakecase in maps folder
  orion-ui/.vscode/settings.json
  orion-ui/src/maps/.eslintrc.json
Labels: maintenance, ui

#8330 Fix tests for scheduled flow runs CLI `--start-at` option
  tests/cli/deployment/test_deployment_run.py
Labels: maintenance

#8311 Add `PREFECT_LOGGING_ORION_WHEN_MISSING_FLOW` setting to handle error raised when logs outside of flow run context
  docs/concepts/logs.md
  src/prefect/logging/handlers.py
  src/prefect/settings.py
  tests/test_logging.py
Labels: enhancement

#8334 Update issue label workflow
  .github/workflows/issue-bot.yaml
Labels: maintenance
