Repository PrefectHQ/prefect, pull requests merged in 2023-11, with the labels that each got.

#11065 Reset PREFECT_UI_SERVE_BASE to enable page refresh loading for non dashboard pages
  src/prefect/cli/dev.py
Labels: fix

#11068 Update push-work-pools to mention concurrency
  docs/guides/deployment/push-work-pools.md
Labels: docs

#11076 Skips unsupported Windows tests
  src/prefect/testing/standard_test_suites/task_runners.py
Labels: fix

#11077 Fix bug where runner can't load remotely stored flow when running hooks
  src/prefect/deployments/deployments.py
  src/prefect/runner/runner.py
  tests/runner/test_runner.py
Labels: fix

#11082 Add option to skip building a Docker image with `flow.deploy`
  src/prefect/deployments/runner.py
  src/prefect/flows.py
  tests/runner/test_runner.py
  tests/test_flows.py
Labels: enhancement

#11072 Add generic remote storage for `flow.from_source` using `fsspec`
  src/prefect/deployments/steps/__init__.py
  src/prefect/deployments/steps/core.py
  src/prefect/deployments/steps/pull.py
  src/prefect/runner/storage.py
  tests/cli/test_deploy.py
  tests/deployment/test_steps.py
  tests/runner/test_storage.py
Labels: enhancement

#11086 Updates UI packages
  ui/package-lock.json
  ui/package.json
Labels: maintenance

#11074 Update global concurrency docs to be more global
  docs/guides/global-concurrency-limits.md
Labels: docs

#11090 Count blocks
  src/prefect/server/api/block_documents.py
  src/prefect/server/models/block_documents.py
  tests/server/api/test_block_documents.py
  tests/server/models/test_block_documents.py
Labels: enhancement

#11094 Fix typo in RELEASE-NOTES.md
  RELEASE-NOTES.md
Labels: docs

#11108 Fix docstring for `flow.deploy` method example
  src/prefect/flows.py
Labels: docs

#11115 Improved tag handling on DeploymentImage
  src/prefect/deployments/runner.py
  tests/runner/test_runner.py
Labels: enhancement

#11119 Improve tag handling in `DeploymentImage` with `parse_image_tag`
  src/prefect/deployments/runner.py
Labels: enhancement

#11118 Add warning to push pool guide
  docs/guides/deployment/push-work-pools.md
Labels: docs

#11120 Ensure client avoids image builds for managed work pools
  src/prefect/client/schemas/objects.py
  src/prefect/deployments/runner.py
  src/prefect/flows.py
  tests/fixtures/database.py
  tests/runner/test_runner.py
Labels: enhancement

#11122 Dont print worker start command for managed pool
  src/prefect/cli/deploy.py
  src/prefect/cli/worker.py
  src/prefect/deployments/runner.py
  src/prefect/flows.py
Labels: fix

#11133 Add `SIGTERM` handling to runner to gracefully handle timeouts
  src/prefect/runner/runner.py
Labels: enhancement

#11146 Add setting to ensure deployment status continues to display in the UI
  src/prefect/server/schemas/responses.py
  src/prefect/settings.py
  tests/_internal/compatibility/test_experimental.py
  tests/server/test_app.py
  ui/src/maps/featureFlag.ts
  ui/src/types/flagResponse.ts
  ui/src/utilities/permissions.ts
Labels: maintenance

#11141 docs: move `Webhooks` to `Development`
  docs/guides/index.md
  mkdocs.yml
Labels: docs

#11001 Update test_base_worker error message
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Labels: maintenance

#11150 Run tests with Pydantic V2 installed for all Python versions we support
  .github/workflows/python-tests.yaml
Labels: maintenance

#11145 Remove @prefecthq/graphs as a dependency
  ui/package-lock.json
  ui/package.json
Labels: maintenance, ui

#11151 Add release notes for 11/7 2.14.4
  RELEASE-NOTES.md
Labels: maintenance

#11154 Create specific CI actions for Pydantic v1
  .github/workflows/python-tests.yaml
Labels: maintenance

#11156 Fix errors when using `GitRepository` with a private repo
  src/prefect/runner/storage.py
  tests/runner/test_storage.py
Labels: fix

#11152 Fix errors in container-type annotations with pydantic v2 and python versions <3.11
  src/prefect/_internal/pydantic/v2_schema.py
  tests/runner/test_runner.py
  tests/test_flows.py
Labels: maintenance

#11092 Add support for storage blocks to `flow.from_source`
  src/prefect/deployments/steps/__init__.py
  src/prefect/deployments/steps/pull.py
  src/prefect/flows.py
  src/prefect/runner/storage.py
  tests/deployment/test_steps.py
  tests/runner/test_storage.py
  tests/test_flows.py
Labels: enhancement

#11157 Update Cloud documentation to reflect product changes
  docs/cloud/cloud-quickstart.md
  docs/cloud/connecting.md
  docs/cloud/index.md
  docs/cloud/organizations.md
  docs/cloud/rate-limits.md
  docs/cloud/users/api-keys.md
  docs/cloud/users/audit-log.md
  docs/cloud/users/index.md
  docs/cloud/users/object-access-control-lists.md
  docs/cloud/users/roles.md
  docs/cloud/users/service-accounts.md
  docs/cloud/users/sso.md
  docs/cloud/users/teams.md
  docs/cloud/workspaces.md
  docs/concepts/events.md
  docs/guides/deployment/aci.md
  docs/guides/host.md
  docs/img/ui/all-workspaces.png
  docs/img/ui/cloud-invite-collab.png
  docs/img/ui/cloud-new-login.png
  docs/img/ui/cloud-new-workspace-full.png
  docs/img/ui/cloud-new-workspace.png
  docs/img/ui/cloud-test-deployment-details.png
  docs/img/ui/cloud-test-deployment.png
  docs/img/ui/cloud-test-flow-run.png
  docs/img/ui/cloud-test-queues.png
  docs/img/ui/cloud-test-work-queue.png
  docs/img/ui/cloud-workspace-settings.png
  docs/img/ui/select-account.png
  docs/img/ui/workspace-settings.png
  docs/img/ui/workspace-sharing.png
  docs/stylesheets/extra.css
  mkdocs.yml
  netlify.toml
Labels: docs

#11020 Add task run tag concurrency slot wait setting
  docs/concepts/tasks.md
  src/prefect/server/orchestration/core_policy.py
  src/prefect/settings.py
Labels: status:waiting for user

#11161 Fix css class typo in audit-log.md
  docs/cloud/users/audit-log.md
Labels: docs

#11160 Update mkdocs material pin
  netlify.toml
Labels: docs

#10893 Add codespell config and add to pre-commit
  .codespellrc
  .github/ISSUE_TEMPLATE/2_ui_bug_report.yaml
  .github/ISSUE_TEMPLATE/5_maintenance_ticket.yaml
  .github/workflows/python-tests.yaml
  .pre-commit-config.yaml
  .ruff.toml
  RELEASE-NOTES.md
  client/README.md
  requirements-dev.txt
  src/prefect/_internal/pydantic/v2_schema.py
  src/prefect/_internal/pytz.py
  tests/server/orchestration/test_rules.py
Labels: status:waiting for user

#11111 Fix bug where check for required packages fails incorrectly
  src/prefect/deployments/steps/core.py
  tests/deployment/test_steps.py
Labels: fix

#11170 Add Terraform Provider to guides and cleanup guides navigation
  docs/guides/index.md
  mkdocs.yml
Labels: docs

#11179 Patches a few bugs in release notes script
  scripts/generate-release-notes.py
Labels: maintenance

#11175 add settings for worker webserver host and port
  src/prefect/settings.py
  src/prefect/workers/server.py
Labels: enhancement

#11178 Add github information to auth related cloud docs
  docs/cloud/cloud-quickstart.md
  docs/cloud/connecting.md
Labels: docs

#11183 Small typo
  docs/tutorial/workers.md
Labels: docs

#11182 Safely retrieve `flow_run_id` in `EventsWorker`
  src/prefect/events/related.py
Labels: enhancement

#11184 Update ui-library and vue-compositions
  ui/package-lock.json
  ui/package.json
Labels: maintenance

#11137 Add client-side setting for default work pool
  src/prefect/cli/deploy.py
  src/prefect/cli/work_pool.py
  src/prefect/deployments/runner.py
  src/prefect/flows.py
  src/prefect/settings.py
  tests/cli/test_deploy.py
  tests/cli/test_work_pool.py
  tests/runner/test_runner.py
Labels: enhancement

#11186 Update ui-library and axios
  ui/package-lock.json
  ui/package.json
Labels: maintenance, ui

#11174 Update Deploy work pool guide to include `.deploy`
  .codespellrc
  docs/guides/prefect-deploy.md
  docs/tutorial/workers.md
Labels: docs

#11185 Update tutorial workers.md
  docs/tutorial/workers.md
Labels: docs

#11190 Fix routing to the flow page from a flow run
  ui/src/pages/FlowRun.vue
Labels: fix

#11195 Update token regex in release notes generation script for VSCode compatibility
  scripts/generate-release-notes.py
Labels: maintenance

#11192 Enable enhanced cancellation by default
  src/prefect/deployments/runner.py
  src/prefect/settings.py
  tests/_internal/compatibility/test_experimental.py
  tests/conftest.py
  tests/events/instrumentation/test_events_workers_instrumentation.py
  tests/infrastructure/test_base.py
  tests/runner/test_runner.py
  tests/server/test_app.py
  tests/workers/test_base_worker.py
Labels: enhancement

#11196 Add release notes 2.14.5
  RELEASE-NOTES.md
Labels: maintenance

#11198 Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Labels: docs

#11212 Add LIKE filtering for block document names
  src/prefect/client/schemas/filters.py
  src/prefect/server/database/migrations/versions/postgresql/2023_11_20_084708_9c493c02ca6d_add_trgm_index_to_block_document_name.py
  src/prefect/server/database/migrations/versions/sqlite/2023_11_20_084708_9c493c02ca6d_add_trgm_index_to_block_document_name.py
  src/prefect/server/schemas/filters.py
  tests/server/api/test_block_documents.py
Labels: enhancement, migration

#11215 Fix sqlite block type name backfill
  src/prefect/server/database/migrations/versions/sqlite/2023_10_30_103720_22ef3915ccd8_index_and_backfill_block_type_name.py
Labels: migration, fix

#11217 Match title capitalization in several guides
  docs/guides/deployment/daemonize.md
  docs/guides/deployment/kubernetes.md
  docs/guides/docker.md
Labels: docs

#11219 Remove ui integration tests
  .github/workflows/integration-tests.yaml
  ui/.gitignore
  ui/.vscode/settings.json
  ui/README.md
  ui/package-lock.json
  ui/package.json
  ui/playwright.config.ts
  ui/tests/notifications.spec.ts
  ui/tests/utilities/fixtures.ts
  ui/tests/utilities/index.ts
  ui/tests/utilities/locate.ts
  ui/tests/utilities/pages.ts
  ui/tests/utilities/useButton.ts
  ui/tests/utilities/useCheckbox.ts
  ui/tests/utilities/useCombobox.ts
  ui/tests/utilities/useContextSidebar.ts
  ui/tests/utilities/useForm.ts
  ui/tests/utilities/useIconButtonMenu.ts
  ui/tests/utilities/useInput.ts
  ui/tests/utilities/useLabel.ts
  ui/tests/utilities/useLink.ts
  ui/tests/utilities/useModal.ts
  ui/tests/utilities/usePageHeading.ts
  ui/tests/utilities/useSelect.ts
  ui/tests/utilities/useTable.ts
  ui/tests/utilities/useTag.ts
  ui/tests/utilities/useToggle.ts
  ui/tests/workQueues.spec.ts
Labels: maintenance

#11213 Update mike for latest versioning in mkdocs.yml
  mkdocs.yml
Labels: docs

#11229 Flaky test investigation
  requirements-dev.txt
  tests/fixtures/client.py
Labels: maintenance

#11227 ft: Include concurrency controls in `prefect-client`
  client/build_client.sh
  client/client_flow.py
Labels: enhancement

#11204 Add ability to configure a GCP project when creating a Cloud Run push work pool
  src/prefect/cli/work_pool.py
  src/prefect/client/orchestration.py
  src/prefect/infrastructure/provisioners/__init__.py
  src/prefect/infrastructure/provisioners/cloud_run.py
  tests/cli/test_work_pool.py
  tests/infrastructure/provisioners/test_cloud_run.py
Labels: feature

#11234 Release notes 2.14.6
  RELEASE-NOTES.md
Labels: maintenance

#11004 Add serverless work pool landing page
  docs/concepts/deployments.md
  docs/guides/deployment/aci.md
  docs/guides/deployment/helm-worker.md
  docs/guides/deployment/push-work-pools.md
  docs/guides/deployment/serverless-workers.md
  docs/guides/index.md
  docs/img/ui/work-pools.png
  mkdocs.yml
  netlify.toml
Labels: docs

#11236 Use new route to read work pool types when connected to Prefect Cloud
  src/prefect/client/cloud.py
  tests/client/test_cloud_client.py
Labels: enhancement

#11252 [ci] check tag format in release ci
  .github/workflows/python-package.yaml
Labels: maintenance

#11089 Add `parent_flow_run_id` to client schema
  src/prefect/client/schemas/filters.py
  tests/client/api/test_flow_runs.py
Labels: enhancement

#11254 [deploy ux] fix install when `requires` more than one package
  src/prefect/deployments/steps/core.py
  tests/deployment/test_steps.py
Labels: fix

#11256 Update Azure Container Instance guide to reflect current Azure Portal interface and Prefect UI
  docs/guides/deployment/push-work-pools.md
  docs/guides/deployment/serverless-workers.md
Labels: docs

#11235 update imports
  docs/concepts/flows.md
Labels: docs

#11262 Release notes for 2.14.7
  RELEASE-NOTES.md
Labels: maintenance

#11269 Fix broken docs link in serverless worker documentation
  docs/guides/deployment/serverless-workers.md
Labels: docs

#11270 [ci] allow adhoc release from certain commit
  .github/workflows/python-package.yaml
Labels: maintenance

#11272 temporarily remove tag check to allow release from 2.14.7 tag
  .github/workflows/python-package.yaml
Labels: maintenance

#11258 Update guide category title to "work pools"
  docs/guides/index.md
  mkdocs.yml
Labels: docs

#11267 Add provision infrastructure support for ECS push work pools
  src/prefect/infrastructure/provisioners/__init__.py
  src/prefect/infrastructure/provisioners/ecs.py
  tests/infrastructure/provisioners/test_ecs.py
Labels: enhancement

#11281 Managed execution guide
  docs/guides/managed-execution.md
Labels: docs
