Repository PrefectHQ/prefect, pull requests merged in 2023-07, with the labels that each got.

#10121 Improve language around `prefect deploy` to not recommend creating a deployment by flow name
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: fix

#10144 Pin pydantic to v1 for now
  requirements.txt
Labels: fix

#10152 Experimental Dashboard UI
  ui/src/maps/featureFlag.ts
  ui/src/pages/Dashboard.vue
  ui/src/types/flagResponse.ts
Labels: ui, experimental

#10157 Add credentials block support for `git_clone` step
  src/prefect/deployments/steps/pull.py
  tests/deployment/test_steps.py
Labels: enhancement

#10168 Update `git_clone` documentation with examples of using `credentials` field
  docs/concepts/deployments-ux.md
Labels: docs

#10169 Add release notes 2.10.19
  RELEASE-NOTES.md
Labels: maintenance

#10171 fix indent in mkdocs.yml
  mkdocs.yml
Labels: docs

#10005 fail cli commands early if bad webhook uuid
  src/prefect/cli/cloud/webhook.py
  tests/cli/test_cloud.py
Labels: enhancement

#10159 Drop Python 3.7 support now that EOL has passed
  .github/workflows/docker-images.yaml
  .github/workflows/python-tests.yaml
  README.md
  docs/cloud/cloud-quickstart.md
  docs/concepts/infrastructure.md
  setup.py
  src/prefect/__init__.py
  src/prefect/testing/standard_test_suites/task_runners.py
  src/prefect/utilities/compat.py
  tests/public/flows/test_flow_crashes.py
  tests/software/test_conda.py
Labels: maintenance

#10124 Update Dockerfile rename language in `prefect deploy` CLI prompt
  src/prefect/cli/_prompts.py
  tests/cli/test_deploy.py
Labels: enhancement, component:cli, component:deployment

#10175 Improve `prefect deploy` error message
  src/prefect/deployments/base.py
Labels: enhancement

#10176 Add another improvement to `prefect deploy` message
  src/prefect/deployments/base.py
Labels: enhancement, component:cli, component:deployment

#10187 Mkdocs yaml formatting fix for docs build
  mkdocs.insiders.yml
  mkdocs.yml
Labels: docs

#10125 Adds handling for failed Kubernetes jobs
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_kubernetes_job.py
Labels: fix

#10189 Support deploying by name with multiple deployments with the same name during `prefect deploy`
  docs/concepts/deployments-ux.md
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
  tests/deployment/test_base.py
  tests/test-projects/flows/hello.py
Labels: enhancement

#10208 Update link to API docs in automations.md
  docs/cloud/automations.md
Labels: docs

#10210 Enhance `prefect deploy nonexistent-entrypoint` `ValueError` with possible solution
  src/prefect/deployments/base.py
Labels: fix

#10209 Truncate table row length during interactive `prefect deploy`
  src/prefect/cli/_prompts.py
Labels: enhancement

#10214 Remove references to `profile get`
  docs/concepts/settings.md
Labels: docs

#10194 adding documentation and guide on push work pools
  docs/concepts/work-pools.md
  docs/guides/cloud-run-push-work-pools.md
  docs/guides/index.md
  docs/img/guides/gcp-creds-block-setup.png
  docs/img/guides/gcr-service-account-setup.png
  docs/img/guides/push-flow-running.png
  mkdocs.yml
Labels: DONT MERGE

#10204 Add parent flow run and deployment ids to runtime
  src/prefect/runtime/flow_run.py
  tests/runtime/test_flow_run.py
Labels: enhancement

#10215 Work pool name validation
  src/prefect/cli/work_pool.py
  src/prefect/server/api/workers.py
  tests/cli/test_work_pool.py
  tests/server/api/test_workers.py
Labels: fix

#10212 Add release notes 2.10.21
  RELEASE-NOTES.md
Labels: maintenance

#10197 Make `resolve_futures_to_data` function raise on failure by default (#9361)
  src/prefect/futures.py
  tests/test_futures.py
Labels: fix

#10225 Add project_dir fixture to brittle test
  tests/cli/test_deploy.py
Labels: maintenance

#10229 Add undocumented runtime parameters
  src/prefect/runtime/flow_run.py
Labels: docs

#10247 Fix flow runs page not polling for new runs and not loading more flow runs when scrolling
  ui/src/pages/FlowRuns.vue
Labels: ui, fix

#10251 Increase timeout to an hour to prevent cancellation failures on main
  .github/workflows/python-tests.yaml
Labels: maintenance

#10246 Dont create DB default during settings load
  src/prefect/settings.py
Labels: fix

#10255 Fix incorrect path in error message
  src/prefect/deployments/base.py
Labels: fix

#10244 removing-worker-beta
  src/prefect/workers/process.py
Labels: DONT MERGE

#10231 Install and quick start edits
  docs/getting-started/installation.md
  docs/index.md
Labels: docs

#10258 Fix LocalFileSystem.get_directory with basepath behaviour
  src/prefect/filesystems.py
  tests/test_filesystems.py
Labels: fix

#9985 Adding Deployment Quickstart
  docs/cloud/cloud-quickstart.md
  docs/cloud/index.md
  docs/img/ui/flow-run-diagram.jpg
  docs/index.md
  mkdocs.yml
Labels: docs

#10259 Mark a few tests as flaky
  tests/agent/test_agent_run_cancellation.py
  tests/infrastructure/test_process.py
  tests/test_flows.py
Labels: maintenance

#10273 Add flaky marker for another flaky test
  tests/cli/test_start_agent.py
Labels: maintenance

#10292 Add redirect to quick start in netlify.toml
  netlify.toml
Labels: docs

#10264 Prevent accidental credential logging on BindFailure. Log only a list of key names, but not the values
  src/prefect/exceptions.py
  tests/test_exceptions.py
Labels: enhancement

#10267 Build out a proof-of-concept concurrency context manager.
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/responses.py
  src/prefect/concurrency.py
Labels: experimental

#10299 Implement `rate_limit` function to block execution while acquiring slots
  src/prefect/client/orchestration.py
  src/prefect/concurrency.py
Labels: experimental

#10269 Pause task runs
  src/prefect/engine.py
  src/prefect/exceptions.py
  src/prefect/states.py
  tests/test_engine.py
Labels: enhancement

#10310 nit: `run_deployment` docstring rendering
  src/prefect/deployments/deployments.py
Labels: docs

#10150 Guide: Storage for deployments
  docs/guides/deployment/storage-guide.md
  mkdocs.yml
Labels: docs

#10323 ACI push pool guide
  docs/guides/push-work-pools.md
  mkdocs.yml
Labels: docs

#10328 Move concepts and cloud pages to guides and reorganize
  docs/cloud/index.md
  docs/concepts/automations.md
  docs/concepts/events.md
  docs/concepts/index.md
  docs/guides/deployment/push-work-pools.md
  docs/guides/host.md
  docs/guides/index.md
  docs/guides/logs.md
  docs/guides/runtime-context.md
  docs/guides/settings.md
  docs/guides/variables.md
  docs/guides/webhooks.md
  mkdocs.insiders.yml
  mkdocs.yml
  netlify.toml
Labels: docs
