Repository PrefectHQ/prefect, pull requests merged in 2023-08, with the labels that each got.

#10350 Add cloud quickstart to nav menu and drop toc to make video fit
  docs/cloud/cloud-quickstart.md
  mkdocs.yml
Labels: docs

#10353 Fix deployments typos
  docs/concepts/deployments-ux.md
  docs/concepts/deployments.md
  docs/guides/deployment/push-work-pools.md
Labels: docs

#10198 expand env vars in `run_shell_script` step before split
  docs/concepts/deployments-ux.md
  src/prefect/deployments/steps/utility.py
  tests/deployment/test_steps.py
Labels: enhancement

#10359 Move old concepts
  docs/concepts/agents.md
  docs/concepts/deployments-block-based.md
  docs/concepts/deployments-ux.md
  docs/concepts/deployments.md
  docs/concepts/index.md
  docs/concepts/work-pools.md
  docs/index.md
  mkdocs.yml
  netlify.toml
Labels: docs

#10347 Changes around the language for --ci option in prefect deploy --help.
  src/prefect/cli/deploy.py
Labels: enhancement, component:deployment, status:waiting for user

#10363 Port concurrency limit v2 API and modeling from Cloud
  src/prefect/server/api/__init__.py
  src/prefect/server/api/concurrency_limits_v2.py
  src/prefect/server/api/server.py
  src/prefect/server/database/interface.py
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_08_02_133838_5f623ddbf7fe_create_concurrency_limit_v2_table.py
  src/prefect/server/database/migrations/versions/sqlite/2023_08_02_113813_5b0bd3b41a23_create_concurrency_limit_v2_table.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/__init__.py
  src/prefect/server/models/concurrency_limits_v2.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  tests/server/api/test_concurrency_limits_v2.py
  tests/server/models/test_concurrency_limits_v2.py
Labels: migration, experimental

#10364 Add release notes 2.11.3
  RELEASE-NOTES.md
Labels: maintenance

#10361 Elevate Guides in nav and remove migration guide from nav
  docs/concepts/index.md
  docs/guides/index.md
  mkdocs.yml
Labels: docs

#10322 Update notes about community support
  .github/ISSUE_TEMPLATE/1_general_bug_report.yaml
  .github/ISSUE_TEMPLATE/2_ui_bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  docs/cloud/index.md
  docs/community/index.md
  docs/guides/index.md
  docs/index.md
Labels: docs

#10374 docs: split out concept table, rm old header
  docs/concepts/index.md
Labels: docs

#10371 Update `prefect deploy` to skip building docker image prompt if `build` key explicitly set to null in `prefect.yaml`
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: enhancement, component:deployment

#10379 Update the storage guide for Bitbucket to add x-token-auth:
  docs/guides/deployment/storage-guide.md
Labels: docs

#10380 Fix typo in artifacts docs
  docs/concepts/index.md
Labels: docs

#10387 Add Planetary Computer collection
  docs/img/collections/microsoft.png
  docs/integrations/catalog/prefect-planetary-computer.yaml
Labels: docs, collections

#10401 Highlight `@flow` decorator instead of function
  docs/tutorial/flows.md
Labels: docs

#10403 Update tutorial summary list
  docs/tutorial/index.md
Labels: docs

#10402 Remove "Reference Material" section from tutorial intro
  docs/tutorial/index.md
Labels: docs

#10370 quote escape
  src/prefect/engine.py
  tests/test_engine.py
Labels: fix

#10409 Exempt issues needing product feedback from being prematurely marked as stale
  .github/workflows/stale.yml
Labels: maintenance

#10418 Update connecting.md to include whitelisting URLs
  docs/cloud/connecting.md
Labels: docs

#10419 Update to bot workflows
  .github/workflows/issue-bot.yaml
  .github/workflows/stale.yml
Labels: maintenance

#10365 Guide for agent -> worker transition.
  docs/guides/upgrade-guide-agents-to-workers.md
  mkdocs.yml
Labels: docs

#10426 Handle spot instance eviction in Kubernetes Infrastructure Block
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_kubernetes_job.py
Labels: enhancement

#10416 adding docs on flow.visualuze()
  docs/concepts/flows.md
  docs/img/orchestration/hello-flow-viz.png
  docs/img/orchestration/viz-return-value-tracked.png
Labels: docs

#10430 Remove Windows support experimental note from contributing docs page
  docs/contributing/overview.md
Labels: docs

#10368 Guide to Kubernetes
  docs/guides/deployment/kubernetes.md
  docs/guides/index.md
  mkdocs.yml
Labels: docs

#10447 Update issue templates
  .github/ISSUE_TEMPLATE/1_general_bug_report.yaml
  .github/ISSUE_TEMPLATE/2_ui_bug_report.yaml
  .github/ISSUE_TEMPLATE/3_feature_enhancement.yaml
  .github/ISSUE_TEMPLATE/4_docs_change.yaml
  .github/ISSUE_TEMPLATE/5_maintenance_ticket.yaml
Labels: maintenance

#10414 Codify concurrency context managers and rate limiting with tests
  src/prefect/client/orchestration.py
  src/prefect/concurrency.py
  src/prefect/concurrency/__init__.py
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/common.py
  src/prefect/concurrency/events.py
  src/prefect/concurrency/sync.py
  src/prefect/server/api/server.py
  src/prefect/testing/fixtures.py
  tests/concurrency/conftest.py
  tests/concurrency/test_acquire_concurrency_slots.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_sync.py
  tests/concurrency/test_release_concurrency_slots.py
  tests/concurrency/test_wait_for_successful_response.py
  tests/events/conftest.py
Labels: experimental

#10450 Warn users with misconfigured `PREFECT_API_URL`
  setup.cfg
  src/prefect/settings.py
Labels: enhancement, component:cli

#10449 Fix duplicate Amplitude deviceId
  docs/overrides/partials/integrations/analytics/custom.html
Labels: docs

#10448 Combine K8s worker page with K8s flows page
  docs/guides/deployment/kubernetes.md
  docs/guides/index.md
  mkdocs.yml
  netlify.toml
Labels: docs

#10133 Guide - How to move data to and from cloud providers
  docs/guides/index.md
  docs/guides/moving-data.md
  mkdocs.yml
Labels: docs

#10477 Remove references to `flow_name` from deployments documentation
  docs/concepts/deployments.md
Labels: docs

#10481 Update kubernetes guide for readability
  docs/guides/deployment/kubernetes.md
Labels: docs

#10488 Fix a few typos in docs
  docs/contributing/overview.md
  docs/guides/host.md
  docs/integrations/contribute.md
Labels: docs

#10486 Update base job template validation to only run on work pool update and creation
  docs/guides/deployment/storage-guide.md
  src/prefect/client/schemas/objects.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  tests/cli/test_deploy.py
  tests/server/api/test_workers.py
  tests/server/schemas/test_actions.py
  tests/server/schemas/test_core.py
Labels: fix

#10369 Show cli message for the paused work-pool
  src/prefect/cli/worker.py
  tests/cli/test_worker.py
Labels: enhancement, component:cli, status:waiting for user

#10490 Create GCP specific guide references for deploying a GKE cluster to host a worker
  docs/guides/deployment/kubernetes.md
Labels: docs

#10501 Fix typos in documentation admonitions
  docs/concepts/agents.md
  docs/concepts/deployments-block-based.md
  docs/concepts/infrastructure.md
Labels: docs

#10355 Allow JSON infra overrides via `prefect deploy`
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: enhancement

#10463 Improve validation for `Flow.name`
  src/prefect/flows.py
  tests/test_flows.py
Labels: enhancement

#10520 Docs prep work
  docs/api-ref/index.md
  docs/api-ref/python/index.md
  docs/api-ref/rest-api-reference.md
  docs/getting-started/quickstart.md
  docs/index.md
  mkdocs.yml
Labels: docs

#10528 Add block and agent-based deployments back to left nav
  mkdocs.yml
Labels: docs

#10533 Fix concurrent subflows
  flows/concurrent_subflows.py
  src/prefect/_internal/concurrency/waiters.py
  tests/_internal/concurrency/test_waiters.py
Labels: fix

#10537 add cloud button link to header of docs
  docs/overrides/partials/header.html
  docs/stylesheets/extra.css
Labels: docs

#10544 Add the selected tab in the url
  ui/src/pages/Artifact.vue
  ui/src/pages/ConcurrencyLimit.vue
  ui/src/pages/Deployment.vue
  ui/src/pages/Flow.vue
  ui/src/pages/FlowRun.vue
  ui/src/pages/TaskRun.vue
  ui/src/pages/WorkPool.vue
  ui/src/pages/WorkPoolQueue.vue
Labels: ui

#10543 Increase default request timeout
  docs/guides/settings.md
  src/prefect/settings.py
Labels: enhancement

#10550 Remove the no work queue warning from the deployment page
  ui/src/pages/Deployment.vue
Labels: enhancement

#10554 threshold for notifying about failing tests on main
  .github/workflows/python-tests.yaml
Labels: maintenance

#10516 Expand work pool discussion in K8s guide
  docs/guides/deployment/kubernetes.md
Labels: docs

#10545 Serialize concurrency requests
  mkdocs.yml
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/services.py
  src/prefect/concurrency/sync.py
  tests/concurrency/test_acquire_concurrency_slots.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_slot_acquisition_service.py
  tests/concurrency/test_concurrency_sync.py
  tests/concurrency/test_release_concurrency_slots.py
  tests/concurrency/test_wait_for_successful_response.py
Labels: enhancement

#10534 Adds the ability to serve flows
  src/prefect/__init__.py
  src/prefect/cli/flow.py
  src/prefect/cli/flow_run.py
  src/prefect/client/orchestration.py
  src/prefect/deployments/__init__.py
  src/prefect/deployments/runner.py
  src/prefect/flows.py
  src/prefect/runner.py
  tests/cli/test_flow.py
  tests/cli/test_flow_run.py
  tests/test_flows.py
  tests/test_runner.py
Labels: enhancement

#10549 Update quickstart to use serve
  docs/getting-started/quickstart.md
  docs/img/ui/deployment-cron-schedule.png
Labels: docs

#8641 Handle `PREFECT_API_KEY` set as environment variable in `cloud login` command
  src/prefect/cli/cloud/__init__.py
  tests/cli/test_cloud.py
Labels: component:cli, fix

#10556 Introduce `flow.serve` into the tutorial
  docs/getting-started/quickstart.md
  docs/stylesheets/extra.css
  docs/tutorial/deployments.md
  docs/tutorial/flows.md
  docs/tutorial/index.md
  docs/tutorial/tasks.md
  docs/tutorial/workers.md
  mkdocs.yml
  src/prefect/cli/deploy.py
Labels: docs

#10541 Fix subflow linking when using `run_deployment` with Dask and Ray task runners
  src/prefect/deployments/deployments.py
  tests/test_deployments.py
Labels: fix

#10561 Refactors schedule creation for serve functionality
  src/prefect/cli/flow.py
  src/prefect/client/schemas/schedules.py
  src/prefect/deployments/runner.py
  tests/client/schemas/test_schedules.py
Labels: maintenance

#10563 Adds starting message to `serve()`
  src/prefect/cli/flow.py
  src/prefect/flows.py
  src/prefect/runner.py
  tests/test_runner.py
Labels: maintenance

#10348 Add settings to configure SQLAlchemy connection pool size
  src/prefect/server/database/configurations.py
  src/prefect/settings.py
Labels: enhancement

#10565 Remove blank menu bar at top of docs
  docs/overrides/main.html
Labels: docs

#10574 Put serve utilities into API reference
  docs/api-ref/prefect/deployments/runner.md
  docs/api-ref/prefect/runner.md
  mkdocs.yml
  src/prefect/deployments/runner.py
  src/prefect/flows.py
  src/prefect/runner.py
Labels: docs

#10566 Deployment page showing a blank tab on desktop
  ui/src/pages/Deployment.vue
Labels: ui, fix

#10555 Improve format handling of `GitLab` and `Bitbucket` tokens during `git_clone` deployment step
  src/prefect/deployments/steps/pull.py
  tests/deployment/test_steps.py
Labels: enhancement

#10589 Shorten push work pools description
  docs/guides/index.md
Labels: docs

#10585 Add `serve` example and logs for schedule pausing
  src/prefect/runner.py
  tests/test_runner.py
Labels: maintenance

#10590 Add release notes 2.12.0
  RELEASE-NOTES.md
Labels: maintenance
