Repository PrefectHQ/prefect, pull requests merged in 2023-03, with the labels that each got.

#8673 Create `EventsWorker` to manage client lifecycle and abstract async nature
  src/prefect/client/orchestration.py
  src/prefect/context.py
  src/prefect/engine.py
  src/prefect/events/__init__.py
  src/prefect/events/worker.py
  tests/client/test_orion_client.py
  tests/events/test_events_worker.py
Labels: enhancement

#8681 Increase tolerance for `test_watch_timeout_is_restarted_until_job_is_complete`
  tests/infrastructure/test_kubernetes_job.py
Labels: maintenance

#8679 Increase tolerance for `test_allows_configurable_timeouts_for_pod_and_job_watches`
  tests/infrastructure/test_kubernetes_job.py
Labels: maintenance

#8680 Use a monotonic clock for Kubernetes job watch timeout deadline calculation
  src/prefect/infrastructure/kubernetes.py
Labels: fix

#7948 Handle SIGTERM received by server gracefully
  src/prefect/cli/server.py
  src/prefect/utilities/processutils.py
  tests/cli/test_start_server.py
  tests/utilities/test_processutils.py
Labels: enhancement

#8698 Add release notes for 2.8.4
  RELEASE-NOTES.md
  docs/overrides/main.html
Labels: maintenance

#8686 Add basic event instrumentation to blocks
  src/prefect/blocks/abstract.py
  src/prefect/blocks/core.py
  src/prefect/blocks/notifications.py
  src/prefect/events/clients.py
  src/prefect/events/instrument.py
  src/prefect/events/worker.py
  tests/events/conftest.py
  tests/events/test_block_events_instrumentation.py
  tests/events/test_events_instrument.py
  tests/events/test_events_worker.py
Labels: enhancement

#8695 Refactor supervisor API to allow configuration
  src/prefect/_internal/concurrency/api.py
  src/prefect/_internal/concurrency/from_async.py
  src/prefect/_internal/concurrency/from_sync.py
  src/prefect/_internal/concurrency/supervisors.py
  tests/_internal/concurrency/test_api.py
  tests/_internal/concurrency/test_supervisors.py
Labels: experimental

#8697 Consolidate `WorkItem` and `Call` classes
  src/prefect/_internal/concurrency/api.py
  src/prefect/_internal/concurrency/supervisors.py
  tests/_internal/concurrency/test_supervisors.py
Labels: experimental

#8684 remove deployment flowrun fk
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_03_01_154651_7d918a392297_remove_flowrun_deployment_fk.py
  src/prefect/server/database/migrations/versions/sqlite/2023_03_01_165551_f3df94dca3cc_remove_flowrun_deployment_fk.py
  src/prefect/server/database/orm_models.py
Labels: enhancement, migration

#8704 Use `PREFECT_API_URL` when initializing events client
  src/prefect/events/worker.py
  tests/events/test_events_worker.py
Labels: experimental

#8705 Add carriage return to `prompt_select_from_list`
  src/prefect/cli/cloud.py
Labels: fix

#8714 Refactor supervisors to interact directly with "Worker" threads
  src/prefect/_internal/concurrency/api.py
  src/prefect/_internal/concurrency/executor.py
  src/prefect/_internal/concurrency/runtime.py
  src/prefect/_internal/concurrency/supervisors.py
  src/prefect/_internal/concurrency/workers.py
  tests/_internal/concurrency/test_api.py
  tests/_internal/concurrency/test_executor.py
  tests/_internal/concurrency/test_runtime.py
  tests/_internal/concurrency/test_supervisors.py
  tests/_internal/concurrency/test_workers.py
Labels: experimental

#8721 Loosen assertion range on `test_allows_configurable_timeouts_for_pod_and_job_watches`
  tests/infrastructure/test_kubernetes_job.py
Labels: maintenance

#8719 Add chaining to cancel contexts
  src/prefect/_internal/concurrency/timeouts.py
  tests/_internal/concurrency/test_timeouts.py
Labels: experimental

#8711 Adds ability to discover type from work pool when starting a worker
  src/prefect/experimental/cli/worker.py
  src/prefect/experimental/workers/base.py
  tests/experimental/cli/test_worker.py
  tests/experimental/workers/test_base_worker.py
  tests/fixtures/database.py
  tests/server/api/test_run_history.py
Labels: experimental, team:orchestration

#8717 Add portal abstract base for worker threads and supervisors
  src/prefect/_internal/concurrency/api.py
  src/prefect/_internal/concurrency/portals.py
  src/prefect/_internal/concurrency/supervisors.py
  tests/_internal/concurrency/test_api.py
  tests/_internal/concurrency/test_portals.py
  tests/_internal/concurrency/test_supervisors.py
  tests/_internal/concurrency/test_workers.py
Labels: experimental

#8718 Fix bugs in supervisors implementation
  src/prefect/_internal/concurrency/portals.py
  src/prefect/_internal/concurrency/supervisors.py
  tests/_internal/concurrency/test_api.py
  tests/_internal/concurrency/test_supervisors.py
Labels: experimental

#8724 Refactor concurrency module and add documentation
  src/prefect/_internal/concurrency/__init__.py
  src/prefect/_internal/concurrency/api.py
  src/prefect/_internal/concurrency/calls.py
  src/prefect/_internal/concurrency/primitives.py
  src/prefect/_internal/concurrency/supervisors.py
  src/prefect/_internal/concurrency/threads.py
  src/prefect/_internal/concurrency/timeouts.py
  src/prefect/_internal/concurrency/waiters.py
  tests/_internal/concurrency/test_api.py
  tests/_internal/concurrency/test_threads.py
  tests/_internal/concurrency/test_waiters.py
Labels: experimental

#8730 Update block event resource IDs to use block-document id instead of name.
  src/prefect/blocks/core.py
  src/prefect/events/instrument.py
  tests/events/test_block_events_instrumentation.py
  tests/events/test_events_instrument.py
Labels: experimental

#8732 UI updates for workers beta
  ui/src/pages/WorkPool.vue
  ui/src/pages/WorkPoolQueue.vue
Labels: experimental, team:orchestration

#8731 Add cancellation reporting to calls and waiters
  src/prefect/_internal/concurrency/calls.py
  src/prefect/_internal/concurrency/timeouts.py
  src/prefect/_internal/concurrency/waiters.py
  tests/_internal/concurrency/test_timeouts.py
  tests/_internal/concurrency/test_waiters.py
Labels: experimental

#8725 Adds worker command output when applying deployments with a work pool
  src/prefect/cli/deployment.py
  tests/cli/deployment/test_deployment_build.py
  tests/cli/deployment/test_deployment_cli.py
  tests/fixtures/database.py
Labels: experimental, team:orchestration

#8735 Increase sleep time in `test_from_async_send_callback_from_runtime_allows_concurrency` to reduce flakes
  tests/_internal/concurrency/test_api.py
Labels: maintenance

#8737 Add support for float timeouts using alarms
  src/prefect/_internal/concurrency/timeouts.py
  tests/_internal/concurrency/test_timeouts.py
  tests/_internal/concurrency/test_waiters.py
Labels: experimental

#8733 Fix Kubernetes job watch timeout request error by rounding
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_kubernetes_job.py
Labels: fix

#8757 Ignore fsspec `2023.3.0` during requirements installation
  requirements.txt
Labels: fix

#8755 Fix `prefect flow-run cancel` help
  src/prefect/cli/flow_run.py
Labels: docs

#8746 Run uvicorn signal forwarding tests in service test suite
  tests/cli/test_start_server.py
Labels: maintenance

#7958 Add deployment id support to `run_deployment`
  src/prefect/deployments.py
  tests/test_deployments.py
Labels: enhancement

#8706 Enable setting environment variables for worker submitted flow runs
  src/prefect/experimental/workers/base.py
  src/prefect/experimental/workers/process.py
  src/prefect/server/schemas/actions.py
  tests/experimental/workers/test_base_worker.py
  tests/experimental/workers/test_process_worker.py
Labels: experimental, team:orchestration

#8759 Add artifacts for unpersisted results
  src/prefect/results.py
  src/prefect/states.py
  tests/results/test_flow_results.py
  tests/results/test_task_results.py
  tests/results/test_unpersisted_result.py
  tests/test_flows.py
  tests/test_states.py
Labels: enhancement

#8785 Ignore deprecation warning for starlette shutdown/startup hooks
  setup.cfg
Labels: maintenance

#8771 Add `--work-queue` option to worker CLI
  src/prefect/experimental/cli/worker.py
  src/prefect/experimental/workers/base.py
  tests/agent/test_agent_run_submission.py
  tests/experimental/cli/test_worker.py
  tests/experimental/workers/test_base_worker.py
  tests/fixtures/database.py
  tests/server/api/test_deployments.py
Labels: experimental, team:orchestration

#8773 adding webhook block docs
  docs/api-ref/prefect/blocks/webhook.md
  mkdocs.yml
Labels: docs

#8790 Dynamic context via `prefect.runtime`
  docs/api-ref/prefect/runtime/deployment.md
  docs/api-ref/prefect/runtime/flow_run.md
  mkdocs.yml
  src/prefect/context.py
  src/prefect/runtime/__init__.py
  src/prefect/runtime/deployment.py
  src/prefect/runtime/flow_run.py
  tests/runtime/__init__.py
  tests/runtime/test_deployment.py
  tests/runtime/test_flow_run.py
Labels: feature

#8797 Fix merge conflict in blocks documentation
  src/prefect/blocks/core.py
Labels: docs

#8798 Fix blocking file read in `Deployment.load_from_yaml`
  src/prefect/deployments.py
Labels: fix

#8799 Remove workers' ability to auto-apply deployments
  src/prefect/experimental/cli/worker.py
  src/prefect/experimental/workers/base.py
  src/prefect/experimental/workers/process.py
  src/prefect/settings.py
  tests/experimental/workers/test_base_worker.py
Labels: maintenance, experimental

#8804 Disable Postgres JIT
  src/prefect/server/database/configurations.py
Labels: enhancement

#8806 Cleanup fixture for hosted API server
  src/prefect/testing/fixtures.py
  tests/cli/test_version.py
  tests/client/test_orion_client.py
  tests/engine/reliability/test_deadlocks.py
  tests/infrastructure/test_base.py
  tests/infrastructure/test_docker_container.py
  tests/infrastructure/test_kubernetes_job.py
  tests/test_deployments.py
Labels: maintenance

#8808 Enhancement: Call `str` instead of `repr` on UnpersistedResult descriptions
  src/prefect/results.py
  tests/results/test_unpersisted_result.py
Labels: enhancement

#8802 Remove `PreventRedundantTransitions` rule from core task orchestration policy
  src/prefect/server/orchestration/core_policy.py
  tests/server/api/test_task_runs.py
  tests/server/orchestration/test_core_policy.py
Labels: fix

#8811 Update info on Ray's support for hardware and software
  docs/concepts/task-runners.md
  docs/tutorials/dask-ray-task-runners.md
Labels: docs

#8805 Add artifact description column
  src/prefect/server/database/migrations/versions/postgresql/2023_03_15_153039_4a1a0e4f89de_add_artifact_description_col.py
  src/prefect/server/database/migrations/versions/sqlite/2023_03_15_123850_cf1159bd0d3c_add_artifact_description_col.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  tests/server/api/test_artifacts.py
  tests/server/orchestration/test_rules.py
  tests/server/schemas/test_core.py
Labels: enhancement, migration, team:orchestration

#8812 Update pull request template to include docs as a category
  .github/pull_request_template.md
Labels: maintenance

#8818 Fix flaky `test_controls_client_and_thread_lifecycle` test
  tests/events/test_events_worker.py
Labels: maintenance

#8822 Add release notes for 2.8.6
  RELEASE-NOTES.md
Labels: maintenance

#8823 Update announce bar for 2.8.6
  docs/overrides/main.html
Labels: maintenance

#8702 Use new concurrency tooling in engine
  .github/workflows/benchmarks.yaml
  .github/workflows/python-tests.yaml
  benches/__main__.py
  benches/bench_flows.py
  requirements-dev.txt
  src/prefect/_internal/concurrency/api.py
  src/prefect/_internal/concurrency/calls.py
  src/prefect/_internal/concurrency/threads.py
  src/prefect/_internal/concurrency/timeouts.py
  src/prefect/_internal/concurrency/waiters.py
  src/prefect/cli/dev.py
  src/prefect/client/utilities.py
  src/prefect/engine.py
  src/prefect/futures.py
  src/prefect/logging/logging.yml
  src/prefect/settings.py
  src/prefect/tasks.py
  src/prefect/testing/fixtures.py
  src/prefect/testing/standard_test_suites/task_runners.py
  src/prefect/utilities/asyncutils.py
  tests/_internal/concurrency/test_api.py
  tests/_internal/concurrency/test_calls.py
  tests/_internal/concurrency/test_threads.py
  tests/_internal/concurrency/test_timeouts.py
  tests/_internal/concurrency/test_waiters.py
  tests/client/test_orion_client.py
  tests/conftest.py
  tests/engine/reliability/test_deadlocks.py
  tests/engine/reliability/test_sync_async.py
  tests/experimental/cli/test_worker.py
  tests/infrastructure/test_process.py
  tests/public/README.md
  tests/public/__init__.py
  tests/public/flows/__init__.py
  tests/public/flows/test_flow_calls.py
  tests/public/flows/test_flow_crashes.py
  tests/public/flows/test_flow_timeouts.py
  tests/public/tasks/__init__.py
  tests/public/tasks/test_task_timeouts.py
  tests/test_deployments.py
  tests/test_engine.py
  tests/test_flows.py
  tests/utilities/test_importtools.py
Labels: enhancement

#8625 Add to flow run logs command option to print logs order by desc
  src/prefect/cli/flow_run.py
  src/prefect/client/orchestration.py
  tests/cli/test_flow_run.py
Labels: enhancement

#8795 Update to worker base job template logic for nested placeholders
  src/prefect/experimental/workers/base.py
  src/prefect/server/schemas/core.py
  src/prefect/utilities/templating.py
  tests/experimental/workers/test_base_worker.py
  tests/experimental/workers/test_process_worker.py
  tests/server/api/test_workers.py
  tests/server/schemas/test_core.py
  tests/utilities/test_templating.py
Labels: experimental, team:orchestration

#8837 Show all flow runs for deployments rather than just the last 7 days
  ui/package-lock.json
  ui/package.json
  ui/src/pages/Deployment.vue
Labels: enhancement

#8850 Fix `prefect dev start`
  src/prefect/cli/dev.py
Labels: fix

#8851 Disable coverage display during local pytest runs by default
  .github/workflows/python-tests.yaml
  setup.cfg
Labels: maintenance

#8839 Add jitter to Prefect client request retries
  src/prefect/client/base.py
  src/prefect/settings.py
  src/prefect/utilities/math.py
  tests/client/test_base_client.py
Labels: enhancement

#8864 More runtime attributes
  .github/codeql-config.yml
  src/prefect/runtime/deployment.py
  src/prefect/runtime/flow_run.py
  tests/runtime/test_deployment.py
  tests/runtime/test_flow_run.py
Labels: enhancement

#8071 Adjust SQLite sync mode for improved performance
  src/prefect/server/database/configurations.py
Labels: enhancement

#8188 Add support for variadic keyword arguments to `Task.map`
  src/prefect/engine.py
  src/prefect/utilities/callables.py
  tests/test_tasks.py
Labels: fix

#8860 Enforce lowercase artifact `key` field
  src/prefect/server/schemas/actions.py
  tests/server/api/test_artifacts.py
Labels: experimental, team:orchestration

#8870 Enable events client experimental flag by default
  src/prefect/settings.py
  tests/_internal/compatibility/test_experimental.py
  tests/events/test_events_worker.py
  tests/server/test_app.py
Labels: experimental

#8827 remove recursion from `propose_state`
  src/prefect/engine.py
  tests/test_engine.py
Labels: fix

#8856 Add debug level log of active profile on module import
  src/prefect/__init__.py
Labels: enhancement

#8872 Add preparation steps even to empty infra block setup
  src/prefect/agent.py
Labels: fix

#8855 Allow multiple artifacts to have the same key
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_03_20_175243_aa84ac237ce8_remove_artifact_uq.py
  src/prefect/server/database/migrations/versions/sqlite/2023_03_20_153925_1d7441c031d0_remove_uq_from_artifact_table.py
  src/prefect/server/database/orm_models.py
  tests/server/api/test_artifacts.py
Labels: migration, experimental, team:orchestration

#8826 Add common values to job configuration prior to flow run submission
  src/prefect/experimental/workers/base.py
  src/prefect/experimental/workers/process.py
  src/prefect/utilities/templating.py
  tests/experimental/workers/test_base_worker.py
  tests/experimental/workers/test_process_worker.py
Labels: experimental, team:orchestration

#8879 Fix flow run pauses
  flows/flow_pauses.py
  src/prefect/engine.py
Labels: maintenance

#8882 Fix sleep time assertion
  tests/public/tasks/test_task_timeouts.py
Labels: maintenance

#8886 Fix race condition in worker thread start
  src/prefect/_internal/concurrency/threads.py
Labels: fix

#8889 Disable new SLSA provenance setting in buildx
  .github/workflows/docker-images.yaml
Labels: fix

#8858 event and resource docs first pass:
  docs/concepts/events-and-resources.md
  docs/img/ui/automation-from-event.png
  docs/img/ui/event-detail.png
  docs/img/ui/event-feed.png
  docs/img/ui/event-spec.png
  docs/ui/events.md
  mkdocs.yml
Labels: DONT MERGE, team:observability

#8885 Show the full run history in ui
  ui/src/pages/Deployment.vue
  ui/src/pages/Flow.vue
  ui/src/pages/WorkPool.vue
  ui/src/pages/WorkPoolQueue.vue
  ui/src/pages/WorkQueue.vue
Labels: enhancement, ui

#8901 Feature: Flow run results tab
  ui/src/pages/FlowRun.vue
Labels: feature

#8887 Update task input resolution to avoid spawning worker threads
  src/prefect/engine.py
  tests/engine/reliability/test_deadlocks.py
Labels: fix

#8904 Allow artifacts to be read without experimental flag
  src/prefect/server/api/artifacts.py
Labels: experimental, team:orchestration

#8909 Fix read artifacts without experimental flag
  src/prefect/server/api/artifacts.py
Labels: maintenance

#8906 Release notes 2.8.7
  RELEASE-NOTES.md
Labels: maintenance

#8910 Update announce bar for 2.8.7
  docs/overrides/main.html
Labels: maintenance

#8908 Add unique integers to worker thread names for inspection
  src/prefect/_internal/concurrency/threads.py
Labels: enhancement

#8920 Add #6318 to release notes
  RELEASE-NOTES.md
Labels: maintenance

#8921 disambiguate reference to "Blocks"
  docs/concepts/index.md
Labels: docs

#8923 fix broken concepts link
  README.md
Labels: docs

#8875 Add route for querying artifacts
  src/prefect/server/api/artifacts.py
  tests/server/api/test_artifacts.py
Labels: experimental, team:orchestration

#8927 Add ability to filter artifacts by type
  src/prefect/server/schemas/filters.py
  tests/server/api/test_artifacts.py
Labels: experimental, team:orchestration

#8861 Add index for querying artifacts
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_03_20_185610_46bd82c6279a_add_index_on_artifact.py
  src/prefect/server/database/migrations/versions/sqlite/2023_03_20_194204_422f8ba9541d_add_artifact_idx.py
Labels: migration, experimental, team:orchestration

#8924 Add support for custom static task storage keys
  docs/concepts/results.md
  src/prefect/results.py
  src/prefect/tasks.py
  tests/results/test_persisted_result.py
  tests/results/test_task_results.py
  tests/test_tasks.py
Labels: enhancement, team:orchestration

#8948 Add flow name support to `prefect.runtime.flow_run`
  src/prefect/runtime/flow_run.py
  tests/runtime/test_flow_run.py
Labels: enhancement

#8922 Add support to `JSONSerializer` for serialization of exceptions
  src/prefect/serializers.py
  tests/test_serializers.py
Labels: enhancement, team:orchestration

#8951 Add retrieval of flow run id in `prefect.runtime.flow_run` from task run contexts
  src/prefect/runtime/flow_run.py
  tests/runtime/test_flow_run.py
Labels: enhancement

#8932 Add ability to return the latest versions of each artifact
  src/prefect/server/schemas/filters.py
  tests/server/api/test_artifacts.py
  tests/server/models/test_artifacts.py
Labels: experimental, team:orchestration

#8949 Add formatting of task storage keys and `prefect.runtime.task_run` module
  docs/concepts/results.md
  src/prefect/__init__.py
  src/prefect/context.py
  src/prefect/engine.py
  src/prefect/results.py
  src/prefect/runtime/__init__.py
  src/prefect/runtime/task_run.py
  tests/results/test_task_results.py
  tests/runtime/test_task_run.py
  tests/test_context.py
Labels: enhancement

#8952 Add publish of Kubernetes flavored Docker images with `prefect-kubernetes`
  .github/workflows/docker-images.yaml
  Dockerfile
Labels: maintenance, team:orchestration

#8955 Bump prefect-ui-library and implement breaking composition changes
  ui/package-lock.json
  ui/package.json
  ui/src/components/SettingsCodeBlock.vue
  ui/src/pages/FlowRun.vue
  ui/tsconfig.json
Labels: maintenance, ui

#8953 Add `UnpersistedResult` type to the docs
  docs/concepts/results.md
Labels: docs

#8958 Adds experimental artifacts `prefect artifact ls` command
  src/prefect/cli/__init__.py
  src/prefect/client/orchestration.py
  src/prefect/experimental/cli/artifact.py
  tests/client/test_orion_client.py
  tests/experimental/cli/test_artifact.py
Labels: experimental, team:orchestration

#8950 Retry on sqlite operational errors
  src/prefect/server/api/server.py
  tests/server/api/test_server.py
Labels: fix

#8957 Update docs CSS and config for versioning compatibility
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: docs

#8959 docs: adding .yaml template for efficient creation of docs Issues
  .github/ISSUE_TEMPLATE/5_docs_ticket.yaml
Labels: maintenance

#8978 Touchups to docs issue template
  .github/ISSUE_TEMPLATE/4_docs_change.yaml
  .github/ISSUE_TEMPLATE/5_maintenance_ticket.yaml
Labels: maintenance

#8979 Enable stale pull requests and increase ops/hr
  .github/workflows/stale.yml
Labels: maintenance

#8980 Add experimental artifacts documentation
  docs/concepts/artifacts.md
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: experimental, team:orchestration

#8963 Add experimental artifacts CLI `inspect` command
  src/prefect/experimental/cli/artifact.py
  tests/experimental/cli/test_artifact.py
Labels: experimental, team:orchestration

#8970 Add experimental artifacts CLI `delete`
  src/prefect/client/orchestration.py
  src/prefect/experimental/cli/artifact.py
  tests/client/test_orion_client.py
  tests/experimental/cli/test_artifact.py
Labels: experimental, team:orchestration

#8971 Enhance experimental artifact CLI `ls`
  src/prefect/experimental/cli/artifact.py
  src/prefect/server/schemas/filters.py
  tests/experimental/cli/test_artifact.py
Labels: experimental, team:orchestration

#8832 Add interface for artifacts
  docs/concepts/artifacts.md
  docs/stylesheets/extra.css
  mkdocs.yml
  src/prefect/cli/__init__.py
  src/prefect/client/orchestration.py
  src/prefect/experimental/artifacts.py
  src/prefect/experimental/cli/artifact.py
  src/prefect/server/api/artifacts.py
  src/prefect/server/models/artifacts.py
  src/prefect/server/schemas/filters.py
  src/prefect/settings.py
  tests/client/test_orion_client.py
  tests/conftest.py
  tests/experimental/cli/test_artifact.py
  tests/test_artifacts.py
Labels: experimental, team:orchestration

#8985 Remove experimental flag from artifacts
  docs/concepts/artifacts.md
  src/prefect/artifacts.py
  src/prefect/cli/__init__.py
  src/prefect/cli/artifact.py
  src/prefect/client/orchestration.py
  src/prefect/server/api/artifacts.py
  src/prefect/settings.py
  tests/_internal/compatibility/test_experimental.py
  tests/cli/test_artifact.py
  tests/client/test_orion_client.py
  tests/conftest.py
  tests/server/api/test_artifacts.py
  tests/server/test_app.py
  tests/test_artifacts.py
Labels: team:orchestration

#8989 Adding clarity to Filesystem package dependencies
  docs/concepts/filesystems.md
Labels: docs

#8954 Add `prefect.runtime.task_run.task_name`
  src/prefect/runtime/task_run.py
  tests/runtime/test_task_run.py
Labels: enhancement

#8997 Small update to artifacts docs examples
  docs/concepts/artifacts.md
Labels: docs

#8998 Add task run runtime to api ref
  docs/api-ref/prefect/runtime/task_run.md
  mkdocs.yml
Labels: docs

#9000 Add artifact CLI to documentation
  docs/concepts/artifacts.md
Labels: docs, team:orchestration

#9002 Fix stale bot cron (every hour)
  .github/workflows/stale.yml
Labels: maintenance

#9013 chore: update github action secret reference
  .github/workflows/helm-chart-release.yaml
  netlify.toml
Labels: maintenance

#9017 Fixed styling of deployments mermaid diagram
  docs/concepts/deployments.md
Labels: docs
