Repository PrefectHQ/prefect, pull requests merged in 2023-12, with the labels that each got.

#11288 Combine troubleshooting pages
  docs/contributing/common-mistakes.md
  docs/guides/troubleshooting.md
  netlify.toml
Labels: docs

#11304 Add Google Cloud Run V2 option to Serverless guide
  docs/guides/deployment/serverless-workers.md
Labels: docs

#11319 Cap `pytest-asyncio`
  requirements-dev.txt
Labels: maintenance

#11320 Add `work queues` tag to work pools concept page
  docs/concepts/work-pools.md
Labels: docs

#11318 Adds additional debug logging to `critical_service_loop`
  src/prefect/cli/worker.py
  src/prefect/client/orchestration.py
  src/prefect/utilities/services.py
Labels: maintenance

#11275 Add ability to provision infrastructure during Azure Container Instance push work pool creation
  src/prefect/infrastructure/provisioners/__init__.py
  src/prefect/infrastructure/provisioners/container_instance.py
  tests/infrastructure/provisioners/test_container_instance.py
Labels: enhancement

#11289 Add missing Python SDK CLI items to the docs
  docs/api-ref/prefect/cli/artifact.md
  docs/api-ref/prefect/cli/block.md
  docs/api-ref/prefect/cli/deploy.md
  docs/api-ref/prefect/cli/flow.md
  docs/api-ref/prefect/cli/kubernetes.md
  docs/api-ref/prefect/cli/variable.md
  docs/api-ref/prefect/cli/work_pool.md
  docs/api-ref/prefect/cli/worker.md
  mkdocs.yml
Labels: docs

#11343 Clarify SCIM + service accounts handling
  docs/cloud/users/teams.md
Labels: docs

#11341 Add ability to provision infrastructure for an existing work pool
  src/prefect/cli/_types.py
  src/prefect/cli/work_pool.py
  src/prefect/infrastructure/provisioners/cloud_run.py
  src/prefect/infrastructure/provisioners/container_instance.py
  tests/cli/test_typer_utils.py
  tests/cli/test_work_pool.py
Labels: enhancement

#11352 Make `FlowRunInput.flow_run_id` a foreign key to `flow_run.id`
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_12_07_121416_7c453555d3a5_make_flowruninput_flow_run_id_a_foreign_.py
  src/prefect/server/database/migrations/versions/sqlite/2023_12_07_121624_35659cc49969_make_flowruninput_flow_run_id_a_foreign_.py
  src/prefect/server/database/orm_models.py
Labels: migration, experimental

#11350 Only display supported work pool types in selection when `--provision-infra` provided
  src/prefect/cli/work_pool.py
  tests/cli/test_work_pool.py
Labels: enhancement

#11356 Fixes flaky tests caused by in place dictionary modification
  src/prefect/workers/utilities.py
Labels: maintenance

#11316 Adds automatic infrastructure provisioning guide
  docs/guides/deployment/push-work-pools.md
  docs/guides/index.md
Labels: docs

#11347 Add the ability to publish `KubernetesJob` blocks as work pools
  src/prefect/infrastructure/kubernetes.py
  src/prefect/workers/utilities.py
  tests/cli/test_work_pool.py
  tests/cli/test_worker.py
  tests/conftest.py
  tests/fixtures/collections_registry.py
  tests/infrastructure/test_docker_container.py
  tests/infrastructure/test_kubernetes_job.py
  tests/workers/test_utilities.py
Labels: enhancement

#11363 Build out API for creating/reading/deleting flow run inputs
  src/prefect/server/api/flow_runs.py
  tests/server/api/test_flow_runs.py
Labels: experimental

#11298 Sink types
  src/prefect/utilities/processutils.py
  tests/utilities/test_processutils.py
Labels: status:waiting for maintainer

#11378 Add setting to configure a default Docker namespace for image builds
  docs/guides/prefect-deploy.md
  src/prefect/deployments/runner.py
  src/prefect/settings.py
  src/prefect/utilities/dockerutils.py
  tests/docker/test_image_parsing.py
  tests/runner/test_runner.py
Labels: enhancement

#11374 Fix three broken links in docs
  docs/concepts/states.md
  docs/guides/deployment/daemonize.md
  mkdocs.yml
Labels: docs

#11373 Update agent upgrade guide to include `flow.deploy` and examples
  docs/guides/upgrade-guide-agents-to-workers.md
Labels: docs

#11386 Update moving data guide
  docs/guides/moving-data.md
Labels: docs

#11376 Integrate flow run input and schema/response mechanics into pause/suspend
  src/prefect/_internal/pydantic/v2_schema.py
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/objects.py
  src/prefect/engine.py
  src/prefect/input/__init__.py
  src/prefect/input/actions.py
  src/prefect/input/run_input.py
  src/prefect/server/schemas/states.py
  src/prefect/settings.py
  tests/input/test_actions.py
  tests/input/test_run_input.py
  tests/test_engine.py
Labels: experimental

#11375 Adds support for `is_schedule_active` to `flow.deploy` and `flow.serve`
  src/prefect/deployments/runner.py
  src/prefect/flows.py
  src/prefect/runner/runner.py
  tests/runner/test_runner.py
  tests/test_flows.py
Labels: enhancement

#11381 Add ability to provision resources with user provided names in Cloud Run push pool provisioner
  src/prefect/infrastructure/provisioners/cloud_run.py
  tests/infrastructure/provisioners/test_cloud_run.py
Labels: enhancement

#11333 Run existing deployments via the `Runner` webserver
  client/build_client.sh
  src/prefect/runner/server.py
  src/prefect/runner/utils.py
  tests/runner/test_utils.py
  tests/runner/test_webserver.py
Labels: feature

#11405 Construct a pause state without reusing the state ID
  src/prefect/server/orchestration/core_policy.py
  tests/fixtures/database.py
  tests/server/orchestration/test_core_policy.py
Labels: fix

#11409 Fix date range width on the dashboard
  ui/src/pages/Dashboard.vue
Labels: maintenance, ui

#11388 Change `Guides` title to` How-to Guides` in the docs
  docs/guides/index.md
  mkdocs.yml
Labels: docs

#11365 Adds a section to the Push work pools guide on the provision-infra sub command
  docs/guides/deployment/push-work-pools.md
Labels: docs

#11420 Adds missing `work_pool_name` argument to example code
  docs/guides/deployment/push-work-pools.md
  src/prefect/infrastructure/provisioners/ecs.py
  tests/infrastructure/provisioners/test_ecs.py
Labels: docs

#11411 add setting for experimental runner endpoints
  src/prefect/runner/server.py
  src/prefect/settings.py
  tests/runner/test_webserver.py
Labels: maintenance

#11399 Adds Artifact Registry Docker repository provisioning to Cloud Run provisioner
  docs/guides/deployment/push-work-pools.md
  src/prefect/infrastructure/provisioners/cloud_run.py
  tests/infrastructure/provisioners/test_cloud_run.py
Labels: enhancement

#11426 Update search for managed-execution.md
  docs/guides/managed-execution.md
Labels: docs

#11417 Add documentation for required permissions for ECS and ACI provisioners
  docs/guides/deployment/push-work-pools.md
Labels: docs

#11407 Add ability to provision resources with user provided names in ECS push pool provisioner
  src/prefect/infrastructure/provisioners/ecs.py
  tests/infrastructure/provisioners/test_ecs.py
Labels: enhancement

#11428 Adds line to infra provisioning prerequisites to upgrade to the latest CLI version
  docs/guides/deployment/push-work-pools.md
Labels: docs

#11387 Adds registry provisioning to ContainerInstancePushProvisioner
  docs/guides/deployment/push-work-pools.md
  src/prefect/infrastructure/provisioners/container_instance.py
  tests/infrastructure/provisioners/test_container_instance.py
Labels: enhancement

#11425 managed-exc docs update
  docs/guides/managed-execution.md
Labels: docs

#11412 Allow Azure Container Instance resource name customization in interactive push pool CLI
  src/prefect/infrastructure/provisioners/container_instance.py
  tests/infrastructure/provisioners/test_container_instance.py
Labels: enhancement

#11429 2.14.11 release notes
  RELEASE-NOTES.md
Labels: maintenance

#11437 Update default pause/suspend timeout to be 1 hour
  src/prefect/engine.py
  tests/test_engine.py
Labels: enhancement

#11438 Remove title/description from `RunInput` model
  src/prefect/input/run_input.py
  tests/input/test_run_input.py
Labels: experimental

#11440 Fix prompt and role assignment in `ContainerInstanceProvisioner`
  src/prefect/infrastructure/provisioners/container_instance.py
  tests/infrastructure/provisioners/test_container_instance.py
Labels: fix

#11225 Adds big data guide
  docs/concepts/results.md
  docs/guides/big-data.md
  docs/guides/dask-ray-task-runners.md
  docs/guides/index.md
  mkdocs.yml
Labels: docs

#11441 Rename moving data guide
  docs/guides/index.md
  docs/guides/moving-data.md
  mkdocs.yml
Labels: docs

#11404 Documentation for `wait_for_input`
  docs/api-ref/prefect/input/actions.md
  docs/api-ref/prefect/input/run_input.md
  docs/concepts/flows.md
  docs/guides/creating-human-in-the-loop-workflows.md
  docs/guides/index.md
  mkdocs.yml
Labels: docs, experimental

#11477 Fix typo in flows.md
  docs/concepts/flows.md
Labels: maintenance

#11479 Minor updates to formatting and work pool docs to reflect recent changes
  docs/guides/managed-execution.md
  docs/guides/prefect-deploy.md
  docs/stylesheets/extra.css
  src/prefect/workers/process.py
Labels: docs

#11443 CI/CD Guide
  docs/guides/ci-cd.md
  docs/guides/index.md
  docs/img/guides/github-actions-trigger.png
  docs/img/guides/github-secrets.png
  mkdocs.yml
Labels: docs

#11484 Fix error when deploying a remotely loaded flow with options
  src/prefect/flows.py
  tests/test_flows.py
Labels: fix

#10671 Conditional task retries with `retry_condition_fn`
  src/prefect/client/schemas/objects.py
  src/prefect/engine.py
  src/prefect/server/orchestration/core_policy.py
  src/prefect/server/schemas/states.py
  src/prefect/tasks.py
  tests/server/orchestration/test_core_policy.py
  tests/test_engine.py
  tests/test_tasks.py
Labels: enhancement, status:waiting for user

#11463 Resolve `work_pool` env vars during `prefect deploy`
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: fix

#11444 Add managed execution and automatic-infrastructure push work pool to tutorial
  docs/concepts/work-pools.md
  docs/tutorial/deployments.md
  docs/tutorial/work-pools.md
  docs/tutorial/workers.md
Labels: docs

#11490 Add documentation on conditional retries
  docs/concepts/tasks.md
Labels: docs

#11461 Rework Quick Start to include benefits, remote execution, and core concepts
  docs/getting-started/quickstart.md
  docs/img/ui/dependency-graph.png
  docs/img/ui/deployment-managed.png
Labels: docs

#11171 Update README for .serve and update language
  .codespellrc
  README.md
Labels: docs

#11491 Release notes 2.14.12
  RELEASE-NOTES.md
Labels: maintenance

#11498 Fix Quickstart typo
  docs/getting-started/quickstart.md
Labels: docs

#11501 Fix spelling error in release notes
  RELEASE-NOTES.md
Labels: maintenance

#11502 Fixes for quickstart and tutorial
  docs/getting-started/quickstart.md
  docs/img/ui/qs-flow-run.png
  docs/tutorial/deployments.md
  docs/tutorial/flows.md
  docs/tutorial/index.md
  docs/tutorial/tasks.md
  docs/tutorial/work-pools.md
  docs/tutorial/workers.md
  mkdocs.yml
Labels: docs

#11503 Add ability to serve default work pool configurations in air gapped environment
  .github/workflows/python-package.yaml
  MANIFEST.in
  src/prefect/server/api/collections.py
  src/prefect/server/api/collections_data/views/aggregate-worker-metadata.json
  tests/server/api/test_collections.py
  tests/workers/test_utilities.py
Labels: enhancement

#11504 Add docs for Incidents in Prefect Cloud
  docs/concepts/incidents.md
  docs/concepts/index.md
  docs/img/ui/declare-incident.png
  docs/img/ui/incidents-dashboard.png
  mkdocs.yml
Labels: docs

#11507 Fix broken link
  docs/concepts/work-pools.md
  docs/getting-started/quickstart.md
Labels: docs

#11506 Add Incidents to concepts index doc
  docs/concepts/index.md
  mkdocs.yml
Labels: docs

#11516 Fail `.deploy` if deployment name contains `/`
  src/prefect/flows.py
  tests/test_flows.py
Labels: fix
