Repository PrefectHQ/prefect, pull requests merged in 2023-05, with the labels that each got.

#9388 Add support for async project steps
  src/prefect/projects/steps/core.py
  tests/projects/test_steps.py
Labels: enhancement

#9385 Update `BaseJobConfiguration._related_resources` to handle the case where objects are `None`.
  src/prefect/workers/base.py
  tests/events/instrumentation/test_events_workers_instrumentation.py
Labels: maintenance

#9400 Update `critical_service_loop` to retry on all 5XX HTTP status codes
  src/prefect/utilities/services.py
  tests/utilities/test_services.py
Labels: enhancement

#9398 Revert change where `QueueService.send` blocked until the item was enqueued
  src/prefect/_internal/concurrency/services.py
  tests/_internal/concurrency/test_services.py
Labels: fix

#9328 Add print statement to git pull to isolate issues between clone and execution
  src/prefect/projects/steps/pull.py
Labels: enhancement

#9418 Add `on_crashed` flow run state change hook
  src/prefect/engine.py
  src/prefect/flows.py
  tests/test_engine.py
  tests/test_flows.py
Labels: enhancement

#9390 Add work pools to the ui history flow run route
  src/prefect/server/api/ui/flow_runs.py
Labels: fix

#9425 Fix Project recipe image_name and tag templating in docker-git, docker-gcs, and docker-s3
  src/prefect/projects/recipes/docker-gcs/prefect.yaml
  src/prefect/projects/recipes/docker-git/prefect.yaml
  src/prefect/projects/recipes/docker-s3/prefect.yaml
Labels: fix

#9411 Add storage blocks to cli `deployment build` help description
  src/prefect/cli/deployment.py
Labels: enhancement

#9393 Add `Additional Resources` Section to Work Pools, Workers, & Agents page
  docs/concepts/work-pools.md
Labels: docs

#9439 UI: Remove references to radar
  ui/src/pages/FlowRunRadar.vue
  ui/src/router/index.ts
  ui/tests/utilities/pages.ts
Labels: maintenance, ui

#9437 Fix work queues showing as unhealthy when a work queue with the same name is unhealthy
  src/prefect/server/models/work_queues.py
  tests/server/api/test_work_queues.py
Labels: fix

#9426 Fix send/drain race conditions in queue services
  src/prefect/_internal/concurrency/services.py
  src/prefect/_internal/concurrency/timeouts.py
  tests/_internal/concurrency/test_services.py
  tests/events/instrumentation/test_events_workers_instrumentation.py
Labels: fix

#9440 Ensure trailing slash in remote filesystems
  requirements.txt
  src/prefect/filesystems.py
Labels: fix

#9379 Add Amplitude proxy edge function
  netlify.toml
  netlify/edge-functions/amplitude.ts
Labels: docs

#9451 Remove Segment edge function and override
  docs/overrides/main.html
  netlify.toml
  netlify/edge-functions/segment.ts
Labels: docs

#9452 Add test for trailing slash enforcement
  tests/test_filesystems.py
Labels: maintenance

#9461 Fix `name` description in `deployment.yaml` reference
  docs/concepts/projects.md
Labels: docs

#9447 Update orchestration rules to allow additional flow run state transitions
  src/prefect/server/orchestration/core_policy.py
  tests/server/orchestration/test_core_policy.py
Labels: enhancement, needs:product feedback, needs:cloud-pr, team:orchestration

#9460 Only touch the ignorefile if it doesn't exist
  src/prefect/deployments.py
Labels: fix

#9463 Display message when back-off is reset to avoid confusion
  src/prefect/utilities/services.py
Labels: enhancement

#9466 For real, please provide the output of the version command
  .github/ISSUE_TEMPLATE/1_general_bug_report.yaml
Labels: maintenance

#9481 Update `QueueService` to use a dedicated worker thread
  src/prefect/_internal/concurrency/services.py
Labels: enhancement

#9469 Add future warning for Python 3.7 EOL
  setup.cfg
  src/prefect/__init__.py
Labels: deprecation

#9484 Add release notes for 2.10.8
  RELEASE-NOTES.md
Labels: maintenance

#9490 add tip about flow run level concurrency
  docs/concepts/tasks.md
Labels: docs

#9511 add `on_failure` example to docs
  docs/concepts/flows.md
Labels: docs

#8691 Handle SIGTERM received by agent gracefully
  src/prefect/cli/agent.py
  src/prefect/utilities/processutils.py
  tests/cli/test_start_agent.py
  tests/cli/test_start_server.py
Labels: enhancement

#9171 Global flow and task retries and retry delay seconds
  docs/concepts/tasks.md
  src/prefect/flows.py
  src/prefect/settings.py
  src/prefect/tasks.py
  tests/test_engine.py
  tests/test_flows.py
  tests/test_tasks.py
Labels: enhancement

#9498 Fix bug where SIGTERM was not properly captured as a flow run crash
  src/prefect/_internal/concurrency/api.py
  src/prefect/engine.py
  src/prefect/states.py
  tests/public/flows/test_flow_crashes.py
  tests/test_engine.py
Labels: fix

#9519 feat: python test runners
  .github/workflows/python-tests.yaml
Labels: maintenance

#8584 Add wrapper for exceptions encountered while resolving parameter inputs
  src/prefect/engine.py
Labels: enhancement

#9450 Update Tutorials Landing Page
  docs/tutorials/index.md
Labels: docs

#9516 Flush logs before exiting deployed flow run processes
  src/prefect/engine.py
Labels: enhancement

#9521 Correctly pass optional parameters to API in create_work_queue
  src/prefect/client/orchestration.py
  tests/client/test_orion_client.py
Labels: fix

#9539 Add release notes for 2.10.9
  RELEASE-NOTES.md
Labels: maintenance

#9528 Allow Redocly in Content-Security-Policy
  docs/api-ref/rest-api-reference.md
  netlify.toml
Labels: docs

#9543 Fix bug where `SIGTERM` as not reported as a flow run crash for deployed runs
  src/prefect/engine.py
  tests/public/flows/test_flow_crashes.py
Labels: fix

#9545 Fix typo in 2.10.9 RELEASE-NOTES.md
  RELEASE-NOTES.md
Labels: docs

#9556 Add benchmarks for CLI commands
  benches/bench_cli.py
Labels: maintenance

#9558 Add benchmarks for `import prefect`
  benches/bench_import.py
Labels: maintenance

#9560 better retry example + tweaks
  docs/concepts/tasks.md
Labels: docs

#9540 Ensure test DB is cleared at the end of run history tests
  tests/server/api/test_run_history.py
Labels: maintenance

#9557 Delay `apprise` imports to speed up Prefect import time
  src/prefect/blocks/notifications.py
  tests/blocks/test_notifications.py
Labels: enhancement

#9574 Improve the navigation structure and clarity of the various API docs
  docs/api-ref/index.md
  docs/api-ref/python/index.md
  docs/api-ref/rest-api-reference.md
  docs/api-ref/rest-api/index.md
  docs/api-ref/server/index.md
  mkdocs.yml
  netlify.toml
Labels: docs

#9581 Add `work_pool_name` to `Deployment.build_from_flow` in docs
  docs/concepts/deployments.md
Labels: docs

#9587 Remove image layer caching during builds
  .github/workflows/docker-images.yaml
Labels: fix

#9582 Defer import of `dateparser` to speed up CLI startup
  src/prefect/cli/deployment.py
Labels: enhancement

#9580 Add Additional Worker Types to Work Pools, Workers & Agents Concept Doc.md
  docs/concepts/work-pools.md
Labels: docs

#9591 fix typo in dask/ray task runner docs
  docs/guides/dask-ray-task-runners.md
Labels: docs

#9572 Add docstrings for all schema filters
  src/prefect/server/schemas/filters.py
Labels: docs

#9583 Fixes three broken links in the docs (1 of which is in a docstring)
  docs/concepts/tasks.md
  docs/concepts/work-pools.md
  docs/guides/deployment/developing-a-new-worker-type.md
  src/prefect/workers/process.py
Labels: docs

#9595 Clarify information about artifacts and improve consistency in artifa…
  docs/concepts/artifacts.md
Labels: docs

#9600 Update rate-limits.md
  docs/cloud/rate-limits.md
Labels: docs

#9571 Defer loading of prefect collections until necessary
  src/prefect/__init__.py
  src/prefect/blocks/core.py
  src/prefect/engine.py
  tests/blocks/test_core.py
  tests/test_plugins.py
Labels: enhancement

#9610 Skip `test_unmocked_retrieval_succeeds` conda test
  tests/software/test_conda.py
Labels: maintenance

#9602 Fix deadlock when logging is overriden from an asynchronous context
  src/prefect/logging/handlers.py
  tests/test_logging.py
Labels: fix

#9614 Load collections prior to starting worker
  flows/worker.py
  src/prefect/cli/worker.py
Labels: maintenance

#9621 Add `Block.get_block_class_from_key` and replace external uses of `lookup_type`
  src/prefect/blocks/core.py
  src/prefect/cli/deployment.py
  src/prefect/deployments.py
Labels: enhancement

#9624 fix links to infra blocks
  docs/concepts/infrastructure.md
Labels: docs

#9636 Date Range filter not responsive on flow runs page
  ui/package-lock.json
  ui/package.json
Labels: ui, fix

#9530 Add SIGTERM handling for workers
  src/prefect/cli/worker.py
  src/prefect/utilities/processutils.py
  tests/cli/test_worker.py
Labels: enhancement

#9626 Load collections before auto-registering block types on the server
  src/prefect/server/api/server.py
Labels: fix

#9625 Do not restrict deployment build infrastructure types to types known at import time
  src/prefect/cli/deployment.py
Labels: fix

#9627 Moves look ups for worker classes to `BaseWorker` class
  flows/worker.py
  src/prefect/cli/work_pool.py
  src/prefect/workers/base.py
Labels: maintenance

#9637 Fix bug where ephemeral server raised exceptions client-side
  src/prefect/client/orchestration.py
  src/prefect/server/api/server.py
  tests/client/test_orion_client.py
  tests/server/api/test_server.py
Labels: fix

#9632 Allow client retries when server SQLite database is busy
  src/prefect/server/api/server.py
  src/prefect/server/orchestration/core_policy.py
  src/prefect/server/orchestration/rules.py
  tests/server/api/test_server.py
  tests/server/orchestration/test_rules.py
Labels: enhancement

#9643 Stream output during worker integration test subprocess calls
  flows/worker.py
Labels: maintenance

#9639 9638 add docs about how to build documentation locally
  .gitignore
  docs/contributing/overview.md
Labels: maintenance, docs

#9648 Remove check for 'prefect-agent' worker type in integration test
  flows/worker.py
  src/prefect/cli/work_pool.py
Labels: maintenance

#9635 Attach deployment, work-queue, and work-pool as related resources to emitted events.
  src/prefect/events/related.py
  src/prefect/server/schemas/responses.py
  tests/events/test_events_related_from_context.py
Labels: enhancement

#9657 Typo fixes
  docs/cloud/connecting.md
  docs/cloud/events.md
  docs/cloud/organizations.md
  docs/cloud/users/roles.md
Labels: docs

#9663 Remove trailing slashes when building events/in websocket url
  src/prefect/events/clients.py
  tests/events/test_cloud_events_client.py
Labels: fix

#9646 Fix typo in first-steps.md
  docs/tutorial/first-steps.md
Labels: status:waiting for maintainer

#9503 Improve default Prefect image tag when using development versions
  .github/workflows/python-tests.yaml
  docs/concepts/infrastructure.md
  docs/contributing/testing-flow-runners.md.old
  scripts/build-all-dev-images
  src/prefect/docker.py
Labels: enhancement, team:orchestration

#9389 Add `on_cancellation` flow run state change hook
  src/prefect/engine.py
  src/prefect/flows.py
  src/prefect/server/schemas/states.py
  tests/test_engine.py
  tests/test_flows.py
Labels: enhancement, team:orchestration

#9501 Unpin mkdocs-material-insiders
  netlify.toml
Labels: maintenance

#9680 Update automations.md
  docs/cloud/automations.md
Labels: docs

#9652 Update concepts->runtime-context.md
  docs/concepts/runtime-context.md
Labels: docs

#9420 simplify flow / task config docs
  docs/tutorial/flow-task-config.md
Labels: docs

#9666 Docs: Add tip on artifact keys
  docs/concepts/artifacts.md
Labels: docs

#9575 Additional tweaks to task retry docs
  docs/concepts/tasks.md
Labels: docs

#9690 Display CLI deprecation warnings to STDERR instead of STDOUT
  src/prefect/cli/_types.py
Labels: fix

#9665 fix variables
  src/prefect/variables.py
Labels: fix

#9696 Guard against changing the profile path from `prefect config set`
  src/prefect/cli/config.py
  tests/cli/test_config.py
Labels: enhancement

#9697 change Prefect server capitalization
  docs/api-ref/server/index.md
  docs/concepts/variables.md
  docs/host/index.md
Labels: docs

#9704 Expand docstrings for artifacts
  src/prefect/artifacts.py
Labels: docs

#9702 feat: add worker `poll.*` events
  src/prefect/workers/base.py
  tests/events/instrumentation/test_events_workers_instrumentation.py
Labels: enhancement

#9717 Adds work pool creation wizard
  ui/package-lock.json
  ui/package.json
  ui/src/pages/WorkPoolCreate.vue
Labels: enhancement, ui

#9701 feat: add an /api/ready check to prefect server
  src/prefect/server/api/root.py
  src/prefect/server/database/interface.py
  tests/server/api/test_root.py
Labels: enhancement

#9707 Add interactive prompts for deployment name and work pool to `prefect deploy`
  src/prefect/cli/_utilities.py
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: enhancement

#9705 Inconsistent flow run parameters when creating a new flow run or editing a deployment
  ui/package-lock.json
  ui/package.json
  ui/src/pages/FlowRunCreate.vue
Labels: ui, fix

#9541 Add warning to engine re. context management during flow runs
  src/prefect/engine.py
Labels: maintenance

#9732 Allow table artifacts as list of lists
  docs/concepts/artifacts.md
  src/prefect/artifacts.py
  tests/test_artifacts.py
Labels: fix

#9733 Use flow run logger to report traceback for failed submissions
  src/prefect/workers/base.py
Labels: enhancement

#9731 Improve cancellation cleanup service iteration over subflow runs
  src/prefect/server/services/cancellation_cleanup.py
Labels: enhancement

#9721 Add state change hooks to States concept page, adds guide page
  docs/concepts/flows.md
  docs/concepts/states.md
  docs/guides/state-change-hooks.md
  mkdocs.yml
Labels: docs

#9736 fix: use counts for worker events instrumentation tests
  tests/events/instrumentation/test_events_workers_instrumentation.py
Labels: fix

#9740 Display URL to flow run on creation
  src/prefect/engine.py
Labels: enhancement

#9735 Add `PREFECT_CLIENT_MAX_RETRIES` for configuration of maximum HTTP request retries
  src/prefect/client/base.py
  src/prefect/settings.py
  tests/client/test_base_client.py
Labels: enhancement

#9734 Fix bug where "uvicorn" could not be found when the server was started from an unloaded virtual environment
  src/prefect/cli/dev.py
  src/prefect/cli/server.py
  tests/cli/test_dev.py
  tests/cli/test_server.py
Labels: fix

#9742 Draft of release highlights
  RELEASE-NOTES.md
Labels: maintenance

#9737 Add release notes 2.10.11
  RELEASE-NOTES.md
Labels: maintenance

#9744 Replace all use of `orion_client` with `prefect_client` in tests
  tests/agent/test_agent_run_cancellation.py
  tests/agent/test_agent_run_submission.py
  tests/blocks/test_core.py
  tests/cli/deployment/test_deployment_build.py
  tests/cli/deployment/test_deployment_cli.py
  tests/cli/deployment/test_deployment_run.py
  tests/cli/test_agent.py
  tests/cli/test_block.py
  tests/cli/test_deploy.py
  tests/cli/test_flow_run.py
  tests/cli/test_work_pool.py
  tests/cli/test_work_queues.py
  tests/cli/test_worker.py
  tests/client/test_prefect_client.py
  tests/events/instrumentation/test_events_workers_instrumentation.py
  tests/events/test_events_related_from_context.py
  tests/events/test_events_worker.py
  tests/fixtures/api.py
  tests/fixtures/client.py
  tests/fixtures/database.py
  tests/infrastructure/test_base.py
  tests/infrastructure/test_process.py
  tests/projects/test_steps.py
  tests/public/flows/test_flow_crashes.py
  tests/results/test_flow_results.py
  tests/results/test_result_factory.py
  tests/results/test_task_results.py
  tests/runtime/test_deployment.py
  tests/runtime/test_flow_run.py
  tests/test_context.py
  tests/test_deployments.py
  tests/test_engine.py
  tests/test_flows.py
  tests/test_logging.py
  tests/test_states.py
  tests/test_tasks.py
  tests/utilities/test_templating.py
  tests/workers/test_base_worker.py
  tests/workers/test_process_worker.py
Labels: maintenance

#9748 Fix bug where event loop shutdown hooks could fail due to early garbage collection
  src/prefect/utilities/asyncutils.py
Labels: fix

#9720 Add Amplitude to Docs
  docs/cloud/index.md
  docs/overrides/partials/integrations/analytics/custom.html
  mkdocs.insiders.yml
  mkdocs.yml
Labels: docs

#9760 Removes unreferenced requests import in 'real-world example'
  docs/concepts/tasks.md
Labels: docs

#9759 Add task-run as a related object to emitted events
  src/prefect/events/related.py
  tests/events/test_events_related_from_context.py
Labels: enhancement

#9761 Add state change hooks to guides overview page
  docs/guides/index.md
Labels: docs

#9762 Fix typo in flows and tasks tutorials section first-steps.md
  docs/tutorial/first-steps.md
Labels: docs

#9684 Emit task run state change events when orchestrating a task run
  .gitignore
  benches/conftest.py
  src/prefect/engine.py
  src/prefect/events/utilities.py
  src/prefect/events/worker.py
  src/prefect/utilities/text.py
  tests/events/instrumentation/test_task_run_state_change_events.py
  tests/events/test_events_emit_event.py
  tests/events/test_events_related_from_context.py
  tests/events/test_events_worker.py
  tests/results/test_flow_results.py
Labels: enhancement

#9687 feat: add slim healthcheck webserver to worker
  src/prefect/cli/worker.py
  src/prefect/workers/base.py
  src/prefect/workers/server.py
  tests/workers/test_base_worker.py
Labels: feature

#9745 Deprecate `create_orion_api` in favor of `create_api_app`
  src/prefect/server/api/server.py
  tests/server/api/test_server.py
Labels: deprecation

#9787 Update tasks.md to reference common params and link to all params
  docs/concepts/tasks.md
Labels: docs

#9791 fix process worker `documentation_url`
  src/prefect/workers/process.py
Labels: fix

#9792 Remove outdated announcement
  docs/overrides/main.html
Labels: docs

#9799 Create `ENABLE_WORKSPACE_DASHBOARD` experiment
  src/prefect/settings.py
Labels: experimental

#9802 Add `dashboard` feature flag and menu item
  ui/package-lock.json
  ui/package.json
  ui/src/components/ContextSidebar.vue
  ui/src/maps/featureFlag.ts
  ui/src/pages/Dashboard.vue
  ui/src/router/index.ts
  ui/src/types/flagResponse.ts
Labels: ui, experimental
