Repository PrefectHQ/prefect, pull requests merged in 2023-09, with the labels that each got.

#10597 Recovering from a failure to cleanly disconnect a websocket in the Events client
  src/prefect/events/clients.py
  tests/events/test_cloud_events_client.py
Labels: fix

#10564 Reduce logging noise on QueueServices startup failures and item processing failures
  src/prefect/_internal/concurrency/services.py
  src/prefect/logging/handlers.py
  tests/_internal/concurrency/test_services.py
Labels: enhancement

#10596 Updates Docker guide to work with `flow.serve`
  docs/guides/deployment/docker.md
  docs/guides/docker.md
  mkdocs.yml
Labels: docs

#10602 Expose a setting for configuring a process limit on served flows
  netlify.toml
  src/prefect/runner.py
  src/prefect/settings.py
  tests/test_runner.py
Labels: enhancement

#10575 Kubernetes guide for deploying worker to Azure AKS
  docs/guides/deployment/kubernetes.md
Labels: docs

#10630 Remove experimental status from `flow.visualize()`
  docs/concepts/flows.md
  src/prefect/flows.py
  src/prefect/settings.py
  tests/utilities/test_visualization.py
Labels: maintenance

#10624 Fix broken link to docker guide with redirect and harmonize naming
  docs/guides/index.md
  mkdocs.yml
  netlify.toml
Labels: docs

#10600 Add information on `--no-prompt` and `PREFECT_CLI_PROMPT` to deployment documentation
  docs/tutorial/workers.md
Labels: docs

#10638 Remove deprecated `ORION` logging settings
  src/prefect/settings.py
Labels: maintenance

#10640 Remove deprecated `prefect orion` CLI
  src/prefect/cli/server.py
  tests/cli/test_server.py
Labels: maintenance

#10641 Remove deprecated `prefect.orion` module
  src/prefect/__init__.py
  tests/deprecated/test_orion_module.py
Labels: maintenance

#10645 Remove deprecated `OrionDBInterface`
  src/prefect/server/database/interface.py
Labels: maintenance, deprecation

#10644 Remove deprecated `OrionClient`
  src/prefect/client/orchestration.py
Labels: maintenance, deprecation

#10647 Remove deprecated `OrionRouter` and `OrionAPIRoute`
  src/prefect/server/utilities/server.py
Labels: maintenance, deprecation

#10648 Remove deprecated `create_orion_api`
  src/prefect/server/api/server.py
Labels: maintenance, deprecation

#10652 Remove deprecated `OrionHandler` and `OrionLogWorker`
  src/prefect/logging/handlers.py
Labels: maintenance, deprecation

#10651 Remove deprecated `PREFECT_ORION` server settings
  src/prefect/settings.py
Labels: maintenance, deprecation

#10653 Remove deprecated `kubernetes manifest orion` command
  src/prefect/cli/kubernetes.py
Labels: maintenance, deprecation

#10646 Remove deprecated `OrionAgent`
  src/prefect/agent.py
Labels: maintenance, deprecation

#10658 Remove link to nowhere in api-keys.md
  docs/cloud/users/api-keys.md
Labels: docs

#10642 Remove deprecated "Orion" references
  src/prefect/__init__.py
  src/prefect/agent.py
  src/prefect/cli/kubernetes.py
  src/prefect/cli/server.py
  src/prefect/client/orchestration.py
  src/prefect/logging/handlers.py
  src/prefect/server/database/interface.py
  src/prefect/server/utilities/server.py
  src/prefect/settings.py
  tests/cli/test_server.py
  tests/deprecated/test_orion_module.py
Labels: maintenance, deprecation

#10547 get sys executable
  src/prefect/cli/_prompts.py
  src/prefect/cli/server.py
  src/prefect/cli/worker.py
  src/prefect/deployments/steps/core.py
  src/prefect/deployments/steps/utility.py
  src/prefect/infrastructure/process.py
  src/prefect/utilities/processutils.py
  src/prefect/workers/process.py
Labels: fix

#10659 Update quickstart screenshots and add cli log output
  docs/getting-started/quickstart.md
  docs/img/ui/deployment-cron-schedule.png
  docs/img/ui/flow-run-diagram.png
  docs/index.md
Labels: docs

#10629 Update README.md dashboard pic for new branding
  README.md
Labels: docs

#10636 Add status to work pools and workers
  src/prefect/cli/worker.py
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/objects.py
  src/prefect/server/api/workers.py
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_09_06_085747_50f8c182c3ca_.py
  src/prefect/server/database/migrations/versions/sqlite/2023_09_06_084729_c2d001b7dd06_.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/workers.py
  src/prefect/server/schemas/__init__.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/responses.py
  src/prefect/server/schemas/statuses.py
  src/prefect/workers/base.py
  tests/cli/test_worker.py
  tests/server/api/test_workers.py
  tests/workers/test_base_worker.py
Labels: enhancement, migration

#10662 Trim README screenshot
  docs/img/ui/dashboard-oss.png
Labels: docs

#10655 Add global concurrency to the concurrency page
  ui/src/components/ContextSidebar.vue
  ui/src/pages/ConcurrencyLimits.vue
Labels: feature

#10496 Documentation for global concurrency limits
  docs/guides/global-concurrency-limits.md
  mkdocs.yml
Labels: docs

#10660 Update guides screenshots
  docs/guides/host.md
  docs/guides/logs.md
  docs/guides/variables.md
  docs/guides/webhooks.md
  docs/img/ui/create-email-notification.png
  docs/img/ui/flow-run-details.png
  docs/img/ui/notifications.png
  docs/img/ui/self-hosted-server-dashboard.png
  docs/img/ui/variables-ui.png
  docs/img/ui/webhook.png
Labels: docs

#10649 Don't create unpersisted blocks remotely
  src/prefect/client/orchestration.py
  src/prefect/results.py
  tests/results/test_result_factory.py
  tests/test_states.py
Labels: fix

#10676 Add `prefect.runtime.flow_run.run_count` and `prefect.runtime.task_run.run_count`
  src/prefect/runtime/flow_run.py
  src/prefect/runtime/task_run.py
  tests/runtime/test_flow_run.py
  tests/runtime/test_task_run.py
Labels: enhancement

#10680 `no-copy` output code block in docs agents concept page
  docs/concepts/agents.md
Labels: docs

#10670 Update concepts screen shots
  docs/concepts/automations.md
  docs/concepts/events.md
  docs/concepts/flows.md
  docs/concepts/schedules.md
  docs/img/ui/automation-from-event.png
  docs/img/ui/automations-action.png
  docs/img/ui/automations-custom.png
  docs/img/ui/automations-notifications.png
  docs/img/ui/automations-trigger.png
  docs/img/ui/automations.png
  docs/img/ui/block-library.png
  docs/img/ui/event-feed.png
  docs/img/ui/event-spec.png
  docs/img/ui/flow-run-cancellation-ui.png
  docs/img/ui/interval-schedule.png
  docs/img/ui/prefect-dashboard.png
  docs/img/ui/timeline-flows.png
  docs/img/ui/work-pool-list.png
Labels: docs

#10685 Update event feed screenshot in concepts pages
  docs/img/ui/event-feed.png
Labels: docs

#10688 Update failure notifications
  .github/workflows/python-tests.yaml
Labels: maintenance

#10692 Cloud index screenshots update and remove cloud quickstart
  .gitignore
  docs/cloud/cloud-quickstart.md
  docs/cloud/index.md
  docs/img/ui/cloud-new-workspace.png
  docs/img/ui/cloud-sign-in.png
  docs/img/ui/cloud-workspace-details.png
  mkdocs.yml
  netlify.toml
Labels: docs

#10690 allow passing triggers to `prefect deploy`
  docs/concepts/automations.md
  src/prefect/cli/deploy.py
  src/prefect/deployments/base.py
  tests/cli/test_deploy.py
Labels: enhancement

#10698 Add error summaries to cloud index
  docs/cloud/index.md
Labels: docs

#10706 Update artifacts.md
  docs/concepts/artifacts.md
Labels: docs

#10712 fix flaky test `test_process_kill_no_matching_pid`
  tests/infrastructure/test_process.py
Labels: maintenance

#10711 Allow Python classes as flow/task type hints
  src/prefect/flows.py
  tests/test_flows.py
  tests/test_tasks.py
Labels: fix

#10700 Cloud pages screenshots updates
  docs/cloud/organizations.md
  docs/cloud/users/api-keys.md
  docs/cloud/users/audit-log.md
  docs/cloud/users/service-accounts.md
  docs/cloud/users/sso.md
  docs/cloud/workspaces.md
  docs/img/ui/all-workspaces.png
  docs/img/ui/audit-log.png
  docs/img/ui/cloud-api-keys.png
  docs/img/ui/cloud-new-api-key.png
  docs/img/ui/cloud-sso-provider.png
  docs/img/ui/create-workspace.png
  docs/img/ui/org-invite-members.png
  docs/img/ui/organizations.png
  docs/img/ui/service-accounts.png
  docs/img/ui/sso-scim-enabled.png
  docs/img/ui/workspace-collaborators.png
  docs/img/ui/workspace-settings.png
  docs/img/ui/workspace-sharing.png
  docs/img/ui/workspace-transfer.png
Labels: docs

#10724 Add an `is_null` filter for Deployments to flows/filter
  src/prefect/server/schemas/filters.py
  tests/server/api/test_flows.py
Labels: enhancement

#10726 Fixes two broken links
  docs/concepts/events.md
  docs/guides/variables.md
Labels: docs

#10718 Add ability to update existing deployment configs in `prefect.yaml` with `prefect deploy`
  src/prefect/cli/deploy.py
  src/prefect/deployments/base.py
  tests/cli/test_deploy.py
Labels: enhancement

#10732 Updates roles screenshot
  docs/img/ui/org-inherited-role.png
Labels: docs

#10739 Add `push work pools` tag to push work pools guide to raise visibility
  docs/guides/deployment/push-work-pools.md
Labels: docs

#10736 Update docs with recent brand changes
  docs/img/favicon.png
  docs/img/logos/prefect-logo-white.svg
  docs/index.md
  docs/stylesheets/extra.css
  docs/stylesheets/theme.css
  mkdocs.insiders.yml
  mkdocs.yml
Labels: docs

#10742 Cloud edits
  docs/cloud/index.md
  docs/getting-started/quickstart.md
  docs/img/logos/prefect-logo-white.svg
Labels: docs

#10390 On UI build, make paths relative rather than absolute.
  src/prefect/cli/dev.py
Labels: fix, status:waiting for maintainer

#10750 Refactor deployment config selection in `prefect deploy`
  src/prefect/cli/deploy.py
Labels: maintenance

#10752 Lower the upper bound on pinned pendulum library
  requirements.txt
Labels: fix

#10762 Update workers tutorial to fix non-rendering diagram and link
  docs/tutorial/workers.md
Labels: docs

#10759 fix: do not zero-pad helm chart version
  .github/workflows/helm-chart-release.yaml
Labels: maintenance, status:waiting for maintainer

#10769 Updates block logo URLs
  docs/integrations/contribute.md
  src/prefect/blocks/kubernetes.py
  src/prefect/blocks/notifications.py
  src/prefect/blocks/system.py
  src/prefect/blocks/webhook.py
  src/prefect/filesystems.py
  src/prefect/infrastructure/container.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/process.py
  src/prefect/server/collection_blocks_data.json
  src/prefect/workers/process.py
Labels: maintenance

#10770 Add work pool counts
  src/prefect/server/api/workers.py
  src/prefect/server/models/workers.py
  tests/server/api/test_workers.py
  tests/server/models/test_workers.py
Labels: enhancement

#10748 Adds screenshots to concepts -> artifacts page
  docs/concepts/artifacts.md
  docs/img/ui/link-artifact-info.png
  docs/img/ui/md-artifact-info.png
  docs/img/ui/table-artifact-info.png
Labels: docs

#10719 fix: set shlex.split posix argument to False if on Windows
  src/prefect/deployments/steps/utility.py
  tests/deployment/test_steps.py
Labels: arch:windows, fix, status:waiting for maintainer

#10772 Add pattern matching for deployment name in `prefect deploy`
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: enhancement

#10775 Remove boost from block-based deployments page in documentation, improve visibility of `prefect deploy`
  docs/concepts/deployments-block-based.md
  docs/concepts/deployments.md
Labels: docs

#10773 Add server-side enforcement of deployment parameter schemas
  src/prefect/cli/deploy.py
  src/prefect/cli/deployment.py
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  src/prefect/client/schemas/responses.py
  src/prefect/deployments/deployments.py
  src/prefect/deployments/runner.py
  src/prefect/flows.py
  src/prefect/runner.py
  src/prefect/server/api/deployments.py
  src/prefect/server/api/server.py
  src/prefect/server/database/migrations/versions/postgresql/2023_09_20_134544_db0eb3973a54_adds_enforce_parameter_schema_column_to_.py
  src/prefect/server/database/migrations/versions/sqlite/2023_09_20_134145_ef674d598dd3_adds_enforce_parameter_schema_column_to_.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/responses.py
  src/prefect/utilities/validation.py
  tests/cli/deployment/test_deployment_run.py
  tests/cli/test_deploy.py
  tests/fixtures/database.py
  tests/server/api/test_deployments.py
  tests/test_deployments.py
  tests/test_flows.py
  tests/test_runner.py
  tests/utilities/test_validation.py
Labels: enhancement, migration

#10790 Make `slot_decay_per_second` not nullable
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2023_09_21_130125_4e9a6f93eb6c_make_slot_decay_per_second_not_nullable.py
  src/prefect/server/database/migrations/versions/sqlite/2023_09_21_121806_8167af8df781_make_slot_decay_per_second_not_nullable.py
  src/prefect/server/database/orm_models.py
Labels: migration, fix

#10784 Add documentation for work-pool get-default-base-job-template
  docs/concepts/work-pools.md
Labels: docs

#10782 Adds references to `enforce_parameter_schema` to docs
  docs/concepts/deployments-block-based.md
  docs/concepts/deployments.md
  docs/guides/prefect-deploy.md
Labels: docs

#10791 Add documentation for pattern matching in `prefect deploy`
  docs/guides/prefect-deploy.md
Labels: docs

#10792 Release 2.13.2
  RELEASE-NOTES.md
Labels: maintenance

#10793 Add ability to create work pools with a base template
  src/prefect/cli/work_pool.py
  tests/cli/base-job-templates/process-worker.json
  tests/cli/test_work_pool.py
Labels: enhancement

#10797 Return ObjectNotFound from update_work_pool
  src/prefect/client/orchestration.py
  tests/client/test_prefect_client.py
Labels: enhancement

#10796 Add command for updating work pools
  src/prefect/cli/work_pool.py
  tests/cli/test_work_pool.py
Labels: enhancement

#10817 Adds `/deployments/get_scheduled_flow_runs` endpoint
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/responses.py
  src/prefect/runner.py
  src/prefect/server/api/deployments.py
  src/prefect/server/schemas/filters.py
  tests/server/api/test_deployments.py
Labels: enhancement

#10827 Update `git_clone` deployment step example in documentation
  docs/guides/prefect-deploy.md
Labels: docs

#10828 Add `prefect deploy` guide to guide index for visibility
  docs/guides/index.md
Labels: docs

#10821 Implement useFlowRuns composition
  ui/package-lock.json
  ui/package.json
  ui/src/pages/FlowRuns.vue
Labels: maintenance

#10843 Add link to Docker guide in deployments.md
  docs/tutorial/deployments.md
Labels: docs

#10846 Fix: Bump prefect-ui-library to 2.0.16
  ui/package-lock.json
  ui/package.json
Labels: fix

#10845 Release notes 2.13.3
  RELEASE-NOTES.md
Labels: maintenance

#10830 Updates logos for docs
  docs/img/logos/prefect-2-logo-dark.png
  docs/img/logos/prefect-logo-gradient-navy.svg
  docs/img/logos/prefect-logo-gradient-white.svg
  docs/img/logos/prefect-logo-mark-gradient.svg
  docs/img/logos/prefect-logo-mark-solid-white-500.png
  docs/img/logos/prefect-logo-white-social-cards.svg
  docs/img/logos/prefect-logo-white.svg
  mkdocs.insiders.yml
Labels: docs

#10816 Allow task runs without a flow run
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  src/prefect/server/database/migrations/versions/postgresql/2023_09_25_121806_8167af8df781_remove_flow_run_id_requirement_from_task_run.py
  src/prefect/server/database/migrations/versions/sqlite/2023_09_25_121806_8167af8df781_remove_flow_run_id_requirement_from_task_run.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/task_runs.py
  src/prefect/server/orchestration/core_policy.py
  src/prefect/server/orchestration/rules.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  tests/server/api/test_task_runs.py
Labels: migration

#10856 Release notes 2.13.4
  RELEASE-NOTES.md
Labels: maintenance

#10858 Add GCP Vertex AI worker to work-pools.md
  docs/concepts/work-pools.md
Labels: docs

#10859 Update pinned mkdocs-material insiders version in netlify.toml
  netlify.toml
Labels: docs
