Repository PrefectHQ/prefect, pull requests merged in 2024-09, with the labels that each got.

#15169 Refactor `ResultFactory` to no longer be run context aware
  src/integrations/prefect-redis/tests/test_records.py
  src/prefect/context.py
  src/prefect/flow_engine.py
  src/prefect/results.py
  src/prefect/task_engine.py
  src/prefect/task_worker.py
  src/prefect/tasks.py
  src/prefect/transactions.py
  tests/records/test_filesystem.py
  tests/records/test_memory.py
  tests/results/test_result_factory.py
  tests/results/test_state_result.py
  tests/test_background_tasks.py
  tests/test_context.py
  tests/test_states.py
  tests/test_task_engine.py
  tests/test_tasks.py
  tests/test_transactions.py
Labels: development

#15182 restore job submission handler in `jobs_runs_submit_and_wait_for_completion`
  src/integrations/prefect-databricks/prefect_databricks/flows.py
  src/integrations/prefect-databricks/tests/test_flows.py
Labels: integrations

#15183 (2.x) restore job submission handler in `jobs_runs_submit_and_wait_for_completion`
  src/integrations/prefect-databricks/prefect_databricks/flows.py
  src/integrations/prefect-databricks/tests/test_flows.py
Labels: integrations, 2.x

#15176 Add `read` and `write` methods to `ResultFactory`
  src/prefect/results.py
  src/prefect/testing/utilities.py
  tests/blocks/test_notifications.py
  tests/results/test_persisted_result.py
  tests/results/test_state_result.py
Labels: development

#15186 Fix tests for new `apprise` version
  tests/blocks/test_notifications.py
Labels: development, 2.x

#15177 Touch up variable get and set
  src/prefect/variables.py
  tests/test_variables.py
Labels: enhancement

#15184 Rename `ResultFactory` to `ResultStore`
  src/integrations/prefect-redis/tests/test_records.py
  src/prefect/context.py
  src/prefect/flow_engine.py
  src/prefect/records/result_store.py
  src/prefect/results.py
  src/prefect/states.py
  src/prefect/task_engine.py
  src/prefect/task_worker.py
  src/prefect/tasks.py
  src/prefect/testing/utilities.py
  src/prefect/transactions.py
  tests/records/test_filesystem.py
  tests/records/test_memory.py
  tests/results/test_flow_results.py
  tests/results/test_result_factory.py
  tests/results/test_result_store.py
  tests/results/test_state_result.py
  tests/test_background_tasks.py
  tests/test_context.py
  tests/test_states.py
  tests/test_task_engine.py
  tests/test_tasks.py
  tests/test_transactions.py
Labels: development

#15187 retry on locked errors when getting lost followers
  src/prefect/server/events/triggers.py
Labels: bug

#15166 Update docs header link and language for 3.0 GA
  docs/overrides/main.html
Labels: docs, 2.x

#15189 Fix release pipeline for integration packages
  .github/workflows/integration-package-release.yaml
Labels: development

#15192 no longer recommend `--pre` flag in docs
  docs/3.0/resources/upgrade-to-prefect-3.mdx
  docs/integrations/prefect-azure/index.mdx
  docs/integrations/prefect-dbt/index.mdx
  scripts/generate_sdk_docs.py
Labels: docs

#15193 Disable griffe logging entirely when used
  src/prefect/blocks/core.py
  src/prefect/utilities/callables.py
Labels: bug

#15188 Touch up variable class inheritance
  src/prefect/variables.py
Labels: development

#15190 Fix task key comp
  src/prefect/tasks.py
  tests/test_tasks.py
Labels: bug, fix

#15194 [2.x] Disable griffe logging entirely when used
  src/prefect/blocks/core.py
  src/prefect/utilities/callables.py
Labels: fix, 2.x

#15191 Fix task key computation
  src/prefect/tasks.py
  tests/test_tasks.py
Labels: fix, 2.x

#15200 more correct upgrade recommendation
  docs/3.0/resources/upgrade-to-prefect-3.mdx
Labels: docs

#15142 Kubernetes worker uses `enable_socket_keep_alive`
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_utilities.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Labels: bug

#15143 Fix for Github clone on Windows
  src/integrations/prefect-github/prefect_github/repository.py
Labels: bug

#15201 backport windows quote fix
  src/integrations/prefect-github/prefect_github/repository.py
Labels: bug, arch:windows

#15197 Update install instructions for prefect-azure for 3.0GA
  docs/integrations/prefect-aws/index.mdx
  docs/integrations/prefect-azure/index.mdx
  docs/integrations/prefect-bitbucket/index.mdx
  docs/integrations/prefect-dask/index.mdx
  docs/integrations/prefect-databricks/index.mdx
  docs/integrations/prefect-dbt/index.mdx
  docs/integrations/prefect-docker/index.mdx
  docs/integrations/prefect-email/index.mdx
  docs/integrations/prefect-gcp/index.mdx
  docs/integrations/prefect-github/index.mdx
  docs/integrations/prefect-gitlab/index.mdx
  docs/integrations/prefect-kubernetes/index.mdx
  docs/integrations/prefect-ray/index.mdx
  docs/integrations/prefect-shell/index.mdx
  docs/integrations/prefect-slack/index.mdx
  docs/integrations/prefect-snowflake/index.mdx
  docs/integrations/prefect-sqlalchemy/index.mdx
Labels: docs

#15205 Update opening language of allowlisting docs.
  docs/3.0/manage/cloud/manage-users/secure-access-by-ip-address.mdx
Labels: docs

#15211 fix `prefect-azure` tests
  src/integrations/prefect-azure/tests/test_credentials.py
Labels: development, integrations

#15209 prefect-kubernetes: add missing config loaders
  src/integrations/prefect-kubernetes/prefect_kubernetes/credentials.py
  src/integrations/prefect-kubernetes/tests/test_credentials.py
Labels: bug

#15215 remove duplicate `pull_code` instruction
  src/prefect/flows.py
  tests/test_flows.py
Labels: bug, fix

#15218 prefect-kubernetes: add missing config loaders
  src/integrations/prefect-kubernetes/prefect_kubernetes/credentials.py
  src/integrations/prefect-kubernetes/tests/test_credentials.py
Labels: 2.x

#15202 update `prompt_select_from_table`
  src/prefect/cli/_prompts.py
  tests/cli/test_deploy.py
Labels: enhancement, cli, test-all-integrations

#15213 Update install instructions in 2.x docs
  .gitignore
  README.md
  docs/contributing/overview.md
  docs/getting-started/installation.md
  docs/integrations/prefect-aws/index.md
  docs/integrations/prefect-azure/index.md
  docs/integrations/prefect-bitbucket/index.md
  docs/integrations/prefect-dask/index.md
  docs/integrations/prefect-databricks/index.md
  docs/integrations/prefect-dbt/index.md
  docs/integrations/prefect-docker/index.md
  docs/integrations/prefect-email/index.md
  docs/integrations/prefect-gcp/index.md
  docs/integrations/prefect-github/index.md
  docs/integrations/prefect-gitlab/index.md
  docs/integrations/prefect-kubernetes/index.md
  docs/integrations/prefect-ray/index.md
  docs/integrations/prefect-shell/index.md
  docs/integrations/prefect-slack/index.md
  docs/integrations/prefect-snowflake/index.md
  docs/integrations/prefect-sqlalchemy/index.md
  docs/tutorial/index.md
Labels: docs, 2.x

#15214 Adds ability to write result metadata separate from data when using `ResultStore`
  src/prefect/results.py
  tests/results/test_result_store.py
Labels: enhancement

#15224 Updates docs URL slugs in Prefect source code for 3.0 GA
  docs/mint.json
  src/integrations/prefect-azure/README.md
  src/integrations/prefect-azure/prefect_azure/deployments/steps.py
  src/integrations/prefect-bitbucket/README.md
  src/integrations/prefect-dask/README.md
  src/integrations/prefect-databricks/README.md
  src/integrations/prefect-dbt/README.md
  src/integrations/prefect-docker/README.md
  src/integrations/prefect-docker/prefect_docker/worker.py
  src/integrations/prefect-email/README.md
  src/integrations/prefect-gcp/prefect_gcp/utilities.py
  src/integrations/prefect-gcp/prefect_gcp/workers/cloud_run.py
  src/integrations/prefect-gcp/prefect_gcp/workers/vertex.py
  src/integrations/prefect-github/README.md
  src/integrations/prefect-gitlab/README.md
  src/integrations/prefect-kubernetes/README.md
  src/integrations/prefect-ray/README.md
  src/integrations/prefect-ray/prefect_ray/task_runners.py
  src/integrations/prefect-redis/README.md
  src/integrations/prefect-shell/README.md
  src/integrations/prefect-snowflake/README.md
  src/integrations/prefect-sqlalchemy/README.md
  src/prefect/_internal/compatibility/migration.py
  src/prefect/artifacts.py
  src/prefect/blocks/notifications.py
  src/prefect/blocks/system.py
  src/prefect/blocks/webhook.py
  src/prefect/cli/cloud/webhook.py
  src/prefect/cli/worker.py
  src/prefect/deployments/runner.py
  src/prefect/filesystems.py
  src/prefect/workers/process.py
  tests/cli/test_worker.py
Labels: docs, 3.x

#15207 Update assets and gitignore for SDK docs builds
  .gitignore
  docs/mkdocs/.gitignore
  docs/mkdocs/index.md
  docs/mkdocs/logo-word-white.svg
  docs/mkdocs/stylesheets/admonitions.css
  docs/mkdocs/stylesheets/api_ref.css
  docs/mkdocs/stylesheets/extra.css
  docs/mkdocs/stylesheets/rest_ref.css
  docs/mkdocs/stylesheets/syntax_highlights.css
  docs/mkdocs/stylesheets/termynal.css
  docs/mkdocs/stylesheets/theme.css
  scripts/generate_sdk_docs.py
Labels: docs

#15220 Add `KeepAliveClientRequest` class for k8s async client
  src/integrations/prefect-kubernetes/prefect_kubernetes/utilities.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_utilities.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Labels: bug

#15230 Add `KeepAliveClientRequest` class for k8s async client 2.x
  src/integrations/prefect-kubernetes/prefect_kubernetes/utilities.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_utilities.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Labels: fix, 2.x

#15227 Add docs redirects to catch non-latest in slugs
  docs/3.0/deploy/infrastructure-examples/docker.mdx
  docs/mint.json
Labels: docs

#15237 Fixes a few broken links in the docs
  docs/3.0/deploy/infrastructure-concepts/deploy-via-python.mdx
  docs/3.0/deploy/infrastructure-concepts/work-pools.mdx
  docs/3.0/deploy/infrastructure-examples/kubernetes.mdx
  docs/3.0/manage/cloud/index.mdx
Labels: docs

#15238 Use prefect extras when adhoc installing integrations
  src/prefect/_internal/integrations.py
  src/prefect/cli/_prompts.py
  src/prefect/cli/worker.py
  src/prefect/deployments/steps/core.py
  tests/_internal/test_integrations.py
  tests/cli/test_worker.py
  tests/deployment/test_steps.py
Labels: fix, 2.x

#15233 clarify variables docs
  docs/3.0/api-ref/rest-api/server/schema.json
  docs/3.0/develop/variables.mdx
Labels: docs

#15228 Deployment.concurrency_limit cannot be zero.
  docs/3.0/api-ref/rest-api/server/schema.json
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
Labels: docs

#15248 Improve prefect.yaml docs
  docs/3.0/deploy/infrastructure-concepts/prefect-yaml.mdx
  docs/3.0/deploy/infrastructure-examples/managed.mdx
Labels: docs

#15249 Fix test failures for `pydantic==2.9.0`
  tests/utilities/test_callables.py
Labels: development

#15247 Allow using a `ResultStore` with a `Transaction`
  src/prefect/results.py
  src/prefect/transactions.py
  tests/test_transactions.py
Labels: development

#15244 Remove `CausalOrdering` from `task-run-recorder`
  src/prefect/server/services/task_run_recorder.py
  tests/server/services/test_task_run_recorder.py
Labels: enhancement, performance

#15253 use `is not` for type comparison instead of `!=`
  src/prefect/results.py
Labels: development

#15256 Add upper bounds to extras in `setup.py`
  setup.py
Labels: development, 2.x

#15257 Use `kubernetes` extra when building Docker image
  .github/workflows/docker-images.yaml
Labels: 2.x

#15263 [2.x] add function name to `prefect-docker` cache key
  src/integrations/prefect-docker/prefect_docker/deployments/steps.py
  src/integrations/prefect-docker/tests/deployments/test_steps.py
Labels: fix, 2.x

#15251 Fix test flake and add `uv` dev dependency
  .pre-commit-config.yaml
  requirements-dev.txt
  src/prefect/records/filesystem.py
  tests/records/test_filesystem.py
Labels: bug, development, upstream dependency

#15265 Add dedicated enhancements section
  .github/release.yml
Labels: development

#15254 Rewrite block page in docs
  docs/3.0/develop/blocks.mdx
Labels: docs

#15113 Fix labeler job
  .github/workflows/labeler.yml
Labels: development, 2.x

#15114 Fix labeler job
  .github/workflows/labeler.yml
Labels: development

#15271 better common error section
  docs/3.0/resources/upgrade-to-prefect-3.mdx
Labels: docs

#15277 fix inconsistent word in upgrade guide
  docs/3.0/resources/upgrade-to-prefect-3.mdx
Labels: docs

#15272 Notification security controls
  src/prefect/blocks/notifications.py
  src/prefect/blocks/webhook.py
  src/prefect/utilities/urls.py
  tests/blocks/test_notifications.py
  tests/blocks/test_webhook.py
  tests/utilities/test_urls.py
Labels: enhancement, security

#15273 Refactor some concurrency utilities to be sync_compatible
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/sync.py
  src/prefect/concurrency/v1/asyncio.py
  src/prefect/concurrency/v1/sync.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_sync.py
  tests/concurrency/v1/test_concurrency_sync.py
  tests/test_task_engine.py
Labels: development

#15285 Minor edits to the upgrade and what's new docs
  docs/3.0/resources/upgrade-to-prefect-3.mdx
  docs/3.0/resources/whats-new-prefect-3.mdx
Labels: docs

#15286 Move expensive filter to AND
  src/prefect/server/services/cancellation_cleanup.py
Labels: bug, great writeup, performance

#15288 Add some more nuance to labeler
  .github/workflows/copy-linked-issue-labels.yml
Labels: development

#15269 Add a ResumeFlowRun automations action
  .pre-commit-config.yaml
  docs/3.0/api-ref/rest-api/server/schema.json
  src/prefect/events/actions.py
  src/prefect/server/api/clients.py
  src/prefect/server/events/actions.py
  tests/events/server/actions/test_resuming_flow_run.py
  tests/server/api/test_clients.py
Labels: docs, feature

#15292 Fix query for subflow cancellation
  .github/workflows/python-tests.yaml
  flows/worker.py
  requirements-client.txt
  src/prefect/server/services/cancellation_cleanup.py
Labels: fix, upstream dependency, 2.x

#15264 Use `ResultStore` by default for task transactions
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/objects.py
  src/prefect/context.py
  src/prefect/flow_engine.py
  src/prefect/main.py
  src/prefect/records/filesystem.py
  src/prefect/results.py
  src/prefect/states.py
  src/prefect/task_engine.py
  src/prefect/testing/utilities.py
  src/prefect/transactions.py
  src/prefect/utilities/engine.py
  tests/results/test_flow_results.py
  tests/results/test_result_store.py
  tests/results/test_task_results.py
  tests/test_context.py
  tests/test_locking.py
  tests/test_states.py
  tests/test_task_engine.py
  tests/test_tasks.py
  tests/test_transactions.py
Labels: development

#15303 Update integrations docs
  docs/3.0/develop/blocks.mdx
  docs/integrations/use-integrations.mdx
Labels: docs

#15304 Remove feature flag for nested task runs on the run graph
  ui/src/compositions/useCreateCan.ts
Labels: development

#15294 Reduce test matrix
  .github/workflows/integration-tests.yaml
  .github/workflows/python-tests.yaml
Labels: development, 2.x

#15307 Create `FilesystemLockManager`
  src/prefect/locking/filesystem.py
  tests/test_locking.py
Labels: enhancement

#15311 Disable HTTP2 by default
  docs/3.0/api-ref/rest-api/server/schema.json
  src/prefect/settings.py
Labels: docs, great writeup

#15312 Disable HTTP2 by default
  src/prefect/settings.py
Labels: 2.x

#15315 reintroduce job model for `prefect-databricks` in 2.x
  src/integrations/prefect-databricks/prefect_databricks/models/jobs.py
Labels: 2.x

#15313 reintroduce job model for `prefect-databricks`
  src/integrations/prefect-databricks/prefect_databricks/models/jobs.py
Labels: bug, integrations

#15297 Concurrency limit UX enhancements: add `strict` mode
  docs/3.0/api-ref/rest-api/server/schema.json
  src/prefect/_internal/compatibility/deprecated.py
  src/prefect/client/orchestration.py
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/services.py
  src/prefect/concurrency/sync.py
  src/prefect/server/api/concurrency_limits_v2.py
  src/prefect/server/models/concurrency_limits_v2.py
  tests/_internal/compatibility/test_deprecated.py
  tests/concurrency/test_acquire_concurrency_slots.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_sync.py
  tests/concurrency/v1/test_increment_concurrency_limits.py
  tests/runner/test_runner.py
  tests/server/models/test_concurrency_limits_v2.py
  tests/server/orchestration/api/test_concurrency_limits_v2.py
  tests/test_logging.py
  tests/test_settings.py
  tests/workers/test_base_worker.py
Labels: enhancement, docs

#15270 2.x add cached completion hooks
  src/prefect/engine.py
  src/prefect/settings.py
  tests/test_tasks.py
Labels: 2.x

#15318 Update `DbtCoreOperation` docstring 2.x
  src/integrations/prefect-dbt/prefect_dbt/cli/commands.py
Labels: development, integrations, 2.x

#15317 Update `DbtCoreOperation` docstring
  src/integrations/prefect-dbt/prefect_dbt/cli/commands.py
Labels: bug, development, integrations

#15314 Add deprecation warnings to all `RecordStore` implementations
  src/prefect/records/base.py
  src/prefect/records/filesystem.py
  src/prefect/records/memory.py
  src/prefect/records/result_store.py
  src/prefect/transactions.py
  tests/records/deprecation.py
  tests/test_transactions.py
Labels: development

#15310 Remove some ancient deprecations
  src/integrations/prefect-sqlalchemy/prefect_sqlalchemy/__init__.py
  src/integrations/prefect-sqlalchemy/prefect_sqlalchemy/credentials.py
  src/prefect/client/orchestration.py
  src/prefect/logging/handlers.py
  src/prefect/logging/loggers.py
  tests/client/test_prefect_client.py
  tests/test_logging.py
Labels: development

#15299 Update transactions docs
  docs/3.0/develop/transactions.mdx
Labels: docs

#15326 add `for_each` trigger example
  docs/3.0/automate/events/automations-triggers.mdx
Labels: docs

#15341 Fix issue where `DaskTaskRunner` was attempting to create a duplicate cluster
  src/integrations/prefect-dask/prefect_dask/task_runners.py
  src/integrations/prefect-dask/tests/test_task_runners.py
Labels: bug

#15320 Replace `RedisRecordStore` with `RedisLockManager`
  src/integrations/prefect-redis/prefect_redis/locking.py
  src/integrations/prefect-redis/tests/test_locking.py
  src/integrations/prefect-redis/tests/test_records.py
Labels: development

#15323 Add deprecation warnings to results classes and methods
  setup.cfg
  src/prefect/client/schemas/actions.py
  src/prefect/results.py
  src/prefect/states.py
  src/prefect/transactions.py
  tests/blocks/test_core.py
  tests/blocks/test_system.py
  tests/cli/test_block.py
  tests/cli/test_deploy.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/fixtures/deprecation.py
  tests/records/test_filesystem.py
  tests/records/test_memory.py
  tests/results/test_persisted_result.py
  tests/results/test_result_store.py
  tests/results/test_state_result.py
  tests/server/models/test_concurrency_limits_v2.py
  tests/server/orchestration/api/test_block_types.py
  tests/server/orchestration/api/test_concurrency_limits_v2.py
  tests/server/orchestration/test_core_policy.py
  tests/test_states.py
  tests/test_task_engine.py
  tests/test_transactions.py
  tests/utilities/test_templating.py
  tests/utilities/test_urls.py
Labels: development

#15349 Ensure all tags are used in concurrency limiter
  src/prefect/task_engine.py
  tests/test_task_engine.py
Labels: bug

#15348 Set propagate to false for extra loggers
  src/prefect/logging/logging.yml
Labels: bug, question, breaking change

#15354 Make `prefect_test_harness` startup timeout configurable
  src/prefect/testing/utilities.py
  tests/testing/test_utilites.py
Labels: bug, enhancement

#15342 Allow child transactions to access parent values set after child transaction opens
  src/prefect/transactions.py
  tests/test_transactions.py
Labels: bug

#15357 Dont propagate extra loggers through root logger
  src/prefect/logging/logging.yml
Labels: enhancement, 2.x

#15358 Fix resolution of implicit relative import when using `safe_load_namespace`
  src/prefect/utilities/importtools.py
  tests/utilities/test_importtools.py
Labels: bug

#15360 Update logging.mdx to fix title display
  docs/3.0/develop/logging.mdx
Labels: docs

#15363 backport deep merge logic for env
  src/prefect/server/models/workers.py
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Labels: fix, 2.x

#15355 Correctly handles recurring automations and future events
  src/prefect/server/events/triggers.py
  tests/events/server/triggers/test_regressions.py
Labels: bug

#15367 Fix broken image link and update formatting in prefect-dbt
  docs/integrations/prefect-dbt/index.mdx
Labels: docs

#15365 Fix deployment-concurrency-limiting-GCL lifecycle management
  src/prefect/client/orchestration.py
  src/prefect/runner/runner.py
  src/prefect/workers/base.py
  tests/fixtures/database.py
  tests/runner/test_runner.py
  tests/workers/test_base_worker.py
Labels: enhancement

#15062 Get `/models` passing mypy checks.
  .pre-commit-config.yaml
  docs/3.0/api-ref/rest-api/server/schema.json
  src/prefect/blocks/core.py
  src/prefect/server/database/interface.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/database/query_components.py
  src/prefect/server/models/block_documents.py
  src/prefect/server/models/block_registration.py
  src/prefect/server/models/block_schemas.py
  src/prefect/server/models/block_types.py
  src/prefect/server/models/csrf_token.py
  src/prefect/server/models/deployments.py
  src/prefect/server/models/flow_run_notification_policies.py
  src/prefect/server/models/flow_run_states.py
  src/prefect/server/models/flow_runs.py
  src/prefect/server/models/logs.py
  src/prefect/server/models/saved_searches.py
  src/prefect/server/models/task_run_states.py
  src/prefect/server/models/task_runs.py
  src/prefect/server/models/task_workers.py
  src/prefect/server/models/work_queues.py
  src/prefect/server/models/workers.py
  src/prefect/utilities/collections.py
  tests/server/models/test_flow_runs.py
  tests/test_tasks.py
Labels: docs

#15379 Refactors `__add__` and `__sub__` on cache policies
  src/prefect/cache_policies.py
  tests/test_cache_policies.py
Labels: development

#15327 Improve type hinting docs for sync_compatible
  src/prefect/utilities/asyncutils.py
Labels: bug

#15393 preserve `flow.name` with `RunnerDeployment.from_storage`
  src/prefect/deployments/runner.py
  src/prefect/flows.py
  tests/test_flows.py
Labels: bug, fix

#15392 Lazy import `ray` to fix server startup issues
  src/integrations/prefect-ray/prefect_ray/task_runners.py
Labels: bug, development, integrations

#15396 Adds settings to control server CORS configuration
  docs/3.0/api-ref/rest-api/server/schema.json
  src/prefect/server/api/server.py
  src/prefect/settings.py
  tests/server/api/test_server.py
Labels: enhancement, docs

#15291 Creates `ConcurrencyOptions` pydantic model.
  docs/3.0/api-ref/rest-api/server/schema.json
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2024_09_11_090317_555ed31b284d_add_concurrency_options.py
  src/prefect/server/database/migrations/versions/sqlite/2024_09_11_090106_7d6350aea855_add_concurrency_options.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/deployments.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  tests/server/models/test_deployments.py
Labels: enhancement, docs, concurrency, migration

#15400 handle unnamed lambdas for consistency
  src/prefect/flows.py
  tests/test_flows.py
Labels: fix

#15394 [2.x] preserve `flow.name` with `RunnerDeployment.from_storage`
  src/prefect/deployments/runner.py
  src/prefect/flows.py
  tests/test_flows.py
Labels: fix, 2.x

#15382 Add `key_storage`, `isolation_level` and `lock_manager` configuration to cache policies
  src/prefect/cache_policies.py
  src/prefect/locking/filesystem.py
  src/prefect/results.py
  src/prefect/task_engine.py
  src/prefect/transactions.py
  tests/test_cache_policies.py
  tests/test_tasks.py
  tests/test_transactions.py
Labels: feature

#15418 Fix task linking
  src/prefect/context.py
  src/prefect/utilities/engine.py
Labels: bug

#15421 Fix ephemeral server start command for Windows
  src/prefect/server/api/server.py
Labels: bug

#15423 Add environment variables from GCP secrets to cloud run job v2 workers
  src/integrations/prefect-gcp/prefect_gcp/models/cloud_run_v2.py
  src/integrations/prefect-gcp/prefect_gcp/workers/cloud_run_v2.py
  src/integrations/prefect-gcp/tests/test_cloud_run_worker_v2.py
Labels: enhancement

#15402 Adding support for insecure webhooks
  src/prefect/blocks/webhook.py
  tests/blocks/test_webhook.py
Labels: enhancement

#15397 Add docs for configuring storage and isolation for cache policies
  docs/3.0/develop/task-caching.mdx
Labels: docs

#15409 Prepare `prefect-redis` for `0.2.0` release
  docs/integrations/prefect-redis/index.mdx
  docs/integrations/prefect-redis/sdk.mdx
  docs/mint.json
  scripts/generate_sdk_docs.py
  setup.py
  src/integrations/prefect-redis/prefect_redis/__init__.py
  src/integrations/prefect-redis/prefect_redis/blocks.py
  src/integrations/prefect-redis/prefect_redis/credentials.py
  src/integrations/prefect-redis/prefect_redis/locking.py
  src/integrations/prefect-redis/prefect_redis/tasks.py
  src/integrations/prefect-redis/tests/test_blocks.py
  src/integrations/prefect-redis/tests/test_locking.py
  src/integrations/prefect-redis/tests/test_tasks.py
Labels: docs, integrations

#15424 Fix task run count when a task is configured with `retry_delay_seconds`
  src/prefect/task_engine.py
  tests/events/client/instrumentation/test_task_run_state_change_events.py
  tests/test_tasks.py
Labels: bug

#15425 Update deployment client API to take an Union type for `concurrency_limit`
  docs/3.0/api-ref/rest-api/server/schema.json
  src/prefect/cli/deploy.py
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  src/prefect/client/schemas/responses.py
  src/prefect/deployments/runner.py
  src/prefect/flows.py
  src/prefect/runner/runner.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/responses.py
  tests/cli/test_deploy.py
  tests/runner/test_runner.py
  tests/test_flows.py
Labels: docs

#15433 Fix bug where task cache storage is misconfigured
  src/prefect/results.py
  tests/results/test_task_results.py
  tests/test_tasks.py
Labels: fix

#15436 Update task engine to increment `run_count` when entering `RUNNING` state
  src/prefect/task_engine.py
  tests/events/client/instrumentation/test_task_run_state_change_events.py
Labels: fix

#15426 Improve deployment concurrency GCL management
  docs/3.0/api-ref/rest-api/server/schema.json
  src/prefect/client/schemas/filters.py
  src/prefect/client/schemas/responses.py
  src/prefect/runner/runner.py
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2024_09_16_152051_eaec5004771f_add_deployment_to_global_concurrency_.py
  src/prefect/server/database/migrations/versions/sqlite/2024_09_16_162719_4ad4658cbefe_add_deployment_to_global_concurrency_.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/deployments.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/responses.py
  src/prefect/workers/base.py
  tests/cli/test_deploy.py
  tests/client/test_prefect_client.py
  tests/runner/test_runner.py
  tests/server/models/test_concurrency_limits_v2.py
  tests/server/models/test_deployments.py
  tests/server/orchestration/api/test_deployments.py
  tests/test_flows.py
Labels: enhancement, docs, migration

#15445 Fix incorrect imports in task caching example
  docs/3.0/develop/task-caching.mdx
Labels: docs

#15439 add note on terminal unawaited coro
  docs/3.0/resources/upgrade-to-prefect-3.mdx
Labels: docs

#15467 Fix use of deprecated field on `websockets.exceptions.ConnectionClosedError`
  src/prefect/events/clients.py
Labels: development

#15457 Set up pytest-markdown-docs for documentation testing
  .github/workflows/markdown-tests.yaml
  docs/3.0/api-ref/rest-api/index.mdx
  docs/3.0/automate/add-schedules.mdx
  docs/3.0/automate/events/automations-triggers.mdx
  docs/3.0/automate/events/custom-triggers.mdx
  docs/3.0/deploy/index.mdx
  docs/3.0/deploy/infrastructure-examples/docker.mdx
  docs/3.0/develop/deferred-tasks.mdx
  docs/3.0/develop/inputs.mdx
  docs/3.0/develop/manage-states.mdx
  docs/3.0/develop/pause-resume.mdx
  docs/3.0/develop/results.mdx
  docs/3.0/develop/transactions.mdx
  docs/3.0/develop/write-flows.mdx
  docs/3.0/resources/big-data.mdx
  docs/3.0/resources/daemonize-processes.mdx
  docs/conftest.py
  docs/contribute/dev-contribute.mdx
  docs/contribute/styles-practices.mdx
  docs/integrations/prefect-azure/index.mdx
  docs/integrations/prefect-bitbucket/index.mdx
  docs/integrations/prefect-dask/index.mdx
  docs/integrations/prefect-dask/usage_guide.mdx
  docs/integrations/prefect-ray/index.mdx
  docs/integrations/prefect-snowflake/index.mdx
  docs/myproject/cool.py
  docs/myproject/db.py
  docs/myproject/flows.py
  docs/myproject/tasks.py
  requirements-markdown-tests.txt
  setup.py
Labels: development, docs

#15468 Add --collision-strategy to `prefect deploy` CLI.
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: enhancement

#15480 fix test
  .github/workflows/python-tests.yaml
  setup.py
  src/prefect/server/orchestration/core_policy.py
  src/prefect/server/orchestration/global_policy.py
  tests/_internal/test_integrations.py
  tests/server/models/test_flow_run_states.py
  tests/server/models/test_task_run_states.py
  tests/server/orchestration/test_policies.py
Labels: development

#15483 Use correct JSON schema dialect for param validation
  src/prefect/_internal/schemas/validators.py
Labels: bug, great writeup, fix

#15478 Use job status conditions to determine when a job is in a terminal state
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Labels: integrations, fix, 2.x

#15481 Add docs on securing webhooks with service accounts
  docs/3.0/automate/events/webhook-triggers.mdx
Labels: docs

#15487 Fix block reference load in async flow
  src/prefect/flows.py
  tests/blocks/test_block_reference.py
Labels: fix

#15493 Fix use of deprecated field on `websockets.exceptions.ConnectionClosedError`
  src/prefect/events/clients.py
Labels: development, 2.x

#15496 Allow oracle connection urls
  src/integrations/prefect-sqlalchemy/prefect_sqlalchemy/database.py
  src/integrations/prefect-sqlalchemy/tests/test_database.py
Labels: bug, integrations

#15484 Don't prompt custom image build for managed pools in `prefect deploy`
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: enhancement, cli

#15495 Fixes ugly table formatting from bash output in docs
  docs/3.0/deploy/infrastructure-concepts/work-pools.mdx
Labels: docs

#15499 Use `ConnectionComponents` components from `prefect-sqlalchemy` in `prefect-dbt`
  src/integrations/prefect-dbt/pyproject.toml
  src/integrations/prefect-dbt/tests/conftest.py
Labels: integrations, fix

#15502 Enhancement: Add `end_time` to flow run filters
  docs/3.0/api-ref/rest-api/server/schema.json
  src/prefect/server/schemas/filters.py
  tests/server/schemas/test_filters.py
Labels: docs

#15506 Add regression test for arbitrary state data
  tests/test_states.py
Labels: bug

#15472 Add 'Idempotency' section to transactions docs
  docs/3.0/develop/transactions.mdx
Labels: docs

#15518 use internal logger for `get_lost_followers` retries
  src/prefect/_internal/retries.py
Labels: development

#15517 Update global concurrency limits docs for removed create_if_missing behavior
  docs/3.0/develop/global-concurrency-limits.mdx
Labels: docs

#15520 Make `artifacts.mdx` markdown tests pass
  docs/3.0/api-ref/rest-api/index.mdx
  docs/3.0/develop/artifacts.mdx
  docs/conftest.py
Labels: docs

#15523 Bumps `pytest` and `pytest-asyncio` to the latest versions
  requirements-dev.txt
  setup.cfg
  tests/conftest.py
  tests/database/__init__.py
  tests/database/test_postgres.py
Labels: development, upstream dependency

#15494 Deploy docs overview improvements
  docs/3.0/deploy/index.mdx
  docs/3.0/resources/upgrade-to-prefect-3.mdx
  docs/3.0/resources/whats-new-prefect-3.mdx
Labels: enhancement, docs

#15524 Docs Prefect logo link to prefect.io
  docs/mint.json
Labels: docs

#15510 Fix dbt source freshness fail state
  src/integrations/prefect-dbt/prefect_dbt/cli/commands.py
  src/integrations/prefect-dbt/tests/cli/test_commands.py
Labels: bug

#15538 [2.x] Fix flow typing when passing return_state to a coroutine
  src/prefect/flows.py
Labels: 2.x

#15527 Docs for deployment concurrency limits
  docs/3.0/deploy/index.mdx
  docs/3.0/deploy/infrastructure-concepts/prefect-yaml.mdx
Labels: docs

#15514 Fix automations-triggers doc tests
  .github/workflows/markdown-tests.yaml
  docs/3.0/api-ref/rest-api/index.mdx
  docs/3.0/automate/events/automations-triggers.mdx
  docs/3.0/develop/artifacts.mdx
  docs/3.0/develop/global-concurrency-limits.mdx
  docs/conftest.py
  docs/myproject/db.py
  docs/myproject/utils.py
  requirements-markdown-tests.txt
Labels: docs

#15515 Update `transaction` context manager to default `write_on_commit` to `True`
  docs/3.0/develop/transactions.mdx
  src/prefect/transactions.py
Labels: docs

#15542 add `get_current_workspace` cloud client method
  src/prefect/cli/cloud/__init__.py
  src/prefect/client/cloud.py
  tests/client/test_cloud_client.py
Labels: development, cli

#15516 Update cache isolation example to show different behavior between isolation levels
  docs/3.0/develop/task-caching.mdx
Labels: docs

#15505 Update tasks to inherit the lock manager from a parent transaction if present
  src/prefect/results.py
  tests/test_tasks.py
Labels: bug

#15504 Enforces deployment concurrency with orchestration polices.
  docs/3.0/api-ref/rest-api/server/schema.json
  src/prefect/deployments/base.py
  src/prefect/server/api/dependencies.py
  src/prefect/server/api/flow_runs.py
  src/prefect/server/models/flow_runs.py
  src/prefect/server/orchestration/core_policy.py
  src/prefect/server/orchestration/dependencies.py
  src/prefect/settings.py
  tests/cli/test_deploy.py
  tests/fixtures/database.py
  tests/server/api/test_dependencies.py
  tests/server/models/test_flow_runs.py
  tests/server/orchestration/api/test_flow_runs.py
  tests/server/orchestration/test_core_policy.py
Labels: enhancement, docs

#15545 Update weekly RC workflow to a nightly development workflow
  .github/workflows/nightly-release.yaml
  .github/workflows/python-package.yaml
  .github/workflows/weekly-release.yaml
Labels: development, 3.x
