Repository PrefectHQ/prefect, pull requests merged in 2024-07, with the labels that each got.

#14419 handle join edge case in `ParameterTypeError.from_validation_error`
  src/prefect/exceptions.py
  tests/test_exceptions.py
Labels: fix

#14420 2.x port of #14419
  src/prefect/exceptions.py
  tests/test_exceptions.py
Labels: fix

#14436 Update deferred tasks example
  docs/3.0rc/develop/deferred-tasks.mdx
Labels: docs

#14394 Results docs
  docs/3.0rc/develop/results.mdx
  docs/3.0rc/develop/task-caching.mdx
Labels: docs

#14454 More docs style improvements from Vale
  docs/.vale.ini
  docs/3.0rc/deploy/infrastructure-concepts/prefect-yaml.mdx
  docs/3.0rc/deploy/infrastructure-concepts/work-pools.mdx
  docs/3.0rc/deploy/infrastructure-examples/serverless.mdx
  docs/3.0rc/develop/blocks.mdx
  docs/3.0rc/develop/deferred-tasks.mdx
  docs/3.0rc/develop/interact-with-data.mdx
  docs/3.0rc/develop/pause-resume.mdx
  docs/3.0rc/develop/write-tasks.mdx
  docs/3.0rc/get-started/install.mdx
  docs/3.0rc/get-started/quickstart.mdx
  docs/3.0rc/manage/cloud/index.mdx
  docs/3.0rc/manage/cloud/manage-users/manage-roles.mdx
  docs/3.0rc/manage/cloud/workspaces.mdx
  docs/3.0rc/resources/upgrade-agents-to-workers.mdx
  docs/3.0rc/resources/upgrade-prefect-3.mdx
  docs/contribute/styles-practices.mdx
  docs/getting-started/installation.mdx
  docs/integrations/prefect-azure/index.mdx
  docs/integrations/prefect-dbt/index.mdx
  docs/integrations/prefect-gcp/index.mdx
Labels: docs

#14409 Convert `flow_run_input` model utilities to use `orm_models`
  src/prefect/server/models/flow_run_input.py
Labels: maintenance

#14468 Update Prefect 3 upgrade page to include database migration
  docs/3.0rc/resources/upgrade-prefect-3.mdx
Labels: docs

#14469 Fix error in `flow-run` CLI log printing and escape special characters
  src/prefect/cli/flow_run.py
Labels: fix

#14472 Clarify usage for migration utility
  src/prefect/_internal/compatibility/migration.py
Labels: maintenance

#14473 Update validator usage for pydantic 2 in `RunInput` examples
  docs/3.0rc/develop/inputs.mdx
Labels: docs

#14475 Debug failing workflow
  .github/workflows/surface-high-engagement-issues.yml
  scripts/surface_high_engagement_issues.py
Labels: maintenance

#14465 Add `PrefectObjectRegistry` to list of removed classes
  src/prefect/_internal/compatibility/migration.py
  src/prefect/context.py
Labels: maintenance, 3.x

#14415 Convert `flow_run_states` model utilities to use `orm_models`
  src/prefect/server/models/flow_run_states.py
Labels: maintenance

#14479 Rework contribute page and minor docs fixes for formatting consistency
  docs/3.0rc/develop/artifacts.mdx
  docs/3.0rc/develop/blocks.mdx
  docs/3.0rc/develop/pause-resume.mdx
  docs/3.0rc/develop/test-workflows.mdx
  docs/3.0rc/develop/write-flows.mdx
  docs/3.0rc/manage/cloud/index.mdx
  docs/3.0rc/resources/cancel.mdx
  docs/3.0rc/resources/visualize-flow-structure.mdx
  docs/contribute/contribute-integrations.mdx
  docs/contribute/dev-contribute.mdx
Labels: docs

#14482 Ensure label on PRs for release notes
  .github/workflows/label-check.yml
Labels: maintenance

#14484 Simplify and refine upgrade guide language
  docs/3.0rc/resources/upgrade-prefect-3.mdx
Labels: docs

#14481 Release notes 3.0.0rc10
  RELEASE-NOTES.md
  scripts/generate-release-notes.py
Labels: maintenance

#14486 Fix latest release notes outside contributors section
  RELEASE-NOTES.md
  scripts/generate-release-notes.py
Labels: maintenance

#14496 Update code examples to that reference Prefect v2 to v3
  docs/3.0rc/automate/events/automations-triggers.mdx
  docs/3.0rc/deploy/infrastructure-concepts/customize.mdx
  docs/3.0rc/deploy/infrastructure-concepts/deploy-ci-cd.mdx
  docs/3.0rc/deploy/infrastructure-examples/kubernetes.mdx
  docs/3.0rc/deploy/infrastructure-examples/managed.mdx
  docs/3.0rc/develop/logging.mdx
  docs/3.0rc/develop/write-tasks.mdx
  docs/styles/CustomStyles/WordList.yml
Labels: docs

#14491 Adds overview page for Automate section and updates content for v3
  docs/3.0rc/automate/automate-overview.mdx
  docs/3.0rc/automate/events/automations-triggers.mdx
  docs/3.0rc/automate/events/events.mdx
  docs/3.0rc/automate/incidents.mdx
  docs/mint.json
Labels: docs

#14502 [docs] fixed a grammatical error in quickstart.mdx
  docs/3.0rc/get-started/quickstart.mdx
Labels: docs

#14488 Adds an overview page for the Develop section and minor other docs changes
  docs/.vale.ini
  docs/3.0rc/deploy/index.mdx
  docs/3.0rc/deploy/infrastructure-concepts/work-pools.mdx
  docs/3.0rc/deploy/infrastructure-examples/managed.mdx
  docs/3.0rc/develop/develop-overview.mdx
  docs/3.0rc/develop/pause-resume.mdx
  docs/3.0rc/resources/upgrade-agents-to-workers.mdx
  docs/mint.json
Labels: docs

#14495 Add Resources and Cloud and server overview section and reorganize Cloud overview
  docs/3.0rc/automate/events/webhook-triggers.mdx
  docs/3.0rc/automate/incidents.mdx
  docs/3.0rc/deploy/infrastructure-examples/managed.mdx
  docs/3.0rc/deploy/infrastructure-examples/serverless.mdx
  docs/3.0rc/manage/cloud/index.mdx
  docs/3.0rc/manage/cloud/troubleshoot-cloud.mdx
  docs/3.0rc/manage/cloud/workspaces.mdx
  docs/3.0rc/manage/manage-overview.mdx
  docs/3.0rc/manage/self-host.mdx
  docs/3.0rc/resources/cancel.mdx
  docs/3.0rc/resources/secrets.mdx
  docs/3.0rc/resources/upgrade-agents-to-workers.mdx
  docs/mint.json
  docs/styles/CustomStyles/WordList.yml
Labels: docs

#14503 Simplify Sidebar titles
  docs/3.0rc/automate/automate-overview.mdx
  docs/3.0rc/deploy/index.mdx
  docs/3.0rc/develop/develop-overview.mdx
  docs/3.0rc/manage/manage-overview.mdx
Labels: docs

#14505 Adding missing empty line to trigger list rendering in host.md
  docs/guides/host.md
Labels: docs

#14507 Remove redundant file and upate mint.json
  docs/getting-started/installation.mdx
  docs/mint.json
Labels: docs

#14413 Add workflow to enforce labels on PRs
  .github/workflows/label-check.yml
Labels: maintenance

#14480 Fix flaky `test_logs_message_when_submitted_tasks_end_in_pending` test
  tests/test_tasks.py
Labels: maintenance

#14485 Fix flaky `test_async_task_respects_retry_delay_second` test
  tests/test_task_engine.py
Labels: maintenance

#14512 Corrected "feild" typos in "Write and run flows" doc
  docs/3.0rc/develop/write-flows.mdx
Labels: docs

#14510 simplify-welcome-page
  docs/3.0rc/get-started/index.mdx
Labels: docs

#14514 Update index.mdx so builds
  docs/3.0rc/get-started/index.mdx
Labels: docs

#14513 do logging setup in `create_app`
  src/prefect/logging/loggers.py
  src/prefect/server/api/server.py
  tests/public/flows/test_previously_awaited_methods.py
Labels: maintenance

#14516 Fix docker worker volumes
  src/integrations/prefect-docker/prefect_docker/worker.py
  src/integrations/prefect-docker/tests/test_worker.py
Labels: fix

#14497 Depend on Cloud Run Execution state for timeout enforcement
  src/integrations/prefect-gcp/prefect_gcp/models/cloud_run_v2.py
  src/integrations/prefect-gcp/prefect_gcp/workers/cloud_run.py
  src/integrations/prefect-gcp/prefect_gcp/workers/cloud_run_v2.py
Labels: integrations

#14519 respect `--ui`/`--no-ui` flag on `prefect server start`
  src/prefect/cli/server.py
Labels: fix

#14520 2.x port of #14519
  src/prefect/cli/server.py
Labels: fix, 2.x

#14521 resolve hanging words
  docs/3.0rc/get-started/index.mdx
Labels: docs

#14511 Updates language around Prefect server and Cloud in the docs
  docs/3.0rc/api-ref/index.mdx
  docs/3.0rc/api-ref/rest-api/index.mdx
  docs/3.0rc/automate/automate-overview.mdx
  docs/3.0rc/deploy/infrastructure-concepts/store-flow-code.mdx
  docs/3.0rc/deploy/infrastructure-concepts/work-pools.mdx
  docs/3.0rc/deploy/run-flows-in-local-processes.mdx
  docs/3.0rc/develop/artifacts.mdx
  docs/3.0rc/develop/blocks.mdx
  docs/3.0rc/develop/deferred-tasks.mdx
  docs/3.0rc/develop/inputs.mdx
  docs/3.0rc/develop/interact-with-data.mdx
  docs/3.0rc/develop/variables.mdx
  docs/3.0rc/develop/write-flows.mdx
  docs/3.0rc/get-started/install.mdx
  docs/3.0rc/get-started/quickstart.mdx
  docs/3.0rc/manage/cloud/connect-to-cloud.mdx
  docs/3.0rc/manage/cloud/index.mdx
  docs/3.0rc/manage/manage-overview.mdx
  docs/3.0rc/manage/self-host.mdx
  docs/3.0rc/manage/settings-and-profiles.mdx
  docs/3.0rc/resources/daemonize-processes.mdx
  docs/3.0rc/resources/secrets.mdx
  docs/3.0rc/resources/upgrade-prefect-3.mdx
  docs/integrations/prefect-kubernetes/index.mdx
  docs/styles/CustomStyles/WordList.yml
Labels: docs

#14439 [2.x engine] Append task run futures only when entering task run engine from flow run context
  src/prefect/engine.py
  src/prefect/tasks.py
  tests/test_tasks.py
Labels: fix

#14530 Allow loading flows from an entrypoint when dependencies are missing
  src/prefect/cli/deploy.py
  src/prefect/flows.py
  src/prefect/runner/server.py
  tests/test_flows.py
Labels: enhancement

#14537 port `get_directory` fix (#14432)
  src/integrations/prefect-gcp/prefect_gcp/cloud_storage.py
  src/integrations/prefect-gcp/tests/test_cloud_storage.py
Labels: integrations, fix, 2.x

#14539 Consolidate issue templates
  .github/ISSUE_TEMPLATE/0_3x_bug_report.yaml
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/ISSUE_TEMPLATE/2_feature_enhancement.yaml
  .github/ISSUE_TEMPLATE/2_ui_bug_report.yaml
  .github/ISSUE_TEMPLATE/4_docs_change.yaml
  .github/ISSUE_TEMPLATE/5_maintenance_ticket.yaml
  .github/ISSUE_TEMPLATE/config.yml
Labels: enhancement

#14550 Remove old work queue components
  ui/.vscode/extensions.json
  ui/src/pages/WorkQueue.vue
  ui/src/pages/WorkQueueCreate.vue
  ui/src/pages/WorkQueueEdit.vue
  ui/src/pages/WorkQueues.vue
  ui/src/router/index.ts
Labels: maintenance, ui

#14493 Replace remaining instances of `db.<model>` in models with `orm_models`
  src/prefect/server/models/saved_searches.py
  src/prefect/server/models/task_run_states.py
  src/prefect/server/models/variables.py
Labels: maintenance

#14544 Style changes and updates so that the main docs pages pass Vale linting with no warnings or errors
  docs/.vale.ini
  docs/3.0rc/api-ref/index.mdx
  docs/3.0rc/automate/add-schedules.mdx
  docs/3.0rc/automate/events/automations-triggers.mdx
  docs/3.0rc/deploy/infrastructure-concepts/customize.mdx
  docs/3.0rc/deploy/infrastructure-concepts/store-flow-code.mdx
  docs/3.0rc/deploy/infrastructure-concepts/workers.mdx
  docs/3.0rc/deploy/infrastructure-examples/docker.mdx
  docs/3.0rc/deploy/infrastructure-examples/serverless.mdx
  docs/3.0rc/develop/artifacts.mdx
  docs/3.0rc/develop/deferred-tasks.mdx
  docs/3.0rc/develop/task-run-limits.mdx
  docs/3.0rc/manage/cloud/index.mdx
  docs/3.0rc/manage/cloud/manage-users/audit-logs.mdx
  docs/3.0rc/manage/cloud/manage-users/configure-sso.mdx
  docs/3.0rc/manage/cloud/manage-users/index.mdx
  docs/3.0rc/manage/cloud/manage-users/manage-roles.mdx
  docs/3.0rc/manage/cloud/troubleshoot-cloud.mdx
  docs/3.0rc/manage/cloud/workspaces.mdx
  docs/3.0rc/manage/settings-and-profiles.mdx
  docs/3.0rc/resources/big-data.mdx
  docs/3.0rc/resources/cancel.mdx
  docs/3.0rc/resources/recipes.mdx
  docs/3.0rc/resources/upgrade-agents-to-workers.mdx
  docs/3.0rc/resources/upgrade-prefect-3.mdx
  docs/integrations/prefect-aws/ecs_guide.mdx
  docs/integrations/prefect-ray/index.mdx
  docs/styles/CustomStyles/FirstPerson.yml
  docs/styles/CustomStyles/WordList.yml
  docs/styles/Google/FirstPerson.yml
Labels: docs

#14553 Adds reo to docs
  docs/script.js
Labels: maintenance, docs

#14548 Allow loading flows from an entrypoint when dependencies are missing (2.x)
  src/prefect/cli/deploy.py
  src/prefect/flows.py
  src/prefect/runner/server.py
  tests/test_flows.py
Labels: enhancement

#14463 Added print_func for run_namespaced_job
  src/integrations/prefect-kubernetes/prefect_kubernetes/flows.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/jobs.py
  src/integrations/prefect-kubernetes/tests/test_flows.py
Labels: integrations, fix

#14558 Removes the pdoc search index JS file
  docs/3.0rc/api-ref/search.js
Labels: maintenance, docs, security

#14546 Add CodSpeed to add additional tracking and metrics to benchmarks
  .github/workflows/benchmarks.yaml
  .github/workflows/codspeed-benchmarks.yaml
  benches/bench_cli.py
  benches/bench_flows.py
  benches/bench_import.py
  benches/bench_tasks.py
  requirements-dev.txt
Labels: maintenance

#14566 Remove spurious UI change in release notes.
  RELEASE-NOTES.md
Labels: maintenance

#14440 Remove `PREFECT_EXPERIMENTAL_ENABLE_EXTRA_RUNNER_ENDPOINTS` flag
  docs/3.0rc/api-ref/rest-api/server/schema.json
  src/prefect/runner/server.py
  src/prefect/runner/submit.py
  src/prefect/settings.py
  tests/runner/test_submit.py
  tests/runner/test_webserver.py
Labels: maintenance

#14569 fix(collections): update workflow permissions for tag creation
  .github/workflows/create-tags-for-changed-integrations.yaml
Labels: collections

#14567 Type hint Fix
  src/integrations/prefect-dbt/prefect_dbt/cloud/jobs.py
  src/prefect/cli/_prompts.py
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/utilities/engine.py
Labels: fix

#14572 Update release workflow to weekly
  .github/workflows/weekly-release.yaml
Labels: maintenance

#14555 Remove UI usage of deployment status & work queue status feature flags
  ui/src/maps/featureFlag.ts
  ui/src/types/flagResponse.ts
  ui/src/utilities/permissions.ts
Labels: maintenance, ui, 3.x

#14583 Removes the extra CODEOWNERS entry for events
  .github/CODEOWNERS
Labels: maintenance

#14584 Update `models/artifacts.py` to pass mypy checks
  .pre-commit-config.yaml
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/events.py
  src/prefect/concurrency/services.py
  src/prefect/concurrency/sync.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/agents.py
  src/prefect/server/models/artifacts.py
  src/prefect/server/models/flows.py
Labels: maintenance

#14333 Made Azure ACI infra names consistent regardless of flow name length
  src/integrations/prefect-azure/prefect_azure/workers/container_instance.py
  src/integrations/prefect-azure/tests/test_aci_worker.py
Labels: great writeup

#14568 Move loop creation into `BaseWorker` class
  src/prefect/cli/worker.py
  src/prefect/workers/base.py
  src/prefect/workers/server.py
  tests/cli/test_worker.py
  tests/workers/test_base_worker.py
Labels: enhancement

#14589 Enhancement: Cloud CTA dark mode button
  docs/mint.json
  docs/styles.css
Labels: enhancement, docs, cloud, 3.x

#14588 Update `models/configuration.py` to pass mypy checks
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/configuration.py
Labels: maintenance

#14590 Update `models/csrf_token.py` to pass mypy checks
  src/prefect/server/models/csrf_token.py
Labels: maintenance

#14587 Update concurrency limit model utilities to pass mypy checks
  .pre-commit-config.yaml
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/concurrency_limits.py
  src/prefect/server/models/concurrency_limits_v2.py
Labels: maintenance

#14586 fix(collections): pass github actor tagger to `create_repo_tag` function
  scripts/create_tags_for_changed_collections.py
Labels: collections

#14593 improve typing in `from_source`
  src/prefect/_internal/concurrency/api.py
  src/prefect/flows.py
Labels: maintenance

#14563 syncify `serve`
  src/prefect/flows.py
  src/prefect/runner/runner.py
  src/prefect/utilities/asyncutils.py
  tests/runner/test_runner.py
  tests/runner/test_webserver.py
  tests/test_flows.py
Labels: fix

#14591 Info logging around transaction hooks
  src/prefect/transactions.py
  tests/test_tasks.py
Labels: enhancement, 3.x

#14595 Update `models/deployment.py` to pass mypy checks
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/deployments.py
Labels: maintenance

#14596 Update `models/events.py` to pass mypy checks
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/events.py
Labels: maintenance

#14592 bump anyio
  requirements-client.txt
Labels: maintenance, 2.x

#14594 Fix title formatting of code sample scripts in serve docs
  docs/3.0rc/deploy/run-flows-in-local-processes.mdx
Labels: docs

#13165 Add root flow run id to runtime
  src/prefect/runtime/flow_run.py
  tests/runtime/test_flow_run.py
Labels: enhancement, status:waiting for maintainer

#14601 Add retries to Write tasks page
  docs/3.0rc/develop/write-tasks.mdx
Labels: docs

#14608 Adds `wait` utility for `PrefectFutures`
  src/prefect/futures.py
  tests/test_futures.py
Labels: feature, 3.x

#14616 Refactors event causal ordering to be reusable by multiple consumers
  src/prefect/server/database/migrations/versions/postgresql/2024_07_15_145240_7495a5013e7e_adding_scope_to_followers.py
  src/prefect/server/database/migrations/versions/sqlite/2024_07_15_145350_354f1ede7e9f_adding_scope_to_followers.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/events/ordering.py
  src/prefect/server/events/triggers.py
  tests/events/server/test_ordering.py
  tests/events/server/triggers/test_basics.py
  tests/events/server/triggers/test_regressions.py
  tests/events/server/triggers/test_service.py
Labels: enhancement, migration

#14612 retry `git_clone` pull step
  src/prefect/_internal/retries.py
  src/prefect/deployments/steps/pull.py
  tests/_internal/test_retries.py
  tests/deployment/test_steps.py
Labels: enhancement

#14622 Fix spelling typos
  docs/3.0rc/api-ref/rest-api/index.mdx
  docs/3.0rc/develop/blocks.mdx
  docs/3.0rc/develop/results.mdx
  docs/3.0rc/develop/write-flows.mdx
  docs/3.0rc/get-started/index.mdx
  docs/3.0rc/manage/cloud/manage-users/manage-roles.mdx
  docs/3.0rc/manage/cloud/workspaces.mdx
  docs/3.0rc/manage/manage-overview.mdx
Labels: docs

#14611 Remove cancellation from workers
  docs/3.0rc/api-ref/rest-api/server/schema.json
  docs/contribute/develop-a-new-worker-type.mdx
  src/integrations/prefect-aws/prefect_aws/workers/ecs_worker.py
  src/integrations/prefect-aws/tests/workers/test_ecs_worker.py
  src/integrations/prefect-azure/prefect_azure/workers/container_instance.py
  src/integrations/prefect-azure/tests/test_aci_worker.py
  src/integrations/prefect-docker/prefect_docker/worker.py
  src/integrations/prefect-docker/tests/test_worker.py
  src/integrations/prefect-gcp/prefect_gcp/workers/cloud_run.py
  src/integrations/prefect-gcp/prefect_gcp/workers/cloud_run_v2.py
  src/integrations/prefect-gcp/prefect_gcp/workers/vertex.py
  src/integrations/prefect-gcp/tests/test_cloud_run_worker.py
  src/integrations/prefect-gcp/tests/test_vertex_worker.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
  src/prefect/runner/runner.py
  src/prefect/settings.py
  src/prefect/workers/base.py
  src/prefect/workers/process.py
  tests/_internal/compatibility/test_experimental.py
  tests/cli/test_worker.py
  tests/conftest.py
  tests/events/client/instrumentation/test_events_workers_instrumentation.py
  tests/runner/test_runner.py
  tests/server/test_app.py
  tests/workers/test_base_worker.py
  tests/workers/test_process_worker.py
Labels: enhancement

#14626 Adds more detail to task run state change events, including the full task run
  src/prefect/client/schemas/objects.py
  src/prefect/utilities/engine.py
  tests/events/client/instrumentation/test_task_run_state_change_events.py
Labels: enhancement

#14536 port task worker api
  docs/3.0rc/api-ref/rest-api/server/schema.json
  docs/3.0rc/api-ref/rest-api/server/task-workers/read-task-workers.mdx
  docs/3.0rc/api-ref/server/task-workers/read-task-workers.mdx
  docs/mint.json
  src/prefect/client/cloud.py
  src/prefect/server/api/__init__.py
  src/prefect/server/api/server.py
  src/prefect/server/api/task_runs.py
  src/prefect/server/api/task_workers.py
  src/prefect/server/models/__init__.py
  src/prefect/server/models/task_workers.py
  src/prefect/task_worker.py
  tests/server/models/test_task_workers.py
  tests/server/orchestration/api/test_task_run_subscriptions.py
  tests/server/orchestration/api/test_task_workers.py
  tests/test_task_worker.py
Labels: feature

#14610 Update Write flows page
  docs/3.0rc/develop/write-flows.mdx
Labels: docs

#14627 scaffolding for client task run orchestration
  docs/3.0rc/api-ref/rest-api/server/schema.json
  src/prefect/server/api/server.py
  src/prefect/server/services/task_run_recorder.py
  src/prefect/settings.py
  src/prefect/utilities/engine.py
  tests/events/client/instrumentation/test_task_run_state_change_events.py
  tests/server/services/test_task_run_recorder.py
Labels: enhancement

#14633 update docker image builds to publish `3-latest` images
  .github/workflows/docker-images.yaml
Labels: maintenance

#14624 Check for spelling typos in docs as part of CI/CD
  .pre-commit-config.yaml
Labels: docs

#14649 Chore: Remove results tab from flow run page
  ui/src/pages/FlowRun.vue
Labels: maintenance, ui, 3.x

#14651 Fix excessive memory usage in flows with many tasks
  src/prefect/context.py
Labels: fix

#14652 Tweak marketing banner language.
  ui/src/pages/Dashboard.vue
Labels: maintenance, ui, 3.x

#14654 Run flow hooks in flow run context
  src/prefect/flow_engine.py
  tests/test_flows.py
Labels: enhancement

#14665 Fix runtime load from entrypoint
  src/prefect/flow_engine.py
  src/prefect/flows.py
  src/prefect/runner/runner.py
  tests/runner/test_runner.py
  tests/runner/test_webserver.py
  tests/test_flows.py
Labels: fix

#14670 Add some space below Next Run heading.
  ui/src/pages/Deployment.vue
Labels: enhancement, ui

#14661 Client Side Task Run Orchestration
  src/prefect/_internal/concurrency/services.py
  src/prefect/events/schemas/events.py
  src/prefect/task_engine.py
  src/prefect/tasks.py
  tests/_internal/concurrency/test_services.py
  tests/test_task_engine.py
Labels: enhancement

#14659 Update cron string for weekly release and release name
  .github/workflows/weekly-release.yaml
Labels: maintenance

#14660 Improve consistency of `sync_compatible` when running flows in remote environments
  src/prefect/utilities/asyncutils.py
  tests/deployment/test_base.py
  tests/test-projects/flows/uses_block.py
  tests/test_flow_engine.py
Labels: fix

#14673 add start time tracking
  src/prefect/task_engine.py
  tests/test_task_engine.py
Labels: enhancement

#14674 Updates de-normalized state fields during client-side orchestration
  src/prefect/task_engine.py
  tests/test_task_engine.py
Labels: experimental

#14679 Predictively updates the run IDs on `State.state_details` client-side
  src/prefect/task_engine.py
  tests/test_task_engine.py
Labels: experimental

#14680 Incrementing run counts during client-side task orchestration
  src/prefect/task_engine.py
  tests/test_task_engine.py
Labels: experimental

#14675 Removal 3 warnings
  requirements-client.txt
  src/integrations/prefect-kubernetes/prefect_kubernetes/jobs.py
  src/prefect/client/schemas/objects.py
  src/prefect/deployments/deployments.py
  src/prefect/engine.py
  src/prefect/workers/block.py
Labels: enhancement

#14681 set `end_time` during client-side task orchestration
  src/prefect/task_engine.py
  tests/test_task_engine.py
Labels: enhancement

#14683 client-side task orchestration - `IncrementRunTime`
  src/prefect/task_engine.py
  tests/test_task_engine.py
Labels: enhancement

#14684 client-side task orchestration - `SetExpectedStartTime`
  tests/test_task_engine.py
Labels: enhancement

#14669 Fix runtime case for `load_flow_from_entrypoint` in 2.x
  requirements.txt
  src/prefect/deployments/deployments.py
  src/prefect/engine.py
  src/prefect/flows.py
  tests/test_deployments.py
  tests/test_flows.py
Labels: 2.x

#14678 Fix typo in upgrade guide regarding calling async tasks/flows from sync tasks/flows
  docs/3.0rc/resources/upgrade-prefect-3.mdx
Labels: docs

#14691 Fix flow run error message on the runs page
  ui/src/pages/Runs.vue
Labels: ui, fix

#14686 Add `container_create_kwargs` to Docker worker
  src/integrations/prefect-docker/prefect_docker/worker.py
  src/integrations/prefect-docker/tests/test_worker.py
Labels: enhancement, integrations, 3.x

#14693 Add `container_create_kwargs` to Docker worker
  src/integrations/prefect-docker/prefect_docker/worker.py
  src/integrations/prefect-docker/tests/test_worker.py
Labels: enhancement, integrations, 2.x

#14700 Update issue labeling workflow
  .github/workflows/copy-linked-issue-labels.yml
Labels: maintenance, performance

#14664 Add missing imports to docs example
  docs/3.0rc/develop/write-flows.mdx
Labels: docs

#14662 Refactor transaction hook logging into task run engine
  src/prefect/task_engine.py
  src/prefect/transactions.py
Labels: enhancement, 3.x

#14704 Fix task key computation
  src/prefect/tasks.py
  tests/events/client/instrumentation/test_task_run_state_change_events.py
  tests/test_background_tasks.py
  tests/test_tasks.py
Labels: bug, 3.x, 2.x

#14707 fix task key comp for 2.x
  src/prefect/tasks.py
  tests/test_background_tasks.py
  tests/test_tasks.py
Labels: fix, 2.x

#14719 Remove DataDog from CI
  .github/workflows/python-tests.yaml
  requirements-dev.txt
Labels: development

#14720 Fix broken npm package update github action
  .github/workflows/npm_update_latest_prefect.yaml
Labels: development

#14570 Migrates to Kubernetes_asyncio for prefect 2.X
  src/integrations/prefect-kubernetes/README.md
  src/integrations/prefect-kubernetes/prefect_kubernetes/credentials.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/custom_objects.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/deployments.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/events.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/exceptions.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/flows.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/jobs.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/pods.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/services.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/utilities.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/pyproject.toml
  src/integrations/prefect-kubernetes/tests/conftest.py
  src/integrations/prefect-kubernetes/tests/test_credentials.py
  src/integrations/prefect-kubernetes/tests/test_custom_objects.py
  src/integrations/prefect-kubernetes/tests/test_deployments.py
  src/integrations/prefect-kubernetes/tests/test_events_replicator.py
  src/integrations/prefect-kubernetes/tests/test_flows.py
  src/integrations/prefect-kubernetes/tests/test_jobs.py
  src/integrations/prefect-kubernetes/tests/test_pods.py
  src/integrations/prefect-kubernetes/tests/test_services.py
  src/integrations/prefect-kubernetes/tests/test_utilities.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Labels: fix, 2.x

#14718 Expose enforce parameter schema flag on individual flow runs
  docs/3.0rc/api-ref/rest-api/server/schema.json
  src/prefect/client/schemas/actions.py
  src/prefect/server/api/deployments.py
  src/prefect/server/schemas/actions.py
  tests/server/orchestration/api/test_deployments.py
Labels: enhancement, v1-parity

#14715 Expose schema validation flag on deployment flow run create
  src/prefect/server/api/deployments.py
  src/prefect/server/schemas/actions.py
  tests/server/api/test_deployments.py
Labels: enhancement, api, 2.x

#14724 Update results docs examples
  docs/3.0rc/develop/results.mdx
Labels: docs

#13428 Fix authenticate bug and add unverified context
  src/integrations/prefect-email/prefect_email/credentials.py
  src/integrations/prefect-email/tests/test_credentials.py
Labels: enhancement

#14744 Remove unused function in results.py
  src/prefect/results.py
Labels: development

#14746 Always pass failed state to retry handlers and support async
  src/prefect/task_engine.py
  tests/test_task_engine.py
Labels: bug, 3.x

#14714 Add migration docs about final flow run state
  docs/3.0rc/develop/write-flows.mdx
  docs/3.0rc/resources/upgrade-prefect-3.mdx
Labels: docs

#14748 Remove stale settings
  docs/3.0rc/api-ref/rest-api/server/schema.json
  src/prefect/settings.py
  src/prefect/utilities/asyncutils.py
  tests/utilities/test_asyncutils.py
Labels: development

#14758 Remove notify job
  .github/workflows/python-tests.yaml
Labels: development

#14762 Update github auto-release notes template
  .github/release.yml
Labels: development, 2.x

#14763 Remove unnecessary config for releases
  .github/workflows/create-tags-for-changed-integrations.yaml
  scripts/create_tags_for_changed_collections.py
  scripts/generate-release-notes.py
Labels: 2.x

#14764 Remove unnecessary config for releases
  .github/release.yml
  .github/workflows/create-tags-for-changed-integrations.yaml
  scripts/create_tags_for_changed_collections.py
  scripts/generate-release-notes.py
Labels: development

#14641 Adds `as_completed` utility for `PrefectFuture`
  src/integrations/prefect-dask/tests/test_task_runners.py
  src/integrations/prefect-ray/prefect_ray/task_runners.py
  src/integrations/prefect-ray/tests/test_task_runners.py
  src/prefect/futures.py
  src/prefect/task_runs.py
  tests/test_futures.py
Labels: feature, concurrency, 3.x

#14743 Create an AsyncTaskRunEngine and wire it up to run async tasks
  src/prefect/client/orchestration.py
  src/prefect/client/utilities.py
  src/prefect/context.py
  src/prefect/flow_engine.py
  src/prefect/task_engine.py
  tests/test_flow_engine.py
  tests/test_task_engine.py
  tests/test_task_worker.py
Labels: bug, enhancement, 3.x

#14382 Move tag-based concurrency management into clients
  docs/3.0rc/api-ref/rest-api/server/schema.json
  src/prefect/client/orchestration.py
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/services.py
  src/prefect/concurrency/sync.py
  src/prefect/server/api/concurrency_limits_v2.py
  src/prefect/server/api/task_runs.py
  src/prefect/server/models/concurrency_limits_v2.py
  src/prefect/server/orchestration/core_policy.py
  src/prefect/task_engine.py
  tests/concurrency/test_acquire_concurrency_slots.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_slot_acquisition_service.py
  tests/concurrency/test_concurrency_sync.py
  tests/server/orchestration/api/test_task_runs.py
  tests/test_futures.py
  tests/test_task_engine.py
Labels: bug, enhancement, 3.x

#14771 Microsoft Teams Webhook Support for Power Automate (Workflows)
  src/prefect/blocks/notifications.py
  tests/blocks/test_notifications.py
Labels: bug, integrations, upstream dependency

#14703 Flow run logs csv download
  docs/3.0rc/api-ref/rest-api/server/flow-runs/download-logs.mdx
  docs/3.0rc/api-ref/rest-api/server/schema.json
  docs/mint.json
  src/prefect/server/api/flow_runs.py
  tests/server/orchestration/api/test_flow_runs.py
Labels: enhancement

#14741 Allow blocks in deployment params
  src/prefect/blocks/core.py
  src/prefect/flows.py
  src/prefect/utilities/schema_tools/validation.py
  tests/blocks/test_block_reference.py
Labels: enhancement

#14694 Add support for custom flow decorators to `prefect deploy`
  src/prefect/cli/deploy.py
  src/prefect/flows.py
  src/prefect/utilities/callables.py
  src/prefect/utilities/importtools.py
  tests/cli/test_deploy.py
  tests/test-projects/wrapped-flow-project/__init__.py
  tests/test-projects/wrapped-flow-project/flow.py
  tests/test-projects/wrapped-flow-project/missing_imports.py
  tests/test-projects/wrapped-flow-project/utils.py
  tests/test_flows.py
Labels: bug, fix

#14721 Transition rolled back tasks into `Completed(name="RolledBack")`
  src/prefect/task_engine.py
  tests/test_task_engine.py
  tests/test_tasks.py
Labels: enhancement, 3.x

#14791 Remove extra backtick in deployment docs
  future-docs/2.19.x/how-to-guides/work-pools/deploying-flows.mdx
Labels: docs

#14789 Return early from concurrency() and rate_limit() without limit names
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/sync.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_sync.py
Labels: enhancement

#14801 refactors how cluster_config is implemented
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Labels: bug, fix, 2.x

#14722 Automatically run a server in a subprocess if no API URL is specified
  .github/workflows/benchmarks.yaml
  benches/bench_flows.py
  docs/3.0rc/api-ref/rest-api/server/schema.json
  src/prefect/blocks/core.py
  src/prefect/cli/profile.py
  src/prefect/cli/root.py
  src/prefect/client/base.py
  src/prefect/client/orchestration.py
  src/prefect/events/worker.py
  src/prefect/profiles.toml
  src/prefect/server/api/server.py
  src/prefect/settings.py
  src/prefect/task_engine.py
  src/prefect/testing/fixtures.py
  tests/blocks/test_core.py
  tests/blocks/test_notifications.py
  tests/cli/test_block.py
  tests/cli/test_config.py
  tests/cli/test_profile.py
  tests/cli/test_version.py
  tests/cli/test_work_pool.py
  tests/client/test_base_client.py
  tests/client/test_cloud_client.py
  tests/client/test_prefect_client.py
  tests/concurrency/test_context.py
  tests/events/client/test_automations_server_compatibility.py
  tests/events/client/test_events_worker.py
  tests/events/server/actions/test_calling_webhook.py
  tests/fixtures/api.py
  tests/fixtures/client.py
  tests/fixtures/collections_registry.py
  tests/fixtures/database.py
  tests/runner/test_runner.py
  tests/runtime/test_flow_run.py
  tests/server/api/test_server.py
  tests/server/models/test_block_documents.py
  tests/server/orchestration/api/test_block_documents.py
  tests/server/orchestration/api/test_block_types.py
  tests/server/orchestration/api/test_deployments.py
  tests/server/orchestration/api/test_infra_overrides.py
  tests/server/orchestration/api/test_task_run_subscriptions.py
  tests/server/orchestration/api/test_task_workers.py
  tests/server/services/test_flow_run_notifications.py
  tests/test_background_tasks.py
  tests/test_context.py
  tests/test_flows.py
  tests/test_settings.py
  tests/utilities/test_urls.py
  tests/workers/test_base_worker.py
  tests/workers/test_utilities.py
Labels: enhancement

#14802 Fix setting of service account on Vertex AI jobs
  src/integrations/prefect-gcp/prefect_gcp/workers/vertex.py
  src/integrations/prefect-gcp/tests/test_vertex_worker.py
Labels: bug

#14816 Fix setting of service account on Vertex AI jobs
  src/integrations/prefect-gcp/prefect_gcp/workers/vertex.py
  src/integrations/prefect-gcp/tests/test_vertex_worker.py
Labels: fix

#14820 Waits for task runs in as completed test
  tests/test_futures.py
Labels: bug, fix, 3.x
