Repository PrefectHQ/prefect, pull requests merged in 2024-05, with the labels that each got.

#13176 Standardize work pool name as Process
  docs/concepts/work-pools.md
  src/prefect/server/api/collections_data/views/aggregate-worker-metadata.json
  src/prefect/workers/process.py
Labels: fix

#13132 update `collection-manager` for monorepo
  scripts/collections-manager
Labels: maintenance

#13190 [prefect-aws] Fix inclusion of commas in tag scrubbing
  src/integrations/prefect-aws/prefect_aws/workers/ecs_worker.py
  src/integrations/prefect-aws/tests/workers/test_ecs_worker.py
Labels: integrations, fix

#13143 Add `keep_container_group` to ACI worker
  src/integrations/prefect-azure/prefect_azure/workers/container_instance.py
  src/integrations/prefect-azure/tests/test_aci_worker.py
Labels: enhancement, integrations

#13186 Add columns to ORM `DeploymentSchedule` and add migrations
  src/prefect/server/database/migrations/versions/postgresql/2024_05_01_105401_b23c83a12cb4_add_catchup_fields_to_deploymentschedule.py
  src/prefect/server/database/migrations/versions/sqlite/2024_05_01_103824_20fbd53b3cef_add_catchup_fields_to_deploymentschedule.py
  src/prefect/server/database/orm_models.py
Labels: migration

#13192 Support for negative label values in `ResourceSpecification` and filters
  src/prefect/events/schemas/events.py
  src/prefect/server/events/filters.py
  src/prefect/server/events/schemas/events.py
  tests/events/client/test_resource_schema.py
  tests/events/server/test_events_queries.py
  tests/events/server/test_resource_schema.py
Labels: experimental

#13173 Adds third-party secrets guide
  docs/guides/index.md
  docs/guides/secrets.md
  mkdocs.yml
Labels: docs, from:sales

#13198 Clarify breaking changes in release notes
  RELEASE-NOTES.md
Labels: maintenance

#13202 Renaming `prefect.work-pool.not_ready` to `prefect.work-pool.not-ready`
  docs/concepts/automations.md
  src/prefect/server/models/events.py
  tests/server/api/test_workers.py
  tests/server/services/test_foreman.py
Labels: experimental

#13206 add server default for non-nullable deployment schedule column
  src/prefect/server/database/migrations/versions/postgresql/2024_05_01_105401_b23c83a12cb4_add_catchup_fields_to_deploymentschedule.py
  src/prefect/server/database/migrations/versions/sqlite/2024_05_01_103824_20fbd53b3cef_add_catchup_fields_to_deploymentschedule.py
Labels: migration

#13187 Update prefect-dbt index page
  docs/integrations/prefect-dbt/index.md
Labels: docs

#13216 Release notes 2.18.2
  RELEASE-NOTES.md
Labels: maintenance

#13221 Fix vue peer issue and update ui-library
  ui/package-lock.json
  ui/package.json
Labels: maintenance

#13223 Release notes for 2.18.3
  RELEASE-NOTES.md
Labels: maintenance

#13196 Add `prefect gcl inspect` cmd
  src/prefect/cli/global_concurrency_limit.py
  src/prefect/client/orchestration.py
  src/prefect/server/api/concurrency_limits_v2.py
  tests/cli/test_global_concurrency_limit.py
  tests/client/test_prefect_client.py
Labels: enhancement, needs:cloud-pr

#13214 Add ability to enable, disable and delete global concurrency limits via CLI
  src/prefect/cli/global_concurrency_limit.py
  tests/cli/test_global_concurrency_limit.py
Labels: enhancement

#13218 Add ability to update global concurrency limits via CLI
  src/prefect/cli/global_concurrency_limit.py
  src/prefect/client/schemas/actions.py
  src/prefect/server/models/concurrency_limits_v2.py
  src/prefect/server/schemas/actions.py
  src/prefect/types/__init__.py
  tests/cli/test_global_concurrency_limit.py
  tests/server/models/test_concurrency_limits_v2.py
Labels: enhancement, needs:cloud-pr

#13222 add tests for self-validating types
  tests/types/__init__.py
  tests/types/test_self_validating_types.py
Labels: maintenance

#12964 Pre-built dbt Tasks
  .gitignore
  docs/integrations/prefect-dbt/cli/tasks.md
  src/integrations/prefect-dbt/prefect_dbt/cli/commands.py
  src/integrations/prefect-dbt/prefect_dbt/cli/tasks.py
  src/integrations/prefect-dbt/tests/cli/test_commands.py
  src/integrations/prefect-dbt/tests/cli/test_tasks.py
Labels: integrations, feature

#13237 Small adjustments from GitHub actions audit
  .github/workflows/benchmarks.yaml
  .github/workflows/validate_worker_metadata.yaml
Labels: maintenance

#13155 Allow the registry conflict warning to be disabled
  src/prefect/flows.py
  src/prefect/settings.py
  src/prefect/tasks.py
  tests/test_tasks.py
Labels: enhancement

#13193 Update concepts->block to reflect product updates
  docs/concepts/blocks.md
  docs/img/ui/block-library.png
Labels: docs

#13229 Fix create integration tags
  .github/workflows/create-tags-for-changed-integrations.yaml
  scripts/create_tags_for_changed_collections.py
Labels: maintenance

#13258 Switch docs example repo links to prefecthq repos
  docs/getting-started/quickstart.md
  docs/guides/ci-cd.md
  docs/guides/deployment/storage-guide.md
  docs/guides/managed-execution.md
  docs/guides/prefect-deploy.md
  docs/tutorial/work-pools.md
Labels: docs

#13257 remove `dataclass` from custom constrained types
  src/prefect/types/__init__.py
Labels: maintenance

#13233 Add ability to create global concurrency limits on the command line
  src/prefect/cli/global_concurrency_limit.py
  src/prefect/client/schemas/actions.py
  src/prefect/server/schemas/actions.py
  tests/cli/test_global_concurrency_limit.py
  tests/server/models/test_concurrency_limits_v2.py
Labels: enhancement, needs:cloud-pr

#13266 [New Engine] Add crash detection for flow runs
  src/prefect/new_flow_engine.py
  tests/test_new_flow_engine.py
Labels: experimental

#13232 Simplify prefect-aws and prefect-dbt docs index pages
  docs/integrations/prefect-aws/index.md
  docs/integrations/prefect-dbt/index.md
Labels: docs

#13267 Chore: uncomment line now that the uniqueness constraint is dropped
  tests/test_artifacts.py
Labels: maintenance

#12915 New engine: parent task tracking
  src/prefect/client/schemas/objects.py
  src/prefect/new_flow_engine.py
  src/prefect/new_task_engine.py
  tests/test_new_flow_engine.py
  tests/test_new_task_engine.py
Labels: orchestration

#13239 Expand discussion of resolution order for cloud-provider service auth in doc
  docs/guides/secrets.md
Labels: docs

#13262 Support `timeout` on global concurrency limit slot acquisition
  src/prefect/_internal/concurrency/cancellation.py
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/sync.py
  src/prefect/new_task_engine.py
  src/prefect/utilities/timeout.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_sync.py
  tests/test_new_task_engine.py
Labels: enhancement

#13271 Consolidate run creation logic on Task
  src/prefect/client/orchestration.py
  src/prefect/new_flow_engine.py
  src/prefect/new_task_engine.py
  src/prefect/tasks.py
Labels: experimental

#13285 Remove conditional logic and checks for Python 3.7
  src/integrations/prefect-aws/tests/deployments/test_steps.py
  src/integrations/prefect-dask/tests/test_task_runners.py
  src/integrations/prefect-docker/tests/conftest.py
  src/integrations/prefect-docker/tests/deployments/test_steps.py
  src/integrations/prefect-ray/tests/test_task_runners.py
  src/prefect/__init__.py
  src/prefect/infrastructure/process.py
  src/prefect/logging/formatters.py
  src/prefect/runner/runner.py
  src/prefect/testing/utilities.py
  src/prefect/utilities/annotations.py
  src/prefect/workers/process.py
  tests/cli/test_deploy.py
  tests/conftest.py
  tests/deployment/test_base.py
  tests/server/services/test_loop_service.py
Labels: maintenance

#13304 Fix repo url typo in storage guide
  docs/guides/deployment/storage-guide.md
Labels: docs

#13294 Update storage-guide.md
  docs/guides/deployment/storage-guide.md
Labels: docs

#13290 Fix selecting correct files when using ignore file in `GcsBucket`'s `put_directory`
  src/integrations/prefect-gcp/prefect_gcp/cloud_storage.py
  src/integrations/prefect-gcp/tests/test_cloud_storage.py
Labels: integrations, fix

#13299 Add `Resuming` flow runs to `BypassCancellingFlowRunsWithNoInfra` orchestration policy
  src/prefect/server/orchestration/core_policy.py
  tests/server/orchestration/test_core_policy.py
Labels: fix

#13310 Adding extras for our major infrastructure and distributed task integrations
  setup.py
Labels: enhancement

#13311 Fix `apprise 1.8.0` imports
  src/prefect/blocks/notifications.py
Labels: fix

#13277 Update integration libraries
  docs/guides/dask-ray-task-runners.md
  docs/integrations/prefect-aws/index.md
  docs/integrations/prefect-azure/index.md
  docs/integrations/prefect-bitbucket/index.md
  docs/integrations/prefect-dask/index.md
  docs/integrations/prefect-dask/usage_guide.md
  docs/integrations/prefect-databricks/index.md
  docs/integrations/prefect-dbt/index.md
  docs/integrations/prefect-docker/index.md
  docs/integrations/prefect-email/index.md
  docs/integrations/prefect-gcp/index.md
  docs/integrations/prefect-github/index.md
  docs/integrations/prefect-gitlab/index.md
  docs/integrations/prefect-kubernetes/index.md
  docs/integrations/prefect-shell/index.md
  src/integrations/prefect-gcp/pyproject.toml
Labels: docs, DONT MERGE

#13284 Move `serve` to `flows` submodule
  src/prefect/__init__.py
  src/prefect/flows.py
  src/prefect/runner/__init__.py
  src/prefect/runner/runner.py
Labels: maintenance

#13320 Adds the remaining integrations as `extra`s
  setup.py
Labels: enhancement, collections

#13319 Release notes 2.19.0
  RELEASE-NOTES.md
Labels: maintenance

#13321 Add Python 3.12 to list of Docker images in docs
  docs/guides/docker.md
Labels: docs

#13276 Allow client-provided ID when creating a task run
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/actions.py
  src/prefect/new_task_engine.py
  src/prefect/server/api/task_runs.py
  src/prefect/server/schemas/actions.py
  src/prefect/tasks.py
  tests/server/api/test_task_runs.py
  tests/test_new_task_engine.py
Labels: experimental

#13322 Add 2.19 to compatibility tests
  .github/workflows/integration-tests.yaml
Labels: maintenance

#13329 Pin the lower bounds of `pydantic` and `sqlalchemy` for 3.x line
  .github/workflows/python-tests.yaml
  requirements-client.txt
  requirements.txt
Labels: dependencies

#13330 rm `not HAS_PYDANTIC_v2` branch of conditional imports from top level modules
  src/prefect/context.py
  src/prefect/filesystems.py
  src/prefect/flows.py
  src/prefect/results.py
  src/prefect/serializers.py
  src/prefect/settings.py
Labels: maintenance

#13293 Create and manage automations in the UI
  ui/.vscode/settings.json
  ui/src/components/AutomationActionTypeSelect.vue
  ui/src/components/AutomationCard.vue
  ui/src/components/AutomationTriggerJsonInput.vue
  ui/src/components/AutomationTriggerTemplateSelect.vue
  ui/src/components/AutomationWizard.vue
  ui/src/components/AutomationWizardAction.vue
  ui/src/components/AutomationWizardStepActions.vue
  ui/src/components/AutomationWizardStepDetails.vue
  ui/src/components/AutomationWizardStepTrigger.vue
  ui/src/components/ContextSidebar.vue
  ui/src/maps/automation.ts
  ui/src/maps/index.ts
  ui/src/pages/Automation.vue
  ui/src/pages/AutomationCreate.vue
  ui/src/pages/AutomationEdit.vue
  ui/src/pages/Automations.vue
  ui/src/router/index.ts
  ui/src/services/automationsApi.ts
  ui/src/shims-vue.d.ts
  ui/src/types/automation.ts
  ui/src/types/automationCreate.ts
  ui/src/types/automationCreateRequest.ts
  ui/src/types/automationResponse.ts
  ui/src/utilities/api.ts
Labels: feature, ui

#13336 Add changes from PR review of 13293
  ui/src/components/AutomationTriggerTemplateSelect.vue
  ui/src/pages/Automations.vue
Labels: maintenance

#13317 Remove deprecated `git_clone_project` in `deployment.steps`
  src/prefect/deployments/steps/__init__.py
  src/prefect/deployments/steps/pull.py
Labels: maintenance, breaking

#13340 removing pydantic v1 conditional imports pt 2
  src/prefect/blocks/core.py
  src/prefect/blocks/fields.py
  src/prefect/blocks/kubernetes.py
  src/prefect/blocks/notifications.py
  src/prefect/blocks/system.py
  src/prefect/blocks/webhook.py
  src/prefect/cli/cloud/__init__.py
  src/prefect/cli/config.py
  src/prefect/cli/deploy.py
  src/prefect/cli/global_concurrency_limit.py
Labels: maintenance

#13338 Defer imports for type annotations in `deployments` module under`TYPE_CHECKING` guard
  src/prefect/deployments/deployments.py
Labels: maintenance

#13308 DBT Tasks extra_command_args Fix
  src/integrations/prefect-dbt/prefect_dbt/cli/commands.py
  src/integrations/prefect-dbt/tests/cli/test_commands.py
Labels: integrations, fix

#13339 Defer import of Prefect client
  src/prefect/artifacts.py
  src/prefect/cli/_prompts.py
  src/prefect/cli/deploy.py
  src/prefect/cli/deployment.py
  src/prefect/concurrency/services.py
  src/prefect/deployments/deployments.py
  src/prefect/deprecated/packaging/file.py
  src/prefect/deprecated/packaging/orion.py
  src/prefect/flow_runs.py
  src/prefect/futures.py
  src/prefect/infrastructure/provisioners/__init__.py
  src/prefect/infrastructure/provisioners/cloud_run.py
  src/prefect/infrastructure/provisioners/container_instance.py
  src/prefect/infrastructure/provisioners/ecs.py
  src/prefect/infrastructure/provisioners/modal.py
  src/prefect/task_engine.py
  src/prefect/tasks.py
  src/prefect/testing/utilities.py
  src/prefect/utilities/engine.py
  src/prefect/workers/block.py
  tests/test_background_tasks.py
  tests/test_deployments.py
  tests/test_engine.py
Labels: maintenance

#13348 Create artifact for unsuccessful dbt task runs
  src/integrations/prefect-dbt/prefect_dbt/cli/commands.py
  src/integrations/prefect-dbt/tests/cli/test_commands.py
Labels: enhancement, integrations

#13347 Clean up and reorganize `__init__` to remove legacy Prefect 1.x references
  src/prefect/__init__.py
Labels: maintenance

#13343 Expose automations enabled ui-settings flag for consumption via the ui.
  src/prefect/_internal/compatibility/experimental.py
  src/prefect/server/api/automations.py
  src/prefect/settings.py
  tests/_internal/compatibility/test_experimental.py
  tests/server/test_app.py
Labels: maintenance, experimental

#13366 Remove `prefect deployment build` CLI from `main`
  src/prefect/cli/deployment.py
  tests/cli/deployment/test_deployment_build.py
Labels: breaking

#13264 [New Engine] Add flow run pause handling
  src/prefect/new_task_engine.py
  tests/cli/deployment/test_deployment_cli.py
  tests/conftest.py
  tests/events/client/test_automations_server_compatibility.py
  tests/events/server/triggers/test_service_changes.py
  tests/test_automations.py
  tests/test_new_flow_engine.py
Labels: experimental

#13368 Set `testpaths` for `pytest` to avoid default conftest conflict
  setup.cfg
Labels: maintenance

#13342 Create and manage automations in the UI
  ui/.vscode/settings.json
  ui/src/components/AutomationActionTypeSelect.vue
  ui/src/components/AutomationCard.vue
  ui/src/components/AutomationTriggerJsonInput.vue
  ui/src/components/AutomationTriggerTemplateSelect.vue
  ui/src/components/AutomationWizard.vue
  ui/src/components/AutomationWizardAction.vue
  ui/src/components/AutomationWizardStepActions.vue
  ui/src/components/AutomationWizardStepDetails.vue
  ui/src/components/AutomationWizardStepTrigger.vue
  ui/src/components/ContextSidebar.vue
  ui/src/maps/automation.ts
  ui/src/maps/featureFlag.ts
  ui/src/maps/index.ts
  ui/src/pages/Automation.vue
  ui/src/pages/AutomationCreate.vue
  ui/src/pages/AutomationEdit.vue
  ui/src/pages/Automations.vue
  ui/src/router/index.ts
  ui/src/services/automationsApi.ts
  ui/src/types/automation.ts
  ui/src/types/automationCreate.ts
  ui/src/types/automationCreateRequest.ts
  ui/src/types/automationResponse.ts
  ui/src/types/flagResponse.ts
  ui/src/utilities/api.ts
  ui/src/utilities/permissions.ts
Labels: ui, experimental

#13369 Set `testpaths` for `pytest` to avoid default conftest conflict - 2.x
  setup.cfg
Labels: maintenance

#13367 Remove prefect `deployment apply` CLI from `main`
  src/prefect/cli/deployment.py
  tests/cli/deployment/test_deployment_cli.py
Labels: breaking

#13374 Remove `PrefectAgent` class
  docs/api-ref/prefect/agent.md
  docs/api-ref/prefect/cli/agent.md
  docs/contributing/overview.md
  mkdocs.yml
  src/prefect/agent.py
  tests/agent/test_agent_deprecation.py
  tests/agent/test_agent_queue_selection.py
  tests/agent/test_agent_run_cancellation.py
  tests/agent/test_agent_run_submission.py
Labels: breaking

#13379 prefect-dbt artifact consolidation and markdown fixes
  src/integrations/prefect-dbt/prefect_dbt/cli/commands.py
  src/integrations/prefect-dbt/tests/cli/test_commands.py
Labels: bug, enhancement

#13385 Update Ray integration docs
  docs/integrations/prefect-dask/index.md
  docs/integrations/prefect-ray/index.md
Labels: docs

#13394 prefect-dbt - update dbt-core dependency
  src/integrations/prefect-dbt/pyproject.toml
Labels: fix

#13402 Update prefect-dbt dbt-core dependency
  src/integrations/prefect-dbt/pyproject.toml
Labels: maintenance

#13392 Add `deploy` integration test
  .github/workflows/integration-tests.yaml
  flows/deploy.py
  flows/deployment_apply.py
  flows/deployment_storage.py
  flows/prefect2_only/agent.py
  flows/prefect2_only/deployment_apply.py
  flows/prefect2_only/deployment_run.py
  flows/prefect2_only/deployment_storage.py
  scripts/run-integration-flows.py
Labels: maintenance

#13406 prefect-dbt - 2.x Cause unsuccessful dbt tasks to fail
  src/integrations/prefect-dbt/prefect_dbt/cli/commands.py
  src/integrations/prefect-dbt/tests/cli/test_commands.py
Labels: enhancement

#13408 Pin `prefect` version for integrations packages
  src/integrations/prefect-aws/pyproject.toml
  src/integrations/prefect-azure/pyproject.toml
  src/integrations/prefect-bitbucket/pyproject.toml
  src/integrations/prefect-dask/pyproject.toml
  src/integrations/prefect-databricks/pyproject.toml
  src/integrations/prefect-dbt/pyproject.toml
  src/integrations/prefect-docker/pyproject.toml
  src/integrations/prefect-email/pyproject.toml
  src/integrations/prefect-gcp/pyproject.toml
  src/integrations/prefect-gcp/tests/test_cloud_run_worker.py
  src/integrations/prefect-github/pyproject.toml
  src/integrations/prefect-gitlab/pyproject.toml
  src/integrations/prefect-kubernetes/pyproject.toml
  src/integrations/prefect-ray/pyproject.toml
  src/integrations/prefect-shell/pyproject.toml
  src/integrations/prefect-slack/pyproject.toml
  src/integrations/prefect-snowflake/pyproject.toml
  src/integrations/prefect-sqlalchemy/pyproject.toml
Labels: maintenance

#13373 Remove `deployments` module
  flows/prefect2_only/agent.py
  src/integrations/prefect-aws/prefect_aws/ecs.py
  src/prefect/cli/deployment.py
  src/prefect/deployments/__init__.py
  src/prefect/deployments/deployments.py
  src/prefect/deployments/flow_runs.py
  src/prefect/engine.py
  src/prefect/flows.py
  src/prefect/new_flow_engine.py
  src/prefect/runner/runner.py
  tests/deployment/test_flow_runs.py
  tests/test_deployments.py
  tests/test_flows.py
Labels: breaking

#13401 Remove old flow run infra override access checks
  ui/src/pages/FlowRun.vue
  ui/src/utilities/permissions.ts
Labels: fix

#13413 Remove infrastructure overrides check for 2.x -
  ui/package-lock.json
  ui/package.json
  ui/postcss.config.cjs
  ui/src/components/ContextSidebar.vue
  ui/src/components/FlowRunGraphs.vue
  ui/src/pages/AppRouterView.vue
  ui/tailwind.config.js
  ui/tailwind.config.ts
  ui/tsconfig.json
Labels: fix

#13412 2.19.1 Release Notes
  RELEASE-NOTES.md
Labels: maintenance

#13421 Fix jinja template in automations doc.
  docs/concepts/automations.md
Labels: docs

#13337 [New Engine] Add new `ThreadPoolTaskRunner` and new `PrefectFuture` implementation
  src/prefect/client/orchestration.py
  src/prefect/context.py
  src/prefect/flows.py
  src/prefect/new_flow_engine.py
  src/prefect/new_futures.py
  src/prefect/new_task_engine.py
  src/prefect/new_task_runners.py
  src/prefect/states.py
  src/prefect/tasks.py
  src/prefect/utilities/collections.py
  src/prefect/utilities/engine.py
  tests/client/test_prefect_client.py
  tests/test_new_flow_engine.py
  tests/test_new_futures.py
  tests/test_new_task_runners.py
  tests/test_tasks.py
Labels: experimental

#13417 Remove `EcsTask` from `main`
  src/integrations/prefect-aws/prefect_aws/__init__.py
  src/integrations/prefect-aws/prefect_aws/ecs.py
  src/integrations/prefect-aws/tests/test_ecs.py
Labels: breaking

#13427 Defer import of `temporary_database_interface` in testing utilities
  src/prefect/testing/utilities.py
Labels: maintenance

#13426 Lazily instantiate `asyncio.Event` in `EventPersister` for context safety
  src/prefect/server/events/services/event_persister.py
Labels: maintenance

#13431 [New Engine] Add the ability to map tasks
  src/prefect/new_task_engine.py
  src/prefect/new_task_runners.py
  src/prefect/tasks.py
  src/prefect/utilities/engine.py
  tests/test_new_task_runners.py
  tests/test_tasks.py
Labels: enhancement

#13422 Fix jinja template in automations doc.
  docs/concepts/automations.md
Labels: docs

#13292 enable cli autocompletion
  src/prefect/cli/root.py
Labels: enhancement

#13247 Edit of development section docs
  docs/guides/automations.md
  docs/guides/ci-cd.md
  docs/guides/creating-interactive-workflows.md
  docs/guides/global-concurrency-limits.md
  docs/guides/host.md
  docs/guides/runtime-context.md
  docs/guides/secrets.md
  docs/guides/variables.md
  docs/guides/webhooks.md
Labels: docs

#13430 Remove `Infrastructure`, `BlockWorker` from `main`
  src/integrations/prefect-azure/prefect_azure/container_instance.py
  src/integrations/prefect-gcp/prefect_gcp/models/cloud_run_v2.py
  src/prefect/_internal/schemas/validators.py
  src/prefect/infrastructure/__init__.py
  src/prefect/infrastructure/base.py
  src/prefect/workers/__init__.py
  src/prefect/workers/block.py
  tests/infrastructure/test_base.py
  tests/workers/test_block_worker.py
Labels: breaking

#13281 Improves import times by delaying imports when needed
  src/prefect/deployments/schedules.py
  src/prefect/flows.py
  src/prefect/runner/runner.py
  src/prefect/tasks.py
  tests/utilities/test_visualization.py
Labels: maintenance

#13437 Improves import times by delaying imports when needed
  src/prefect/deployments/schedules.py
  src/prefect/flows.py
  src/prefect/runner/runner.py
  src/prefect/tasks.py
  tests/utilities/test_visualization.py
Labels: maintenance

#13455 Fix issue with event loops being closed
  src/prefect/server/events/models/automations.py
Labels: migration

#13456 Fixes failing task tests for new engine
  src/prefect/cli/_types.py
  src/prefect/new_flow_engine.py
  src/prefect/new_task_engine.py
  tests/test_flows.py
  tests/test_tasks.py
Labels: enhancement, migration

#13465 Default `anchor_date` to `now`
  src/prefect/_internal/schemas/validators.py
  src/prefect/server/schemas/schedules.py
Labels: maintenance

#13467 Update Ray integration docs
  docs/integrations/prefect-ray/index.md
Labels: docs

#13448 Replace `declarative_mixin` with `DeclarativeBase` for all models
  src/prefect/server/api/ui/task_runs.py
  src/prefect/server/database/interface.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/database/query_components.py
  src/prefect/server/events/counting.py
  src/prefect/server/events/filters.py
  src/prefect/server/events/models/automations.py
  src/prefect/server/events/storage/database.py
  src/prefect/server/models/agents.py
  src/prefect/server/models/artifacts.py
  src/prefect/server/models/block_documents.py
  src/prefect/server/models/block_schemas.py
  src/prefect/server/models/block_types.py
  src/prefect/server/models/concurrency_limits.py
  src/prefect/server/models/concurrency_limits_v2.py
  src/prefect/server/models/configuration.py
  src/prefect/server/models/csrf_token.py
  src/prefect/server/models/deployments.py
  src/prefect/server/models/flow_run_notification_policies.py
  src/prefect/server/models/flow_runs.py
  src/prefect/server/models/flows.py
  src/prefect/server/models/logs.py
  src/prefect/server/models/task_runs.py
  src/prefect/server/models/variables.py
  src/prefect/server/models/work_queues.py
  src/prefect/server/models/workers.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/sorting.py
  src/prefect/server/services/cancellation_cleanup.py
  tests/fixtures/database.py
  tests/server/database/test_dependencies.py
  tests/server/database/test_queries.py
  tests/server/models/test_block_documents.py
  tests/server/models/test_block_schemas.py
  tests/server/models/test_csrf_token.py
  tests/server/models/test_deployments.py
  tests/server/schemas/test_filters.py
Labels: maintenance

#13474 Pin requests to <2.32.0
  requirements-dev.txt
Labels: maintenance

#13485 V2 schemas remaining client tests
  src/prefect/_internal/compatibility/deprecated.py
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/filters.py
  src/prefect/deployments/flow_runs.py
  src/prefect/testing/fixtures.py
  tests/client/test_prefect_client.py
Labels: maintenance

#13493 clarifying that variables can be json types, screenshot
  docs/guides/variables.md
  docs/img/ui/variables-ui.png
Labels: docs

#13489 Remove `@sync_compatible` from `apply_migrations`
  src/prefect/logging/handlers.py
  src/prefect/server/database/migrations/env.py
  tests/test_flows.py
Labels: maintenance, migration

#13497 Fix some tests in `tests/cli/test_flow_run.py`
  tests/cli/test_flow_run.py
Labels: maintenance

#13491 Add filter on task_run.expected_start_time
  src/prefect/server/schemas/filters.py
Labels: enhancement

#13510 Adds `flow_run_id` filter to `read_logs` call to prevent test cross-talk
  tests/test_tasks.py
Labels: maintenance

#13509 Remove `MinimalDeploymentSchedule` in favor of `DeploymentScheduleCre…
  src/prefect/_internal/schemas/validators.py
  src/prefect/cli/deployment.py
  src/prefect/cli/flow.py
  src/prefect/client/schemas/objects.py
  src/prefect/deployments/base.py
  src/prefect/deployments/runner.py
  src/prefect/deployments/schedules.py
  src/prefect/flows.py
  tests/deployment/test_schedules.py
  tests/runner/test_runner.py
Labels: maintenance

#13508 client side variable changes
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  src/prefect/variables.py
  tests/client/test_prefect_client.py
  tests/test_variables.py
Labels: enhancement, breaking

#13515 Only include `block_type_slug` when appropriate
  src/prefect/blocks/core.py
Labels: maintenance

#13516 Fix most `test_deployment_cli.py` tests
  tests/cli/deployment/test_deployment_cli.py
Labels: maintenance

#13517 Remove deprecated `prefect deployment set-schedule`, `pause-schedule` and `resume-schedule`
  docs/concepts/deployments-block-based.md
  src/prefect/cli/deployment.py
  tests/cli/deployment/test_deployment_cli.py
Labels: maintenance

#13477 Enable new engine experimental setting by default
  .github/workflows/benchmarks.yaml
  benches/__main__.py
  src/prefect/cli/dev.py
  src/prefect/new_flow_engine.py
  src/prefect/new_task_engine.py
  src/prefect/settings.py
  src/prefect/tasks.py
  tests/_internal/compatibility/test_experimental.py
  tests/blocks/test_core.py
  tests/blocks/test_notifications.py
  tests/cli/test_block.py
  tests/cli/test_work_queues.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/engine/reliability/test_deadlocks.py
  tests/events/client/instrumentation/test_block_events_instrumentation.py
  tests/events/client/test_events_related_from_context.py
  tests/events/client/test_events_worker.py
  tests/input/test_actions.py
  tests/input/test_run_input.py
  tests/public/flows/test_flow_crashes.py
  tests/public/flows/test_flow_timeouts.py
  tests/public/tasks/test_task_timeouts.py
  tests/results/test_flow_results.py
  tests/results/test_literal_result.py
  tests/results/test_result_factory.py
  tests/results/test_result_fetch.py
  tests/results/test_unknown_results.py
  tests/results/test_unpersisted_result.py
  tests/runner/test_storage.py
  tests/runner/test_submit.py
  tests/server/test_app.py
  tests/test_engine.py
  tests/test_filesystems.py
  tests/test_flows.py
  tests/test_futures.py
  tests/test_states.py
  tests/test_task_runners.py
  tests/test_task_server.py
  tests/test_variables.py
  tests/utilities/test_asyncutils.py
  tests/utilities/test_visualization.py
Labels: migration

#13520 variable cli updates
  src/prefect/cli/_types.py
  src/prefect/cli/variable.py
  tests/cli/test_variable.py
Labels: enhancement

#13526 Remove deprecated `PREFECT_CLOUD_URL` and corresponding tests
  src/prefect/settings.py
  tests/test_settings.py
Labels: maintenance

#13521 Add Event Feed and Event pages to the ui
  ui/src/components/ContextSidebar.vue
  ui/src/pages/Event.vue
  ui/src/pages/Events.vue
  ui/src/router/index.ts
Labels: feature, ui

#13529 Add utilities to serialize context to a dictionary and hydrate context from a dictionary
  src/prefect/context.py
  src/prefect/new_task_engine.py
  src/prefect/utilities/engine.py
  tests/test_context.py
  tests/test_new_task_engine.py
Labels: enhancement

#13539 Add 2.19 to compatibility tests in `2.x`
  .github/workflows/integration-tests.yaml
Labels: maintenance

#13540 fix hydration for workspace variables for `2.x`
  src/prefect/server/api/deployments.py
  src/prefect/server/api/flow_runs.py
  src/prefect/server/api/ui/schemas.py
  tests/server/api/test_deployments.py
  tests/server/api/test_flow_runs.py
  tests/utilities/schema_tools/test_hydration.py
Labels: fix

#13530 Use `serialize_as_any` when calling `model_dump_json` in `to_bytes` method of `PersistedResultBlob`
  src/prefect/results.py
Labels: maintenance

#13545 Fix `test_callables` tests
  tests/utilities/test_callables.py
Labels: maintenance

#13538 Pin requests to <2.32.0 for `2.x`
  requirements-dev.txt
Labels: maintenance

#13550 2.19.2 release notes
  RELEASE-NOTES.md
  scripts/generate-release-notes.py
Labels: maintenance

#13549 Add `deploy` integration test
  .github/workflows/integration-tests.yaml
  flows/deploy.py
  flows/deployment_apply.py
  flows/deployment_storage.py
  flows/prefect2_only/agent.py
  flows/prefect2_only/deployment_apply.py
  flows/prefect2_only/deployment_run.py
  flows/prefect2_only/deployment_storage.py
  scripts/run-integration-flows.py
Labels: maintenance

#13544 Add flow ui endpoints
  src/prefect/server/api/server.py
  src/prefect/server/api/ui/__init__.py
  src/prefect/server/api/ui/flows.py
  tests/server/api/ui/test_flows.py
Labels: enhancement

#13556 Always validate RRule timezone to fix tests in `test_flows.py`
  src/prefect/_internal/schemas/validators.py
  src/prefect/client/schemas/schedules.py
Labels: maintenance

#13596 Provide URL in CLI output upon work pool creation
  src/prefect/cli/work_pool.py
  src/prefect/client/schemas/objects.py
Labels: enhancement

#13597 [2.x] Provide URL in CLI output upon work pool creation
  src/prefect/cli/work_pool.py
  src/prefect/client/schemas/objects.py
Labels: enhancement

#13607 migrate `prefect-bitbucket` to pydantic v2
  src/integrations/prefect-bitbucket/prefect_bitbucket/credentials.py
  src/integrations/prefect-bitbucket/prefect_bitbucket/repository.py
  src/integrations/prefect-bitbucket/pyproject.toml
  src/integrations/prefect-bitbucket/tests/test_repository.py
Labels: maintenance

#13613 pin `pydantic>=2.7` for `Secret`
  requirements-client.txt
Labels: fix

#13618 update ui-library
  ui/package-lock.json
  ui/package.json
Labels: maintenance

#13315 Allow flow parameter schema generation when dependencies are missing
  src/prefect/cli/deploy.py
  src/prefect/flows.py
  src/prefect/utilities/callables.py
  src/prefect/utilities/importtools.py
  tests/test_flows.py
  tests/utilities/test_callables.py
  tests/utilities/test_importtools.py
Labels: enhancement

#13609 migrate `prefect-databricks` to pydantic 2
  src/integrations/prefect-databricks/prefect_databricks/credentials.py
  src/integrations/prefect-databricks/prefect_databricks/flows.py
  src/integrations/prefect-databricks/prefect_databricks/jobs.py
  src/integrations/prefect-databricks/prefect_databricks/models/jobs.py
  src/integrations/prefect-databricks/prefect_databricks/rest.py
  src/integrations/prefect-databricks/pyproject.toml
  src/integrations/prefect-databricks/tests/test_rest.py
Labels: maintenance, integrations

#13614 migrate `prefect-snowflake` to pydantic 2
  src/integrations/prefect-aws/pyproject.toml
  src/integrations/prefect-azure/pyproject.toml
  src/integrations/prefect-bitbucket/pyproject.toml
  src/integrations/prefect-dask/pyproject.toml
  src/integrations/prefect-databricks/pyproject.toml
  src/integrations/prefect-dbt/pyproject.toml
  src/integrations/prefect-docker/pyproject.toml
  src/integrations/prefect-email/pyproject.toml
  src/integrations/prefect-gcp/pyproject.toml
  src/integrations/prefect-github/pyproject.toml
  src/integrations/prefect-gitlab/pyproject.toml
  src/integrations/prefect-kubernetes/pyproject.toml
  src/integrations/prefect-ray/pyproject.toml
  src/integrations/prefect-shell/pyproject.toml
  src/integrations/prefect-slack/pyproject.toml
  src/integrations/prefect-snowflake/prefect_snowflake/credentials.py
  src/integrations/prefect-snowflake/prefect_snowflake/database.py
  src/integrations/prefect-snowflake/pyproject.toml
  src/integrations/prefect-snowflake/tests/conftest.py
  src/integrations/prefect-snowflake/tests/test_credentials.py
  src/integrations/prefect-snowflake/tests/test_database.py
  src/integrations/prefect-sqlalchemy/pyproject.toml
Labels: maintenance, integrations

#13622 Add block deprecation notices
  src/prefect/blocks/system.py
Labels: maintenance

#13619 Rename new engine modules and move pause/suspend/resume utitlies
  src/integrations/prefect-dask/prefect_dask/client.py
  src/integrations/prefect-ray/prefect_ray/task_runners.py
  src/integrations/prefect-ray/tests/test_task_runners.py
  src/prefect/__init__.py
  src/prefect/engine.py
  src/prefect/flow_engine.py
  src/prefect/flow_runs.py
  src/prefect/flows.py
  src/prefect/runner/submit.py
  src/prefect/task_engine.py
  src/prefect/task_runners.py
  src/prefect/task_server.py
  src/prefect/tasks.py
  src/prefect/utilities/engine.py
  src/prefect/workers/base.py
  tests/public/flows/test_flow_crashes.py
  tests/test_flow_engine.py
  tests/test_task_engine.py
Labels: maintenance

#13640 Cleanup for new docs
  .github/pull_request_template.md
  docs/script.js
Labels: docs

#13637 Move docker registry lifecycle management out of pytest
  .github/workflows/python-tests.yaml
  docker-compose.yml
  tests/fixtures/docker.py
Labels: maintenance

#13644 Give `test_can_use_working_tree_as_context` its own contexts folder
  tests/docker/contexts/tree-as-context/hello.txt
  tests/docker/test_image_builds.py
Labels: maintenance

#13647 Update CODEOWNERS
  .github/CODEOWNERS
Labels: maintenance

#13605 using new json variables ui
  ui/src/pages/Variables.vue
Labels: enhancement

#13594 Change the default value for `enforce_parameter_schema` from `False` to `True`
  docs/3.0rc/concepts/deployments-block-based.mdx
  src/prefect/cli/deploy.py
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  src/prefect/client/schemas/responses.py
  src/prefect/deployments/runner.py
  src/prefect/flows.py
  src/prefect/runner/runner.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/responses.py
  src/prefect/utilities/callables.py
  tests/cli/deployment/test_deployment_cli.py
  tests/cli/test_deploy.py
  tests/deployment/test_flow_runs.py
  tests/fixtures/database.py
  tests/runner/test_runner.py
  tests/runtime/test_flow_run.py
  tests/server/orchestration/api/test_deployments.py
  tests/utilities/test_callables.py
  tests/workers/test_base_worker.py
Labels: enhancement, docs

#13533 feat(cli): show latest blocks schema on `prefect block type inspect <slug>`
  src/prefect/cli/block.py
  tests/cli/test_block.py
Labels: enhancement

#13606 Prompt confirmation to any object deletion via CLI
  src/prefect/cli/artifact.py
  src/prefect/cli/block.py
  src/prefect/cli/cloud/webhook.py
  src/prefect/cli/concurrency_limit.py
  src/prefect/cli/config.py
  src/prefect/cli/deployment.py
  src/prefect/cli/flow_run.py
  src/prefect/cli/global_concurrency_limit.py
  src/prefect/cli/profile.py
  src/prefect/cli/variable.py
  src/prefect/cli/work_pool.py
  src/prefect/cli/work_queue.py
  src/prefect/client/cloud.py
  src/prefect/events/cli/automations.py
  tests/cli/test_artifact.py
  tests/cli/test_block.py
  tests/cli/test_config.py
  tests/cli/test_flow_run.py
  tests/cli/test_global_concurrency_limit.py
  tests/cli/test_profile.py
  tests/cli/test_variable.py
  tests/cli/test_work_pool.py
  tests/cli/test_work_queues.py
  tests/events/client/cli/test_automations.py
Labels: enhancement

#13661 Deployment schemas cleanup
  ui/package-lock.json
  ui/package.json
  ui/src/pages/FlowRun.vue
Labels: maintenance

#13660 Skip on cancellation hooks if runner cant load flow
  src/prefect/runner/runner.py
  tests/runner/test_runner.py
Labels: fix

#13620 Allow flow parameter schema generation when dependencies are missing
  src/prefect/cli/deploy.py
  src/prefect/flows.py
  src/prefect/utilities/callables.py
  src/prefect/utilities/importtools.py
  tests/test_flows.py
  tests/utilities/test_callables.py
  tests/utilities/test_importtools.py
Labels: enhancement

#13669 Skip on cancellation hooks if runner cant load flow
  setup.cfg
  src/prefect/runner/runner.py
  tests/runner/test_runner.py
Labels: fix

#13676 Add `prefect task serve` CLI command to start task server
  docs/3.0rc/api-ref/prefect/cli/task.mdx
  src/prefect/cli/__init__.py
  src/prefect/cli/task.py
  tests/cli/test_task.py
  tests/test-projects/tasks/household.py
  tests/test-projects/tasks/space.py
Labels: enhancement

#13626 Remove `deployments-block-based` concept page and refs for 3.0
  docs/3.0rc/concepts/deployments-block-based.mdx
  docs/3.0rc/concepts/index.mdx
  docs/3.0rc/concepts/schedules.mdx
Labels: docs

#13629 Remove `infrastructure` concept page and refs for 3.0
  docs/2.19.x/concepts/block--agent-based-deployments/infrastructure.mdx
  docs/3.0rc/api-ref/prefect/infrastructure.mdx
  docs/3.0rc/concepts/blocks.mdx
  docs/3.0rc/concepts/index.mdx
  docs/3.0rc/concepts/infastructure.mdx
  docs/3.0rc/guides/upgrade-guide-agents-to-workers.mdx
  docs/3.0rc/integrations/prefect-aws/ecs_guide.mdx
Labels: docs

#13641 Enhancement: ImageArtifact
  src/prefect/artifacts.py
  tests/test_artifacts.py
Labels: enhancement

#13684 Expose `limit` in `prefect task serve`
  src/prefect/cli/task.py
  tests/cli/test_task.py
Labels: enhancement

#13680 Fix flaky 2.x CI tests
  tests/results/test_flow_results.py
  tests/results/test_task_results.py
  tests/runner/test_storage.py
Labels: maintenance

#13672 migrate `prefect-azure` to pydantic 2
  src/integrations/prefect-azure/prefect_azure/blob_storage.py
  src/integrations/prefect-azure/prefect_azure/container_instance.py
  src/integrations/prefect-azure/prefect_azure/credentials.py
  src/integrations/prefect-azure/prefect_azure/workers/container_instance.py
  src/integrations/prefect-azure/pyproject.toml
  src/integrations/prefect-azure/tests/test_aci_worker.py
Labels: maintenance, integrations

#13296 Refactor lazy imports to avoid accidental eager imports
  src/prefect/utilities/importtools.py
  tests/fixtures/docker.py
  tests/utilities/test_importtools.py
Labels: fix
