Repository PrefectHQ/prefect, pull requests merged in 2024-01, with the labels that each got.

#11519 Add `prefect cloud open` to open current workspace in browser from CLI
  src/prefect/cli/cloud/__init__.py
  src/prefect/client/schemas/objects.py
  tests/cli/test_cloud.py
Labels: enhancement

#11520 Add security readme
  SECURITY.md
Labels: docs

#11532 Add incidents to cloud index page
  docs/cloud/incidents.md
  docs/cloud/index.md
  docs/concepts/index.md
  mkdocs.yml
  netlify.toml
Labels: docs

#11500 Conditional task retries with `retry_condition_fn`
  src/prefect/client/schemas/objects.py
  src/prefect/engine.py
  src/prefect/server/orchestration/core_policy.py
  src/prefect/server/schemas/states.py
  src/prefect/tasks.py
  tests/server/orchestration/test_core_policy.py
  tests/test_engine.py
  tests/test_tasks.py
Labels: enhancement

#11535 Add documentation on conditional retries
  docs/concepts/tasks.md
Labels: docs

#11536 Add conditional pause example to flow documentation
  docs/concepts/flows.md
  src/prefect/engine.py
Labels: docs

#11538 Add API modules to Python SDK docs
  docs/api-ref/prefect/blocks/fields.md
  docs/api-ref/prefect/concurrency/asyncio.md
  docs/api-ref/prefect/concurrency/common.md
  docs/api-ref/prefect/concurrency/events.md
  docs/api-ref/prefect/concurrency/services.md
  docs/api-ref/prefect/concurrency/sync.md
  docs/api-ref/prefect/events.md
  docs/api-ref/prefect/logging/configuration.md
  docs/api-ref/prefect/logging/formatters.md
  docs/api-ref/prefect/logging/handlers.md
  docs/api-ref/prefect/logging/highlighters.md
  docs/api-ref/prefect/logging/loggers.md
  docs/api-ref/prefect/manifests.md
  docs/api-ref/prefect/packaging.md
  docs/api-ref/prefect/packaging/base.md
  docs/api-ref/prefect/packaging/docker.md
  docs/api-ref/prefect/packaging/file.md
  docs/api-ref/prefect/packaging/serializers.md
  docs/api-ref/prefect/runner.md
  docs/api-ref/prefect/runner/runner.md
  docs/api-ref/prefect/runner/server.md
  docs/api-ref/prefect/runner/storage.md
  docs/api-ref/prefect/runner/utils.md
  docs/api-ref/prefect/software.md
  docs/api-ref/prefect/testing.md
  docs/api-ref/prefect/utilities/compat.md
  docs/api-ref/prefect/utilities/context.md
  docs/api-ref/prefect/utilities/dispatch.md
  docs/api-ref/prefect/utilities/dockerutils.md
  docs/api-ref/prefect/utilities/importtools.md
  docs/api-ref/prefect/utilities/math.md
  docs/api-ref/prefect/utilities/names.md
  docs/api-ref/prefect/utilities/pydantic.md
  docs/api-ref/prefect/utilities/render_swagger.md
  docs/api-ref/prefect/utilities/services.md
  docs/api-ref/prefect/utilities/slugify.md
  docs/api-ref/prefect/utilities/templating.md
  docs/api-ref/prefect/utilities/text.md
  docs/api-ref/prefect/utilities/validation.md
  docs/api-ref/prefect/utilities/visualization.md
  docs/api-ref/prefect/variables.md
  docs/api-ref/prefect/workers/block.md
  docs/api-ref/prefect/workers/server.md
  docs/api-ref/prefect/workers/utilities.md
  docs/api-ref/python/index.md
  docs/api-ref/server/index.md
  mkdocs.yml
Labels: docs

#11539 Fail `.deploy` if deployment name contains `/`
  src/prefect/flows.py
  tests/test_flows.py
Labels: fix

#11549 Update PR template to include `maintenance` label
  .github/pull_request_template.md
Labels: maintenance

#11548 Don't attempt to register signals in non-main thread
  src/prefect/server/services/loop_service.py
  src/prefect/utilities/processutils.py
Labels: maintenance

#11545 Display work queue status details via CLI
  src/prefect/cli/work_queue.py
  src/prefect/client/orchestration.py
Labels: enhancement

#11552 Check if we're on the main thread when using mock sigterm handler in tests
  tests/public/flows/test_flow_crashes.py
  tests/test_flows.py
Labels: maintenance

#11554 Use `_register_signal` utility in runner
  src/prefect/runner/runner.py
Labels: maintenance

#11557 Remove `prefect.yaml` tag from page where unmentioned
  docs/concepts/deployments.md
Labels: docs

#11553 Update `test_waiter_repr` to dynamically use current thread name
  tests/_internal/concurrency/test_waiters.py
Labels: maintenance

#11547 Ensure `flow.from_source` handles remote git repository updates
  src/prefect/runner/storage.py
Labels: fix

#11558 Release notes 2.14.13
  RELEASE-NOTES.md
Labels: maintenance

#11563 Add `aggregate-worker-metadata.json` to `.gitignore`
  .gitignore
Labels: maintenance

#11570 Remove worker metadata download from build/publish workflow, fix typos in worker metadata
  .github/workflows/python-package.yaml
  src/prefect/server/api/collections_data/views/aggregate-worker-metadata.json
Labels: maintenance

#11574 Fix non-rendering link in Docker guide
  docs/guides/docker.md
Labels: docs

#11576 Update deployment and flow concept docs
  docs/concepts/deployments.md
  docs/concepts/flows.md
Labels: docs

#11573 Enable flow runs to receive typed input from external sources
  src/prefect/_internal/pydantic/v2_schema.py
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/objects.py
  src/prefect/context.py
  src/prefect/input/__init__.py
  src/prefect/input/actions.py
  src/prefect/input/run_input.py
  src/prefect/server/api/flow_runs.py
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2024_01_05_101034_6b63c51c31b4_add_sender_to_flowruninput.py
  src/prefect/server/database/migrations/versions/sqlite/2024_01_05_101041_c63a0a6dc787_add_sender_to_flowruninput.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/flow_run_input.py
  src/prefect/server/schemas/core.py
  tests/input/test_actions.py
  tests/input/test_run_input.py
  tests/server/api/test_flow_runs.py
  tests/server/models/test_flow_run_input.py
Labels: migration, experimental

#11353 allow removing schedules from deployments through CLI and Python
  src/prefect/cli/deployment.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/schedules.py
  tests/cli/deployment/test_deployment_build.py
  tests/cli/deployment/test_deployment_cli.py
  tests/client/test_prefect_client.py
Labels: enhancement, from:sales, status:waiting for maintainer

#11589 Automation triggers examples
  docs/concepts/automations.md
Labels: docs

#11591 Add send/receive documentation to `run_input` module docstring
  src/prefect/input/run_input.py
Labels: docs

#11415 Prefect client global concurrency limit functions / tests
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  tests/client/test_prefect_client.py
Labels: enhancement

#10559 Automations Guide
  docs/guides/automations.md
  docs/guides/index.md
  docs/img/guides/automation-custom.png
  docs/img/guides/automation-list.png
  docs/img/guides/automation-triggers.png
  docs/img/guides/block-list.png
  docs/img/guides/final-automation.png
  docs/img/guides/notification-block.png
  docs/img/guides/notify-auto-block.png
  docs/img/guides/webhook-automate.png
  docs/img/guides/webhook-created.png
  docs/img/guides/webhook-simple.png
  mkdocs.yml
Labels: docs

#11602 Fix storage guide links and reference
  docs/guides/deployment/storage-guide.md
  docs/guides/index.md
  mkdocs.yml
Labels: docs

#11598 Use default values if no run input was provided
  src/prefect/input/run_input.py
  src/prefect/server/api/flow_runs.py
  tests/input/test_run_input.py
  tests/server/api/test_flow_runs.py
Labels: fix

#11603 Add PR checkbox for docstrings and Python SDK doc files
  .github/pull_request_template.md
Labels: maintenance

#11606 Fix typo in deploy guide
  docs/guides/prefect-deploy.md
Labels: docs

#11592 allow saving previously saved blocks without passing `name`
  docs/concepts/blocks.md
  src/prefect/blocks/core.py
  tests/blocks/test_core.py
Labels: enhancement

#11600 Prevent deployment with `RRule` schedule containing `COUNT`
  docs/concepts/schedules.md
  src/prefect/deployments/deployments.py
  tests/test_deployments.py
Labels: fix

#11612 Fix imports in tshirt example of human-in-the-loop guide
  docs/guides/creating-human-in-the-loop-workflows.md
Labels: docs

#11608 Support defining if a schedule is active or not via `prefect.yaml`
  docs/concepts/schedules.md
  src/prefect/cli/_prompts.py
  src/prefect/cli/deploy.py
  src/prefect/deployments/base.py
  tests/cli/test_deploy.py
  tests/input/test_run_input.py
Labels: enhancement

#11511 ft: support reading and writing custom prefect.yaml files
  src/prefect/cli/deploy.py
  src/prefect/deployments/base.py
  tests/cli/test_deploy.py
Labels: enhancement

#11614 Add more imports to creating-human-in-the-loop-workflows.md
  docs/guides/creating-human-in-the-loop-workflows.md
Labels: docs

#11611 Make subflows optional with run_deployment
  docs/concepts/deployments.md
  docs/concepts/flows.md
  src/prefect/deployments/deployments.py
  tests/_internal/concurrency/test_cancellation.py
  tests/test_deployments.py
Labels: enhancement

#11617 fix IDE support for `PrefectObjectRegistry.register_instances` decorated classes
  src/prefect/context.py
Labels: enhancement

#11489 Enhancement: Reverse proxying the UI
  src/prefect/cli/dev.py
  src/prefect/server/api/server.py
  src/prefect/settings.py
  ui/src/services/uiSettings.ts
Labels: enhancement

#11306 Adds support for Python 3.12
  .github/workflows/docker-images.yaml
  .github/workflows/python-tests.yaml
  .github/workflows/windows-pull-request.yaml
  .github/workflows/windows-tests.yaml
  Dockerfile
  docs/concepts/flows.md
  docs/concepts/tasks.md
  docs/getting-started/installation.md
  requirements-client.txt
  setup.cfg
  setup.py
  src/prefect/cli/deployment.py
  src/prefect/client/schemas/schedules.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/schemas/schedules.py
  tests/cli/test_start_server.py
  tests/client/test_prefect_client.py
  tests/fixtures/database.py
  tests/server/api/test_run_history.py
  tests/server/schemas/test_schedules.py
  tests/server/utilities/test_schemas.py
  tests/workers/test_base_worker.py
  versioneer.py
Labels: enhancement

#11604 Raise `StepExecutionError` on non-zero `run_shell_script` return code during `prefect deploy`
  src/prefect/deployments/steps/utility.py
  tests/cli/test_deploy.py
Labels: fix

#11621 Bump prefect-ui-library to 2.4.25.
  ui/package-lock.json
  ui/package.json
Labels: ui

#11493 Enhancement: Reverse proxy auto-build
  .gitignore
  Dockerfile
  src/prefect/__init__.py
  src/prefect/server/api/server.py
  ui/src/compositions/useApiConfig.ts
  ui/vite.config.ts
Labels: enhancement

#11616 Safer handling of class-based type hints with `from __future__ import annotations`
  src/prefect/utilities/callables.py
  tests/test_flows_compat.py
Labels: fix

#11625 adding incident, metric, and deployment status info to automations docs
  docs/concepts/automations.md
Labels: docs

#11622 Release 2.14.14
  RELEASE-NOTES.md
Labels: maintenance

#11627 Add 2.14 to integrations tests
  .github/workflows/integration-tests.yaml
Labels: maintenance

#11634 fix docstring example for `from_source`
  src/prefect/flows.py
  src/prefect/runner/storage.py
Labels: docs

#11649 Rename workflow that identifies stale PRs
  .github/workflows/stale.yml
Labels: maintenance

#10938 Resolving block references in prefect.yaml and adding keypath feature for blocks
  src/prefect/cli/deploy.py
  src/prefect/utilities/templating.py
  tests/cli/test_deploy.py
  tests/utilities/test_templating.py
Labels: enhancement, from:sales, status:waiting for user

#11654 Fix intermittent integrations test failure when testing compatibility with 2.11
  flows/concurrent_subflows.py
Labels: maintenance

#11305 wait_for_flow_run PrefectClient function
  src/prefect/client/orchestration.py
  src/prefect/exceptions.py
  src/prefect/flow_runs.py
  tests/test_flow_runs.py
Labels: enhancement, status:waiting for user

#11663 Update and rename creating-human-in-the-loop-workflows.md to creating…
  docs/guides/creating-interactive-workflows.md
Labels: docs

#11163 Add modification and suppression of a flow run notification policy from the Python SDK
  src/prefect/client/orchestration.py
  tests/client/test_prefect_client.py
Labels: status:waiting for maintainer

#11668 Add API reference documentation for `wait_for_flow_run`
  docs/api-ref/prefect/flow_runs.md
  mkdocs.yml
  src/prefect/flow_runs.py
  tests/test_flow_runs.py
Labels: docs

#11665 Add provisioner for Modal push work pools
  docs/guides/deployment/push-work-pools.md
  src/prefect/infrastructure/provisioners/__init__.py
  src/prefect/infrastructure/provisioners/ecs.py
  src/prefect/infrastructure/provisioners/modal.py
  tests/infrastructure/provisioners/test_modal.py
Labels: enhancement

#11385 Avoid rerunning task runs forced to Completed state
  src/prefect/engine.py
  src/prefect/results.py
  src/prefect/server/orchestration/core_policy.py
  tests/results/test_unknown_results.py
  tests/server/orchestration/test_core_policy.py
  tests/test_engine.py
Labels: DONT MERGE, fix, needs:cloud-pr

#11636 Automatically convert type arguments into RunInput subclasses
  src/prefect/engine.py
  src/prefect/input/run_input.py
  tests/input/test_run_input.py
  tests/test_engine.py
Labels: enhancement

#11677 ft: add release notes for 2.14.16
  RELEASE-NOTES.md
Labels: maintenance

#11670 Make `server database downgrade` default revision less destructive
  docs/guides/host.md
  src/prefect/cli/server.py
  src/prefect/server/database/alembic_commands.py
  src/prefect/server/database/interface.py
  tests/server/database/test_alembic_commands.py
  tests/server/database/test_migrations.py
Labels: enhancement, maintenance

#11680 Skip and change some flaky tests
  tests/client/test_prefect_client.py
  tests/input/test_run_input.py
Labels: maintenance

#11669 add cache_result_in_memory and fix docstring params order
  src/prefect/flows.py
Labels: docs

#11686 add `url` to `runtime.flow_run`
  src/prefect/runtime/flow_run.py
  tests/runtime/test_flow_run.py
Labels: enhancement

#11690 Add runnable example of flow.from_source()_flows.md
  docs/concepts/flows.md
Labels: docs

#11476 Add experimental runner endpoint to background flow runs
  src/prefect/_internal/concurrency/waiters.py
  src/prefect/deployments/base.py
  src/prefect/engine.py
  src/prefect/flows.py
  src/prefect/runner/__init__.py
  src/prefect/runner/runner.py
  src/prefect/runner/server.py
  src/prefect/runner/submit.py
  src/prefect/runner/utils.py
  src/prefect/settings.py
  src/prefect/utilities/services.py
  src/prefect/workers/server.py
  tests/runner/test_runner.py
  tests/runner/test_submit.py
  tests/runner/test_webserver.py
Labels: experimental

#11656 handle pydantic v2 types in flow signature, not just models
  src/prefect/_internal/pydantic/v2_schema.py
  src/prefect/flows.py
  src/prefect/utilities/callables.py
  tests/test_flows.py
  tests/utilities/test_callables.py
Labels: fix

#11695 prevent duplicate transitions
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/objects.py
  src/prefect/server/orchestration/core_policy.py
  src/prefect/server/schemas/states.py
  tests/server/api/test_flow_runs.py
  tests/server/orchestration/test_core_policy.py
  tests/workers/test_base_worker.py
Labels: fix

#11705 Implement data modeling for enabling Deployments to have multiple schedules.
  src/prefect/server/database/interface.py
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2024_01_22_120615_8cf4d4933848_create_deployment_schedule_and_add_.py
  src/prefect/server/database/migrations/versions/sqlite/2024_01_22_120214_265eb1a2da4c_create_deployment_schedule_and_add_.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/deployments.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/filters.py
  tests/agent/test_agent_run_cancellation.py
  tests/cli/test_project.py
  tests/fixtures/database.py
  tests/server/models/test_deployments.py
Labels: enhancement, migration

#11716 Update automations guide punctuation
  docs/guides/automations.md
Labels: docs

#11717 update worker metadata view
  src/prefect/server/api/collections_data/views/aggregate-worker-metadata.json
Labels: enhancement

#11708 Add events and remove incidents from Concepts index page
  docs/cloud/events.md
  docs/cloud/index.md
  docs/concepts/index.md
  mkdocs.yml
  netlify.toml
Labels: docs

#11725 Remove subflow task tag concurrency warning
  docs/concepts/tasks.md
Labels: docs

#11730 Remove line from `Pausing a flow` docs saying you can `pause` from the UI
  docs/concepts/flows.md
Labels: docs

#11729 Update automations concept doc for jinja templating
  docs/concepts/automations.md
Labels: docs

#11732 Clarify language in incidents doc intro
  docs/cloud/incidents.md
Labels: docs

#11731 2.14.17 Release Notes
  RELEASE-NOTES.md
Labels: maintenance

#11722 Fix environment variable not accepting lists
  src/prefect/server/api/server.py
  src/prefect/settings.py
  tests/test_engine.py
  tests/test_settings.py
Labels: fix, status:waiting for maintainer

#11751 Temporarily pin `pytest` to < 8 and `moto` to < 5
  requirements-dev.txt
Labels: maintenance

#11749 Only attempt to schedule runs for deployments that have active schedules
  src/prefect/server/services/scheduler.py
  tests/server/services/test_scheduler.py
Labels: enhancement

#11753 Mark `test_import_object_from_script_with_relative_imports` as flaky
  tests/utilities/test_importtools.py
Labels: maintenance

#11724 Documenting `send_input` and `receive_input`
  docs/guides/creating-interactive-workflows.md
  src/prefect/input/run_input.py
  tests/input/test_run_input.py
  tests/utilities/test_importtools.py
Labels: docs

#11758 revert deprecation of worker webserver setting
  src/prefect/settings.py
  src/prefect/workers/server.py
  tests/runner/test_webserver.py
Labels: fix

#11769 prep `2.14.18`
  RELEASE-NOTES.md
Labels: maintenance

#11770 Update KV integration docs link and author
  docs/integrations/catalog/prefect-kv.yaml
Labels: docs

#11772 More interactive flows docs fixes
  docs/guides/creating-interactive-workflows.md
Labels: docs

#11775 fix terminal output
  docs/guides/creating-interactive-workflows.md
Labels: docs

#11755 Give `test_generate_work_pool_base_job_template` up to 4 runs to pass
  tests/infrastructure/test_docker_container.py
Labels: maintenance

#11774 Make links in panels clickable
  src/prefect/cli/flow.py
  src/prefect/flows.py
  src/prefect/runner/runner.py
Labels: fix

#11782 Fix agents deadlink in work pool concepts docs page.
  docs/concepts/work-pools.md
Labels: docs

#11776 Store description when saving a RunInput schema
  src/prefect/input/run_input.py
  tests/input/test_run_input.py
Labels: enhancement
