Repository PrefectHQ/prefect, pull requests merged in 2024-02, with the labels that each got.

#11799 Add documentation on providing a description when pausing a flow run
  docs/guides/creating-interactive-workflows.md
Labels: docs

#11796 Fix type hinting for automatic run inputs
  src/prefect/engine.py
  src/prefect/input/run_input.py
  tests/input/test_run_input.py
Labels: enhancement

#11808 Release notes for 2.14.20
  RELEASE-NOTES.md
Labels: maintenance

#11810 rm extra `WARNING` log in task runs
  src/prefect/engine.py
Labels: fix

#11814 Handle key error in event loop gc
  src/prefect/utilities/asyncutils.py
Labels: maintenance

#11819 Remove non-deterministic timing assertions from flaky test.
  tests/test_flows.py
Labels: maintenance, testing

#11813 Improve flaky import tests
  tests/test-projects/nested-project/explicit_relative.py
  tests/test-projects/nested-project/implicit_relative.py
  tests/test-projects/nested-project/shared_libs/bar.py
  tests/test-projects/nested-project/shared_libs/foo.py
  tests/test-projects/tree-project/imports/explicit_relative.py
  tests/test-projects/tree-project/imports/implicit_relative.py
  tests/test-projects/tree-project/shared_libs/bar.py
  tests/test-projects/tree-project/shared_libs/foo.py
  tests/utilities/test_importtools.py
Labels: maintenance

#11821 Bump pytest to 8.0
  requirements-dev.txt
  tests/fixtures/docker.py
  tests/results/test_flow_results.py
  tests/server/schemas/test_states.py
Labels: maintenance

#11826 Make task timeout tests less flaky
  tests/public/tasks/test_task_timeouts.py
Labels: maintenance

#11844 Remove xfail tracebacks from pytest report
  setup.cfg
Labels: maintenance

#11853 Making the internal concurrency cancellation tests deterministic
  tests/_internal/concurrency/test_cancellation.py
Labels: maintenance

#11833 Add clarity to Docker tutorial code snippet
  docs/guides/docker.md
Labels: docs

#11831 Add plumbing for toggling work queue status experimental flag.
  src/prefect/settings.py
  ui/src/maps/featureFlag.ts
  ui/src/types/flagResponse.ts
  ui/src/utilities/permissions.ts
Labels: maintenance, ui, experimental

#11852 de-flake suspend test
  tests/test_engine.py
Labels: maintenance

#11854 de-flake orm tests
  tests/server/models/test_orm.py
Labels: maintenance

#11851 more unique failure flag names
  .github/workflows/python-tests.yaml
Labels: maintenance

#11847 ft: be explicit about version reqs
  requirements-dev.txt
Labels: maintenance

#11856 Remove `flaky_on_windows` helper
  src/prefect/testing/utilities.py
  tests/server/services/test_loop_service.py
  tests/test_flows.py
  tests/test_tasks.py
Labels: maintenance

#11828 Improves reliability of import tests
  tests/cli/test_deploy.py
  tests/deployment/test_base.py
  tests/test-projects/flat-project/explicit_relative.py
  tests/test-projects/flat-project/implicit_relative.py
  tests/test-projects/flat-project/shared_libs.py
Labels: maintenance

#11865 Temporarily back out `ddtrace` support to help with test performance
  .github/workflows/python-tests.yaml
  requirements-dev.txt
Labels: maintenance

#11857 Use errors from docker.errors
  tests/fixtures/docker.py
Labels: maintenance

#11858 Making test_flows.py deterministic
  tests/fixtures/docker.py
  tests/test_flows.py
Labels: maintenance

#11862 De-flaky `tests/test_engine.py`
  tests/test_engine.py
Labels: maintenance

#11869 ft: adds GH option to ignore cache upload failures
  .github/workflows/python-tests.yaml
Labels: maintenance

#11866 Remove flaky marker from `tests/cli/test_agent.py`
  tests/cli/test_agent.py
Labels: maintenance

#11868 Remove flaky marker from agent cancellation test
  tests/agent/test_agent_run_cancellation.py
Labels: maintenance

#11872 Make ORM model lateness tests tolerant to slow test runs
  tests/server/models/test_orm.py
Labels: maintenance

#11873 De-flaky `tests/test_flows.py`
  tests/test_flows.py
Labels: maintenance

#11875 De-flaky `tests/docker/test_image_builds.py`
  tests/docker/test_image_builds.py
Labels: maintenance

#11871 remove flaky client tests
  flows/client_context_lifespan.py
  tests/client/test_prefect_client.py
Labels: maintenance

#11886 Adds longer timeout to help prevent flakes
  setup.cfg
Labels: maintenance

#11883 retry loop during db teardown in global fixture `clear_db`
  tests/fixtures/database.py
Labels: maintenance

#11740 Fix bug where block placeholders are not saved with pull step declared in `deployments` section of a `prefect.yaml` file
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: fix

#11888 Remove flaky marker from Prefect Cloud profile test
  tests/cli/test_cloud.py
Labels: maintenance

#11892 Remove `cli/test_server.py`
  tests/cli/test_server.py
Labels: maintenance

#11887 Bringing back DataDog CI visibility
  .github/workflows/python-tests.yaml
  requirements-dev.txt
Labels: maintenance

#11880 add thread lock to `tmpchdir` for safety in tests
  src/prefect/cli/dev.py
  src/prefect/utilities/filesystem.py
  tests/cli/test_deploy.py
Labels: maintenance

#11901 De-flaky `tests/cli/test_start_server.py`
  tests/cli/test_start_server.py
Labels: maintenance

#11903 Quieter and faster individual checks by disabling coverage and -vvv
  .github/workflows/python-tests.yaml
Labels: maintenance

#11905 Fix flaky test_engine.py::TestBlockingPause tests
  tests/test_engine.py
Labels: maintenance

#11891 Isolate alarm based thread test
  tests/_internal/concurrency/test_cancellation.py
Labels: maintenance

#11908 deflake api/test_block_documents.py
  tests/server/api/test_block_documents.py
Labels: maintenance

#11906 remove flaky marks and increase timeouts
  tests/input/test_run_input.py
Labels: maintenance

#11917 Invalidate `sys.modules` cache after each test
  tests/conftest.py
  tests/utilities/test_importtools.py
Labels: maintenance

#11921 Remove beta tag from incident docs and screenshots.
  docs/cloud/incidents.md
  docs/img/ui/incidents-active.png
  docs/img/ui/incidents-dashboard.png
Labels: docs

#11925 Update account role docs
  docs/cloud/users/roles.md
Labels: docs

#11926 close more connections by entering them as contexts
  src/prefect/blocks/notifications.py
  src/prefect/cli/profile.py
  src/prefect/engine.py
  tests/runner/test_webserver.py
  tests/server/api/test_server.py
  tests/server/utilities/test_server.py
Labels: maintenance, DONT MERGE

#11829 Add `WorkQueue.status` to server and client side schemas
  src/prefect/client/schemas/objects.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/responses.py
  src/prefect/server/schemas/statuses.py
  tests/client/test_prefect_client.py
  tests/server/api/test_work_queues.py
Labels: feature

#11927 lifespan tests
  tests/cli/test_block.py
  tests/fixtures/database.py
  tests/infrastructure/provisioners/test_ecs.py
Labels: maintenance

#11932 Tracking connections process-wide for test assertions
  docker-compose.yml
  setup.cfg
  src/prefect/server/database/configurations.py
  tests/cli/deployment/test_deployment_cli.py
  tests/fixtures/database.py
Labels: maintenance

#11934 Update failing tests notification
  .github/workflows/python-tests.yaml
Labels: maintenance

#11935 don't get an instance if we don't need one
  src/prefect/events/utilities.py
  src/prefect/events/worker.py
  src/prefect/testing/fixtures.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_sync.py
  tests/events/conftest.py
Labels: maintenance

#11940 fix ordering in `test_read_block_schema_with_union`
  tests/server/models/test_block_schemas.py
Labels: maintenance

#11944 Add docs tip on work queue status
  docs/concepts/work-pools.md
Labels: docs

#11812 Update redirect rules
  netlify.toml
Labels: docs

#11938 Release notes 2.14.21
  RELEASE-NOTES.md
Labels: maintenance

#11950 Fixing test flake in Docker container naming
  tests/infrastructure/test_docker_container.py
Labels: maintenance

#11948 add `merge_latest_pr` to collections manager
  scripts/collections-manager
Labels: maintenance

#11928 task server more explicit `stop`
  src/prefect/task_server.py
  tests/test_task_server.py
Labels: fix

#11943 Bring back the task subscription API tests
  src/prefect/client/subscriptions.py
  src/prefect/server/api/task_runs.py
  src/prefect/server/utilities/subscriptions.py
  tests/server/api/test_task_run_subscriptions.py
  tests/software/test_conda.py
Labels: maintenance

#11952 Run the full test suite in each leg of the matrix
  .github/workflows/python-tests.yaml
Labels: maintenance

#11702 add watch option
  src/prefect/cli/deployment.py
  src/prefect/flow_runs.py
  tests/cli/deployment/test_deployment_run.py
Labels: feature

#11951 Actually close stray connections at test session shutdown
  tests/fixtures/database.py
Labels: maintenance

#11954 Update work-pools concepts page to include modal push work pool
  docs/concepts/work-pools.md
Labels: docs

#11949 chore: trigger prefect-helm release via `gh workflow run`
  .github/workflows/helm-chart-release.yaml
Labels: maintenance

#11955 Update docstring for `run_deployment` tags parameter
  src/prefect/deployments/deployments.py
Labels: docs

#11967 Exclude schedules from backfill that have a value of `'null'`
  src/prefect/server/database/migrations/versions/postgresql/2024_01_22_120615_8cf4d4933848_create_deployment_schedule_and_add_.py
  src/prefect/server/database/migrations/versions/sqlite/2024_01_22_120214_265eb1a2da4c_create_deployment_schedule_and_add_.py
  src/prefect/server/models/deployments.py
Labels: migration, experimental

#11726 CLI and client methods for multiple deployment schedules
  src/prefect/cli/deployment.py
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/actions.py
  src/prefect/server/models/deployments.py
  tests/cli/deployment/test_deployment_cli.py
  tests/client/test_prefect_client.py
Labels: enhancement, migration

#11982 Clearer wording about concurrent subflows
  docs/concepts/flows.md
Labels: docs

#11861 Reduce busy timeout in tests
  src/prefect/server/database/configurations.py
Labels: maintenance

#11969 Updates mkdocs material to latest version
  mkdocs.yml
  netlify.toml
Labels: docs

#11997 Release notes for 2.15.0
  RELEASE-NOTES.md
Labels: maintenance

#11996 Improve language and formatting in Profiles and Configuration guide
  docs/guides/settings.md
Labels: docs

#12004 Improves docs formatting consistency and adds some minor content updates
  docs/guides/big-data.md
  docs/guides/ci-cd.md
  docs/guides/deployment/serverless-workers.md
  docs/guides/global-concurrency-limits.md
  docs/guides/host.md
  docs/guides/managed-execution.md
  docs/guides/moving-data.md
  docs/guides/runtime-context.md
  docs/guides/state-change-hooks.md
  docs/guides/upgrade-guide-agents-to-workers.md
  docs/guides/using-the-client.md
  docs/guides/webhooks.md
Labels: docs

#11991 Updates formatting for guide: creating-interactive-workflows.md
  docs/guides/creating-interactive-workflows.md
Labels: docs

#12011 Adds `pytest` mark to opt out of DB reset
  setup.cfg
  tests/conftest.py
  tests/fixtures/database.py
  tests/utilities/test_templating.py
Labels: maintenance

#12017 Allow deploying to process work pools with `flow.deploy`
  src/prefect/deployments/runner.py
  tests/runner/test_runner.py
Labels: enhancement

#12012 Minor updates to CI tests
  .github/workflows/integration-tests.yaml
  .github/workflows/python-tests.yaml
Labels: maintenance

#11960 Updates CLI `deployment run --help` text so it renders for more args
  src/prefect/cli/deployment.py
  src/prefect/cli/server.py
Labels: fix

#11971 Add support for multiple schedules to Prefect server and CLI
  .github/workflows/integration-tests.yaml
  src/prefect/cli/deployment.py
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  src/prefect/client/schemas/responses.py
  src/prefect/server/api/deployments.py
  src/prefect/server/database/interface.py
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2024_01_22_120615_8cf4d4933848_create_deployment_schedule_and_add_.py
  src/prefect/server/database/migrations/versions/sqlite/2024_01_22_120214_265eb1a2da4c_create_deployment_schedule_and_add_.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/deployments.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/responses.py
  src/prefect/server/services/scheduler.py
  tests/agent/test_agent_run_cancellation.py
  tests/cli/deployment/test_deployment_cli.py
  tests/cli/test_project.py
  tests/client/test_prefect_client.py
  tests/fixtures/database.py
  tests/server/api/test_deployment_schedules.py
  tests/server/api/test_deployments.py
  tests/server/models/test_deployments.py
  tests/server/services/test_scheduler.py
Labels: migration, experimental

#12034 Update `AsyncClient` instantiation to fix deprecation warnings
  src/prefect/_vendor/starlette/testclient.py
  src/prefect/blocks/notifications.py
  tests/fixtures/api.py
  tests/server/api/test_pagination.py
  tests/server/utilities/test_server.py
Labels: maintenance

#12033 [docs] add deep dive on overriding job variables
  docs/guides/deployment/overriding-job-variables.md
  docs/guides/index.md
  docs/img/guides/job-variables.png
  mkdocs.yml
Labels: docs

#12040 Remove extraneous trailing quotation marks in concepts/artifacts docs
  docs/concepts/artifacts.md
Labels: docs

#12026 Update `clear_db` to clear the DB before running a test
  tests/agent/test_agent_run_cancellation.py
  tests/agent/test_agent_run_submission.py
  tests/cli/test_deploy.py
  tests/conftest.py
  tests/fixtures/database.py
  tests/server/api/test_work_queues.py
  tests/server/models/test_filters.py
  tests/test_flows.py
  tests/workers/test_base_worker.py
Labels: maintenance

#12043 Adds links to overriding job variables guide
  docs/concepts/work-pools.md
  docs/guides/prefect-deploy.md
Labels: docs

#12048 Remove scheduled flow runs when updating/removing schedules
  src/prefect/server/api/deployments.py
  tests/server/api/test_deployment_schedules.py
Labels: experimental

#12020 Flow `with_options` fixes - retries, retry_delay_seconds, flow_run_name
  src/prefect/flows.py
  tests/test_flows.py
Labels: fix, status:waiting for maintainer

#12061 Update multiple schedules error to say you can update your client
  src/prefect/server/api/deployments.py
Labels: experimental

#12051 Support multiple schedules in deployment YAML files
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/objects.py
  src/prefect/deployments/deployments.py
  tests/client/test_prefect_client.py
  tests/test_deployments.py
Labels: enhancement

#12064 Update scheduling docs to include information about multiple schedules
  docs/concepts/deployments-block-based.md
  docs/concepts/deployments.md
  docs/concepts/infrastructure.md
  docs/concepts/schedules.md
  docs/tutorial/deployments.md
Labels: docs

#12059 Update automations concepts page image
  docs/img/ui/automations.png
Labels: docs

#12065 Add feature flag for flow run infra overrides
  src/prefect/settings.py
Labels: feature

#12072 Add logging filter to prevent logging the current Prefect API key
  src/prefect/logging/filters.py
  src/prefect/logging/loggers.py
  tests/test_logging.py
Labels: enhancement

#12077 Updates to tutorial and getting started
  docs/getting-started/quickstart.md
  docs/guides/deployment/overriding-job-variables.md
  docs/tutorial/flows.md
  docs/tutorial/work-pools.md
  docs/tutorial/workers.md
Labels: docs

#12089 Clear runs even if deployment is paused, when updating/deleting schedules
  src/prefect/server/api/deployments.py
  tests/server/api/test_deployment_schedules.py
Labels: fix

#12095 Add minimum K8s version to guides -> kubernetes.md
  docs/guides/deployment/kubernetes.md
Labels: docs

#12098 Add Coiled to integrations catalog docs page
  docs/img/collections/coiled.png
  docs/integrations/catalog/prefect-coiled.yaml
Labels: docs

#12088 Fix formatting on webhooks page
  docs/guides/webhooks.md
Labels: docs

#12087 Surface work pool not found error
  src/prefect/cli/work_pool.py
Labels: fix

#12105 Add artifact data to flow run graph API
  src/prefect/server/database/query_components.py
  src/prefect/server/models/flow_runs.py
  src/prefect/server/schemas/graph.py
  src/prefect/settings.py
  tests/server/api/test_flow_run_graph_v2.py
Labels: enhancement

#12100 Ignore "schedule" in `Deployment.build_from_flow` if it's out of date
  src/prefect/deployments/deployments.py
  tests/test_deployments.py
Labels: fix

#12101 Fix schedule instructions for "prefect deploy"
  docs/concepts/schedules.md
Labels: docs, fix

#12107 Update `flow.serve` to support multiple schedules
  src/prefect/cli/flow.py
  src/prefect/client/orchestration.py
  src/prefect/deployments/runner.py
  src/prefect/flows.py
  src/prefect/runner/runner.py
  src/prefect/server/schemas/responses.py
  tests/cli/deployment/test_deployment_cli.py
  tests/runner/test_runner.py
  tests/server/api/test_deployments.py
  tests/test_flows.py
Labels: enhancement

#12117 Fix a docstring
  src/prefect/cli/deployment.py
Labels: fix

#12121 Add support for multiple schedules to `prefect deploy`
  docs/concepts/schedules.md
  src/prefect/cli/_prompts.py
  src/prefect/cli/deploy.py
  src/prefect/deployments/base.py
  src/prefect/testing/cli.py
  tests/cli/test_deploy.py
Labels: enhancement
