Repository PrefectHQ/prefect, pull requests merged in 2024-08, with the labels that each got.

#14798 fix: test-harness was breaking w 3.0 RC (closes #14483)
  src/prefect/testing/utilities.py
Labels: docs, fix

#14599 Bump anyio on Prefect 2.x
  .github/workflows/integration-tests.yaml
  requirements-client.txt
  requirements.txt
  scripts/wait-for-server.py
  src/prefect/cli/agent.py
  src/prefect/cli/server.py
  src/prefect/cli/worker.py
  src/prefect/engine.py
  src/prefect/task_server.py
  src/prefect/utilities/asyncutils.py
  src/prefect/utilities/engine.py
  src/prefect/utilities/services.py
  tests/test_background_tasks.py
  tests/test_context.py
  tests/test_engine.py
  tests/utilities/test_asyncutils.py
  tests/workers/test_process_worker.py
Labels: fix

#14823 Remove `PrefectHttpxSyncEphemeralClient`
  src/prefect/client/base.py
  src/prefect/client/orchestration.py
Labels: fix

#14817 Rename the `/download-logs/csv` endpoint to `/logs/download`
  docs/3.0rc/api-ref/rest-api/server/schema.json
  src/prefect/server/api/flow_runs.py
  src/prefect/server/api/server.py
  tests/server/api/test_server.py
  tests/server/orchestration/api/test_flow_runs.py
Labels: development

#14782 Add support for custom flow decorators to `prefect deploy`
  src/prefect/cli/deploy.py
  src/prefect/flows.py
  src/prefect/utilities/callables.py
  src/prefect/utilities/importtools.py
  tests/cli/test_deploy.py
  tests/test-projects/wrapped-flow-project/__init__.py
  tests/test-projects/wrapped-flow-project/flow.py
  tests/test-projects/wrapped-flow-project/missing_imports.py
  tests/test-projects/wrapped-flow-project/utils.py
  tests/test_flows.py
Labels: fix

#14828 make `flow_run_id` nullable in `Log` table
  src/prefect/server/database/orm_models.py
Labels: migration

#14834 Optimize value of `checkpoint_every`
  src/prefect/events/clients.py
Labels: enhancement

#14826 Allow starting an ephemeral server when emitting or subscribing to events
  src/prefect/events/clients.py
  src/prefect/events/utilities.py
  tests/events/client/test_events_client.py
  tests/events/client/test_events_subscriber.py
Labels: enhancement

#14813 Kubernetes worker config fixes
  src/integrations/prefect-kubernetes/prefect_kubernetes/credentials.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Labels: bug, fix

#14840 Persist include-submodules flag when using GitStorage
  src/prefect/runner/storage.py
  tests/runner/test_storage.py
Labels: bug

#14837 Remove `wrapt` and fail on incorrect `await` usage
  docs/3.0rc/resources/upgrade-prefect-3.mdx
  requirements-client.txt
  src/prefect/_internal/compatibility/deprecated.py
  src/prefect/futures.py
  src/prefect/tasks.py
  src/prefect/utilities/asyncutils.py
  tests/public/flows/test_previously_awaited_methods.py
Labels: bug

#14839 Persist include-submodules flag
  src/prefect/runner/storage.py
  tests/runner/test_storage.py
Labels: bug, 2.x

#14849 fix `task-run.Scheduled` event emission
  src/prefect/task_engine.py
  src/prefect/tasks.py
  src/prefect/utilities/engine.py
  tests/events/client/instrumentation/test_task_run_state_change_events.py
Labels: enhancement

#14856 Fix syntax for client test suite `pytest` command
  .github/workflows/python-tests.yaml
  tests/client/test_prefect_client.py
  tests/test_import_interceptor.py
Labels: development

#14854 Flush logs when exiting `prefect_test_harness` to avoid error logs
  src/prefect/server/api/server.py
  src/prefect/testing/utilities.py
  tests/testing/test_utilites.py
Labels: bug

#14829 Enable tasks to be submitted and mapped from tasks submitted to Dask or Ray
  src/prefect/context.py
  tests/test_context.py
Labels: bug, integrations

#14859 A couple minor typing fixes
  src/prefect/cli/_types.py
Labels: development

#14871 Move `exceptiongroup` to `requirements-client.txt`
  requirements-client.txt
  requirements.txt
Labels: fix

#14868 prefect-dbt - Clarify missing profile error
  src/integrations/prefect-dbt/prefect_dbt/cli/commands.py
  src/integrations/prefect-dbt/tests/cli/test_commands.py
Labels: enhancement

#14872 Smoke test `prefect-client` across all supported Python versions
  .github/workflows/prefect-client.yaml
Labels: development

#14876 Avoid raising errors on database passwords that contain a `$` character
  src/prefect/settings.py
  tests/test_settings.py
Labels: bug

#14794 remove `Deployment.is_schedule_active` and `Deployment.schedule`
  docs/3.0rc/api-ref/rest-api/server/schema.json
  docs/mint.json
  src/prefect/_internal/schemas/validators.py
  src/prefect/cli/deploy.py
  src/prefect/cli/shell.py
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/filters.py
  src/prefect/client/schemas/objects.py
  src/prefect/client/schemas/responses.py
  src/prefect/deployments/base.py
  src/prefect/deployments/runner.py
  src/prefect/flows.py
  src/prefect/runner/runner.py
  src/prefect/server/api/deployments.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/deployments.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/responses.py
  tests/cli/deployment/test_deployment_cli.py
  tests/cli/test_deploy.py
  tests/cli/test_flow.py
  tests/client/test_prefect_client.py
  tests/events/server/actions/test_calling_webhook.py
  tests/events/server/actions/test_cancelling_flow_run.py
  tests/events/server/actions/test_changing_flow_run_state.py
  tests/events/server/actions/test_jinja_templated_action.py
  tests/events/server/actions/test_running_deployment.py
  tests/events/server/actions/test_suspending_flow_run.py
  tests/fixtures/database.py
  tests/runner/test_runner.py
  tests/server/models/test_deployments.py
  tests/server/models/test_filters.py
  tests/server/orchestration/api/test_deployments.py
  tests/server/orchestration/api/test_flows.py
  tests/server/services/test_scheduler.py
  tests/test_flows.py
  tests/workers/test_process_worker.py
Labels: development, 3.x

#14887 Update link text and remove unnecessary folder
  docs/3.0rc/deploy/infrastructure-concepts/store-flow-code.mdx
  docs/3.0rc/deploy/infrastructure-examples/docker.mdx
  future-docs/2.19.x/how-to-guides/work-pools/deploying-flows.mdx
Labels: docs

#14879 tweak task runner docs
  docs/3.0rc/develop/task-runners.mdx
Labels: docs

#14860 Minor updates to Quickstart
  docs/3.0rc/get-started/quickstart.mdx
Labels: docs

#14877 Consolidate where transaction hooks are run
  src/prefect/task_engine.py
  src/prefect/transactions.py
Labels: development

#14895 Sharing state with transaction hooks
  src/prefect/transactions.py
  tests/test_flows.py
  tests/test_transactions.py
Labels: enhancement

#14897 Make flow version available in `runtime`
  src/prefect/runtime/flow_run.py
  tests/results/test_flow_results.py
Labels: enhancement

#14900 Avoid `__getitem__` calls on a `PrefectFuture` or `State` in checking `Flow` parameter serialization
  src/prefect/flows.py
Labels: enhancement

#14909 correctly call `is_interactive` function during server preflight check
  src/prefect/cli/server.py
Labels: bug

#14920 Allow for null command when building k8s job
  src/prefect/infrastructure/kubernetes.py
  tests/infrastructure/test_kubernetes_job.py
Labels: bug

#14925 Allow for defaults on txn.get
  src/prefect/transactions.py
  tests/test_transactions.py
Labels: enhancement

#14924 Transactions should inherit data from their parents
  src/prefect/transactions.py
  tests/test_transactions.py
Labels: enhancement

#14926 fallback `TaskSource` key computation if no source code
  src/prefect/blocks/core.py
  src/prefect/cache_policies.py
  tests/test_cache_policies.py
Labels: fix

#14931 Fix flaky log tests
  tests/test_flow_engine.py
  tests/test_task_engine.py
Labels: development

#14932 Deep merge env vars
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Labels: bug

#14923 First order deep merge of flow run overrides with deployment overrides
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Labels: bug

#14919 Add `MemoryRecordStore`
  src/prefect/records/__init__.py
  src/prefect/records/base.py
  src/prefect/records/memory.py
  src/prefect/records/result_store.py
  src/prefect/records/store.py
  tests/records/test_memory.py
Labels: enhancement

#14930 Add is_null_ filter to logs filter endpoint
  docs/3.0rc/api-ref/rest-api/server/schema.json
  src/prefect/server/schemas/filters.py
  tests/server/models/test_logs.py
Labels: enhancement

#14949 clearer message upon no-op `prefect block register`
  src/prefect/cli/block.py
  tests/cli/test_block.py
Labels: development

#14953 add constrained types for select `WorkQueue` action fields
  src/prefect/client/schemas/actions.py
Labels: development

#14956 Docs slug redirect and consistency work
  docs/3.0rc/automate/index.mdx
  docs/3.0rc/develop/index.mdx
  docs/3.0rc/develop/runtime-context.mdx
  docs/3.0rc/manage/index.mdx
  docs/mint.json
Labels: docs

#14929 Add a deployment concurrency limit field
  docs/3.0rc/api-ref/rest-api/server/schema.json
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/filters.py
  src/prefect/client/schemas/objects.py
  src/prefect/client/schemas/responses.py
  src/prefect/client/schemas/sorting.py
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2024_08_14_150111_97429116795e_add_deployment_concurrency_limit.py
  src/prefect/server/database/migrations/versions/sqlite/2024_08_14_145052_f93e1439f022_add_deployment_concurrency_limit.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/responses.py
  tests/server/models/test_deployments.py
Labels: enhancement, concurrency, migration

#14958 Fixes two broken links in docs
  docs/3.0rc/develop/write-tasks.mdx
  docs/3.0rc/get-started/quickstart.mdx
Labels: docs

#14959 use `obfuscate` instead of `obfuscate_string`
  src/prefect/server/models/block_documents.py
  src/prefect/server/schemas/core.py
Labels: development

#14960 Remove importlib-resources as an explicit requirement
  requirements-client.txt
Labels: development

#14968 Migrates `prefect-redis` to the core repository
  .github/workflows/integration-package-tests.yaml
  src/integrations/prefect-redis/LICENSE
  src/integrations/prefect-redis/MANIFEST.in
  src/integrations/prefect-redis/README.md
  src/integrations/prefect-redis/prefect_redis/__init__.py
  src/integrations/prefect-redis/prefect_redis/credentials.py
  src/integrations/prefect-redis/prefect_redis/redis.py
  src/integrations/prefect-redis/pyproject.toml
  src/integrations/prefect-redis/tests/test_tasks.py
Labels: development

#14967 allow overwrite in `create_work_pool`
  src/prefect/cli/work_pool.py
  src/prefect/client/orchestration.py
  tests/cli/test_work_pool.py
  tests/client/test_prefect_client.py
Labels: enhancement

#14939 Add ability to configure isolation level for a transaction
  src/prefect/context.py
  src/prefect/records/base.py
  src/prefect/records/memory.py
  src/prefect/records/result_store.py
  src/prefect/transactions.py
  tests/records/test_memory.py
  tests/test_transactions.py
Labels: enhancement

#14983 Remove duplicate `griffe` requirement
  requirements.txt
Labels: bug

#14995 Ensures that server automations schemas are parsed with only server models
  docs/3.0rc/api-ref/rest-api/server/schema.json
  src/prefect/server/database/migrations/versions/postgresql/2024_04_03_112409_aeea5ee6f070_automations_models.py
  src/prefect/server/database/migrations/versions/sqlite/2024_04_03_111618_07ed05dfd4ec_automations_models.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/events/actions.py
  src/prefect/server/events/schemas/automations.py
  src/prefect/server/events/triggers.py
  tests/events/server/actions/test_calling_webhook.py
  tests/events/server/schemas/test_automations.py
Labels: migration

#14998 Unbound griffe to 2.0
  requirements-client.txt
  src/prefect/blocks/core.py
  src/prefect/utilities/callables.py
Labels: upstream dependency, 2.x

#14999 Update griffe requirements and corresponding imports
  requirements-client.txt
  src/prefect/blocks/core.py
  src/prefect/utilities/callables.py
Labels: upstream dependency

#15000 Add a few more label rules to help keep things organized
  .github/labeler.yml
Labels: development

#15002 Add some missing upper bounds to requirements
  requirements.txt
Labels: upstream dependency

#15004 README: fix link to Slack community
  README.md
Labels: docs

#15006 Go through some known dead code and remove it
  src/prefect/client/orchestration.py
  src/prefect/deployments/flow_runs.py
  src/prefect/server/api/server.py
  src/prefect/utilities/asyncutils.py
Labels: development

#15003 Upper bound critical requirements
  requirements-dev.txt
  requirements.txt
  tests/results/test_flow_results.py
  tests/server/schemas/test_states.py
Labels: upstream dependency, 2.x

#15007 Adds `concurrency_limit` to `prefect.yaml`
  src/prefect/deployments/templates/prefect.yaml
  tests/cli/test_deploy.py
Labels: enhancement, cli, concurrency

#15005 Adds concurrency limit options to `prefect deploy`
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: enhancement, cli

#15015 Ensure Python executable is quoted in runner command on Windows
  src/prefect/runner/runner.py
  tests/runner/test_runner.py
Labels: 2.x

#15013 Adds the ability to run a server in the background
  .github/workflows/integration-tests.yaml
  src/prefect/cli/server.py
  tests/cli/test_start_server.py
Labels: 2.x

#15024 Adds the ability to run a server in the background
  src/prefect/cli/server.py
  tests/cli/test_start_server.py
Labels: enhancement

#15023 Ensure Python executable is quoted in runner command on Windows
  src/prefect/runner/runner.py
  tests/runner/test_runner.py
Labels: fix

#15011 Add Block Type registration for its nested block types in field annotations
  src/prefect/blocks/core.py
  tests/blocks/test_core.py
Labels: bug

#15030 Adds docs redirects
  docs/3.0rc/api-ref/index.mdx
  docs/mint.json
Labels: docs

#15040 Adds a 2.x version to the v3 docs with a page that directs visitors to docs-2.prefect.io
  docs/2.x/get-started/index.mdx
  docs/mint.json
Labels: docs

#15032 Add Block Type registration for its nested block types in field annotations
  src/prefect/blocks/core.py
  tests/blocks/test_core.py
Labels: 2.x

#15055 Avoid result factories if persistence is turned off for a task
  src/prefect/task_engine.py
Labels: development

#15056 Remove UnpersistedResult
  src/prefect/client/schemas/objects.py
  src/prefect/flow_engine.py
  src/prefect/results.py
  src/prefect/server/orchestration/core_policy.py
  src/prefect/states.py
  src/prefect/task_engine.py
  tests/events/client/instrumentation/test_task_run_state_change_events.py
  tests/results/test_flow_results.py
  tests/results/test_persisted_result.py
  tests/results/test_state_result.py
  tests/results/test_task_results.py
  tests/results/test_unknown_results.py
  tests/results/test_unpersisted_result.py
  tests/server/orchestration/test_core_policy.py
  tests/test_futures.py
  tests/test_states.py
  tests/test_task_engine.py
  tests/test_transactions.py
Labels: development

#14996 Add whats new and upgrade guide
  docs/3.0rc/get-started/index.mdx
  docs/3.0rc/resources/upgrade-prefect-3.mdx
  docs/3.0rc/resources/upgrade-to-prefect-3.mdx
  docs/3.0rc/resources/whats-new-prefect-3.mdx
  docs/mint.json
Labels: docs

#15064 Replace `PersistedResultBlob` with `ResultRecord`
  src/prefect/results.py
  src/prefect/testing/utilities.py
  tests/results/test_flow_results.py
  tests/results/test_persisted_result.py
  tests/results/test_state_result.py
  tests/test_flows.py
Labels: development

#15072 Revert change to defer building the server-side version of `PrefectBaseModel`
  src/prefect/server/utilities/schemas/bases.py
Labels: bug

#14980 allow JSON values in `Secret` block
  src/prefect/blocks/core.py
  src/prefect/blocks/system.py
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/objects.py
  tests/blocks/test_system.py
Labels: enhancement

#15081 a couple typing and error improvements
  src/prefect/client/orchestration.py
  src/prefect/flows.py
  tests/client/test_prefect_client.py
Labels: development

#15022 Workers enforce `Deployment.concurrency_limits`
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/services.py
  src/prefect/concurrency/sync.py
  src/prefect/states.py
  src/prefect/utilities/asyncutils.py
  src/prefect/workers/base.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_slot_acquisition_service.py
  tests/concurrency/test_concurrency_sync.py
  tests/fixtures/database.py
  tests/workers/test_base_worker.py
Labels: enhancement, upstream dependency, concurrency

#15084 Improve logging on result serialization errors
  src/prefect/exceptions.py
  src/prefect/results.py
  src/prefect/states.py
  src/prefect/task_engine.py
  src/prefect/transactions.py
  tests/results/test_state_result.py
  tests/test_tasks.py
Labels: enhancement

#15099 Updates warning message when result persistence fails
  src/prefect/states.py
Labels: development

#15095 backport `prefect-kubernetes` fix
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Labels: integrations, 2.x

#15103 Fixes `prefect server start` for Windows machines
  src/prefect/cli/server.py
Labels: bug, fix

#15105 minor docs formatting fixes
  docs/3.0rc/automate/add-schedules.mdx
Labels: docs

#15104 Fix `prefect server start` for Windows machines
  src/prefect/cli/server.py
Labels: fix, 2.x

#15100 record task run followers
  src/prefect/server/services/task_run_recorder.py
  tests/server/services/test_task_run_recorder.py
Labels: enhancement

#15093 Update artifacts doc page
  docs/3.0rc/develop/artifacts.mdx
Labels: docs

#15108 fix typing and docstring for `concurrency` ctx managers
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/sync.py
Labels: development

#15111 Remove unused `Manifest` class
  src/prefect/__init__.py
  src/prefect/main.py
  src/prefect/manifests.py
Labels: development

#15115 Update language in quickstart
  docs/3.0rc/get-started/quickstart.mdx
Labels: docs

#15117 Update `model_rebuild` in `main.py` to explicitly pass namespace types
  src/prefect/main.py
  src/prefect/utilities/dispatch.py
Labels: bug, upstream dependency, 3.x

#15118 Update write tasks page for clarity
  docs/3.0rc/develop/write-tasks.mdx
Labels: docs

#15124 annotation type fixes
  src/prefect/utilities/annotations.py
Labels: development

#15122 Switch to profile with matching `PREFECT_API_URL` on server start
  src/prefect/cli/server.py
  tests/cli/test_start_server.py
Labels: enhancement

#15128 [2.x] ensure `on_failure` hook runs upon parameter validation error
  src/prefect/engine.py
  tests/test_flows.py
Labels: bug, 2.x

#15127 Update work pools doc for flow and clarity
  docs/3.0rc/deploy/infrastructure-concepts/work-pools.mdx
  docs/mint.json
Labels: docs

#15134 Add a docs page for Prefect Cloud IP Allowlisting.
  docs/3.0rc/manage/cloud/manage-users/secure-access-by-ip-address.mdx
  docs/mint.json
Labels: docs

#15136 GitHub is official source of truth for release notes
  .github/labeler.yml
  RELEASE-NOTES.md
  client/setup.py
  docs/3.0rc/get-started/install.mdx
  docs/3.0rc/manage/cloud/troubleshoot-cloud.mdx
  setup.py
Labels: docs

#15139 Add note for remote logging
  docs/3.0rc/develop/logging.mdx
Labels: docs

#15138 move ephemeral server port finding to `start`
  src/prefect/server/api/server.py
Labels: fix

#15137 Fix server-side validation errors in IP allowlist CLI being swallowed.
  src/prefect/cli/cloud/ip_allowlist.py
Labels: enhancement, cli, cloud

#15141 Fix tailwind warning about node_modules import
  ui/tailwind.config.ts
Labels: development

#15144 some minor docs improvements
  docs/3.0rc/develop/manage-states.mdx
  docs/3.0rc/develop/write-flows.mdx
  docs/3.0rc/develop/write-tasks.mdx
Labels: docs

#15145 Update minor style issues on manage-states.mdx
  docs/3.0rc/develop/manage-states.mdx
Labels: docs

#15140 Adds docs page for deploying flows via Python
  docs/3.0rc/deploy/infrastructure-concepts/deploy-via-python.mdx
  docs/mint.json
Labels: docs

#15146 update `write-flows` docs
  docs/3.0rc/develop/write-flows.mdx
Labels: docs

#15148 Updates docker image build logic
  .github/workflows/docker-images.yaml
Labels: development

#15154 Update FLOW_RUN_ID -> RUN_ID in docs
  docs/3.0rc/develop/task-caching.mdx
Labels: docs

#15152 fix install command
  docs/3.0rc/resources/upgrade-to-prefect-3.mdx
Labels: docs

#15151 Add docs link to future garbage collection message
  docs/3.0rc/develop/task-runners.mdx
  src/prefect/futures.py
Labels: enhancement, docs

#15149 Rewrite logging config doc
  docs/3.0rc/develop/logging.mdx
  docs/mint.json
Labels: docs

#15150 Combine manage states and state change hooks
  docs/3.0rc/develop/index.mdx
  docs/3.0rc/develop/interact-with-data.mdx
  docs/3.0rc/develop/manage-states.mdx
  docs/3.0rc/develop/state-hooks.mdx
  docs/3.0rc/develop/write-flows.mdx
  docs/mint.json
  docs/snippets/final-flow-state.mdx
Labels: docs

#15157 rm poorly rendered line in contributing guide
  docs/contribute/styles-practices.mdx
Labels: docs

#15159 Remove reference to "three" changes in upgrade doc
  docs/3.0rc/resources/upgrade-to-prefect-3.mdx
Labels: docs

#15160 Fixes init of cloud client when no profiles are set
  src/prefect/client/cloud.py
  tests/client/test_cloud_client.py
Labels: fix

#15161 Add active slots to concurrency docs
  docs/guides/global-concurrency-limits.md
Labels: 2.x

#15162 rm old logs example and fix name
  docs/3.0rc/get-started/quickstart.mdx
Labels: docs

#15158 Rm "default" profile migration
  src/prefect/cli/profile.py
  src/prefect/settings.py
  tests/cli/test_profile.py
Labels: development

#15163 Updates redirects, removes broken links, and updates subsection index entries
  docs/3.0rc/develop/index.mdx
  docs/3.0rc/manage/cloud/index.mdx
  docs/3.0rc/resources/big-data.mdx
  docs/mint.json
Labels: docs

#15164 replace trigger example
  docs/3.0rc/automate/events/automations-triggers.mdx
Labels: docs

#15167 move integrations cards index file
  docs/integrations/cards.md
Labels: docs
