Repository PrefectHQ/prefect, pull requests merged in 2024-06, with the labels that each got.

#13753 unpin `requests` given docker-py hotfix
  requirements-dev.txt
  requirements.txt
Labels: maintenance

#13726 migrate `prefect-aws` to pydantic 2
  requirements-client.txt
  requirements-dev.txt
  src/integrations/prefect-aws/prefect_aws/batch.py
  src/integrations/prefect-aws/prefect_aws/client_parameters.py
  src/integrations/prefect-aws/prefect_aws/client_waiter.py
  src/integrations/prefect-aws/prefect_aws/credentials.py
  src/integrations/prefect-aws/prefect_aws/glue_job.py
  src/integrations/prefect-aws/prefect_aws/lambda_function.py
  src/integrations/prefect-aws/prefect_aws/s3.py
  src/integrations/prefect-aws/prefect_aws/secrets_manager.py
  src/integrations/prefect-aws/prefect_aws/workers/ecs_worker.py
  src/integrations/prefect-aws/tests/conftest.py
  src/integrations/prefect-aws/tests/test_s3.py
  src/integrations/prefect-aws/tests/test_secrets_manager.py
  src/integrations/prefect-aws/tests/workers/test_ecs_worker.py
Labels: maintenance, integrations

#13757 Remove divider from runs page
  ui/src/pages/Runs.vue
Labels: maintenance

#13759 Add endpoint for bulk task run counts for flow runs
  src/prefect/server/api/ui/flow_runs.py
  tests/server/orchestration/api/ui/test_flow_runs.py
Labels: ui

#13756 Adds `deferred` kwarg to `Task.map` to executed mapped tasks on a task server
  src/prefect/tasks.py
  tests/test_background_tasks.py
  tests/test_tasks.py
Labels: enhancement

#13716 Fix `load_flow_argument_from_entrypoint` to work with async flows
  src/prefect/deployments/base.py
  src/prefect/flows.py
  src/prefect/utilities/callables.py
  tests/test_flows.py
Labels: fix

#13769 Fix `load_flow_argument_from_entrypoint` to work with async flows
  src/prefect/deployments/base.py
  src/prefect/flows.py
  src/prefect/utilities/callables.py
  tests/test_flows.py
Labels: fix

#13770 Start redis when running `prefect-redis` tests
  .github/workflows/integration-package-tests.yaml
Labels: maintenance, integrations, test-all-integrations

#13775 Load assignments when safeloading a namespace
  src/prefect/utilities/importtools.py
  tests/utilities/test_callables.py
  tests/utilities/test_importtools.py
Labels: fix

#13778 Add handling for positional only and keyword only arguments when parsing a function signature from source code
  src/prefect/utilities/callables.py
  tests/utilities/test_callables.py
Labels: fix

#13777 add script to run collection tests against postgres
  scripts/test-collection-with-postgres
  scripts/test-internal-pydantic.sh
Labels: maintenance

#13781 Load assignments when safeloading a namespace
  src/prefect/utilities/importtools.py
  tests/utilities/test_callables.py
  tests/utilities/test_importtools.py
Labels: fix

#13782 coerce work pool env values to `str`
  src/prefect/client/schemas/objects.py
  src/prefect/server/schemas/core.py
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Labels: fix

#13784 2.19.4 release notes
  RELEASE-NOTES.md
Labels: maintenance

#13789 Fixes a doc build from an admonition change and note managed execution not in beta.
  docs/2.19.x/how-to-guides/execution/managed-execution.mdx
  docs/3.0rc/develop/recover-from-failure.mdx
Labels: docs

#13795 Update version instruction install docs page
  docs/3.0rc/get-started/install.mdx
Labels: docs

#13715 Add pydantic version to cli `version` command
  src/prefect/cli/root.py
  tests/cli/test_version.py
Labels: enhancement

#13773 conditionally log retryable errors
  src/prefect/server/api/server.py
  src/prefect/server/models/deployments.py
  src/prefect/server/services/loop_service.py
  src/prefect/settings.py
  tests/conftest.py
Labels: enhancement

#13557 Update `Variable.set` return value + docs
  docs/3.0rc/develop/write-workflows/variables.mdx
  src/prefect/variables.py
  tests/test_variables.py
Labels: enhancement, docs

#13786 Move `RedisStorageContainer` to prefect core
  .github/workflows/integration-package-tests.yaml
  .github/workflows/python-tests.yaml
  requirements-dev.txt
  setup.py
  src/integrations/prefect-redis/LICENSE
  src/integrations/prefect-redis/MANIFEST.in
  src/integrations/prefect-redis/README.md
  src/integrations/prefect-redis/prefect_redis/__init__.py
  src/integrations/prefect-redis/pyproject.toml
  src/prefect/blocks/redis.py
  tests/blocks/test_redis.py
Labels: maintenance

#13803 Ignore `.coverage` files when checking for extraneous files
  tests/conftest.py
Labels: maintenance

#13797 Update button text at top of page
  docs/mint.json
Labels: docs

#13808 Add new flow runs pagination endpoint
  src/prefect/server/api/flow_runs.py
  tests/server/orchestration/api/test_flow_runs.py
Labels: enhancement

#13815 support `retry_delay_seconds` in task engine
  src/prefect/client/schemas/objects.py
  src/prefect/task_engine.py
  tests/test_task_engine.py
Labels: fix

#13823 removing circleci config
  .circleci/config.yml
Labels: maintenance

#13763 Updates `PrefectDistributedFuture` to use an event websocket to determine task completion
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/objects.py
  src/prefect/events/schemas/events.py
  src/prefect/futures.py
  src/prefect/task_runs.py
  tests/events/client/instrumentation/test_task_run_state_change_events.py
  tests/test_background_tasks.py
  tests/test_futures.py
  tests/test_task_runners.py
  tests/test_task_runs.py
  tests/test_task_server.py
  tests/test_tasks.py
Labels: enhancement

#13824 remove invalid kwarg and catch exception groups
  src/prefect/task_engine.py
  src/prefect/task_server.py
  src/prefect/tasks.py
  tests/fixtures/database.py
Labels: maintenance

#13830 Fix flaky `test_without_disable_logger` test.
  tests/test_logging.py
Labels: maintenance

#13829 Fix flaky `test_sync_waiter_timeout_in_worker_thread` test
  tests/_internal/concurrency/test_waiters.py
Labels: maintenance

#13827 rename `TaskServer` to `TaskWorker`
  RELEASE-NOTES.md
  docs/3.0rc/guides/deferred-tasks.mdx
  docs/3.0rc/guides/index.mdx
  src/prefect/cli/task.py
  src/prefect/futures.py
  src/prefect/server/task_queue.py
  src/prefect/settings.py
  src/prefect/task_runners.py
  src/prefect/task_worker.py
  src/prefect/tasks.py
  tests/events/client/instrumentation/test_task_run_state_change_events.py
  tests/test_background_tasks.py
  tests/test_task_runners.py
  tests/test_task_worker.py
Labels: maintenance, breaking

#13828 Startup the docker registry when running datadog tests
  .github/workflows/python-tests.yaml
Labels: maintenance

#13836 Give `redis` a non-conflicting name in datadog tests
  .github/workflows/python-tests.yaml
Labels: maintenance

#13822 Edit get-started/install page
  docs/3.0rc/cloud/self-host.mdx
  docs/3.0rc/get-started/install.mdx
Labels: docs, 3.x

#13839 Update flow runs on Runs page to use pagination rather than infinite scrolling
  ui/package-lock.json
  ui/package.json
  ui/src/pages/Runs.vue
Labels: enhancement, ui

#13788 Remove gerunds and redundant prefixes from CLI command help text
  docs/2.19.x/concepts/block--agent-based-deployments/deployments.mdx
  src/prefect/cli/artifact.py
  src/prefect/cli/block.py
  src/prefect/cli/cloud/__init__.py
  src/prefect/cli/cloud/webhook.py
  src/prefect/cli/concurrency_limit.py
  src/prefect/cli/config.py
  src/prefect/cli/deploy.py
  src/prefect/cli/deployment.py
  src/prefect/cli/dev.py
  src/prefect/cli/events.py
  src/prefect/cli/flow.py
  src/prefect/cli/flow_run.py
  src/prefect/cli/global_concurrency_limit.py
  src/prefect/cli/profile.py
  src/prefect/cli/server.py
  src/prefect/cli/shell.py
  src/prefect/cli/task.py
  src/prefect/cli/task_run.py
  src/prefect/cli/variable.py
  src/prefect/cli/work_pool.py
  src/prefect/cli/work_queue.py
  src/prefect/cli/worker.py
  src/prefect/events/cli/automations.py
Labels: docs

#13852 Remove script tag
  docs/script.js
Labels: docs

#13848 raise helpful error when `task_worker` runs against ephemeral server
  src/prefect/client/subscriptions.py
  src/prefect/task_worker.py
  tests/test_task_worker.py
Labels: enhancement

#13846 Add new flows pagination endpoint
  src/prefect/server/api/flow_runs.py
  src/prefect/server/api/flows.py
  src/prefect/server/schemas/responses.py
  tests/server/orchestration/api/test_flows.py
Labels: enhancement

#13870 Add better task retry logging
  src/prefect/task_engine.py
Labels: enhancement

#13875 Add events to the flow run graph
  ui/src/components/FlowRunGraphs.vue
Labels: feature, ui

#13879 Quickstart 3.0rc polish
  docs/3.0rc/get-started/index.mdx
  docs/3.0rc/get-started/quickstart.mdx
Labels: docs, 3.x

#13866 Expose arg for max workers on `ThreadPoolTaskRunner`
  src/prefect/task_runners.py
  tests/test_task_runners.py
Labels: enhancement

#13883 shield reenqueue
  src/prefect/server/api/task_runs.py
Labels: fix

#13888 Update `pydantic` syntax in docs
  docs/3.0rc/guides/deployment/developing-a-new-worker-type.mdx
Labels: docs

#13816 Provide migration help for module import paths in Prefect 3 upgrade
  src/prefect/_internal/compatibility/migration.py
  src/prefect/deployments/__init__.py
  src/prefect/deployments/deployments.py
  src/prefect/engine.py
  src/prefect/exceptions.py
  src/prefect/filesystems.py
  src/prefect/variables.py
  tests/_internal/compatibility/test_migration.py
Labels: enhancement, maintenance

#13901 Remove the limit and page from the history request
  ui/src/pages/Runs.vue
Labels: ui, fix

#13902 remove dynamic key from non-flow task run name
  src/prefect/tasks.py
Labels: enhancement, 3.x

#13899 Resolve Postgres test hangs
  .github/workflows/python-tests.yaml
  src/prefect/flow_engine.py
  src/prefect/task_engine.py
Labels: maintenance

#13882 Adds circuit breaker when a task depends on itself
  src/prefect/task_engine.py
  src/prefect/utilities/engine.py
  tests/test_tasks.py
Labels: fix

#13884 Fix flow run retries for deployment flow runs
  src/prefect/client/orchestration.py
  src/prefect/flow_engine.py
  tests/test_flow_engine.py
Labels: fix

#13933 tweak display of subscribed keys in task worker
  src/prefect/task_worker.py
  src/prefect/utilities/services.py
Labels: maintenance

#13934 Improves integrations docs formatting
  docs/3.0rc/resources/daemonize-processes.mdx
  docs/integrations/prefect-aws/ecs_guide.mdx
  docs/integrations/prefect-bitbucket/index.mdx
  docs/integrations/prefect-dask/index.mdx
  docs/integrations/prefect-dask/usage_guide.mdx
  docs/integrations/prefect-dbt/index.mdx
  docs/integrations/prefect-gcp/gcp-worker-guide.mdx
  docs/integrations/prefect-gcp/index.mdx
  docs/integrations/prefect-ray/index.mdx
  docs/integrations/prefect-snowflake/index.mdx
  docs/integrations/prefect-sqlalchemy/index.mdx
  src/integrations/prefect-databricks/prefect_databricks/models/jobs.py
Labels: docs

#13924 Automating the Mintlify OpenAPI docs
  .github/workflows/static-analysis.yaml
  .pre-commit-config.yaml
  docs/3.0rc/api-ref/server/flow-runs/count-task-runs-by-flow-run.mdx
  docs/3.0rc/api-ref/server/flow-runs/paginate-flow-runs.mdx
  docs/3.0rc/api-ref/server/flows/paginate-flows.mdx
  docs/3.0rc/api-ref/server/root/server-version.mdx
  docs/3.0rc/api-ref/server/schema.json
  docs/3.0rc/resources/daemonize-processes.mdx
  docs/mint.json
  scripts/generate_mintlify_openapi_docs.py
  src/prefect/server/api/server.py
  src/prefect/types/__init__.py
Labels: docs, 3.x

#13841 Deprecation warnings on blocks
  src/integrations/prefect-aws/prefect_aws/ecs.py
  src/integrations/prefect-azure/prefect_azure/container_instance.py
  src/integrations/prefect-gcp/prefect_gcp/aiplatform.py
  src/integrations/prefect-gcp/prefect_gcp/cloud_run.py
  src/prefect/infrastructure/container.py
  src/prefect/server/collection_blocks_data.json
  src/prefect/server/models/block_registration.py
Labels: maintenance

#13843 Update collections registry block metadata
  src/prefect/server/collection_blocks_data.json
  src/prefect/server/models/block_registration.py
Labels: maintenance

#13943 Fix `ThreadPoolTaskRunner` concurrency by copying `max_workers` on duplication
  src/prefect/task_runners.py
  tests/test_task_runners.py
Labels: fix

#13937 Expose `receive_input` and `send_input` from `prefect.input`
  src/prefect/input/__init__.py
Labels: maintenance

#13926 Simplifies integration docs
  docs/integrations/contribute.mdx
  docs/integrations/index.mdx
  docs/integrations/integrations.mdx
  docs/integrations/prefect-aws/sdk.mdx
  docs/integrations/prefect-azure/sdk.mdx
  docs/integrations/prefect-bitbucket/sdk.mdx
  docs/integrations/prefect-dask/sdk.mdx
  docs/integrations/prefect-databricks/sdk.mdx
  docs/integrations/prefect-dbt/sdk.mdx
  docs/integrations/prefect-docker/sdk.mdx
  docs/integrations/prefect-email/sdk.mdx
  docs/integrations/prefect-gcp/sdk.mdx
  docs/integrations/prefect-github/sdk.mdx
  docs/integrations/prefect-gitlab/sdk.mdx
  docs/integrations/prefect-kubernetes/sdk.mdx
  docs/integrations/prefect-ray/sdk.mdx
  docs/integrations/prefect-shell/sdk.mdx
  docs/integrations/prefect-slack/sdk.mdx
  docs/integrations/prefect-snowflake/sdk.mdx
  docs/integrations/prefect-sqlalchemy/sdk.mdx
  docs/integrations/usage.mdx
  docs/mint.json
Labels: docs

#13962 2.x formatting in automations concepts docs
  docs/concepts/automations.md
Labels: docs

#13965 WIP events/React docs
  docs/3.0rc/react/incidents.mdx
  docs/3.0rc/react/manage-events.mdx
  docs/3.0rc/react/state-change-hooks.mdx
  docs/3.0rc/react/understand-events/index.mdx
  docs/3.0rc/react/understand-events/webhook-triggers.mdx
  docs/mint.json
Labels: docs, 3.x

#13973 Enabling `PREFECT_TEST_MODE` for integrations tests
  .github/workflows/api-compatibility-tests.yaml
  .github/workflows/integration-package-tests.yaml
  .github/workflows/static-analysis.yaml
  README.md
  docs/2.19.x/how-to-guides/development/ci-cd.mdx
  docs/3.0rc/deploy/dynamic-infra/deploy-ci-cd.mdx
  src/integrations/prefect-aws/pyproject.toml
  src/integrations/prefect-azure/pyproject.toml
  src/integrations/prefect-bitbucket/pyproject.toml
  src/integrations/prefect-dask/pyproject.toml
  src/integrations/prefect-databricks/pyproject.toml
  src/integrations/prefect-dbt/pyproject.toml
  src/integrations/prefect-docker/pyproject.toml
  src/integrations/prefect-email/pyproject.toml
  src/integrations/prefect-gcp/pyproject.toml
  src/integrations/prefect-github/pyproject.toml
  src/integrations/prefect-gitlab/pyproject.toml
  src/integrations/prefect-kubernetes/pyproject.toml
  src/integrations/prefect-ray/pyproject.toml
  src/integrations/prefect-shell/pyproject.toml
  src/integrations/prefect-slack/pyproject.toml
  src/integrations/prefect-snowflake/pyproject.toml
  src/integrations/prefect-sqlalchemy/pyproject.toml
Labels: test-all-integrations

#13967 Fix `prefect deploy` with dynamic @flow decorator args
  src/prefect/flows.py
  tests/test_flows.py
Labels: fix

#13917 Remove unused attributes from `EngineContext`
  src/prefect/context.py
  src/prefect/flow_engine.py
  src/prefect/results.py
  tests/test_context.py
  tests/test_task_engine.py
Labels: breaking

#13990 fix(results-store): catch and handle any Exception from exists()
  src/prefect/records/result_store.py
Labels: fix, 3.x

#13971 fix variables schema dump: `$defs` -> `definitions`
  src/integrations/prefect-aws/prefect_aws/workers/ecs_worker.py
  src/prefect/blocks/core.py
  src/prefect/cli/_utilities.py
  src/prefect/cli/worker.py
  src/prefect/workers/base.py
Labels: fix, 3.x

#13988 Update Quickstart install instructions for 3.0
  docs/3.0rc/get-started/quickstart.mdx
  docs/getting-started/installation.mdx
Labels: docs

#13992 Updates docs formatting for Mintlify
  docs/3.0rc/cloud/index.mdx
  docs/3.0rc/deploy/dynamic-infra/deploy-docker.mdx
  docs/3.0rc/deploy/dynamic-infra/push-runs-remote.mdx
  docs/3.0rc/deploy/dynamic-infra/push-runs-serverless.mdx
  docs/3.0rc/deploy/serve-workflows/deploy-a-flow.mdx
  docs/3.0rc/deploy/work-pools/control-runs.mdx
  docs/3.0rc/deploy/work-pools/managed-execution.mdx
  docs/3.0rc/deploy/work-pools/prefect-deploy.mdx
  docs/3.0rc/develop/observe-workflows/index.mdx
  docs/3.0rc/develop/write-tasks/dask-and-ray.mdx
  docs/3.0rc/develop/write-tasks/index.mdx
  docs/3.0rc/develop/write-workflows/index.mdx
  docs/3.0rc/guides/index.mdx
  docs/3.0rc/react/understand-events/automations-triggers.mdx
  docs/3.0rc/resources/big-data.mdx
  docs/3.0rc/resources/daemonize-processes.mdx
  docs/getting-started/overview.mdx
Labels: docs

#13940 Surface failed action `error_detail` for validation errors
  src/prefect/server/events/actions.py
  tests/events/server/actions/test_running_deployment.py
Labels: enhancement

#13999 Fix docs formatting in integrations page
  docs/integrations/integrations.mdx
Labels: docs

#13991 2.x - Fix prefect deploy with dynamic @flow decorator args
  src/prefect/flows.py
  tests/test_flows.py
Labels: fix

#13922 Prevent execution of code in `if __name__ == "__main__":` blocks when running `prefect deploy`
  src/prefect/utilities/importtools.py
  tests/utilities/test_importtools.py
Labels: fix

#14004 Prevent execution of code in `if __name__ == "__main__":` blocks when running `prefect deploy`
  src/prefect/utilities/importtools.py
  tests/utilities/test_importtools.py
Labels: fix

#14005 fix typing on `GlobalConcurrencyLimitUpdate`
  src/prefect/client/schemas/actions.py
  tests/cli/test_global_concurrency_limit.py
Labels: fix

#14006 fix typing on `GlobalConcurrencyLimitUpdate` 2.x
  src/prefect/client/schemas/actions.py
Labels: fix

#14015 Install tweaks
  docs/3.0rc/get-started/install.mdx
Labels: docs

#13996 Removed references to SequentialTaskRunner
  docs/3.0rc/develop/write-tasks/use-task-runners.mdx
Labels: docs

#14016 Removes extraneous docs files
  docs/3.0rc/concepts-mkdocs/add-schedule-callout.png
  docs/3.0rc/concepts-mkdocs/custom-parameters.png
  docs/3.0rc/concepts-mkdocs/deployments.png
  docs/3.0rc/concepts-mkdocs/edit-schedule-callout.png
  docs/3.0rc/concepts-mkdocs/flow-deployment-end-to-end.png
  docs/3.0rc/concepts-mkdocs/flow_run_logs.png
  docs/3.0rc/concepts-mkdocs/interval-schedule.png
  docs/3.0rc/concepts-mkdocs/s3-block-configuration.png
  docs/3.0rc/concepts-mkdocs/storage-ls.png
  docs/3.0rc/concepts-mkdocs/variables-ui.png
  docs/utilities/get-newest-version.py
  docs/utilities/remove-docs-alias.py
  docs/utilities/sort-docs-versions.py
  docs/utilities/update-mkdocs-config.py
  netlify/edge-functions/amplitude.ts
Labels: docs

#14021 Unpin docker in 2.x
  requirements.txt
Labels: maintenance

#14030 Bump `TaskRunWaiter` cache size and expiration time and pin task worker thread pool workers to passed `limit`
  src/prefect/task_runs.py
  src/prefect/task_worker.py
Labels: fix

#13983 Add default store for transactions
  src/prefect/results.py
  src/prefect/settings.py
  src/prefect/transactions.py
  tests/results/test_result_factory.py
  tests/test_transactions.py
Labels: enhancement

#14040 Fix k8s guide to avoid suggesting you need cloud
  docs/2.19.x/how-to-guides/work-pools/kubernetes.mdx
Labels: docs, fix

#14052 Remove extra arrow in top button
  docs/mint.json
Labels: docs

#14055 Update contribute section of the docs
  docs/3.0rc/community/contribute-integrations.mdx
  docs/community/code-of-conduct.mdx
  docs/community/contribute-integrations.mdx
  docs/community/develop-a-new-worker-type.mdx
  docs/community/index.mdx
  docs/community/install-contribute.mdx
  docs/community/styles-practices.mdx
  docs/mint.json
Labels: docs

#14060 Add documentation about supported function types
  docs/3.0rc/develop/write-tasks/index.mdx
  docs/3.0rc/develop/write-workflows/index.mdx
  tests/events/client/test_events_emit_event.py
  tests/test_flows.py
  tests/test_tasks.py
Labels: docs

#14070 minor typing and logging improvements
  src/prefect/flows.py
Labels: maintenance

#14073 `3.0.0rc3` release notes
  RELEASE-NOTES.md
Labels: maintenance

#14081 Update PR template to reflect docs process changes
  .github/pull_request_template.md
Labels: docs

#14080 Adds warning when `cache_key_fn` and `cache_policy` are both provided to a task
  src/prefect/tasks.py
  tests/test_tasks.py
Labels: maintenance

#14086 Update community to contribute in the docs
  docs/contribute/code-of-conduct.mdx
  docs/contribute/contribute-integrations.mdx
  docs/contribute/develop-a-new-worker-type.mdx
  docs/contribute/index.mdx
  docs/contribute/install-contribute.mdx
  docs/contribute/styles-practices.mdx
  docs/mint.json
Labels: docs

#14045 Fix definition names of flow run endpoints
  docs/3.0rc/api-ref/server/schema.json
  docs/mint.json
  src/prefect/server/api/flow_runs.py
  src/prefect/types/__init__.py
Labels: maintenance, 3.x

#14082 Fix bug where paused work queues getting unpaused and set to active on worker poll
  src/prefect/server/api/workers.py
  tests/server/orchestration/api/test_workers.py
Labels: fix

#14095 Fix stale deployment statuses
  src/prefect/server/api/workers.py
  tests/server/orchestration/api/test_workers.py
Labels: fix

#14077 Add pagination endpoint for deployments
  docs/3.0rc/api-ref/server/deployments/paginate-deployments.mdx
  docs/3.0rc/api-ref/server/schema.json
  docs/mint.json
  src/prefect/server/api/deployments.py
  src/prefect/server/schemas/responses.py
  tests/server/orchestration/api/test_deployments.py
Labels: enhancement, 3.x

#14096 Update integration links and content
  docs/3.0rc/guides/index.mdx
  docs/images/ECSCluster_UI.png
  docs/images/LaunchType_UI.png
  docs/images/VPC_UI.png
  docs/images/Workpool_UI.png
  docs/images/cloud-run-work-pool-gcp-creds.png
  docs/images/cloud-run-work-pool-region.png
  docs/images/cloud-run-work-pool-service-account-name.png
  docs/images/favicon.ico
  docs/images/prefect-logo-mark.png
  docs/integrations/prefect-aws/deployments/steps.mdx
  docs/integrations/prefect-aws/ecs_guide.mdx
  docs/integrations/prefect-aws/index.mdx
  docs/integrations/prefect-aws/sdk.mdx
  docs/integrations/prefect-azure/index.mdx
  docs/integrations/prefect-azure/sdk.mdx
  docs/integrations/prefect-bitbucket/index.mdx
  docs/integrations/prefect-dask/index.mdx
  docs/integrations/prefect-databricks/index.mdx
  docs/integrations/prefect-dbt/cli/commands.mdx
  docs/integrations/prefect-dbt/index.mdx
  docs/integrations/prefect-dbt/sdk.mdx
  docs/integrations/prefect-docker/index.mdx
  docs/integrations/prefect-docker/sdk.mdx
  docs/integrations/prefect-email/index.mdx
  docs/integrations/prefect-email/sdk.mdx
  docs/integrations/prefect-gcp/gcp-worker-guide.mdx
  docs/integrations/prefect-gcp/index.mdx
  docs/integrations/prefect-gcp/sdk.mdx
  docs/integrations/prefect-github/index.mdx
  docs/integrations/prefect-github/sdk.mdx
  docs/integrations/prefect-gitlab/index.mdx
  docs/integrations/prefect-gitlab/sdk.mdx
  docs/integrations/prefect-kubernetes/index.mdx
  docs/integrations/prefect-kubernetes/sdk.mdx
  docs/integrations/prefect-ray/index.mdx
  docs/integrations/prefect-ray/sdk.mdx
  docs/integrations/prefect-shell/index.mdx
  docs/integrations/prefect-shell/sdk.mdx
  docs/integrations/prefect-slack/index.mdx
  docs/integrations/prefect-slack/sdk.mdx
  docs/integrations/prefect-snowflake/index.mdx
  docs/integrations/prefect-snowflake/sdk.mdx
  docs/integrations/prefect-sqlalchemy/index.mdx
  docs/integrations/prefect-sqlalchemy/sdk.mdx
Labels: docs

#14102 Turn on task persistence by default
  src/prefect/results.py
  src/prefect/task_engine.py
  src/prefect/tasks.py
  src/prefect/transactions.py
  tests/events/client/instrumentation/test_task_run_state_change_events.py
  tests/fixtures/storage.py
  tests/results/test_flow_results.py
  tests/results/test_result_factory.py
  tests/results/test_task_results.py
  tests/test_background_tasks.py
  tests/test_task_engine.py
  tests/test_task_runners.py
  tests/test_task_worker.py
  tests/test_tasks.py
  tests/test_transactions.py
Labels: enhancement

#14112 Fix layout shift in home component
  ui/src/pages/Dashboard.vue
Labels: ui, fix

#14115 Addresses two race conditions in background task runs
  src/prefect/client/subscriptions.py
  src/prefect/futures.py
  src/prefect/task_runs.py
  src/prefect/task_worker.py
Labels: fix

#14119 Update install instructions
  docs/3.0rc/get-started/install.mdx
  docs/3.0rc/get-started/quickstart.mdx
  docs/concepts/work-pools.md
Labels: docs

#14126 Update nearly 100 broken links
  docs/3.0rc/deploy/dynamic-infra/push-runs-remote.mdx
  docs/3.0rc/develop/connect-third-party.mdx
  docs/3.0rc/develop/write-tasks/use-task-runners.mdx
  docs/3.0rc/manage/cloud/troubleshoot-cloud.mdx
  docs/3.0rc/resources/secrets.mdx
  docs/contribute/index.mdx
  docs/integrations/prefect-azure/index.mdx
  docs/integrations/prefect-gcp/index.mdx
Labels: docs

#14135 Update install instructions and simplify README
  README.md
  docs/README.md
  docs/concepts/work-pools.md
  docs/getting-started/installation.mdx
Labels: docs

#14130 Add nightly release workflow for release candidates
  .github/workflows/nightly-release.yaml
Labels: maintenance

#14136 Fix error in nightly release workflow by fetching full git history
  .github/workflows/nightly-release.yaml
Labels: maintenance

#14137 Fix latest tag regex in nightly release workflow to work on Ubuntu
  .github/workflows/nightly-release.yaml
Labels: maintenance

#14138 chore(docs): add RayTaskRunner doc example using runtime_env
  docs/3.0rc/develop/write-tasks/dask-and-ray.mdx
Labels: docs, 3.x

#14146 Remove unnecessary `git fetch` and add more changes to trigger a nightly release
  .github/workflows/nightly-release.yaml
Labels: maintenance

#14152 Fixes passing `PrefectFuture`s to flows
  src/prefect/flow_engine.py
  tests/test_flows.py
Labels: fix

#14154 Fixes `KubernetesClusterConfig` import in `prefect-kubernetes`
  docs/integrations/prefect-kubernetes/index.mdx
  src/integrations/prefect-kubernetes/README.md
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
Labels: fix

#14170 Update link in nav
  mkdocs.yml
Labels: docs

#14121 Move timeout context into slot acquisition service
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/services.py
  src/prefect/concurrency/sync.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_slot_acquisition_service.py
  tests/concurrency/test_concurrency_sync.py
Labels: fix

#14174 Fix permissions issue in nightly release workflow
  .github/workflows/nightly-release.yaml
Labels: maintenance

#13981 Add LocalStorage Implementation
  src/prefect/flows.py
  src/prefect/runner/storage.py
  tests/runner/test_storage.py
  tests/test_flows.py
Labels: enhancement

#14148 Log warning when a Concurrent, Dask, or Ray versions of `PrefectFuture` are garbage collection before resolution
  src/integrations/prefect-dask/prefect_dask/task_runners.py
  src/integrations/prefect-dask/tests/test_task_runners.py
  src/integrations/prefect-ray/prefect_ray/task_runners.py
  src/integrations/prefect-ray/tests/test_task_runners.py
  src/prefect/futures.py
  tests/test_futures.py
Labels: enhancement

#14144 Remove references to `ConcurrentTaskRunner` from docs and ensure examples use `.wait()`
  docs/2.19.x/concepts/task-runners.mdx
  docs/3.0rc/develop/write-flows/index.mdx
  docs/3.0rc/develop/write-tasks/dask-and-ray.mdx
  docs/3.0rc/develop/write-tasks/use-task-runners.mdx
  src/prefect/flows.py
Labels: docs

#14133 prefect-dbt - update integration docs
  docs/integrations/prefect-dbt/index.mdx
Labels: docs, 3.x

#14185 React -> automate
  docs/3.0rc/automate/add-schedules.mdx
  docs/3.0rc/automate/events/automations-triggers.mdx
  docs/3.0rc/automate/events/custom-triggers.mdx
  docs/3.0rc/automate/events/events.mdx
  docs/3.0rc/automate/events/webhook-triggers.mdx
  docs/3.0rc/automate/incidents.mdx
  docs/3.0rc/automate/state-hooks.mdx
  docs/3.0rc/deploy/serve-flows/deploy-a-flow.mdx
  docs/3.0rc/deploy/work-pools/control-runs.mdx
  docs/3.0rc/deploy/work-pools/prefect-deploy.mdx
  docs/3.0rc/develop/control-workflows/inputs.mdx
  docs/3.0rc/get-started/index.mdx
  docs/3.0rc/manage/cloud/index.mdx
  docs/3.0rc/manage/self-host.mdx
  docs/mint.json
Labels: docs

#14187 Fix nightly release workflow
  .github/workflows/nightly-release.yaml
Labels: maintenance

#14184 Make `Task.serve` sync compatible
  src/prefect/tasks.py
Labels: fix

#14183 Fix `concurrency` timeout scoping for 2.x
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/services.py
  src/prefect/concurrency/sync.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_slot_acquisition_service.py
  tests/concurrency/test_concurrency_sync.py
Labels: fix

#14140 Update `vite.config.ts` to `vite.config.mts` to avoid warning log
  ui/vite.config.mts
Labels: maintenance, ui

#14188 Use `dev` GitHub environment for prereleases
  .github/workflows/docker-images.yaml
  .github/workflows/prefect-client-publish.yaml
  .github/workflows/python-package.yaml
Labels: maintenance

#14203 Update integration library install instructions to show Prefect 2 and Prefect 3
  docs/integrations/prefect-aws/index.mdx
  docs/integrations/prefect-azure/index.mdx
  docs/integrations/prefect-bitbucket/index.mdx
  docs/integrations/prefect-dask/index.mdx
Labels: docs

#14201 Prevent deadlocks with default `ThreadPoolTaskRunner` settings
  src/prefect/task_runners.py
  tests/test_task_runners.py
Labels: fix

#14218 remove `Deployment.manifest_path`
  docs/3.0rc/api-ref/server/schema.json
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  src/prefect/client/schemas/responses.py
  src/prefect/flows.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/responses.py
  tests/cli/deployment/test_deployment_cli.py
  tests/cli/test_work_queues.py
  tests/client/test_prefect_client.py
  tests/events/server/actions/test_calling_webhook.py
  tests/events/server/actions/test_cancelling_flow_run.py
  tests/events/server/actions/test_changing_flow_run_state.py
  tests/events/server/actions/test_jinja_templated_action.py
  tests/events/server/actions/test_pausing_resuming_deployment.py
  tests/events/server/actions/test_running_deployment.py
  tests/events/server/actions/test_suspending_flow_run.py
  tests/server/api/test_server.py
  tests/server/models/deprecated/test_work_queues.py
  tests/server/models/test_deployments.py
  tests/server/models/test_filters.py
  tests/server/models/test_flow_runs.py
  tests/server/orchestration/api/test_deployments.py
  tests/server/orchestration/api/test_flow_runs.py
  tests/server/orchestration/api/test_flows.py
  tests/server/orchestration/api/ui/test_flows.py
  tests/server/schemas/test_core.py
  tests/test_logging.py
Labels: maintenance, 3.x

#14215 Update install instructions for remaining integration libraries
  docs/integrations/prefect-dask/index.mdx
  docs/integrations/prefect-databricks/index.mdx
  docs/integrations/prefect-dbt/index.mdx
  docs/integrations/prefect-docker/index.mdx
  docs/integrations/prefect-email/index.mdx
  docs/integrations/prefect-gcp/index.mdx
  docs/integrations/prefect-github/index.mdx
  docs/integrations/prefect-gitlab/index.mdx
  docs/integrations/prefect-kubernetes/index.mdx
  docs/integrations/prefect-ray/index.mdx
  docs/integrations/prefect-shell/index.mdx
  docs/integrations/prefect-slack/index.mdx
  docs/integrations/prefect-snowflake/index.mdx
  docs/integrations/prefect-sqlalchemy/index.mdx
Labels: docs

#14186 Port LocalStorage implementation to main
  src/prefect/flows.py
  src/prefect/runner/storage.py
  tests/runner/test_storage.py
  tests/test_flows.py
Labels: enhancement

#14217 Remove default-on, flow run graph experimental flags.
  docs/3.0rc/api-ref/server/schema.json
  src/prefect/server/database/query_components.py
  src/prefect/settings.py
  tests/_internal/compatibility/test_experimental.py
  tests/server/orchestration/api/test_flow_run_graph_v2.py
  tests/server/test_app.py
Labels: maintenance, 3.x

#14229 Update publish workflows to use `pre-release` environment
  .github/workflows/docker-images.yaml
  .github/workflows/prefect-client-publish.yaml
  .github/workflows/python-package.yaml
Labels: maintenance

#14222 Fix typing for `.submit` and `.map`
  src/integrations/prefect-dask/prefect_dask/task_runners.py
  src/integrations/prefect-ray/prefect_ray/task_runners.py
  src/prefect/futures.py
  src/prefect/task_runners.py
  src/prefect/tasks.py
Labels: fix

#14234 Add ability to wait on or get results of groups of futures
  src/integrations/prefect-dask/prefect_dask/task_runners.py
  src/integrations/prefect-ray/prefect_ray/task_runners.py
  src/prefect/futures.py
  src/prefect/task_runners.py
  src/prefect/tasks.py
  tests/test_futures.py
  tests/test_tasks.py
Labels: enhancement

#14235 remove broken line highlights
  docs/3.0rc/deploy/serve-flows/serve-a-flow.mdx
  docs/3.0rc/deploy/work-pools/managed-execution.mdx
  docs/3.0rc/deploy/work-pools/prefect-deploy.mdx
  docs/3.0rc/develop/blocks.mdx
  docs/3.0rc/develop/manage-states.mdx
  docs/3.0rc/develop/recover-from-failure.mdx
  docs/3.0rc/develop/write-flows.mdx
  docs/3.0rc/manage/interact-with-api.mdx
  docs/3.0rc/resources/cancel.mdx
Labels: docs, 3.x

#14244 Update Cloud plan language
  docs/2.19.x/cloud/overview.mdx
  docs/2.19.x/cloud/users/api-keys.mdx
  docs/2.19.x/cloud/users/audit-log.mdx
  docs/2.19.x/cloud/users/objective-level-access-control.mdx
  docs/2.19.x/cloud/users/overview.mdx
  docs/2.19.x/cloud/users/rbac.mdx
  docs/2.19.x/cloud/users/sso.mdx
  docs/2.19.x/cloud/users/teams.mdx
  docs/2.19.x/cloud/workspaces.mdx
  docs/2.19.x/concepts/automations.mdx
  docs/3.0rc/automate/events/automations-triggers.mdx
  docs/3.0rc/manage/cloud/index.mdx
  docs/3.0rc/manage/cloud/manage-users/api-keys.mdx
  docs/3.0rc/manage/cloud/manage-users/audit-logs.mdx
  docs/3.0rc/manage/cloud/manage-users/configure-sso.mdx
  docs/3.0rc/manage/cloud/manage-users/index.mdx
  docs/3.0rc/manage/cloud/manage-users/manage-roles.mdx
  docs/3.0rc/manage/cloud/manage-users/manage-teams.mdx
  docs/3.0rc/manage/cloud/manage-users/object-access-control-lists.mdx
  docs/3.0rc/manage/cloud/workspaces.mdx
Labels: docs

#14122 Use "nested flow" in place of "subflow" in the docs
  docs/2.19.x/cloud/api-rate-limits.mdx
  docs/2.19.x/concepts/block--agent-based-deployments/deployments.mdx
  docs/2.19.x/concepts/deployments.mdx
  docs/2.19.x/concepts/flows.mdx
  docs/2.19.x/concepts/states.mdx
  docs/2.19.x/concepts/task-runners.mdx
  docs/2.19.x/concepts/tasks.mdx
  docs/2.19.x/how-to-guides/development/specify-upstream-dependencies.mdx
  docs/2.19.x/how-to-guides/execution/dask--ray.mdx
  docs/2.19.x/how-to-guides/execution/logging.mdx
  docs/2.19.x/tutorial/tasks.mdx
  docs/3.0rc/api-ref/search.js
  docs/3.0rc/deploy/serve-flows/deploy-a-flow.mdx
  docs/3.0rc/develop/logging.mdx
  docs/3.0rc/develop/manage-states.mdx
  docs/3.0rc/develop/pause-resume.mdx
  docs/3.0rc/develop/task-runners.mdx
  docs/3.0rc/develop/write-tasks.mdx
  docs/3.0rc/resources/cancel.mdx
  docs/integrations/prefect-slack/index.mdx
Labels: docs

#14242 Use prefect extras when adhoc installing integrations
  src/prefect/_internal/integrations.py
  src/prefect/cli/_prompts.py
  src/prefect/cli/worker.py
  src/prefect/deployments/steps/core.py
  tests/_internal/test_integrations.py
  tests/cli/test_worker.py
  tests/deployment/test_steps.py
Labels: fix

#14249 run static analysis on push to main
  .github/workflows/static-analysis.yaml
  docs/mint.json
Labels: maintenance

#14264 Fixing broken links
  docs/3.0rc/api-ref/rest-api/index.mdx
  docs/3.0rc/automate/events/automations-triggers.mdx
  docs/3.0rc/deploy/dynamic-infra/push-runs-remote.mdx
  docs/3.0rc/deploy/serve-flows/deploy-a-flow.mdx
  docs/3.0rc/deploy/serve-flows/serve-a-flow.mdx
  docs/3.0rc/deploy/work-pools/control-runs.mdx
  docs/3.0rc/deploy/work-pools/prefect-deploy.mdx
  docs/3.0rc/develop/blocks.mdx
  docs/3.0rc/develop/inputs.mdx
  docs/3.0rc/develop/logging.mdx
  docs/3.0rc/develop/manage-states.mdx
  docs/3.0rc/develop/pause-resume.mdx
  docs/3.0rc/develop/recover-from-failure.mdx
  docs/3.0rc/develop/runtime-context.mdx
  docs/3.0rc/develop/task-run-limits.mdx
  docs/3.0rc/develop/task-runners.mdx
  docs/3.0rc/develop/write-flows.mdx
  docs/3.0rc/develop/write-tasks.mdx
  docs/3.0rc/manage/cloud/troubleshoot-cloud.mdx
  docs/3.0rc/manage/configure-client.mdx
  docs/3.0rc/manage/interact-with-api.mdx
  docs/3.0rc/manage/self-host.mdx
  docs/3.0rc/resources/cancel.mdx
  docs/3.0rc/resources/upgrade-agents-to-workers.mdx
  docs/contribute/develop-a-new-worker-type.mdx
  docs/contribute/index.mdx
Labels: docs

#14156 Fix bug where block documents are resolved in `job_variables` before saving server-side
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: fix

#14273 Flows page clarifications
  docs/3.0rc/develop/write-flows.mdx
Labels: docs

#14220 Get `parameters` from flow definition if none are given otherwise
  src/prefect/engine.py
  src/prefect/flow_engine.py
  tests/test_flow_engine.py
Labels: fix

#14274 2.19.6 release notes
  RELEASE-NOTES.md
Labels: maintenance

#14226 Fix sync_compatible typing
  src/prefect/blocks/core.py
  src/prefect/client/utilities.py
  src/prefect/utilities/asyncutils.py
Labels: fix, 3.x

#14280 Update blocks section
  docs/3.0rc/develop/blocks.mdx
  docs/3.0rc/develop/write-tasks.mdx
Labels: docs

#14277 Adds check to ensure only know view paths can be passed
  src/prefect/server/api/collections.py
Labels: fix

#14224 Add `3.x`-specific issue template
  .github/ISSUE_TEMPLATE/0_3x_bug_report.yaml
  .github/ISSUE_TEMPLATE/1_2x_bug_report.yaml
Labels: maintenance

#14292 SDK docs build
  docs/.gitignore
  docs/mkdocs/prefect/blocks/kubernetes.md
  docs/mkdocs/prefect/cache_policies.md
  docs/mkdocs/prefect/client/types/flexible_schedule_list.md
  docs/mkdocs/prefect/client/types/index.md
  docs/mkdocs/prefect/docker/docker_image.md
  docs/mkdocs/prefect/docker/index.md
  docs/mkdocs/prefect/main.md
  docs/mkdocs/prefect/records/cache_policies.md
  docs/mkdocs/prefect/types/entrypoint.md
  docs/mkdocs/prefect_ray/context.md
  docs/mkdocs/prefect_ray/index.md
  docs/mkdocs/prefect_ray/task_runners.md
  mkdocs.yml
  requirements-dev.txt
  scripts/generate_sdk_docs.py
  scripts/serve_docs
  src/integrations/prefect-dbt/prefect_dbt/cli/configs/postgres.py
  src/integrations/prefect-gcp/prefect_gcp/cloud_storage.py
Labels: docs

#14305 Fix typo in results.mdx
  docs/3.0rc/develop/results.mdx
Labels: docs

#14302 Mark `MinimalDeploymentSchedule` as having been removed in v3
  src/prefect/_internal/compatibility/migration.py
  src/prefect/client/schemas/objects.py
Labels: maintenance

#14311 Remove notifications section
  docs/3.0rc/manage/self-host.mdx
Labels: docs

#14312 Remove unnecessary screen shot
  docs/3.0rc/deploy/dynamic-infra/push-runs-serverless.mdx
Labels: docs

#14300 Turn off result persistence by default
  docs/3.0rc/api-ref/server/schema.json
  src/prefect/settings.py
  src/prefect/task_worker.py
  src/prefect/tasks.py
  tests/results/test_flow_results.py
  tests/results/test_result_factory.py
  tests/results/test_result_fetch.py
  tests/results/test_task_results.py
  tests/test_flow_engine.py
  tests/test_flows.py
  tests/test_states.py
  tests/test_task_engine.py
  tests/test_task_worker.py
  tests/test_tasks.py
Labels: fix

#14294 Prompt user to set `PREFECT_API_URL` when starting server if not set
  src/prefect/cli/server.py
Labels: enhancement
