Repository PrefectHQ/prefect, pull requests merged in 2024-12, with the labels that each got.

#16173 copy `CODE_OF_CONDUCT.md` to repo
  CODE_OF_CONDUCT.md
Labels: development

#16174 Remove some stray discourse refs
  client/README.md
  docs/v3/resources/recipes.mdx
Labels: docs

#16159 update docker example flow
  docs/v3/deploy/infrastructure-examples/docker.mdx
Labels: docs

#16149 fix ssl verify and update tests
  .github/workflows/markdown-tests.yaml
  flows/client_context_lifespan.py
  scripts/run-integration-flows.py
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/actions.py
  src/prefect/workers/base.py
  tests/blocks/test_notifications.py
  tests/cli/cloud/test_cloud.py
  tests/cli/test_profile.py
  tests/cli/test_worker.py
  tests/client/test_cloud_client.py
  tests/client/test_prefect_client.py
  tests/conftest.py
  tests/deployment/test_flow_runs.py
  tests/fixtures/collections_registry.py
  tests/server/orchestration/api/test_collections.py
  tests/server/services/test_telemetry.py
Labels: bug, development, upstream dependency

#16169 migrate `prefect_aws.secrets_manager` off `sync_compatible`
  src/integrations/prefect-aws/prefect_aws/secrets_manager.py
  src/integrations/prefect-aws/tests/test_secrets_manager.py
Labels: development, integrations

#16145 Fix setting task states with duplicate timestamps
  src/prefect/task_engine.py
  tests/test_task_engine.py
Labels: bug

#16177 clean up repo root
  docs/integrations/create_integrations_cards.py
  docs/integrations/integration-cards.md
  runtime.txt
Labels: development, docs

#16176 rm discourse references
  client/README.md
  docs/mkdocs/stylesheets/extra.css
  docs/v3/manage/cloud/troubleshoot-cloud.mdx
Labels: docs

#16097 limit event name length
  docs/v3/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/events/schemas/events.py
  src/prefect/server/events/schemas/events.py
  src/prefect/settings/models/server/events.py
  src/prefect/types/__init__.py
  tests/events/client/test_events_schema.py
  tests/events/server/test_events_schema.py
  tests/test_settings.py
Labels: development, docs

#16124 expose `job_variables` in `runtime.flow_run`
  src/prefect/runtime/flow_run.py
  tests/runtime/test_flow_run.py
Labels: enhancement

#16172 fix `__getattr__` conflict in `prefect.docker.__init__`
  src/prefect/docker/__init__.py
  tests/docker/test_public_api.py
Labels: bug, fix

#16189 Fix result store serialization to include all necessary attributes
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/blocks/core.py
  src/prefect/context.py
  tests/blocks/test_core.py
  tests/test_context.py
Labels: bug, docs

#16123 Add tutorial that shows how to set up Prefect Cloud as a platform for data teams
  docs/mint.json
  docs/v3/img/ui/home-page.png
  docs/v3/tutorials/platform.mdx
Labels: docs, 3.x

#15972 Add `aserve` utility for serving multiple flows from an asynchronous context
  src/prefect/__init__.py
  src/prefect/flows.py
  src/prefect/main.py
  tests/runner/test_runner.py
Labels: enhancement

#16209 [UI v2] Use cva() on StateBadge
  ui-v2/src/components/ui/state-badge/index.tsx
  ui-v2/src/components/ui/state-badge/state-badge.stories.tsx
  ui-v2/src/components/ui/state-badge/state-badge.test.tsx
Labels: development

#16203 [UI v2] feat: Adds EmptyState for Task Run Concurrency Limits
  ui-v2/src/components/concurrency/task-run-concurrency-limit-empty-state.test.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limit-empty-state.tsx
  ui-v2/src/components/ui/docs-link.tsx
Labels: development, ui

#16192 bump required minor versions of core
  src/integrations/prefect-azure/pyproject.toml
  src/integrations/prefect-docker/pyproject.toml
  src/integrations/prefect-gcp/pyproject.toml
  src/integrations/prefect-kubernetes/pyproject.toml
Labels: development, integrations

#15955 Instrument task runs
  src/prefect/task_engine.py
  src/prefect/telemetry/run_telemetry.py
  tests/telemetry/test_instrumentation.py
Labels: upstream dependency

#16212 update typing in `blocks.abstract` and `concurrency`
  src/prefect/blocks/abstract.py
  src/prefect/blocks/core.py
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/sync.py
  tests/concurrency/test_acquire_concurrency_slots.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_sync.py
  tests/concurrency/test_release_concurrency_slots.py
  tests/concurrency/v1/test_increment_concurrency_limits.py
Labels: development

#16223 strict type client modules
  src/prefect/client/base.py
  src/prefect/client/cloud.py
  src/prefect/client/collections.py
  src/prefect/client/subscriptions.py
  src/prefect/client/utilities.py
  src/prefect/utilities/asyncutils.py
  src/prefect/utilities/math.py
Labels: development

#16221 Bring ORM models and Alembic migrations in sync
  src/prefect/server/database/_migrations/MIGRATION-NOTES.md
  src/prefect/server/database/_migrations/env.py
  src/prefect/server/database/_migrations/versions/postgresql/2024_12_04_165333_5d03c01be85e_sync_orm_models_and_migrations.py
  src/prefect/server/database/_migrations/versions/sqlite/2024_12_04_144924_a49711513ad4_sync_orm_models_and_migrations.py
  src/prefect/server/database/orm_models.py
Labels: development

#16244 Include info about registering built-in blocks
  docs/v3/develop/blocks.mdx
Labels: docs

#16246 Move UI pre-commit hooks from `husky` to `pre-commit`
  .pre-commit-config.yaml
  ui-v2/.husky/pre-commit
  ui-v2/biome.json
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/api/prefect.ts
Labels: development

#16252 Add work-pool id/name to labels donated by worker to flow run
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Labels: enhancement

#16251 make `flow` and `task` decorators pass strict typing
  src/prefect/_internal/concurrency/api.py
  src/prefect/client/schemas/objects.py
  src/prefect/context.py
  src/prefect/flow_engine.py
  src/prefect/flows.py
  src/prefect/task_runners.py
  src/prefect/tasks.py
  src/prefect/utilities/visualization.py
Labels: development

#16253 Raise informative errors when failing to bootstrap telemetry
  src/prefect/telemetry/bootstrap.py
Labels: enhancement

#16255 fruitful typing scouring
  src/prefect/automations.py
  src/prefect/cache_policies.py
  src/prefect/context.py
  src/prefect/settings/constants.py
  src/prefect/settings/legacy.py
  src/prefect/utilities/hashing.py
  tests/test_automations.py
Labels: development

#16265 [typing] prefect.client
  src/prefect/_internal/schemas/validators.py
  src/prefect/client/__init__.py
  src/prefect/client/base.py
  src/prefect/client/cloud.py
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/__init__.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  src/prefect/client/schemas/responses.py
  src/prefect/client/schemas/schedules.py
  src/prefect/client/subscriptions.py
  src/prefect/client/utilities.py
  src/prefect/main.py
Labels: development

#16122 OTEL flow run context propagation with Labels
  docs/mint.json
  docs/v3/api-ref/rest-api/server/flow-runs/update-flow-run-labels.mdx
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  src/prefect/flow_engine.py
  src/prefect/server/api/flow_runs.py
  src/prefect/server/models/flow_runs.py
  src/prefect/telemetry/run_telemetry.py
  tests/server/models/test_flow_runs.py
  tests/telemetry/test_instrumentation.py
  tests/test_flow_engine.py
  ui-v2/src/api/prefect.ts
Labels: docs

#16281 fix typing and route in flow run logs download api ref
  docs/v3/api-ref/rest-api/server/flow-runs/download-logs.mdx
  src/prefect/server/api/flow_runs.py
Labels: docs

#16275 avoiding timing issue in flaky test
  tests/test_flows.py
Labels: development

#16225 Add a new tutorial which shows how to debug a failing pipeline
  docs/mint.json
  docs/v3/tutorials/debug.mdx
  docs/v3/tutorials/platform.mdx
Labels: docs, 3.x

#16288 [typing] fix typing related to `prefect.main`
  src/prefect/flows.py
  src/prefect/logging/configuration.py
  src/prefect/logging/loggers.py
  src/prefect/main.py
  tests/test_artifacts.py
Labels: development

#16296 3.9 compat for `debug.mdx` tutorial
  docs/v3/tutorials/debug.mdx
Labels: development, docs

#16308 Support flow deletion in Prefect Python client
  src/prefect/client/orchestration.py
  tests/client/test_prefect_client.py
Labels: bug

#16316 [UI v2] Add hooks for paginating and counting deployments
  ui-v2/src/hooks/deployments/deployments.test.tsx
  ui-v2/src/hooks/deployments/index.ts
Labels: development

#16314 remove `sync_compatible` from `build_server`
  src/prefect/flow_runs.py
  src/prefect/flows.py
  src/prefect/runner/runner.py
  src/prefect/runner/server.py
  src/prefect/runner/utils.py
  src/prefect/transactions.py
  src/prefect/utilities/engine.py
  tests/runner/test_utils.py
Labels: enhancement, development

#16321 Fix bad workspace commands in the tutorials
  docs/v3/tutorials/debug.mdx
  docs/v3/tutorials/platform.mdx
Labels: docs

#16322 Clarify that the operator tutorials are intended for paid accounts
  docs/v3/tutorials/debug.mdx
  docs/v3/tutorials/platform.mdx
Labels: docs

#16327 Include more helpful output in type completeness check
  .github/workflows/static-analysis.yaml
  scripts/pyright_diff.py
Labels: development

#16317 backport #16149
  flows/client_context_lifespan.py
  scripts/run-integration-flows.py
  src/prefect/client/orchestration.py
  tests/blocks/test_notifications.py
  tests/cli/test_cloud.py
  tests/cli/test_profile.py
  tests/cli/test_worker.py
  tests/client/test_cloud_client.py
  tests/client/test_prefect_client.py
  tests/conftest.py
  tests/fixtures/collections_registry.py
  tests/infrastructure/test_kubernetes_job.py
  tests/server/api/test_collections.py
  tests/server/services/test_telemetry.py
  tests/test_deployments.py
Labels: development, upstream dependency, 2.x

#16338 fix push pool usage doc language
  docs/v3/deploy/infrastructure-examples/serverless.mdx
Labels: docs

#16344 Exclude UI v2 PRs from the release notes auto-generation
  .github/labeler.yml
  .github/release.yml
Labels: development

#16340 remove `sync_compatible` from `git_clone`
  src/prefect/_internal/retries.py
  src/prefect/deployments/steps/core.py
  src/prefect/deployments/steps/pull.py
  tests/_internal/test_retries.py
  tests/deployment/test_steps.py
Labels: development

#16349 remove `sync_compatible` from `prefect.variables`
  src/prefect/client/orchestration.py
  src/prefect/variables.py
  tests/test_variables.py
Labels: development

#16351 Remove missing page from the nav
  docs/mint.json
Labels: docs

#16359 Fix type analysis check for PRs from forks
  .github/workflows/static-analysis.yaml
Labels: development

#16333 [UI v2] test: Adds tests for global concurrency view
  ui-v2/src/components/concurrency/global-concurrency-view/data-table/active-cell.tsx
  ui-v2/src/components/concurrency/global-concurrency-view/data-table/data-table.test.tsx
  ui-v2/src/components/concurrency/global-concurrency-view/data-table/data-table.tsx
  ui-v2/src/components/concurrency/global-concurrency-view/dialog/create-or-edit-limit-dialog/create-or-edit-limit-dialog.test.tsx
  ui-v2/src/components/concurrency/global-concurrency-view/dialog/create-or-edit-limit-dialog/create-or-edit-limit-dialog.tsx
  ui-v2/src/components/concurrency/global-concurrency-view/dialog/create-or-edit-limit-dialog/index.ts
  ui-v2/src/components/concurrency/global-concurrency-view/dialog/delete-limit-dialog.test.tsx
  ui-v2/src/components/concurrency/global-concurrency-view/empty-state/global-concurrency-limit-empty-state.test.tsx
  ui-v2/src/components/concurrency/global-concurrency-view/header/global-concurrency-limits-header.test.tsx
  ui-v2/src/components/concurrency/global-concurrency-view/header/global-concurrency-limits-header.tsx
  ui-v2/src/components/concurrency/global-concurrency-view/header/index.ts
  ui-v2/src/components/concurrency/global-concurrency-view/index.tsx
  ui-v2/src/components/concurrency/task-run-concurrenct-view/data-table/active-task-runs-cell.tsx
  ui-v2/src/components/concurrency/task-run-concurrenct-view/data-table/data-table.test.tsx
  ui-v2/src/components/concurrency/task-run-concurrenct-view/data-table/data-table.tsx
  ui-v2/src/components/concurrency/task-run-concurrenct-view/dialogs/create-dialog.test.tsx
  ui-v2/src/components/concurrency/task-run-concurrenct-view/dialogs/delete-dialog.test.tsx
  ui-v2/src/components/concurrency/task-run-concurrenct-view/dialogs/reset-dialog.test.tsx
  ui-v2/src/components/concurrency/task-run-concurrenct-view/header/index.ts
  ui-v2/src/components/concurrency/task-run-concurrenct-view/header/task-run-concurrency-limit-header.tsx
  ui-v2/src/components/concurrency/task-run-concurrenct-view/header/task-run-conrrency-limits-header.test.tsx
Labels: ui-replatform

#16328 Fix missing terminal state timings for TimedOut tasks
  src/prefect/task_engine.py
  tests/test_task_engine.py
Labels: bug

#16233 Update flow run instrumentation to use `RunTelemetry` class
  src/prefect/flow_engine.py
  src/prefect/server/models/flow_runs.py
  src/prefect/task_engine.py
  src/prefect/telemetry/run_telemetry.py
  tests/telemetry/test_instrumentation.py
  tests/test_flow_engine.py
Labels: docs

#16348 improve `Dockerfile` build time and add CI to catch future slow downs
  .dockerignore
  .github/workflows/time-docker-build.yaml
  Dockerfile
Labels: development

#16242 Add experimental support for emitting lineage events
  .gitignore
  docs/v3/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/_experimental/__init__.py
  src/prefect/_experimental/lineage.py
  src/prefect/events/utilities.py
  src/prefect/events/worker.py
  src/prefect/results.py
  src/prefect/settings/models/experiments.py
  src/prefect/testing/fixtures.py
  tests/events/client/test_events_worker.py
  tests/experimental/test_lineage.py
  tests/results/test_result_store.py
  tests/test_settings.py
Labels: docs

#16354 update tutorial for clarity
  docs/v3/tutorials/pipelines.mdx
Labels: docs

#16361 Add buffer to type completeness check
  .github/workflows/static-analysis.yaml
  scripts/pyright_diff.py
Labels: development

#16365 only run docker build bench on push to main
  .github/workflows/time-docker-build.yaml
Labels: development

#16284 [UI v2] Add `FlowRunActivityBarGraph` component
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/components/ui/flow-run-acitivity-bar-graph/flow-run-activity-bar-graph.stories.tsx
  ui-v2/src/components/ui/flow-run-acitivity-bar-graph/flow-run-activity-bar-graph.test.tsx
  ui-v2/src/components/ui/flow-run-acitivity-bar-graph/index.tsx
  ui-v2/src/components/ui/flow-run-acitivity-bar-graph/utils.test.ts
  ui-v2/src/components/ui/flow-run-acitivity-bar-graph/utils.ts
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/deployments/deployment.$id.tsx
  ui-v2/src/routes/deployments/index.tsx
  ui-v2/src/routes/runs/flow-run.$id.tsx
  ui-v2/src/routes/runs/index.tsx
  ui-v2/tests/setup.ts
  ui-v2/vite.config.ts
Labels: ui-replatform

#16332 [typing] `prefect.tasks` and `prefect.task_worker`
  src/prefect/_internal/compatibility/async_dispatch.py
  src/prefect/_internal/pydantic/v2_validated_func.py
  src/prefect/blocks/core.py
  src/prefect/blocks/system.py
  src/prefect/deployments/runner.py
  src/prefect/flow_runs.py
  src/prefect/flows.py
  src/prefect/results.py
  src/prefect/runner/storage.py
  src/prefect/task_engine.py
  src/prefect/task_worker.py
  src/prefect/tasks.py
  src/prefect/testing/standard_test_suites/blocks.py
  tests/test_task_worker.py
Labels: development

#16367 Fix closing and tab order issues for variables dialog
  ui-v2/biome.json
  ui-v2/src/components/ui/json-input.tsx
  ui-v2/src/components/variables/variable-dialog/variable-dialog.tsx
  ui-v2/src/routeTree.gen.ts
  ui-v2/tests/variables/variables.test.tsx
Labels: ui-replatform

#16369 Early error on bad retry delay types
  src/prefect/tasks.py
  tests/test_tasks.py
Labels: bug

#16291 update `entrypoint.sh` to use `uv` for `EXTRA_PIP_PACKAGES`
  .github/workflows/python-tests.yaml
  flows/docker_deploy.py
  scripts/entrypoint.sh
Labels: development, performance

#16326 Support http proxies for websockets
  .github/workflows/proxy-test.yaml
  requirements-client.txt
  scripts/proxy-test/Dockerfile
  scripts/proxy-test/README.md
  scripts/proxy-test/client.py
  scripts/proxy-test/docker-compose.yml
  scripts/proxy-test/requirements.txt
  scripts/proxy-test/server.py
  scripts/proxy-test/squid.conf
  src/prefect/events/clients.py
  tests/events/client/test_events_client.py
  tests/utilities/test_proxy.py
Labels: enhancement, upstream dependency

#16376 update contributor dev instructions
  docs/contribute/dev-contribute.mdx
  scripts/precommit-versions.py
Labels: enhancement, development, docs

#16378 update example output for `prefect work-pool inspect`
  docs/v3/deploy/infrastructure-concepts/work-pools.mdx
Labels: development, docs

#16377 backport retry delay type fix
  src/prefect/tasks.py
  tests/test_tasks.py
Labels: fix, 2.x

#16379 dont ask to confirm deletion of non-existent gcl
  src/prefect/cli/global_concurrency_limit.py
  tests/cli/test_global_concurrency_limit.py
Labels: cli

#16386 [typing] add overload for empty `@task` decorator
  .pre-commit-config.yaml
  src/prefect/tasks.py
  tests/cli/test_deploy.py
  tests/test-projects/wrapped_flow_project/__init__.py
  tests/test-projects/wrapped_flow_project/flow.py
  tests/test-projects/wrapped_flow_project/missing_imports.py
  tests/test-projects/wrapped_flow_project/utils.py
Labels: bug, development, fix

#16089 make re-usable `TypeAdapter` instances for client schemas
  src/prefect/client/_adapters.py
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  src/prefect/deployments/flow_runs.py
  src/prefect/server/events/pipeline.py
  tests/test_task_engine.py
Labels: development, performance

#16368 [typing] prefect.server.utilities.database
  src/prefect/server/api/run_history.py
  src/prefect/server/api/ui/task_runs.py
  src/prefect/server/database/configurations.py
  src/prefect/server/database/interface.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/database/query_components.py
  src/prefect/server/events/counting.py
  src/prefect/server/events/filters.py
  src/prefect/server/models/concurrency_limits_v2.py
  src/prefect/server/models/deployments.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/utilities/database.py
  tests/server/utilities/test_database.py
Labels: development

#16388 Use `websocket_connect` utility in `Subscriptions`
  src/prefect/client/subscriptions.py
Labels: fix

#16410 Enhance `Runner` to send heartbeat events for flow runs
  docs/v3/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/runner/runner.py
  src/prefect/settings/models/runner.py
  tests/runner/test_runner.py
  tests/test_settings.py
Labels: docs

#16408 Add working implementation of basic auth to server and client
  docs/v3/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/client/orchestration.py
  src/prefect/server/api/server.py
  src/prefect/settings/__init__.py
  src/prefect/settings/models/api.py
  src/prefect/settings/models/server/api.py
  tests/client/test_prefect_client.py
  tests/test_settings.py
Labels: enhancement, docs

#16417 add async redis client utils to `prefect-redis`
  src/integrations/prefect-redis/prefect_redis/client.py
  src/integrations/prefect-redis/tests/test_client.py
  src/prefect/settings/base.py
Labels: integrations

#16418 fix passing `enforce_parameter_schema` in `prefect deploy`
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: bug, cli, fix

#16425 Add an example for creating an automation to mark zombie flow runs as crashed
  docs/v3/automate/events/automations-triggers.mdx
Labels: docs

#16446 [UI v2] chore: Removes unnecessary storybook story nesting
  ui-v2/src/components/ui/docs-link.stories.tsx
  ui-v2/src/components/ui/empty-state.stories.tsx
  ui-v2/src/components/ui/icons/icons.stories.tsx
  ui-v2/src/components/ui/typography/typography.stories.tsx
Labels: ui-replatform

#16345 Add a tutorial showing how to set up an email alert in Prefect Cloud
  docs/mint.json
  docs/v3/tutorials/alerts.mdx
  docs/v3/tutorials/debug.mdx
  docs/v3/tutorials/platform.mdx
Labels: docs

#16414 Adds a link to the span that each parameter came from
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/client/schemas/objects.py
  src/prefect/flow_engine.py
  src/prefect/server/schemas/states.py
  src/prefect/states.py
  src/prefect/task_engine.py
  src/prefect/utilities/engine.py
  tests/telemetry/test_run_telemetry.py
  ui-v2/src/api/prefect.ts
Labels: docs, ui-replatform

#16426 Update worker to use orchestration client for updating labels
  src/prefect/client/cloud.py
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Labels: development

#16453 Prevent workers from running flow runs scheduled for in process retry
  src/prefect/client/schemas/objects.py
  src/prefect/server/database/sql/postgres/get-runs-from-worker-queues.sql.jinja
  src/prefect/server/database/sql/sqlite/get-runs-from-worker-queues.sql.jinja
  src/prefect/server/orchestration/core_policy.py
  src/prefect/server/schemas/core.py
  tests/blocks/test_notifications.py
  tests/server/database/test_queries.py
  tests/server/orchestration/test_core_policy.py
  tests/workers/test_base_worker.py
Labels: 2.x

#16454 Add tutorials to the overview page of the docs
  docs/v3/get-started/index.mdx
Labels: docs

#16311 Backport: deleting flows in python client prefect 2.0
  src/prefect/client/orchestration.py
  tests/client/test_prefect_client.py
Labels: bug, docs, upstream dependency, 2.x

#16424 Log exceptions when run submission fails in both the runner and worker
  src/prefect/runner/runner.py
  src/prefect/workers/base.py
Labels: enhancement

#16463 [typing] Remove overload from inject_client
  src/prefect/client/utilities.py
Labels: development

#16456 [typing] prefect.exceptions
  src/prefect/exceptions.py
  src/prefect/flows.py
Labels: development

#16457 [typing] Annotate all getattr_migration callsites
  src/prefect/agent.py
  src/prefect/deployments/deployments.py
  src/prefect/engine.py
  src/prefect/filesystems.py
  src/prefect/infrastructure/__init__.py
  src/prefect/infrastructure/base.py
  src/prefect/variables.py
  src/prefect/workers/block.py
  src/prefect/workers/cloud.py
Labels: development

#16405 Refactor prefect.flow decorator
  .github/workflows/python-tests.yaml
  requirements-dev.txt
  setup.cfg
  src/prefect/flows.py
  tests/test_flows.py
  tests/typesafety/test_flows.yml
Labels: upstream dependency

#16461 [UI v2] feat: Adds useStepper hook to be used for automations creation wizard
  ui-v2/src/hooks/use-stepper.test.ts
  ui-v2/src/hooks/use-stepper.ts
Labels: ui-replatform

#16466 Transitions to using `traceparent` instead of separate IDs
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/client/schemas/objects.py
  src/prefect/server/schemas/states.py
  src/prefect/states.py
  src/prefect/utilities/engine.py
  ui-v2/src/api/prefect.ts
Labels: docs, ui-replatform

#16445 use correct async method on storage blocks
  src/prefect/results.py
  tests/results/test_state_result.py
Labels: bug, enhancement, integrations, fix

#16458 make `from_source` safe to use concurrently
  flows/load_flows_concurrently.py
  src/prefect/deployments/runner.py
  src/prefect/flows.py
  src/prefect/utilities/importtools.py
  tests/utilities/test_importtools.py
Labels: bug, fix

#16451 [typing] clean up prefect __init__.py
  src/prefect/__init__.py
Labels: development

#16469 [UI v2] feat: Adds router and react-query storybook decorator
  ui-v2/src/storybook/utils/index.ts
  ui-v2/src/storybook/utils/react-query-decorator.tsx
  ui-v2/src/storybook/utils/router-decorator.tsx
Labels: ui-replatform

#16381 [typing] update `prefect.futures`
  src/prefect/futures.py
Labels: development

#16468 [typing] misc prefect modules
  requirements-dev.txt
  src/prefect/artifacts.py
  src/prefect/automations.py
  src/prefect/context.py
  src/prefect/locking/filesystem.py
  src/prefect/locking/memory.py
  src/prefect/locking/protocol.py
  src/prefect/plugins.py
  src/prefect/telemetry/processors.py
  src/prefect/telemetry/services.py
  src/prefect/workers/__init__.py
  tests/test_plugins.py
  tests/typesafety/test_automations.yml
  tests/typesafety/test_flows.yml
Labels: development, upstream dependency

#16475 fix link to `serve` docs
  docs/v3/deploy/index.mdx
Labels: docs

#16391 Update JSON schema migration to require `id`, `created`, and `updated` on responses
  .pre-commit-config.yaml
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/server/utilities/schemas/bases.py
  ui-v2/package.json
  ui-v2/src/api/prefect.ts
  ui-v2/src/components/concurrency/global-concurrency-view/dialog/delete-limit-dialog.tsx
  ui-v2/src/components/flows/detail/deployment-columns.tsx
  ui-v2/src/components/ui/flow-run-acitivity-bar-graph/flow-run-activity-bar-graph.stories.tsx
  ui-v2/src/components/ui/state-badge/state-badge.test.tsx
  ui-v2/src/hooks/global-concurrency-limits.test.tsx
Labels: docs, ui-replatform

#16482 [UI v2] feat: Adds prefect theming to storybook
  ui-v2/.storybook/logos/logo-dark.svg
  ui-v2/.storybook/logos/logo-light.svg
  ui-v2/.storybook/manager.ts
  ui-v2/.storybook/prefect-theme.ts
  ui-v2/package-lock.json
  ui-v2/package.json
Labels: ui-replatform

#16495 address typing nits
  flows/load_flows_concurrently.py
Labels: development

#16498 fix incorrect use of `getattr`
  src/prefect/results.py
  tests/public/results/test_result_storage.py
Labels: bug, fix

#16441 [typing] prefect.concurrency
  client/client_flow.py
  src/prefect/_internal/concurrency/services.py
  src/prefect/concurrency/_asyncio.py
  src/prefect/concurrency/_events.py
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/context.py
  src/prefect/concurrency/services.py
  src/prefect/concurrency/sync.py
  src/prefect/concurrency/v1/_asyncio.py
  src/prefect/concurrency/v1/_events.py
  src/prefect/concurrency/v1/asyncio.py
  src/prefect/concurrency/v1/context.py
  src/prefect/concurrency/v1/services.py
  src/prefect/concurrency/v1/sync.py
  src/prefect/context.py
  src/prefect/task_engine.py
  tests/concurrency/test_acquire_concurrency_slots.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_slot_acquisition_service.py
  tests/concurrency/test_release_concurrency_slots.py
  tests/concurrency/v1/test_concurrency_asyncio.py
  tests/concurrency/v1/test_concurrency_limit_acquisition_service.py
  tests/concurrency/v1/test_concurrency_sync.py
  tests/concurrency/v1/test_decrement_concurrency_slots.py
  tests/concurrency/v1/test_increment_concurrency_limits.py
  tests/test_task_engine.py
Labels: development

#16497 [typing] prefect._internal, prefect.server.utilities
  src/prefect/_internal/_logging.py
  src/prefect/_internal/compatibility/async_dispatch.py
  src/prefect/_internal/compatibility/deprecated.py
  src/prefect/_internal/compatibility/migration.py
  src/prefect/_internal/concurrency/inspection.py
  src/prefect/_internal/concurrency/primitives.py
  src/prefect/_internal/concurrency/waiters.py
  src/prefect/_internal/pydantic/annotations/pendulum.py
  src/prefect/_internal/pytz.py
  src/prefect/_internal/retries.py
  src/prefect/_internal/schemas/bases.py
  src/prefect/_internal/schemas/validators.py
  src/prefect/serializers.py
  src/prefect/server/events/messaging.py
  src/prefect/server/utilities/encryption.py
  src/prefect/server/utilities/messaging/__init__.py
  src/prefect/server/utilities/messaging/memory.py
  src/prefect/server/utilities/server.py
  src/prefect/server/utilities/subscriptions.py
  src/prefect/server/utilities/user_templates.py
  src/prefect/telemetry/run_telemetry.py
  tests/_internal/schemas/test_validation.py
Labels: development

#16511 Fix `TypeError` in `SnowflakeConnector.fetch_all`
  src/integrations/prefect-snowflake/prefect_snowflake/database.py
  src/integrations/prefect-snowflake/tests/test_database.py
Labels: bug, integrations, fix

#16355 `DeploymentsDataTable` - Part 1
  ui-v2/src/components/deployments/data-table/cells.tsx
  ui-v2/src/components/deployments/data-table/data-table.stories.tsx
  ui-v2/src/components/deployments/data-table/data-table.test.tsx
  ui-v2/src/components/deployments/data-table/index.tsx
  ui-v2/src/components/ui/status-badge/index.tsx
  ui-v2/src/components/ui/status-badge/status-badge.stories.tsx
  ui-v2/src/components/ui/status-badge/status-badge.test.tsx
  ui-v2/src/hooks/deployments/index.ts
Labels: ui-replatform

#16358 Add schedule display to `DeploymentDataTable`
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/components/deployments/data-table/data-table.stories.tsx
  ui-v2/src/components/deployments/data-table/index.tsx
  ui-v2/src/components/ui/data-table.tsx
  ui-v2/src/components/ui/schedule-badge/index.tsx
  ui-v2/src/components/ui/schedule-badge/schedule-badge-group.stories.tsx
  ui-v2/src/components/ui/schedule-badge/schedule-badge.stories.tsx
  ui-v2/src/components/ui/schedule-badge/schedule-badge.test.tsx
  ui-v2/src/components/ui/status-badge/index.tsx
  ui-v2/src/components/variables/data-table/cells.tsx
  ui-v2/src/routeTree.gen.ts
  ui-v2/tests/utils/mock-factories.ts
Labels: ui-replatform

#16444 [UI v2] feat: Adding concurrency-limit-task-run-card component
  ui-v2/src/components/ui/icons/constants.ts
  ui-v2/src/components/ui/run-card/index.ts
  ui-v2/src/components/ui/run-card/run-card.stories.tsx
  ui-v2/src/components/ui/run-card/run-card.tsx
  ui-v2/src/components/ui/tag-badge-group.tsx
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/runs/task-run.$id.tsx
  ui-v2/src/storybook/utils/index.ts
  ui-v2/src/storybook/utils/mocks/create-fake-flow-run.ts
  ui-v2/src/storybook/utils/mocks/create-fake-flow.ts
  ui-v2/src/storybook/utils/mocks/create-fake-state.ts
  ui-v2/src/storybook/utils/mocks/create-fake-task-run.ts
Labels: ui-replatform

#16517 log rendered custom `flow_run_name`
  src/prefect/flow_engine.py
  tests/test_flows.py
Labels: bug, fix

#16526 Fix router dependencies
  .github/dependabot.yml
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/components/ui/flow-run-acitivity-bar-graph/flow-run-activity-bar-graph.test.tsx
  ui-v2/src/routes/__root.tsx
  ui-v2/src/routes/concurrency-limits/concurrency-limit.$id.tsx
  ui-v2/src/routes/concurrency-limits/index.tsx
  ui-v2/src/routes/deployments/index.tsx
  ui-v2/src/routes/flows/flow.$id.tsx
  ui-v2/src/routes/flows/index.tsx
  ui-v2/src/routes/runs/flow-run.$id.tsx
  ui-v2/src/routes/variables.tsx
Labels: ui-replatform

#16476 Server should exit with non-0 on error
  src/prefect/cli/server.py
  tests/cli/test_start_server.py
Labels: bug

#16534 [UI v2] feat: Have Breadcrumb link be connected with tanstack router
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-header/nav-header.tsx
  ui-v2/src/components/ui/breadcrumb.tsx
  ui-v2/src/components/ui/run-card/run-card.tsx
Labels: ui-replatform

#16548 [UI v2] chore: Clean out id field type check after schema got fixed
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-data-table/actions-cell.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-data-table/active-cell.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-actions-menu/task-run-concurrency-limits-actions-menu.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-data-table/tag-cell.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-delete-dialog/task-run-concurrency-limits-delete-dialog.tsx
Labels: ui-replatform

#16546 [typing] - `prefect.cli` part 1
  src/prefect/_internal/compatibility/deprecated.py
  src/prefect/blocks/core.py
  src/prefect/cli/_prompts.py
  src/prefect/cli/_types.py
  src/prefect/cli/_utilities.py
  src/prefect/cli/artifact.py
  src/prefect/cli/block.py
  src/prefect/cli/cloud/__init__.py
  src/prefect/cli/cloud/ip_allowlist.py
  src/prefect/cli/cloud/webhook.py
  src/prefect/cli/concurrency_limit.py
  src/prefect/cli/config.py
  src/prefect/cli/deploy.py
  src/prefect/cli/deployment.py
  src/prefect/client/schemas/schedules.py
  src/prefect/deployments/base.py
  src/prefect/settings/legacy.py
  src/prefect/utilities/_git.py
  src/prefect/utilities/asyncutils.py
  tests/cli/test_deploy.py
  tests/cli/test_prompts.py
  tests/deployment/test_base.py
Labels: development

#16547 fix overloads for `wait_for` and `return_state` in `Task.__call__`
  src/prefect/task_engine.py
  src/prefect/tasks.py
Labels: development

#16432 add redis streams messaging to `redis-streams`
  src/integrations/prefect-redis/prefect_redis/messaging.py
  src/integrations/prefect-redis/tests/test_messaging.py
  src/prefect/server/utilities/messaging/__init__.py
Labels: integrations

#16536 [UI v2] feat: scaffolds automations route
  ui-v2/src/components/automations/automations-create/automations-create-header/automations-create-header.stories.tsx
  ui-v2/src/components/automations/automations-create/automations-create-header/automations-create-header.tsx
  ui-v2/src/components/automations/automations-empty-state/automations-empty-state.stories.tsx
  ui-v2/src/components/automations/automations-empty-state/automations-empty-state.tsx
  ui-v2/src/components/automations/automations-empty-state/index.ts
  ui-v2/src/components/automations/automations-header/automations-header.stories.tsx
  ui-v2/src/components/automations/automations-header/automations-header.tsx
  ui-v2/src/components/automations/automations-header/index.ts
  ui-v2/src/components/ui/docs-link.tsx
  ui-v2/src/components/ui/icons/constants.ts
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/automations/automation.$id.ts
  ui-v2/src/routes/automations/create.ts
  ui-v2/src/routes/automations/index.ts
Labels: ui-replatform

#16556 Update snowflake integration docs
  docs/integrations/prefect-snowflake/index.mdx
Labels: docs

#16538 feat: Add support for NO_PROXY for websocket connections
  src/prefect/events/clients.py
  tests/utilities/test_proxy.py
Labels: bug

#16514 [UI v2] upgrade: To React 19 🚀🚀🚀
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/components/ui/calendar.stories.tsx
  ui-v2/src/components/ui/calendar.tsx
  ui-v2/src/storybook/utils/react-query-decorator.tsx
Labels: ui-replatform

#16554 fix `fetch_one` and `fetch_many` in `prefect-snowflake`
  src/integrations/prefect-snowflake/prefect_snowflake/database.py
  src/integrations/prefect-snowflake/tests/test_database.py
Labels: bug, integrations, fix

#16553 avoid `Path` interpreting `.` in deployment names as the beginning of a file extension
  src/prefect/deployments/runner.py
  tests/runner/test_runner.py
Labels: bug, fix

#16483 add local-telemetry stack for investigating server performance
  docs/v3/develop/settings-ref.mdx
  load_testing/README.md
  load_testing/local-telemetry/README.md
  load_testing/local-telemetry/docker-compose.yml
  load_testing/local-telemetry/otelcol-config.yaml
  load_testing/local-telemetry/prometheus.yml
  load_testing/local-telemetry/start
  load_testing/populate-server.sh
  load_testing/run-server.sh
  schemas/settings.schema.json
  src/prefect/main.py
  src/prefect/server/events/storage/database.py
  src/prefect/settings/models/server/database.py
Labels: docs

#16496 Refactor Client's Artifact CRUD methods into Mixin
  src/prefect/_internal/schemas/bases.py
  src/prefect/client/orchestration/__init__.py
  src/prefect/client/orchestration/_artifacts/__init__.py
  src/prefect/client/orchestration/_artifacts/client.py
  src/prefect/client/orchestration/base.py
  src/prefect/client/orchestration/routes.py
  src/prefect/utilities/generics.py
  tests/client/test_client_routes.py
Labels: bug

#16364 Propagate trace context to triggered deployments from within parent run
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/client/orchestration/__init__.py
  src/prefect/deployments/flow_runs.py
  src/prefect/server/schemas/actions.py
  tests/deployment/test_flow_runs.py
  ui-v2/src/api/prefect.ts
Labels: enhancement, docs, ui-replatform

#16549 [UI v2] feat: Adds stepper ui component
  ui-v2/src/components/ui/icons/constants.ts
  ui-v2/src/components/ui/stepper/index.ts
  ui-v2/src/components/ui/stepper/stepper.stories.tsx
  ui-v2/src/components/ui/stepper/stepper.tsx
  ui-v2/src/components/ui/stepper/stories/form-stepper-story.tsx
  ui-v2/src/components/ui/stepper/stories/stepper-story.tsx
  ui-v2/src/hooks/use-stepper.test.ts
  ui-v2/src/hooks/use-stepper.ts
Labels: ui-replatform
