Repository PrefectHQ/prefect, pull requests merged in 2024-03, with the labels that each got.

#12127 Remove tab structure for three docs pages to improve navigation
  docs/guides/deployment/daemonize.md
  docs/guides/prefect-deploy.md
  docs/guides/upgrade-guide-agents-to-workers.md
Labels: docs

#12133 Adds clarifications and style updates on the events page
  docs/cloud/events.md
  docs/guides/automations.md
Labels: docs

#12136 Create `get_server_session` fixture and use it in `test_deployment_schedules.py`
  tests/fixtures/database.py
  tests/server/__init__.py
  tests/server/api/test_deployment_schedules.py
Labels: maintenance

#12151 Support obfuscation of more complex log record messages
  src/prefect/logging/filters.py
  tests/test_logging.py
Labels: fix

#12134 Add ability to use a module path entrypoint when using `.serve` or `.deploy`
  src/prefect/deployments/__init__.py
  src/prefect/deployments/deployments.py
  src/prefect/deployments/runner.py
  src/prefect/flows.py
  src/prefect/runner/runner.py
  tests/runner/test_runner.py
  tests/test_deployments.py
  tests/test_flows.py
Labels: enhancement

#12131 Update `flow.serve` and `flow.deploy` docstrings and docs for multiple schedules
  docs/concepts/schedules.md
  src/prefect/flows.py
Labels: docs

#12164 Update Prefect Server guide to clarify PostgreSQL Docker instructions
  docs/guides/host.md
Labels: docs

#12162 Remove outdated sqlite version info from install docs
  docs/getting-started/installation.md
Labels: docs

#12163 only do docker builds/intregration tests on changes to deps/src
  .github/workflows/docker-images.yaml
  .github/workflows/integration-tests.yaml
Labels: maintenance

#12130 Add flow run state data to flow run graph API
  src/prefect/server/database/query_components.py
  src/prefect/server/schemas/graph.py
  src/prefect/settings.py
  tests/server/api/test_flow_run_graph_v2.py
Labels: enhancement

#12178 Add keyword for search to deployments concept doc
  docs/concepts/deployments.md
Labels: docs

#12181 Add schedules shorthand support to `Deployment.build_from_flow`
  docs/api-ref/prefect/deployments/schedules.md
  mkdocs.yml
  src/prefect/deployments/deployments.py
  src/prefect/deployments/runner.py
  src/prefect/deployments/schedules.py
  src/prefect/runner/runner.py
  tests/deployment/test_schedules.py
  tests/test_deployments.py
Labels: enhancement

#12172 Add a `prefect-client` README
  README.md
  client/INFO.md
  client/README.md
  client/build_client.sh
Labels: docs

#12184 Chore: Remove enhanced scheduling UI flag
  src/prefect/settings.py
  tests/_internal/compatibility/test_experimental.py
  tests/server/api/test_deployments.py
  tests/server/test_app.py
  tests/test_settings.py
  ui/src/maps/featureFlag.ts
  ui/src/types/flagResponse.ts
  ui/src/utilities/permissions.ts
Labels: maintenance

#12182 Experimental enhanced deployment parameters UI
  ui/src/maps/featureFlag.ts
  ui/src/pages/DeploymentEdit.vue
  ui/src/pages/FlowRunCreate.vue
  ui/src/types/flagResponse.ts
Labels: enhancement, ui

#12141 Fix two memory leaks
  src/prefect/_internal/concurrency/services.py
  src/prefect/_internal/concurrency/threads.py
  tests/_internal/concurrency/test_services.py
  tests/_internal/concurrency/test_threads.py
Labels: fix

#12188 Add advanced example to CI/CD guide
  docs/guides/ci-cd.md
Labels: docs

#12202 Create `DeploymentFilterPaused` and update legacy filter
  src/prefect/server/schemas/filters.py
  tests/server/models/test_deployments.py
  tests/server/models/test_filters.py
Labels: enhancement

#12206 Expose flow run job vars on page
  ui/src/maps/featureFlag.ts
  ui/src/pages/FlowRun.vue
  ui/src/types/flagResponse.ts
  ui/src/utilities/permissions.ts
Labels: ui, experimental

#12153 Adds an on_running state change hook
  src/prefect/engine.py
  src/prefect/flows.py
  tests/test_flows.py
Labels: enhancement

#12209 Simplify already authenticated logic for `prefect cloud login`
  src/prefect/cli/cloud/__init__.py
  tests/cli/test_cloud.py
Labels: enhancement

#12211 Send flow run and task run retry logs to API
  src/prefect/engine.py
Labels: enhancement

#12214 do not create `default-agent-pool` in empty state server
  src/prefect/server/database/migrations/versions/postgresql/2023_01_31_110543_f98ae6d8e2cc_work_queue_data_migration.py
  src/prefect/server/database/migrations/versions/sqlite/2023_01_31_105442_1678f2fb8b33_work_queue_data_migration.py
  tests/server/database/test_migrations.py
Labels: migration

#12185 Add backend support for creating and updating flow run `job_variables`
  src/prefect/client/schemas/objects.py
  src/prefect/client/schemas/responses.py
  src/prefect/server/api/deployments.py
  src/prefect/server/api/flow_runs.py
  src/prefect/server/api/validation.py
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2024_03_05_122228_121699507574_add_job_variables_column_to_flow_runs.py
  src/prefect/server/database/migrations/versions/sqlite/2024_03_05_115258_342220764f0b_add_job_variables_column_to_flow_runs.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/responses.py
  tests/server/api/test_deployments.py
  tests/server/api/test_flow_runs.py
  tests/server/api/test_infra_overrides.py
  tests/server/models/test_flow_runs.py
Labels: migration

#12230 Fix formatting in concept -> work-pools.md
  docs/concepts/work-pools.md
Labels: docs

#12239 expose `serve` method on tasks
  src/prefect/tasks.py
Labels: experimental

#12195 Add client-side support for `job_variables`
  src/prefect/cli/deployment.py
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  src/prefect/deployments/deployments.py
  tests/cli/deployment/test_deployment_run.py
  tests/client/test_prefect_client.py
  tests/server/api/test_flow_runs.py
  tests/test_deployments.py
Labels: feature, migration

#12254 Update @prefecthq/prefect-ui-library to version 2.6.32
  ui/package-lock.json
  ui/package.json
Labels: maintenance, ui

#12257 Fix support for legacy schedule in `build_from_flow`
  src/prefect/deployments/deployments.py
  src/prefect/deployments/schedules.py
  tests/cli/deployment/test_deployment_build.py
  tests/deployment/test_schedules.py
  tests/test_deployments.py
Labels: fix

#12273 Deprecate `PrefectAgent` and `prefect agent` command group
  src/prefect/_internal/compatibility/deprecated.py
  src/prefect/agent.py
  src/prefect/cli/agent.py
  tests/_internal/compatibility/test_deprecated.py
  tests/agent/test_agent_deprecation.py
  tests/cli/test_agent.py
  tests/conftest.py
  tests/fixtures/deprecation.py
Labels: deprecation

#12284 Docs: Add `get_run_logger` to imports in interactive workflow examples
  docs/guides/creating-interactive-workflows.md
Labels: docs

#12282 Deprecate Infrastructrue blocks
  src/prefect/agent.py
  src/prefect/infrastructure/base.py
  src/prefect/infrastructure/container.py
  src/prefect/infrastructure/kubernetes.py
  src/prefect/infrastructure/process.py
  src/prefect/testing/utilities.py
  tests/conftest.py
  tests/infrastructure/test_docker_container.py
  tests/infrastructure/test_infra_block_deprecation.py
  tests/infrastructure/test_process.py
Labels: deprecation

#12283 Deprecate `Deployment` class and deployment `build` and `apply` commands
  src/prefect/cli/_types.py
  src/prefect/cli/deployment.py
  src/prefect/deployments/deployments.py
  tests/cli/deployment/test_deployment_build.py
  tests/cli/deployment/test_deployment_cli.py
  tests/test_deployments.py
Labels: deprecation

#12293 Add `on_running` state change hook to State -> Concepts docs
  docs/concepts/states.md
Labels: docs

#12291 Deprecate the `packaging` module
  docs/api-ref/prefect/packaging/base.md
  docs/api-ref/prefect/packaging/docker.md
  docs/api-ref/prefect/packaging/file.md
  docs/api-ref/prefect/packaging/serializers.md
  docs/concepts/filesystems.md
  mkdocs.yml
  src/prefect/__init__.py
  src/prefect/deprecated/data_documents.py
  src/prefect/deprecated/packaging/__init__.py
  src/prefect/deprecated/packaging/base.py
  src/prefect/deprecated/packaging/docker.py
  src/prefect/deprecated/packaging/file.py
  src/prefect/deprecated/packaging/orion.py
  src/prefect/deprecated/packaging/serializers.py
  src/prefect/packaging/__init__.py
  tests/deprecated/__init__.py
  tests/deprecated/packaging/__init__.py
  tests/deprecated/packaging/examples/my_module/__init__.py
  tests/deprecated/packaging/examples/my_module/flow.py
  tests/deprecated/packaging/examples/my_module/utils.py
  tests/deprecated/packaging/test_docker_packager.py
  tests/deprecated/packaging/test_file_packager.py
  tests/deprecated/packaging/test_orion_packager.py
  tests/deprecated/packaging/test_serializers.py
Labels: deprecation

#12301 Fix some argument names in deploy guide
  docs/guides/prefect-deploy.md
Labels: docs

#12296 Chore: Update flow run graph documentation images
  docs/img/ui/flow-run-details.png
  docs/img/ui/qs-flow-run.png
Labels: docs

#12244 Feature: API for task run counts by state
  src/prefect/server/api/ui/task_runs.py
  src/prefect/server/models/task_runs.py
  src/prefect/server/schemas/states.py
  tests/server/api/ui/test_task_runs.py
Labels: feature, observability

#12299 Deprecate storage blocks with implementations in Prefect integration packages
  src/prefect/filesystems.py
  tests/test_filesystems.py
Labels: deprecation

#12311 2.16.4 Release notes
  RELEASE-NOTES.md
Labels: maintenance

#12317 Add a mention for custom flow run state UI handling in release notes.
  RELEASE-NOTES.md
Labels: maintenance

#12289 Create `CsrfToken` model and utilities
  docs/api-ref/server/models/csrf_token.md
  mkdocs.yml
  src/prefect/server/database/interface.py
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2024_03_13_111215_7a653837d9ba_create_csrf_token_toble.py
  src/prefect/server/database/migrations/versions/sqlite/2024_03_13_111316_bacc60edce16_create_csrf_token_toble.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/__init__.py
  src/prefect/server/models/csrf_token.py
  src/prefect/server/schemas/core.py
  src/prefect/settings.py
  tests/server/models/test_csrf_token.py
Labels: migration, experimental

#12316 Keep artifacts file in prefect-client
  client/build_client.sh
Labels: enhancement

#12297 Create `csrf_token` endpoint to generate tokens for clients
  docs/api-ref/server/api/csrf_token.md
  mkdocs.yml
  src/prefect/server/api/__init__.py
  src/prefect/server/api/csrf_token.py
  src/prefect/server/api/server.py
  tests/server/api/test_csrf_token.py
Labels: experimental

#12320 Wire up vermin to pre-commit
  .pre-commit-config.yaml
  requirements-dev.txt
  setup.cfg
  src/prefect/_internal/concurrency/calls.py
  src/prefect/client/subscriptions.py
  src/prefect/events/related.py
  src/prefect/server/database/configurations.py
  src/prefect/task_server.py
  src/prefect/utilities/callables.py
  tests/_internal/concurrency/conftest.py
  tests/runner/test_runner.py
  tests/test_flows.py
Labels: maintenance

#12303 Integrate `CsrfMiddleware` into server
  docs/api-ref/server/api/middleware.md
  mkdocs.yml
  src/prefect/server/api/__init__.py
  src/prefect/server/api/middleware.py
  src/prefect/server/api/server.py
  src/prefect/server/models/csrf_token.py
  tests/server/api/test_middleware.py
  tests/server/models/test_csrf_token.py
  tests/server/test_app.py
Labels: experimental

#12326 Create `db_injector` for better type hints
  src/prefect/server/api/run_history.py
  src/prefect/server/database/dependencies.py
  src/prefect/server/models/csrf_token.py
Labels: maintenance

#12328 Fix `db.insert` typing
  src/prefect/server/database/interface.py
  src/prefect/server/database/query_components.py
  src/prefect/server/models/agents.py
  src/prefect/server/models/artifacts.py
  src/prefect/server/models/block_documents.py
  src/prefect/server/models/block_schemas.py
  src/prefect/server/models/block_types.py
  src/prefect/server/models/concurrency_limits.py
  src/prefect/server/models/csrf_token.py
  src/prefect/server/models/deployments.py
  src/prefect/server/models/flow_runs.py
  src/prefect/server/models/flows.py
  src/prefect/server/models/logs.py
  src/prefect/server/models/saved_searches.py
  src/prefect/server/models/task_runs.py
  src/prefect/server/models/workers.py
  tests/server/api/test_workers.py
Labels: maintenance

#12314 Add CSRF support to orchestration client
  src/prefect/client/base.py
  src/prefect/client/cloud.py
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/objects.py
  src/prefect/settings.py
  tests/cli/test_worker.py
  tests/client/test_base_client.py
  tests/client/test_prefect_client.py
  tests/test_deployments.py
Labels: experimental

#12342 Return 422 when CSRF is disabled and delete expired tokens
  src/prefect/client/base.py
  src/prefect/server/api/csrf_token.py
  tests/client/test_base_client.py
  tests/server/api/test_csrf_token.py
  tests/server/models/test_csrf_token.py
Labels: experimental

#12346 Correct a memory leak with the outbound task run websockets
  src/prefect/server/api/task_runs.py
Labels: fix

#12348 Schemas: Remove references to v1 deployment parameters
  ui/src/maps/featureFlag.ts
  ui/src/pages/DeploymentEdit.vue
  ui/src/pages/FlowRunCreate.vue
  ui/src/types/flagResponse.ts
Labels: maintenance

#12344 Update `aggregate-worker-metadata` from `prefect-gcp` release
  src/prefect/server/api/collections_data/views/aggregate-worker-metadata.json
Labels: maintenance

#12356 Add a select all flow runs checkbox to the flow runs page.
  ui/src/pages/FlowRuns.vue
Labels: enhancement, ui, Quick win

#12345 [pydantic v2] init compat layer
  src/prefect/_internal/pydantic/__init__.py
  src/prefect/_internal/pydantic/_compat.py
  src/prefect/settings.py
  tests/_internal/pydantic/test_model_dump.py
Labels: experimental

#12357 Handle `KeyboardInterrupt` coming from `uvicorn.serve`
  src/prefect/cli/cloud/__init__.py
Labels: maintenance

#12351 Add upstream dependencies guide to docs
  docs/guides/index.md
  docs/guides/specifying-upstream-dependencies.md
  docs/img/guides/automatic-task-dependencies.png
  docs/img/guides/flow-of-deployments.png
  docs/img/guides/manual-task-dependencies.png
  mkdocs.yml
Labels: docs

#12300 Render artifacts and states on the flow run graph by default.
  src/prefect/settings.py
  tests/_internal/compatibility/test_experimental.py
  tests/server/test_app.py
Labels: feature, api, experimental

#12354 Implement CSRF support in the UI
  src/prefect/server/api/middleware.py
  ui/src/maps/csrfToken.ts
  ui/src/maps/index.ts
  ui/src/models/CsrfToken.ts
  ui/src/services/csrfTokenApi.ts
  ui/src/types/csrfTokenResponse.ts
  ui/src/utilities/api.ts
Labels: experimental, blocked

#12360 remove feature flagging around enhanced-deployment-experiment
  src/prefect/server/api/deployments.py
  src/prefect/server/api/flow_runs.py
  src/prefect/server/api/ui/schemas.py
  src/prefect/settings.py
  tests/_internal/compatibility/test_experimental.py
  tests/conftest.py
  tests/server/api/ui/test_schemas.py
  tests/server/test_app.py
Labels: enhancement

#12366 Documentation updates for event and metric triggers
  docs/concepts/automations.md
Labels: docs

#12380 Add a line about appropriate settings for flow run graph layers.
  RELEASE-NOTES.md
Labels: maintenance

#12285 Feature : #11773 UI: Add checkboxes for runs for an indivdual flow to allow multi-selection/-deletion
  ui/src/pages/Flow.vue
Labels: enhancement, ui, status:waiting for maintainer

#12375 Attempt to fix agent/work queue test CI flakes
  setup.cfg
  tests/client/test_base_client.py
  tests/client/test_prefect_client.py
  tests/conftest.py
  tests/docker/test_image_builder_assertions.py
  tests/docker/test_image_builds.py
  tests/docker/test_image_parsing.py
  tests/docker/test_registry_pushes.py
  tests/engine/reliability/test_deadlocks.py
  tests/fixtures/client.py
  tests/fixtures/logging.py
  tests/runner/test_runner.py
  tests/server/orchestration/test_core_policy.py
  tests/utilities/test_importtools.py
Labels: maintenance

#12362 Add experimental `model_json_schema` function for Pydantic V2 compatibility
  src/prefect/_internal/pydantic/__init__.py
  src/prefect/_internal/pydantic/_compat.py
  tests/_internal/pydantic/test_model_json_schema.py
Labels: experimental

#12383 Add release notes for 2.16.5
  RELEASE-NOTES.md
Labels: maintenance

#12384 nested hydration
  src/prefect/utilities/schema_tools/hydration.py
  tests/utilities/schema_tools/test_hydration.py
Labels: enhancement

#12387 Improve interactive workspace selection
  src/prefect/cli/cloud/__init__.py
  src/prefect/client/cloud.py
  tests/cli/test_cloud.py
Labels: enhancement

#12210 use pydantic v2 for schema generation where possible
  src/prefect/_internal/pydantic/v1_schema.py
  src/prefect/_internal/pydantic/v2_schema.py
  src/prefect/utilities/callables.py
  tests/utilities/test_callables.py
Labels: enhancement

#12377 Turn CSRF protection on by default
  .github/workflows/integration-tests.yaml
  src/prefect/settings.py
  src/prefect/testing/fixtures.py
  tests/conftest.py
Labels: enhancement

#12370 Add experimental `model_validate` function for Pydantic V2 compatibility
  src/prefect/_internal/pydantic/__init__.py
  src/prefect/_internal/pydantic/_compat.py
  tests/_internal/pydantic/test_model_validate.py
Labels: experimental

#12398 handle new `typer.Option` behavior
  src/prefect/cli/deploy.py
  src/prefect/cli/deployment.py
  tests/cli/test_agent.py
  tests/cli/test_worker.py
Labels: fix

#12392 Add links to serverless and push serverless work pool guides for dependency management
  docs/guides/deployment/push-work-pools.md
  docs/guides/deployment/serverless-workers.md
Labels: docs

#12382 More robust error handling in `TaskServer`
  src/prefect/task_server.py
  tests/test_task_server.py
Labels: enhancement, experimental

#12358 Properly display falsy `concurrency_limit` value in CLI
  src/prefect/cli/work_pool.py
  src/prefect/cli/work_queue.py
  tests/cli/test_work_pool.py
  tests/cli/test_work_queues.py
Labels: component:cli, fix

#12390 adding small client cancel flow runs example
  docs/guides/using-the-client.md
Labels: docs

#12411 Carving out room in the test suite for server-side event tests.
  tests/events/client/conftest.py
  tests/events/client/instrumentation/test_block_events_instrumentation.py
  tests/events/client/instrumentation/test_events_workers_instrumentation.py
  tests/events/client/instrumentation/test_task_run_state_change_events.py
  tests/events/client/test_cloud_events_client.py
  tests/events/client/test_cloud_events_subscriber.py
  tests/events/client/test_event_schemas.py
  tests/events/client/test_events_emit_event.py
  tests/events/client/test_events_instrument.py
  tests/events/client/test_events_related_from_context.py
  tests/events/client/test_events_worker.py
  tests/events/client/test_resource_schemas.py
  tests/events/client/test_utility_events_clients.py
  tests/events/client/test_v1_triggers_deserialization.py
  tests/events/server/conftest.py
Labels: testing

#12412 Add `model_validate_json` to pydantic compat layer
  src/prefect/_internal/pydantic/__init__.py
  src/prefect/_internal/pydantic/_compat.py
  tests/_internal/pydantic/test_model_validate_json.py
Labels: experimental

#12414 Move Pydantic schema validation functions into internal utility module
  docs/api-ref/prefect/utilities/validation.md
  mkdocs.yml
  src/prefect/_internal/schemas/validators.py
  src/prefect/runner/server.py
  src/prefect/server/api/validation.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/utilities/schemas/validators.py
  src/prefect/utilities/validation.py
  tests/utilities/test_validation.py
Labels: maintenance

#12417 Skip UI build for tests
  .github/workflows/python-tests.yaml
  Dockerfile
Labels: maintenance

#12413 Integrating composite triggers with the `DeploymentTrigger` YAML representation
  src/prefect/cli/deploy.py
  src/prefect/deployments/runner.py
  src/prefect/events/__init__.py
  src/prefect/events/schemas.py
  tests/cli/test_deploy.py
  tests/events/client/test_deployment_trigger_schema.py
  tests/events/client/test_event_schemas.py
  tests/test_deployments.py
  tests/test_flows.py
Labels: enhancement

#12433 Backporting server events schemas, and refreshing the client schemas
  scripts/events-coverage
  src/prefect/cli/deploy.py
  src/prefect/client/orchestration.py
  src/prefect/deployments/deployments.py
  src/prefect/deployments/runner.py
  src/prefect/events/__init__.py
  src/prefect/events/actions.py
  src/prefect/events/clients.py
  src/prefect/events/filters.py
  src/prefect/events/related.py
  src/prefect/events/schemas.py
  src/prefect/events/schemas/__init__.py
  src/prefect/events/schemas/automations.py
  src/prefect/events/schemas/deployment_triggers.py
  src/prefect/events/schemas/events.py
  src/prefect/events/schemas/labelling.py
  src/prefect/events/utilities.py
  src/prefect/events/worker.py
  src/prefect/flows.py
  src/prefect/runner/runner.py
  src/prefect/server/events/__init__.py
  src/prefect/server/events/schemas/__init__.py
  src/prefect/server/events/schemas/events.py
  src/prefect/server/events/schemas/labelling.py
  src/prefect/settings.py
  src/prefect/testing/fixtures.py
  src/prefect/workers/base.py
  src/prefect/workers/block.py
  tests/cli/test_deploy.py
  tests/client/test_prefect_client.py
  tests/events/__init__.py
  tests/events/client/__init__.py
  tests/events/client/test_cloud_events_subscriber.py
  tests/events/client/test_deployment_trigger_schema.py
  tests/events/client/test_events_related_from_context.py
  tests/events/client/test_events_schema.py
  tests/events/client/test_resource_schema.py
  tests/events/client/test_v1_triggers_deserialization.py
  tests/events/server/__init__.py
  tests/events/server/test_events_schema.py
  tests/events/server/test_resource_schema.py
  tests/test_deployments.py
  tests/test_flows.py
Labels: feature

#12436 Skip oft failing runner test
  tests/runner/test_runner.py
Labels: maintenance

#12399 Fix wrong date in `prefect deploy` deprecation warning for `schedule`
  src/prefect/cli/deploy.py
Labels: fix

#12431 Move `Deployment` Pydantic validation into internal `validators` module
  src/prefect/_internal/schemas/validators.py
  src/prefect/deployments/deployments.py
Labels: maintenance

#12440 move uses of `logger.warn` to `logger.warning`
  src/prefect/server/api/server.py
  src/prefect/server/services/task_scheduling.py
  src/prefect/utilities/asyncutils.py
Labels: maintenance

#12434 start adding `TypeAdapter` methods to compat layer
  src/prefect/_internal/pydantic/__init__.py
  src/prefect/_internal/pydantic/_compat.py
  tests/_internal/pydantic/test_model_copy.py
  tests/_internal/pydantic/test_model_dump.py
  tests/_internal/pydantic/test_model_dump_json.py
  tests/_internal/pydantic/test_model_json_schema.py
  tests/_internal/pydantic/test_model_validate.py
  tests/_internal/pydantic/test_model_validate_json.py
  tests/_internal/pydantic/test_type_adapter.py
Labels: experimental

#11998 Introducing CLI Commands for Shell Flows
  docs/api-ref/prefect/cli/shell.md
  src/prefect/cli/__init__.py
  src/prefect/cli/shell.py
  tests/cli/test_shell.py
Labels: enhancement

#12441 Add comment on our Pydantic V2 flags and deprecation logic
  src/prefect/_internal/pydantic/_flags.py
Labels: maintenance

#12422 Add auto-provisioning option for Cloud Run V2 push work pools
  src/prefect/infrastructure/provisioners/__init__.py
  tests/infrastructure/provisioners/test_cloud_run_v2.py
Labels: enhancement

#12439 Move `Schedule` Pydantic validation into internal validators module
  src/prefect/_internal/schemas/validators.py
  src/prefect/client/schemas/schedules.py
  src/prefect/deployments/deployments.py
  src/prefect/server/schemas/schedules.py
  tests/server/schemas/test_schedules.py
Labels: maintenance

#12451 Move `KubernetesJob` schema validation to internal validation model
  src/prefect/_internal/schemas/validators.py
  src/prefect/infrastructure/kubernetes.py
Labels: maintenance

#12457 Increase late runs after seconds setting default
  docs/concepts/states.md
  src/prefect/settings.py
Labels: enhancement

#12449 Adding more tests for events schemas to increase coverage
  scripts/events-coverage
  src/prefect/events/actions.py
  src/prefect/events/clients.py
  src/prefect/events/schemas/events.py
  src/prefect/events/utilities.py
  src/prefect/server/events/schemas/events.py
  src/prefect/testing/fixtures.py
  tests/events/client/conftest.py
  tests/events/client/test_cloud_events_subscriber.py
  tests/events/client/test_deployment_trigger_schema.py
  tests/events/client/test_events_emit_event.py
  tests/events/client/test_events_schema.py
  tests/events/client/test_resource_schema.py
  tests/events/client/test_resource_schemas.py
  tests/events/client/test_v1_triggers_deserialization.py
  tests/events/server/test_events_schema.py
  tests/events/server/test_resource_schema.py
Labels: testing

#12460 UI: enable sourcemaps by default
  ui/vite.config.ts
Labels: maintenance

#12455 add unit test jobs for v2 pydantic compat enabled case
  .github/workflows/python-tests.yaml
  src/prefect/settings.py
Labels: maintenance

#12465 Remove social cards
  mkdocs.insiders.yml
  mkdocs.yml
Labels: docs

#12452 Move all name validator logic to internal validator module
  src/prefect/_internal/schemas/validators.py
  src/prefect/client/schemas/objects.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/states.py
Labels: maintenance

#12471 remove `copy_model_fields` from response schemas
  src/prefect/server/schemas/responses.py
  tests/workers/test_base_worker.py
Labels: maintenance

#12464 Move filesystem and serializer validation to internal validators module
  src/prefect/_internal/schemas/validators.py
  src/prefect/filesystems.py
  src/prefect/serializers.py
Labels: maintenance

#12334 fix(cli): prompt user confirmation for pausing work queue in default work pool
  src/prefect/cli/work_queue.py
  tests/cli/test_work_queues.py
Labels: fix

#12489 use uv in integration tests
  .github/workflows/integration-tests.yaml
Labels: maintenance

#12466 Move settings and more kubernetes validation
  src/prefect/_internal/schemas/validators.py
  src/prefect/blocks/kubernetes.py
  src/prefect/client/schemas/actions.py
  src/prefect/settings.py
Labels: maintenance

#12330 feat(server): add REST API to delete work pool's worker
  src/prefect/server/api/workers.py
  src/prefect/server/models/workers.py
  tests/server/api/test_workers.py
  tests/server/models/test_workers.py
Labels: enhancement, status:waiting for user

#12485 Message Publisher and Consumer abstractions, with in-memory implementation
  src/prefect/server/utilities/messaging/__init__.py
  src/prefect/server/utilities/messaging/memory.py
  src/prefect/settings.py
  tests/server/conftest.py
  tests/server/utilities/test_messaging.py
Labels: feature

#12492 fix uv caching
  .github/workflows/integration-tests.yaml
  .github/workflows/python-tests.yaml
Labels: maintenance

#12488 move `docker` tests to their own job
  .github/workflows/python-tests.yaml
Labels: maintenance

#12493 Move validators for task run, infra block, and more
  src/prefect/_internal/schemas/validators.py
  src/prefect/client/schemas/objects.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/software/python.py
  src/prefect/workers/base.py
  src/prefect/workers/block.py
  src/prefect/workers/process.py
Labels: maintenance

#12494 add shell commands to guides index
  docs/guides/index.md
Labels: docs

#12276 Add `job_variables` support to triggers
  src/prefect/events/actions.py
  src/prefect/events/schemas/deployment_triggers.py
  tests/cli/test_deploy.py
  tests/test_deployments.py
Labels: enhancement

#12496 Add `prompts_and_responses` support to `invoke_and_assert`
  src/prefect/testing/cli.py
  tests/cli/test_artifact.py
  tests/cli/test_deploy.py
Labels: maintenance

#12001 fix: skip cancellation if no config found
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Labels: status:stale, fix

#12329 Handle referenced blocks in base templates during `job_variable` validation
  src/prefect/server/api/deployments.py
  src/prefect/server/api/flow_runs.py
  src/prefect/server/api/validation.py
  tests/server/api/test_infra_overrides.py
Labels: fix
