Repository PrefectHQ/prefect, pull requests merged in 2024-11, with the labels that each got.

#15909 fix `wait_for` for `DaskTaskRunner`
  src/integrations/prefect-dask/prefect_dask/task_runners.py
  src/integrations/prefect-dask/tests/test_task_runners.py
Labels: bug, integrations, fix

#15910 Adds notes to settings docs on when features were added
  docs/3.0/develop/settings-and-profiles.mdx
  docs/3.0/develop/settings-ref.mdx
  schemas/settings.schema.json
  scripts/generate_settings_ref.py
  src/prefect/settings/models/api.py
  src/prefect/settings/models/root.py
  src/prefect/settings/models/server/events.py
Labels: docs

#15913 fix extra loggers parsing
  src/prefect/settings/models/logging.py
  src/prefect/types/__init__.py
  tests/test_settings.py
Labels: fix

#15813 add internal `async_dispatch` util
  src/prefect/_internal/compatibility/async_dispatch.py
  tests/_internal/compatibility/test_async_dispatch.py
Labels: development

#15918 Fix table formatting in Roles doc
  docs/3.0/manage/cloud/manage-users/manage-roles.mdx
Labels: docs

#15922 Fix `prefect config view` not showing .env file settings
  src/prefect/cli/config.py
  tests/cli/test_config.py
Labels: fix

#15931 Update docs for task results persistence param
  docs/3.0/develop/results.mdx
Labels: docs

#15914 Enable PREFECT_PROFILES_PATH in source files
  src/prefect/settings/sources.py
  tests/test_settings.py
Labels: enhancement

#15917 fix sqlite migration
  .github/workflows/integration-tests.yaml
  old-sqlite.Dockerfile
  src/prefect/server/database/migrations/versions/sqlite/2022_04_23_114831_fd966d4ad99c_rename_block_to_blockbasis_and_.py
  src/prefect/server/database/migrations/versions/sqlite/2024_09_16_162719_4ad4658cbefe_add_deployment_to_global_concurrency_.py
Labels: fix, migration

#15936 Fix typo on self-host.mdx
  docs/3.0/manage/self-host.mdx
Labels: docs

#15939 fix flow run graph endpoint for nested task runs
  src/prefect/server/database/query_components.py
  tests/server/orchestration/api/test_flow_run_graph_v2.py
Labels: bug, ui

#15941 Include worker ID with worker-originated flow run logs
  src/prefect/logging/handlers.py
  src/prefect/workers/base.py
  tests/test_logging.py
  tests/workers/test_base_worker.py
Labels: enhancement

#15920 Add documentation on worker logs
  docs/3.0/deploy/infrastructure-concepts/workers.mdx
Labels: docs

#15948 Fix some nits in the worker logging docs
  docs/3.0/deploy/infrastructure-concepts/workers.mdx
Labels: docs

#15953 Rename misspelled file
  .github/workflows/integration-package-tests.yaml
Labels: development, 2.x

#15946 Setup OpenTelemetry exporters when initializing prefect
  docs/3.0/develop/settings-ref.mdx
  requirements-dev.txt
  requirements-otel.txt
  schemas/settings.schema.json
  src/prefect/logging/loggers.py
  src/prefect/main.py
  src/prefect/settings/models/experiments.py
  src/prefect/telemetry/__init__.py
  src/prefect/telemetry/bootstrap.py
  src/prefect/telemetry/instrumentation.py
  src/prefect/telemetry/logging.py
  src/prefect/telemetry/processors.py
  tests/telemetry/conftest.py
  tests/telemetry/test_instrumentation.py
  tests/telemetry/test_logging.py
  tests/telemetry/test_processors.py
  tests/test_settings.py
Labels: development, docs, upstream dependency

#15966 handle possible `None` value
  src/prefect/workers/base.py
Labels: development

#15973 adopt `async_dispatch` for slack collection
  src/integrations/prefect-slack/prefect_slack/credentials.py
  src/integrations/prefect-slack/pyproject.toml
  src/integrations/prefect-slack/tests/test_credentials.py
Labels: development, integrations

#15962 [UI v2] Add ability to create new variables
  src/prefect/server/api/variables.py
  ui-v2/eslint.config.js
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/api/service.ts
  ui-v2/src/components/layouts/MainLayout.tsx
  ui-v2/src/components/ui/badge/badge.tsx
  ui-v2/src/components/ui/badge/index.ts
  ui-v2/src/components/ui/badge/styles.ts
  ui-v2/src/components/ui/dialog.tsx
  ui-v2/src/components/ui/form/form.tsx
  ui-v2/src/components/ui/form/hooks.ts
  ui-v2/src/components/ui/form/index.ts
  ui-v2/src/components/ui/input.tsx
  ui-v2/src/components/ui/tags-input.tsx
  ui-v2/src/components/variables/add-variable-dialog.tsx
  ui-v2/src/components/variables/empty-state.tsx
  ui-v2/src/components/variables/page.tsx
  ui-v2/src/lib/types.ts
  ui-v2/src/routes/variables.tsx
  ui-v2/tests/mocks/handlers.ts
  ui-v2/tests/setup.ts
  ui-v2/tests/variables/mocks.tsx
  ui-v2/tests/variables/variables.test.tsx
  ui-v2/tsconfig.app.json
Labels: development

#15977 clarify state hook docs
  docs/3.0/develop/manage-states.mdx
Labels: docs

#15982 Fixes the arguments for the url generation in BaseWorker
  src/prefect/workers/base.py
Labels: fix

#15988 Fix documentation link to deployment concept
  docs/3.0/deploy/index.mdx
  docs/3.0/get-started/quickstart.mdx
Labels: docs

#15979 Fix formatting of `list` and `set` settings values when marshaling to environment variables
  src/prefect/settings/base.py
  tests/test_settings.py
Labels: great writeup, fix

#15975 Ensure `.env` files load only Prefect environment variables
  src/prefect/settings/base.py
  src/prefect/settings/sources.py
  tests/test_settings.py
Labels: bug

#15976 update `asyncio_default_fixture_loop_scope` in all collections
  src/integrations/prefect-aws/pyproject.toml
  src/integrations/prefect-azure/pyproject.toml
  src/integrations/prefect-bitbucket/pyproject.toml
  src/integrations/prefect-dask/pyproject.toml
  src/integrations/prefect-databricks/pyproject.toml
  src/integrations/prefect-dbt/pyproject.toml
  src/integrations/prefect-docker/pyproject.toml
  src/integrations/prefect-email/pyproject.toml
  src/integrations/prefect-gcp/pyproject.toml
  src/integrations/prefect-github/pyproject.toml
  src/integrations/prefect-gitlab/pyproject.toml
  src/integrations/prefect-kubernetes/pyproject.toml
  src/integrations/prefect-ray/pyproject.toml
  src/integrations/prefect-redis/pyproject.toml
  src/integrations/prefect-shell/pyproject.toml
  src/integrations/prefect-shell/tests/test_commands.py
  src/integrations/prefect-slack/pyproject.toml
  src/integrations/prefect-snowflake/pyproject.toml
  src/integrations/prefect-sqlalchemy/pyproject.toml
Labels: development, test-all-integrations

#15995 Fix bugs in precedence of settings sources for settings with multiple validation aliases
  src/prefect/settings/sources.py
  tests/test_settings.py
Labels: bug

#15991 Persist failed data at random locations
  src/prefect/states.py
  tests/results/test_task_results.py
Labels: bug

#16002 make sure workers emit stop events
  flows/worker.py
  src/prefect/events/filters.py
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Labels: bug, fix

#16006 Fix formatting for output file tree structure in customize.mdx
  docs/3.0/deploy/infrastructure-concepts/customize.mdx
Labels: docs

#15985 [UI v2] Variables table - part 1
  ui-v2/src/api/service.ts
  ui-v2/src/components/flows/data-table.tsx
  ui-v2/src/components/flows/detail/cells.tsx
  ui-v2/src/components/flows/queries.tsx
  ui-v2/src/components/ui/data-table.tsx
  ui-v2/src/components/ui/pagination.tsx
  ui-v2/src/components/variables/add-variable-dialog.tsx
  ui-v2/src/components/variables/data-table/cells.tsx
  ui-v2/src/components/variables/data-table/data-table.tsx
  ui-v2/src/components/variables/data-table/index.ts
  ui-v2/src/components/variables/page.tsx
  ui-v2/src/routes/flows/index.tsx
  ui-v2/src/routes/variables.tsx
  ui-v2/tests/mocks/handlers.ts
  ui-v2/tests/variables/variables.test.tsx
Labels: development

#16005 handle UNC paths for windows
  .github/workflows/test-windows-unc.yaml
  scripts/test_unc_paths.py
  src/prefect/utilities/filesystem.py
Labels: bug

#16010 Add Flow run OTEL instrumentation
  requirements-client.txt
  requirements.txt
  src/prefect/client/schemas/objects.py
  src/prefect/flow_engine.py
  src/prefect/telemetry/__init__.py
  src/prefect/telemetry/processors.py
  tests/conftest.py
  tests/fixtures/telemetry.py
  tests/telemetry/instrumentation_tester.py
  tests/test_flow_engine.py
Labels: upstream dependency

#16024 Remove experimental worker logs setting
  docs/3.0/deploy/infrastructure-concepts/workers.mdx
  docs/3.0/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/logging/handlers.py
  src/prefect/settings/models/experiments.py
  src/prefect/utilities/urls.py
  src/prefect/workers/base.py
  tests/test_logging.py
  tests/test_settings.py
  tests/workers/test_base_worker.py
Labels: docs

#16012 fix worker not releasing limit slot on failed propose pending state
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Labels: bug

#16025 [UI v2] Variables table - part 2
  ui-v2/src/components/ui/button/button.tsx
  ui-v2/src/components/ui/data-table.tsx
  ui-v2/src/components/ui/input.tsx
  ui-v2/src/components/ui/tags-input.tsx
  ui-v2/src/components/variables/data-table/cells.tsx
  ui-v2/src/components/variables/data-table/data-table.tsx
  ui-v2/src/components/variables/data-table/search.tsx
  ui-v2/src/components/variables/page.tsx
  ui-v2/src/hooks/use-debounce.ts
  ui-v2/src/routes/variables.tsx
  ui-v2/tests/variables/mocks.tsx
  ui-v2/tests/variables/variables.test.tsx
Labels: development

#16031 Update links in blocks to not point to docs from archived repositories
  src/integrations/prefect-aws/README.md
  src/integrations/prefect-aws/prefect_aws/credentials.py
  src/integrations/prefect-aws/prefect_aws/lambda_function.py
  src/integrations/prefect-aws/prefect_aws/s3.py
  src/integrations/prefect-aws/prefect_aws/secrets_manager.py
  src/integrations/prefect-aws/prefect_aws/workers/ecs_worker.py
  src/integrations/prefect-azure/prefect_azure/blob_storage.py
  src/integrations/prefect-azure/prefect_azure/credentials.py
  src/integrations/prefect-azure/prefect_azure/workers/container_instance.py
  src/integrations/prefect-dbt/prefect_dbt/cli/commands.py
  src/integrations/prefect-dbt/prefect_dbt/cli/configs/base.py
  src/integrations/prefect-dbt/prefect_dbt/cli/configs/bigquery.py
  src/integrations/prefect-dbt/prefect_dbt/cli/configs/postgres.py
  src/integrations/prefect-dbt/prefect_dbt/cli/configs/snowflake.py
  src/integrations/prefect-dbt/prefect_dbt/cli/credentials.py
  src/integrations/prefect-dbt/prefect_dbt/cloud/credentials.py
  src/integrations/prefect-dbt/prefect_dbt/cloud/jobs.py
  src/integrations/prefect-docker/prefect_docker/worker.py
  src/integrations/prefect-email/prefect_email/credentials.py
  src/integrations/prefect-gcp/README.md
  src/integrations/prefect-gcp/prefect_gcp/bigquery.py
  src/integrations/prefect-gcp/prefect_gcp/cloud_storage.py
  src/integrations/prefect-gcp/prefect_gcp/credentials.py
  src/integrations/prefect-gcp/prefect_gcp/secret_manager.py
  src/integrations/prefect-gcp/prefect_gcp/workers/cloud_run.py
  src/integrations/prefect-gcp/prefect_gcp/workers/cloud_run_v2.py
  src/integrations/prefect-gcp/prefect_gcp/workers/vertex.py
  src/integrations/prefect-github/prefect_github/credentials.py
  src/integrations/prefect-github/prefect_github/repository.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/credentials.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/jobs.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-shell/prefect_shell/commands.py
  src/integrations/prefect-slack/prefect_slack/credentials.py
  src/integrations/prefect-snowflake/prefect_snowflake/credentials.py
  src/integrations/prefect-snowflake/prefect_snowflake/database.py
  src/integrations/prefect-sqlalchemy/prefect_sqlalchemy/database.py
Labels: docs

#16034 Move installation notes to bottom of self-host doc
  docs/3.0/manage/self-host.mdx
Labels: docs

#15996 refactor `async_dispatch` to enable forcing behavior for instance methods
  src/integrations/prefect-slack/prefect_slack/credentials.py
  src/prefect/_internal/compatibility/async_dispatch.py
  tests/_internal/compatibility/test_async_dispatch.py
Labels: development, integrations

#16037 Improve instructions for connecting to Cloud
  docs/3.0/manage/cloud/connect-to-cloud.mdx
  docs/3.0/manage/cloud/manage-users/api-keys.mdx
Labels: docs

#16045 Fix env var deep merge order on worker
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Labels: fix

#16049 helpful error on unhashable parameters
  src/prefect/cache_policies.py
  src/prefect/exceptions.py
  src/prefect/utilities/hashing.py
  tests/test_tasks.py
  tests/utilities/test_hashing.py
Labels: bug, enhancement

#16046 Fix env var deep merge order on worker 2.x
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Labels: fix, 2.x

#16055 Update docs redirects and settings reference path
  docs/mint.json
  scripts/generate_settings_ref.py
Labels: docs

#16052 fix agents -> workers doc examples that reference non-existent code
  docs/v3/resources/upgrade-agents-to-workers.mdx
Labels: docs

#16061 remove unused import
  src/prefect/cli/cloud/__init__.py
Labels: development

#15482 Prevent workers from running flow runs scheduled for in process retry
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/client/schemas/objects.py
  src/prefect/server/database/sql/postgres/get-runs-from-worker-queues.sql.jinja
  src/prefect/server/database/sql/sqlite/get-runs-from-worker-queues.sql.jinja
  src/prefect/server/orchestration/core_policy.py
  src/prefect/server/schemas/core.py
  tests/server/database/test_queries.py
  tests/server/orchestration/test_core_policy.py
  tests/workers/test_base_worker.py
Labels: bug, docs

#16053 migrate `prefect_aws.batch` off `sync_compatible`
  src/integrations/prefect-aws/prefect_aws/batch.py
  src/integrations/prefect-aws/pyproject.toml
  src/integrations/prefect-aws/tests/test_batch.py
  src/prefect/_internal/compatibility/async_dispatch.py
Labels: enhancement, development, integrations

#16051 Adds a dead-letter queue to memory subscriptions to avoid infinite loops
  src/prefect/server/utilities/messaging/memory.py
  tests/server/services/test_task_run_recorder.py
  tests/server/utilities/test_messaging.py
Labels: bug

#15990 New author tutorials
  docs/mint.json
  docs/v3/get-started/quickstart.mdx
  docs/v3/tutorials/pipelines.mdx
  docs/v3/tutorials/schedule.mdx
  docs/v3/tutorials/scraping.mdx
Labels: docs, 3.x

#16064 updated `async_dispatch` requires `prefect>=3.1.3`
  src/integrations/prefect-aws/pyproject.toml
Labels: development, integrations

#16067 cast `None -> {}` in `KeyValueLabels`
  src/prefect/client/cloud.py
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/objects.py
  src/prefect/types/__init__.py
  tests/test_flow_engine.py
  tests/test_types.py
Labels: bug, fix

#16063 Update a few internal links in the docs
  docs/integrations/prefect-aws/ecs_guide.mdx
  docs/integrations/prefect-aws/index.mdx
  docs/integrations/prefect-azure/index.mdx
  docs/integrations/prefect-bitbucket/index.mdx
  docs/integrations/prefect-dask/index.mdx
  docs/integrations/prefect-dbt/index.mdx
  docs/integrations/prefect-docker/index.mdx
  docs/integrations/prefect-gcp/gcp-worker-guide.mdx
  docs/integrations/prefect-gcp/index.mdx
  docs/integrations/prefect-snowflake/index.mdx
  docs/integrations/use-integrations.mdx
  docs/mint.json
  docs/v3/api-ref/index.mdx
  docs/v3/api-ref/rest-api/index.mdx
  docs/v3/automate/add-schedules.mdx
  docs/v3/deploy/infrastructure-concepts/workers.mdx
  docs/v3/develop/logging.mdx
  docs/v3/develop/results.mdx
  docs/v3/develop/task-caching.mdx
  docs/v3/manage/cloud/connect-to-cloud.mdx
  docs/v3/manage/cloud/manage-users/api-keys.mdx
  docs/v3/manage/self-host.mdx
Labels: docs

#16058 Remove last remaining links to /docs/3.0
  docs/v3/develop/results.mdx
Labels: docs

#16076 fix pydantic 2.10 compat
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/_internal/schemas/bases.py
  src/prefect/server/utilities/schemas/bases.py
  tests/events/server/test_events_api.py
Labels: docs, fix

#16075 omit empty tags in `RunnerDeployment`
  src/prefect/deployments/runner.py
  src/prefect/types/__init__.py
Labels: enhancement, docs

#16073 Minor docs IA clean up
  docs/conftest.py
  docs/integrations/prefect-aws/index.mdx
  docs/integrations/prefect-bitbucket/index.mdx
  docs/integrations/prefect-gcp/index.mdx
  docs/mint.json
  docs/v3/deploy/daemonize-processes.mdx
  docs/v3/deploy/infrastructure-concepts/workers.mdx
  docs/v3/deploy/infrastructure-examples/docker.mdx
  docs/v3/develop/big-data.mdx
  docs/v3/develop/cancel.mdx
  docs/v3/develop/cli-shell.mdx
  docs/v3/develop/interact-with-api.mdx
  docs/v3/develop/secrets.mdx
  docs/v3/develop/visualize-flow-structure.mdx
  docs/v3/get-started/whats-new-prefect-3.mdx
  docs/v3/manage/index.mdx
  docs/v3/manage/self-host.mdx
  docs/v3/resources/upgrade-to-prefect-3.mdx
Labels: docs, 3.x

#16082 migrate `prefect_aws.client_waiter` off `sync_compatible`
  src/integrations/prefect-aws/prefect_aws/client_waiter.py
  src/integrations/prefect-aws/tests/test_client_waiter.py
Labels: development, integrations

#16072 allow filtering by flow run tags via `any_`
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/client/schemas/filters.py
  src/prefect/server/schemas/filters.py
  tests/client/test_prefect_client.py
Labels: enhancement, docs

#16083 migrate `prefect_aws.lambda_function` off `sync_compatible`
  src/integrations/prefect-aws/prefect_aws/lambda_function.py
  src/integrations/prefect-aws/tests/test_lambda_function.py
Labels: development, integrations

#16050 Implement `labels` field on Flow, Deployment, FlowRun, and TaskRun
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  src/prefect/client/schemas/responses.py
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2024_11_15_150706_68a44144428d_add_labels_column_to_flow_flowrun_.py
  src/prefect/server/database/migrations/versions/sqlite/2024_11_15_151042_5952a5498b51_add_labels_column_to_flow_flowrun_.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/deployments.py
  src/prefect/server/models/flow_runs.py
  src/prefect/server/models/flows.py
  src/prefect/server/models/task_runs.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/responses.py
  src/prefect/types/__init__.py
  tests/events/client/instrumentation/test_task_run_state_change_events.py
  tests/server/models/test_deployments.py
  tests/server/orchestration/api/test_deployments.py
  tests/server/orchestration/api/test_flow_runs.py
  tests/server/orchestration/api/test_flows.py
  tests/server/orchestration/api/test_task_runs.py
  tests/telemetry/instrumentation_tester.py
  tests/test_flow_engine.py
  tests/test_types.py
Labels: development, docs, migration

#16087 revert `pydantic==2.10.0` workaround given upstream fix
  requirements-client.txt
  src/prefect/_internal/schemas/bases.py
  src/prefect/server/utilities/schemas/bases.py
Labels: development, upstream dependency

#16092 Fix redirect
  docs/mint.json
Labels: docs

#16091 Create `BaseFlowRunEngine` and `AsyncFlowRunEngine` shell
  src/prefect/flow_engine.py
  tests/test_flow_engine.py
Labels: development

#16035 [UI v2] Edit variables
  ui-v2/src/components/ui/button/button.tsx
  ui-v2/src/components/variables/data-table/cells.tsx
  ui-v2/src/components/variables/data-table/data-table.tsx
  ui-v2/src/components/variables/hooks.ts
  ui-v2/src/components/variables/page.tsx
  ui-v2/src/components/variables/variable-dialog.tsx
  ui-v2/tests/mocks/handlers.ts
  ui-v2/tests/variables/variables.test.tsx
Labels: development

#16084 [UI v2] Refactor parts of variables components
  ui-v2/.gitignore
  ui-v2/package.json
  ui-v2/src/components/ui/badge/badge.tsx
  ui-v2/src/components/ui/data-table.tsx
  ui-v2/src/components/ui/json-input.tsx
  ui-v2/src/components/ui/tag-badge-group.stories.tsx
  ui-v2/src/components/ui/tag-badge-group.tsx
  ui-v2/src/components/ui/tag-badge.tsx
  ui-v2/src/components/ui/tags-input.stories.tsx
  ui-v2/src/components/ui/tags-input.tsx
  ui-v2/src/components/ui/toast.tsx
  ui-v2/src/components/variables/data-table/cells.tsx
  ui-v2/src/components/variables/data-table/data-table.tsx
  ui-v2/src/components/variables/empty-state.tsx
  ui-v2/src/components/variables/hooks.ts
  ui-v2/src/components/variables/layout.tsx
  ui-v2/src/components/variables/page.tsx
  ui-v2/src/components/variables/variable-dialog/index.ts
  ui-v2/src/components/variables/variable-dialog/use-variable-dialog.ts
  ui-v2/src/components/variables/variable-dialog/variable-dialog.tsx
  ui-v2/src/hooks/use-debounce.ts
  ui-v2/src/hooks/use-is-overflowing.ts
  ui-v2/src/hooks/variables.ts
  ui-v2/src/lib/utils.ts
  ui-v2/src/routes/variables.tsx
  ui-v2/tests/variables/variables.test.tsx
Labels: development

#16107 added noZoom tag to integration images
  docs/integrations/integrations.mdx
Labels: docs

#16117 2.x generic alias handling in `validate_parameters`
  src/prefect/flows.py
  tests/test_flows.py
Labels: bug, fix, 2.x

#16096 migrate `prefect_aws.s3` async tasks to `async_dispatch`
  src/integrations/prefect-aws/prefect_aws/s3.py
  src/integrations/prefect-aws/tests/test_s3.py
Labels: enhancement

#16121 Improve scheduled flows query
  src/prefect/server/models/deployments.py
Labels: great writeup, 2.x

#16130 Fix error when listing workspaces without an active workspace
  src/prefect/cli/cloud/__init__.py
  tests/cli/cloud/test_cloud.py
Labels: bug

#16131 [UI v2] feat: Adds tanstack query dev tools for development mode
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/app.tsx
  ui-v2/tests/setup.ts
Labels: development, ui

#16136 [UI v2] feat: Have UX related mutation callbacks be handled in the UX layer
  ui-v2/src/components/variables/data-table/cells.tsx
  ui-v2/src/components/variables/variable-dialog/variable-dialog.tsx
  ui-v2/src/hooks/variables.ts
  ui-v2/tests/mocks/handlers.ts
Labels: development, ui

#16132 Improve scheduled flows query
  src/prefect/server/models/deployments.py
Labels: development, performance, 2.x

#16140 [UI v2] feat: simplfies invalidating all variable queries
  ui-v2/src/hooks/variables.ts
Labels: development, ui

#16135 Add caching doc section on unserializable inputs
  docs/v3/develop/big-data.mdx
  docs/v3/develop/task-caching.mdx
  docs/v3/develop/write-tasks.mdx
Labels: docs

#16141 [UI v2] Move delete variable mutation to variable hooks module
  ui-v2/src/components/variables/data-table/cells.tsx
  ui-v2/src/hooks/variables.ts
Labels: enhancement, development

#16143 [UI v2] feat: Introducing declarative useSet custom hook and replacing selected tags state for this hook
  ui-v2/src/components/flows/data-table.tsx
  ui-v2/src/hooks/use-set.test.ts
  ui-v2/src/hooks/use-set.ts
Labels: enhancement, ui
