Repository PrefectHQ/prefect, pull requests merged in 2024-04, with the labels that each got.

#12499 Backporting `POST /api/events` and the `/api/events/in` Websocket
  src/prefect/server/api/__init__.py
  src/prefect/server/api/events.py
  src/prefect/server/api/server.py
  src/prefect/server/events/messaging.py
  src/prefect/server/utilities/messaging/__init__.py
  src/prefect/settings.py
  tests/events/client/test_cloud_events_subscriber.py
  tests/events/server/conftest.py
  tests/events/server/gateway/conftest.py
  tests/events/server/gateway/test_gateway_in.py
  tests/events/server/test_messaging.py
Labels: feature

#12501 Adding a diagnostic service which consumes events and prints a summary of them
  src/prefect/server/api/server.py
  src/prefect/server/events/services/__init__.py
  src/prefect/server/events/services/event_logger.py
  src/prefect/settings.py
Labels: feature

#12502 stop trying to cache docker layers
  .github/workflows/python-tests.yaml
Labels: maintenance

#12510 select correct `AsyncWaiter` for successively awaited flow/task calls
  src/prefect/_internal/concurrency/api.py
  src/prefect/_internal/concurrency/waiters.py
  src/prefect/engine.py
  tests/_internal/concurrency/test_api.py
  tests/_internal/concurrency/test_waiters.py
  tests/conftest.py
  tests/public/flows/test_flow_crashes.py
Labels: great writeup, fix, concurrency

#12504 set loop debug off
  src/prefect/settings.py
  tests/conftest.py
  tests/server/models/test_orm.py
Labels: maintenance

#12505 Update cloud plan info
  docs/cloud/incidents.md
  docs/cloud/index.md
  docs/cloud/users/api-keys.md
  docs/cloud/users/audit-log.md
  docs/cloud/users/index.md
  docs/cloud/users/object-access-control-lists.md
  docs/cloud/users/roles.md
  docs/cloud/users/service-accounts.md
  docs/cloud/users/sso.md
  docs/cloud/users/teams.md
  docs/cloud/workspaces.md
  docs/concepts/automations.md
  docs/getting-started/installation.md
  docs/guides/deployment/aci.md
  docs/stylesheets/extra.css
Labels: docs

#12519 Integrates mkdocs material social plugin fix
  mkdocs.insiders.yml
  mkdocs.yml
  netlify.toml
Labels: docs

#12520 Internal events client, for publishing events from other server-side areas
  src/prefect/server/events/clients.py
  tests/events/server/test_clients.py
Labels: feature

#12534 Introducing an internal orchestration API client for use in events
  src/prefect/server/api/clients.py
  tests/server/api/test_clients.py
Labels: feature

#12530 remove `copy_model_fields` from a chunk of `actions` schemas
  src/prefect/client/schemas/actions.py
Labels: maintenance

#12536 finish removing `copy_model_fields` for client `actions` schemas
  src/prefect/client/schemas/actions.py
Labels: maintenance

#12319 Handle flow-runs without queues
  src/prefect/server/api/validation.py
  tests/server/api/test_infra_overrides.py
Labels: fix

#12545 add `pydantic_core` to client deps
  requirements-client.txt
Labels: maintenance

#12495 Move deployment, block, state, run policy, docker root validators to internal Pydantic validators module
  src/prefect/_internal/schemas/validators.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  src/prefect/deployments/runner.py
  src/prefect/deprecated/packaging/docker.py
  src/prefect/serializers.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/states.py
  tests/server/schemas/test_actions.py
Labels: maintenance

#12554 Making sure that we explicitly install pydantic v2 in CI where we intend to
  .github/workflows/python-tests.yaml
  requirements-client.txt
Labels: bug

#12553 update `httpcore` dep
  requirements-client.txt
Labels: maintenance

#12560 chore: Add GHA secret to npm update job
  .github/workflows/npm_update_latest_prefect.yaml
Labels: maintenance, fix

#12549 Introduces the server-side automations schema models
  setup.cfg
  src/prefect/events/actions.py
  src/prefect/events/schemas/automations.py
  src/prefect/server/events/actions.py
  src/prefect/server/events/schemas/automations.py
  tests/events/server/actions/test_doing_nothing.py
  tests/events/server/conftest.py
  tests/events/server/schemas/test_automations.py
Labels: feature

#12568 upper bound pin `typer`
  requirements.txt
Labels: maintenance

#12571 Deprecate `KubernetesCusterConfig` block
  src/prefect/blocks/kubernetes.py
  tests/blocks/test_kubernetes_block.py
Labels: deprecation

#12573 Remove social cards to avoid flakiness in doc builds
  mkdocs.insiders.yml
  mkdocs.yml
Labels: docs

#12548 Remove nested task constraint
  src/prefect/engine.py
  tests/test_tasks.py
Labels: enhancement

#12580 Remove outdated doc
  docs/concepts/tasks.md
Labels: docs

#12581 Adding the ORM classes and model modules for Automations and it's state tables
  src/prefect/concurrency/events.py
  src/prefect/events/related.py
  src/prefect/events/schemas/automations.py
  src/prefect/events/schemas/deployment_triggers.py
  src/prefect/events/schemas/events.py
  src/prefect/server/database/interface.py
  src/prefect/server/database/migrations/versions/postgresql/2024_04_03_112409_aeea5ee6f070_automations_models.py
  src/prefect/server/database/migrations/versions/sqlite/2024_04_03_111618_07ed05dfd4ec_automations_models.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/events/actions.py
  src/prefect/server/events/clients.py
  src/prefect/server/events/models/__init__.py
  src/prefect/server/events/models/automations.py
  src/prefect/server/events/models/composite_trigger_child_firing.py
  src/prefect/server/events/schemas/automations.py
  src/prefect/server/events/schemas/events.py
  src/prefect/server/events/triggers.py
  src/prefect/server/schemas/states.py
  src/prefect/workers/base.py
  tests/events/client/test_events_related_from_context.py
  tests/events/client/test_resource_schema.py
  tests/events/client/test_v1_triggers_deserialization.py
  tests/events/server/conftest.py
  tests/events/server/gateway/conftest.py
  tests/events/server/models/__init__.py
  tests/events/server/models/test_automations.py
  tests/events/server/models/test_composite_trigger_child_firing.py
  tests/events/server/test_clients.py
  tests/events/server/test_messaging.py
  tests/events/server/test_resource_schema.py
Labels: feature, migration

#12584 fix typo in faq
  docs/faq.md
Labels: docs

#12590 Update faq.md to remove broken link
  docs/faq.md
Labels: docs

#12593 Delete docs/api-ref/prefect/deployments/schedules.md
  docs/api-ref/prefect/deployments/schedules.md
Labels: docs

#12587 Release notes 2.16.9
  RELEASE-NOTES.md
Labels: maintenance

#12595 Minor doc fixes and updates
  docs/concepts/schedules.md
  docs/concepts/work-pools.md
  docs/tutorial/deployments.md
  docs/tutorial/work-pools.md
  docs/tutorial/workers.md
  mkdocs.yml
Labels: docs

#12582 Transition flow run directly from suspended to cancelled
  src/prefect/server/orchestration/core_policy.py
  tests/server/orchestration/test_core_policy.py
  tests/server/services/test_cancellation_cleanup.py
Labels: fix

#12597 Engine refactor part 1
  src/prefect/engine.py
  src/prefect/utilities/engine.py
  src/prefect/utilities/visualization.py
  tests/test_engine.py
  tests/test_tasks.py
Labels: maintenance

#12598 Add a few unattached API pages to nav
  docs/api-ref/prefect/cli/shell.md
  docs/api-ref/prefect/logging.md
  docs/cloud/cloud-quickstart.md
  mkdocs.yml
Labels: docs

#12600 add test for `TaskServer` + nested tasks
  tests/test_background_tasks.py
  tests/test_task_server.py
Labels: maintenance

#12599 Syncing up with a Prefect Cloud test fixture change
  tests/events/server/conftest.py
  tests/events/server/models/test_automations.py
Labels: experimental

#12602 start removing conditional imports
  src/prefect/_internal/pydantic/_base_model.py
  src/prefect/_internal/pydantic/_compat.py
  src/prefect/context.py
  src/prefect/exceptions.py
  src/prefect/manifests.py
  src/prefect/profiles.toml
  src/prefect/pydantic/__init__.py
  src/prefect/pydantic/main.py
  src/prefect/task_server.py
  src/prefect/utilities/dispatch.py
  src/prefect/utilities/pydantic.py
Labels: maintenance

#12576 Add experimental Pydantic V2 compatible field validator
  src/prefect/_internal/pydantic/__init__.py
  src/prefect/_internal/pydantic/_compat.py
  src/prefect/_internal/pydantic/utilities/field_validator.py
  tests/_internal/pydantic/test_field_validator.py
Labels: experimental

#12601 Giving the Prefect HTTP client an informative `User-Agent`
  src/prefect/client/base.py
  tests/client/test_base_client.py
Labels: enhancement

#12312 Include integrations and UI PRs in release notes by default
  scripts/generate-release-notes.py
Labels: maintenance

#12596 Variable set/get client methods
  docs/guides/variables.md
  src/prefect/client/orchestration.py
  src/prefect/variables.py
  tests/test_variables.py
Labels: enhancement, DONT MERGE

#12607 allow flows in standalone tasks
  src/prefect/engine.py
  tests/events/client/instrumentation/test_task_run_state_change_events.py
  tests/test_background_tasks.py
  tests/test_task_server.py
  tests/test_tasks.py
Labels: fix, experimental

#12606 Minor updates to cli-shell formatting
  docs/guides/cli-shell.md
Labels: docs

#12591 Adds Deployment Version to the Flow Run object
  src/prefect/client/schemas/objects.py
  src/prefect/client/schemas/responses.py
  src/prefect/server/api/deployments.py
  src/prefect/server/database/migrations/versions/postgresql/2024_04_04_094418_bd6efa529f03_add_deployment_version_to_flow_run.py
  src/prefect/server/database/migrations/versions/sqlite/2024_04_04_114538_8644a9595a08_add_deployment_version_to_flow_run.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/deployments.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/responses.py
  tests/fixtures/database.py
  tests/server/api/test_deployments.py
  tests/server/api/test_flow_runs.py
Labels: enhancement, migration

#12620 Adding the automations CRUD API and test suite
  requirements.txt
  src/prefect/server/api/__init__.py
  src/prefect/server/api/automations.py
  src/prefect/server/api/clients.py
  src/prefect/server/api/server.py
  src/prefect/server/api/templates.py
  src/prefect/server/events/filters.py
  src/prefect/server/events/models/automations.py
  src/prefect/server/utilities/user_templates.py
  tests/events/server/conftest.py
  tests/events/server/models/test_automations.py
  tests/events/server/test_automations_api.py
  tests/server/utilities/test_user_templates.py
Labels: experimental

#12632 Update concepts->blocks example using SecretStr with Pydantic V2
  docs/concepts/blocks.md
Labels: docs

#12634 Removes events client experimental settings
  src/prefect/events/worker.py
  src/prefect/settings.py
  tests/_internal/compatibility/test_experimental.py
  tests/events/client/test_events_worker.py
  tests/server/test_app.py
  tests/test_settings.py
Labels: maintenance

#12638 fix typo in deployment_version
  src/prefect/server/models/deployments.py
Labels: fix

#12628 Fix `run_deployment` docstring
  src/prefect/deployments/deployments.py
Labels: docs

#12637 Enable `EventsWorker` to emit events to Prefect servers
  src/prefect/events/clients.py
  src/prefect/events/utilities.py
  src/prefect/events/worker.py
  src/prefect/testing/fixtures.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_sync.py
  tests/events/client/conftest.py
  tests/events/client/test_cloud_events_client.py
  tests/events/client/test_cloud_events_subscriber.py
  tests/events/client/test_events_emit_event.py
  tests/events/client/test_events_worker.py
Labels: enhancement

#12650 Reactive and composite triggers
  requirements.txt
  src/prefect/server/api/server.py
  src/prefect/server/database/interface.py
  src/prefect/server/database/migrations/versions/postgresql/2024_04_09_125658_916718e8330f_automation_event_follower.py
  src/prefect/server/database/migrations/versions/postgresql/2024_04_09_132036_954db7517015_trigger_in_index.py
  src/prefect/server/database/migrations/versions/sqlite/2024_04_09_125712_cc510aec4689_automation_event_follower.py
  src/prefect/server/database/migrations/versions/sqlite/2024_04_09_131832_2b6c2b548f95_trigger_in_index.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/events/messaging.py
  src/prefect/server/events/models/automations.py
  src/prefect/server/events/services/event_logger.py
  src/prefect/server/events/services/triggers.py
  src/prefect/server/events/triggers.py
  src/prefect/settings.py
  tests/events/server/conftest.py
  tests/events/server/triggers/conftest.py
  tests/events/server/triggers/test_basics.py
  tests/events/server/triggers/test_composite_triggers.py
  tests/events/server/triggers/test_flow_run_slas.py
  tests/events/server/triggers/test_regressions.py
  tests/events/server/triggers/test_service.py
  tests/events/server/triggers/test_service_changes.py
Labels: migration, experimental

#12649 Fix imports for experimental Pydantic V2 field decorator
  src/prefect/_internal/pydantic/utilities/field_validator.py
  tests/_internal/pydantic/test_field_validator.py
Labels: experimental

#12635 Add experimental Pydantic V2 `model_validator`
  src/prefect/_internal/pydantic/__init__.py
  src/prefect/_internal/pydantic/_compat.py
  src/prefect/_internal/pydantic/utilities/model_validator.py
  src/prefect/pydantic/__init__.py
  src/prefect/pydantic/main.py
  tests/_internal/pydantic/test_model_validator.py
Labels: experimental

#12648 bump `jsonschema` lower bound
  requirements-client.txt
Labels: maintenance

#12661 fix soft wrap in `.deploy`
  src/prefect/flows.py
Labels: maintenance

#12524 Accept both job_variables and infra_overrides
  src/prefect/_internal/compatibility/deprecated.py
  src/prefect/agent.py
  src/prefect/cli/deploy.py
  src/prefect/cli/deployment.py
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  src/prefect/client/schemas/responses.py
  src/prefect/deployments/deployments.py
  src/prefect/deployments/runner.py
  src/prefect/server/api/validation.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/deployments.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/responses.py
  src/prefect/workers/base.py
  src/prefect/workers/block.py
  tests/_internal/compatibility/test_deprecated.py
  tests/agent/test_agent_run_cancellation.py
  tests/cli/deployment/test_deployment_build.py
  tests/cli/test_deploy.py
  tests/client/schemas/test_responses.py
  tests/client/test_prefect_client.py
  tests/runner/test_runner.py
  tests/server/api/test_deployments.py
  tests/server/api/test_infra_overrides.py
  tests/server/schemas/test_actions.py
  tests/server/schemas/test_responses.py
  tests/test_deployments.py
  tests/workers/test_block_worker.py
  tests/workers/test_process_worker.py
Labels: maintenance

#12639 use compat layer in `deployments/base.py`
  src/prefect/deployments/base.py
Labels: maintenance

#12651 Adds ORM models and migrations for events storage
  src/prefect/cli/server.py
  src/prefect/events/filters.py
  src/prefect/server/database/interface.py
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2024_04_10_194742_15768c2ec702_add_events_and_event_resources_tables.py
  src/prefect/server/database/migrations/versions/sqlite/2024_04_10_104304_824e9edafa60_adds_events_tables.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/events/filters.py
  src/prefect/server/events/schemas/events.py
  src/prefect/server/events/storage/database.py
  tests/events/storage/test_database.py
Labels: enhancement, migration

#12667 Update pull_request_template.md
  .github/pull_request_template.md
Labels: maintenance

#12664 Remove duplicate CLI output when reauthorizing with `prefect cloud login`
  src/prefect/cli/cloud/__init__.py
Labels: fix

#12660 Proactive triggers
  src/prefect/server/api/server.py
  src/prefect/server/events/services/actions.py
  src/prefect/server/events/services/triggers.py
  src/prefect/server/events/triggers.py
  src/prefect/settings.py
  tests/events/server/triggers/conftest.py
  tests/events/server/triggers/test_basics.py
  tests/events/server/triggers/test_flow_run_slas.py
  tests/events/server/triggers/test_regressions.py
  tests/events/server/triggers/test_service.py
Labels: experimental

#12490 Flow run job variables docs
  docs/concepts/work-pools.md
  docs/guides/deployment/overriding-job-variables.md
  docs/img/ui/automations-action-job-variable.png
  docs/img/ui/deployment-job-variables.png
Labels: docs, DONT MERGE

#12670 Adding more context to a recent migration
  src/prefect/server/database/migrations/MIGRATION-NOTES.md
  src/prefect/server/database/migrations/versions/postgresql/2024_04_09_132036_954db7517015_trigger_in_index.py
  src/prefect/server/database/migrations/versions/sqlite/2024_04_09_131832_2b6c2b548f95_trigger_in_index.py
Labels: migration, experimental

#12666 Show how to retrieve an artifact in Python code in the Artifact concept docs
  docs/concepts/artifacts.md
Labels: docs

#12662 Add `EventPersister` service to store received events
  scripts/events-coverage
  src/prefect/server/api/server.py
  src/prefect/server/events/schemas/events.py
  src/prefect/server/events/services/event_persister.py
  src/prefect/settings.py
  tests/conftest.py
  tests/events/server/conftest.py
  tests/fixtures/time.py
  tests/server/events/services/test_event_persister.py
Labels: enhancement, experimental

#12675 Do not use the mixin docstring for the schema
  src/prefect/_internal/compatibility/deprecated.py
  tests/_internal/compatibility/test_deprecated.py
Labels: maintenance

#12674 Release notes for 2.17.0
  RELEASE-NOTES.md
Labels: maintenance

#12687 2.17.1 release notes
  RELEASE-NOTES.md
Labels: maintenance

#12689 Update installation method for integration tests
  .github/workflows/integration-tests.yaml
Labels: maintenance

#12690 Fixing a flake with the SQLite version check test
  tests/server/utilities/test_database.py
Labels: testing

#12695 Update example to `prefect.yaml` in work-pools concepts page
  docs/concepts/work-pools.md
Labels: docs

#12693 Implements the `send-notification` action
  src/prefect/blocks/abstract.py
  src/prefect/blocks/notifications.py
  src/prefect/logging/__init__.py
  src/prefect/logging/loggers.py
  src/prefect/server/events/actions.py
  tests/events/server/actions/test_sending_notification.py
  tests/fixtures/database.py
  tests/test_logging.py
Labels: experimental

#12698 Fixing a test flake in flow run lateness
  tests/server/models/test_orm.py
Labels: testing

#12697 Making `TriggeredAction.firing` required
  src/prefect/server/events/schemas/automations.py
  tests/events/server/actions/test_jinja_templated_action.py
  tests/events/server/actions/test_running_deployment.py
  tests/events/server/actions/test_sending_notification.py
  tests/events/server/conftest.py
Labels: experimental

#12699 Actions service
  src/prefect/server/api/server.py
  src/prefect/server/events/actions.py
  src/prefect/server/events/services/actions.py
  tests/events/server/actions/test_actions_service.py
Labels: experimental

#12706 Remove `version` from `docker-compose.yml`, as it is now deprecated
  docker-compose.yml
Labels: testing

#12708 Update `runner/test_runner.py` to not leave `flows.py` on filesystem
  tests/runner/test_runner.py
Labels: maintenance

#12715 better flow validation error
  src/prefect/exceptions.py
  tests/test_exceptions.py
Labels: fix

#12717 Allow returning to account selection in `prefect cloud login` and `workspace set`
  src/prefect/cli/cloud/__init__.py
Labels: enhancement, component:cli

#12727 Fix import syntax in `variables.Variable` example
  docs/guides/variables.md
  src/prefect/variables.py
Labels: docs, fix

#12712 exclude job_variables when exclude=None
  src/prefect/_internal/compatibility/deprecated.py
  tests/_internal/compatibility/test_deprecated.py
Labels: bug

#12729 Fix typo in Quickstart
  docs/getting-started/quickstart.md
Labels: docs

#12728 Implements the `call-webhook` action and adds all Action client-side schemata
  src/prefect/events/actions.py
  src/prefect/server/events/actions.py
  src/prefect/server/utilities/http.py
  tests/events/server/actions/test_calling_webhook.py
Labels: experimental

#12730 Implements `change-flow-run-state`, `cancel-flow-run`, and `suspend-flow-run`
  src/prefect/server/api/clients.py
  src/prefect/server/events/actions.py
  src/prefect/server/utilities/http.py
  tests/events/server/actions/test_cancelling_flow_run.py
  tests/events/server/actions/test_changing_flow_run_state.py
  tests/events/server/actions/test_suspending_flow_run.py
Labels: experimental

#12696 Add functions for querying and counting events
  src/prefect/server/events/counting.py
  src/prefect/server/events/filters.py
  src/prefect/server/events/schemas/events.py
  src/prefect/server/events/storage/__init__.py
  src/prefect/server/events/storage/database.py
  src/prefect/server/utilities/database.py
  tests/events/server/test_events_counts.py
  tests/events/server/test_events_queries.py
  tests/server/events/services/test_event_persister.py
  tests/server/utilities/test_database.py
Labels: experimental

#12736 Add `/events/filter` and `/events/count-by` route trees
  src/prefect/server/api/events.py
  tests/server/api/test_events.py
Labels: experimental

#12701 Allow for creating automations via deployments when experimental events is on
  src/prefect/cli/deploy.py
  src/prefect/cli/deployment.py
  src/prefect/client/orchestration.py
  src/prefect/deployments/deployments.py
  src/prefect/deployments/runner.py
  tests/test_deployments.py
Labels: experimental

#12738 Implementing the `pause-automation` and `resume-automation` actions
  src/prefect/server/events/actions.py
  src/prefect/server/events/clients.py
  src/prefect/server/events/models/automations.py
  tests/events/server/actions/test_pausing_resuming_automation.py
Labels: experimental

#12731 Remove deprecated ability to run `prefect deploy` with `deployment.yaml` file
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: deprecation, breaking

#12743 Add `.serve`, `.deploy`, and composite trigger examples to deployment triggers docs
  docs/concepts/automations.md
Labels: docs

#12752 updating automations images
  docs/img/ui/automations-custom.png
  docs/img/ui/automations-trigger.png
  docs/img/ui/automations.png
Labels: docs

#12754 Adding an Automations CLI
  scripts/events-coverage
  src/prefect/cli/__init__.py
  src/prefect/client/orchestration.py
  src/prefect/events/__init__.py
  src/prefect/events/actions.py
  src/prefect/events/cli/__init__.py
  src/prefect/events/cli/automations.py
  src/prefect/events/schemas/automations.py
  src/prefect/events/schemas/deployment_triggers.py
  tests/client/test_prefect_client.py
  tests/events/client/cli/__init__.py
  tests/events/client/cli/test_automations.py
  tests/events/client/test_deployment_trigger_schema.py
  tests/events/server/storage/test_database.py
  tests/events/server/storage/test_event_persister.py
Labels: experimental

#12755 Renaming `prefect-cloud.*` events and labels to `prefect.*`
  src/prefect/server/events/actions.py
  src/prefect/server/events/jinja_filters.py
  tests/events/server/actions/test_actions_service.py
  tests/events/server/actions/test_calling_webhook.py
  tests/events/server/actions/test_cancelling_flow_run.py
  tests/events/server/actions/test_changing_flow_run_state.py
  tests/events/server/actions/test_pausing_resuming_automation.py
  tests/events/server/actions/test_pausing_resuming_deployment.py
  tests/events/server/actions/test_pausing_resuming_work_pool.py
  tests/events/server/actions/test_pausing_resuming_work_queue.py
  tests/events/server/actions/test_running_deployment.py
  tests/events/server/actions/test_sending_notification.py
  tests/events/server/actions/test_suspending_flow_run.py
Labels: experimental

#12739 Remove `add_type_dispatch` from actively used classes
  src/prefect/_internal/pydantic/utilities/model_dump.py
  src/prefect/_internal/pydantic/utilities/model_validate.py
  src/prefect/deprecated/packaging/serializers.py
  src/prefect/results.py
  src/prefect/serializers.py
  src/prefect/utilities/dispatch.py
  src/prefect/utilities/pydantic.py
  tests/test_serializers.py
Labels: maintenance

#12737 Remove deprecated `projects` from `prefect deploy`
  docs/api-ref/prefect/cli/project.md
  src/prefect/cli/__init__.py
  src/prefect/cli/deploy.py
  src/prefect/cli/project.py
  src/prefect/deployments/base.py
  src/prefect/deployments/steps/core.py
  tests/cli/test_project.py
Labels: deprecation, breaking

#12740 Remove deprecated `--ci` option from `prefect deploy`
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: deprecation, breaking

#12765 Simplify-tutorial
  docs/tutorial/index.md
Labels: docs

#12762 Adds ability to emit events to an ephemeral Prefect server
  src/prefect/events/clients.py
  src/prefect/events/utilities.py
  src/prefect/events/worker.py
  src/prefect/server/api/dependencies.py
  src/prefect/server/api/events.py
  tests/events/client/test_cloud_events_client.py
  tests/events/client/test_events_worker.py
  tests/events/server/gateway/test_gateway_in.py
  tests/events/server/gateway/test_gateway_out.py
  tests/server/api/test_events.py
Labels: experimental

#12771 Remove disclaimer for Python 3.12 experimental support
  docs/getting-started/installation.md
Labels: docs

#12768 Updates `versioneer` to 0.29
  setup.cfg
  src/prefect/_version.py
  versioneer.py
Labels: maintenance

#12764 Add default posture to `EventTrigger` schema
  src/prefect/events/schemas/automations.py
  tests/cli/test_deploy.py
  tests/events/client/test_deployment_trigger_schema.py
Labels: enhancement

#12777 Disable `events` and `automations` API routes when experimental events setting is not enabled
  src/prefect/server/api/automations.py
  src/prefect/server/api/events.py
  tests/events/server/actions/test_pausing_resuming_automation.py
  tests/events/server/gateway/test_gateway_in.py
  tests/events/server/gateway/test_gateway_out.py
  tests/events/server/test_automations_api.py
  tests/events/server/test_events_api.py
  tests/events/server/test_stream.py
Labels: experimental

#12782 Clarify deployment trigger examples
  docs/concepts/automations.md
Labels: docs

#12778 Adding compatibility tests for client and server triggers and actions
  src/prefect/events/__init__.py
  src/prefect/events/schemas/deployment_triggers.py
  tests/events/client/test_automations_server_compatibility.py
Labels: experimental

#12781 Remove Prefect-managed integration libraries to be archived from the integrations catalog
  docs/img/collections/airbyte.png
  docs/img/collections/census.png
  docs/img/collections/firebolt.png
  docs/img/collections/ge.png
  docs/img/collections/hex.png
  docs/img/collections/hightouch.png
  docs/img/collections/jupyter.png
  docs/img/collections/monday.png
  docs/img/collections/monte-carlo.png
  docs/img/collections/openai.png
  docs/img/collections/openmetadata.png
  docs/img/collections/sqlalchemy.png
  docs/img/collections/twitter.png
  docs/integrations/catalog/prefect-airbyte.yaml
  docs/integrations/catalog/prefect-census.yaml
  docs/integrations/catalog/prefect-firebolt.yaml
  docs/integrations/catalog/prefect-great-expectations.yaml
  docs/integrations/catalog/prefect-hex.yaml
  docs/integrations/catalog/prefect-hightouch.yaml
  docs/integrations/catalog/prefect-jupyter.yaml
  docs/integrations/catalog/prefect-monday.yaml
  docs/integrations/catalog/prefect-monte-carlo.yaml
  docs/integrations/catalog/prefect-openai.yaml
  docs/integrations/catalog/prefect-openmetadata.yaml
  docs/integrations/catalog/prefect-sqlalchemy.yaml
  docs/integrations/catalog/prefect-twitter.yaml
Labels: docs

#12784 Disable the automations integration flows for Prefect Cloud
  flows/automation-assessments.py
Labels: experimental

#12786 rm stray print
  src/prefect/utilities/dispatch.py
Labels: maintenance

#12783 Improve installation instructions
  docs/contributing/overview.md
  docs/getting-started/installation.md
Labels: docs

#12787 Migrate `prefect-azure` to `prefect` repository
  .github/workflows/integration-pacakge-tests.yaml
  .github/workflows/python-tests.yaml
  .gitignore
  scripts/generate_integration_package_tests_matrix.py
  src/integrations/prefect-azure/README.md
  src/integrations/prefect-azure/prefect_azure/__init__.py
  src/integrations/prefect-azure/prefect_azure/blob_storage.py
  src/integrations/prefect-azure/prefect_azure/container_instance.py
  src/integrations/prefect-azure/prefect_azure/cosmos_db.py
  src/integrations/prefect-azure/prefect_azure/credentials.py
  src/integrations/prefect-azure/prefect_azure/deployments/__init__.py
  src/integrations/prefect-azure/prefect_azure/deployments/steps.py
  src/integrations/prefect-azure/prefect_azure/ml_datastore.py
  src/integrations/prefect-azure/prefect_azure/py.typed
  src/integrations/prefect-azure/prefect_azure/workers/__init__.py
  src/integrations/prefect-azure/prefect_azure/workers/container_instance.py
  src/integrations/prefect-azure/pyproject.toml
  src/integrations/prefect-azure/tests/conftest.py
  src/integrations/prefect-azure/tests/deployments/test_steps.py
  src/integrations/prefect-azure/tests/test_aci_infrastructure.py
  src/integrations/prefect-azure/tests/test_aci_worker.py
  src/integrations/prefect-azure/tests/test_blob_storage.py
  src/integrations/prefect-azure/tests/test_block_standards.py
  src/integrations/prefect-azure/tests/test_cosmos_db.py
  src/integrations/prefect-azure/tests/test_credentials.py
  src/integrations/prefect-azure/tests/test_ml_datastore.py
Labels: integrations

#12789 Add support for using the "normal" Trigger classes for flow.serve and .deploy
  src/prefect/cli/deploy.py
  src/prefect/deployments/deployments.py
  src/prefect/deployments/runner.py
  src/prefect/events/schemas/automations.py
  src/prefect/events/schemas/deployment_triggers.py
  src/prefect/flows.py
  src/prefect/runner/runner.py
  tests/events/client/test_deployment_trigger_schema.py
  tests/test_deployments.py
Labels: DONT MERGE, experimental

#12793 Create `client_injector` for better type hints
  src/prefect/client/utilities.py
Labels: maintenance

#12795 Preparing to introduce `mypy` checking, starting with client-side events
  requirements-dev.txt
  setup.cfg
  src/prefect/_internal/schemas/fields.py
  src/prefect/blocks/system.py
  src/prefect/events/actions.py
  src/prefect/events/clients.py
  src/prefect/events/filters.py
  src/prefect/events/instrument.py
  src/prefect/events/related.py
  src/prefect/events/utilities.py
  src/prefect/events/worker.py
  src/prefect/server/events/filters.py
  src/prefect/server/utilities/schemas/fields.py
  tests/server/utilities/test_schemas.py
  tests/utilities/test_templating.py
Labels: enhancement

#12798 Quickstart and other improvements
  docs/cloud/index.md
  docs/cloud/users/api-keys.md
  docs/cloud/users/service-accounts.md
  docs/cloud/users/sso.md
  docs/getting-started/quickstart.md
  docs/guides/deployment/push-work-pools.md
  docs/index.md
  docs/tutorial/index.md
Labels: docs

#12797 Get `input` module passing mypy checks
  src/prefect/input/actions.py
  src/prefect/input/run_input.py
Labels: maintenance

#12794 Migrate `prefect-azure` docs to Integrations section of the Prefect docs
  docs/integrations/catalog/prefect-azure.yaml
  docs/integrations/prefect-azure/blob_storage.md
  docs/integrations/prefect-azure/container_instance.md
  docs/integrations/prefect-azure/container_instance_worker.md
  docs/integrations/prefect-azure/cosmos_db.md
  docs/integrations/prefect-azure/credentials.md
  docs/integrations/prefect-azure/deployments/steps.md
  docs/integrations/prefect-azure/index.md
  docs/integrations/prefect-azure/ml_datastore.md
  mkdocs.yml
  netlify.toml
  src/integrations/prefect-azure/prefect_azure/container_instance.py
  src/integrations/prefect-azure/pyproject.toml
Labels: docs

#12799 Create integration tags on published release
  .github/workflows/create-tags-for-changed-integrations.yaml
  scripts/create_tags_for_changed_collections.py
Labels: maintenance

#12803 Ready `concurrency` module for mypy
  client/client_flow.py
  setup.cfg
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/common.py
  src/prefect/concurrency/events.py
  src/prefect/concurrency/services.py
  src/prefect/concurrency/sync.py
Labels: maintenance

#12818 rm references to deleted concurrency module
  docs/api-ref/prefect/concurrency/common.md
  mkdocs.yml
Labels: maintenance, docs

#12819 Update storage guide credentials blocks
  docs/guides/deployment/storage-guide.md
Labels: docs

#12810 Fix improper context access for nested async task outside of flow
  src/prefect/engine.py
  tests/test_tasks.py
Labels: fix

#12802 Fix release notes integrations section generation
  scripts/generate-release-notes.py
Labels: maintenance

#12823 remove bad/old import recommendations
  docs/concepts/schedules.md
  docs/guides/using-the-client.md
Labels: docs

#12822 Update worker metadata view
  .github/workflows/validate_worker_metadata.yaml
  scripts/validate_collection_view_content.py
  src/prefect/server/api/collections_data/views/aggregate-worker-metadata.json
Labels: maintenance

#12824 Remove link to removed API page
  mkdocs.yml
Labels: docs

#12806 Add release workflow for integrations packages
  .github/workflows/integration-package-release.yaml
Labels: maintenance

#12829 Fixes error in working directory for integration package release workflow steps
  .github/workflows/integration-package-release.yaml
Labels: maintenance

#12832 Fix output passing between jobs in integration package release workflow
  .github/workflows/integration-package-release.yaml
Labels: maintenance

#12833 Fix using default interval schedule in `prefect deploy`
  src/prefect/cli/_prompts.py
  tests/cli/test_deploy.py
Labels: fix

#12808 Adding an account-level event subscriber
  src/prefect/events/clients.py
  tests/events/client/test_events_subscriber.py
Labels: experimental

#12839 Migrate `prefect-slack` to core
  .github/workflows/integration-tests.yaml
  docs/integrations/catalog/prefect-slack.yaml
  docs/integrations/prefect-slack/credentials.md
  docs/integrations/prefect-slack/index.md
  docs/integrations/prefect-slack/messages.md
  mkdocs.yml
  src/integrations/prefect-slack/README.md
  src/integrations/prefect-slack/prefect_slack/__init__.py
  src/integrations/prefect-slack/prefect_slack/credentials.py
  src/integrations/prefect-slack/prefect_slack/messages.py
  src/integrations/prefect-slack/pyproject.toml
  src/integrations/prefect-slack/tests/conftest.py
  src/integrations/prefect-slack/tests/test_credentials.py
  src/integrations/prefect-slack/tests/test_messages.py
  src/integrations/prefect-slack/tests/test_version.py
Labels: integrations

#12825 Flow run state change events
  src/prefect/client/orchestration.py
  src/prefect/server/api/deployments.py
  src/prefect/server/models/deployments.py
  src/prefect/server/models/events.py
  src/prefect/server/models/work_queues.py
  src/prefect/server/orchestration/core_policy.py
  src/prefect/server/orchestration/instrumentation_policies.py
  src/prefect/server/services/late_runs.py
  src/prefect/settings.py
  tests/fixtures/events.py
  tests/server/orchestration/test_flow_run_instrumentation_policies.py
  tests/server/services/test_late_runs.py
Labels: experimental

#12845 Migrate `prefect-email` to core
  docs/integrations/catalog/prefect-email.yaml
  docs/integrations/prefect-email/credentials.md
  docs/integrations/prefect-email/index.md
  docs/integrations/prefect-email/message.md
  mkdocs.yml
  src/integrations/prefect-azure/tests/test_version.py
  src/integrations/prefect-email/README.md
  src/integrations/prefect-email/prefect_email/__init__.py
  src/integrations/prefect-email/prefect_email/credentials.py
  src/integrations/prefect-email/prefect_email/message.py
  src/integrations/prefect-email/pyproject.toml
  src/integrations/prefect-email/tests/attachment.txt
  src/integrations/prefect-email/tests/conftest.py
  src/integrations/prefect-email/tests/test_block_standards.py
  src/integrations/prefect-email/tests/test_credentials.py
  src/integrations/prefect-email/tests/test_message.py
  src/integrations/prefect-email/tests/test_version.py
Labels: integrations

#12847 Add serve docs script
  Makefile
  scripts/serve_docs
Labels: maintenance, docs, integrations

#12854 Update integration release workflow to point to real PyPI
  .github/workflows/integration-package-release.yaml
Labels: maintenance

#12860 Update integrations release workflow to use trusted PyPI publisher
  .github/workflows/integration-package-release.yaml
Labels: maintenance

#12850 Add automation name filter, ability to read automation by name
  src/prefect/client/orchestration.py
  src/prefect/client/schemas/sorting.py
  src/prefect/events/filters.py
  src/prefect/server/api/automations.py
  src/prefect/server/events/filters.py
  src/prefect/server/events/models/automations.py
  tests/client/test_prefect_client.py
  tests/events/server/models/test_automations.py
  tests/events/server/test_automations_api.py
Labels: enhancement

#12874 update worker metadata view
  src/prefect/server/api/collections_data/views/aggregate-worker-metadata.json
Labels: maintenance

#12861 Migrate `prefect-gitlab` to core
  docs/integrations/catalog/prefect-gitlab.yaml
  docs/integrations/prefect-gitlab/credentials.md
  docs/integrations/prefect-gitlab/index.md
  docs/integrations/prefect-gitlab/repositories.md
  mkdocs.yml
  src/integrations/prefect-gitlab/README.md
  src/integrations/prefect-gitlab/prefect_gitlab/__init__.py
  src/integrations/prefect-gitlab/prefect_gitlab/credentials.py
  src/integrations/prefect-gitlab/prefect_gitlab/repositories.py
  src/integrations/prefect-gitlab/pyproject.toml
  src/integrations/prefect-gitlab/tests/conftest.py
  src/integrations/prefect-gitlab/tests/test_credentials.py
  src/integrations/prefect-gitlab/tests/test_repositories.py
  src/integrations/prefect-gitlab/tests/test_version.py
Labels: integrations

#12856 [experimental] New Engine
  src/prefect/client/orchestration.py
  src/prefect/flows.py
  src/prefect/new_flow_engine.py
  src/prefect/new_task_engine.py
  src/prefect/results.py
  src/prefect/server/schemas/states.py
  src/prefect/settings.py
  src/prefect/states.py
  src/prefect/tasks.py
  src/prefect/utilities/asyncutils.py
  src/prefect/utilities/engine.py
  tests/client/test_prefect_client.py
  tests/fixtures/client.py
  tests/test_new_flow_engine.py
  tests/test_new_task_engine.py
Labels: experimental

#12880 update handling where definitions falsy
  src/prefect/utilities/schema_tools/validation.py
Labels: fix

#12881 Migrate `prefect-kubernetes` to core `prefect` repository
  docs/integrations/catalog/prefect-kubernetes.yaml
  docs/integrations/prefect-kubernetes/credentials.md
  docs/integrations/prefect-kubernetes/custom_objects.md
  docs/integrations/prefect-kubernetes/deployments.md
  docs/integrations/prefect-kubernetes/exceptions.md
  docs/integrations/prefect-kubernetes/flows.md
  docs/integrations/prefect-kubernetes/index.md
  docs/integrations/prefect-kubernetes/jobs.md
  docs/integrations/prefect-kubernetes/pods.md
  docs/integrations/prefect-kubernetes/services.md
  docs/integrations/prefect-kubernetes/utilities.md
  docs/integrations/prefect-kubernetes/worker.md
  mkdocs.yml
  src/integrations/prefect-kubernetes/README.md
  src/integrations/prefect-kubernetes/prefect_kubernetes/__init__.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/credentials.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/custom_objects.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/deployments.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/events.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/exceptions.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/flows.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/jobs.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/pods.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/services.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/utilities.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/pyproject.toml
  src/integrations/prefect-kubernetes/tests/conftest.py
  src/integrations/prefect-kubernetes/tests/kube_config.yaml
  src/integrations/prefect-kubernetes/tests/sample_k8s_resources/multiple_resource_defintion.yaml
  src/integrations/prefect-kubernetes/tests/sample_k8s_resources/sample_complex_deployment.yaml
  src/integrations/prefect-kubernetes/tests/sample_k8s_resources/sample_deployment.yaml
  src/integrations/prefect-kubernetes/tests/sample_k8s_resources/sample_job.yaml
  src/integrations/prefect-kubernetes/tests/sample_k8s_resources/sample_pod.yaml
  src/integrations/prefect-kubernetes/tests/sample_k8s_resources/sample_service.yaml
  src/integrations/prefect-kubernetes/tests/test_block_standards.py
  src/integrations/prefect-kubernetes/tests/test_credentials.py
  src/integrations/prefect-kubernetes/tests/test_custom_objects.py
  src/integrations/prefect-kubernetes/tests/test_deployments.py
  src/integrations/prefect-kubernetes/tests/test_events_replicator.py
  src/integrations/prefect-kubernetes/tests/test_flows.py
  src/integrations/prefect-kubernetes/tests/test_jobs.py
  src/integrations/prefect-kubernetes/tests/test_pods.py
  src/integrations/prefect-kubernetes/tests/test_services.py
  src/integrations/prefect-kubernetes/tests/test_utilities.py
  src/integrations/prefect-kubernetes/tests/test_version.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Labels: integrations

#12872 Migrate `prefect-dask` to core `prefect` repository
  .codespellrc
  docs/integrations/catalog/prefect-dask.yaml
  docs/integrations/prefect-dask/index.md
  docs/integrations/prefect-dask/task_runners.md
  docs/integrations/prefect-dask/usage_guide.md
  docs/integrations/prefect-dask/utils.md
  mkdocs.yml
  src/integrations/prefect-dask/README.md
  src/integrations/prefect-dask/prefect_dask/__init__.py
  src/integrations/prefect-dask/prefect_dask/py.typed
  src/integrations/prefect-dask/prefect_dask/task_runners.py
  src/integrations/prefect-dask/prefect_dask/utils.py
  src/integrations/prefect-dask/pyproject.toml
  src/integrations/prefect-dask/tests/__init__.py
  src/integrations/prefect-dask/tests/conftest.py
  src/integrations/prefect-dask/tests/test_block_standards.py
  src/integrations/prefect-dask/tests/test_task_runners.py
  src/integrations/prefect-dask/tests/test_utils.py
  src/integrations/prefect-dask/tests/test_version.py
Labels: integrations

#12868 Migrate `prefect-snowflake` to core `prefect` repository
  docs/integrations/catalog/prefect-snowflake.yaml
  docs/integrations/prefect-github/gen_ref_pages.py
  docs/integrations/prefect-github/index.md
  docs/integrations/prefect-snowflake/credentials.md
  docs/integrations/prefect-snowflake/database.md
  docs/integrations/prefect-snowflake/index.md
  mkdocs.yml
  src/integrations/prefect-snowflake/README.md
  src/integrations/prefect-snowflake/prefect_snowflake/__init__.py
  src/integrations/prefect-snowflake/prefect_snowflake/credentials.py
  src/integrations/prefect-snowflake/prefect_snowflake/database.py
  src/integrations/prefect-snowflake/pyproject.toml
  src/integrations/prefect-snowflake/tests/conftest.py
  src/integrations/prefect-snowflake/tests/test_block_standards.py
  src/integrations/prefect-snowflake/tests/test_credentials.py
  src/integrations/prefect-snowflake/tests/test_data/test_cert.p8
  src/integrations/prefect-snowflake/tests/test_data/test_cert_malformed_format.p8
  src/integrations/prefect-snowflake/tests/test_data/test_cert_no_pass.p8
  src/integrations/prefect-snowflake/tests/test_database.py
  src/integrations/prefect-snowflake/tests/test_version.py
Labels: integrations

#12853 Deployment status persistence and events
  .github/workflows/integration-tests.yaml
  src/prefect/server/api/deployments.py
  src/prefect/server/api/server.py
  src/prefect/server/api/work_queues.py
  src/prefect/server/api/workers.py
  src/prefect/server/database/alembic_commands.py
  src/prefect/server/database/migrations/versions/postgresql/2024_04_23_094748_7ae9e431e67a_work_status_fields.py
  src/prefect/server/database/migrations/versions/sqlite/2024_04_23_094701_75c8f17b8b51_work_status_fields.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/events/actions.py
  src/prefect/server/events/models/composite_trigger_child_firing.py
  src/prefect/server/events/storage/database.py
  src/prefect/server/events/triggers.py
  src/prefect/server/models/block_documents.py
  src/prefect/server/models/block_types.py
  src/prefect/server/models/deployments.py
  src/prefect/server/models/events.py
  src/prefect/server/models/flow_runs.py
  src/prefect/server/models/flows.py
  src/prefect/server/models/variables.py
  src/prefect/server/models/work_queues.py
  src/prefect/server/models/workers.py
  src/prefect/server/schemas/responses.py
  src/prefect/server/schemas/statuses.py
  src/prefect/server/services/__init__.py
  src/prefect/server/services/foreman.py
  src/prefect/settings.py
  tests/agent/test_agent_run_cancellation.py
  tests/agent/test_agent_run_submission.py
  tests/cli/test_deploy.py
  tests/client/test_prefect_client.py
  tests/conftest.py
  tests/events/client/cli/test_automations.py
  tests/events/client/test_events_client.py
  tests/events/client/test_events_emit_event.py
  tests/events/client/test_events_worker.py
  tests/events/server/actions/test_pausing_resuming_work_pool.py
  tests/events/server/gateway/test_gateway_in.py
  tests/events/server/gateway/test_gateway_out.py
  tests/events/server/storage/test_event_persister.py
  tests/events/server/test_events_api.py
  tests/fixtures/database.py
  tests/fixtures/events.py
  tests/server/api/test_clients.py
  tests/server/api/test_deployments.py
  tests/server/models/test_deployments.py
  tests/server/orchestration/test_flow_run_instrumentation_policies.py
  tests/server/services/test_foreman.py
  tests/server/services/test_late_runs.py
  tests/test_deployments.py
Labels: migration, experimental

#12887 Remove `limit` from `read_automations_by_name` to allow reading multiple automations with same name
  src/prefect/client/orchestration.py
  tests/client/test_prefect_client.py
  tests/events/server/models/test_automations.py
Labels: enhancement

#12846 add ACI worker guide
  docs/guides/deployment/serverless-workers.md
  docs/img/guides/aci-worker-acridentity.png
  docs/img/guides/aci-worker-identities.png
  docs/img/guides/aci-worker-subscription.png
  docs/integrations/prefect-azure/aci_worker.md
  mkdocs.yml
Labels: docs

#12867 Allow `prefect cloud login` to override current workspace
  src/prefect/cli/cloud/__init__.py
  tests/cli/test_cloud.py
Labels: fix

#12888 Migrate `prefect-aws` to core
  docs/integrations/catalog/prefect-aws.yaml
  docs/integrations/prefect-aws/batch.md
  docs/integrations/prefect-aws/client_waiter.md
  docs/integrations/prefect-aws/credentials.md
  docs/integrations/prefect-aws/deployments/steps.md
  docs/integrations/prefect-aws/ecs.md
  docs/integrations/prefect-aws/ecs_guide.md
  docs/integrations/prefect-aws/ecs_worker.md
  docs/integrations/prefect-aws/glue_job.md
  docs/integrations/prefect-aws/img/ECSCluster_UI.png
  docs/integrations/prefect-aws/img/LaunchType_UI.png
  docs/integrations/prefect-aws/img/VPC_UI.png
  docs/integrations/prefect-aws/img/Workpool_UI.png
  docs/integrations/prefect-aws/img/favicon.ico
  docs/integrations/prefect-aws/img/prefect-logo-mark.png
  docs/integrations/prefect-aws/index.md
  docs/integrations/prefect-aws/lambda_function.md
  docs/integrations/prefect-aws/s3.md
  docs/integrations/prefect-aws/secrets_manager.md
  mkdocs.yml
  scripts/serve_docs
  src/integrations/prefect-aws/README.md
  src/integrations/prefect-aws/prefect_aws/__init__.py
  src/integrations/prefect-aws/prefect_aws/batch.py
  src/integrations/prefect-aws/prefect_aws/client_parameters.py
  src/integrations/prefect-aws/prefect_aws/client_waiter.py
  src/integrations/prefect-aws/prefect_aws/credentials.py
  src/integrations/prefect-aws/prefect_aws/deployments/__init__.py
  src/integrations/prefect-aws/prefect_aws/deployments/steps.py
  src/integrations/prefect-aws/prefect_aws/ecs.py
  src/integrations/prefect-aws/prefect_aws/glue_job.py
  src/integrations/prefect-aws/prefect_aws/lambda_function.py
  src/integrations/prefect-aws/prefect_aws/s3.py
  src/integrations/prefect-aws/prefect_aws/secrets_manager.py
  src/integrations/prefect-aws/prefect_aws/utilities.py
  src/integrations/prefect-aws/prefect_aws/workers/__init__.py
  src/integrations/prefect-aws/prefect_aws/workers/ecs_worker.py
  src/integrations/prefect-aws/pyproject.toml
  src/integrations/prefect-aws/tests/__init__.py
  src/integrations/prefect-aws/tests/conftest.py
  src/integrations/prefect-aws/tests/deployments/test_steps.py
  src/integrations/prefect-aws/tests/mock_aws_credentials
  src/integrations/prefect-aws/tests/test_batch.py
  src/integrations/prefect-aws/tests/test_block_standards.py
  src/integrations/prefect-aws/tests/test_client_parameters.py
  src/integrations/prefect-aws/tests/test_client_waiter.py
  src/integrations/prefect-aws/tests/test_credentials.py
  src/integrations/prefect-aws/tests/test_ecs.py
  src/integrations/prefect-aws/tests/test_glue_job.py
  src/integrations/prefect-aws/tests/test_lambda_function.py
  src/integrations/prefect-aws/tests/test_s3.py
  src/integrations/prefect-aws/tests/test_secrets_manager.py
  src/integrations/prefect-aws/tests/test_utilities.py
  src/integrations/prefect-aws/tests/test_version.py
  src/integrations/prefect-aws/tests/workers/test_ecs_worker.py
Labels: integrations

#12894 Remove extra quotes in `prefect deployment run --watch`
  src/prefect/cli/deployment.py
Labels: fix

#12898 Migrate `prefect-sqlalchemy` to core `prefect` repository
  docs/img/collections/sqlalchemy.png
  docs/integrations/catalog/prefect-sqlalchemy.yaml
  docs/integrations/prefect-sqlalchemy/credentials.md
  docs/integrations/prefect-sqlalchemy/database.md
  docs/integrations/prefect-sqlalchemy/index.md
  mkdocs.yml
  src/integrations/prefect-sqlalchemy/README.md
  src/integrations/prefect-sqlalchemy/prefect_sqlalchemy/__init__.py
  src/integrations/prefect-sqlalchemy/prefect_sqlalchemy/credentials.py
  src/integrations/prefect-sqlalchemy/prefect_sqlalchemy/database.py
  src/integrations/prefect-sqlalchemy/pyproject.toml
  src/integrations/prefect-sqlalchemy/tests/conftest.py
  src/integrations/prefect-sqlalchemy/tests/test_block_standards.py
  src/integrations/prefect-sqlalchemy/tests/test_credentials.py
  src/integrations/prefect-sqlalchemy/tests/test_database.py
  src/integrations/prefect-sqlalchemy/tests/test_version.py
Labels: integrations

#12899 Release notes for 2.18.1
  RELEASE-NOTES.md
Labels: maintenance

#12903 Update Snowflake Connector example in UI
  src/integrations/prefect-snowflake/prefect_snowflake/database.py
Labels: fix
