Repository PrefectHQ/prefect, pull requests merged in 2024-10, with the labels that each got.

#15547 Fix bug in nightly release workflow
  .github/workflows/nightly-release.yaml
Labels: development

#15548 Fix dev nightly release errors
  .github/workflows/markdown-tests.yaml
  .github/workflows/nightly-release.yaml
  requirements-markdown-tests.txt
  setup.py
Labels: development

#15522 override `_coerce_env` for k8s worker
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
  src/prefect/workers/base.py
Labels: bug, integrations, 3.x

#15525 Avoid crashing flows when Kubernetes job watch exits but the container is still running
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/pyproject.toml
  src/integrations/prefect-kubernetes/tests/test_worker.py
Labels: fix, 2.x

#15544 Updates Prefect 1 Migration Guide
  docs/guides/migration-guide.md
Labels: docs, 2.x

#15555 Minor changes to Prefect 1.0 migration guide
  docs/guides/migration-guide.md
Labels: 2.x

#15552 Avoid shutting down Ray driver when running on a Ray worker
  src/integrations/prefect-ray/prefect_ray/task_runners.py
  src/integrations/prefect-ray/tests/test_task_runners.py
Labels: bug

#15553 Make database parameter optional in ConnectionComponents #15511
  src/integrations/prefect-sqlalchemy/prefect_sqlalchemy/credentials.py
Labels: bug, integrations

#15550 ensure list can be used with `env` in `KubernetesWorkerJobConfiguration`
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Labels: integrations, 2.x

#15412 update settings for `pydantic` 2
  docs/3.0/api-ref/rest-api/server/schema.json
  src/prefect/_internal/compatibility/experimental.py
  src/prefect/cli/__init__.py
  src/prefect/cli/block.py
  src/prefect/cli/cloud/__init__.py
  src/prefect/cli/config.py
  src/prefect/client/orchestration.py
  src/prefect/context.py
  src/prefect/exceptions.py
  src/prefect/flow_engine.py
  src/prefect/logging/configuration.py
  src/prefect/logging/handlers.py
  src/prefect/server/api/admin.py
  src/prefect/server/api/server.py
  src/prefect/settings.py
  src/prefect/testing/fixtures.py
  src/prefect/types/__init__.py
  src/prefect/utilities/pydantic.py
  tests/_internal/compatibility/test_experimental.py
  tests/_internal/concurrency/test_services.py
  tests/blocks/test_core.py
  tests/cli/cloud/test_cloud.py
  tests/cli/test_block.py
  tests/cli/test_config.py
  tests/cli/test_dashboard.py
  tests/client/test_base_client.py
  tests/conftest.py
  tests/custom_types/test_self_validating_types.py
  tests/events/server/actions/test_jinja_templated_action.py
  tests/server/api/test_admin.py
  tests/server/api/test_server.py
  tests/server/test_app.py
  tests/test_context.py
  tests/test_flow_engine.py
  tests/test_logging.py
  tests/test_settings.py
  tests/testing/test_utilites.py
Labels: enhancement, development, docs

#15563 Fix check to prerelease tag to allow nightly builds to publish Docker images
  .github/workflows/docker-images.yaml
Labels: development

#15568 Update format for nightly dev release names
  .github/workflows/nightly-release.yaml
Labels: development

#15562 Fix client release action for 2.x
  .github/workflows/prefect-client-publish.yaml
  .github/workflows/prefect-client.yaml
Labels: development, 2.x

#15383 Add a note that deployments delegate ACLs to work pools
  docs/3.0/manage/cloud/manage-users/object-access-control-lists.mdx
Labels: docs, DONT MERGE

#15578 helpful message on 404 with deployment by name
  .codespellrc
  src/prefect/client/orchestration.py
  src/prefect/exceptions.py
  src/prefect/utilities/text.py
  tests/client/test_prefect_client.py
  tests/utilities/test_text.py
Labels: enhancement

#15583 Changed `TaskSource` key computation to handle `OSError("source not available")`
  src/prefect/cache_policies.py
  tests/test_cache_policies.py
Labels: bug

#15565 Allow specifying settings overrides in a `.env`
  .github/workflows/benchmarks.yaml
  .github/workflows/codspeed-benchmarks.yaml
  docs/3.0/api-ref/rest-api/server/schema.json
  setup.cfg
  src/prefect/context.py
  src/prefect/settings.py
  tests/conftest.py
  tests/results/test_result_fetch.py
  tests/server/api/test_server.py
  tests/test_context.py
  tests/test_settings.py
Labels: enhancement, development, docs

#15581 Update global-concurrency-limits.mdx - Remove `await` for task submissions
  docs/3.0/develop/global-concurrency-limits.mdx
Labels: docs

#15596 fail correctly if `lookup_type` throws a `KeyError` in `BaseResult.__new__`
  src/prefect/results.py
  tests/results/test_base_result.py
Labels: fix

#15574 update `AwsClientParameters` validation for `verify`
  src/integrations/prefect-aws/prefect_aws/client_parameters.py
  src/integrations/prefect-aws/tests/test_client_parameters.py
Labels: bug, integrations, fix

#15519 Flow code storage docs improvements
  docs/3.0/deploy/infrastructure-concepts/customize.mdx
  docs/3.0/deploy/infrastructure-concepts/deploy-via-python.mdx
  docs/3.0/deploy/infrastructure-concepts/prefect-yaml.mdx
  docs/3.0/deploy/infrastructure-concepts/store-flow-code.mdx
  docs/3.0/deploy/infrastructure-examples/docker.mdx
  docs/integrations/prefect-bitbucket/index.mdx
  docs/integrations/prefect-github/index.mdx
  docs/integrations/prefect-gitlab/index.mdx
Labels: docs

#15605 Update first docs example
  docs/3.0/get-started/index.mdx
Labels: docs

#15599 Fix issue where transaction parent look up fails in rollback hooks
  src/prefect/transactions.py
  tests/test_transactions.py
Labels: bug

#15608 [2.x] Fix validation of `pydantic.v1.SecretStr` in flow signature
  src/prefect/_internal/pydantic/v2_schema.py
  src/prefect/flows.py
  tests/test_flows.py
Labels: bug, 2.x

#15611 Fix flow run parameters literally named `keys`
  src/prefect/flows.py
  tests/test_flows.py
Labels: bug, fix

#15613 unset default dependent settings assigned posthoc
  src/prefect/settings.py
  tests/test_settings.py
Labels: fix

#15615 rebuild `StateCreate` model
  src/prefect/client/schemas/objects.py
  src/prefect/deployments/flow_runs.py
Labels: bug, fix

#15617 settings docs updates and a minor fix
  docs/3.0/manage/settings-and-profiles.mdx
  src/prefect/cli/config.py
  src/prefect/settings.py
Labels: docs

#15625 avoid losing typing info in `PrefectFuture`
  src/prefect/futures.py
Labels: development

#15630 Chore: remove confusing filter from Flow page
  ui/src/components/FlowStats.vue
Labels: bug

#15631 make task creation and submission logs `DEBUG`
  src/prefect/task_engine.py
  src/prefect/task_runners.py
Labels: enhancement

#15624 Add check for `prefect-client` version in prefect-client workflow
  .github/workflows/markdown-tests.yaml
  .github/workflows/prefect-client.yaml
  client/setup.py
  setup.cfg
  src/prefect/_version.py
  src/prefect/utilities/dockerutils.py
Labels: bug, fix

#15628 Clarify a few items in the docs
  docs/3.0/develop/global-concurrency-limits.mdx
  docs/3.0/develop/task-run-limits.mdx
  docs/3.0/develop/task-runners.mdx
Labels: docs

#15634 use safer, recommended workaround for #15611
  src/prefect/flows.py
Labels: development

#15623 Add type overload for get_client
  src/prefect/client/orchestration.py
Labels: 2.x

#15635 Update image in Quickstart
  docs/3.0/get-started/quickstart.mdx
  docs/3.0/img/ui/qs-flow-run.png
Labels: docs

#15600 Add enhancement note
  .github/ISSUE_TEMPLATE/2_feature_enhancement.yaml
Labels: development

#15584 Fix PagerDuty notification formatting
  src/prefect/blocks/notifications.py
  tests/blocks/test_notifications.py
Labels: bug, fix

#15636 link to docs on starting ephemeral server
  src/prefect/server/api/server.py
Labels: enhancement

#15638 fix prefect version parsing error
  src/prefect/utilities/dockerutils.py
  tests/utilities/test_dockerutils.py
Labels: bug

#15642 remove note from 3.x docs about using `pydantic<2`
  docs/contribute/develop-a-new-worker-type.mdx
Labels: docs

#15644 Update reference to name of profile in example
  docs/3.0/manage/settings-and-profiles.mdx
Labels: docs

#15651 follow on suggestion: simplify phrasing
  docs/3.0/manage/settings-and-profiles.mdx
Labels: docs

#15540 Edits to dbt integration page
  docs/integrations/prefect-dbt/index.mdx
Labels: docs

#15606 Minor updates to deploy overview
  docs/3.0/deploy/index.mdx
Labels: docs

#15653 dont ask to confirm non-existent deployment
  src/prefect/cli/work_pool.py
  tests/_internal/concurrency/test_waiters.py
  tests/cli/test_work_pool.py
Labels: cli, fix

#15595 bump upper bound on pydantic for `2.x`
  .github/workflows/python-tests.yaml
  requirements-client.txt
  tests/utilities/test_callables.py
Labels: development, upstream dependency, 2.x

#15656 [2.x] await `load_kube_config`
  src/integrations/prefect-kubernetes/prefect_kubernetes/credentials.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/jobs.py
  src/integrations/prefect-kubernetes/tests/test_jobs.py
Labels: integrations, 2.x

#15657 Add tests to verify all settings via environment variables
  tests/test_settings.py
Labels: development

#15672 Update `versioneer.py` to ignore uncommited changes
  setup.cfg
  src/prefect/_version.py
  src/prefect/utilities/dockerutils.py
  tests/test_versioneer.py
  tests/utilities/test_dockerutils.py
  versioneer.py
Labels: development

#15683 Docs note about accessing flow run logs
  docs/3.0/develop/logging.mdx
Labels: docs

#15684 Ensure `TaskWorker` creates a `anyio.TaskGroup` in an `async` context
  .github/workflows/python-tests.yaml
  src/prefect/runner/runner.py
  src/prefect/task_worker.py
Labels: development

#15670 Add tests for specifying each setting via a profile
  src/prefect/settings.py
  tests/test_settings.py
Labels: development

#15696 create `PREFECT_HOME` in `root_settings_context`
  src/prefect/context.py
  src/prefect/settings.py
  tests/test_context.py
Labels: fix

#15691 fix bug where `.serve` exits early and add integration test
  .github/workflows/integration-tests.yaml
  flows/flow_retries.py
  flows/serve_a_flow.py
  flows/task_results.py
  scripts/run-integration-flows.py
  src/prefect/flows.py
  src/prefect/runner/runner.py
Labels: development, fix

#15706 Add a few notes to Docker docs page
  docs/3.0/deploy/infrastructure-examples/docker.mdx
Labels: docs

#15700 Improve table formatting in docs
  docs/3.0/deploy/infrastructure-examples/serverless.mdx
  docs/3.0/develop/inputs.mdx
Labels: docs

#15702 Fix docs links for integrations
  docs/3.0/deploy/infrastructure-concepts/prefect-yaml.mdx
  docs/3.0/deploy/infrastructure-concepts/store-flow-code.mdx
  docs/3.0/deploy/infrastructure-concepts/work-pools.mdx
  docs/3.0/deploy/infrastructure-concepts/workers.mdx
  docs/3.0/deploy/infrastructure-examples/serverless.mdx
  docs/3.0/resources/big-data.mdx
  docs/contribute/develop-a-new-worker-type.mdx
  docs/integrations/catalog/TEMPLATE.yaml
  docs/integrations/catalog/prefect-databricks.yaml
  docs/integrations/index.md
  docs/integrations/integrations.mdx
  docs/integrations/prefect-aws/ecs_guide.mdx
  docs/integrations/prefect-aws/index.mdx
  docs/integrations/prefect-azure/aci_worker.mdx
  docs/integrations/prefect-azure/index.mdx
  docs/integrations/prefect-bitbucket/index.mdx
  docs/integrations/prefect-dask/index.mdx
  docs/integrations/prefect-dbt/index.mdx
  docs/integrations/prefect-docker/index.mdx
  docs/integrations/prefect-gcp/gcp-worker-guide.mdx
  docs/integrations/prefect-gcp/index.mdx
  docs/integrations/prefect-snowflake/index.mdx
  docs/integrations/use-integrations.mdx
  index.md
Labels: docs

#15669 more accessible wording for job variable overrides docs
  docs/3.0/deploy/infrastructure-concepts/customize.mdx
Labels: docs

#15709 Fix failing work queue test
  tests/server/models/deprecated/test_work_queues.py
Labels: development

#15714 prefect-dbt - fix dbt cli argument list for multipart commands
  src/integrations/prefect-dbt/prefect_dbt/cli/commands.py
  src/integrations/prefect-dbt/tests/cli/test_commands.py
Labels: integrations, fix

#15715 Split out runner and worker tests to avoid hanging test suite
  .github/workflows/python-tests.yaml
Labels: development

#15708 Only authenticate with Docker when running on a branch
  .github/workflows/python-tests.yaml
Labels: development

#15720 give more time for integration serve flow
  flows/serve_a_flow.py
Labels: development

#15718 Ports #15574 to 2.x
  src/integrations/prefect-aws/prefect_aws/client_parameters.py
  src/integrations/prefect-aws/tests/test_client_parameters.py
Labels: 2.x

#15724 Fix origin repo check that bypasses Docker Login on PRs originating from forks.
  .github/workflows/python-tests.yaml
Labels: bug, great writeup

#15726 de-flake serve integration test
  flows/serve_a_flow.py
Labels: development

#15732 Capture pod logs for `run_namespaced_job`
  docs/integrations/prefect-kubernetes/index.mdx
  src/integrations/prefect-kubernetes/prefect_kubernetes/jobs.py
  src/integrations/prefect-kubernetes/tests/conftest.py
  src/integrations/prefect-kubernetes/tests/test_flows.py
Labels: docs, integrations, fix

#15737 Fix a few spelling issues in docs
  docs/contribute/docs-contribute.mdx
  docs/integrations/prefect-aws/index.mdx
  docs/integrations/prefect-gcp/gcp-worker-guide.mdx
  docs/integrations/prefect-gcp/index.mdx
Labels: docs

#15736 add `/api` to `PREFECT_UI_API_URL` in default case
  src/prefect/settings.py
  tests/test_settings.py
Labels: fix

#15640 Create groups for CLI and client settings
  src/prefect/settings.py
  src/prefect/utilities/services.py
  tests/_internal/concurrency/test_waiters.py
  tests/conftest.py
  tests/test_settings.py
  tests/utilities/test_services.py
Labels: development

#15744 Add `_request_timeout` to Kubernetes watches
  src/integrations/prefect-kubernetes/prefect_kubernetes/events.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Labels: bug

#15727 handle interrupts to `serve` util like `Flow` instance method
  flows/check_output_of_interrupted_serve.py
  flows/serve_a_flow.py
  src/prefect/flows.py
Labels: enhancement

#15690 Add code coverage generation and upload for Python tests
  .github/workflows/python-tests.yaml
  src/prefect/settings.py
  tests/test_task_runners.py
Labels: development

#15680 fix(runner.server): Pass lowercase log level to uvicorn server
  src/prefect/runner/server.py
  tests/runner/test_runner.py
Labels: fix

#15748 updated docker push step in docs
  docs/3.0/deploy/infrastructure-concepts/prefect-yaml.mdx
  docs/3.0/deploy/infrastructure-concepts/store-flow-code.mdx
Labels: docs

#15687 Fix handling of Dask DataFrame and other Awaitables passed to `run_coro_as_sync`
  scripts/collections-manager
  src/integrations/prefect-dask/prefect_dask/task_runners.py
  src/integrations/prefect-dask/pyproject.toml
  src/integrations/prefect-dask/tests/test_task_runners.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/flows.py
  src/integrations/prefect-ray/prefect_ray/task_runners.py
  src/prefect/flow_engine.py
  src/prefect/flows.py
  src/prefect/futures.py
  src/prefect/runner/runner.py
  src/prefect/server/database/dependencies.py
  src/prefect/task_engine.py
  src/prefect/tasks.py
  src/prefect/utilities/asyncutils.py
  src/prefect/utilities/engine.py
  src/prefect/workers/base.py
  tests/public/flows/test_flow_calls.py
  tests/server/database/test_dependencies.py
  tests/test_tasks.py
Labels: bug

#15759 Remove `setuptools` and update `pip` pin in Docker build
  Dockerfile
Labels: development

#15749 Creates settings models for cloud, deployments, and logging
  src/prefect/logging/handlers.py
  src/prefect/settings.py
  tests/test_settings.py
Labels: development

#15757 fix map typing
  flows/deploy.py
  src/prefect/futures.py
  src/prefect/tasks.py
Labels: development

#15765 clear up namespace selection in k8s guide
  docs/3.0/deploy/infrastructure-examples/kubernetes.mdx
Labels: docs

#15745 Update Docker image reference in aci_worker docs page
  docs/integrations/prefect-azure/aci_worker.mdx
Labels: docs

#15754 Create settings models for flows, results, and runners
  src/prefect/settings.py
  tests/test_settings.py
Labels: development

#15768 Ignore errors when cleaning up after deploy integration test
  flows/deploy.py
Labels: development

#15740 Wraps run_dbt_ function in sync_compatible
  src/integrations/prefect-dbt/prefect_dbt/cli/commands.py
Labels: bug

#15771 Fix minor typo on "Deploy overview" page.
  docs/3.0/deploy/index.mdx
Labels: docs

#15761 Add _request_timeout to Kubernetes watches 2.x
  src/integrations/prefect-kubernetes/prefect_kubernetes/events.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Labels: 2.x

#15773 Fix custom task run name rendering
  src/prefect/task_engine.py
  src/prefect/tasks.py
  src/prefect/utilities/engine.py
  tests/public/flows/test_flow_with_mapped_tasks.py
Labels: bug, fix

#15778 feat: support cloudsql volumes for cloud run jobs
  src/integrations/prefect-gcp/prefect_gcp/workers/cloud_run_v2.py
  src/integrations/prefect-gcp/tests/test_cloud_run_worker_v2.py
Labels: integrations

#15782 disable automatic markdown tests
  .github/workflows/markdown-tests.yaml
Labels: development

#15789 fix incorrect import in agents to workers guide
  docs/3.0/resources/upgrade-agents-to-workers.mdx
Labels: docs, fix

#15787 Soft wrap deployment link
  src/prefect/cli/deploy.py
Labels: fix

#15792 fix phantom missing fields for triggers schemas
  src/prefect/events/schemas/automations.py
  src/prefect/events/schemas/deployment_triggers.py
Labels: development

#15797 require `pydantic-settings>2.2.1`
  requirements-client.txt
Labels: upstream dependency

#15795 Update instructions on bug report issue template
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
Labels: development

#15800 Fix typo in prefect-databricks
  docs/integrations/prefect-databricks/index.mdx
Labels: enhancement, docs

#15802 Include env defaults from `variables.properties.env` in deep merge 2.x
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Labels: bug, 2.x

#15803 add schedule gotcha
  docs/3.0/resources/upgrade-to-prefect-3.mdx
Labels: docs

#15807 make `README.md` example easier to read
  README.md
Labels: development

#15808 Use released version of `pytest-markdown-docs`
  .github/workflows/markdown-tests.yaml
  requirements-markdown-tests.txt
Labels: bug, development

#15809 Fix documentation link to task settings
  docs/3.0/develop/write-tasks.mdx
Labels: docs

#15810 remove `max_active_runs` and `catchup` fields
  docs/3.0/api-ref/rest-api/server/schema.json
  src/prefect/cli/_prompts.py
  src/prefect/cli/deploy.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  src/prefect/deployments/base.py
  src/prefect/deployments/schedules.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/deployments.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/settings/models/root.py
  tests/cli/test_deploy.py
  tests/server/schemas/test_actions.py
  tests/test_settings.py
Labels: bug, development, docs

#15822 remove old action
  .github/workflows/issue-bot.yaml
Labels: development

#15825 Fix sorting of tags to determine nightly release version
  .github/workflows/nightly-release.yaml
Labels: development

#15788 Add `prefect.toml` support for settings
  .pre-commit-config.yaml
  schemas/settings.schema.json
  scripts/generate_settings_schema.py
  settings_schema.json
  src/prefect/cli/config.py
  src/prefect/settings/base.py
  src/prefect/settings/legacy.py
  src/prefect/settings/models/api.py
  src/prefect/settings/models/cli.py
  src/prefect/settings/models/client.py
  src/prefect/settings/models/cloud.py
  src/prefect/settings/models/deployments.py
  src/prefect/settings/models/flows.py
  src/prefect/settings/models/internal.py
  src/prefect/settings/models/logging.py
  src/prefect/settings/models/results.py
  src/prefect/settings/models/root.py
  src/prefect/settings/models/runner.py
  src/prefect/settings/models/server/api.py
  src/prefect/settings/models/server/database.py
  src/prefect/settings/models/server/deployments.py
  src/prefect/settings/models/server/ephemeral.py
  src/prefect/settings/models/server/events.py
  src/prefect/settings/models/server/flow_run_graph.py
  src/prefect/settings/models/server/root.py
  src/prefect/settings/models/server/services.py
  src/prefect/settings/models/server/tasks.py
  src/prefect/settings/models/server/ui.py
  src/prefect/settings/models/tasks.py
  src/prefect/settings/models/testing.py
  src/prefect/settings/models/ui.py
  src/prefect/settings/models/worker.py
  src/prefect/settings/sources.py
  tests/cli/test_config.py
  tests/deployment/test_steps.py
  tests/test_settings.py
Labels: enhancement, feature

#15817 pass through kwargs for `run_shell_process`
  src/prefect/cli/shell.py
  tests/cli/test_shell.py
Labels: enhancement

#15841 Fix errors in markdown and codspeed workflows
  .github/workflows/codspeed-benchmarks.yaml
  .github/workflows/markdown-tests.yaml
  benches/bench_flows.py
  benches/bench_import.py
  benches/bench_tasks.py
  benches/conftest.py
  requirements-dev.txt
Labels: development, upstream dependency

#15838 Backport security enhancement
  requirements-client.txt
  requirements.txt
  setup.cfg
  src/prefect/blocks/notifications.py
  src/prefect/blocks/webhook.py
  src/prefect/utilities/urls.py
  tests/blocks/test_notifications.py
  tests/blocks/test_webhook.py
  tests/conftest.py
  tests/deployment/test_steps.py
  tests/utilities/test_urls.py
Labels: enhancement, upstream dependency, security, 2.x

#15667 Update GitHub actions versions and formatting in CI/CD deploy docs page
  docs/3.0/deploy/infrastructure-concepts/deploy-ci-cd.mdx
Labels: bug, docs

#15831 Fixes broken image links in ACI worker guide
  docs/images/integrations/aci-worker-acridentity.png
  docs/images/integrations/aci-worker-identities.png
  docs/images/integrations/aci-worker-subscription.png
  docs/integrations/prefect-azure/aci_worker.mdx
Labels: docs

#15846 add `prefect.toml` to `.gitignore`
  .gitignore
Labels: development

#15830 Auto-generate settings reference documentation
  .pre-commit-config.yaml
  docs/3.0/develop/settings-and-profiles.mdx
  docs/3.0/develop/settings-ref.mdx
  docs/mint.json
  schemas/settings.schema.json
  scripts/generate_settings_ref.py
  src/prefect/settings/base.py
  src/prefect/settings/models/api.py
  src/prefect/settings/models/cli.py
  src/prefect/settings/models/client.py
  src/prefect/settings/models/cloud.py
  src/prefect/settings/models/deployments.py
  src/prefect/settings/models/flows.py
  src/prefect/settings/models/internal.py
  src/prefect/settings/models/logging.py
  src/prefect/settings/models/results.py
  src/prefect/settings/models/root.py
  src/prefect/settings/models/runner.py
  src/prefect/settings/models/server/api.py
  src/prefect/settings/models/server/database.py
  src/prefect/settings/models/server/deployments.py
  src/prefect/settings/models/server/ephemeral.py
  src/prefect/settings/models/server/events.py
  src/prefect/settings/models/server/flow_run_graph.py
  src/prefect/settings/models/server/root.py
  src/prefect/settings/models/server/services.py
  src/prefect/settings/models/server/tasks.py
  src/prefect/settings/models/server/ui.py
  src/prefect/settings/models/tasks.py
  src/prefect/settings/models/testing.py
  src/prefect/settings/models/worker.py
Labels: docs

#15847 Update 'Configure settings and profiles' documentation to include `prefect.toml` support
  docs/3.0/develop/settings-and-profiles.mdx
Labels: docs

#15849 Adds in the ability for the client to get a remote_id from the server
  docs/3.0/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/client/orchestration.py
  src/prefect/settings/models/experiments.py
  src/prefect/workers/base.py
  tests/test_settings.py
  tests/workers/test_base_worker.py
Labels: docs

#15854 Remove `jit="off"` setting for Postgres DBs
  src/prefect/server/database/configurations.py
Labels: bug, enhancement, performance

#15868 Dont cache on any key computation errors and log for visibility
  src/prefect/cache_policies.py
  src/prefect/task_engine.py
  src/prefect/utilities/hashing.py
  tests/test_task_engine.py
Labels: bug

#15851 Adds in the worker_id to the LogCreate schema
  src/prefect/client/schemas/actions.py
Labels: docs

#15867 Add opentelementry requirements
  requirements-otel.txt
  requirements.txt
  setup.py
  tests/_internal/test_integrations.py
Labels: development, upstream dependency

#15870 Allow for empty list retry delays
  src/prefect/server/orchestration/core_policy.py
Labels: fix, 2.x

#15871 Fix logging for FastAPI and Uvicorn
  src/prefect/logging/logging.yml
Labels: bug

#15876 fix non `soft_wrap` link in `prefect block register`
  src/prefect/cli/block.py
Labels: development

#15875 Add support for defining settings via `pyproject.toml`
  docs/3.0/develop/settings-and-profiles.mdx
  docs/3.0/develop/settings-ref.mdx
  docs/mint.json
  schemas/settings.schema.json
  src/prefect/cli/config.py
  src/prefect/settings/base.py
  src/prefect/settings/models/api.py
  src/prefect/settings/models/cli.py
  src/prefect/settings/models/client.py
  src/prefect/settings/models/cloud.py
  src/prefect/settings/models/deployments.py
  src/prefect/settings/models/experiments.py
  src/prefect/settings/models/flows.py
  src/prefect/settings/models/internal.py
  src/prefect/settings/models/logging.py
  src/prefect/settings/models/results.py
  src/prefect/settings/models/root.py
  src/prefect/settings/models/runner.py
  src/prefect/settings/models/server/api.py
  src/prefect/settings/models/server/database.py
  src/prefect/settings/models/server/deployments.py
  src/prefect/settings/models/server/ephemeral.py
  src/prefect/settings/models/server/events.py
  src/prefect/settings/models/server/flow_run_graph.py
  src/prefect/settings/models/server/root.py
  src/prefect/settings/models/server/services.py
  src/prefect/settings/models/server/tasks.py
  src/prefect/settings/models/server/ui.py
  src/prefect/settings/models/tasks.py
  src/prefect/settings/models/testing.py
  src/prefect/settings/models/worker.py
  src/prefect/settings/sources.py
  tests/cli/test_config.py
  tests/test_settings.py
Labels: enhancement, docs, feature

#15880 Add DbtCloudJob block to top level import
  src/integrations/prefect-dbt/prefect_dbt/__init__.py
Labels: bug, integrations

#15878 Allow for unpersisted 2.x result payloads in states
  src/prefect/client/schemas/objects.py
  tests/deployment/test_flow_runs.py
Labels: bug

#15885 Moves `experimental_warn` setting to `experiments` model and removes `async_fetch_state_result`
  docs/3.0/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/integrations/prefect-dask/tests/conftest.py
  src/integrations/prefect-ray/tests/conftest.py
  src/integrations/prefect-sqlalchemy/tests/conftest.py
  src/prefect/client/schemas/objects.py
  src/prefect/settings/models/experiments.py
  src/prefect/settings/models/root.py
  src/prefect/states.py
  tests/conftest.py
  tests/results/test_result_fetch.py
  tests/test_settings.py
Labels: development, docs

#15881 Add setting to allow turning of persistence for tasks globally
  docs/3.0/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/context.py
  src/prefect/results.py
  src/prefect/settings/models/tasks.py
  src/prefect/task_engine.py
  tests/results/test_result_store.py
  tests/test_settings.py
Labels: enhancement, docs

#15895 Update prefect-dbt docs
  docs/images/prefect-dbt-summary-artifact.png
  docs/integrations/prefect-dbt/index.mdx
Labels: docs

#15888 Hook `prefect-kubernetes` into setting framework
  scripts/generate_mintlify_openapi_docs.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/settings.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/pyproject.toml
  src/integrations/prefect-kubernetes/tests/test_settings.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Labels: enhancement, DONT MERGE, security
