Repository PrefectHQ/prefect, pull requests merged in 2025-08, with the labels that each got.

#18628 check future is if cancelled.
  src/prefect/concurrency/_leases.py
Labels: bug

#18634 Add in-memory causal ordering for task run recorder
  src/prefect/server/events/ordering/__init__.py
  src/prefect/server/events/ordering/db.py
  src/prefect/server/events/ordering/memory.py
  src/prefect/server/events/triggers.py
  src/prefect/server/services/task_run_recorder.py
  tests/events/server/test_db_ordering.py
  tests/events/server/test_in_memory_ordering.py
  tests/events/server/triggers/test_service.py
  tests/server/services/test_task_run_recorder.py
Labels: bug

#18663 Fix link for ThreadPoolTaskRunner in Task Runners doc
  docs/v3/concepts/task-runners.mdx
Labels: docs

#18647 note about `to_deployment`
  docs/v3/how-to-guides/deployments/create-schedules.mdx
Labels: bug, docs

#18661 Port examples hosting from PrefectHQ/examples
  .pre-commit-config.yaml
  docs/contribute/docs-contribute.mdx
  docs/docs.json
  docs/v3/examples/hello-world.mdx
  docs/v3/examples/index.mdx
  docs/v3/examples/run-api-sourced-etl.mdx
  docs/v3/examples/run-dbt-with-prefect.mdx
  docs/v3/examples/simple-web-scraper.mdx
  examples/hello_world.py
  examples/run_api_sourced_etl.py
  examples/run_dbt_with_prefect.py
  examples/simple_web_scraper.py
  justfile
  scripts/generate_example_pages.py
Labels: enhancement, docs

#18669 bold the stray h2
  docs/v3/release-notes/oss/version-3-0.mdx
  docs/v3/release-notes/oss/version-3-2.mdx
  docs/v3/release-notes/oss/version-3-3.mdx
Labels: docs

#18671 Add CTA for contributing examples
  docs/v3/examples/hello-world.mdx
  docs/v3/examples/index.mdx
  docs/v3/examples/run-api-sourced-etl.mdx
  docs/v3/examples/run-dbt-with-prefect.mdx
  docs/v3/examples/simple-web-scraper.mdx
  scripts/generate_example_pages.py
Labels: docs

#18675 Add setting to customize which causal ordering implementation to use
  docs/v3/api-ref/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/server/events/ordering/__init__.py
  src/prefect/settings/models/server/events.py
  tests/test_settings.py
Labels: docs

#18676 dont use deprecated settings access in example
  docs/v3/how-to-guides/workflows/state-change-hooks.mdx
Labels: docs

#18674 Update rate limit and metadata retention docs
  docs/v3/concepts/rate-limits.mdx
Labels: docs

#18677 docs: add health check configuration for .serve() deployments
  docs/v3/how-to-guides/deployment_infra/serve-flows-docker.mdx
Labels: docs

#18682 Add blurb for Redis auth
  docs/v3/advanced/self-hosted.mdx
Labels: docs

#18679 Fix event emission when blocks are loaded server-side
  src/prefect/server/events/actions.py
  tests/events/server/actions/test_calling_webhook.py
  tests/events/server/actions/test_sending_notification.py
Labels: fix

#18683 prepare 3.4.12: 20k magic in the air
  docs/v3/release-notes/oss/version-3-4.mdx
Labels: development, docs

#18668 Use server base path configuration when creating internal client
  src/prefect/server/api/clients.py
  tests/server/api/test_clients.py
Labels: bug

#18689 Update use-integrations.mdx to reflect removal of setup.py
  docs/integrations/use-integrations.mdx
Labels: docs

#18690 Fix typos in "Use integrations" documentation
  docs/integrations/use-integrations.mdx
Labels: docs

#18691 Add work pool page header and action components
  ui-v2/src/components/schemas/__snapshots__/schema-form.snapshot.test.tsx.snap
  ui-v2/src/components/ui/delete-confirmation-dialog/delete-confirmation-dialog.test.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/delete-confirmation-dialog.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/use-delete-confirmation-dialog.tsx
  ui-v2/src/components/ui/switch.tsx
  ui-v2/src/components/work-pools/work-pool-menu/components/delete-work-pool-dialog.tsx
  ui-v2/src/components/work-pools/work-pool-menu/hooks/use-work-pool-menu.ts
  ui-v2/src/components/work-pools/work-pool-menu/index.ts
  ui-v2/src/components/work-pools/work-pool-menu/work-pool-menu.stories.tsx
  ui-v2/src/components/work-pools/work-pool-menu/work-pool-menu.test.tsx
  ui-v2/src/components/work-pools/work-pool-menu/work-pool-menu.tsx
  ui-v2/src/components/work-pools/work-pool-page-header/components/work-pool-actions.tsx
  ui-v2/src/components/work-pools/work-pool-page-header/components/work-pool-breadcrumbs.tsx
  ui-v2/src/components/work-pools/work-pool-page-header/components/work-pool-title.tsx
  ui-v2/src/components/work-pools/work-pool-page-header/index.ts
  ui-v2/src/components/work-pools/work-pool-page-header/types.ts
  ui-v2/src/components/work-pools/work-pool-page-header/work-pool-page-header.stories.tsx
  ui-v2/src/components/work-pools/work-pool-page-header/work-pool-page-header.test.tsx
  ui-v2/src/components/work-pools/work-pool-page-header/work-pool-page-header.tsx
  ui-v2/src/components/work-pools/work-pool-toggle/hooks/use-work-pool-toggle.ts
  ui-v2/src/components/work-pools/work-pool-toggle/index.ts
  ui-v2/src/components/work-pools/work-pool-toggle/work-pool-toggle.stories.tsx
  ui-v2/src/components/work-pools/work-pool-toggle/work-pool-toggle.test.tsx
  ui-v2/src/components/work-pools/work-pool-toggle/work-pool-toggle.tsx
Labels: enhancement, ui-replatform

#18711 Add integration release notes section to documentation
  docs/docs.json
  docs/v3/release-notes/index.mdx
  docs/v3/release-notes/integrations/prefect-redis.mdx
Labels: development, docs

#18714 prepare 3.4.13 - No, Your Database Cannot Have a Little Lock, Even As a Treat
  docs/docs.json
  docs/v3/release-notes/oss/version-3-4.mdx
Labels: docs

#18721 Add `prefect transfer` CLI
  docs/docs.json
  docs/v3/api-ref/python/prefect-cli-transfer-__init__.mdx
  docs/v3/api-ref/python/prefect-client-orchestration-__init__.mdx
  docs/v3/api-ref/python/prefect-exceptions.mdx
  docs/v3/how-to-guides/migrate/transfer-resources.mdx
  src/prefect/cli/__init__.py
  src/prefect/cli/transfer/__init__.py
  src/prefect/cli/transfer/_dag.py
  src/prefect/cli/transfer/_exceptions.py
  src/prefect/cli/transfer/_migratable_resources/__init__.py
  src/prefect/cli/transfer/_migratable_resources/automations.py
  src/prefect/cli/transfer/_migratable_resources/base.py
  src/prefect/cli/transfer/_migratable_resources/blocks.py
  src/prefect/cli/transfer/_migratable_resources/concurrency_limits.py
  src/prefect/cli/transfer/_migratable_resources/deployments.py
  src/prefect/cli/transfer/_migratable_resources/flows.py
  src/prefect/cli/transfer/_migratable_resources/variables.py
  src/prefect/cli/transfer/_migratable_resources/work_pools.py
  src/prefect/cli/transfer/_migratable_resources/work_queues.py
  src/prefect/client/orchestration/_concurrency_limits/client.py
  src/prefect/client/orchestration/_deployments/client.py
  src/prefect/client/orchestration/_variables/client.py
  src/prefect/client/orchestration/_work_pools/client.py
  src/prefect/exceptions.py
  tests/cli/test_transfer.py
  tests/cli/transfer/__init__.py
  tests/cli/transfer/conftest.py
  tests/cli/transfer/test_automations.py
  tests/cli/transfer/test_blocks.py
  tests/cli/transfer/test_concurrency_limits.py
  tests/cli/transfer/test_dag.py
  tests/cli/transfer/test_deployments.py
  tests/cli/transfer/test_flows.py
  tests/cli/transfer/test_variables.py
  tests/cli/transfer/test_work_pools.py
  tests/cli/transfer/test_work_queues.py
Labels: feature

#18738 Migrate Work Pool Queues Table from Vue to React
  ui-v2/src/api/work-pool-queues/index.ts
  ui-v2/src/api/work-pool-queues/work-pool-queues.test.ts
  ui-v2/src/api/work-pool-queues/work-pool-queues.ts
  ui-v2/src/components/ui/badge/styles.ts
  ui-v2/src/components/work-pools/work-pool-queue-menu/components/delete-work-pool-queue-dialog.test.tsx
  ui-v2/src/components/work-pools/work-pool-queue-menu/components/delete-work-pool-queue-dialog.tsx
  ui-v2/src/components/work-pools/work-pool-queue-menu/hooks/use-work-pool-queue-menu.test.ts
  ui-v2/src/components/work-pools/work-pool-queue-menu/hooks/use-work-pool-queue-menu.ts
  ui-v2/src/components/work-pools/work-pool-queue-menu/index.ts
  ui-v2/src/components/work-pools/work-pool-queue-menu/work-pool-queue-menu.test.tsx
  ui-v2/src/components/work-pools/work-pool-queue-menu/work-pool-queue-menu.tsx
  ui-v2/src/components/work-pools/work-pool-queue-status-badge/index.ts
  ui-v2/src/components/work-pools/work-pool-queue-status-badge/work-pool-queue-status-badge.stories.tsx
  ui-v2/src/components/work-pools/work-pool-queue-status-badge/work-pool-queue-status-badge.test.tsx
  ui-v2/src/components/work-pools/work-pool-queue-status-badge/work-pool-queue-status-badge.tsx
  ui-v2/src/components/work-pools/work-pool-queue-toggle/hooks/use-work-pool-queue-toggle.test.ts
  ui-v2/src/components/work-pools/work-pool-queue-toggle/hooks/use-work-pool-queue-toggle.ts
  ui-v2/src/components/work-pools/work-pool-queue-toggle/index.ts
  ui-v2/src/components/work-pools/work-pool-queue-toggle/work-pool-queue-toggle.stories.tsx
  ui-v2/src/components/work-pools/work-pool-queue-toggle/work-pool-queue-toggle.test.tsx
  ui-v2/src/components/work-pools/work-pool-queue-toggle/work-pool-queue-toggle.tsx
  ui-v2/src/components/work-pools/work-pool-queues-table/components/work-pool-queue-row-actions.test.tsx
  ui-v2/src/components/work-pools/work-pool-queues-table/components/work-pool-queue-row-actions.tsx
  ui-v2/src/components/work-pools/work-pool-queues-table/components/work-pool-queues-table-columns.tsx
  ui-v2/src/components/work-pools/work-pool-queues-table/components/work-pool-queues-table-empty-state.test.tsx
  ui-v2/src/components/work-pools/work-pool-queues-table/components/work-pool-queues-table-empty-state.tsx
  ui-v2/src/components/work-pools/work-pool-queues-table/components/work-pool-queues-table-toolbar.test.tsx
  ui-v2/src/components/work-pools/work-pool-queues-table/components/work-pool-queues-table-toolbar.tsx
  ui-v2/src/components/work-pools/work-pool-queues-table/index.ts
  ui-v2/src/components/work-pools/work-pool-queues-table/work-pool-queues-table.stories.tsx
  ui-v2/src/components/work-pools/work-pool-queues-table/work-pool-queues-table.test.tsx
  ui-v2/src/components/work-pools/work-pool-queues-table/work-pool-queues-table.tsx
  ui-v2/src/mocks/create-fake-work-pool-queue.ts
  ui-v2/src/mocks/index.ts
  ui-v2/tests/utils/handlers.ts
Labels: enhancement, ui-replatform

#18739 Remove cloud telemetry sending infrastructure while preserving instrumentation (ENG-2710)
  docs/v3/api-ref/python/prefect-telemetry-bootstrap.mdx
  docs/v3/api-ref/python/prefect-telemetry-instrumentation.mdx
  docs/v3/api-ref/python/prefect-telemetry-logging.mdx
  docs/v3/api-ref/python/prefect-telemetry-processors.mdx
  docs/v3/api-ref/python/prefect-telemetry-services.mdx
  src/prefect/logging/loggers.py
  src/prefect/main.py
  src/prefect/telemetry/bootstrap.py
  src/prefect/telemetry/instrumentation.py
  src/prefect/telemetry/logging.py
  src/prefect/telemetry/processors.py
  src/prefect/telemetry/services.py
  tests/telemetry/test_instrumentation.py
  tests/telemetry/test_logging.py
  tests/telemetry/test_processors.py
Labels: docs

#18752 Fix MinIOCredentials hashing with nested config dictionaries
  src/integrations/prefect-aws/prefect_aws/credentials.py
  src/integrations/prefect-aws/tests/test_credentials.py
Labels: bug, integrations

#18743 Update bundle creation to exclude dependencies installed from a local file path
  src/prefect/_experimental/bundles/__init__.py
  tests/experimental/test_bundles.py
Labels: enhancement

#18762 Add release notes for 3.4.14
  docs/v3/release-notes/oss/version-3-4.mdx
Labels: docs

#18756 Overhaul ECS Worker Guide
  docs/integrations/prefect-aws/ecs/iam/secrets/secrets-manager/secret-policy.json
  docs/integrations/prefect-aws/ecs/iam/secrets/ssm-parameter-store/secret-policy.json
  docs/integrations/prefect-aws/ecs/iam/task-definition.json
  docs/integrations/prefect-aws/ecs/iam/trust-policy.json
  docs/integrations/prefect-aws/ecs/iam/worker-policy.json
  docs/integrations/prefect-aws/ecs_guide.mdx
Labels: docs, integrations

#18772 docs: fix profiles_path rendering in settings ref
  docs/v3/api-ref/settings-ref.mdx
Labels: docs

#18789 Add SQS queue and EventBridge setup to ECS worker manual deployment guide
  docs/docs.json
  docs/integrations/prefect-aws/ecs-worker/index.mdx
  docs/integrations/prefect-aws/ecs-worker/manual-deployment.mdx
  docs/integrations/prefect-aws/index.mdx
  docs/integrations/prefect-aws/sdk.mdx
  src/integrations/prefect-aws/README.md
Labels: docs

#18791 Add release notes for `prefect-aws==0.5.14`
  docs/v3/release-notes/index.mdx
  docs/v3/release-notes/integrations/prefect-aws.mdx
  justfile
  scripts/prepare_integration_release_notes.py
Labels: docs

#18792 Fix CloudFormation template generation during `prefect-aws` release
  .github/workflows/integration-package-release.yaml
Labels: development

#18794 Skip validating generated CloudFormation templates
  .github/workflows/integration-package-release.yaml
Labels: development

#18795 Hotfix release 0.5.15 for `prefect-aws`
  docs/v3/release-notes/integrations/prefect-aws.mdx
  src/integrations/prefect-aws/prefect_aws/observers/ecs.py
Labels: docs

#18801 Add schedule_after field to RunDeployment action for delayed execution
  .nvmrc
  docs/docs.json
  docs/v3/api-ref/python/prefect-events-actions.mdx
  docs/v3/api-ref/python/prefect-events-schemas-automations.mdx
  docs/v3/api-ref/python/prefect-events-schemas-deployment_triggers.mdx
  docs/v3/api-ref/python/prefect-server-events-actions.mdx
  docs/v3/api-ref/python/prefect-server-events-schemas-automations.mdx
  docs/v3/api-ref/python/prefect-task_engine.mdx
  docs/v3/api-ref/python/prefect-types-__init__.mdx
  docs/v3/api-ref/rest-api/server/schema.json
  docs/v3/api-ref/settings-ref.mdx
  docs/v3/how-to-guides/automations/creating-deployment-triggers.mdx
  schemas/settings.schema.json
  src/prefect/events/actions.py
  src/prefect/events/schemas/automations.py
  src/prefect/events/schemas/deployment_triggers.py
  src/prefect/server/events/actions.py
  src/prefect/types/__init__.py
  tests/events/client/test_automations_server_compatibility.py
  tests/events/client/test_deployment_trigger_schedule_after.py
  tests/events/server/actions/test_running_deployment.py
  ui-v2/src/api/prefect.ts
Labels: enhancement

#18809 Fix Docker healthcheck documentation to use Python instead of curl
  docs/v3/advanced/worker-healthchecks.mdx
  docs/v3/how-to-guides/deployment_infra/serve-flows-docker.mdx
Labels: docs

#18773 Fix metric trigger validation in automations schema
  docs/v3/api-ref/python/prefect-events-schemas-automations.mdx
  docs/v3/api-ref/python/prefect-events-schemas-deployment_triggers.mdx
  docs/v3/api-ref/python/prefect-server-events-schemas-automations.mdx
  docs/v3/api-ref/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/events/schemas/automations.py
  src/prefect/events/schemas/deployment_triggers.py
  tests/events/client/test_automations_schema.py
  tests/events/client/test_automations_server_compatibility.py
Labels: bug, docs

#18810 Fix event filter empty label value arrays to return no results
  AGENTS.md
  docs/v3/api-ref/python/prefect-server-events-filters.mdx
  src/prefect/server/events/filters.py
  tests/events/server/test_events_queries.py
Labels: docs

#18819 Special case for proactive automation
  docs/v3/api-ref/python/prefect-server-events-triggers.mdx
  src/prefect/server/events/triggers.py
  tests/events/server/triggers/test_regressions.py
Labels: docs

#18630 Enable metrics server on workers
  src/prefect/utilities/services.py
  src/prefect/workers/base.py
  src/prefect/workers/process.py
Labels: enhancement

#18813 Add CLI command to emit events
  docs/v3/api-ref/python/prefect-cli-events.mdx
  src/prefect/cli/events.py
  tests/cli/test_events.py
Labels: enhancement, docs
