Repository PrefectHQ/prefect, pull requests merged in 2025-09, with the labels that each got.

#18807 Fix AttributeError in create_flow_run_from_deployment (#18707)
  src/prefect/server/api/deployments.py
  tests/server/orchestration/api/test_deployments.py
Labels: bug

#18849 Fix nested `.delay()` serialization issue
  docs/v3/api-ref/python/prefect-context.mdx
  src/prefect/context.py
  tests/test_task_worker.py
Labels: docs, fix

#18823 Wait until determining deployment create or update to add deployment schedules
  docs/v3/api-ref/python/prefect-cli-deploy.mdx
  docs/v3/api-ref/python/prefect-deployments-runner.mdx
  docs/v3/api-ref/python/prefect-deployments-schedules.mdx
  src/prefect/_internal/schemas/validators.py
  src/prefect/cli/_prompts.py
  src/prefect/cli/deploy.py
  src/prefect/client/schemas/actions.py
  src/prefect/deployments/base.py
  src/prefect/deployments/runner.py
  src/prefect/deployments/schedules.py
  tests/cli/test_deploy.py
  tests/deployment/test_schedules.py
Labels: enhancement, docs

#18825 Implement main WorkPool page integration with tabs
  ui-v2/src/api/deployments/index.ts
  ui-v2/src/api/work-pool-queues/work-pool-queues.ts
  ui-v2/src/api/work-pools/index.ts
  ui-v2/src/api/work-pools/work-pools.test.ts
  ui-v2/src/api/work-pools/work-pools.ts
  ui-v2/src/components/ui/layout-well/index.ts
  ui-v2/src/components/ui/layout-well/layout-well.test.tsx
  ui-v2/src/components/ui/layout-well/layout-well.tsx
  ui-v2/src/components/work-pools/work-pool-deployments-tab/index.ts
  ui-v2/src/components/work-pools/work-pool-deployments-tab/work-pool-deployments-tab.test.tsx
  ui-v2/src/components/work-pools/work-pool-deployments-tab/work-pool-deployments-tab.tsx
  ui-v2/src/components/work-pools/work-pool-details/work-pool-details.test.tsx
  ui-v2/src/components/work-pools/work-pool-details/work-pool-details.tsx
  ui-v2/src/components/work-pools/work-pool-flow-runs-tab/index.ts
  ui-v2/src/components/work-pools/work-pool-flow-runs-tab/work-pool-flow-runs-tab.test.tsx
  ui-v2/src/components/work-pools/work-pool-flow-runs-tab/work-pool-flow-runs-tab.tsx
  ui-v2/src/components/work-pools/work-pool-menu/hooks/use-work-pool-menu.ts
  ui-v2/src/components/work-pools/work-pool-menu/work-pool-menu.tsx
  ui-v2/src/components/work-pools/work-pool-page-header/components/work-pool-actions.tsx
  ui-v2/src/components/work-pools/work-pool-page-header/components/work-pool-breadcrumbs.tsx
  ui-v2/src/components/work-pools/work-pool-page-header/components/work-pool-title.tsx
  ui-v2/src/components/work-pools/work-pool-page-header/work-pool-page-header.test.tsx
  ui-v2/src/components/work-pools/work-pool-page-header/work-pool-page-header.tsx
  ui-v2/src/components/work-pools/work-pool-queue-menu/hooks/use-work-pool-queue-menu.ts
  ui-v2/src/components/work-pools/work-pool-queue-menu/work-pool-queue-menu.tsx
  ui-v2/src/components/work-pools/work-pool-queue-status-badge/work-pool-queue-status-badge.test.tsx
  ui-v2/src/components/work-pools/work-pool-queue-status-badge/work-pool-queue-status-badge.tsx
  ui-v2/src/components/work-pools/work-pool-queue-toggle/work-pool-queue-toggle.test.tsx
  ui-v2/src/components/work-pools/work-pool-queue-toggle/work-pool-queue-toggle.tsx
  ui-v2/src/components/work-pools/work-pool-queues-table/components/bulk-operations-toolbar/bulk-delete-queues-dialog.tsx
  ui-v2/src/components/work-pools/work-pool-queues-table/components/bulk-operations-toolbar/bulk-operations-toolbar.tsx
  ui-v2/src/components/work-pools/work-pool-queues-table/components/bulk-operations-toolbar/index.ts
  ui-v2/src/components/work-pools/work-pool-queues-table/components/bulk-operations-toolbar/use-bulk-delete-work-pool-queues-mutation.ts
  ui-v2/src/components/work-pools/work-pool-queues-table/components/queue-name-with-late-indicator.tsx
  ui-v2/src/components/work-pools/work-pool-queues-table/components/work-pool-queues-table-columns.tsx
  ui-v2/src/components/work-pools/work-pool-queues-table/components/work-pool-queues-table-toolbar.test.tsx
  ui-v2/src/components/work-pools/work-pool-queues-table/components/work-pool-queues-table-toolbar.tsx
  ui-v2/src/components/work-pools/work-pool-queues-table/work-pool-queues-table.tsx
  ui-v2/src/components/work-pools/work-pool-status-badge/work-pool-status-badge.test.tsx
  ui-v2/src/components/work-pools/work-pool-status-badge/work-pool-status-badge.tsx
  ui-v2/src/components/work-pools/workers-table/components/workers-table-toolbar.tsx
  ui-v2/src/components/workers/worker-status-badge/worker-status-badge.test.tsx
  ui-v2/src/components/workers/worker-status-badge/worker-status-badge.tsx
  ui-v2/src/mocks/deployment.ts
  ui-v2/src/mocks/flow-run.ts
  ui-v2/src/mocks/flow.ts
  ui-v2/src/routes/work-pools/work-pool.$workPoolName.tsx
Labels: enhancement, ui-replatform

#18868 Run `Distributor` and `LogDistributor` in Prefect API servers
  docs/docs.json
  docs/v3/api-ref/python/prefect-client-utilities.mdx
  docs/v3/api-ref/python/prefect-input-actions.mdx
  docs/v3/api-ref/python/prefect-input-run_input.mdx
  docs/v3/api-ref/python/prefect-server-api-server.mdx
  docs/v3/api-ref/python/prefect-server-events-services-triggers.mdx
  docs/v3/api-ref/python/prefect-server-models-saved_searches.mdx
  docs/v3/api-ref/python/prefect-server-services-base.mdx
  docs/v3/api-ref/python/prefect-server-services-cancellation_cleanup.mdx
  docs/v3/api-ref/python/prefect-server-services-foreman.mdx
  docs/v3/api-ref/python/prefect-server-services-late_runs.mdx
  docs/v3/api-ref/python/prefect-server-services-pause_expirations.mdx
  docs/v3/api-ref/python/prefect-server-services-repossessor.mdx
  docs/v3/api-ref/python/prefect-server-services-scheduler.mdx
  docs/v3/api-ref/python/prefect-server-services-telemetry.mdx
  docs/v3/api-ref/python/prefect-task_worker.mdx
  docs/v3/api-ref/python/prefect-transactions.mdx
  docs/v3/api-ref/python/prefect-utilities-dockerutils.mdx
  docs/v3/api-ref/python/prefect-utilities-names.mdx
  docs/v3/api-ref/python/prefect-variables.mdx
  src/prefect/server/api/server.py
  src/prefect/server/events/stream.py
  src/prefect/server/logs/stream.py
  src/prefect/server/services/base.py
  src/prefect/server/services/telemetry.py
  tests/server/services/test_service_subsets.py
Labels: fix

#18869 Add 3.4.17 release notes
  docs/v3/release-notes/oss/version-3-4.mdx
Labels: docs

#18870 Removes followers log from Redis `CausalOrdering` implementation
  src/integrations/prefect-redis/prefect_redis/ordering.py
Labels: development

#18882 Add display of late runs in the work pool work queues table
  ui-v2/src/components/work-pools/work-pool-queues-table/components/queue-name-with-late-indicator.tsx
  ui-v2/src/routes/work-pools/work-pool.$workPoolName.tsx
Labels: enhancement, ui-replatform

#18935 [UI v2] Add `DateRangePicker` component
  ui-v2/eslint.config.js
  ui-v2/src/components/ui/calendar.tsx
  ui-v2/src/components/ui/date-range-picker/date-range-picker.stories.tsx
  ui-v2/src/components/ui/date-range-picker/date-range-picker.test.tsx
  ui-v2/src/components/ui/date-range-picker/date-range-picker.tsx
  ui-v2/src/components/ui/date-range-picker/index.ts
Labels: enhancement, ui-replatform

#18945 fix: add redirect setting to docs.json to fix /latest path 404s
  docs/docs.json
Labels: docs

#18948 Remove 'documentation' label from auto-generate-docs
  .github/workflows/auto-generate-docs.yaml
Labels: development

#18950 [UI v2] Add dashboard filters
  ui-v2/src/components/flow-runs/flow-run-tags-select.test.tsx
  ui-v2/src/components/flow-runs/flow-run-tags-select.tsx
  ui-v2/src/components/ui/combobox/combobox.tsx
  ui-v2/src/routes/dashboard.tsx
Labels: enhancement, ui-replatform

#18952 Handle dbt kwargs as args
  src/integrations/prefect-dbt/prefect_dbt/core/runner.py
  src/integrations/prefect-dbt/prefect_dbt/utilities.py
  src/integrations/prefect-dbt/tests/core/test_runner.py
  src/integrations/prefect-dbt/tests/test_utilities.py
Labels: bug

#18963 Add starlette status code compatibility layer
  src/prefect/_internal/compatibility/starlette.py
  src/prefect/client/base.py
  src/prefect/server/api/automations.py
  src/prefect/server/api/concurrency_limits_v2.py
  src/prefect/server/api/csrf_token.py
  src/prefect/server/api/dependencies.py
  src/prefect/server/api/deployments.py
  src/prefect/server/api/events.py
  src/prefect/server/api/flow_runs.py
  src/prefect/server/api/server.py
  src/prefect/server/api/task_runs.py
  src/prefect/server/api/ui/schemas.py
  src/prefect/server/api/ui/task_runs.py
  src/prefect/server/api/validation.py
  tests/cli/cloud/test_ip_allowlist.py
  tests/client/test_base_client.py
  tests/server/api/test_pagination.py
  tests/server/api/test_server.py
  tests/server/orchestration/api/test_block_documents.py
  tests/server/orchestration/api/test_block_types.py
  tests/server/orchestration/api/test_flow_runs.py
  tests/server/orchestration/api/test_task_runs.py
  tests/server/orchestration/api/test_work_queues.py
  tests/server/orchestration/api/test_workers.py
Labels: development

#18966 Add `workflow_dispatch` trigger to docs auto-generation workflow for testing
  .github/workflows/auto-generate-docs.yaml
Labels: development

#18981 Fix dbt kwargs handling to preserve positional args and validate command flags
  src/integrations/prefect-dbt/prefect_dbt/core/runner.py
  src/integrations/prefect-dbt/prefect_dbt/utilities.py
  src/integrations/prefect-dbt/tests/test_utilities.py
Labels: bug, integrations

#18983 Update task concurrency slot orchestration rules to work with global concurrency limits
  src/integrations/prefect-redis/prefect_redis/lease_storage.py
  src/integrations/prefect-redis/tests/test_lease_storage.py
  src/prefect/server/api/concurrency_limits.py
  src/prefect/server/api/concurrency_limits_v2.py
  src/prefect/server/concurrency/lease_storage/__init__.py
  src/prefect/server/concurrency/lease_storage/filesystem.py
  src/prefect/server/concurrency/lease_storage/memory.py
  src/prefect/server/models/concurrency_limits.py
  src/prefect/server/orchestration/core_policy.py
  tests/server/concurrency/test_filesystem_lease_storage.py
  tests/server/concurrency/test_memory_lease_storage.py
  tests/server/orchestration/test_task_concurrency_v2_integration.py
Labels: enhancement

#18982 Update task engine to use GCLs to limit task concurrency
  src/prefect/client/orchestration/_concurrency_limits/client.py
  src/prefect/client/schemas/objects.py
  src/prefect/concurrency/_asyncio.py
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/sync.py
  src/prefect/task_engine.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_sync.py
  tests/test_task_engine.py
Labels: enhancement

#19012 Add LLM-friendly docs section
  docs/v3/get-started/index.mdx
Labels: docs

#19029 Fix pydantic-settings 2.11+ compatibility warnings
  src/prefect/settings/base.py
  tests/test_settings.py
Labels: bug, fix

#19033 Add release notes for 3.4.20
  docs/docs.json
  docs/v3/release-notes/oss/version-3-4.mdx
Labels: docs

#19038 Improve deployment validation error messages
  src/prefect/cli/deploy/_config.py
  src/prefect/cli/deploy/_models.py
  tests/cli/deploy/test_format_validation_error.py
Labels: bug

#19041 clean up lineage experiment
  src/prefect/_experimental/lineage.py
  src/prefect/results.py
  src/prefect/settings/models/experiments.py
  src/prefect/testing/fixtures.py
  tests/experimental/test_lineage.py
  tests/results/test_result_store.py
  tests/test_settings.py
Labels: development

#19060 remove log level set in kubernetes observer
  src/integrations/prefect-kubernetes/prefect_kubernetes/observer.py
Labels: integrations

#19043 Add automatic local dependency discovery for flow bundles
  src/prefect/_experimental/bundles/__init__.py
  tests/experimental/test_bundles.py
Labels: enhancement

#19052 Fix `PREFECT_CLIENT_CUSTOM_HEADERS` JSON string parsing
  src/prefect/settings/models/client.py
  src/prefect/types/__init__.py
  tests/test_settings.py
  ui-v2/src/api/zod/events/events.ts
Labels: bug, fix

#19061 Use TTLCache for memory-based CausalOrdering to prevent memory leaks
  src/prefect/server/events/ordering/memory.py
  tests/events/server/test_in_memory_ordering.py
Labels: bug
