Repository PrefectHQ/prefect, pull requests merged in 2025-03, with the labels that each got.

#17347 bump `prefect-kubernetes`'s dependency on `prefect`
  src/integrations/prefect-kubernetes/pyproject.toml
Labels: integrations

#17336 feat: ensure ui files are writeable
  src/prefect/server/api/server.py
Labels: bug

#17349 warn if `RunnerDeployment` with a `work_pool_name` given to `serve`
  src/prefect/flows.py
  tests/runner/test_runner.py
Labels: bug

#17339 docs(prefect-ray): change to Ray support for Python 3.13 is experimental
  docs/integrations/prefect-ray/index.mdx
Labels: docs

#17321 Add New MLB Pipeline Tutorial Series
  docs/mint.json
  docs/v3/automate/events/automations-triggers.mdx
  docs/v3/develop/artifacts.mdx
  docs/v3/tutorials/resilience-and-deployment.mdx
  docs/v3/tutorials/s3-motherduck.mdx
Labels: docs

#17351 [ui-v2] Update graphs package
  ui-v2/package-lock.json
  ui-v2/package.json
Labels: ui-replatform

#17350 [UI v2] feate: Begins deployment edit / duplicate form
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/components/deployments/deployment-form/deployment-form.stories.tsx
  ui-v2/src/components/deployments/deployment-form/deployment-form.tsx
  ui-v2/src/components/deployments/deployment-form/limit-collision-strategy-select.tsx
  ui-v2/src/components/deployments/deployment-form/use-deployment-form.ts
  ui-v2/src/components/ui/markdown-input.tsx
  ui-v2/src/components/work-pools/work-queue-select/work-queue-select.stories.tsx
  ui-v2/src/routes/deployments/deployment_.$id.edit.tsx
Labels: ui-replatform

#17313 Cancel runs if the deployment was deleted
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Labels: bug

#17345 feat: Prefect on Modal tutorial documentation
  docs/mint.json
  docs/v3/deploy/infrastructure-concepts/work-pools.mdx
  docs/v3/deploy/infrastructure-examples/serverless.mdx
  docs/v3/get-started/index.mdx
  docs/v3/img/tutorials/modal/modal 0.png
  docs/v3/img/tutorials/modal/modal 1.png
  docs/v3/img/tutorials/modal/modal 10.png
  docs/v3/img/tutorials/modal/modal 11.png
  docs/v3/img/tutorials/modal/modal 12.png
  docs/v3/img/tutorials/modal/modal 2.png
  docs/v3/img/tutorials/modal/modal 3.png
  docs/v3/img/tutorials/modal/modal 4.png
  docs/v3/img/tutorials/modal/modal 5.png
  docs/v3/img/tutorials/modal/modal 6.png
  docs/v3/img/tutorials/modal/modal 7.png
  docs/v3/img/tutorials/modal/modal 8.png
  docs/v3/img/tutorials/modal/modal 9.png
  docs/v3/tutorials/modal.mdx
Labels: docs

#17363 chore(docs): remove Helm reference on ECS page
  docs/integrations/prefect-aws/ecs_guide.mdx
Labels: docs

#17364 Respect custom cert files in events client
  src/prefect/events/clients.py
  tests/events/client/test_events_client.py
Labels: fix

#17368 [UI v2] feat: Adds parameters form fields to deployment edit page
  ui-v2/src/components/deployments/deployment-form/deployment-form.tsx
  ui-v2/src/components/deployments/deployment-form/use-deployment-form.ts
  ui-v2/src/components/schemas/__snapshots__/schema-form.snapshot.test.tsx.snap
  ui-v2/src/components/schemas/hooks/useSchemaForm.ts
  ui-v2/src/components/schemas/index.ts
  ui-v2/src/components/schemas/readme.md
  ui-v2/src/components/schemas/schema-form-input-boolean.tsx
  ui-v2/src/components/schemas/utilities/validate.ts
Labels: DONT MERGE, ui-replatform

#17370 Always use a new tmpdir when executing with the process worker
  src/prefect/workers/process.py
  tests/workers/test_process_worker.py
Labels: bug

#17371 [ui-v2] Update graphs to 3.0.5
  ui-v2/package-lock.json
  ui-v2/package.json
Labels: ui-replatform

#17372 [UI v2] feat: Adds deployment duplicate page
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/deployments/index.ts
  ui-v2/src/components/deployments/deployment-form/deployment-form.stories.tsx
  ui-v2/src/components/deployments/deployment-form/deployment-form.tsx
  ui-v2/src/components/deployments/deployment-form/index.ts
  ui-v2/src/components/deployments/deployment-form/use-deployment-form.ts
  ui-v2/src/components/deployments/deployment-parameters-table/deployment-parameters-table.tsx
  ui-v2/src/routes/deployments/deployment_.$id.duplicate.tsx
  ui-v2/src/routes/deployments/deployment_.$id.edit.tsx
Labels: ui-replatform

#17352 Add sigterm handling for `prefect flow-run execute`
  src/prefect/cli/flow_run.py
  src/prefect/runner/runner.py
  tests/cli/test_flow_run.py
  tests/runner/test_runner.py
Labels: enhancement

#17335 Add debugging variables to Vertex AI Worker
  src/integrations/prefect-gcp/prefect_gcp/workers/vertex.py
  src/integrations/prefect-gcp/tests/test_vertex_worker.py
Labels: enhancement

#17386 Print correct API URL when setting base path
  src/prefect/cli/server.py
Labels: bug

#17387 [ui-v2] Add FlowRunGraph component
  ui-v2/src/components/flow-runs/flow-run-graph/api.ts
  ui-v2/src/components/flow-runs/flow-run-graph/consts.ts
  ui-v2/src/components/flow-runs/flow-run-graph/demo-data.json
  ui-v2/src/components/flow-runs/flow-run-graph/demo-events.json
  ui-v2/src/components/flow-runs/flow-run-graph/flow-run-graph-actions.tsx
  ui-v2/src/components/flow-runs/flow-run-graph/flow-run-graph-center-button.tsx
  ui-v2/src/components/flow-runs/flow-run-graph/flow-run-graph-fullscreen-button.tsx
  ui-v2/src/components/flow-runs/flow-run-graph/flow-run-graph-settings-button.tsx
  ui-v2/src/components/flow-runs/flow-run-graph/flow-run-graph-settings.tsx
  ui-v2/src/components/flow-runs/flow-run-graph/flow-run-graph.stories.tsx
  ui-v2/src/components/flow-runs/flow-run-graph/flow-run-graph.tsx
  ui-v2/src/components/flow-runs/flow-run-graph/index.ts
  ui-v2/src/components/flow-runs/flow-run-graph/utilities.ts
  ui-v2/src/components/ui/icons/constants.ts
Labels: ui-replatform

#17366 [UI v2] fix: Fixes deployment schedule item layout after shadcn update
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-item.tsx
Labels: ui-replatform

#17358 Fix generated api types for `/ui/schemas/validate`
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/server/api/ui/schemas.py
  tests/server/orchestration/api/ui/test_schemas.py
  ui-v2/src/api/prefect.ts
  ui-v2/src/components/schemas/utilities/validate.ts
Labels: ui-replatform

#17367 [Docs] Tidy up the Modal tutorial
  docs/v3/tutorials/modal.mdx
Labels: docs

#17392 Add handling for extra install in `prefect.deployments.flow_runs`
  src/prefect/deployments/flow_runs.py
Labels: bug

#17374 add `freeze` annotation
  src/prefect/client/schemas/actions.py
  src/prefect/deployments/runner.py
  src/prefect/utilities/annotations.py
  tests/runner/test_runner.py
  tests/utilities/test_annotations.py
Labels: enhancement

#17385 add k8s integration test harness
  .github/workflows/k8s-integration-tests.yaml
  src/integrations/prefect-kubernetes/integration_tests/README.md
  src/integrations/prefect-kubernetes/integration_tests/pyproject.toml
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/__init__.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/conftest.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/py.typed
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_eviction.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/utils/display.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/utils/k8s.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/utils/prefect_core.py
  src/integrations/prefect-kubernetes/pyproject.toml
Labels: development, integrations

#17394 [UI v2] feat: Starts create flow run form and consolidates date time picker
  ui-v2/src/components/deployments/create-flow-run-form/create-flow-run-form.stories.tsx
  ui-v2/src/components/deployments/create-flow-run-form/create-flow-run-form.tsx
  ui-v2/src/components/deployments/create-flow-run-form/flow-run-start-input.stories.tsx
  ui-v2/src/components/deployments/create-flow-run-form/flow-run-start-input.tsx
  ui-v2/src/components/deployments/create-flow-run-form/use-create-flow-run-form.tsx
  ui-v2/src/components/schemas/schema-form-input-string-format-datetime.tsx
  ui-v2/src/components/ui/date-time-picker/date-time-picker.stories.tsx
  ui-v2/src/components/ui/date-time-picker/date-time-picker.test.tsx
  ui-v2/src/components/ui/date-time-picker/date-time-picker.tsx
  ui-v2/src/components/ui/date-time-picker/index.ts
Labels: ui-replatform

#17362 feat: Add Prefect Server and Worker Helm Tutorial
  docs/mint.json
  docs/v3/tutorials/server-and-worker.mdx
Labels: enhancement, docs

#17393 Add inline arcades
  docs/snippets/arcade.mdx
  docs/v3/tutorials/resilience-and-deployment.mdx
  docs/v3/tutorials/s3-motherduck.mdx
Labels: docs

#17400 [ui-v2] Fix types for `parameters` and `job_variables` on `DeploymentCreate`
  docs/v3/api-ref/rest-api/server/schema.json
  scripts/generate_oss_openapi_schema.py
  src/prefect/server/schemas/actions.py
  ui-v2/package.json
  ui-v2/src/api/prefect.ts
  ui-v2/src/components/deployments/deployment-form/use-deployment-form.ts
Labels: ui-replatform

#17356 Do not target abstract class for Pydantic validation
  src/prefect/server/events/schemas/automations.py
  src/prefect/server/utilities/messaging/memory.py
  src/prefect/server/utilities/schemas/bases.py
  tests/server/utilities/test_schemas.py
Labels: bug

#17403 [ui-v2] Remove faker in favor of falso
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedules.stories.tsx
  ui-v2/src/components/deployments/deployment-schedules/get-schedule-title.test.ts
  ui-v2/src/components/deployments/deployment-schedules/schedule-action-menu.test.tsx
  ui-v2/src/components/deployments/deployment-schedules/schedule-toggle-switch.test.tsx
  ui-v2/src/components/flow-runs/flow-run-card/flow-run-card.stories.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-list.stories.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/flow-run-activity-bar-graph.stories.tsx
  ui-v2/src/components/ui/schedule-badge/schedule-badge.stories.tsx
  ui-v2/src/components/ui/schedule-badge/schedule-badge.test.tsx
  ui-v2/src/mocks/create-fake-artifact.ts
  ui-v2/src/mocks/create-fake-automation.ts
  ui-v2/src/mocks/create-fake-block-document.ts
  ui-v2/src/mocks/create-fake-cron.ts
  ui-v2/src/mocks/create-fake-deployment.ts
  ui-v2/src/mocks/create-fake-flow-run.ts
  ui-v2/src/mocks/create-fake-flow.ts
  ui-v2/src/mocks/create-fake-global-concurrency-limit.ts
  ui-v2/src/mocks/create-fake-schedule.ts
  ui-v2/src/mocks/create-fake-state.ts
  ui-v2/src/mocks/create-fake-take-run-concurrency-limit.ts
  ui-v2/src/mocks/create-fake-task-run.ts
  ui-v2/src/mocks/create-fake-work-pool.ts
  ui-v2/src/mocks/create-fake-work-queue.ts
Labels: ui-replatform

#17410 Remove unnecessary prompt condition
  src/prefect/cli/deploy.py
Labels: bug

#17413 use Orval to generate Zod Schemas
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/server/api/flow_runs.py
  ui-v2/orval.config.cjs
  ui-v2/package.json
  ui-v2/src/api/zod/admin/admin.ts
  ui-v2/src/api/zod/artifacts/artifacts.ts
  ui-v2/src/api/zod/automations/automations.ts
  ui-v2/src/api/zod/block-capabilities/block-capabilities.ts
  ui-v2/src/api/zod/block-documents/block-documents.ts
  ui-v2/src/api/zod/block-schemas/block-schemas.ts
  ui-v2/src/api/zod/block-types/block-types.ts
  ui-v2/src/api/zod/collections/collections.ts
  ui-v2/src/api/zod/concurrency-limits-v2/concurrency-limits-v2.ts
  ui-v2/src/api/zod/concurrency-limits/concurrency-limits.ts
  ui-v2/src/api/zod/default/default.ts
  ui-v2/src/api/zod/deployments/deployments.ts
  ui-v2/src/api/zod/events/events.ts
  ui-v2/src/api/zod/flow-run-notification-policies/flow-run-notification-policies.ts
  ui-v2/src/api/zod/flow-run-states/flow-run-states.ts
  ui-v2/src/api/zod/flow-runs/flow-runs.ts
  ui-v2/src/api/zod/flows/flows.ts
  ui-v2/src/api/zod/root/root.ts
  ui-v2/src/api/zod/saved-searches/saved-searches.ts
  ui-v2/src/api/zod/task-run-states/task-run-states.ts
  ui-v2/src/api/zod/task-runs/task-runs.ts
  ui-v2/src/api/zod/task-workers/task-workers.ts
  ui-v2/src/api/zod/ui/ui.ts
  ui-v2/src/api/zod/variables/variables.ts
  ui-v2/src/api/zod/work-pools/work-pools.ts
  ui-v2/src/api/zod/work-queues/work-queues.ts
Labels: ui-replatform

#17405 [UI v2] feat: Adds deployment custom run page
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/server/schemas/actions.py
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/api/flow-runs/index.ts
  ui-v2/src/api/prefect.ts
  ui-v2/src/components/deployments/create-flow-run-form/create-flow-run-form.stories.tsx
  ui-v2/src/components/deployments/create-flow-run-form/create-flow-run-form.tsx
  ui-v2/src/components/deployments/create-flow-run-form/flow-run-name-input.tsx
  ui-v2/src/components/deployments/create-flow-run-form/index.ts
  ui-v2/src/components/deployments/create-flow-run-form/use-create-flow-run-form.tsx
  ui-v2/src/components/deployments/custom-run-page.tsx
  ui-v2/src/components/deployments/data-table/cells.tsx
  ui-v2/src/components/deployments/deployment-action-header.tsx
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/deployment-duplicate-page.tsx
  ui-v2/src/components/deployments/deployment-edit-page.tsx
  ui-v2/src/components/deployments/deployment-form/use-deployment-form.ts
  ui-v2/src/components/deployments/deployment-links.tsx
  ui-v2/src/components/ui/accordion.tsx
  ui-v2/src/routes/deployments/deployment_.$id.duplicate.tsx
  ui-v2/src/routes/deployments/deployment_.$id.edit.tsx
  ui-v2/src/routes/deployments/deployment_.$id.run.tsx
Labels: ui-replatform

#17315 commit `uv.lock`
  .github/dependabot.yml
  .gitignore
  .pre-commit-config.yaml
  ui-v2/src/api/zod/deployments/deployments.ts
  uv.lock
Labels: enhancement, ui-replatform

#17426 [UI] Update packages
  ui/package-lock.json
  ui/package.json
  ui/src/main.ts
Labels: ui

#17408 [UI v2] feat: Convert deferred data loading for select work pool and select work queue to use suspense
  ui-v2/src/components/deployments/data-table/index.tsx
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/deployment-details-runs-tab.tsx
  ui-v2/src/components/deployments/deployment-details-upcoming-tab.tsx
  ui-v2/src/components/deployments/deployment-links.tsx
  ui-v2/src/components/deployments/deployment-triggers.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-filters.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-filters/run-name-search.tsx
  ui-v2/src/components/flows/flow-link.tsx
  ui-v2/src/components/work-pools/work-pool-select/work-pool-select.test.tsx
  ui-v2/src/components/work-pools/work-pool-select/work-pool-select.tsx
  ui-v2/src/components/work-pools/work-queue-link.tsx
  ui-v2/src/components/work-pools/work-queue-select/work-queue-select.test.tsx
  ui-v2/src/components/work-pools/work-queue-select/work-queue-select.tsx
Labels: ui-replatform

#17428 have orval-generated zod schemas earn their place
  ui-v2/orval.config.cjs
  ui-v2/src/api/zod/admin/admin.ts
  ui-v2/src/api/zod/artifacts/artifacts.ts
  ui-v2/src/api/zod/automations/automations.ts
  ui-v2/src/api/zod/block-capabilities/block-capabilities.ts
  ui-v2/src/api/zod/block-documents/block-documents.ts
  ui-v2/src/api/zod/block-schemas/block-schemas.ts
  ui-v2/src/api/zod/block-types/block-types.ts
  ui-v2/src/api/zod/collections/collections.ts
  ui-v2/src/api/zod/concurrency-limits-v2/concurrency-limits-v2.ts
  ui-v2/src/api/zod/concurrency-limits/concurrency-limits.ts
  ui-v2/src/api/zod/default/default.ts
  ui-v2/src/api/zod/deployments/deployments.ts
  ui-v2/src/api/zod/flow-run-notification-policies/flow-run-notification-policies.ts
  ui-v2/src/api/zod/flow-run-states/flow-run-states.ts
  ui-v2/src/api/zod/flow-runs/flow-runs.ts
  ui-v2/src/api/zod/flows/flows.ts
  ui-v2/src/api/zod/root/root.ts
  ui-v2/src/api/zod/saved-searches/saved-searches.ts
  ui-v2/src/api/zod/task-run-states/task-run-states.ts
  ui-v2/src/api/zod/task-runs/task-runs.ts
  ui-v2/src/api/zod/task-workers/task-workers.ts
  ui-v2/src/api/zod/ui/ui.ts
  ui-v2/src/api/zod/variables/variables.ts
  ui-v2/src/api/zod/work-pools/work-pools.ts
  ui-v2/src/api/zod/work-queues/work-queues.ts
Labels: ui-replatform

#17412 Improve eviction handling for flow runs started by the Kubernetes worker
  .github/workflows/k8s-integration-tests.yaml
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_eviction.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/utils/prefect_core.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Labels: enhancement

#17435 Update optional dependencies in integration packages to use `[project.optional-dependencies]`
  src/integrations/prefect-azure/pyproject.toml
  src/integrations/prefect-dbt/pyproject.toml
  src/integrations/prefect-gcp/pyproject.toml
Labels: bug

#17436 fix improper `await` of `RunnerDeployment`
  src/prefect/flows.py
  tests/test_flows.py
  uv.lock
Labels: bug, enhancement, fix

#17417 Disables run tracer with `PREFECT_CLOUD_ENABLE_ORCHESTRATION_TELEMETRY`
  src/prefect/telemetry/run_telemetry.py
  tests/telemetry/test_run_telemetry.py
Labels: bug

#17443 Fix `disable_run_logger` context manager
  src/prefect/logging/loggers.py
  tests/test_logging.py
Labels: bug

#17447 Fix `serve` deployment name truncation
  src/prefect/flows.py
  tests/test_flows.py
  uv.lock
Labels: bug, fix

#17464 [Docs] Move Modal tutorial to the Dynamic infrastructure examples section
  docs/mint.json
  docs/v3/deploy/infrastructure-concepts/work-pools.mdx
  docs/v3/deploy/infrastructure-examples/modal.mdx
  docs/v3/deploy/infrastructure-examples/serverless.mdx
  docs/v3/get-started/index.mdx
Labels: docs

#17468 Create a new section for self-hosted server examples (CLI, Docker, Helm)
  docs/contribute/dev-contribute.mdx
  docs/mint.json
  docs/v3/api-ref/rest-api/server/index.mdx
  docs/v3/get-started/install.mdx
  docs/v3/manage/index.mdx
  docs/v3/manage/server/examples/cli.mdx
  docs/v3/manage/server/examples/docker.mdx
  docs/v3/manage/server/examples/helm.mdx
  docs/v3/manage/server/index.mdx
  docs/v3/tutorials/platform.mdx
Labels: docs

#17469 [Docs] Remove dangling tutorial references
  docs/mint.json
Labels: docs

#17472 Ensure base `prefect.yaml` template is included in built package
  .gitignore
Labels: bug

#17474 Add caching to `create_api_app` to fix errors when using server-side orchestration client
  src/prefect/server/api/server.py
  tests/server/api/test_clients.py
  ui-v2/src/api/zod/events/events.ts
Labels: bug

#17470 Remove unused yaml files and refs
  src/prefect/cli/dev.py
  src/prefect/cli/templates/kubernetes-agent.yaml
  src/prefect/cli/templates/kubernetes-dev.yaml
  src/prefect/cli/templates/kubernetes-server.yaml
Labels: development

#17479 docs(slas): add example using the Terraform provider
  docs/v3/automate/events/slas.mdx
Labels: docs

#17108 [UI-v2] feat: finish flows page
  ui-v2/src/api/flows/flows.test.ts
  ui-v2/src/api/flows/index.ts
  ui-v2/src/components/flows/cells.tsx
  ui-v2/src/components/flows/columns.tsx
  ui-v2/src/components/flows/data-table.tsx
  ui-v2/src/components/flows/flows-page-header.tsx
  ui-v2/src/components/flows/flows-page.tsx
  ui-v2/src/components/flows/table-count-header.tsx
  ui-v2/src/components/ui/docs-link/constants.ts
  ui-v2/src/routes/flows/index.tsx
Labels: status:stale, ui-replatform

#17483 [UI v2] fix: Fixes Artifacts table hydration warnings
  ui-v2/src/components/artifacts/artifact/artifact-detail-page.test.tsx
  ui-v2/src/components/artifacts/artifact/detail-table.tsx
Labels: ui-replatform

#17485 [UI v2] feat: Begins APIS for block documents list and count
  ui-v2/src/api/automations/use-get-automation-action-resources/use-get-automation-action-resources.ts
  ui-v2/src/api/block-documents/block-documents.test.ts
  ui-v2/src/api/block-documents/block-documents.ts
  ui-v2/src/api/block-documents/index.ts
  ui-v2/tests/utils/handlers.ts
Labels: ui-replatform

#17486 [UI v2] feat: Adds Blocks Empty State component
  ui-v2/src/components/blocks/empty-state/empty-state.stories.tsx
  ui-v2/src/components/blocks/empty-state/empty-state.tsx
  ui-v2/src/components/blocks/empty-state/index.ts
  ui-v2/src/components/ui/docs-link/constants.ts
Labels: ui-replatform

#17491 fix broken slack link in docs
  docs/mint.json
Labels: docs

#17496 [UI v2] feat: Adds useDeleteBlockConfirmationDialog hook
  ui-v2/src/api/block-documents/block-documents.test.ts
  ui-v2/src/api/block-documents/block-documents.ts
  ui-v2/src/api/block-documents/index.ts
  ui-v2/src/components/blocks/use-delete-block-document-confirmation-dialog.ts
  ui-v2/tests/utils/handlers.ts
Labels: ui-replatform

#17495 [UI v2] feat: Adds BlockDocumentActionMenu component
  ui-v2/src/components/blocks/block-document-action-menu/block-document-action-menu.stories.tsx
  ui-v2/src/components/blocks/block-document-action-menu/block-document-action-menu.test.tsx
  ui-v2/src/components/blocks/block-document-action-menu/block-document-action-menu.tsx
  ui-v2/src/components/blocks/block-document-action-menu/index.ts
Labels: ui-replatform

#17509 rm pendulum from integrations
  docs/v3/automate/add-schedules.mdx
  docs/v3/develop/runtime-context.mdx
  src/integrations/prefect-aws/tests/test_secrets_manager.py
  src/integrations/prefect-docker/prefect_docker/deployments/steps.py
  src/integrations/prefect-docker/tests/deployments/test_steps.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Labels: development, docs

#17502 Get `pyright` check passing for `prefect.runner` submodules
  pyrightconfig-ci.json
  src/prefect/runner/__init__.py
  src/prefect/runner/runner.py
  src/prefect/runner/server.py
  src/prefect/runner/storage.py
  src/prefect/runner/submit.py
  src/prefect/runner/utils.py
  src/prefect/utilities/engine.py
Labels: development

#17454 Only log at INFO level for final state
  src/prefect/flow_engine.py
  src/prefect/flow_runs.py
Labels: bug

#17407 Bugfix: Paginated task runs route + client-side fix
  docs/mint.json
  docs/v3/api-ref/rest-api/server/schema.json
  docs/v3/api-ref/rest-api/server/task-runs/paginate-task-runs.mdx
  src/prefect/server/api/task_runs.py
  src/prefect/server/schemas/responses.py
  tests/server/orchestration/api/test_task_runs.py
  ui-v2/src/api/prefect.ts
  ui/src/pages/Runs.vue
Labels: bug, ui

#17523 chore(docs): link to new ECS worker Terraform module
  docs/integrations/prefect-aws/ecs_guide.mdx
Labels: docs

#17526 update `Field` `examples` kwargs for gcp and databricks
  src/integrations/prefect-databricks/prefect_databricks/models/jobs.py
  src/integrations/prefect-gcp/prefect_gcp/workers/cloud_run_v2.py
Labels: development

#17488 Adds new setting `PREFECT_TASKS_DEFAULT_NO_CACHE` to not cache by default
  docs/v3/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/settings/models/tasks.py
  src/prefect/tasks.py
  tests/test_settings.py
  tests/test_tasks.py
Labels: enhancement, docs

#17528 Adds back telemetry service to all servers when enabled
  src/prefect/server/services/telemetry.py
  tests/server/services/test_service_subsets.py
Labels: development

#17527 schema changes for work pool storage config
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  src/prefect/server/database/_migrations/MIGRATION-NOTES.md
  src/prefect/server/database/_migrations/versions/postgresql/2025_03_19_143502_b5f5644500d2_add_storage_configuration_to_work_pool.py
  src/prefect/server/database/_migrations/versions/sqlite/2025_03_19_142603_3457c6ca2360_add_storage_configuration_to_work_pool.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  tests/client/test_prefect_client.py
  tests/server/models/test_workers.py
  ui-v2/src/api/prefect.ts
Labels: enhancement, development, migration

#17535 #fix: fix docker build with context arg when already set
  src/prefect/docker/docker_image.py
Labels: bug

#17540 increase cloud run worker timeout
  src/integrations/prefect-gcp/prefect_gcp/workers/cloud_run_v2.py
Labels: enhancement

#17541 avoid inheriting `NullFilesystem` for transaction metadata storage
  src/prefect/transactions.py
  tests/test_transactions.py
Labels: fix

#17537 fix(flow-run): ensure state is consistent when cancelling
  src/prefect/workers/base.py
Labels: bug

#17524 Don't pop the loader module
  flows/multiprocessing_flow.py
  src/prefect/deployments/runner.py
  src/prefect/utilities/importtools.py
  tests/runner/test_runner.py
  tests/utilities/test_importtools.py
Labels: bug, needs:research

#17530 Persist work pool and job variables for submitted ad-hoc flow runs
  docs/v3/api-ref/rest-api/server/schema.json
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
  src/prefect/client/orchestration/_flow_runs/client.py
  src/prefect/client/schemas/actions.py
  src/prefect/server/api/flow_runs.py
  src/prefect/server/schemas/actions.py
  tests/server/orchestration/api/test_flow_runs.py
  ui-v2/src/api/prefect.ts
Labels: enhancement

#17543 Add `prefect-docker`'s `DockerRegistryCredentials` as accepted type for ACI job configuration's `image_registry`
  src/integrations/prefect-azure/prefect_azure/workers/container_instance.py
  src/integrations/prefect-azure/pyproject.toml
  src/integrations/prefect-azure/tests/test_aci_worker.py
Labels: bug

#17552 Convert strings to timezone-aware datetimes in the flow run graph API
  src/prefect/server/models/flow_runs.py
  tests/server/orchestration/api/test_flow_run_graph_v2.py
Labels: bug

#17549 Update ACI worker base job template with current docker registry block
  src/prefect/server/api/collections_data/views/aggregate-worker-metadata.json
Labels: bug

#17548 Add experimental CLI for configuring work pool storage
  src/prefect/cli/work_pool.py
  tests/cli/test_work_pool.py
Labels: enhancement

#17551 Account for `_resolve_path` returning `None`
  src/prefect/results.py
Labels: bug

#17512 fix kubernetes job variables merge logic
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Labels: bug, fix

#17556 Update docs on managed execution limits
  docs/v3/deploy/infrastructure-examples/managed.mdx
Labels: docs

#17554 fix: Pass DOCKER_CLIENT_TIMEOUT to the worker docker client
  src/integrations/prefect-docker/prefect_docker/worker.py
  src/integrations/prefect-docker/tests/test_worker.py
Labels: enhancement

#17532 Add new deployment version table
  src/prefect/server/database/_migrations/MIGRATION-NOTES.md
  src/prefect/server/database/_migrations/versions/postgresql/2025_03_19_145033_06b7c293bc69_create_new_deployment_version_table.py
  src/prefect/server/database/_migrations/versions/sqlite/2025_03_19_145018_bbca16f6f218_create_new_deployment_version_table.py
Labels: migration

#17564 Improve ad-hoc infrastructure submission error handling
  src/integrations/prefect-aws/prefect_aws/experimental/bundles/execute.py
  src/integrations/prefect-aws/prefect_aws/experimental/bundles/upload.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/experimental/decorators.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/experimental/test_decorator.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
  src/prefect/_experimental/bundles.py
Labels: enhancement

#17569 Various typing improvments
  pyrightconfig-ci.json
  src/prefect/_internal/concurrency/services.py
  src/prefect/locking/memory.py
  src/prefect/logging/__init__.py
  src/prefect/logging/configuration.py
  src/prefect/logging/formatters.py
  src/prefect/logging/handlers.py
  tests/fixtures/logging.py
  tests/test_logging.py
Labels: development

#17487 [UI v2] feat: Starts RQ queries for block_types list
  ui-v2/src/api/block-types/block-types.test.ts
  ui-v2/src/api/block-types/block-types.ts
  ui-v2/src/api/block-types/index.ts
  ui-v2/src/mocks/create-fake-block-type.ts
  ui-v2/src/mocks/index.ts
  ui-v2/tests/utils/handlers.ts
Labels: ui-replatform

#17581 bump `typing-extensions` lower bound
  pyproject.toml
Labels: bug

#17582 fix: cli login command in modal docs
  docs/v3/deploy/infrastructure-examples/modal.mdx
Labels: docs

#17586 fix proxy test
  .github/workflows/proxy-test.yaml
Labels: development

#17590 Move settings ref to reference section
  docs/mint.json
  docs/v3/api-ref/settings-ref.mdx
  scripts/generate_settings_ref.py
Labels: docs

#17597 Gate on concurrency prior to entering a Running state
  src/prefect/task_engine.py
  tests/test_task_engine.py
Labels: bug

#17608 Chooses the right Dockerfile for building `prefect-client`
  .github/workflows/docker-images.yaml
Labels: development

#17591 migrate mintlify to docs.json + light bikeshedding
  docs/docs.json
  docs/mint.json
  docs/package-lock.json
  docs/styles.css
  docs/v3/get-started/index.mdx
  docs/v3/get-started/install.mdx
  docs/v3/get-started/quickstart.mdx
  scripts/generate_mintlify_openapi_docs.py
Labels: docs

#17607 respect default namespace for docker `prefect.yaml` steps
  src/integrations/prefect-docker/prefect_docker/deployments/steps.py
  src/integrations/prefect-docker/tests/deployments/test_steps.py
  tests/cli/test_deploy.py
Labels: bug

#17614 Fix syntax in schedules example
  docs/v3/automate/add-schedules.mdx
Labels: docs

#17611 Stable cache keys for pandas
  .github/workflows/static-analysis.yaml
  pyproject.toml
  src/prefect/cache_policies.py
  tests/test_cache_policies.py
  uv.lock
Labels: bug

#17629 Fix `mark_flow_run_as_cancelled` in worker still gets error
  src/prefect/workers/base.py
Labels: bug

#17636 remove extra getattr calls in `visit_collection` for `pydantic` objects
  src/prefect/utilities/collections.py
  tests/utilities/test_collections.py
Labels: bug

#17639 fix broken link in docs for settings ref
  docs/docs.json
Labels: docs

#17642 docs(gcp): fix google cloud run worker guide link
  docs/integrations/prefect-gcp/index.mdx
Labels: docs

#17658 Handle all `emit_event` errors and log them
  src/prefect/events/utilities.py
Labels: bug

#17644 fix: ui files permissions for self-hosted
  src/prefect/server/api/server.py
Labels: bug

#17648 Update `DaskTaskRunner` to lazily load the Dask client
  src/integrations/prefect-dask/prefect_dask/task_runners.py
  src/integrations/prefect-dask/pyproject.toml
  src/integrations/prefect-dask/tests/test_task_runners.py
Labels: bug

#17663 handle `targeted_retries=0` in `run_dbt_cloud_job`
  src/integrations/prefect-dbt/prefect_dbt/cloud/jobs.py
  src/integrations/prefect-dbt/tests/cloud/test_jobs.py
Labels: bug

#16393 Added worker for Snowflake's Snowpark Container Services
  src/integrations/prefect-snowflake/prefect_snowflake/experimental/workers/__init__.py
  src/integrations/prefect-snowflake/prefect_snowflake/experimental/workers/spcs.py
  src/integrations/prefect-snowflake/pyproject.toml
  src/integrations/prefect-snowflake/tests/experimental/test_spcs_worker.py
Labels: enhancement

#17659 Add logic to handle cancel_scope None
  src/prefect/_internal/concurrency/calls.py
Labels: development
