Repository PrefectHQ/prefect, pull requests merged in 2025-02, with the labels that each got.

#16927 Unifies background service running between the web server and CLI
  src/prefect/cli/server.py
  src/prefect/server/api/server.py
  src/prefect/server/events/services/actions.py
  src/prefect/server/events/services/event_logger.py
  src/prefect/server/events/services/event_persister.py
  src/prefect/server/events/services/triggers.py
  src/prefect/server/events/stream.py
  src/prefect/server/services/base.py
  src/prefect/server/services/task_run_recorder.py
Labels: development

#16932 Add fix for creating profile with default name conflict
  src/prefect/cli/profile.py
  tests/cli/test_profile.py
Labels: bug

#16903 [UI v2] feat: Adds Server Settings component
  ui-v2/src/components/settings/server-settings.tsx
  ui-v2/src/components/ui/json-input.tsx
Labels: ui-replatform

#16901 [UI v2] feat: Adds Server Settings component
  ui-v2/src/components/settings/theme-switch.tsx
Labels: ui-replatform

#16943 rm `pendulum` use in `schedules.py`
  src/prefect/client/schemas/schedules.py
Labels: development

#16931 fix(docs): small quickstart fixes
  docs/v3/get-started/quickstart.mdx
Labels: docs

#16947 Add database migration that adds parameter fields to deployment schedules
  src/prefect/server/database/_migrations/MIGRATION-NOTES.md
  src/prefect/server/database/_migrations/versions/postgresql/2025_02_03_125146_c163acd7e8e3_add_parameters_column_to_deployment_.py
  src/prefect/server/database/_migrations/versions/sqlite/2025_02_03_125228_67f886da208e_add_parameters_column_to_deployment_.py
  src/prefect/server/database/orm_models.py
Labels: enhancement

#16921 Fix: Event cleaning without timeouts
  docs/v3/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/server/events/services/event_persister.py
  src/prefect/settings/models/server/services.py
  tests/events/server/storage/test_event_persister.py
  tests/test_settings.py
Labels: bug, docs

#16957 Add file exclusion to codeowners
  .github/CODEOWNERS
Labels: development

#16958 Update a few more small things for labeler and review tags
  .github/CODEOWNERS
  .github/labeler.yml
Labels: development

#16960 fix handling for bad `host` with `prefect server start`
  src/prefect/cli/server.py
  tests/cli/test_start_server.py
Labels: bug, cli, fix

#16961 Remove switching logic within settings config
  .github/labeler.yml
  src/prefect/_internal/schemas/bases.py
  src/prefect/server/utilities/schemas/bases.py
Labels: development

#16951 Add non-public implementation of parametrized schedules
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/server/models/deployments.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/schedules.py
  tests/server/services/test_scheduler.py
  ui-v2/src/api/prefect.ts
Labels: enhancement, docs

#16974 Remove failure flag
  .github/workflows/python-tests.yaml
Labels: development

#16963 Allow definition of per-schedule parameter overrides via `prefect.yaml`
  src/prefect/cli/deploy.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  tests/cli/test_deploy.py
Labels: enhancement

#16970 Add suggestion to pause schedules prior to upgrading
  docs/v3/resources/upgrade-to-prefect-3.mdx
Labels: bug, docs

#16965 Allow definition of per-schedule parameters via `.serve` and `.deploy`
  src/prefect/client/schemas/actions.py
  src/prefect/client/types/flexible_schedule_list.py
  src/prefect/deployments/runner.py
  src/prefect/deployments/schedules.py
  src/prefect/flows.py
  src/prefect/runner/runner.py
  src/prefect/schedules.py
  tests/runner/test_runner.py
  tests/test_flows.py
  tests/test_schedules.py
Labels: enhancement

#16983 [UI v2] Simplify toast listeners
  ui-v2/src/hooks/use-toast.ts
Labels: ui-replatform

#16980 Chore: Add `/reference` redirects
  docs/mint.json
Labels: docs

#16975 Use nvm in pre-commit hooks
  .pre-commit-config.yaml
Labels: development

#16992 Use retry logic of underlying prefect client properly
  src/prefect/client/orchestration/base.py
Labels: bug, enhancement

#16993 chore: Add additional `reference` redirects
  docs/mint.json
  docs/v3/api-ref/index.mdx
Labels: docs

#17002 Add slugs to schedules and populate created_by
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/server/api/deployments.py
  src/prefect/server/database/_migrations/versions/postgresql/2025_02_05_152418_a03d00b8e275_add_slug_column_to_deployment_schedule.py
  src/prefect/server/database/_migrations/versions/sqlite/2025_02_05_152431_07ecde74d74d_add_slug_column_to_deployment_schedule.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/models/deployments.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  tests/server/database/test_migrations.py
  tests/server/orchestration/api/test_deployment_schedules.py
  ui-v2/src/api/prefect.ts
Labels: enhancement, docs, migration, ui-replatform

#17003 Remove many circular imports
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/cli/deploy.py
  src/prefect/deployments/runner.py
  src/prefect/server/api/work_queues.py
  src/prefect/server/database/__init__.py
  src/prefect/server/database/dependencies.py
  src/prefect/server/models/__init__.py
  src/prefect/server/models/agents.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/sorting.py
  src/prefect/server/utilities/database.py
  src/prefect/utilities/schema_tools/hydration.py
  tests/server/models/test_agents.py
  tests/server/orchestration/api/test_work_queues.py
  ui-v2/src/api/prefect.ts
Labels: bug, docs, ui-replatform

#17009 Fix labeler to remove unnecessary labels
  .github/labeler.yml
Labels: development

#17008 Remove full team from schema json updates
  .github/CODEOWNERS
Labels: development

#16997 Update a few more links to the SDK reference
  docs/contribute/develop-a-new-worker-type.mdx
  docs/integrations/prefect-aws/sdk.mdx
  docs/integrations/prefect-azure/sdk.mdx
  docs/integrations/prefect-bitbucket/sdk.mdx
  docs/integrations/prefect-dask/sdk.mdx
  docs/integrations/prefect-databricks/sdk.mdx
  docs/integrations/prefect-dbt/index.mdx
  docs/integrations/prefect-dbt/sdk.mdx
  docs/integrations/prefect-docker/sdk.mdx
  docs/integrations/prefect-email/sdk.mdx
  docs/integrations/prefect-gcp/sdk.mdx
  docs/integrations/prefect-github/sdk.mdx
  docs/integrations/prefect-gitlab/sdk.mdx
  docs/integrations/prefect-kubernetes/sdk.mdx
  docs/integrations/prefect-ray/sdk.mdx
  docs/integrations/prefect-redis/index.mdx
  docs/integrations/prefect-redis/sdk.mdx
  docs/integrations/prefect-shell/sdk.mdx
  docs/integrations/prefect-slack/sdk.mdx
  docs/integrations/prefect-snowflake/index.mdx
  docs/integrations/prefect-snowflake/sdk.mdx
  docs/integrations/prefect-sqlalchemy/sdk.mdx
  docs/v3/api-ref/python/index.mdx
  docs/v3/api-ref/rest-api/index.mdx
  docs/v3/automate/events/automations-triggers.mdx
  docs/v3/deploy/index.mdx
  docs/v3/deploy/infrastructure-concepts/store-flow-code.mdx
  docs/v3/deploy/infrastructure-concepts/workers.mdx
  docs/v3/develop/interact-with-api.mdx
  docs/v3/develop/pause-resume.mdx
  docs/v3/develop/runtime-context.mdx
  docs/v3/develop/task-caching.mdx
  docs/v3/develop/task-run-limits.mdx
  docs/v3/develop/task-runners.mdx
  docs/v3/develop/write-flows.mdx
  docs/v3/develop/write-tasks.mdx
  docs/v3/manage/cloud/troubleshoot-cloud.mdx
  docs/v3/resources/upgrade-agents-to-workers.mdx
Labels: docs

#16989 [UI v2] chore: Deprecates notifications route from react webapp
  ui-v2/src/components/ui/app-sidebar.tsx
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/notifications.tsx
  ui-v2/tests/app.test.tsx
Labels: ui-replatform

#16990 [UI v2] feat: Adds links to deployment table for deployment details and flows
  ui-v2/src/components/deployments/data-table/data-table.test.tsx
  ui-v2/src/components/deployments/data-table/index.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/flow-run-activity-bar-graph.test.tsx
Labels: ui-replatform

#17000 add docs on per-schedule parameters
  docs/v3/automate/add-schedules.mdx
  docs/v3/deploy/infrastructure-concepts/deploy-via-python.mdx
  docs/v3/resources/upgrade-to-prefect-3.mdx
Labels: docs

#16994 [UI v2] feat: Adds deployment details RQ hook
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/deployments/index.ts
  ui-v2/src/routes/deployments/deployment.$id.tsx
Labels: ui-replatform

#16986 Devan/eng 1263 add queries for artifacts
  ui-v2/src/api/artifacts/artifacts.test.ts
  ui-v2/src/api/artifacts/index.ts
  ui-v2/src/components/artifacts/artifacts-filter.test.tsx
  ui-v2/src/components/artifacts/artifacts-filter.tsx
  ui-v2/src/components/artifacts/artifacts-header.tsx
  ui-v2/src/components/artifacts/artifacts-page.test.tsx
  ui-v2/src/components/artifacts/artifacts-page.tsx
  ui-v2/src/components/artifacts/types.d.ts
  ui-v2/src/components/ui/docs-link/constants.ts
  ui-v2/src/hooks/use-debounce-callback.tsx
  ui-v2/src/routes/artifacts/index.tsx
Labels: ui-replatform

#16991 [UI v2] feat: Adds search params for the deployment details route
  ui-v2/src/routes/deployments/deployment.$id.tsx
Labels: ui-replatform

#16995 [UI v2] feat: Adds npm script to check only typescript types
  ui-v2/package.json
Labels: ui-replatform

#17001 [UI v2] feat: Moves delete deployment confirmation dialog logic to a re-usable hook
  ui-v2/src/components/deployments/data-table/index.tsx
  ui-v2/src/components/deployments/use-delete-deployment-confirmation-dialog.ts
Labels: ui-replatform

#16999 [UI v2] feat: Scaffolds UX components for deployment details page
  ui-v2/src/components/deployments/deployment-details-header.tsx
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/deployment-details-tabs.tsx
  ui-v2/src/routes/deployments/deployment.$id.tsx
Labels: ui-replatform

#17019 [UI v2] feat: Adds react query options for flow details API
  ui-v2/src/api/flows/flows.test.ts
  ui-v2/src/api/flows/index.ts
Labels: ui-replatform

#17018 Devan/eng 1242 add grid view of artifacts
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/components/artifacts/artifact-card.test.tsx
  ui-v2/src/components/artifacts/artifact-card.tsx
  ui-v2/src/components/artifacts/artifacts-filter.test.tsx
  ui-v2/src/components/artifacts/artifacts-page.tsx
  ui-v2/src/components/ui/typography/typography.tsx
  ui-v2/src/utils/date.ts
  ui-v2/vite.config.ts
Labels: ui-replatform

#17025 [UI-v2] feat: add artifacts list view
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/components/artifacts/artifacts-filter.test.tsx
  ui-v2/src/components/artifacts/artifacts-filter.tsx
  ui-v2/src/components/artifacts/artifacts-header.tsx
  ui-v2/src/components/artifacts/artifacts-page.tsx
  ui-v2/src/components/ui/icons/constants.ts
  ui-v2/src/components/ui/toggle-group.tsx
  ui-v2/src/components/ui/toggle.tsx
Labels: ui-replatform

#17020 [UI v2] feat: Adds deployment flow link
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/deployment-flow-link.tsx
Labels: ui-replatform

#17028 [UI v2] feat: Adds deployment metadata
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/deployment-details-tabs.tsx
  ui-v2/src/components/deployments/deployment-metadata.tsx
Labels: ui-replatform

#17022 support anonymous volumes in `docker` work pool
  src/integrations/prefect-docker/prefect_docker/types.py
  src/integrations/prefect-docker/prefect_docker/worker.py
  src/integrations/prefect-docker/tests/test_worker.py
Labels: bug, integrations

#17014 Remove some log noise in pause and abort handling
  src/prefect/engine.py
  src/prefect/flow_engine.py
Labels: enhancement

#17016 Allow for updating a deployment's parameter openapi schema
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/server/api/deployments.py
  src/prefect/server/schemas/actions.py
  tests/server/orchestration/api/test_deployments.py
  ui-v2/src/api/prefect.ts
Labels: enhancement

#17013 [UI v2] Update types for block schema fields and deployment parameter
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/server/api/ui/schemas.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/responses.py
  ui-v2/src/api/prefect.ts
Labels: ui-replatform

#17010 pin core above `3.1.15` for `prefect-dbt`
  src/integrations/prefect-dbt/pyproject.toml
Labels: bug, development, integrations

#17031 Refactor results and result records to improve circular import situation
  src/prefect/_result_records.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  src/prefect/context.py
  src/prefect/deployments/flow_runs.py
  src/prefect/main.py
  src/prefect/results.py
  src/prefect/states.py
  tests/results/test_result_record.py
  tests/results/test_result_store.py
  tests/server/orchestration/test_core_policy.py
Labels: development

#17045 Allow for pull step updates on deployments
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/server/schemas/actions.py
  tests/server/orchestration/api/test_deployments.py
  ui-v2/src/api/prefect.ts
Labels: enhancement

#17033 Refactor `to_state_create`
  src/prefect/client/orchestration/__init__.py
  src/prefect/client/orchestration/_deployments/client.py
  src/prefect/client/orchestration/_flow_runs/client.py
  src/prefect/client/schemas/objects.py
  src/prefect/states.py
  tests/server/orchestration/api/test_flow_runs.py
  tests/server/orchestration/test_flow_run_instrumentation_policies.py
Labels: bug

#17015 [UI v2] feat: Adds Deployment Action Menu component
  ui-v2/src/components/deployments/deployment-action-menu/deployment-action-menu.stories.tsx
  ui-v2/src/components/deployments/deployment-action-menu/deployment-action-menu.test.tsx
  ui-v2/src/components/deployments/deployment-action-menu/deployment-action-menu.tsx
  ui-v2/src/components/deployments/deployment-action-menu/index.ts
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/deployments/deployment_.$id.duplicate.tsx
  ui-v2/src/routes/deployments/deployment_.$id.edit.tsx
Labels: ui-replatform

#17047 [UI v2] feat: Adds createDeploymentFlowRun mutation
  ui-v2/src/api/flow-runs/flow-runs.test.ts
  ui-v2/src/api/flow-runs/index.ts
Labels: ui-replatform

#16971 Add `PrefectDbtRunner`
  src/integrations/prefect-dbt/prefect_dbt/__init__.py
  src/integrations/prefect-dbt/prefect_dbt/cli/__init__.py
  src/integrations/prefect-dbt/prefect_dbt/core/__init__.py
  src/integrations/prefect-dbt/prefect_dbt/core/runner.py
  src/integrations/prefect-dbt/pyproject.toml
  src/integrations/prefect-dbt/tests/core/test_runner.py
  src/integrations/prefect-dbt/tests/dbt_configs/profiles.yml
  src/integrations/prefect-dbt/tests/test_imports.py
Labels: integrations, migration

#17037 add cli docs
  docs/mint.json
  docs/styles.css
  docs/v3/api-ref/cli/artifact.mdx
  docs/v3/api-ref/cli/automation.mdx
  docs/v3/api-ref/cli/automations.mdx
  docs/v3/api-ref/cli/block.mdx
  docs/v3/api-ref/cli/blocks.mdx
  docs/v3/api-ref/cli/concurrency-limit.mdx
  docs/v3/api-ref/cli/concurrency-limits.mdx
  docs/v3/api-ref/cli/config.mdx
  docs/v3/api-ref/cli/dashboard.mdx
  docs/v3/api-ref/cli/deployment.mdx
  docs/v3/api-ref/cli/deployments.mdx
  docs/v3/api-ref/cli/dev.mdx
  docs/v3/api-ref/cli/event.mdx
  docs/v3/api-ref/cli/events.mdx
  docs/v3/api-ref/cli/flow-run.mdx
  docs/v3/api-ref/cli/flow-runs.mdx
  docs/v3/api-ref/cli/flow.mdx
  docs/v3/api-ref/cli/flows.mdx
  docs/v3/api-ref/cli/gcl.mdx
  docs/v3/api-ref/cli/global-concurrency-limit.mdx
  docs/v3/api-ref/cli/init.mdx
  docs/v3/api-ref/cli/profile.mdx
  docs/v3/api-ref/cli/profiles.mdx
  docs/v3/api-ref/cli/server.mdx
  docs/v3/api-ref/cli/shell.mdx
  docs/v3/api-ref/cli/task-run.mdx
  docs/v3/api-ref/cli/task-runs.mdx
  docs/v3/api-ref/cli/task.mdx
  docs/v3/api-ref/cli/variable.mdx
  docs/v3/api-ref/cli/version.mdx
  docs/v3/api-ref/cli/work-pool.mdx
  docs/v3/api-ref/cli/work-queue.mdx
  docs/v3/api-ref/cli/work-queues.mdx
  docs/v3/api-ref/cli/worker.mdx
  scripts/generate_cli_docs.py
  scripts/templates/docs_template.jinja
  src/prefect/cli/dev.py
Labels: docs

#17030 Devan/eng 1244 artifactskeyname
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/api/artifacts/index.ts
  ui-v2/src/api/artifacts/use-get-artifacts-flow-task-runs/use-get-artifacts-flow-task-runs.ts
  ui-v2/src/api/task-runs/index.ts
  ui-v2/src/api/task-runs/task-runs.test.ts
  ui-v2/src/components/artifacts/artifact-card.test.tsx
  ui-v2/src/components/artifacts/artifact-card.tsx
  ui-v2/src/components/artifacts/artifacts-filter.tsx
  ui-v2/src/components/artifacts/artifacts-header.tsx
  ui-v2/src/components/artifacts/artifacts-page.test.tsx
  ui-v2/src/components/artifacts/artifacts-page.tsx
  ui-v2/src/components/artifacts/key/artifacts-key-header.tsx
  ui-v2/src/components/artifacts/key/artifacts-key-page.tsx
  ui-v2/src/components/artifacts/key/timeline/timelineCard.test.tsx
  ui-v2/src/components/artifacts/key/timeline/timelineCard.tsx
  ui-v2/src/components/artifacts/key/timeline/timelineContainer.test.tsx
  ui-v2/src/components/artifacts/key/timeline/timelineContainer.tsx
  ui-v2/src/components/artifacts/key/timeline/timelineRow.test.tsx
  ui-v2/src/components/artifacts/key/timeline/timelineRow.tsx
  ui-v2/src/components/ui/icons/constants.ts
  ui-v2/src/components/ui/menubar.tsx
  ui-v2/src/hooks/use-debounce-callback.tsx
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/artifacts/key.$key.tsx
  ui-v2/tailwind.config.js
Labels: ui-replatform

#17038 [UI v2] feat: Adds Triggers section in deployment details page
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/deployment-triggers.tsx
  ui-v2/src/routes/automations/create.ts
Labels: ui-replatform

#17051 [UI v2] feat: Adds flow run button to deployment details page
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/run-flow-button/index.ts
  ui-v2/src/components/deployments/run-flow-button/run-flow-button.stories.tsx
  ui-v2/src/components/deployments/run-flow-button/run-flow-button.test.tsx
  ui-v2/src/components/deployments/run-flow-button/run-flow-button.tsx
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/deployments/deployment_.$id.run.tsx
Labels: ui-replatform

#17054 [UI v2] chore: Removes toggleVariants as an export
  ui-v2/src/components/ui/toggle/index.ts
  ui-v2/src/components/ui/toggle/styles.ts
  ui-v2/src/components/ui/toggle/toggle.tsx
Labels: ui-replatform

#17056 [UI v2] feat: Adds Deployment description tab content
  ui-v2/src/components/deployments/deployment-description.tsx
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/deployment-details-tabs.tsx
Labels: ui-replatform

#17063 [UI v2] feat: Adds Deployment configuration tab
  ui-v2/src/components/deployments/deployment-configuration.tsx
  ui-v2/src/components/deployments/deployment-details-tabs.tsx
  ui-v2/src/components/ui/icons/constants.ts
  ui-v2/src/components/ui/json-input.tsx
Labels: ui-replatform

#17059 [UI v2] feat: Adds deployment parameter table
  ui-v2/src/components/deployments/deployment-details-tabs.tsx
  ui-v2/src/components/deployments/deployment-parameters-table/deployment-parameters-table.stories.tsx
  ui-v2/src/components/deployments/deployment-parameters-table/deployment-parameters-table.test.tsx
  ui-v2/src/components/deployments/deployment-parameters-table/deployment-parameters-table.tsx
  ui-v2/src/components/deployments/deployment-parameters-table/index.ts
Labels: ui-replatform

#17070 infer `PREFECT_PROFILES_PATH` from `PREFECT_HOME`
  src/prefect/settings/sources.py
  tests/test_settings.py
Labels: bug, fix

#17073 [UI v2] feat: Adds update deployment schedule hook
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/deployments/index.ts
  ui-v2/tests/utils/handlers.ts
Labels: ui-replatform

#17079 Fix bug where a flow's parameter schema is not included in deployment create/update requests when using `prefect deploy`
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: fix

#17055 Add `PrefectDbtRunner` docs
  docs/integrations/prefect-dbt/index.mdx
Labels: docs

#17078 consolidate use of `pendulum` in `prefect.cli`
  src/prefect/cli/flow_run.py
  src/prefect/cli/global_concurrency_limit.py
  src/prefect/cli/root.py
  src/prefect/cli/task_run.py
  src/prefect/cli/variable.py
  src/prefect/cli/work_queue.py
Labels: development

#17088 Update `prefect-dbt` prerelease install command with `-U`
  docs/integrations/prefect-dbt/index.mdx
Labels: docs

#17098 prefect-snowflake - Bump snowflake dependency
  src/integrations/prefect-snowflake/pyproject.toml
Labels: development, integrations

#17092 [UI-v2] feat: add empty state
  ui-v2/src/components/artifacts/artifacts-page.tsx
  ui-v2/src/components/artifacts/empty-state.tsx
  ui-v2/src/components/ui/icons/constants.ts
Labels: ui-replatform

#17099 pendulum consolidation in `prefect.client`
  src/prefect/client/orchestration/__init__.py
  src/prefect/client/schemas/schedules.py
Labels: development

#17102 pendulum consolidation in `prefect.concurrency`
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/sync.py
  src/prefect/concurrency/v1/asyncio.py
  src/prefect/concurrency/v1/sync.py
Labels: development

#17103 pendulum consolidation in several modules
  src/prefect/deployments/flow_runs.py
  src/prefect/docker/docker_image.py
  src/prefect/events/clients.py
  src/prefect/events/related.py
  src/prefect/locking/filesystem.py
  src/prefect/logging/handlers.py
  src/prefect/runtime/flow_run.py
  src/prefect/types/_datetime.py
  src/prefect/utilities/dockerutils.py
  tests/runtime/test_flow_run.py
Labels: development

#17096 [UI v2] feat: Adds cron input component
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/components/ui/cron-input/cron-input.stories.tsx
  ui-v2/src/components/ui/cron-input/cron-input.test.tsx
  ui-v2/src/components/ui/cron-input/cron-input.tsx
  ui-v2/src/components/ui/cron-input/index.ts
Labels: ui-replatform

#17082 [UI v2] feat: Adds create deployment schedule mutation
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/deployments/index.ts
  ui-v2/tests/utils/handlers.ts
Labels: ui-replatform

#17077 [UI v2] feat: Adds useDeleteDeploymentSchedule hook
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/deployments/index.ts
  ui-v2/tests/utils/handlers.ts
Labels: ui-replatform

#17081 [UI v2] feat: Adds deployment schedule list (except for adding end editing UX)
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-item.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedules.stories.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedules.tsx
  ui-v2/src/components/deployments/deployment-schedules/get-schedule-title.test.ts
  ui-v2/src/components/deployments/deployment-schedules/get-schedule-title.ts
  ui-v2/src/components/deployments/deployment-schedules/index.ts
  ui-v2/src/components/deployments/deployment-schedules/schedule-action-menu.test.tsx
  ui-v2/src/components/deployments/deployment-schedules/schedule-action-menu.tsx
  ui-v2/src/components/deployments/deployment-schedules/schedule-toggle-switch.test.tsx
  ui-v2/src/components/deployments/deployment-schedules/schedule-toggle-switch.tsx
  ui-v2/src/components/deployments/deployment-schedules/types.ts
  ui-v2/src/components/deployments/deployment-schedules/use-delete-schedule.ts
Labels: ui-replatform

#17101 [UI v2] feat: Adds timezone component
  ui-v2/src/components/ui/timezone-select/index.ts
  ui-v2/src/components/ui/timezone-select/timezone-select.stories.tsx
  ui-v2/src/components/ui/timezone-select/timezone-select.test.tsx
  ui-v2/src/components/ui/timezone-select/timezone-select.tsx
  ui-v2/tsconfig.app.json
Labels: ui-replatform

#17107 [UI v2] chore: move artifact type.d.ts to just types.ts
  ui-v2/src/components/artifacts/types.ts
Labels: ui-replatform

#17089 [UI v2] chore: Updates deployment details page route data loading
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/deployment-flow-link.tsx
  ui-v2/src/components/deployments/deployment-triggers.tsx
  ui-v2/src/routes/deployments/deployment.$id.tsx
Labels: ui-replatform

#17053 Devan/eng 1247 artifactsartifactid
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/api/artifacts/use-get-artifacts-flow-task-runs/use-get-artifacts-flow-task-runs.ts
  ui-v2/src/components/artifacts/artifact/artifact-detail-header.test.tsx
  ui-v2/src/components/artifacts/artifact/artifact-detail-header.tsx
  ui-v2/src/components/artifacts/artifact/artifact-detail-page.test.tsx
  ui-v2/src/components/artifacts/artifact/artifact-detail-page.tsx
  ui-v2/src/components/artifacts/artifact/artifact-raw-data-display.test.tsx
  ui-v2/src/components/artifacts/artifact/artifact-raw-data-display.tsx
  ui-v2/src/components/artifacts/artifact/detail-image.test.tsx
  ui-v2/src/components/artifacts/artifact/detail-image.tsx
  ui-v2/src/components/artifacts/artifact/detail-markdown.test.tsx
  ui-v2/src/components/artifacts/artifact/detail-markdown.tsx
  ui-v2/src/components/artifacts/artifact/detail-progress.test.tsx
  ui-v2/src/components/artifacts/artifact/detail-progress.tsx
  ui-v2/src/components/artifacts/artifact/detail-table.test.tsx
  ui-v2/src/components/artifacts/artifact/detail-table.tsx
  ui-v2/src/components/artifacts/key/artifacts-key-header.tsx
  ui-v2/src/components/artifacts/key/timeline/timelineCard.tsx
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/artifacts/artifact.$id.tsx
Labels: ui-replatform

#17119 Remove link in ECS Guide
  docs/integrations/prefect-aws/ecs_guide.mdx
Labels: docs

#17097 Docs: Update GCP integration docs
  docs/integrations/prefect-gcp/index.mdx
Labels: docs

#17123 update idempotency key for scheduled runs to disambiguate schedules
  src/prefect/_result_records.py
  src/prefect/client/orchestration/__init__.py
  src/prefect/server/models/deployments.py
  tests/server/services/test_scheduler.py
Labels: bug, fix

#17128 change docs sidebar items
  docs/mint.json
Labels: docs

#17122 [UI v2] feat: Start UX for adding and editing a deployment schedule
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/deployment-schedule-dialog.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/index.ts
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/rrule-schedule-form.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-item.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedules.tsx
  ui-v2/src/components/deployments/deployment-schedules/schedule-action-menu.test.tsx
  ui-v2/src/components/deployments/deployment-schedules/schedule-action-menu.tsx
  ui-v2/src/components/ui/timezone-select/timezone-select.tsx
Labels: ui-replatform

#17131 Fix link to dbt programmatic invocation
  docs/integrations/prefect-dbt/index.mdx
Labels: docs

#17132 [UI v2] feat: Adds deployment schedule cron tab
  ui-v2/src/api/deployments/index.ts
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/cron-schedule-form.test.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/cron-schedule-form.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/deployment-schedule-dialog.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-item.tsx
  ui-v2/src/components/deployments/deployment-schedules/get-schedule-title.test.ts
  ui-v2/src/components/deployments/deployment-schedules/get-schedule-title.ts
  ui-v2/src/components/deployments/deployment-schedules/schedule-action-menu.tsx
  ui-v2/src/components/deployments/deployment-schedules/schedule-toggle-switch.tsx
  ui-v2/src/components/deployments/deployment-schedules/types.ts
  ui-v2/src/components/deployments/deployment-schedules/use-delete-schedule.ts
Labels: ui-replatform

#17138 Update SDK docs links
  docs/integrations/prefect-aws/index.mdx
  docs/integrations/prefect-bitbucket/index.mdx
  docs/integrations/prefect-dask/index.mdx
  docs/integrations/prefect-databricks/index.mdx
  docs/integrations/prefect-dbt/index.mdx
  docs/integrations/prefect-docker/index.mdx
  docs/integrations/prefect-email/index.mdx
  docs/integrations/prefect-github/index.mdx
  docs/integrations/prefect-gitlab/index.mdx
  docs/integrations/prefect-kubernetes/index.mdx
  docs/integrations/prefect-ray/index.mdx
  docs/integrations/prefect-shell/index.mdx
  docs/integrations/prefect-slack/index.mdx
  docs/integrations/prefect-snowflake/index.mdx
  docs/integrations/prefect-sqlalchemy/index.mdx
Labels: docs

#17136 [UI v2] feat: Adds Day or dialog info
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/cron-schedule-form.test.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/cron-schedule-form.tsx
  ui-v2/src/components/ui/icons/constants.ts
Labels: ui-replatform

#17076 Adds AWS PrivateLink documentation
  docs/mint.json
  docs/v3/manage/cloud/index.mdx
  docs/v3/manage/cloud/manage-users/secure-access-by-private-link.mdx
Labels: enhancement, docs, 3.x, 2.x

#17148 [UI v2] feat: Adds flow run data table filter components
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/cron-schedule-form.test.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/interval-schedule-form.test.tsx
  ui-v2/src/components/flow-runs/data-table/run-name-search.tsx
  ui-v2/src/components/flow-runs/data-table/sort-filter.test.tsx
  ui-v2/src/components/flow-runs/data-table/sort-filter.tsx
  ui-v2/src/components/flow-runs/data-table/state-filter.stories.tsx
  ui-v2/src/components/flow-runs/data-table/state-filter.test.tsx
  ui-v2/src/components/flow-runs/data-table/state-filter.tsx
  ui-v2/src/components/ui/state-badge/index.tsx
Labels: ui-replatform

#17116 Migrate to `pyproject.toml`
  .codespellrc
  .dockerignore
  .github/workflows/api-compatibility-tests.yaml
  .github/workflows/benchmarks.yaml
  .github/workflows/codspeed-benchmarks.yaml
  .github/workflows/integration-package-tests.yaml
  .github/workflows/markdown-tests.yaml
  .github/workflows/prefect-client.yaml
  .github/workflows/python-package.yaml
  .github/workflows/python-tests.yaml
  .github/workflows/static-analysis.yaml
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  MANIFEST.in
  client/build_client.sh
  client/pyproject.toml
  client/setup.py
  docs/contribute/dev-contribute.mdx
  docs/snippets/fork.mdx
  old-sqlite.Dockerfile
  pyproject.toml
  requirements-client.txt
  requirements-dev.txt
  requirements-markdown-tests.txt
  requirements-otel.txt
  requirements.txt
  setup.cfg
  setup.py
  src/integrations/prefect-aws/pyproject.toml
  src/integrations/prefect-azure/pyproject.toml
  src/integrations/prefect-bitbucket/pyproject.toml
  src/integrations/prefect-dask/pyproject.toml
  src/integrations/prefect-databricks/pyproject.toml
  src/integrations/prefect-dbt/pyproject.toml
  src/integrations/prefect-docker/pyproject.toml
  src/integrations/prefect-email/pyproject.toml
  src/integrations/prefect-gcp/pyproject.toml
  src/integrations/prefect-github/pyproject.toml
  src/integrations/prefect-gitlab/pyproject.toml
  src/integrations/prefect-kubernetes/pyproject.toml
  src/integrations/prefect-ray/pyproject.toml
  src/integrations/prefect-redis/pyproject.toml
  src/integrations/prefect-shell/pyproject.toml
  src/integrations/prefect-slack/pyproject.toml
  src/integrations/prefect-snowflake/pyproject.toml
  src/integrations/prefect-sqlalchemy/pyproject.toml
  src/prefect/__init__.py
  src/prefect/_version.py
  src/prefect/cli/dev.py
  src/prefect/client/orchestration/__init__.py
  src/prefect/main.py
  src/prefect/settings/sources.py
  tests/_internal/test_integrations.py
  tests/test_versioneer.py
  tools/write_build_info.py
  versioneer.py
Labels: bug, development, docs, upstream dependency

#17106 consolidate use of `pendulum` in `tests/`: part 1
  tests/blocks/test_system.py
  tests/cli/deployment/test_deployment_run.py
  tests/cli/test_artifact.py
  tests/cli/test_deploy.py
  tests/cli/test_version.py
  tests/conftest.py
  tests/test_flows.py
  tests/test_logging.py
Labels: development

#17169 fix static analysis error
  tests/conftest.py
Labels: development

#17171 Ignore VCS changes in `prefect-client` version determiniation
  client/pyproject.toml
Labels: development

#17176 add `server/ui` to wheel
  pyproject.toml
Labels: bug, fix

#17168 [UI v2] feat: Start flow runs data table UX
  ui-v2/src/api/flow-runs/index.ts
  ui-v2/src/components/flow-runs/data-table/data-table.stories.tsx
  ui-v2/src/components/flow-runs/data-table/data-table.tsx
  ui-v2/src/components/flow-runs/data-table/deployment-cell.tsx
  ui-v2/src/components/flow-runs/data-table/name-cell.tsx
Labels: ui-replatform

#17170 [UI v2] feat: Adds parameters cell to flow run table
  ui-v2/src/components/flow-runs/data-table/data-table.tsx
  ui-v2/src/components/flow-runs/data-table/parameters-cell.tsx
  ui-v2/src/components/ui/icons/constants.ts
Labels: ui-replatform

#17179 [UI v2] feat: Adds StartTimeCell to flow run data table
  ui-v2/src/components/flow-runs/data-table/data-table.tsx
  ui-v2/src/components/flow-runs/data-table/duration-cell.tsx
  ui-v2/src/components/flow-runs/data-table/start-time-cell.tsx
Labels: ui-replatform

#17165 vendor croniter
  pyrightconfig-ci.json
  src/prefect/_internal/schemas/validators.py
  src/prefect/_vendor/croniter/__init__.py
  src/prefect/_vendor/croniter/croniter.py
  src/prefect/server/schemas/schedules.py
Labels: enhancement, development, upstream dependency

#17180 [UI v2] feat: Adds total flow run counter to data table
  ui-v2/src/components/flow-runs/data-table/data-table.stories.tsx
  ui-v2/src/components/flow-runs/data-table/data-table.tsx
  ui-v2/src/components/flow-runs/data-table/state-filter.tsx
Labels: ui-replatform

#17181 [UI v2] feat: Adds delete flow run mutation
  ui-v2/src/api/flow-runs/flow-runs.test.ts
  ui-v2/src/api/flow-runs/index.ts
  ui-v2/tests/utils/handlers.ts
Labels: ui-replatform

#17185 Fix update logic to account for pull_steps
  src/prefect/deployments/runner.py
  tests/runner/test_runner.py
Labels: bug

#17183 fix paths in GHAs
  .github/workflows/api-compatibility-tests.yaml
  .github/workflows/benchmarks.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/codspeed-benchmarks.yaml
  .github/workflows/integration-tests.yaml
  .github/workflows/markdown-tests.yaml
  .github/workflows/proxy-test.yaml
  .github/workflows/python-tests.yaml
Labels: development

#17187 rm croniter dep
  client/pyproject.toml
  pyproject.toml
Labels: development

#17195 Add performance_report_path arg to DaskTaskRunner
  src/integrations/prefect-dask/prefect_dask/task_runners.py
  src/integrations/prefect-dask/pyproject.toml
  src/integrations/prefect-dask/tests/test_task_runners.py
Labels: integrations

#17196 [UI v2] feat: Integrate flow run row deletion to data table
  ui-v2/src/components/flow-runs/data-table/data-table.stories.tsx
  ui-v2/src/components/flow-runs/data-table/data-table.test.tsx
  ui-v2/src/components/flow-runs/data-table/data-table.tsx
  ui-v2/src/components/flow-runs/data-table/deployment-cell.tsx
  ui-v2/src/components/flow-runs/data-table/name-cell.tsx
  ui-v2/src/components/flow-runs/data-table/use-delete-flow-runs-dialog.ts
Labels: ui-replatform

#17145 Rename links to examples and add 'uv run' instructions
  docs/v3/examples/flows.mdx
  docs/v3/examples/index.mdx
  docs/v3/examples/scripts.mdx
Labels: docs

#17198 [UI v2] feat: Adds flow run task count query
  ui-v2/src/api/task-runs/index.ts
  ui-v2/src/api/task-runs/task-runs.test.ts
Labels: ui-replatform

#17200 [UI v2] feat: Adds task run columns to flow run data table
  ui-v2/src/components/flow-runs/data-table/data-table.stories.tsx
  ui-v2/src/components/flow-runs/data-table/data-table.tsx
  ui-v2/src/components/flow-runs/data-table/tasks-cell.tsx
  ui-v2/src/components/ui/icons/constants.ts
  ui-v2/src/mocks/create-fake-flow-run.ts
Labels: ui-replatform

#17202 Removes `client` extras and moves them to top level dependencies
  pyproject.toml
Labels: bug

#17205 [UI v2] feat: Adds search, sort, filtering, and pagination functionality to data table
  ui-v2/src/api/task-runs/index.ts
  ui-v2/src/api/task-runs/task-runs.test.ts
  ui-v2/src/components/flow-runs/data-table/data-table.stories.tsx
  ui-v2/src/components/flow-runs/data-table/data-table.test.tsx
  ui-v2/src/components/flow-runs/data-table/data-table.tsx
  ui-v2/src/components/flow-runs/data-table/run-name-search.tsx
  ui-v2/src/components/flow-runs/data-table/sort-filter.tsx
  ui-v2/src/components/flow-runs/data-table/state-filter.tsx
  ui-v2/src/components/flow-runs/data-table/tasks-cell.tsx
Labels: ui-replatform

#17199 [Docs] Tweak timeline dates in Prefect History section
  docs/v3/get-started/index.mdx
Labels: docs

#17095 try improved `cancelled_flow_query `
  src/prefect/server/services/cancellation_cleanup.py
  tests/server/services/test_cancellation_cleanup.py
Labels: bug

#17206 [UI v2] feat: Adds flow runs paginate query
  ui-v2/src/api/artifacts/use-get-artifacts-flow-task-runs/use-get-artifacts-flow-task-runs.ts
  ui-v2/src/api/flow-runs/flow-runs.test.ts
  ui-v2/src/api/flow-runs/index.ts
  ui-v2/src/components/deployments/data-table/cells.tsx
Labels: ui-replatform

#17216 [UI v2] feat: Re-organizes flow runs data table components and to use a provider for row selection capabilities
  ui-v2/src/components/deployments/deployment-details-tabs.tsx
  ui-v2/src/components/flow-runs/data-table/data-table-filters.tsx
  ui-v2/src/components/flow-runs/data-table/data-table.stories.tsx
  ui-v2/src/components/flow-runs/data-table/data-table.test.tsx
  ui-v2/src/components/flow-runs/data-table/data-table.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-cells/deployment-cell.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-cells/duration-cell.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-cells/name-cell.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-cells/parameters-cell.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-cells/start-time-cell.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-cells/tasks-cell.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-filters/flow-runs-filters.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-filters/run-name-search.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-filters/sort-filter.constants.ts
  ui-v2/src/components/flow-runs/data-table/flow-runs-filters/sort-filter.test.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-filters/sort-filter.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-filters/state-filter.stories.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-filters/state-filter.test.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-filters/state-filter.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-filters/state-filters.constants.ts
  ui-v2/src/components/flow-runs/data-table/index.ts
  ui-v2/src/components/flow-runs/data-table/row-selection-context.ts
  ui-v2/src/components/flow-runs/data-table/row-selection-provider.tsx
Labels: ui-replatform

#17201 experimental `prefect-aws` bundle steps
  src/integrations/prefect-aws/prefect_aws/deployments/steps.py
  src/integrations/prefect-aws/prefect_aws/experimental/__init__.py
  src/integrations/prefect-aws/prefect_aws/experimental/bundles/__init__.py
  src/integrations/prefect-aws/prefect_aws/experimental/bundles/execute.py
  src/integrations/prefect-aws/prefect_aws/experimental/bundles/types.py
  src/integrations/prefect-aws/prefect_aws/experimental/bundles/upload.py
  src/integrations/prefect-aws/prefect_aws/s3.py
  src/integrations/prefect-aws/tests/experimental/test_bundles.py
Labels: integrations

#17220 [UI v2] fix: Fixed deployment details tags not appearing when tags is empty
  ui-v2/src/components/deployments/deployment-metadata.tsx
Labels: ui-replatform

#17217 [UI v2] feat: adds query to join flow runs with parent flow
  ui-v2/src/api/flow-runs/use-paginate-flow-runs-with-flows/index.ts
  ui-v2/src/api/flow-runs/use-paginate-flow-runs-with-flows/use-paginate-flow-runs-with-flows.test.ts
  ui-v2/src/api/flow-runs/use-paginate-flow-runs-with-flows/use-paginate-flow-runs-with-flows.ts
Labels: ui-replatform

#17210 Add warning of potential client/server incompatibilities
  docs/v3/manage/self-host.mdx
  src/prefect/client/orchestration/__init__.py
  tests/client/test_prefect_client.py
Labels: enhancement, docs

#17222 17152 v2
  src/prefect/logging/configuration.py
  src/prefect/settings/base.py
  tests/test_settings.py
Labels: docs, ui-replatform

#17162 respect aliases when loading custom `logging.yaml`
  src/prefect/logging/configuration.py
  src/prefect/settings/base.py
  tests/test_logging.py
  tests/test_settings.py
Labels: bug, fix

#16967 Adds `PREFECT_SERVER_API_BASE_PATH` setting
  docs/v3/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/server/api/server.py
  src/prefect/settings/models/root.py
  src/prefect/settings/models/server/api.py
  tests/test_settings.py
Labels: bug, docs

#17223 standardize names of step action slugs in docs
  docs/v3/deploy/infrastructure-concepts/deploy-ci-cd.mdx
Labels: docs

#17221 [UI v2] feat: Adds deployment details upcoming tab UX
  ui-v2/src/api/flow-runs/index.ts
  ui-v2/src/api/flow-runs/use-paginate-flow-runs-with-flows/use-paginate-flow-runs-with-flows.ts
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/deployment-details-tabs.tsx
  ui-v2/src/components/deployments/deployment-details-upcoming-tab.tsx
  ui-v2/src/components/flow-runs/data-table/data-table-filters.tsx
  ui-v2/src/components/flow-runs/data-table/use-delete-flow-runs-dialog.ts
  ui-v2/src/routes/deployments/deployment.$id.tsx
Labels: ui-replatform

#16944 Prefect yaml triggers add description.
  src/prefect/events/schemas/automations.py
  tests/cli/test_deploy.py
Labels: enhancement, ui-replatform

#17232 Set `cache_ok` flag to true for UUIDList
  src/prefect/server/database/query_components.py
Labels: enhancement

#17235 cleaning unnecessary files from repo root
  .codespellrc
  .gitattributes
  .pre-commit-config.yaml
  .ruff.toml
  pyproject.toml
  settings_schema.json
Labels: development

#17240 Brings back `EventPersister` in discovery of background services
  src/prefect/server/services/base.py
  tests/server/services/test_service_subsets.py
Labels: bug

#17238 [UI v2] feat: Start transition flow runs list form data table to cards
  ui-v2/src/components/deployments/deployment-details-upcoming-tab.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-run-card.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-filters.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-filters/flow-runs-filters.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-filters/run-name-search.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-filters/sort-filter.constants.ts
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-filters/sort-filter.test.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-filters/sort-filter.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-filters/state-filter.stories.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-filters/state-filter.test.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-filters/state-filter.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-filters/state-filters.constants.ts
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-list.stories.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-list.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-pagination.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-row-count.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/index.ts
  ui-v2/src/components/flow-runs/flow-runs-list/types.ts
  ui-v2/src/components/flow-runs/flow-runs-list/use-delete-flow-runs-dialog.ts
Labels: ui-replatform

#17261 Add option to log warning when placeholder values is missing when templating
  src/prefect/cli/deploy.py
  src/prefect/utilities/templating.py
  tests/cli/test_deploy.py
  tests/utilities/test_templating.py
Labels: bug

#17263 Remove broken link and add redirect for terraform provider
  docs/mint.json
Labels: docs

#17029 explain slugs in schedules docs
  docs/v3/automate/add-schedules.mdx
Labels: docs

#17250 Add handling to propagate dependencies for submitted flow runs
  pyproject.toml
  src/prefect/_experimental/bundles.py
  tests/experimental/test_bundles.py
  tests/runner/test_runner.py
Labels: enhancement

#17242 [UI v2] feat: Refines flow run card in replacement for flow run data table
  ui-v2/src/components/deployments/deployment-details-tabs.tsx
  ui-v2/src/components/deployments/deployment-details-upcoming-tab.tsx
  ui-v2/src/components/flow-runs/data-table/data-table-filters.tsx
  ui-v2/src/components/flow-runs/data-table/data-table.stories.tsx
  ui-v2/src/components/flow-runs/data-table/data-table.test.tsx
  ui-v2/src/components/flow-runs/data-table/data-table.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-cells/name-cell.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-filters/flow-runs-filters.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-filters/run-name-search.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-filters/sort-filter.constants.ts
  ui-v2/src/components/flow-runs/data-table/flow-runs-filters/sort-filter.test.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-filters/sort-filter.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-filters/state-filter.stories.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-filters/state-filter.test.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-filters/state-filter.tsx
  ui-v2/src/components/flow-runs/data-table/flow-runs-filters/state-filters.constants.ts
  ui-v2/src/components/flow-runs/data-table/index.ts
  ui-v2/src/components/flow-runs/data-table/row-selection-context.ts
  ui-v2/src/components/flow-runs/data-table/row-selection-provider.tsx
  ui-v2/src/components/flow-runs/data-table/use-delete-flow-runs-dialog.ts
  ui-v2/src/components/flow-runs/flow-run-card/card-properties/flow-run-deployment.tsx
  ui-v2/src/components/flow-runs/flow-run-card/card-properties/flow-run-duration.tsx
  ui-v2/src/components/flow-runs/flow-run-card/card-properties/flow-run-name.tsx
  ui-v2/src/components/flow-runs/flow-run-card/card-properties/flow-run-parameters.tsx
  ui-v2/src/components/flow-runs/flow-run-card/card-properties/flow-run-start-time.tsx
  ui-v2/src/components/flow-runs/flow-run-card/card-properties/flow-run-task-runs.tsx
  ui-v2/src/components/flow-runs/flow-run-card/flow-run-card.stories.tsx
  ui-v2/src/components/flow-runs/flow-run-card/flow-run-card.tsx
  ui-v2/src/components/flow-runs/flow-run-card/index.ts
  ui-v2/src/components/flow-runs/flow-runs-list/flow-run-card.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-list.stories.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-list.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-pagination.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-row-count.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/index.ts
  ui-v2/src/components/flow-runs/flow-runs-list/types.ts
  ui-v2/src/components/ui/typography/styles.ts
  ui-v2/src/components/ui/typography/typography.tsx
  ui-v2/src/mocks/create-fake-flow-run.ts
  ui-v2/src/mocks/index.ts
  ui-v2/src/routes/deployments/deployment.$id.tsx
  ui-v2/vite.config.ts
Labels: ui-replatform

#17245 [UI v2] feat: Adds Next run section to run tab
  ui-v2/src/components/deployments/deployment-details-runs-tab.tsx
  ui-v2/src/components/deployments/deployment-details-tabs.tsx
Labels: ui-replatform

#17273 dev group for all integrations
  .github/workflows/integration-package-tests.yaml
  pyproject.toml
  src/integrations/prefect-aws/pyproject.toml
  src/integrations/prefect-azure/pyproject.toml
  src/integrations/prefect-bitbucket/pyproject.toml
  src/integrations/prefect-dask/pyproject.toml
  src/integrations/prefect-databricks/pyproject.toml
  src/integrations/prefect-dbt/pyproject.toml
  src/integrations/prefect-docker/pyproject.toml
  src/integrations/prefect-email/pyproject.toml
  src/integrations/prefect-gcp/pyproject.toml
  src/integrations/prefect-github/pyproject.toml
  src/integrations/prefect-gitlab/pyproject.toml
  src/integrations/prefect-kubernetes/pyproject.toml
  src/integrations/prefect-ray/pyproject.toml
  src/integrations/prefect-redis/pyproject.toml
  src/integrations/prefect-shell/pyproject.toml
  src/integrations/prefect-slack/pyproject.toml
  src/integrations/prefect-snowflake/pyproject.toml
  src/integrations/prefect-sqlalchemy/pyproject.toml
Labels: integrations

#17279 [UI v2] feat: Adds toggle all schedules switch
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/deployments/index.ts
  ui-v2/src/api/flow-runs/index.ts
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-item.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-toggle.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedules.tsx
  ui-v2/src/components/deployments/deployment-schedules/schedule-toggle-switch.tsx
  ui-v2/tests/utils/handlers.ts
Labels: ui-replatform

#17270 [UI v2] feat: Re-adds Alert Dialog to get updated shadcn version for tailwind 4 upgrade
  ui-v2/src/components/ui/alert-dialog.tsx
Labels: ui-replatform

#17282 [UI v2] feat: Completes action items in deployments data table
  ui-v2/src/components/deployments/data-table/cells.tsx
  ui-v2/src/components/deployments/data-table/data-table.stories.tsx
  ui-v2/src/components/deployments/data-table/data-table.test.tsx
  ui-v2/src/components/deployments/data-table/index.tsx
  ui-v2/src/components/deployments/run-flow-button/run-flow-button.tsx
  ui-v2/src/components/deployments/use-quick-run.tsx
  ui-v2/src/routes/deployments/index.tsx
Labels: ui-replatform

#17288 Fix dbt docs typo
  docs/integrations/prefect-dbt/index.mdx
Labels: docs

#17224 [UI-v2] feat: add activity graph
  ui-v2/src/components/flow-runs/activity-chart/activity-chart.test.tsx
  ui-v2/src/components/flow-runs/activity-chart/activity-chart.tsx
  ui-v2/src/components/flow-runs/activity-chart/flowRunCell.test.tsx
  ui-v2/src/components/flow-runs/activity-chart/flowRunCell.tsx
  ui-v2/src/components/flow-runs/activity-chart/popover.test.tsx
  ui-v2/src/components/flow-runs/activity-chart/popover.tsx
  ui-v2/src/components/flows/detail/index.tsx
  ui-v2/src/components/flows/queries.tsx
  ui-v2/src/mocks/create-fake-flow-run.ts
Labels: ui-replatform

#17283 [ui-v2] feat: only lint staged changes on pre-commit
  .pre-commit-config.yaml
  ui-v2/package-lock.json
  ui-v2/package.json
Labels: ui-replatform

#17291 [UI v2] feat: Adds work-pool-select component
  ui-v2/src/components/work-pools/work-pool-select/index.ts
  ui-v2/src/components/work-pools/work-pool-select/work-pool-select.stories.tsx
  ui-v2/src/components/work-pools/work-pool-select/work-pool-select.test.tsx
  ui-v2/src/components/work-pools/work-pool-select/work-pool-select.tsx
Labels: ui-replatform

#17292 [UI v2] feat: Adds API to retrieve a work pool details
  ui-v2/src/api/work-pools/index.ts
  ui-v2/src/api/work-pools/work-pools.test.ts
  ui-v2/src/api/work-pools/work-pools.ts
Labels: ui-replatform

#17296 fix go back to acct for `prefect cloud login` and `prefect cloud workspace set`
  src/prefect/cli/cloud/__init__.py
  tests/cli/cloud/test_cloud.py
Labels: bug, cli, cloud, 3.x

#17297 [UI v2] feat: Adds filter API by for work queues by work pool name
  ui-v2/src/api/work-queues/index.ts
  ui-v2/src/api/work-queues/work-queues.test.ts
  ui-v2/src/api/work-queues/work-queues.ts
Labels: ui-replatform

#17294 [UI v2] feat: Updates deployment details page to have associated work pools and work queues links
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/flows/flow-link.tsx
  ui-v2/src/components/ui/status-badge/index.tsx
  ui-v2/src/components/work-pools/work-pool-link.tsx
  ui-v2/src/components/work-pools/work-queue-link.tsx
  ui-v2/src/routes/deployments/deployment.$id.tsx
Labels: ui-replatform

#17295 Updates `ProcessWorker` to delegate flow run execution to a `Runner`
  src/prefect/flows.py
  src/prefect/runner/runner.py
  src/prefect/server/schemas/actions.py
  src/prefect/telemetry/instrumentation.py
  src/prefect/workers/base.py
  src/prefect/workers/process.py
  tests/runner/test_runner.py
  tests/workers/test_process_worker.py
Labels: bug

#17298 [UI v2] feat: Adds Work Queues select component
  ui-v2/src/components/work-pools/work-pool-select/work-pool-select.test.tsx
  ui-v2/src/components/work-pools/work-queue-select/index.ts
  ui-v2/src/components/work-pools/work-queue-select/work-queue-select.stories.tsx
  ui-v2/src/components/work-pools/work-queue-select/work-queue-select.test.tsx
  ui-v2/src/components/work-pools/work-queue-select/work-queue-select.tsx
Labels: ui-replatform

#17278 Refresh session when deleting schedules off a deployment
  src/prefect/server/models/deployments.py
  tests/server/orchestration/api/test_deployments.py
Labels: bug
