Repository PrefectHQ/prefect, pull requests merged in 2025-04, with the labels that each got.

#17671 temporarily allow `str` or `datetime` for `generate_deprecation_message`
  client/client_flow.py
  client/pyproject.toml
  src/prefect/_internal/compatibility/deprecated.py
  src/prefect/types/_datetime.py
  tests/_internal/compatibility/test_deprecated.py
Labels: development, fix

#17681 update `self.model_fields` -> `type(self).model_fields`
  src/integrations/prefect-dbt/prefect_dbt/cli/configs/base.py
  src/prefect/_internal/schemas/bases.py
  src/prefect/blocks/core.py
  src/prefect/client/schemas/objects.py
  src/prefect/events/filters.py
  src/prefect/server/events/filters.py
  src/prefect/server/utilities/schemas/bases.py
  src/prefect/settings/base.py
Labels: development

#17677 fix date picker test
  ui-v2/src/components/ui/calendar.tsx
  ui-v2/src/components/ui/date-time-picker/date-time-picker.stories.tsx
  ui-v2/src/components/ui/date-time-picker/date-time-picker.test.tsx
  ui-v2/src/components/ui/date-time-picker/date-time-picker.tsx
Labels: ui-replatform

#17684 Add initial `TaskRunDetails` component
  ui-v2/src/components/task-runs/task-run-details/index.ts
  ui-v2/src/components/task-runs/task-run-details/task-run-details.stories.tsx
  ui-v2/src/components/task-runs/task-run-details/task-run-details.test.tsx
  ui-v2/src/components/task-runs/task-run-details/task-run-details.tsx
Labels: ui-replatform

#17675 Update `Cron` `day_or` default to match `croniter` default
  src/prefect/schedules.py
  tests/test_schedules.py
Labels: bug

#17693 Add query builder for log filtering
  ui-v2/.gitignore
  ui-v2/src/api/logs/index.ts
  ui-v2/src/api/logs/logs.test.ts
Labels: ui-replatform

#17698 Fix `pydantic` deprecation warnings
  docs/v3/api-ref/rest-api/server/schema.json
  docs/v3/api-ref/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/_internal/compatibility/deprecated.py
  src/prefect/_internal/pydantic/v2_schema.py
  src/prefect/blocks/core.py
  src/prefect/flows.py
  src/prefect/server/api/flow_runs.py
  src/prefect/server/api/run_history.py
  src/prefect/settings/base.py
  src/prefect/settings/models/root.py
  tests/server/orchestration/api/test_flow_run_graph_v2.py
  tests/utilities/test_callables.py
  ui-v2/src/api/prefect.ts
  ui-v2/src/api/zod/events/events.ts
  ui-v2/src/components/automations/action-details/action-details.stories.tsx
  ui-v2/src/components/deployments/deployment-form/use-deployment-form.ts
  ui-v2/src/components/deployments/deployment-parameters-table/deployment-parameters-table.stories.tsx
  ui-v2/src/components/deployments/deployment-parameters-table/deployment-parameters-table.test.tsx
  ui-v2/src/components/deployments/run-flow-button/run-flow-button.test.tsx
  uv.lock
Labels: development, upstream dependency

#17691 Port dbt snowflake config private key fix to 2.x
  src/integrations/prefect-dbt/prefect_dbt/cli/configs/snowflake.py
  src/integrations/prefect-dbt/tests/cli/configs/test_snowflake.py
Labels: 2.x

#17692 Use platform independent datetime in `prefect version`
  .github/workflows/test-windows-unc.yaml
  .github/workflows/windows-pull-request.yaml
  .github/workflows/windows-tests.yaml
  src/prefect/cli/root.py
  tests/cli/test_version.py
Labels: bug, development, arch:windows

#17707 fix: Fixes margin in flow tables select columns
  ui-v2/src/components/flows/columns.tsx
Labels: ui-replatform

#17679 Fix `redis` locking
  src/integrations/prefect-redis/prefect_redis/locking.py
  src/integrations/prefect-redis/tests/test_locking.py
  uv.lock
Labels: bug, integrations, fix

#17705 feat: Begin Blocks page with just the data table
  ui-v2/src/api/block-documents/block-documents.ts
  ui-v2/src/api/block-documents/index.ts
  ui-v2/src/components/blocks/block-document-data-table/block-document-data-table.tsx
  ui-v2/src/components/blocks/blocks-page.tsx
  ui-v2/src/components/blocks/use-delete-block-document-confirmation-dialog.ts
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/blocks.tsx
  ui-v2/src/routes/blocks/index.tsx
Labels: ui-replatform

#17712 Bugfix: Nullish coalesce the work pools count
  ui-v2/src/api/work-pools/work-pools.ts
Labels: ui-replatform

#17708 Add UI-specific route for task run details
  docs/docs.json
  docs/v3/api-ref/rest-api/server/schema.json
  docs/v3/api-ref/rest-api/server/task-runs/read-task-run-1.mdx
  docs/v3/api-ref/rest-api/server/task-runs/read-task-run-with-flow-run-name.mdx
  src/prefect/server/api/ui/task_runs.py
  src/prefect/server/models/task_runs.py
  src/prefect/server/schemas/__init__.py
  src/prefect/server/schemas/ui.py
  tests/conftest.py
  tests/fixtures/database.py
  tests/server/orchestration/api/test_artifacts.py
  tests/server/orchestration/api/ui/test_task_runs.py
  tests/server/orchestration/test_flow_run_instrumentation_policies.py
  ui-v2/src/api/prefect.ts
Labels: ui-replatform

#17716 Omit UI routes from the REST API reference docs
  docs/docs.json
  docs/v3/api-ref/rest-api/server/schema.json
  scripts/generate_mintlify_openapi_docs.py
Labels: docs

#17688 Add virtualization to `RunLogs` component
  .pre-commit-config.yaml
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/api/logs/index.ts
  ui-v2/src/components/task-runs/task-run-logs/index.tsx
  ui-v2/src/components/task-runs/task-run-logs/task-run-logs.stories.tsx
  ui-v2/src/components/task-runs/task-run-logs/task-run-logs.test.tsx
  ui-v2/src/components/ui/run-logs/index.tsx
  ui-v2/src/components/ui/run-logs/run-logs.stories.tsx
  ui-v2/src/components/ui/run-logs/run-logs.test.tsx
Labels: ui-replatform

#17717 fix task run logs test
  ui-v2/src/components/task-runs/task-run-logs/task-run-logs.test.tsx
Labels: development, ui-replatform

#17713 api layer changes for flow run state dialogue
  ui-v2/src/api/flow-runs/flow-runs.test.ts
  ui-v2/src/api/flow-runs/index.ts
Labels: ui-replatform

#17714 feat: Adds row count and delete component to blocks page
  ui-v2/src/components/blocks/block-document-data-table/block-document-data-table.stories.tsx
  ui-v2/src/components/blocks/block-document-data-table/block-document-data-table.tsx
  ui-v2/src/components/blocks/blocks-page.tsx
  ui-v2/src/components/blocks/blocks-row-count/blocks-row-count.test.tsx
  ui-v2/src/components/blocks/blocks-row-count/blocks-row-count.tsx
  ui-v2/src/components/blocks/blocks-row-count/index.ts
  ui-v2/src/components/blocks/use-delete-block-document-confirmation-dialog.ts
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-row-count.tsx
  ui-v2/src/routes/blocks/index.tsx
Labels: ui-replatform

#17670 Add server side error handling to block class registration
  src/prefect/server/models/block_registration.py
Labels: enhancement

#17733 [UI v2] feat: Adds RQ for getting block type info by slug
  ui-v2/src/api/block-types/block-types.test.ts
  ui-v2/src/api/block-types/block-types.ts
  ui-v2/src/api/block-types/index.ts
Labels: ui-replatform

#17718 feat: Adds search feature for blocks page
  ui-v2/src/api/block-documents/block-documents.ts
  ui-v2/src/components/blocks/blocks-page-header.tsx
  ui-v2/src/components/blocks/blocks-page.tsx
  ui-v2/src/routes/blocks/index.tsx
Labels: ui-replatform

#17720 [UI v2] feat: Adds block type filtering to blocks page
  ui-v2/src/components/blocks/block-types-multi-select/block-types-multi-select.stories.tsx
  ui-v2/src/components/blocks/block-types-multi-select/block-types-multi-select.tsx
  ui-v2/src/components/blocks/blocks-page.tsx
  ui-v2/src/routes/blocks/index.tsx
Labels: ui-replatform

#17737 `prefect-dask`: fix string `cluster_class` instantiation
  src/integrations/prefect-dask/prefect_dask/task_runners.py
  src/integrations/prefect-dask/tests/test_task_runners.py
Labels: bug, integrations, fix

#17702 [UI v2] Task run details page
  ui-v2/src/api/flow-runs/index.ts
  ui-v2/src/api/logs/index.ts
  ui-v2/src/api/task-runs/index.ts
  ui-v2/src/api/task-runs/task-runs.test.ts
  ui-v2/src/components/task-runs/task-run-details-page/index.tsx
  ui-v2/src/components/task-runs/task-run-details-page/task-run-details-page.test.tsx
  ui-v2/src/components/task-runs/task-run-details/task-run-details.test.tsx
  ui-v2/src/components/task-runs/task-run-details/task-run-details.tsx
  ui-v2/src/components/task-runs/task-run-logs/index.tsx
  ui-v2/src/components/task-runs/task-run-logs/task-run-logs.test.tsx
  ui-v2/src/components/ui/run-logs/index.tsx
  ui-v2/src/components/ui/state-badge/index.tsx
  ui-v2/src/mocks/create-fake-flow-run.ts
  ui-v2/src/mocks/create-fake-state.ts
  ui-v2/src/mocks/create-fake-task-run.ts
  ui-v2/src/routes/runs/task-run.$id.tsx
Labels: ui-replatform

#17743 add task run state mutation
  ui-v2/src/api/task-runs/index.ts
  ui-v2/src/api/task-runs/task-runs.test.ts
Labels: ui-replatform

#17747 Include timezone in default `since` value for flow run graph v2 endpoint
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/server/api/flow_runs.py
  tests/server/orchestration/api/test_flow_run_graph_v2.py
Labels: bug

#17723 [UI-v2] feat: Adds pagination to blocks table
  ui-v2/src/components/blocks/block-document-data-table/block-document-data-table.tsx
  ui-v2/src/components/blocks/blocks-page.tsx
  ui-v2/src/routes/blocks/index.tsx
Labels: ui-replatform

#17739 [UI v2] feat: Adds block type page component
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/components/block-type-logo/block-type-logo.stories.tsx
  ui-v2/src/components/block-type-logo/block-type-logo.tsx
  ui-v2/src/components/blocks/block-document-data-table/block-document-cell.tsx
  ui-v2/src/components/blocks/block-type-page/block-type-page.stories.tsx
  ui-v2/src/components/blocks/block-type-page/block-type-page.tsx
  ui-v2/src/components/blocks/block-type-page/index.ts
  ui-v2/src/components/deployments/deployment-description.tsx
  ui-v2/src/components/ui/python-input.tsx
  ui-v2/src/mocks/create-fake-block-type.ts
  ui-v2/src/mocks/index.ts
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/blocks/catalog_.$slug.create.tsx
Labels: ui-replatform

#17745 [UI v2] feat: Integrates BlocksCatalogPage to route with search
  ui-v2/src/components/blocks/blocks-catalog-page/index.ts
  ui-v2/src/components/blocks/blocks-page.tsx
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/blocks/catalog.tsx
  ui-v2/src/routes/blocks/catalog_.$slug_.create.tsx
Labels: ui-replatform

#17731 Update event occurred + related resource indexes for Postgres
  docs/v3/api-ref/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/server/database/_migrations/MIGRATION-NOTES.md
  src/prefect/server/database/_migrations/versions/postgresql/2025_04_04_092158_7a73514ca2d6_add_ix_events__event_related_occurred_.py
  src/prefect/server/database/orm_models.py
  src/prefect/settings/models/server/events.py
  tests/events/server/storage/test_event_persister.py
Labels: bug, docs, migration

#17758 [UI v2] feat: Adds RQ query to get block document by id
  ui-v2/src/api/block-documents/block-documents.test.ts
  ui-v2/src/api/block-documents/block-documents.ts
  ui-v2/src/api/block-documents/index.ts
Labels: ui-replatform

#17757 [UI v2] Add actions to task run details page
  ui-v2/src/api/task-runs/index.ts
  ui-v2/src/api/task-runs/task-runs.test.ts
  ui-v2/src/components/task-runs/task-run-details-page/index.tsx
  ui-v2/src/components/task-runs/task-run-details-page/task-run-details-page.test.tsx
  ui-v2/tests/utils/handlers.ts
Labels: ui-replatform

#17759 Add task inputs display to task run details page
  ui-v2/src/components/task-runs/task-run-details-page/index.tsx
  ui-v2/src/components/task-runs/task-run-details-page/task-run-details-page.test.tsx
  ui-v2/src/mocks/mock-json-input.tsx
  ui-v2/src/mocks/mock-use-debounce.ts
  ui-v2/tests/variables/variables.test.tsx
Labels: ui-replatform

#17760 [UI v2] Update CI and pre-commit config for efficiency
  .github/workflows/ui-v2-checks.yml
  .pre-commit-config.yaml
  ui-v2/biome.json
  ui-v2/package-lock.json
  ui-v2/package.json
Labels: ui-replatform

#17762 [UI v2] feat: Scaffolds block document details page
  ui-v2/src/components/blocks/block-document-action-menu/block-document-action-menu.tsx
  ui-v2/src/components/blocks/block-document-details-page/block-document-details-page-header.tsx
  ui-v2/src/components/blocks/block-document-details-page/block-document-details-page.tsx
  ui-v2/src/components/blocks/block-document-details-page/block-document-schema-properties.tsx
  ui-v2/src/components/blocks/block-document-details-page/block-type-details.tsx
  ui-v2/src/components/blocks/block-document-details-page/index.ts
  ui-v2/src/components/blocks/block-type-page/block-type-page.tsx
  ui-v2/src/components/blocks/blocks-row-count/blocks-row-count.tsx
  ui-v2/src/components/blocks/python-example-snippet.tsx
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/blocks/block.$id.tsx
  ui-v2/src/routes/blocks/block_.$id.edit.tsx
Labels: ui-replatform

#17766 [UI v2] fix: Fixed navigation upon deletions
  ui-v2/src/components/automations/use-delete-automation-confirmation-dialog.ts
  ui-v2/src/components/blocks/blocks-row-count/blocks-row-count.test.tsx
  ui-v2/src/components/blocks/use-delete-block-document-confirmation-dialog.ts
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-page/task-run-concurrency-limit-dialog.tsx
  ui-v2/src/components/deployments/use-delete-deployment-confirmation-dialog.ts
Labels: ui-replatform

#17771 Fix readiness_result type to match expected Process type
  src/prefect/runner/runner.py
Labels: bug

#17773 Remove `react-code-blocks` dependency
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/components/artifacts/artifact/artifact-raw-data-display.stories.tsx
  ui-v2/src/components/artifacts/artifact/artifact-raw-data-display.test.tsx
  ui-v2/src/components/artifacts/artifact/artifact-raw-data-display.tsx
Labels: ui-replatform

#17704 initial run state change dialog
  ui-v2/src/api/flow-runs/constants.ts
  ui-v2/src/components/flow-runs/flow-run-state-dialog/flow-run-state-dialog.stories.tsx
  ui-v2/src/components/flow-runs/flow-run-state-dialog/flow-run-state-dialog.tsx
  ui-v2/src/components/flow-runs/flow-run-state-dialog/use-flow-run-state-dialog.tsx
  ui-v2/src/components/ui/run-state-change-dialog/index.ts
  ui-v2/src/components/ui/run-state-change-dialog/run-state-change-dialog.stories.tsx
  ui-v2/src/components/ui/run-state-change-dialog/run-state-change-dialog.tsx
  uv.lock
Labels: ui-replatform

#17774 [UI v2] feat: Adds block_schemas RQ queries
  ui-v2/src/api/block-schemas/block-schemas.test.ts
  ui-v2/src/api/block-schemas/block-schemas.ts
  ui-v2/src/api/block-schemas/index.ts
  ui-v2/src/mocks/create-fake-block-schema.ts
  ui-v2/src/mocks/index.ts
  ui-v2/tests/utils/handlers.ts
Labels: ui-replatform

#17779 avoid unexpected pre-commit diffs from local to CI
  .pre-commit-config.yaml
Labels: development

#17790 Added support for embedding image in mail
  src/integrations/prefect-email/prefect_email/message.py
  src/integrations/prefect-email/tests/image.png
  src/integrations/prefect-email/tests/test_message.py
Labels: integrations

#17795 allow configuring `RecentDeploymentScheduler` loop interval
  docs/v3/api-ref/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/server/services/scheduler.py
  src/prefect/settings/models/server/services.py
  tests/server/services/test_scheduler.py
  tests/test_settings.py
Labels: enhancement, docs

#17775 deprecate runner webserver machinery
  src/prefect/runner/server.py
  src/prefect/runner/submit.py
  tests/runner/test_runner.py
  tests/runner/test_submit.py
  tests/runner/test_webserver.py
Labels: bug, development

#17793 Add update block document mutation
  ui-v2/src/api/block-documents/block-documents.test.ts
  ui-v2/src/api/block-documents/block-documents.ts
  ui-v2/src/api/block-documents/index.ts
  ui-v2/tests/utils/handlers.ts
Labels: ui-replatform

#17519 Only prompt to save if file does not exist
  src/prefect/cli/deploy.py
  src/prefect/deployments/base.py
  tests/cli/test_deploy.py
  tests/experimental/test_sla.py
Labels: bug

#17783 update background tasks docs and add guide
  docs/docs.json
  docs/v3/deploy/static-infrastructure-examples/background-tasks.mdx
  docs/v3/develop/deferred-tasks.mdx
Labels: docs

#17794 Add async interface for transactions
  src/prefect/locking/memory.py
  src/prefect/results.py
  src/prefect/task_engine.py
  src/prefect/tasks.py
  src/prefect/transactions.py
  tests/conftest.py
  tests/test_task_engine.py
  tests/test_tasks.py
  tests/test_transactions.py
Labels: bug, enhancement

#17824 use platform independent method in telemetry instrumentation
  src/prefect/telemetry/instrumentation.py
  tests/telemetry/test_instrumentation.py
Labels: bug, fix

#17726 Quickstart docs
  docs/v3/get-started/quickstart.mdx
Labels: docs

#17819 update deployment and remote code storage docs
  docs/docs.json
  docs/v3/automate/add-schedules.mdx
  docs/v3/deploy/index.mdx
  docs/v3/deploy/infrastructure-concepts/deploy-via-python.mdx
  docs/v3/deploy/infrastructure-concepts/store-flow-code.mdx
  docs/v3/deploy/infrastructure-examples/docker.mdx
  docs/v3/deploy/run-flows-in-local-processes.mdx
  docs/v3/develop/cancel.mdx
  docs/v3/develop/write-flows.mdx
  src/prefect/flows.py
  tests/typesafety/test_flows.yml
Labels: docs

#17741 respect auth for websockets
  src/prefect/events/clients.py
  src/prefect/server/utilities/subscriptions.py
  tests/events/client/test_events_client.py
Labels: bug, fix

#17828 Add `.submit` method to `BaseWorker`
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Labels: enhancement

#17800 Avoid clobbering dev venv
  .pre-commit-config.yaml
  scripts/run_precommit_generation_scripts.py
Labels: development

#17796 [UI v2] feat: Initial implementation of block document edit page. The…
  ui-v2/src/components/blocks/block-document-details-page/block-document-details-page.tsx
  ui-v2/src/components/blocks/block-document-edit-page/block-document-edit-page-header.tsx
  ui-v2/src/components/blocks/block-document-edit-page/block-document-edit-page.tsx
  ui-v2/src/components/blocks/block-type-details.tsx
Labels: ui-replatform

#17833 Add `InfrastructureBoundFlow` class and `bind_flow_to_infrastructure` function
  src/integrations/prefect-kubernetes/prefect_kubernetes/experimental/decorators.py
  src/prefect/_experimental/bundles.py
  src/prefect/flows.py
  src/prefect/runner/runner.py
  src/prefect/workers/base.py
  src/prefect/workers/process.py
  tests/test_infrastructure_bound_flow.py
Labels: enhancement

#17829 chore(docs): add terraform example for deployment trigger
  docs/v3/automate/events/automations-triggers.mdx
Labels: docs

#17832 update sync/async example in `prefect-slack`
  docs/integrations/prefect-slack/index.mdx
Labels: enhancement, docs

#17838 Clean up dbt integration docs
  docs/integrations/prefect-dbt/index.mdx
Labels: docs

#17839 Fixes `Runner` command handling for Windows
  src/prefect/runner/runner.py
Labels: bug

#17841 fix pyright errors
  src/prefect/cache_policies.py
Labels: development

#17831 fix link to archived repo
  docs/v3/develop/blocks.mdx
Labels: docs

#17840 move decorated function discovery out of the cli
  src/prefect/cli/_prompts.py
  src/prefect/cli/task.py
  src/prefect/concurrency/context.py
  src/prefect/context.py
  src/prefect/utilities/_ast.py
  uv.lock
Labels: development

#17854 Propagates the currently triggering event (if any) for composite triggers
  src/prefect/server/events/triggers.py
  tests/events/server/triggers/test_composite_triggers.py
Labels: bug

#17858 serve all tasks in a module
  src/prefect/cli/task.py
  tests/cli/test_task.py
Labels: enhancement

#17810 docs: Nginx sample config + note about client API key/auth string precedence
  docs/v3/develop/settings-and-profiles.mdx
  docs/v3/manage/server/index.mdx
Labels: docs

#17826 Add global concurrency id to the create and update route for deployments
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/server/api/deployments.py
  src/prefect/server/models/deployments.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  tests/server/models/test_deployments.py
  tests/server/orchestration/api/test_deployments.py
  tests/server/schemas/test_actions.py
  ui-v2/src/api/prefect.ts
  ui-v2/src/components/deployments/deployment-form/deployment-form.tsx
  ui-v2/src/components/deployments/deployment-form/use-deployment-form.ts
  ui-v2/src/components/global-concurrency-limit/global-concurrency-limit-select/global-concurrency-limit-select.tsx
  ui-v2/src/components/global-concurrency-limit/global-concurrency-limit-select/index.ts
Labels: enhancement

#17896 Add `submit` method to infrastructure bound flows
  src/prefect/flows.py
  tests/test_infrastructure_bound_flow.py
Labels: enhancement

#17861 Add initial documentation for submitting workflows directly to dynamic infrastructure
  docs/conftest.py
  docs/docs.json
  docs/v3/deploy/submit-flows-directly-to-dynamic-infrastructure.mdx
Labels: docs

#17903 Fix errors in `task-run ls` CLI
  src/prefect/cli/task_run.py
  tests/cli/test_task_run.py
Labels: bug

#17917 Add done callback prior to submitting
  src/prefect/_internal/concurrency/threads.py
Labels: development

#17927 fix human friendly diff
  src/prefect/types/_datetime.py
  tests/test_types.py
Labels: bug

#17915 Add vcs version types for Gitlab, Bitbucket, and Azure Devops
  src/prefect/_versioning.py
  src/prefect/cli/deploy.py
  tests/cli/deploy/test_deploy_versioning.py
  tests/test_versioning.py
Labels: docs

#17928 Update `uv.lock` and fix ECS provisioner test errors
  pyproject.toml
  tests/infrastructure/provisioners/test_ecs.py
  uv.lock
Labels: development

#17930 handle heartbeat event in `wait_for_flow_run`
  src/prefect/flow_runs.py
  tests/test_flow_runs.py
Labels: bug

#17938 add `parameters` validator to `DeploymentCreateFlowRun`
  src/prefect/client/schemas/actions.py
  tests/client/test_prefect_client.py
Labels: bug, fix

#17933 Allow providing a commit sha to the `git_clone` pull step
  src/prefect/deployments/steps/pull.py
  src/prefect/runner/storage.py
  tests/deployment/test_steps.py
  tests/runner/test_storage.py
Labels: enhancement

#17943 fix dead-lock between `ConcurrentTaskRunner`, `wait_for`, and tag concurrency limits
  src/prefect/task_engine.py
  src/prefect/task_runners.py
  tests/test_task_engine.py
Labels: bug

#17939 Remove flow run notifications
  docs/docs.json
  docs/v3/api-ref/rest-api/server/flow-run-notification-policies/create-flow-run-notification-policy.mdx
  docs/v3/api-ref/rest-api/server/flow-run-notification-policies/delete-flow-run-notification-policy.mdx
  docs/v3/api-ref/rest-api/server/flow-run-notification-policies/read-flow-run-notification-policies.mdx
  docs/v3/api-ref/rest-api/server/flow-run-notification-policies/read-flow-run-notification-policy.mdx
  docs/v3/api-ref/rest-api/server/flow-run-notification-policies/update-flow-run-notification-policy.mdx
  docs/v3/api-ref/rest-api/server/schema.json
  docs/v3/api-ref/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/_internal/schemas/validators.py
  src/prefect/client/orchestration/__init__.py
  src/prefect/client/orchestration/routes.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/filters.py
  src/prefect/client/schemas/objects.py
  src/prefect/server/api/__init__.py
  src/prefect/server/api/flow_run_notification_policies.py
  src/prefect/server/api/server.py
  src/prefect/server/database/_migrations/versions/postgresql/2025_04_29_112902_4160a4841eed_remove_flow_run_notifications.py
  src/prefect/server/database/_migrations/versions/sqlite/2025_04_28_133722_7655f31c5157_remove_flow_run_notifications.py
  src/prefect/server/database/interface.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/database/query_components.py
  src/prefect/server/models/__init__.py
  src/prefect/server/models/flow_run_notification_policies.py
  src/prefect/server/models/flow_runs.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/services/__init__.py
  src/prefect/server/services/base.py
  src/prefect/server/services/flow_run_notifications.py
  src/prefect/settings/models/server/services.py
  tests/client/test_prefect_client.py
  tests/conftest.py
  tests/server/database/test_dependencies.py
  tests/server/database/test_migrations.py
  tests/server/models/test_flow_run_notification_policies.py
  tests/server/orchestration/api/test_flow_run_notification_policies.py
  tests/server/schemas/test_core.py
  tests/server/services/test_flow_run_notifications.py
  tests/server/services/test_service_subsets.py
  tests/test_settings.py
  ui-v2/src/api/prefect.ts
  ui-v2/src/mocks/create-fake-server-settings.ts
  ui/src/components/ContextSidebar.vue
  ui/src/pages/NotificationCreate.vue
  ui/src/pages/NotificationEdit.vue
  ui/src/pages/Notifications.vue
  ui/src/router/index.ts
Labels: migration, breaking change
