Repository PrefectHQ/prefect, pull requests merged in 2025-07, with the labels that each got.

#18409 Fix broken Google-indexed documentation URLs with redirects
  docs/docs.json
Labels: bug, docs

#18421 Update Slack footer link
  docs/docs.json
Labels: docs

#18410 Resolve dbt profiles and other improvements
  src/integrations/prefect-dbt/prefect_dbt/core/_tracker.py
  src/integrations/prefect-dbt/prefect_dbt/core/runner.py
  src/integrations/prefect-dbt/tests/core/test_runner.py
  src/integrations/prefect-dbt/tests/core/test_settings.py
  src/integrations/prefect-dbt/tests/core/test_tracker.py
Labels: bug

#18432 fail loudly if we cant connect to custom dask cluster
  src/integrations/prefect-dask/prefect_dask/task_runners.py
Labels: integrations

#18455 Use UUID path converter in all places
  src/prefect/server/api/artifacts.py
  src/prefect/server/api/block_schemas.py
  src/prefect/server/api/block_types.py
  src/prefect/server/api/concurrency_limits.py
  src/prefect/server/api/deployments.py
  src/prefect/server/api/flow_run_states.py
  src/prefect/server/api/flow_runs.py
  src/prefect/server/api/flows.py
  src/prefect/server/api/saved_searches.py
  src/prefect/server/api/task_run_states.py
  src/prefect/server/api/task_runs.py
  src/prefect/server/api/ui/task_runs.py
  src/prefect/server/api/work_queues.py
  tests/server/orchestration/api/test_flow_runs.py
Labels: bug, api

#18452 add `prefect automation create` command
  docs/v3/api-ref/cli/artifact.mdx
  docs/v3/api-ref/cli/automation.mdx
  docs/v3/api-ref/cli/automations.mdx
  docs/v3/api-ref/cli/concurrency-limit.mdx
  docs/v3/api-ref/cli/concurrency-limits.mdx
  docs/v3/api-ref/cli/deployment.mdx
  docs/v3/api-ref/cli/deployments.mdx
  docs/v3/api-ref/cli/dev.mdx
  docs/v3/api-ref/cli/flow-run.mdx
  docs/v3/api-ref/cli/flow-runs.mdx
  docs/v3/api-ref/cli/gcl.mdx
  docs/v3/api-ref/cli/global-concurrency-limit.mdx
  docs/v3/api-ref/cli/profile.mdx
  docs/v3/api-ref/cli/profiles.mdx
  docs/v3/api-ref/cli/task-run.mdx
  docs/v3/api-ref/cli/task-runs.mdx
  docs/v3/api-ref/cli/task.mdx
  docs/v3/api-ref/cli/variable.mdx
  docs/v3/api-ref/cli/work-pool.mdx
  docs/v3/api-ref/cli/work-queue.mdx
  docs/v3/api-ref/cli/work-queues.mdx
  docs/v3/how-to-guides/automations/creating-automations.mdx
  src/prefect/events/cli/automations.py
  tests/events/client/cli/test_automations.py
Labels: enhancement, docs

#18444 Add setting for configuring custom headers
  docs/v3/advanced/api-client.mdx
  docs/v3/advanced/security-settings.mdx
  docs/v3/api-ref/settings-ref.mdx
  scripts/generate_settings_ref.py
  src/prefect/_internal/websockets.py
  src/prefect/client/base.py
  src/prefect/settings/models/client.py
  tests/_internal/test_websockets.py
  tests/client/test_base_client.py
  tests/test_settings.py
Labels: enhancement, docs

#18469 Improve reliability of integration tests
  integration-tests/test_schedule_statefulness.py
  integration-tests/test_serve_a_flow.py
Labels: development

#18473 New quickstart
  docs/v3/get-started/github-quickstart.mdx
  docs/v3/get-started/quickstart.mdx
Labels: docs

#18479 Update test to connect to websocket with custom headers
  tests/_internal/test_websockets.py
Labels: development

#18434 Fix visit_collection to properly handle shared references
  docs/v3/api-ref/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/utilities/collections.py
  tests/utilities/test_collections.py
Labels: bug, docs

#18474 Allow Prefect API key to be provided to an ECS tasks via an AWS secret
  src/integrations/prefect-aws/prefect_aws/workers/ecs_worker.py
  src/integrations/prefect-aws/tests/workers/test_ecs_worker.py
Labels: enhancement

#18491 Fix Block secret serialization for fields with Union type
  src/prefect/blocks/core.py
  tests/blocks/test_core.py
Labels: bug

#18484 Remove restricted characters from dbt asset keys
  src/integrations/prefect-dbt/prefect_dbt/utilities.py
  src/integrations/prefect-dbt/tests/test_utilities.py
Labels: bug

#18504 Add `no-commit-to-branch` hook to prevent accidental commits to main
  .pre-commit-config.yaml
Labels: development

#18506 Added support for setting flow run name in deployment CLI
  docs/v3/how-to-guides/deployments/run-deployments.mdx
  src/prefect/cli/deployment.py
  tests/cli/deployment/test_deployment_cli.py
Labels: docs

#18492 Add repossessor service
  docs/v3/api-ref/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/server/services/__init__.py
  src/prefect/server/services/base.py
  src/prefect/server/services/repossessor.py
  src/prefect/settings/models/server/services.py
  tests/server/services/test_repossessor.py
  tests/server/services/test_service_subsets.py
  tests/test_settings.py
Labels: enhancement, docs

#18520 expose new doc file in nav
  docs/docs.json
  docs/v3/how-to-guides/self-hosted/docker-compose.mdx
Labels: docs

#18521 a couple more edits to docker compose doc
  docs/v3/how-to-guides/self-hosted/docker-compose.mdx
Labels: docs

#18525 Chore: update docs logo link from prefect.io => docs.prefect.io
  docs/docs.json
Labels: docs

#18472 Allow infrastructure bound flows to be dispatched to existing workers
  src/prefect/_experimental/bundles/__init__.py
  src/prefect/flows.py
  src/prefect/workers/base.py
  tests/test_infrastructure_bound_flow.py
Labels: enhancement

#18547 add note about `PREFECT_API_KEY` in ecs guide
  docs/integrations/prefect-aws/ecs_guide.mdx
Labels: docs

#18571 Improve performance of uploads to GCP bucket
  src/integrations/prefect-gcp/prefect_gcp/cloud_storage.py
Labels: enhancement, integrations, performance

#18573 add more states to docs
  docs/v3/concepts/states.mdx
Labels: docs

#18577 fix: allow automations notify when triggers service is disabled
  src/prefect/server/events/models/automations.py
Labels: fix

#18583 Implement WorkPoolCreateWizard component migration from Vue to React
  ui-v2/src/api/work-pools/index.ts
  ui-v2/src/api/work-pools/work-pools.ts
  ui-v2/src/components/schemas/utilities/mergeSchemaPropertyDefinition.ts
  ui-v2/src/components/ui/stepper/stepper.tsx
  ui-v2/src/components/work-pools/create/index.ts
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/infrastructure-configuration-step.tsx
  ui-v2/src/components/work-pools/create/work-pool-create-wizard.stories.tsx
  ui-v2/src/components/work-pools/create/work-pool-create-wizard.test.tsx
  ui-v2/src/components/work-pools/create/work-pool-create-wizard.tsx
  ui-v2/src/routes/work-pools/create.tsx
Labels: enhancement, ui-replatform

#18586 Add work pool foundation components and API infrastructure
  ui-v2/src/api/work-pools/index.ts
  ui-v2/src/api/work-pools/work-pools.test.ts
  ui-v2/src/api/work-pools/work-pools.ts
  ui-v2/src/components/code-banner/code-banner.stories.tsx
  ui-v2/src/components/code-banner/code-banner.test.tsx
  ui-v2/src/components/code-banner/code-banner.tsx
  ui-v2/src/components/code-banner/index.ts
  ui-v2/src/components/ui/formatted-date/formatted-date.stories.tsx
  ui-v2/src/components/ui/formatted-date/formatted-date.test.tsx
  ui-v2/src/components/ui/formatted-date/formatted-date.tsx
  ui-v2/src/components/ui/formatted-date/index.ts
  ui-v2/src/components/work-pools/types.ts
  ui-v2/src/components/work-pools/work-pool-status-badge/index.ts
  ui-v2/src/components/work-pools/work-pool-status-badge/work-pool-status-badge.stories.tsx
  ui-v2/src/components/work-pools/work-pool-status-badge/work-pool-status-badge.test.tsx
  ui-v2/src/components/work-pools/work-pool-status-badge/work-pool-status-badge.tsx
  ui-v2/src/components/work-pools/work-pool-status-icon/index.ts
  ui-v2/src/components/work-pools/work-pool-status-icon/work-pool-status-icon.stories.tsx
  ui-v2/src/components/work-pools/work-pool-status-icon/work-pool-status-icon.test.tsx
  ui-v2/src/components/work-pools/work-pool-status-icon/work-pool-status-icon.tsx
  ui-v2/src/index.css
  ui-v2/src/mocks/create-fake-work-pool-worker.ts
  ui-v2/src/mocks/index.ts
Labels: enhancement, ui-replatform

#18621 Add detail and options to the GitHub Quickstart
  docs/v3/get-started/github-quickstart.mdx
Labels: docs

#18625 fixed styling of certain code blocks and links in docs
  docs/styles.css
Labels: docs

#18618 Update ad hoc installations to use `uv` if available
  src/integrations/prefect-docker/prefect_docker/deployments/steps.py
  src/prefect/_internal/installation.py
  src/prefect/cli/_prompts.py
  src/prefect/cli/worker.py
  src/prefect/deployments/steps/core.py
  src/prefect/infrastructure/provisioners/coiled.py
  src/prefect/infrastructure/provisioners/ecs.py
  src/prefect/infrastructure/provisioners/modal.py
  src/prefect/utilities/dockerutils.py
  tests/_internal/test_installation.py
  tests/cli/test_worker.py
  tests/deployment/test_steps.py
  tests/docker/test_image_builds.py
  tests/infrastructure/provisioners/test_ecs.py
  tests/infrastructure/provisioners/test_modal.py
  tests/test_infrastructure_bound_flow.py
Labels: enhancement

#18607 Fixes async locking error by generating unique holder for each transaction
  src/prefect/locking/memory.py
  src/prefect/transactions.py
  tests/test_transactions.py
Labels: bug

#18608 Add GCP secret support to `CloudRunWorker` for Prefect API credentials
  src/integrations/prefect-gcp/prefect_gcp/workers/cloud_run.py
  src/integrations/prefect-gcp/tests/test_cloud_run_worker.py
Labels: integrations
