Repository PrefectHQ/prefect, pull requests merged in 2025-05, with the labels that each got.

#17957 remove unnecessary walrus
  src/prefect/blocks/core.py
Labels: development

#17860 add logfire dep group for performance exploration
  pyproject.toml
  src/prefect/server/api/server.py
  src/prefect/server/database/configurations.py
  src/prefect/settings/base.py
  src/prefect/settings/models/experiments.py
  uv.lock
Labels: development

#17859 [UI v2] feat: Adds create block document rq mutation
  ui-v2/src/api/block-documents/block-documents.test.ts
  ui-v2/src/api/block-documents/block-documents.ts
  ui-v2/src/api/block-documents/index.ts
Labels: ui-replatform

#17967 Run integration tests against `prefect-client`
  .github/workflows/integration-tests.yaml
  .github/workflows/prefect-client.yaml
Labels: development

#17953 Add default result storage for work pools
  docs/v3/api-ref/rest-api/server/schema.json
  docs/v3/deploy/submit-flows-directly-to-dynamic-infrastructure.mdx
  src/prefect/blocks/core.py
  src/prefect/cli/work_pool.py
  src/prefect/client/schemas/objects.py
  src/prefect/server/api/workers.py
  src/prefect/server/schemas/core.py
  src/prefect/workers/base.py
  tests/cli/test_work_pool.py
  tests/client/test_prefect_client.py
  tests/server/orchestration/api/test_workers.py
  tests/workers/test_base_worker.py
  ui-v2/src/api/prefect.ts
Labels: enhancement

#17975 use correct secret in websocket subscription
  flows/task_worker.py
  src/prefect/client/orchestration/__init__.py
  src/prefect/client/subscriptions.py
  src/prefect/tasks.py
Labels: bug

#17647 Add test covering `.with_options` when used with a `classmethod` flow
  tests/test_flows.py
Labels: development

#17972 add parameter form docs
  docs/docs.json
  docs/v3/develop/write-flows.mdx
  docs/v3/img/tutorials/parameters/0.png
  docs/v3/img/tutorials/parameters/1.png
  docs/v3/img/tutorials/parameters/2.png
  docs/v3/img/tutorials/parameters/3.png
  docs/v3/img/tutorials/parameters/4.png
  docs/v3/img/tutorials/parameters/5.png
  docs/v3/tutorials/form-building.mdx
Labels: enhancement, docs

#17985 fix regex for snowflake private keys
  src/integrations/prefect-snowflake/prefect_snowflake/credentials.py
  src/integrations/prefect-snowflake/tests/test_credentials.py
Labels: bug, integrations, fix

#17976 Support staticmethod and classmethod flow entrypoints
  src/prefect/flows.py
  src/prefect/utilities/importtools.py
  tests/test_flows.py
Labels: enhancement

#17986 Update `Runner` to use a long-lived `EventsClient`
  src/prefect/events/clients.py
  src/prefect/runner/runner.py
  tests/runner/test_runner.py
Labels: bug

#17981 add aef index
  justfile
  src/prefect/server/database/_migrations/versions/postgresql/2025_05_04_193249_1c9bb7f78263_add_scope_leader_idx_to_.py
  src/prefect/server/database/_migrations/versions/sqlite/2025_05_04_193544_3c841a1800a1_add_scope_leader_idx_to_.py
  src/prefect/server/database/orm_models.py
Labels: migration

#17994 organize types
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/_internal/schemas/validators.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/types/__init__.py
  src/prefect/types/names.py
  tests/server/orchestration/api/test_variables.py
  ui-v2/src/api/prefect.ts
Labels: development

#18010 Move generation hooks to pre-push
  .pre-commit-config.yaml
Labels: development

#18018 make `RedisLockManager` picklable for ray/dask compat
  src/integrations/prefect-redis/prefect_redis/locking.py
  src/integrations/prefect-redis/tests/test_locking.py
Labels: bug

#18016 Task worker hygiene
  src/prefect/_internal/compatibility/blocks.py
  src/prefect/results.py
  src/prefect/task_worker.py
  src/prefect/tasks.py
  tests/test_background_tasks.py
  tests/test_tasks.py
Labels: development

#18031 Adds Google site verification tag to our docs
  docs/docs.json
Labels: docs

#17999 fix readme link
  README.md
  scripts/all_links_should_be_ok.py
Labels: development

#18033 Move "Write flows" content to "How-to Guides" and "Concepts"
  docs/docs.json
  docs/v3/concepts/flows.mdx
  docs/v3/concepts/index.mdx
  docs/v3/how-to-guides/workflows/access-runtime-info.mdx
  docs/v3/how-to-guides/workflows/custom-metadata.mdx
  docs/v3/how-to-guides/workflows/pass-inputs.mdx
  docs/v3/how-to-guides/workflows/retries.mdx
  docs/v3/how-to-guides/workflows/write-and-run.mdx
Labels: docs

#18037 Move a tutorial to a how-to
  docs/docs.json
  docs/v3/how-to-guides/workflows/form-building.mdx
Labels: docs

#18038 Remove platform tutorials
  docs/docs.json
  docs/v3/tutorials/alerts.mdx
  docs/v3/tutorials/debug.mdx
  docs/v3/tutorials/platform.mdx
Labels: docs

#18034 start moving automations/webhooks stuff into concepts/how-tos
  docs/docs.json
  docs/v3/automate/events/automations-triggers.mdx
  docs/v3/automate/events/webhook-triggers.mdx
  docs/v3/concepts/automations.mdx
  docs/v3/concepts/webhooks.mdx
  docs/v3/how-to-guides/automations/chaining-deployments-with-events.mdx
  docs/v3/how-to-guides/automations/create-a-webhook.mdx
  docs/v3/how-to-guides/automations/creating-automations.mdx
  docs/v3/how-to-guides/automations/creating-deployment-triggers.mdx
  docs/v3/how-to-guides/automations/detect-zombie-flows.mdx
  docs/v3/how-to-guides/automations/use-custom-event-grammar.mdx
  docs/v3/how-to-guides/workflows/custom-metadata.mdx
Labels: docs

#18036 update `jsonschema` lower bound to 4.18+
  client/pyproject.toml
  pyproject.toml
  uv.lock
Labels: bug, development

#18043 fix parsing for `PREFECT_TASK_DEFAULT_RETRY_DELAY_SECONDS`
  src/prefect/settings/models/tasks.py
  src/prefect/types/__init__.py
  tests/test_settings.py
Labels: fix

#18046 Vendor `uuid7` implementation
  client/pyproject.toml
  pyproject.toml
  src/prefect/_internal/uuid7.py
  tests/_internal/test_uuid.py
  uv.lock
Labels: development

#18050 Fix missing bracket in docs.json
  docs/docs.json
Labels: docs

#18048 move "automate/events/custom-triggers" -> "concepts/event-triggers"
  docs/docs.json
  docs/v3/concepts/automations.mdx
  docs/v3/concepts/event-triggers.mdx
  docs/v3/concepts/events.mdx
  docs/v3/deploy/run-flows-in-local-processes.mdx
Labels: docs

#18051 Move a few operate guides
  docs/docs.json
  docs/v3/how-to-guides/cloud/connect-to-cloud.mdx
  docs/v3/how-to-guides/cloud/workspaces.mdx
Labels: docs

#18052 moves webhook stuff to cloud how-to section
  docs/docs.json
  docs/v3/concepts/automations.mdx
  docs/v3/concepts/event-triggers.mdx
  docs/v3/concepts/events.mdx
  docs/v3/concepts/webhooks.mdx
  docs/v3/how-to-guides/cloud/create-a-webhook.mdx
Labels: docs

#18057 Move rate limits to concepts
  docs/docs.json
  docs/v3/concepts/rate-limits.mdx
Labels: docs

#18059 move and delist SLAs docs
  docs/docs.json
  docs/v3/concepts/slas.mdx
Labels: docs

#18061 Move `automate/events/add-schedules` into `concepts/schedules` and `how-to/automations/create-schedules`
  docs/conftest.py
  docs/docs.json
  docs/v3/automate/index.mdx
  docs/v3/concepts/schedules.mdx
  docs/v3/how-to-guides/automations/create-schedules.mdx
Labels: docs

#18071 standardize automate section titles and sidebar
  docs/v3/how-to-guides/automations/chaining-deployments-with-events.mdx
  docs/v3/how-to-guides/automations/create-schedules.mdx
  docs/v3/how-to-guides/automations/creating-automations.mdx
  docs/v3/how-to-guides/automations/creating-deployment-triggers.mdx
  docs/v3/how-to-guides/automations/detect-zombie-flows.mdx
  docs/v3/how-to-guides/automations/use-custom-event-grammar.mdx
  docs/v3/how-to-guides/cloud/connect-to-cloud.mdx
  docs/v3/how-to-guides/cloud/create-a-webhook.mdx
  docs/v3/how-to-guides/cloud/workspaces.mdx
  docs/v3/how-to-guides/deployments/run-flows-in-local-processes.mdx
Labels: docs

#18067 Run `prefect-client` smoke tests against local server
  .github/workflows/prefect-client.yaml
  client/client_deploy.py
  scripts/wait-for-server.py
Labels: development

#18073 Remove Cloud section from operate - fully migrated to howto guides
  docs/docs.json
  docs/v3/how-to-guides/cloud/troubleshoot-cloud.mdx
  docs/v3/manage/cloud/index.mdx
Labels: docs

#18056 Moves background task documentation to new docs structure
  docs/docs.json
  docs/v3/concepts/flows-and-tasks.mdx
  docs/v3/develop/deferred-tasks.mdx
  docs/v3/how-to-guides/workflows/run-background-tasks.mdx
Labels: docs

#18074 move work pool page into concepts and how-to
  docs/docs.json
  docs/v3/concepts/work-pools.mdx
  docs/v3/deploy/infrastructure-concepts/work-pools.mdx
  docs/v3/how-to-guides/automations/detect-zombie-flows.mdx
  docs/v3/how-to-guides/deployments/manage-work-pools.mdx
Labels: docs

#18068 Move visualize flow structure page to new structure
  docs/docs.json
  docs/v3/how-to-guides/workflows/visualize-workflow-structure.mdx
Labels: docs

#18070 Move execute shell commands as flows to how-to-guides
  docs/docs.json
  docs/v3/develop/cli-shell.mdx
  docs/v3/how-to-guides/workflows/turn-a-command-into-workflow.mdx
Labels: docs

#18075 Spec out advanced tab with infra-as-code guide
  docs/docs.json
  docs/v3/advanced/infrastructure-as-code.mdx
  docs/v3/manage/index.mdx
Labels: docs

#18076 move deployment versioning docs
  docs/docs.json
  docs/v3/how-to-guides/deployments/versioning.mdx
Labels: docs

#18077 Move remaining write and run workflows docs to how-to-guides
  docs/docs.json
  docs/v3/concepts/flows-and-tasks.mdx
  docs/v3/develop/big-data.mdx
  docs/v3/develop/secrets.mdx
  docs/v3/how-to-guides/configuration/store-secrets.mdx
Labels: docs

#18078 move adhoc infra docs to how to
  docs/conftest.py
  docs/docs.json
  docs/v3/how-to-guides/deployments/submit-flows-directly-to-dynamic-infrastructure.mdx
Labels: docs

#18079 move daemonize worker process docs
  docs/docs.json
  docs/v3/advanced/daemonize-processes.mdx
  docs/v3/advanced/index.mdx
Labels: docs

#18086 Split logging docs between how-to and advanced
  docs/docs.json
  docs/v3/advanced/index.mdx
  docs/v3/advanced/logging-customization.mdx
  docs/v3/how-to-guides/workflows/add-logging.mdx
Labels: docs

#18088 move worker docs to concepts
  docs/docs.json
  docs/v3/concepts/workers.mdx
Labels: docs

#18087 Splits caching documentation between how-to, advances, and concepts
  docs/docs.json
  docs/v3/advanced/caching.mdx
  docs/v3/concepts/caching.mdx
  docs/v3/develop/task-caching.mdx
  docs/v3/how-to-guides/workflows/cache-workflow-steps.mdx
  pyproject.toml
  uv.lock
Labels: docs

#18089 Move transactions and interactive workflows guides
  docs/docs.json
  docs/v3/advanced/interactive.mdx
  docs/v3/advanced/transactions.mdx
Labels: docs

#18091 Move runtime context documentation to concepts
  docs/docs.json
  docs/v3/concepts/runtime-context.mdx
Labels: docs

#18092 Move pause flow runs docs to how-to-guides
  docs/docs.json
  docs/v3/develop/pause-resume.mdx
  docs/v3/how-to-guides/workflows/pause-workflows.mdx
Labels: docs

#18093 Move cancel workflows docs to concepts
  docs/docs.json
  docs/v3/concepts/cancel-workflows.mdx
  docs/v3/how-to-guides/workflows/write-and-run.mdx
Labels: docs

#18100 Fix error in setup for client compatibility tests
  .github/workflows/integration-tests.yaml
Labels: development

#18065 Support flows defined as staticmethod/classmethod in serve operation
  src/prefect/deployments/runner.py
  src/prefect/flows.py
  src/prefect/utilities/callables.py
  tests/runner/test_runner.py
  tests/test_flows.py
Labels: enhancement

#18058 Fix: Update call method to handle string payloads
  src/prefect/blocks/webhook.py
  tests/blocks/test_webhook.py
Labels: docs

#17866 feat: added option to persist auto-generated Dockerfile
  src/integrations/prefect-docker/prefect_docker/deployments/steps.py
  src/integrations/prefect-docker/tests/deployments/test_steps.py
Labels: enhancement

#18108 Fix bug where the runner would try to cancel a flow run that was not running
  src/prefect/runner/runner.py
  tests/runner/test_runner.py
Labels: bug

#18109 avoid unexpected buffer consumption in pydantic encoder
  src/prefect/serializers.py
  tests/test_serializers.py
Labels: fix

#18090 move override job vars docs
  docs/docs.json
  docs/v3/how-to-guides/deployments/customize-job-variables.mdx
Labels: docs

#18111 move docs on serving flows in static container to how to
  docs/docs.json
  docs/v3/how-to-guides/deployments/serve-flows-docker.mdx
Labels: docs

#18097 add settings to configure asyncpg mtls
  docs/v3/manage/server/index.mdx
  src/prefect/server/database/configurations.py
  src/prefect/settings/models/server/database.py
  tests/test_settings.py
Labels: enhancement, docs

#18115 remove counterproductive admoninition
  docs/v3/advanced/interactive.mdx
Labels: enhancement, docs

#18116 Move manage states page to concepts and a how-to guide
  docs/docs.json
  docs/v3/concepts/states.mdx
  docs/v3/how-to-guides/workflows/state-change-hooks.mdx
Labels: docs

#18117 Move manage results docs to advanced section
  docs/docs.json
  docs/v3/advanced/results.mdx
Labels: docs

#18112 move background tasks guide
  docs/conftest.py
  docs/docs.json
  docs/v3/how-to-guides/applications/background-tasks.mdx
  src/prefect/runner/server.py
  src/prefect/runner/submit.py
  src/prefect/server/api/task_workers.py
Labels: docs

#18113 move cicd docs into how-to
  docs/docs.json
  docs/v3/deploy/index.mdx
  docs/v3/deploy/infrastructure-examples/modal.mdx
  docs/v3/how-to-guides/deployments/deploy-ci-cd.mdx
  docs/v3/tutorials/airflow.mdx
Labels: docs

#18119 Move variables to concepts and how-to guides
  docs/docs.json
  docs/v3/concepts/artifacts.mdx
  docs/v3/concepts/variables.mdx
  docs/v3/develop/variables.mdx
  docs/v3/how-to-guides/configuration/variables.mdx
  docs/v3/how-to-guides/workflows/artifacts.mdx
Labels: docs

#18114 move infra examples to "deployment infra" group in how-tos
  docs/docs.json
  docs/v3/concepts/flows-and-tasks.mdx
  docs/v3/concepts/work-pools.mdx
  docs/v3/deploy/index.mdx
  docs/v3/how-to-guides/deployment_infra/coiled.mdx
  docs/v3/how-to-guides/deployment_infra/docker.mdx
  docs/v3/how-to-guides/deployment_infra/kubernetes.mdx
  docs/v3/how-to-guides/deployment_infra/managed.mdx
  docs/v3/how-to-guides/deployment_infra/modal.mdx
  docs/v3/how-to-guides/deployment_infra/serverless.mdx
Labels: docs

#18120 Move blocks docs to concepts and advanced
  docs/docs.json
  docs/v3/advanced/custom-blocks.mdx
  docs/v3/concepts/blocks.mdx
Labels: docs

#18125 move "deploy via python" docs
  docs/docs.json
  docs/v3/how-to-guides/deployments/deploy-via-python.mdx
Labels: docs

#18127 minor log cleanup
  src/integrations/prefect-ray/prefect_ray/task_runners.py
  src/prefect/task_engine.py
  tests/test_tasks.py
Labels: development

#18123 Move settings and profiles docs to how-to-guides and concepts
  docs/docs.json
  docs/v3/concepts/settings-and-profiles.mdx
  docs/v3/how-to-guides/configuration/manage-settings.mdx
Labels: docs

#18128 move "deploy via prefect.yaml" docs
  docs/docs.json
  docs/v3/how-to-guides/deployments/prefect-yaml.mdx
Labels: docs

#18126 Move test workflows to how-to guide
  docs/docs.json
  docs/v3/how-to-guides/workflows/test-workflows.mdx
Labels: docs

#18129 move store flow code docs and deployment index
  docs/conftest.py
  docs/docs.json
  docs/v3/concepts/deployments.mdx
  docs/v3/how-to-guides/deployments/create-deployments.mdx
  docs/v3/how-to-guides/deployments/store-flow-code.mdx
Labels: docs

#18145 Finish migration of Operate section
  docs/docs.json
  docs/v3/advanced/server-helm.mdx
  docs/v3/concepts/server.mdx
  docs/v3/how-to-guides/configuration/server-cli.mdx
  docs/v3/how-to-guides/configuration/server-docker.mdx
Labels: docs

#18110 fix `AttributeError` after args/kwargs deletion
  src/prefect/_internal/concurrency/calls.py
  tests/_internal/concurrency/test_calls.py
Labels: bug

#18146 move rest of develop section
  .github/workflows/markdown-tests.yaml
  README.md
  docs/conftest.py
  docs/docs.json
  docs/v3/concepts/server.mdx
  docs/v3/concepts/task-runners.mdx
  docs/v3/develop/index.mdx
  docs/v3/develop/task-runners.mdx
  docs/v3/how-to-guides/workflows/global-concurrency-limits.mdx
  docs/v3/how-to-guides/workflows/run-work-concurrently.mdx
  docs/v3/how-to-guides/workflows/tag-based-concurrency-limits.mdx
Labels: docs

#18149 multi-server setup fixes pt1
  src/integrations/prefect-redis/prefect_redis/messaging.py
  src/prefect/server/events/schemas/automations.py
  src/prefect/server/events/services/actions.py
  src/prefect/server/events/services/event_logger.py
  src/prefect/server/events/services/event_persister.py
  src/prefect/server/events/services/triggers.py
  src/prefect/server/services/task_run_recorder.py
  src/prefect/server/utilities/messaging/_consumer_names.py
  src/prefect/server/utilities/messaging/memory.py
Labels: development

#18157 Enables CSRF protection support on internal server requests
  src/prefect/server/api/clients.py
  tests/server/api/test_clients.py
Labels: bug

#18147 add thread local context note
  src/prefect/task_runners.py
Labels: bug

#18178 Adds an example showing how automations can access flow-run parameters
  docs/docs.json
  docs/v3/how-to-guides/automations/access-parameters-in-templates.mdx
  docs/v3/img/guides/automation-use-jinja-input.png
Labels: docs

#18192 merge duplicate `extra_hosts` kwarg
  src/integrations/prefect-docker/prefect_docker/worker.py
  src/integrations/prefect-docker/tests/test_worker.py
Labels: bug, integrations

#18197 fix markdown tests for migrate docs
  docs/conftest.py
  docs/v3/concepts/flows.mdx
Labels: docs

#18196 Add how-to page overview
  docs/docs.json
  docs/v3/how-to-guides/index.mdx
Labels: docs

#18200 fix fractional value handling in retry delay policy
  src/prefect/_internal/schemas/validators.py
  src/prefect/client/schemas/objects.py
  src/prefect/server/schemas/core.py
  tests/test_tasks.py
Labels: bug, fix

#18194 Add prefect managed compute usage to the docs
  docs/v3/deploy/infrastructure-examples/managed.mdx
Labels: docs
