Repository PrefectHQ/prefect, pull requests merged in 2025-10, with the labels that each got.

#19071 improve automation actions documentation with type identifiers
  docs/v3/concepts/automations.mdx
Labels: docs

#18995 Fix block type dispatch breaking validation of Block Unions
  src/prefect/blocks/core.py
  tests/blocks/test_core.py
Labels: bug

#19070 Allow serving instance methods
  .github/workflows/static-analysis.yaml
  src/prefect/runner/runner.py
  src/prefect/utilities/callables.py
  src/prefect/workers/process.py
  tests/runner/test_runner.py
Labels: enhancement

#19092 Add release notes for 3.4.21
  docs/v3/release-notes/oss/version-3-4.mdx
Labels: development

#19108 docs: link to available integrations release notes
  docs/v3/release-notes/index.mdx
Labels: docs

#19121 Add support for day_or parameter in cron schedule configurations
  src/prefect/cli/deploy/_models.py
  src/prefect/cli/deploy/_schedules.py
  tests/cli/deploy/test_schedule_config.py
Labels: bug, cli, fix
