Repository PrefectHQ/prefect, pull requests merged in 2025-01, with the labels that each got.

#16564 Refactor Variable CRUD methods in client
  src/prefect/client/orchestration/__init__.py
  src/prefect/client/orchestration/_variables/__init__.py
  src/prefect/client/orchestration/_variables/client.py
Labels: bug

#16565 Refactor Log CRUD methods in client
  src/prefect/client/orchestration/__init__.py
  src/prefect/client/orchestration/_logs/__init__.py
  src/prefect/client/orchestration/_logs/client.py
Labels: bug

#16570 [UI v2] feat: Adds toast decorator for storybook
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-data-table/global-concurrency-limits-data-table.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-header/task-run-concurrency-limit-header.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-actions-menu/task-run-concurrency-limits-actions-menu.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-data-table/task-run-concurrency-limits-data-table.stories.tsx
  ui-v2/src/components/deployments/data-table/data-table.stories.tsx
  ui-v2/src/storybook/utils/index.ts
  ui-v2/src/storybook/utils/toast-decorator.tsx
Labels: ui-replatform

#15824 Sparse checkout for git pulls
  src/prefect/deployments/steps/pull.py
  src/prefect/runner/storage.py
  src/prefect/testing/utilities.py
  tests/deployment/test_steps.py
  tests/runner/test_storage.py
Labels: enhancement

#16572 [UI v2] chore: Use storybook fn() for handlers
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-create-or-edit-dialog/global-concurrency-limits-create-or-edit-dialog.stories.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-data-table/global-concurrency-limits-data-table.stories.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-delete-dialog/global-concurrency-limits-delete-dialog.stories.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-empty-state/global-concurrency-limits-empty-state.stories.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-header/global-concurrency-limits-header.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-header/task-run-concurrency-limit-header.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-actions-menu/task-run-concurrency-limits-actions-menu.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-create-dialog/task-run-concurrency-limits-create-dialog.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-data-table/task-run-concurrency-limits-data-table.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-delete-dialog/task-run-concurrency-limits-delete-dialog.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-empty-state/task-run-concurrency-limits-empty-state.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-header/task-run-concurrency-limits-header.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-reset-dialog/task-run-concurrency-limit-reset-dialog.stories.tsx
Labels: ui-replatform

#16559 [UI v2] fix: Create consistent concurrency limit nav title
  ui-v2/src/components/automations/automations-header/automations-header.tsx
  ui-v2/src/components/concurrency/concurrency-limits-page.tsx
  ui-v2/src/components/concurrency/concurrency-limits-tabs.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-header/global-concurrency-limits-header.test.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-header/global-concurrency-limits-header.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-header/task-run-concurrency-limits-header.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-header/task-run-conrrency-limits-header.test.tsx
Labels: ui-replatform

#16540 fix task overload for decorator kwargs
  src/prefect/tasks.py
Labels: bug, development

#16522 [UI v2] feat: Updates loader for concurrency limit route to include active task runs logic
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-create-or-edit-dialog/global-concurrency-limits-create-or-edit-dialog.stories.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-data-table/global-concurrency-limits-data-table.stories.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-delete-dialog/global-concurrency-limits-delete-dialog.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-active-task-runs/index.ts
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-active-task-runs/index.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-active-task-runs/task-run-concurrency-limit-active-task-runs.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-active-task-runs/task-run-concurrency-limit-active-task-runs.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-details/task-run-concurrency-limit-details.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-header/task-run-concurrency-limit-header.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-page/index.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-page/task-run-concurrency-limit-tab-navigation.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-data-table/task-run-concurrency-limits-data-table.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-delete-dialog/task-run-concurrency-limits-delete-dialog.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-reset-dialog/task-run-concurrency-limit-reset-dialog.stories.tsx
  ui-v2/src/components/ui/run-card/run-card.stories.tsx
  ui-v2/src/components/ui/run-card/run-card.tsx
  ui-v2/src/hooks/global-concurrency-limits.test.ts
  ui-v2/src/hooks/task-run-concurrency-limits.test.tsx
  ui-v2/src/hooks/task-run-concurrency-limits.ts
  ui-v2/src/mocks/create-fake-flow-run.ts
  ui-v2/src/mocks/create-fake-flow.ts
  ui-v2/src/mocks/create-fake-global-concurrency-limit.ts
  ui-v2/src/mocks/create-fake-state.ts
  ui-v2/src/mocks/create-fake-take-run-concurrency-limit.ts
  ui-v2/src/mocks/create-fake-task-run.ts
  ui-v2/src/mocks/index.ts
  ui-v2/src/routes/concurrency-limits/concurrency-limit.$id.tsx
  ui-v2/src/storybook/utils/index.ts
Labels: ui-replatform

#16585 [UI v2] feat: Give deferred promise a better variable name
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-page/index.tsx
  ui-v2/src/hooks/task-run-concurrency-limits.test.tsx
  ui-v2/src/hooks/task-run-concurrency-limits.ts
Labels: ui-replatform

#16580 [UI v2] chore: Consistent and descriptive prop name
  ui-v2/src/components/concurrency/concurrency-limits-tabs.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-create-or-edit-dialog/global-concurrency-limits-create-or-edit-dialog.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-data-table/actions-cell.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-data-table/global-concurrency-limits-data-table.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-delete-dialog/global-concurrency-limits-delete-dialog.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-empty-state/global-concurrency-limits-empty-state.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-header/global-concurrency-limits-header.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-active-task-runs/task-run-concurrency-limit-active-task-runs.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-details/task-run-concurrency-limit-details.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-header/nav-header.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-header/task-run-concurrency-limit-header.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-page/index.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-page/task-run-concurrency-limit-dialog.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-page/task-run-concurrency-limit-tab-navigation.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-actions-menu/task-run-concurrency-limits-actions-menu.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-create-dialog/task-run-concurrency-limits-create-dialog.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-data-table/active-task-runs-cell.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-data-table/tag-cell.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-data-table/task-run-concurrency-limits-data-table.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-delete-dialog/task-run-concurrency-limits-delete-dialog.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-empty-state/task-run-concurrency-limits-empty-state.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-header/task-run-concurrency-limits-header.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-reset-dialog/task-run-concurrency-limits-reset-dialog.tsx
  ui-v2/src/components/ui/docs-link.tsx
  ui-v2/src/components/ui/empty-state.tsx
  ui-v2/src/components/ui/icons/icon.tsx
  ui-v2/src/components/ui/run-card/run-card.tsx
  ui-v2/src/components/ui/typography/typography.tsx
Labels: ui-replatform

#16583 server side type cleaning
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/client/orchestration/_deployments/client.py
  src/prefect/server/api/server.py
  src/prefect/server/api/validation.py
  src/prefect/server/schemas/core.py
  tests/server/orchestration/api/test_validation.py
  ui-v2/src/api/prefect.ts
Labels: development

#16577 [UI v2] feat: Adds automations mutations
  ui-v2/src/hooks/automations.test.ts
  ui-v2/src/hooks/automations.ts
  ui-v2/tests/utils/handlers.ts
Labels: ui-replatform

#16575 [UI v2] feat: Adds AutomationsActionsMenu component
  ui-v2/src/components/automations/automations-actions-menu/automations-actions-menu.stories.tsx
  ui-v2/src/components/automations/automations-actions-menu/automations-actions-menu.tsx
  ui-v2/src/components/automations/automations-actions-menu/index.ts
  ui-v2/src/components/ui/docs-link.tsx
  ui-v2/src/components/ui/docs-link/constants.ts
  ui-v2/src/components/ui/docs-link/docs-link.stories.tsx
  ui-v2/src/components/ui/docs-link/docs-link.tsx
  ui-v2/src/components/ui/docs-link/index.ts
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/automations/automation.$id.edit.ts
Labels: ui-replatform

#16578 Populate deployments list with data
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/deployments/index.ts
  ui-v2/src/api/flows/flows.test.ts
  ui-v2/src/api/flows/index.ts
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-header/task-run-concurrency-limit-header.stories.tsx
  ui-v2/src/components/deployments/data-table/cells.tsx
  ui-v2/src/components/deployments/data-table/data-table.stories.tsx
  ui-v2/src/components/deployments/data-table/data-table.test.tsx
  ui-v2/src/components/deployments/data-table/index.tsx
  ui-v2/src/components/ui/schedule-badge/schedule-badge-group.stories.tsx
  ui-v2/src/components/ui/schedule-badge/schedule-badge.stories.tsx
  ui-v2/src/hooks/deployments/deployments.test.tsx
  ui-v2/src/hooks/deployments/index.ts
  ui-v2/src/mocks/create-fake-deployment.ts
  ui-v2/src/mocks/create-fake-schedule.ts
  ui-v2/src/mocks/index.ts
  ui-v2/src/routes/deployments/index.tsx
Labels: ui-replatform

#16594 fix redis link
  src/integrations/prefect-redis/prefect_redis/blocks.py
  src/prefect/blocks/redis.py
Labels: bug

#16593 Remove code snippet from docs homepage
  docs/v3/get-started/index.mdx
Labels: docs

#16592 [UI v2] chore: Moves RQ data to @/api
  ui-v2/src/api/automations/automations.test.ts
  ui-v2/src/api/automations/automations.ts
  ui-v2/src/api/automations/index.ts
  ui-v2/src/api/global-concurrency-limits/global-concurrency-limits.test.ts
  ui-v2/src/api/global-concurrency-limits/global-concurrency-limits.ts
  ui-v2/src/api/global-concurrency-limits/index.ts
  ui-v2/src/api/task-run-concurrency-limits/index.ts
  ui-v2/src/api/task-run-concurrency-limits/task-run-concurrency-limits.test.tsx
  ui-v2/src/api/task-run-concurrency-limits/task-run-concurrency-limits.ts
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-create-or-edit-dialog/global-concurrency-limits-create-or-edit-dialog.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-create-or-edit-dialog/use-create-or-edit-global-concurrency-limit-form.ts
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-data-table/actions-cell.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-data-table/active-cell.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-data-table/global-concurrency-limits-data-table.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-delete-dialog/global-concurrency-limits-delete-dialog.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-view/global-conccurency-limits-dialog.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-view/index.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-details/task-run-concurrency-limit-details.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-header/task-run-concurrency-limit-header.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-page/index.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-page/task-run-concurrency-limit-dialog.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-create-dialog/task-run-concurrency-limits-create-dialog.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-data-table/active-task-runs-cell.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-data-table/tag-cell.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-data-table/task-run-concurrency-limits-data-table.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-delete-dialog/task-run-concurrency-limits-delete-dialog.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-reset-dialog/task-run-concurrency-limits-reset-dialog.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-view/index.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-view/task-run-concurrency-limit-dialog.tsx
  ui-v2/src/routes/automations/automation.$id.ts
  ui-v2/src/routes/automations/index.ts
  ui-v2/src/routes/concurrency-limits/concurrency-limit.$id.tsx
  ui-v2/src/routes/concurrency-limits/index.tsx
Labels: ui-replatform

#16588 [UI v2] feat: Adds AutomationEnableToggle component
  ui-v2/src/api/automations/automations.test.ts
  ui-v2/src/api/automations/automations.ts
  ui-v2/src/components/automations/automation-enable-toggle/automation-enable-toggle.stories.tsx
  ui-v2/src/components/automations/automation-enable-toggle/automation-enable-toggle.test.tsx
  ui-v2/src/components/automations/automation-enable-toggle/automation-enable-toggle.tsx
  ui-v2/src/components/automations/automation-enable-toggle/index.ts
Labels: ui-replatform

#16596 consolidate hook calling in flow engine
  src/prefect/filesystems.py
  src/prefect/flow_engine.py
  src/prefect/workers/process.py
  tests/test_flows.py
Labels: bug, fix

#16584 rm `sync_compatible` from automations SDK
  src/prefect/automations.py
  tests/cli/test_flow_run.py
  tests/fixtures/client.py
  tests/test_automations.py
  tests/typesafety/test_automations.yml
Labels: enhancement

#16598 remove some integrations from docs
  docs/integrations/index.md
  docs/integrations/integrations.mdx
Labels: docs

#16597 [UI v2] feat: Adds AutomationsTriggerTemplateSelect component
  ui-v2/src/components/automations/automations-create-header/automations-create-header.stories.tsx
  ui-v2/src/components/automations/automations-create-header/automations-create-header.tsx
  ui-v2/src/components/automations/automations-wizard/automations-trigger-template-select/automations-trigger-template-select.stories.tsx
  ui-v2/src/components/automations/automations-wizard/automations-trigger-template-select/automations-trigger-template-select.test.tsx
  ui-v2/src/components/automations/automations-wizard/automations-trigger-template-select/automations-trigger-template-select.tsx
  ui-v2/src/components/automations/automations-wizard/automations-trigger-template-select/index.ts
Labels: ui-replatform

#16601 docs intro
  docs/mint.json
  docs/v3/get-started/index.mdx
Labels: docs

#16599 [UI v2] feat: Starts AutomationsActionSelect component
  ui-v2/src/components/automations/automations-wizard/automations-action-select/automations-action-select.stories.tsx
  ui-v2/src/components/automations/automations-wizard/automations-action-select/automations-action-select.test.tsx
  ui-v2/src/components/automations/automations-wizard/automations-action-select/automations-action-select.tsx
  ui-v2/src/components/automations/automations-wizard/automations-action-select/index.ts
Labels: ui-replatform

#16603 add main features to docs index
  docs/v3/get-started/index.mdx
Labels: docs

#16620 [UI v2] feat: Updates VITE_API_URL to be configured throughout storybook and development
  ui-v2/.env
  ui-v2/.storybook/main.ts
  ui-v2/src/api/automations/automations.test.ts
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/flows/flows.test.ts
  ui-v2/src/api/global-concurrency-limits/global-concurrency-limits.test.ts
  ui-v2/src/api/service.ts
  ui-v2/src/api/task-run-concurrency-limits/task-run-concurrency-limits.test.tsx
  ui-v2/src/hooks/deployments/deployments.test.tsx
  ui-v2/src/hooks/variables.test.tsx
  ui-v2/src/vite-env.d.ts
  ui-v2/tests/api/service.test.ts
  ui-v2/tests/utils/handlers.ts
  ui-v2/tests/utils/index.ts
  ui-v2/tests/variables/variables.test.tsx
  ui-v2/tsconfig.node.json
Labels: ui-replatform

#16625 [UI v2] feat: Adds msw addon for storybook
  ui-v2/.storybook/preview.ts
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/public/mockServiceWorker.js
  ui-v2/src/components/automations/automations-delete-dialog/automations-delete-dialog.stories.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-create-or-edit-dialog/global-concurrency-limits-create-or-edit-dialog.stories.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-delete-dialog/global-concurrency-limits-delete-dialog.stories.tsx
  ui-v2/src/components/ui/empty-state.stories.tsx
Labels: ui-replatform

#16624 Update docs nav first links order
  docs/mint.json
Labels: docs

#16611 [UI v2] feat: Adds component for change-flow-run-state option
  ui-v2/src/components/automations/automations-wizard/action-step/action-change-flow-run-state-fields/action-change-flow-run-state-fields.tsx
  ui-v2/src/components/automations/automations-wizard/action-step/action-change-flow-run-state-fields/action-change-flow-run-state-message-field.tsx
  ui-v2/src/components/automations/automations-wizard/action-step/action-change-flow-run-state-fields/action-change-flow-run-state-name-field.tsx
  ui-v2/src/components/automations/automations-wizard/action-step/action-change-flow-run-state-fields/action-change-flow-run-state-state-field.tsx
  ui-v2/src/components/automations/automations-wizard/action-step/action-change-flow-run-state-fields/flow-states.ts
  ui-v2/src/components/automations/automations-wizard/action-step/action-change-flow-run-state-fields/index.ts
  ui-v2/src/components/automations/automations-wizard/action-step/action-step.stories.tsx
  ui-v2/src/components/automations/automations-wizard/action-step/action-step.test.tsx
  ui-v2/src/components/automations/automations-wizard/action-step/action-step.tsx
  ui-v2/src/components/automations/automations-wizard/action-step/action-type-additional-fields.tsx
  ui-v2/src/components/automations/automations-wizard/action-step/action-type-schemas.ts
  ui-v2/src/components/automations/automations-wizard/action-step/action-type-select.tsx
  ui-v2/src/components/automations/automations-wizard/action-step/index.ts
  ui-v2/src/components/automations/automations-wizard/automations-action-select/automations-action-select.stories.tsx
  ui-v2/src/components/automations/automations-wizard/automations-action-select/automations-action-select.test.tsx
  ui-v2/src/components/automations/automations-wizard/automations-action-select/automations-action-select.tsx
  ui-v2/src/components/automations/automations-wizard/automations-action-select/index.ts
  ui-v2/src/components/ui/textarea.tsx
Labels: ui-replatform

#16610 Add flow run activity bar graph to deployments table
  ui-v2/src/api/flow-runs/flow-runs.test.ts
  ui-v2/src/api/flow-runs/index.ts
  ui-v2/src/api/flows/index.ts
  ui-v2/src/components/deployments/data-table/cells.tsx
  ui-v2/src/components/deployments/data-table/data-table.stories.tsx
  ui-v2/src/components/deployments/data-table/data-table.test.tsx
  ui-v2/src/components/deployments/data-table/index.tsx
  ui-v2/src/components/ui/flow-run-acitivity-bar-graph/context.tsx
  ui-v2/src/components/ui/flow-run-acitivity-bar-graph/flow-run-activity-bar-graph.stories.tsx
  ui-v2/src/components/ui/flow-run-acitivity-bar-graph/index.tsx
  ui-v2/src/components/ui/flow-run-acitivity-bar-graph/utils.test.ts
  ui-v2/src/components/ui/flow-run-acitivity-bar-graph/utils.ts
  ui-v2/src/mocks/create-fake-flow-run.ts
  ui-v2/tests/utils/handlers.ts
Labels: ui-replatform

#16629 [Ui v2] feat: Adds a11y addon to storybook
  ui-v2/.storybook/main.ts
  ui-v2/package-lock.json
  ui-v2/package.json
Labels: ui-replatform

#16627 [UI v2] feat: Adds command component used for combobox
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/components/ui/command.tsx
  ui-v2/src/components/ui/dialog.tsx
Labels: ui-replatform

#16607 handle setting `enforce_parameter_schema` in `prefect.yaml`
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Labels: bug, fix

#16631 Tune CI for efficiency
  .github/workflows/benchmarks.yaml
  .github/workflows/codspeed-benchmarks.yaml
  .github/workflows/markdown-tests.yaml
  .github/workflows/python-tests.yaml
  tests/cli/test_prompts.py
  tests/telemetry/test_instrumentation.py
Labels: development

#16630 Improve typing in `prefect.blocks`
  src/prefect/blocks/__init__.py
  src/prefect/blocks/abstract.py
  src/prefect/blocks/core.py
  src/prefect/blocks/notifications.py
  src/prefect/blocks/redis.py
  src/prefect/blocks/system.py
  src/prefect/blocks/webhook.py
  src/prefect/client/schemas/objects.py
  src/prefect/testing/standard_test_suites/blocks.py
  src/prefect/utilities/templating.py
  tests/blocks/test_notifications.py
  tests/server/orchestration/api/test_block_types.py
Labels: development

#16647 Log failures to load flow with flow run logger
  src/prefect/engine.py
  src/prefect/flow_engine.py
Labels: bug, enhancement, integrations

#16650 Proposal: NONE to NO_CACHE
  docs/v3/develop/task-caching.mdx
  docs/v3/develop/write-tasks.mdx
  src/prefect/cache_policies.py
  src/prefect/task_worker.py
  src/prefect/tasks.py
  tests/test_tasks.py
Labels: enhancement, docs

#16662 Update runner docstring for clarity of their universality
  src/prefect/runner/runner.py
Labels: docs

#16654 [UI v2] fix: Fixes accessibility for breadcrumb lists
  ui-v2/src/components/automations/automations-create-header/automations-create-header.tsx
  ui-v2/src/components/automations/automations-header/automations-header.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-header/nav-header.tsx
  ui-v2/src/components/ui/run-card/run-card.tsx
Labels: ui-replatform

#16653 [UI v2] fix: Fixes accessibility violations for limit details component
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-details/task-run-concurrency-limit-details.tsx
Labels: ui-replatform

#16628 call `FlowRunContext.model_rebuild()` in `hydrate_context`
  src/integrations/prefect-ray/prefect_ray/task_runners.py
  src/integrations/prefect-ray/tests/test_task_runners.py
  src/prefect/context.py
  src/prefect/task_runners.py
  src/prefect/telemetry/services.py
Labels: integrations, fix

#16664 Improve the intro to the quickstart tutorial
  docs/v3/get-started/quickstart.mdx
Labels: docs

#16674 Update Intros in Docs
  docs/v3/get-started/index.mdx
Labels: docs

#16675 Update index.mdx
  docs/v3/get-started/index.mdx
Labels: docs

#16677 Fix `SendgridEmail` code example
  src/prefect/blocks/notifications.py
Labels: bug

#16669 Remove promise that the quickstart only takes five minutes to complete
  docs/v3/get-started/index.mdx
Labels: docs

#16667 [UI v2] feat: Adds additional fields for automations select step
  ui-v2/src/components/automations/automations-wizard/action-step/action-change-flow-run-state-fields/action-change-flow-run-state-fields.tsx
  ui-v2/src/components/automations/automations-wizard/action-step/action-change-flow-run-state-fields/action-change-flow-run-state-name-field.tsx
  ui-v2/src/components/automations/automations-wizard/action-step/action-step.stories.tsx
  ui-v2/src/components/automations/automations-wizard/action-step/action-step.test.tsx
  ui-v2/src/components/automations/automations-wizard/action-step/action-step.tsx
  ui-v2/src/components/automations/automations-wizard/action-step/action-type-additional-fields.tsx
  ui-v2/src/components/automations/automations-wizard/action-step/action-type-schemas.ts
  ui-v2/src/components/automations/automations-wizard/action-step/automations-select-state-fields.tsx
  ui-v2/src/components/ui/combobox/combobox.tsx
  ui-v2/src/components/ui/combobox/comboxbox.stories.tsx
Labels: ui-replatform

#16680 Fix connection string handling when individual components are provided via settings
  src/prefect/settings/base.py
  src/prefect/settings/models/root.py
  tests/test_settings.py
Labels: bug

#16670 [UI v2] experiment: Adds dark mode decorator for all stories
  ui-v2/.storybook/preview-body.html
  ui-v2/.storybook/preview.ts
  ui-v2/src/storybook/utils/index.ts
  ui-v2/src/storybook/utils/mode-decorator.tsx
Labels: ui-replatform

#16691 Bump lower bound on pydantic to 2.9
  requirements-client.txt
Labels: upstream dependency

#16688 Update prefect-yaml.mdx
  docs/v3/deploy/infrastructure-concepts/prefect-yaml.mdx
Labels: docs

#16687 Remove DB interface from `_on_start`
  src/prefect/server/services/loop_service.py
Labels: development

#16692 Improve typing in `prefect.server.events`
  src/prefect/_internal/retries.py
  src/prefect/server/events/schemas/automations.py
  src/prefect/server/events/services/actions.py
  src/prefect/server/events/services/event_logger.py
  src/prefect/server/events/services/event_persister.py
  src/prefect/server/events/services/triggers.py
  src/prefect/server/events/triggers.py
  src/prefect/server/services/loop_service.py
Labels: development

#16701 Improve type completeness of `prefect.server.services`
  src/prefect/server/events/schemas/events.py
  src/prefect/server/models/flow_runs.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/flow_run_notifications.py
  src/prefect/server/services/foreman.py
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/loop_service.py
  src/prefect/server/services/pause_expirations.py
  src/prefect/server/services/scheduler.py
  src/prefect/server/services/task_run_recorder.py
  src/prefect/server/services/telemetry.py
Labels: development

#16686 Add filtering and sorting to deployments table
  ui-v2/src/api/deployments/index.ts
  ui-v2/src/components/deployments/data-table/cells.tsx
  ui-v2/src/components/deployments/data-table/data-table.test.tsx
  ui-v2/src/components/deployments/data-table/index.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/context.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/flow-run-activity-bar-graph.stories.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/flow-run-activity-bar-graph.test.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/index.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/utils.test.ts
  ui-v2/src/components/ui/flow-run-activity-bar-graph/utils.ts
  ui-v2/src/routes/deployments/index.tsx
  ui-v2/tests/utils/browser.ts
  ui-v2/tests/variables/variables.test.tsx
Labels: ui-replatform

#16690 Adds new connection application name setting
  docs/v3/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/server/database/configurations.py
  src/prefect/settings/models/server/database.py
  tests/test_settings.py
Labels: enhancement, docs

#16704 Delete old create integrations cards script
  docs/integrations/create_integrations_cards.py
  docs/integrations/integration-cards.md
Labels: development, docs

#16703 Fix silly typo
  docs/v3/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/settings/models/server/ephemeral.py
Labels: docs

#16709 Handles the instrumentation case where a future is only used to wait_for
  src/prefect/utilities/engine.py
  tests/telemetry/test_run_telemetry.py
Labels: bug

#16693 Allow servers to start with no background services
  src/prefect/cli/server.py
  src/prefect/server/api/server.py
Labels: enhancement

#16714 Improve typing in `prefect.results`
  src/prefect/results.py
Labels: development

#16705 Move quickstart to immediately before the 'schedule a flow' tutorial in the docs
  docs/mint.json
Labels: docs

#16668 Add state transition table to 'Manage states' doc and link from the debug tutorial
  docs/v3/develop/manage-states.mdx
  docs/v3/tutorials/debug.mdx
Labels: docs

#16706 add `prefect server services` CLI commands
  load_testing/run-server.sh
  src/prefect/cli/server.py
  src/prefect/server/events/services/triggers.py
  src/prefect/server/services/loop_service.py
  src/prefect/testing/cli.py
  tests/cli/test_server_services.py
  tests/cli/test_start_server.py
  tests/test_logging.py
Labels: cli

#16715 Improve typing in server events - part deux
  src/prefect/server/api/clients.py
  src/prefect/server/events/actions.py
  src/prefect/server/events/clients.py
  src/prefect/server/events/counting.py
  src/prefect/server/events/filters.py
  src/prefect/server/events/jinja_filters.py
  src/prefect/server/events/messaging.py
  src/prefect/server/events/ordering.py
  src/prefect/server/events/pipeline.py
  src/prefect/server/events/schemas/automations.py
  src/prefect/server/events/schemas/events.py
  src/prefect/server/events/storage/database.py
  src/prefect/server/events/stream.py
  src/prefect/server/events/triggers.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
Labels: development

#16632 Add an ML pipeline tutorial
  docs/mint.json
  docs/v3/tutorials/ml.mdx
  docs/v3/tutorials/schedule.mdx
  docs/v3/tutorials/scraping.mdx
Labels: docs

#16681 [UI v2] feat: Updates automation action step to support multiple actions
  ui-v2/src/components/automations/automations-wizard/action-step/action-change-flow-run-state-fields/action-change-flow-run-state-fields.tsx
  ui-v2/src/components/automations/automations-wizard/action-step/action-change-flow-run-state-fields/action-change-flow-run-state-message-field.tsx
  ui-v2/src/components/automations/automations-wizard/action-step/action-change-flow-run-state-fields/action-change-flow-run-state-name-field.tsx
  ui-v2/src/components/automations/automations-wizard/action-step/action-change-flow-run-state-fields/action-change-flow-run-state-state-field.tsx
  ui-v2/src/components/automations/automations-wizard/action-step/action-change-flow-run-state-fields/flow-states.ts
  ui-v2/src/components/automations/automations-wizard/action-step/action-change-flow-run-state-fields/index.ts
  ui-v2/src/components/automations/automations-wizard/action-step/action-step.tsx
  ui-v2/src/components/automations/automations-wizard/action-step/action-type-additional-fields.tsx
  ui-v2/src/components/automations/automations-wizard/action-step/index.ts
  ui-v2/src/components/automations/automations-wizard/actions-step/action-step.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/action-type-schemas.ts
  ui-v2/src/components/automations/automations-wizard/actions-step/action-type-select.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/actions-step.stories.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/actions-step.test.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/actions-step.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/automations-select-state-fields.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/change-flow-run-fields.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/index.ts
  ui-v2/src/components/automations/automations-wizard/automations-trigger-template-select/automations-trigger-template-select.test.tsx
  ui-v2/src/components/ui/combobox/comboxbox.stories.tsx
  ui-v2/src/components/ui/icons/constants.ts
Labels: ui-replatform

#16713 Add ability to delete a deployment from the deployments table
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/deployments/index.ts
  ui-v2/src/components/deployments/data-table/cells.tsx
  ui-v2/src/components/deployments/data-table/data-table.stories.tsx
  ui-v2/src/components/deployments/data-table/data-table.test.tsx
  ui-v2/src/components/deployments/data-table/index.tsx
  ui-v2/src/components/ui/alert-dialog.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/delete-confirmation-dialog.stories.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/delete-confirmation-dialog.test.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/delete-confirmation-dialog.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/index.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/use-delete-confirmation-dialog.test.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/use-delete-confirmation-dialog.tsx
  ui-v2/src/hooks/deployments/deployments.test.tsx
  ui-v2/src/hooks/deployments/index.ts
  ui-v2/src/routes/deployments/index.tsx
  ui-v2/tests/utils/handlers.ts
Labels: ui-replatform

#16719 Improve typing of `prefect.settings`
  src/prefect/_experimental/sla/objects.py
  src/prefect/_internal/concurrency/threads.py
  src/prefect/events/worker.py
  src/prefect/flows.py
  src/prefect/futures.py
  src/prefect/runner/runner.py
  src/prefect/settings/legacy.py
  src/prefect/settings/models/logging.py
  src/prefect/settings/models/server/database.py
  src/prefect/settings/profiles.py
  src/prefect/settings/sources.py
  src/prefect/task_runners.py
  src/prefect/task_runs.py
  src/prefect/tasks.py
Labels: development

#16722 [UI v2] feat: Updates automation wizard action steps to be part of the automation wizard
  ui-v2/src/components/automations/automations-wizard/actions-step/action-step.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/action-type-select.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/actions-step.stories.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/actions-step.test.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/actions-step.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/automations-select-state-fields.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/change-flow-run-fields.tsx
  ui-v2/src/components/automations/automations-wizard/automation-schema.ts
  ui-v2/src/components/automations/automations-wizard/automation-wizard.stories.tsx
  ui-v2/src/components/automations/automations-wizard/automation-wizard.tsx
  ui-v2/src/components/automations/automations-wizard/details-step/details-step.stories.tsx
  ui-v2/src/components/automations/automations-wizard/details-step/details-step.test.tsx
  ui-v2/src/components/automations/automations-wizard/details-step/details-step.tsx
Labels: ui-replatform

#16711 [UI v2] feat: Adds hook to join deployment and flow data
  ui-v2/src/api/deployments/use-list-deployments-with-flows/index.ts
  ui-v2/src/api/deployments/use-list-deployments-with-flows/use-list-deployments-with-flows.test.ts
  ui-v2/src/api/deployments/use-list-deployments-with-flows/use-list-deployments-with-flows.ts
  ui-v2/src/api/flows/index.ts
  ui-v2/src/components/deployments/data-table/data-table.stories.tsx
  ui-v2/src/mocks/create-fake-deployment.ts
  ui-v2/src/mocks/index.ts
Labels: ui-replatform

#16730 [Docs] Use Python 3.9 syntax and don't test 3rd-party deps
  docs/v3/tutorials/ml.mdx
  requirements-markdown-tests.txt
Labels: docs

#16731 task engine typing
  src/prefect/cache_policies.py
  src/prefect/logging/loggers.py
  src/prefect/states.py
  src/prefect/task_engine.py
Labels: development

#16663 Add in documentation for Service Level Agreements
  docs/mint.json
  docs/v3/automate/events/slas.mdx
  docs/v3/automate/index.mdx
  docs/v3/img/ui/sla-overview.png
  docs/v3/img/ui/sla-trigger-automation.png
Labels: docs

#16721 Use the flow from the quickstart as the basis for the deployment in the scheduling tutorial
  docs/v3/img/ui/qs-flow-run.png
  docs/v3/tutorials/schedule.mdx
Labels: docs

#15729 Fix bug where a server can't be stopped an restarted without waiting several seconds
  src/prefect/cli/server.py
Labels: fix

#16738 Add correct probe config to gcloud example command
  docs/integrations/prefect-gcp/gcp-worker-guide.mdx
Labels: docs

#16740 Raise type completeness on `prefect.inputs` to 100%
  src/prefect/client/utilities.py
  src/prefect/input/actions.py
  src/prefect/input/run_input.py
Labels: development

#16735 Fixes to Prefect Basic Auth
  src/prefect/server/api/server.py
  ui/src/pages/Unauthenticated.vue
Labels: bug, ui

#16734 Raise type completeness to 99.8%
  src/prefect/_internal/schemas/validators.py
  src/prefect/artifacts.py
  src/prefect/automations.py
  src/prefect/cli/dashboard.py
  src/prefect/cli/dev.py
  src/prefect/cli/events.py
  src/prefect/cli/flow.py
  src/prefect/cli/flow_run.py
  src/prefect/cli/global_concurrency_limit.py
  src/prefect/cli/profile.py
  src/prefect/cli/root.py
  src/prefect/cli/server.py
  src/prefect/cli/shell.py
  src/prefect/cli/task.py
  src/prefect/cli/task_run.py
  src/prefect/cli/variable.py
  src/prefect/cli/work_pool.py
  src/prefect/cli/work_queue.py
  src/prefect/cli/worker.py
  src/prefect/deployments/base.py
  src/prefect/deployments/flow_runs.py
  src/prefect/deployments/steps/core.py
  src/prefect/deployments/steps/pull.py
  src/prefect/deployments/steps/utility.py
  src/prefect/events/cli/automations.py
  src/prefect/events/clients.py
  src/prefect/events/schemas/events.py
  src/prefect/filesystems.py
  src/prefect/flow_engine.py
  src/prefect/flows.py
  src/prefect/futures.py
  src/prefect/infrastructure/provisioners/cloud_run.py
  src/prefect/infrastructure/provisioners/container_instance.py
  src/prefect/logging/loggers.py
  src/prefect/main.py
  src/prefect/runner/runner.py
  src/prefect/runner/server.py
  src/prefect/runner/storage.py
  src/prefect/runner/submit.py
  src/prefect/runtime/deployment.py
  src/prefect/runtime/flow_run.py
  src/prefect/runtime/task_run.py
  src/prefect/states.py
  src/prefect/task_engine.py
  src/prefect/task_runners.py
  src/prefect/task_worker.py
  src/prefect/telemetry/bootstrap.py
  src/prefect/telemetry/run_telemetry.py
  src/prefect/testing/utilities.py
  src/prefect/transactions.py
  src/prefect/types/__init__.py
  src/prefect/utilities/filesystem.py
  src/prefect/utilities/generics.py
  src/prefect/workers/base.py
  src/prefect/workers/process.py
  src/prefect/workers/server.py
Labels: development

#16744 Add type completeness pre-commit hook
  .github/workflows/static-analysis.yaml
  .pre-commit-config.yaml
  src/prefect/blocks/abstract.py
  src/prefect/logging/handlers.py
  src/prefect/logging/loggers.py
Labels: development

#16745 Add type hints to `CoiledPushProvisioner`
  src/prefect/infrastructure/provisioners/coiled.py
Labels: development

#16737 [UI v2] feat: Updates combobox filtering logic for automations
  ui-v2/src/components/automations/automations-wizard/actions-step/automations-select-state-fields.tsx
  ui-v2/src/components/ui/combobox/combobox.tsx
  ui-v2/src/components/ui/combobox/comboxbox.stories.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/index.ts
Labels: ui-replatform

#16747 [UI v2] feat: Begin to create automation page
  ui-v2/src/components/automations/automations-header/automations-header.tsx
  ui-v2/src/components/automations/automations-page.tsx
  ui-v2/src/routes/automations/index.ts
Labels: ui-replatform

#16748 [UI v2] feat: Starts automation details page
  ui-v2/src/components/automations/automation-page/automation-page.tsx
  ui-v2/src/components/automations/automation-page/index.ts
  ui-v2/src/components/automations/automation-page/nav-header.tsx
  ui-v2/src/components/automations/use-delete-automation-confirmation-dialog.ts
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/automations/automation.$id.tsx
Labels: ui-replatform

#16750 Create robots.txt and in-page instructions to avoid searching of docs v2 pages
  docs/overrides/main.html
  docs/robots.txt
Labels: docs, 2.x

#16741 docs: publish static outbound ip address for managed execution
  docs/v3/deploy/infrastructure-examples/managed.mdx
Labels: docs

#16742 Expose more Sqlalchemy settings, part 1
  docs/v3/develop/settings-ref.mdx
  schemas/settings.schema.json
  setup.cfg
  src/integrations/prefect-kubernetes/prefect_kubernetes/settings.py
  src/integrations/prefect-redis/prefect_redis/client.py
  src/prefect/server/database/configurations.py
  src/prefect/settings/base.py
  src/prefect/settings/legacy.py
  src/prefect/settings/models/api.py
  src/prefect/settings/models/cli.py
  src/prefect/settings/models/client.py
  src/prefect/settings/models/cloud.py
  src/prefect/settings/models/deployments.py
  src/prefect/settings/models/experiments.py
  src/prefect/settings/models/flows.py
  src/prefect/settings/models/internal.py
  src/prefect/settings/models/logging.py
  src/prefect/settings/models/results.py
  src/prefect/settings/models/root.py
  src/prefect/settings/models/runner.py
  src/prefect/settings/models/server/api.py
  src/prefect/settings/models/server/database.py
  src/prefect/settings/models/server/deployments.py
  src/prefect/settings/models/server/ephemeral.py
  src/prefect/settings/models/server/events.py
  src/prefect/settings/models/server/flow_run_graph.py
  src/prefect/settings/models/server/root.py
  src/prefect/settings/models/server/services.py
  src/prefect/settings/models/server/tasks.py
  src/prefect/settings/models/server/ui.py
  src/prefect/settings/models/tasks.py
  src/prefect/settings/models/testing.py
  src/prefect/settings/models/worker.py
  tests/conftest.py
  tests/test_settings.py
Labels: enhancement, docs

#16739 Switch `drain_all` call to be called from new thread instead of event loop.
  flows/setup_logging.py
  src/prefect/logging/handlers.py
Labels: bug

#16753 Update settings docs with basic auth
  docs/v3/develop/settings-and-profiles.mdx
Labels: docs

#16762 Move app name setting to new nested settings object
  docs/v3/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/server/database/configurations.py
  src/prefect/settings/models/server/database.py
  tests/test_settings.py
Labels: enhancement, docs

#16752 [UI v2] feat: Begins logic for creating UX based on an action type
  ui-v2/src/api/deployments/use-list-deployments-with-flows/use-list-deployments-with-flows.ts
  ui-v2/src/components/automations/action-details/action-details.stories.tsx
  ui-v2/src/components/automations/action-details/action-details.tsx
  ui-v2/src/components/automations/action-details/index.ts
  ui-v2/src/components/automations/automation-page/automation-page.tsx
Labels: ui-replatform

#16757 revamp integration contributor guide and clean up other sections
  docs/contribute/contribute-integrations.mdx
  docs/mint.json
  docs/snippets/installation.mdx
  docs/v3/develop/index.mdx
  docs/v3/develop/interact-with-api.mdx
  docs/v3/get-started/install.mdx
Labels: docs

#16772 [UI v2] feat: Adds api hooks for work pools and updates routing
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/work-pools/index.ts
  ui-v2/src/api/work-pools/work-pools.test.ts
  ui-v2/src/api/work-pools/work-pools.ts
  ui-v2/src/mocks/create-fake-work-pool.ts
  ui-v2/src/mocks/index.ts
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/work-pools/index.tsx
  ui-v2/src/routes/work-pools/work-pool.$id.tsx
  ui-v2/tests/utils/handlers.ts
Labels: ui-replatform

#16781 [UI v2] fix: Fix Storybook decorators typings
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/storybook/utils/mode-decorator.tsx
  ui-v2/src/storybook/utils/react-query-decorator.tsx
  ui-v2/src/storybook/utils/toast-decorator.tsx
Labels: ui-replatform

#16764 [UI v2] feat: Adding action details for selected automations and deployments
  ui-v2/src/components/automations/action-details/action-details.stories.tsx
  ui-v2/src/components/automations/action-details/action-details.tsx
  ui-v2/src/components/ui/icons/constants.ts
Labels: ui-replatform

#16767 typing `cli.deploy`
  src/prefect/cli/deploy.py
Labels: development

#16765 respect `PREFECT_SERVER_LOGGING_LEVEL` in `prefect server start`
  src/prefect/cli/server.py
Labels: cli, fix

#16780 [UI v2] feat: Adds api hooks for work queues and updates routing
  ui-v2/src/api/work-queues/index.ts
  ui-v2/src/api/work-queues/work-queues.test.ts
  ui-v2/src/api/work-queues/work-queues.ts
  ui-v2/src/mocks/create-fake-work-queue.ts
  ui-v2/src/mocks/index.ts
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/work-pools/work-pool.$workPoolId.queue.$workQueueId.tsx
  ui-v2/src/routes/work-pools/work-pool.$workPoolId.tsx
  ui-v2/tests/utils/handlers.ts
Labels: ui-replatform

#16728 Update docs mint.json
  docs/mint.json
Labels: docs

#16768 don't make extra calls to cloud in `prefect dashboard open`
  src/prefect/cli/dashboard.py
  tests/cli/test_dashboard.py
Labels: cli, fix

#16789 [UI v2] feat: Adds pause and resume deployment options for automation wizard
  ui-v2/src/api/deployments/index.ts
  ui-v2/src/api/deployments/use-list-deployments-with-flows/index.ts
  ui-v2/src/api/deployments/use-list-deployments-with-flows/use-list-deployments-with-flows.ts
  ui-v2/src/components/automations/automations-wizard/actions-step/action-step.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/actions-step.stories.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/actions-step.test.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/automations-select-state-fields.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/deployments-select-state-fields.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/loading-select-state.tsx
  ui-v2/src/components/automations/automations-wizard/automation-wizard.stories.tsx
  ui-v2/src/components/ui/combobox/combobox.tsx
Labels: ui-replatform

#16652 Fix configuring loggers found in 'PREFECT_LOGGING_EXTRA_LOGGERS'
  src/prefect/logging/configuration.py
  tests/test_logging.py
Labels: bug

#16639 Update prefect-aws docs
  docs/integrations/prefect-aws/index.mdx
  docs/v3/develop/blocks.mdx
Labels: docs

#16785 Ensure multiple `Inputs` cache policies are consolidated when used in a `CompoundCachePolicy`
  src/prefect/cache_policies.py
  tests/test_cache_policies.py
  tests/test_tasks.py
Labels: bug

#16796 Fix work pool types link in `Schedule a flow` tutorial
  docs/v3/tutorials/schedule.mdx
Labels: docs

#16807 clarify language in agents -> workers guide
  docs/v3/resources/upgrade-agents-to-workers.mdx
Labels: docs

#16797 Fix all typing errors in `prefect.runner.runner`
  src/prefect/client/orchestration/_deployments/client.py
  src/prefect/flows.py
  src/prefect/logging/loggers.py
  src/prefect/runner/runner.py
Labels: development

#16795 [UI v2] feat: Adds select work queues automation action option
  ui-v2/src/api/work-queues/work-queues.ts
  ui-v2/src/components/automations/automations-wizard/actions-step/action-step.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/actions-step.stories.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/actions-step.test.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/select-work-queues-fields.tsx
  ui-v2/src/components/automations/automations-wizard/automation-wizard.stories.tsx
  ui-v2/src/components/ui/combobox/combobox.tsx
  ui-v2/src/mocks/create-fake-work-queue.ts
Labels: ui-replatform

#16799 [UI v2] feat: Adds action description for change state of a flow
  ui-v2/src/components/automations/action-details/action-details.stories.tsx
  ui-v2/src/components/automations/action-details/action-details.tsx
  ui-v2/src/components/ui/state-badge/index.tsx
Labels: ui-replatform

#16803 [UI v2] feat: Updates StateBadge components props to be detached from State schema
  ui-v2/src/components/automations/action-details/action-details.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/index.tsx
  ui-v2/src/components/ui/run-card/run-card.tsx
  ui-v2/src/components/ui/state-badge/index.tsx
  ui-v2/src/components/ui/state-badge/state-badge.stories.tsx
  ui-v2/src/components/ui/state-badge/state-badge.test.tsx
Labels: ui-replatform

#16824 Add missing function body import in client.find_automation
  src/prefect/client/orchestration/_automations/client.py
  tests/test_automations.py
Labels: bug

#16814 Add mini-history of Prefect to the introduction page of the docs
  docs/v3/get-started/index.mdx
Labels: docs

#16817 [UI v2] feat: Adds deployments filter query
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/deployments/index.ts
  ui-v2/tests/utils/handlers.ts
Labels: ui-replatform

#16827 [Docs] Update awkward phrasing in mini-history of Prefect
  docs/v3/get-started/index.mdx
Labels: docs

#16829 No transaction in `TaskRunRecorder`
  src/prefect/server/services/task_run_recorder.py
Labels: development

#16833 Add auth string handling to server side client
  src/prefect/server/api/clients.py
  tests/server/api/test_clients.py
Labels: bug

#16794 Fix script to run server with local telemetry
  load_testing/run-server.sh
  load_testing/track_cnx.py
Labels: development

#16805 Add first draft of Coiled content to deployment documentation
  .codespellrc
  docs/integrations/integrations.mdx
  docs/mint.json
  docs/v3/deploy/infrastructure-concepts/work-pools.mdx
  docs/v3/deploy/infrastructure-concepts/workers.mdx
  docs/v3/deploy/infrastructure-examples/coiled.mdx
  docs/v3/deploy/infrastructure-examples/serverless.mdx
Labels: docs

#16837 Stop making useless query
  src/prefect/server/models/concurrency_limits.py
Labels: enhancement

#16831 Fix serializtion for `FlowRunContext` for flow runs kicked off from a deployment
  src/prefect/context.py
  tests/test_context.py
Labels: bug

#16838 docs(managed): add additional published ips
  docs/images/managed-work-pool-image.png
  docs/v3/deploy/infrastructure-examples/managed.mdx
Labels: docs

#16840 Fix subtraction logic on non-input cache policies
  src/prefect/cache_policies.py
  tests/test_cache_policies.py
Labels: fix

#16843 Move `pyright` checks to CI
  .github/workflows/static-analysis.yaml
  .pre-commit-config.yaml
  pyrightconfig-ci.json
  src/prefect/_internal/concurrency/services.py
  src/prefect/client/schemas/schedules.py
  src/prefect/server/utilities/schemas/bases.py
  src/prefect/utilities/render_swagger.py
  src/prefect/utilities/templating.py
Labels: development

#16835 [UI v2] feat: Adds hook to combine sources from an automation action
  ui-v2/src/api/automations/use-get-automation-action-resources/index.ts
  ui-v2/src/api/automations/use-get-automation-action-resources/use-get-automation-action-resources.test.ts
  ui-v2/src/api/automations/use-get-automation-action-resources/use-get-automation-action-resources.ts
Labels: ui-replatform

#16845 [UI v2] feat: Starts blocks api RQ
  ui-v2/src/api/block-documents/block-documents.test.ts
  ui-v2/src/api/block-documents/block-documents.ts
  ui-v2/src/api/block-documents/index.ts
  ui-v2/src/mocks/create-fake-block-document.ts
  ui-v2/src/mocks/index.ts
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/blocks/block.$id.tsx
  ui-v2/src/routes/blocks/catalog.tsx
  ui-v2/src/routes/blocks/index.tsx
  ui-v2/tests/utils/handlers.ts
Labels: ui-replatform

#16853 [UI v2] feat: Adds basic string utils that can be re-used throughout the app
  ui-v2/src/components/automations/action-details/action-details.tsx
  ui-v2/src/components/automations/automation-details.tsx
  ui-v2/src/components/deployments/data-table/index.tsx
  ui-v2/src/components/ui/schedule-badge/index.tsx
  ui-v2/src/components/ui/state-badge/index.tsx
  ui-v2/src/components/ui/status-badge/index.tsx
  ui-v2/src/components/variables/data-table/data-table.tsx
  ui-v2/src/mocks/create-fake-state.ts
  ui-v2/src/utils/index.ts
  ui-v2/src/utils/utils.test.ts
  ui-v2/src/utils/utils.ts
Labels: ui-replatform

#16849 [UI v2] feat: Adds action details for send-notification type
  ui-v2/src/components/automations/action-details/action-details.tsx
  ui-v2/src/components/ui/icons/constants.ts
Labels: ui-replatform

#16867 allow templating `schedules` in `prefect.yaml`
  src/prefect/cli/deploy.py
  src/prefect/client/schemas/actions.py
  src/prefect/deployments/base.py
  tests/cli/test_deploy.py
  tests/client/schemas/test_schedules.py
Labels: bug, enhancement, cli

#16872 remove extra / old `prefect-dask` usage docs
  docs/integrations/prefect-dask/index.mdx
  docs/integrations/prefect-dask/usage_guide.mdx
Labels: bug, docs, integrations

#16866 [UI v2] feat: Updates dependabot groupings for ui-v2
  .github/dependabot.yml
Labels: ui-replatform

#16857 [UI v2] feat: Combines automation source endpoints to get action details
  ui-v2/src/api/automations/use-get-automation-action-resources/use-get-automation-action-resources.test.ts
  ui-v2/src/api/automations/use-get-automation-action-resources/use-get-automation-action-resources.ts
  ui-v2/src/api/block-documents/block-documents.ts
  ui-v2/src/api/deployments/index.ts
  ui-v2/src/api/work-pools/work-pools.ts
  ui-v2/src/api/work-queues/work-queues.ts
  ui-v2/src/components/automations/action-details/action-details.stories.tsx
  ui-v2/src/components/automations/action-details/action-details.tsx
  ui-v2/src/components/automations/automation-details-page.tsx
  ui-v2/src/components/automations/automation-details.tsx
  ui-v2/src/components/automations/automations-page.tsx
Labels: ui-replatform

#16875 Update `ui-v2` codeowners
  .github/CODEOWNERS
Labels: ui-replatform

#16878 [UI v2] chore: rename automation props from data to automation
  ui-v2/src/components/automations/automation-details-page.tsx
  ui-v2/src/components/automations/automation-details.tsx
  ui-v2/src/components/automations/automation-enable-toggle/automation-enable-toggle.stories.tsx
  ui-v2/src/components/automations/automation-enable-toggle/automation-enable-toggle.test.tsx
  ui-v2/src/components/automations/automation-enable-toggle/automation-enable-toggle.tsx
  ui-v2/src/components/automations/automations-page.tsx
  ui-v2/tests/utils/handlers.ts
Labels: ui-replatform

#16885 Exclude `site-packages` from scanned dirs in `prefect deploy`
  src/prefect/cli/_prompts.py
  tests/cli/test_prompts.py
Labels: bug

#16891 Add missing overload for `Task.__call__`
  src/prefect/tasks.py
  tests/typesafety/test_flows.yml
  tests/typesafety/test_tasks.yml
Labels: bug

#16850 use task groups for concurrent queue consumers
  src/prefect/server/services/task_run_recorder.py
  src/prefect/server/utilities/messaging/memory.py
  tests/server/utilities/test_messaging.py
Labels: bug, performance, 3.x

#16896 [UI v2] feat: Adds RQ queries for api settings and version endpoint
  ui-v2/src/api/admin/admin.test.ts
  ui-v2/src/api/admin/admin.ts
  ui-v2/src/api/admin/index.ts
  ui-v2/src/mocks/create-fake-server-settings.ts
  ui-v2/src/mocks/create-fake-version.ts
  ui-v2/src/mocks/index.ts
  ui-v2/src/routes/settings.tsx
  ui-v2/tests/utils/handlers.ts
Labels: ui-replatform

#16841 Upgrades `kubernetes-asyncio` version
  src/integrations/prefect-kubernetes/prefect_kubernetes/events.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/pyproject.toml
  src/integrations/prefect-kubernetes/tests/test_worker.py
Labels: bug, integrations

#16908 Respect TLS_SKIP_VERIFY setting in websocket clients
  src/prefect/events/clients.py
  tests/events/client/test_events_client.py
Labels: bug

#16907 Add event resources to the event cleanup cycle
  src/prefect/server/events/services/event_persister.py
  tests/events/server/storage/test_event_persister.py
Labels: bug

#16900 [UI v2] feat: Adds useLocalStorage hook
  ui-v2/src/hooks/use-local-storage.test.ts
  ui-v2/src/hooks/use-local-storage.ts
  ui-v2/tests/setup.ts
Labels: ui-replatform

#16913 Consolidates discovery of Prefect server `Service`s to the base class
  docs/v3/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/cli/server.py
  src/prefect/server/events/services/actions.py
  src/prefect/server/events/services/event_logger.py
  src/prefect/server/events/services/event_persister.py
  src/prefect/server/events/services/triggers.py
  src/prefect/server/services/base.py
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/flow_run_notifications.py
  src/prefect/server/services/foreman.py
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/loop_service.py
  src/prefect/server/services/pause_expirations.py
  src/prefect/server/services/scheduler.py
  src/prefect/server/services/task_run_recorder.py
  src/prefect/server/services/telemetry.py
  src/prefect/settings/__init__.py
  src/prefect/settings/models/root.py
  src/prefect/settings/models/server/services.py
  tests/cli/test_server_services.py
  tests/server/services/test_loop_service.py
  tests/test_settings.py
Labels: docs

#16893 feat: artifacts api RQ and stub route
  ui-v2/src/api/artifacts/artifacts.test.ts
  ui-v2/src/api/artifacts/index.ts
  ui-v2/src/mocks/create-fake-artifact.ts
  ui-v2/src/mocks/index.ts
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/artifacts/index.tsx
Labels: ui-replatform

#16918 fix `emit_event` docstring
  src/prefect/client/schemas/objects.py
  src/prefect/events/utilities.py
Labels: development

#16920 Fix `prefect-dask` test suite
  src/integrations/prefect-dask/tests/conftest.py
  src/integrations/prefect-dask/tests/test_client.py
  src/integrations/prefect-dask/tests/test_task_runners.py
Labels: development

#16923 Remove unused function
  src/prefect/utilities/importtools.py
Labels: bug

#16902 Enhancement: Add New SLA Types
  docs/v3/automate/events/slas.mdx
  src/prefect/_experimental/sla/objects.py
Labels: docs

#16926 fix `create_markdown_artifact` usage in `prefect-dbt`
  src/integrations/prefect-dbt/prefect_dbt/cli/commands.py
  src/integrations/prefect-dbt/tests/cli/test_commands.py
  src/integrations/prefect-dbt/tests/conftest.py
Labels: bug, integrations, fix

#16661 refactor work pool client methods
  src/prefect/client/orchestration/__init__.py
  src/prefect/client/orchestration/_work_pools/__init__.py
  src/prefect/client/orchestration/_work_pools/client.py
  src/prefect/client/orchestration/base.py
  tests/client/test_prefect_client.py
  tests/workers/test_base_worker.py
Labels: development
