Repository PrefectHQ/prefect, pull requests merged in 2025-06, with the labels that each got.

#18216 lower bound pin uv
  .pre-commit-config.yaml
  Dockerfile
  pyproject.toml
Labels: development

#18176 [2.x] bump some upper bounds
  .github/workflows/api-compatibility-tests.yaml
  .github/workflows/benchmarks.yaml
  .github/workflows/python-tests.yaml
  requirements-client.txt
  requirements.txt
  src/prefect/server/database/alembic.ini
  tests/server/api/test_collections.py
Labels: upstream dependency, 2.x

#18226 use kopf event for `occurred` in forwarded prefect events
  src/integrations/prefect-kubernetes/prefect_kubernetes/observer.py
  src/integrations/prefect-kubernetes/tests/test_observer.py
Labels: bug, integrations

#18229 Remove robots.txt file
  docs/robots.txt
Labels: 2.x

#18237 Early return bucket path to avoid duplicated prefix in GCS bucket
  src/integrations/prefect-gcp/prefect_gcp/cloud_storage.py
  src/integrations/prefect-gcp/tests/test_cloud_storage.py
Labels: bug, integrations

#18198 Auto generation of examples
  docs/conftest.py
  docs/docs.json
  docs/v3/examples/deployments.mdx
  docs/v3/examples/flows.mdx
  docs/v3/examples/hello_world.mdx
  docs/v3/examples/index.mdx
  docs/v3/examples/infrastructure.mdx
  docs/v3/examples/run_api_sourced_etl.mdx
  docs/v3/examples/run_dbt_with_prefect.mdx
  docs/v3/examples/scripts.mdx
  docs/v3/examples/simple_web_scraper.mdx
Labels: docs

#18240 Attempt retries when task returns a failed state
  src/prefect/task_engine.py
  tests/test_task_engine.py
Labels: bug

#18244 fix dead link to zombie flow runs
  docs/v3/concepts/flows.mdx
  docs/v3/how-to-guides/deployments/create-deployments.mdx
  docs/v3/how-to-guides/deployments/create-schedules.mdx
  docs/v3/how-to-guides/workflows/artifacts.mdx
Labels: docs

#18247 fix async retry fn typing
  src/prefect/tasks.py
  tests/typesafety/test_tasks.yml
Labels: typing

#18251 run `uv sync -U`
  benches/__main__.py
  src/prefect/server/database/alembic.ini
  src/prefect/server/database/configurations.py
  src/prefect/server/database/orm_models.py
  src/prefect/server/orchestration/core_policy.py
  src/prefect/server/orchestration/global_policy.py
  src/prefect/server/orchestration/rules.py
  src/prefect/server/schemas/schedules.py
  src/prefect/types/_datetime.py
  src/prefect/utilities/callables.py
  tests/server/orchestration/api/test_collections.py
  tests/server/orchestration/api/test_run_history.py
  tests/utilities/test_callables.py
  uv.lock
Labels: development

#18250 Remove versions of pydantic that produce thread safety issues
  client/pyproject.toml
  pyproject.toml
  uv.lock
Labels: bug, development

#18261 add note on `--no-prompt`
  docs/v3/how-to-guides/deployments/prefect-yaml.mdx
Labels: docs

#18105 Replaced deprecated logic in SPCS worker
  src/integrations/prefect-snowflake/prefect_snowflake/experimental/workers/spcs.py
  src/integrations/prefect-snowflake/pyproject.toml
  src/integrations/prefect-snowflake/tests/test_credentials.py
  uv.lock
Labels: enhancement

#18260 fix `config` validation for nested and constrained settings
  src/prefect/settings/profiles.py
  tests/test_settings.py
Labels: bug, cli, fix

#18262 Fix incorrect links to SDK
  docs/integrations/prefect-bitbucket/sdk.mdx
  docs/integrations/prefect-dask/sdk.mdx
  docs/integrations/prefect-databricks/sdk.mdx
Labels: docs

#18268 add note about long migrations with big tables
  docs/v3/concepts/server.mdx
Labels: bug, docs

#18266 use pg notify/listen for multi-server automation synchronization
  pyrightconfig-ci.json
  src/prefect/server/events/models/automations.py
  src/prefect/server/events/services/triggers.py
  src/prefect/server/events/triggers.py
  src/prefect/server/utilities/postgres_listener.py
  src/prefect/settings/models/server/services.py
  tests/events/server/models/test_automation_notifications.py
  tests/server/utilities/test_postgres_listener.py
  tests/test_settings.py
Labels: bug, fix, performance

#18277 Add automations prefix to validate route
  src/prefect/server/api/templates.py
Labels: bug, ui

#18280 fix `TimeoutError` in `result_async` when accessing results from `delay`
  src/prefect/futures.py
  tests/test_futures.py
Labels: bug, fix

#18284 Fix for issue 18239
  src/integrations/prefect-snowflake/prefect_snowflake/database.py
  src/integrations/prefect-snowflake/tests/conftest.py
  src/integrations/prefect-snowflake/tests/test_database.py
Labels: bug, integrations

#18289 improve self-host guide name
  docs/v3/how-to-guides/self-hosted/server-cli.mdx
  docs/v3/how-to-guides/self-hosted/server-docker.mdx
Labels: docs

#18314 serialization performance improvements
  src/prefect/client/cloud.py
  src/prefect/client/orchestration/__init__.py
  src/prefect/serializers.py
  src/prefect/server/database/configurations.py
  src/prefect/server/utilities/database.py
Labels: performance

#18329 backport jinja max range fix
  src/prefect/server/utilities/user_templates.py
  tests/events/server/actions/test_jinja_templated_action.py
Labels: 2.x

#18330 run pre-push hooks
  docs/v3/api-ref/rest-api/server/schema.json
  docs/v3/api-ref/settings-ref.mdx
  schemas/settings.schema.json
  ui-v2/src/api/prefect.ts
Labels: development

#18344 Add `not_any_` filter for `DeploymentFilterId`
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/client/schemas/filters.py
  src/prefect/server/schemas/filters.py
  tests/client/test_prefect_client.py
  ui-v2/src/api/prefect.ts
Labels: enhancement

#18358 Snowflake: Fixed error message when retrieving SPCS container status
  src/integrations/prefect-snowflake/prefect_snowflake/experimental/workers/spcs.py
Labels: bug, enhancement

#18349 upgrade: Upgrades to storybook 9
  ui-v2/.gitignore
  ui-v2/.storybook/main.ts
  ui-v2/.storybook/manager.ts
  ui-v2/.storybook/prefect-theme.ts
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/components/automations/automations-actions-menu/automations-actions-menu.stories.tsx
  ui-v2/src/components/automations/automations-delete-dialog/automations-delete-dialog.stories.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/actions-step.stories.tsx
  ui-v2/src/components/automations/automations-wizard/automations-trigger-template-select/automations-trigger-template-select.stories.tsx
  ui-v2/src/components/automations/automations-wizard/details-step/details-step.stories.tsx
  ui-v2/src/components/blocks/block-document-action-menu/block-document-action-menu.stories.tsx
  ui-v2/src/components/blocks/block-document-data-table/block-document-data-table.stories.tsx
  ui-v2/src/components/blocks/blocks-catalog-page/blocks-catalog-page.stories.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-create-or-edit-dialog/global-concurrency-limits-create-or-edit-dialog.stories.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-data-table/global-concurrency-limits-data-table.stories.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-delete-dialog/global-concurrency-limits-delete-dialog.stories.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-empty-state/global-concurrency-limits-empty-state.stories.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-header/global-concurrency-limits-header.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-header/task-run-concurrency-limit-header.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-actions-menu/task-run-concurrency-limits-actions-menu.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-create-dialog/task-run-concurrency-limits-create-dialog.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-data-table/task-run-concurrency-limits-data-table.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-delete-dialog/task-run-concurrency-limits-delete-dialog.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-empty-state/task-run-concurrency-limits-empty-state.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-header/task-run-concurrency-limits-header.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-reset-dialog/task-run-concurrency-limit-reset-dialog.stories.tsx
  ui-v2/src/components/deployments/data-table/data-table.stories.tsx
  ui-v2/src/components/deployments/deployment-action-menu/deployment-action-menu.stories.tsx
  ui-v2/src/components/flow-runs/flow-run-card/flow-run-card.stories.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-list.stories.tsx
  ui-v2/src/components/ui/date-time-picker/date-time-picker.stories.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/delete-confirmation-dialog.stories.tsx
  ui-v2/src/components/ui/empty-state.stories.tsx
  ui-v2/src/components/ui/run-logs/run-logs.stories.tsx
  ui-v2/src/components/ui/tags-input.stories.tsx
  ui-v2/src/storybook/utils/mode-decorator.tsx
  ui-v2/src/storybook/utils/react-query-decorator.tsx
  ui-v2/src/storybook/utils/toast-decorator.tsx
Labels: ui-replatform

#18363 Fix serialization edge case in Prefect blocks
  pyproject.toml
  src/prefect/blocks/core.py
  src/prefect/utilities/pydantic.py
  tests/blocks/test_core.py
  uv.lock
Labels: bug

#18374 Fix asyncio loop issue when deploying with proxy
  src/prefect/_internal/websockets.py
  tests/_internal/test_websockets.py
  tests/utilities/test_proxy.py
Labels: bug, fix

#18382 update pins on core
  src/integrations/prefect-aws/pyproject.toml
  src/integrations/prefect-dask/pyproject.toml
  src/integrations/prefect-ray/pyproject.toml
Labels: bug, development, fix

#18384 Adds Worker healthcheck advanced guide
  docs/docs.json
  docs/v3/advanced/worker-healthchecks.mdx
Labels: docs

#18386 Add section of examples on schedule CLI
  docs/v3/how-to-guides/deployments/create-schedules.mdx
Labels: docs

#18388 Add how to guide for running prefect server on windows
  docs/docs.json
  docs/v3/how-to-guides/self-hosted/server-windows.mdx
Labels: docs

#18390 Add --output and -o flags to all inspect commands, supporting 'json'
  src/prefect/cli/artifact.py
  src/prefect/cli/concurrency_limit.py
  src/prefect/cli/deployment.py
  src/prefect/cli/flow_run.py
  src/prefect/cli/global_concurrency_limit.py
  src/prefect/cli/profile.py
  src/prefect/cli/task_run.py
  src/prefect/cli/variable.py
  src/prefect/cli/work_pool.py
  src/prefect/cli/work_queue.py
  src/prefect/events/cli/automations.py
  tests/cli/deployment/test_deployment_cli.py
  tests/cli/test_artifact.py
  tests/cli/test_flow_run.py
  tests/cli/test_global_concurrency_limit.py
  tests/cli/test_profile.py
  tests/cli/test_task_run.py
  tests/cli/test_variable.py
  tests/cli/test_work_pool.py
  tests/cli/test_work_queues.py
Labels: enhancement

#18403 Snowflake: Handle pool and service timeouts in SPCS worker
  src/integrations/prefect-snowflake/prefect_snowflake/experimental/workers/spcs.py
  src/integrations/prefect-snowflake/tests/experimental/test_spcs_worker.py
Labels: enhancement

#18389 Reformat all examples in docstrings
  src/prefect/_internal/uuid7.py
  src/prefect/cli/deploy.py
  src/prefect/client/__init__.py
  src/prefect/client/orchestration/__init__.py
  src/prefect/client/schemas/objects.py
  src/prefect/context.py
  src/prefect/deployments/steps/core.py
  src/prefect/server/orchestration/rules.py
  src/prefect/tasks.py
  src/prefect/testing/utilities.py
  src/prefect/utilities/importtools.py
  src/prefect/utilities/pydantic.py
Labels: docs

#18407 Fix UI URL generation for FlowRunResponse in Slack automations
  src/prefect/utilities/urls.py
  tests/events/jinja_filters/test_ui_url.py
Labels: bug
